<div class="header-container car-part">
	<div class="header panel">
		<div class="flex-layout for-full-width-menu">
			<div class="logo-container">
				<div class="logo-site">
					<?php echo $this->getChildHtml('logo'); ?>
				</div>
			</div>
			<div class="header-content">
				<div class="topbar flex-layout">
					<div class="col-left">
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar-static')->toHtml(); ?>
					</div>
					<div class="col-right">
						<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
						<?php echo $this->getChildHtml("top.links"); ?>
					</div>
				</div>
				<div class="header-middle flex-layout">
					<div class="primary-menu-container col-left">
						<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
					</div>
					<div class="col-action col-right">
						<div class="flex-layout">
							<div class="hotline"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hotline')->toHtml(); ?></div>
							<ul class="flex-layout">
								<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
								<li class="minicart-li-content-show-hide">
									<?php echo $this->getChildHtml('minicart'); ?>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>