<?php
$helper = $this->helper('Rokanthemes\RokanBase\Helper\Data');
$enable = $helper->getConfigData('mfblog/general/enable_frontend');
if($enable){
	$_postCollection = $block->getPostCollection();
	$title = $helper->getConfigData('mfblog/general/title');
	$description = $helper->getConfigData('mfblog/general/description');
	$items = $helper->getConfigData('mfblog/general/items');
	$items_bigdesktop = $helper->getConfigData('mfblog/general/items_bigdesktop');
	$items_smalldesktop = $helper->getConfigData('mfblog/general/items_smalldesktop');
	$items_bigtablet = $helper->getConfigData('mfblog/general/items_bigtablet');
	$items_tablet = $helper->getConfigData('mfblog/general/items_tablet');
	$items_smalltablet = $helper->getConfigData('mfblog/general/items_smalltablet');
	$items_mobile = $helper->getConfigData('mfblog/general/items_mobile');
	$auto = $helper->getConfigData('mfblog/general/auto') ? 'true' : 'false';
	$autoplaytimeout = $helper->getConfigData('mfblog/general/autoplaytimeout');
	$autoplayhoverpause = $helper->getConfigData('mfblog/general/autoplayhoverpause') ? 'true' : 'false';
	$dots = $helper->getConfigData('mfblog/general/dots') ? 'true' : 'false';
	$rewind = $helper->getConfigData('mfblog/general/rewind') ? 'true' : 'false';
	$nav = $helper->getConfigData('mfblog/general/nav') ? 'true' : 'false';
	$navnext = $helper->getConfigData('mfblog/general/navnext');
	$navprev = $helper->getConfigData('mfblog/general/navprev');
	$stagepadding = $helper->getConfigData('mfblog/general/stagepadding');
	$touchdrag = $helper->getConfigData('mfblog/general/touchdrag') ? 'true' : 'false';
	$mousedrag = $helper->getConfigData('mfblog/general/mousedrag') ? 'true' : 'false';
	$center = $helper->getConfigData('mfblog/general/center') ? 'true' : 'false';
	$loop = $helper->getConfigData('mfblog/general/loop') ? 'true' : 'false';
	$margin = $helper->getConfigData('mfblog/general/margin');
	$speed = $helper->getConfigData('mfblog/general/speed');
	$rtl = $helper->getConfigData('mfblog/general/rtl') ? 'true' : 'false';
?>
<?php if ($_postCollection->count()) { ?>
<section class="widget box-section block-recent-posts section">
	<div class="rokan-title">
		<?php if($title && $title != ''){?>
			<h3 class="module-title"><span><?php echo __($title) ?></span></h3>
		<?php }?>
		<?php if($description && $description != ''){?>
			<div class="rokan-description blog-description"><p><?php echo nl2br($description);?></p></div>
		<?php }?>
	</div>
	<div class="post-list-wrapper">
		<div class="blog-list-post">
			<div class="owl-carousel owl-theme" data-rtl="<?php echo $rtl;?>" data-items="<?php echo $items;?>" data-bigdesktop="<?php echo $items_bigdesktop;?>" data-smalldesktop="<?php echo $items_smalldesktop;?>" data-bigtablet="<?php echo $items_bigtablet;?>" data-tablet="<?php echo $items_tablet;?>" data-smalltablet="<?php echo $items_smalltablet;?>" data-mobile="<?php echo $items_mobile;?>" data-margin="<?php echo $margin;?>" data-loop="<?php echo $loop;?>" data-center="<?php echo $center;?>" data-mousedrag="<?php echo $mousedrag;?>" data-touchdrag="<?php echo $touchdrag;?>" data-stagepadding="<?php echo $stagepadding;?>" data-nav="<?php echo $nav;?>" data-navnext="<?php echo $navnext;?>" data-navprev="<?php echo $navprev;?>" data-rewind="<?php echo $rewind;?>" data-dots="<?php echo $dots;?>" data-autoplay="<?php echo $auto;?>" data-speed="<?php echo $speed;?>">
				<?php foreach ($_postCollection as $_post) { ?>
					<div class="item-load item-post-full">
						<div class="blog-post-thumb">
							<a href="<?php echo $_post->getPostUrl() ?>">
								<img src="<?= $this->getMediaFolder().$_post->getThumbnailimage() ?>" alt="<?php echo $block->escapeHtml($_post->getTitle()) ?>"/>
							</a>
							
						</div>
						<div class="blog-post-info">
							<div class="header-info">
								<h3 class="post-title"><a href="<?php echo $_post->getPostUrl() ?>"><?php echo $block->escapeHtml($_post->getTitle()) ?></a></h3>
								<div class="flex-layout">
									<div class="post-category-name"> 
										<?php 
											$name_c = '';
											$name_d = '';
											$cate = $_post->getParentCategories();
											if(count($cate) > 0){
													foreach($cate as $cat){
														$name_c = $cat->getTitle();
														$name_d = $cat->getUrl();
														break;
													}
												}
										 ?>
										 <a href="<?php echo $name_d; ?>"> <?php echo $name_c; ?> </a>							
									</div>		
									<div class="time-conment"><span class="day"><?php echo date('j F', strtotime($_post->getPublishTime())); ?> ,</span><span class="year"><?php echo date('Y', strtotime($_post->getPublishTime())); ?></span></div>
								</div>
								<p class="desc"><?php echo $_post->getShortContent() ?></p>
							</div>
						</div>
					</div>
				<?php } ?>
			</div>
		</div>
	</div>
</section>
<?php } ?>
<?php } ?>