// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: 600; 
@heading__line-height__base: 1.2;
@heading__color__base: #222222;

@headerpadding: 0; // Make header height bigger than menu height
@sticky_padding: 5px;
// Color 
@theme__color__primary: #0165d5; 
@link__hover__color: #0165d5;
@border-color__base: #eee;
// Topbar
@topbarbg: @color-white;
@topbarcolor: #333333;
@mainsectionbg: #fdf4ed;
// Header
@header__background-color: #0165d5;
@header-border-color: #c4c4c4;

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @color-white;

// Top search
@_search-border-color: #eeeeee;
@_search-border-width: 2px;

// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: transparent;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.5rem;


//Level 0
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @color-white;
@navigation-desktop-level0-item__hover__text-decoration: underline;
@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 15;
@navigation-level0-item__font-weight: @navigation-desktop__font-weight;

@submenu-desktop-item__hover__color: @theme__color__primary;
// Level 1
@level1_color: @heading__color__base;

// Vertical menu
@submenu_vertical_full_width_padding: 3rem;

@vertical_menu_title_bg: #d5d5d5;
@vertical_menu_title_font-size: 1.6rem;
@vertical_menu_title_color: #333;
@vertical_menu_title_text-transform: capitalize;

@vertical_menu_border-width: 1px;
@vertical_menu_border-color: #eeeeee;

// Level 0

@vertical_level0_color: #333;
@vertical_level10_border: false;
@vertical_level10_size: 14px;
@vertical_icon_fontsize: 1.6rem;
@vertical_menu_title_padding: 0 2rem;
@vertical_menu_title_padding-mobile: 0 2rem;
@vertical_level10_padding: 0 2rem;
@vertical_level10_desktop_line-height: @line-height__base;
@vertical_level10_padding: 0.579rem 2rem;
@level0_vertical_font_weight: @font-weight__regular;


@level1_vertical_font_weight: @font-weight__bold;
@level1_vertical_font_size: 1.4rem;
@level1_vertical_color: @theme__color__primary;

/* footer */
@footer-title-color: #333333;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @font-weight__bold;
@footer-title-transform: capitalize;
@footer__background-color: @color-white;


@footercolor: #333333;
@footer-border-color: #e6e6e6;

@footer-bottom_bg: #333333;
@footer_bottom_color: @color-white;


//Module variables
//Title
@module_margin_bottom: false;
@module_title-size: 2rem;
@module_title-text-transform: capitalize;
@module_title_text-align: left;
@short_des_font_size: 1.4rem;


@margin_gobal_value: 6rem;
// Product
@price_color: #222;
@product-name-link__color: #007aff;
@product-name-link__color__visited: @product-name-link__color;
// Sale new label
@sale_label_bg: #4cd964;
@sale_label_color: @color-white;

@new_label_bg: @link__hover__color;
@new_label_color: @color-white;


// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: #888;
//Button variable
@button__border-radius: 30px; 
@button__color: @color-white;
@button__padding: 12.5px 40px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: @button__border-radius;

@timeline-loading-item_bg: #ccc;


// Slider heading
@slider_h2_font-size-xxl: 48px;
@slider_h2_font-size-xl: 48px;
@slider_h2_font-size-l: 35px;
@slider_h2_font-size-s: 30px;
@slider_h2_font-size-xs: 15px;
@slider_h2_font-weight: @font-weight__bold;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.2;

@slider_h3_font-size-xxl: 43px;
@slider_h3_font-size-xl: 43px;
@slider_h3_font-size-l: 33px;
@slider_h3_font-size-s: 26px;
@slider_h3_font-size-xs: 20px;
@slider_h3_font-weight: @font-weight__semibold;
@slider_h3_letter-spacing: false;
@slider_h3_text-transform: capitalize;
@slider_h3_margin: 0;
@slider_h3_line-height: 1;

@slider_p_font-size-xxl: 14px;
@slider_p_font-size-xl: 14px;
@slider_p_font-size-l: 14px;
@slider_p_font-size-s: 13px;
@slider_p_font-size-xs: 10px;
@slider_p_margin: 12px;
@slider_p_line-height: 1.1;
@slider_p_text-transform: uppercase;

@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 8px;
@slider_button_padding: @button__padding;
@slider_button_padding-s: 5px 10px;
@slider_button_bg: @theme__color__primary;
@slider_button_margin-top: 20px;

@slider_button_margin-top: 36px;
@slider_button_bg: @theme__color__primary;


@nivo-directionNav-bg: #dddddd;
@nivo-directionNav-width: 40px;
@nivo-directionNav-height: 40px;
@nivo-directionNav-border-radius: @button__border-radius;

@owl-nav-bg: @nivo-directionNav-bg;
@owl-nav-border-radius: @button__border-radius;
// Category tab, product tab
//  Variables
//  _____________________________________________

@products-tab-text-align: center;

@new_label_bg: #ef4646;
@new_label_color: @color-white;

// Supper deal
@banner_padding: false;
@deal_product_name_size: 1.4rem;
@deal_number_bg: false;
@deal_number_font-size: 2.4rem;
@deal_number_font-weight: @font-weight__bold;
@deal_number_color: @color-white;
@deal_number_width: 5rem;
@banner_deal_number-border-radius: 50%;

// Short des

@des_supper_deal_color: @heading__color__base;
@des_supper_deal_size: 3rem;
@des_supper_deal_font-weight: @heading__font-weight__base;
// Change gobal style
& when (@media-common = true) {
	.product-item {
		.special-price .price, 
		.minimal-price .price,
		.price-box .price{
			font-weight: @font-weight__semibold;
		}
	}
	.rokan-title{
		margin-bottom: 0;
		background-color: @mainsectionbg;
		.module-title{
			display: inline-block;
			margin-bottom: 0;
			background-color: @theme__color__primary;
			border-radius: 0 0 1.5rem 0;
			padding: 1.2rem 4.5rem 1.2rem 2rem;
			color: @color-white;
			strong{
				color: @color-white;
			}
		}
	}
	.cms-index-index{
		background-color: #eee;
	}
	.wrapper-the-blue-sky-slider{
		.nivo-directionNav{
			a{
				&.nivo-nextNav{
					right: 0;
					transform: translateY(-50%) !important;
				}
				&.nivo-prevNav{
					left: 0;
					transform: translateY(-50%) !important;
				}
			}
		}
	}
	.wrapper-the-blue-sky-slider,
	body .owl-carousel {
		.nivo-directionNav,
		.owl-nav {
			a,
			button{
			    &.nivo-nextNav,
			    &.owl-next{
			    	border-top-right-radius: 0;
    				border-bottom-right-radius: 0;
			    }
			    &.nivo-prevNav,
	  			&.owl-prev{
	  				border-top-left-radius: 0;
    				border-bottom-left-radius: 0;
	  			}
			}
		}
		.owl-item {
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		    -moz-transition: all .3s ease;
		    -o-transition: all .3s ease;
		    transition: all .3s ease;
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			}
		}
		&:hover{
			.nivo-directionNav,
			.owl-nav {
				a,
				button{
					&.nivo-nextNav,
					&.nivo-prevNav,
		  			&.owl-next,
					&.owl-prev{
						@transform: translateY(-50%) translateX(0);
			    		.lib-css(transform, @transform, @_prefix: 1);
					}
				}
			}
		}
	}
	.margin_0{
		.section{
			margin: 0;
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	.toolbar.toolbar-products + .products-grid .product-item .product-item-info .actions-secondary .action.tocompare, 
	.toolbar.toolbar-products + .block + .products-grid .product-item .product-item-info .actions-secondary .action.tocompare, 
	.block.crosssell .product-item .product-item-info .actions-secondary .action.tocompare, 
	.search.results .product-item .product-item-info .actions-secondary .action.tocompare{
		display: inline-flex;
	}
	.section{
		.products{
			margin: 0;
		}
	}
	.product-info-main{
		.value{
			ul,ol{
				padding-left: 1.6rem;
				margin-bottom: 0;
			}
			&:after,
			&:before{
				content: '';
				display: table;
				clear: both;
			}
		}
	}
	.product-info-main, 
	.product-options-bottom {
		.product-addto-links {
			.action{
				.border_radius(50%);
			}
		}
	}
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid,
	.section .products-list{
		.owl-carousel .owl-stage-outer{
			padding-right: 1px;
			padding-left: 1px;
			margin-left: -1px;
			margin-right: -1px;
		}
		.product-items{
			.product-item{
				.product-item-info {
					&:before {
						display:none; 
					}
					.product-item-details {
						.product-item-inner{
							.transition();
						}
						.product-item-actions{
							.flex();
							align-items: center;
							justify-content: center;
							position: absolute;
						    left: 0;
						    right: 0;
						    text-align: center;
						    background: @color-white;
						    z-index: 2;
						    .transition();
						}
						.actions-primary{
							position: static;
							opacity: 1;
							visibility: visible;
							height: auto;
							width: auto;
							border-radius: 0;
							background-color: transparent;
							padding: 0 6px;
							transform: none;
							form{
								position: relative;
								top: -2px;
							}
							.action.tocart:before{
								.lib-font-size(16);
								color: @text__color;
							}
							&:hover{
								.action.tocart:before{
									color: @theme__color__primary;
								}
							}
						}
						.actions-secondary{
							position: static;
							padding: 0;
							justify-content: center;
							box-shadow: none;
							transform: none;
						    opacity: 1;
						    visibility: visible;
							&:after,
							&:before{
								display: none;
							}
							a{
								font-size: 0;
								flex: unset;
								line-height: 1;
								padding: 0 6px;
								&:before{
									.lib-font-size(18);
									color: @text__color;
								}
								&.link-quickview{
									position: relative;
									top: -2px;
									&:before{
										.lib-font-size(23);
									}
									&.loading{
										&:before{
											position: relative;
											top: 5px !important;
										}
									}
								}
								span{
									display: none;
								}
							}
						}
						
					}
				}
				&:not(:hover){
					.product-item-info {
						.product-item-details {
							.product-item-actions{
							    top: -1rem;
							    opacity: 0;
							    visibility: hidden;
							}
						}
					}
				}
				&:hover{	
					.product-item-info{
						&:before{
							display: none;
						}
					}
					.product-item-actions{
						top: -3rem;
						opacity: 1;
						visibility: visible;
					}	
				}
			}	
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
		.block.related{
			.products-grid .product-items {
				.owl-item{
					padding-bottom: 1px;
				}
				.product-item{
					&:not(:hover) {
						.product-item-info .product-item-details .product-item-actions{
							opacity: 1;
							visibility: visible;
							top: -2rem;
							.actions-secondary{
								opacity: 0;
								visibility: hidden;
							}
						}
					}
					&:hover{
						.product-item-info .product-item-details .product-item-actions{
							top: -2rem;
							.actions-secondary{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
// Header
& when (@media-common = true) {

	.header-container{
		// Topbar
		.topbar{
			z-index: 27;
		}
		.topbar_advertisement{
			line-height: 0;
			p{
				margin-bottom: 0;
			}
		}
		.topbar_inner{
			padding: 6px 0;
			p{
				margin: 0;
			}
			a{
				&:not(:hover){
					.lib-css(color, @topbarcolor);
				}
			}
		}
		// Language currency
		.container-setting-language-currency{
			.switcher{
				padding: 0 12px;
				.lib-css(border-color, @header-border-color);
				&:first-child{
					padding-left: 1.5rem;
					margin-left: 1.5rem;
					border-left: 1px solid @header-border-color;
				}
				.switcher-options .switcher-trigger.action.toggle:after{
					color: @topbarcolor;
				}
			}
		}
		.hotline{
			.icon{
				display: none;
			}
			.content{
				.flex();
				align-items: center;
				p{
					color: @topbarcolor;
				}
				h5{
					padding-left: 3px;
					a{
						color: #ff3b30;
					}
				}
			}
		}
		.sticky-header{
			position: relative;
			z-index: 5;
		}
		&:not(.sticky){
			.header-middle{
				> .flex-layout{
					padding: 1.5rem 0;
				}
			}
		}
		.header-middle{
			.primary-menu-container{
				flex: 1;
			} 
			
			.header.links {
				flex-direction: column;
				position: relative;
				padding-left: 4.5rem;
				margin-left: 3.2rem;
				a{
					&:hover{
						color: @header-icons-color;
					}					
				}
				li{
					&.authorization-link{
						margin-top: 0;
						margin-bottom: 3px;
						a{
							position: static;
							&:before{
								position: absolute;
								left: 0;
								top: -4px;
								width: 4rem;
								height: 4rem;
								background-color: @header-icons-color;
								.lib-font-size(26);
								border-radius: 50%;
							    display: inline-flex;
							    align-items: center;
							    justify-content: center;
							    padding-right: 0;
							    color: @theme__color__primary;
							}

						}
						&:after{
							display: none;
						}
					}
					&:last-child{
						padding-left: 0;
					}
				}
			}
			.col-action{
				.action-header{
					.account-link-header{
						font-size: inherit;
					    margin: 0;
					    padding: 0;
					}
					.minicart-wrapper{
						margin-left: 0.7rem;
					}
					.wishlist{
						a{
							&:hover{
								&:before{
									color: @header-icons-color;
								}
							}
						}
					}
				}
				.minicart-wrapper .action.showcart ,
				li{
				 	.counter.qty{
						background-color: @header-icons-color;
						color: @theme__color__primary;
					}
				}
			}
		}
		// Header link
		.header.links{
			li:not(:hover){
				a{
					color: @header-icons-color;
				}
			}
		}
		// header-content 
		.header-content {
			background-color: #f5f5f5;
		}
		// Search
		.block.block-search {
			.block-content {
				.dropdown {
					.form.minisearch {
						.search-form{
							padding-left: 2.5rem;
							input{
								height: 3.8rem;
							}
						}
						.actions {
							.action.search{
								background-color: transparent;
								&:before{
									color: @theme__color__primary;
									.lib-font-size(20);
									transform: none;
								}
							}
						}
					}
				}
			}
		}
		//search key
		.search-key{
			ul{
				.lib-list-reset-styles();
				.lib-list-inline();
				li{
					margin-bottom: 0;
					a{
						.lib-font-size(13);
						text-transform: uppercase;
						&:not(:hover){
							color: @text__color
						}
						padding: 0 1rem;
						margin-right: 0.7rem;
						&:first-child{
							padding-left: 0;
						}
					}
					&:not(:last-child){
						a{
							position: relative;
							&:after{
								position: absolute;
								right: 0;
								top: 50%;
								@transform: translateY(-50%);
								.lib-css(transform, @transform, @_prefix: 1);
								content: '';
								width: 1px;
								height: 1.1rem;
								background: @border-color__base;
							}
						}
					}
				}
			}
		}
		.sticky-header{
			.flex-layout{
				flex-wrap: nowrap;
			}
		}
		&.sticky{
			.sticky-header {
				.lib-css(padding, @sticky_padding);
				border-bottom: 1px solid @header_sticky_border;
			}
		}
	}
	.vertical-open,
	.nav-open{
		.header-container .topbar{
			z-index: 14;
		}
	}
	// Vertical menu
	.col-menu-on-left{
		flex: 1;
	}
	.rokan-vertical-menu{
		margin-right: 3rem;
	}
	header .verticalmenu.navigation {
		.title-category-dropdown{
			min-width: 21rem;
			max-width: 21rem;
			&:before{
				.icon_custom_font("\e904");
			}
		}
		.list-category-dropdown{
			

			li.level0 {
				> a{
					text-transform: capitalize;
				}
				&:hover{
					> a{
						color: @theme__color__primary;
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
	@media (max-width: 1440px) and (min-width: 1200px){
		body .navigation .level0 > .level-top{
			padding: 0 10.5px;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	header {
		.header-container {
			.logo-container{
				flex-basis: 17.5%;
			}
		}
		.top-search-not-dropdown{
			flex: 1;
			max-width: 80rem;
		}
		.verticalmenu.navigation {
			.list-category-dropdown{
				padding: 1rem 0;
				li.level0 {
					> .submenu{
						min-height: unset;
						a{
							padding-left: 0;
							padding-right: 0;
						}
						.subchildmenu {
							&.mega-columns{
								&.columns2{
									> li{
										float: none;
										display: inline-block;
										width: 100%;
									}
									@column-count: 2;
									.lib-css(column-count, @column-count, @_prefix: 1);
									margin-bottom: -6rem;
									background-position: right bottom;
								}
							}
							.title-cat-mega-menu{
								border-bottom: 1px solid #e1e1e1;
							}
						}
					}
					&:hover{
						> a{
							color: @theme__color__primary;
							&:before{
								display: none;
							}
						}
						> .submenu{
							@box-shadow: 2px 3px 6px rgba(0,0,0,.2);
							.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						}
					}
				}
			}
		}
		.navigation li.level0.fullwidth>.submenu{
			width: calc(~'100% - 21rem');
			left: 21rem;
		}
		.verticalmenu.navigation .list-category-dropdown li.level0:hover > .submenu{
			background-position: right bottom;
		}
	}
	.wrapper-the-blue-sky-slider .container-the-blue-sky-slider .the-blue-sky-banner-text.left_top{
		left: 10%;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.logo-container{
			order: 1;
		}
		.top-search-not-dropdown{
			order: 3;
			flex: 0 0 100%;
			margin-top: 1rem;
			margin-bottom: 1rem;
			input{
				height: 3.8rem;
			}
		}
		.col-menu{
			margin-top: 1rem;
		}
		.col-action{
			order: 2;
			flex: 1;
			.flex-layout{
				justify-content: flex-end;
			}
		}
		.header-middle {
			.header.links {
				li.authorization-link {
					a:before{
						top: -11px !important;
						position: static !important;
					}
				}
			}
		}
		.topbar_inner{
			> .flex-layout{
				justify-content: center !important;
			}
		}
		&:not(.sticky){
			.sticky-header{
				z-index: 26;
			}
			.logo-container{
				flex: 1;
			}
			.header-middle{
				> .flex-layout{
					position: relative;
				}
				.primary-menu-container{
					flex: unset;
					.nav-toggle{
						top: 30px;
						position: absolute;
					    right: 0;
					    left: auto;
					    @transform: translateY(100%);
					    .lib-css(transform, @transform, @_prefix: 1);
					    &:before{
					    	color: @heading__color__base;
					    }
					}
				}
			}
		}
		&.sticky{
			.header-middle > .flex-layout{
				padding: 0 !important;
			}
		}
	}
	.verticalmenu.navigation .list-category-dropdown li.level0 {
		a {
			.menu-thumb-icon{
			    margin-right: 1rem;
			}
		}
	}
	.nav-open .nav-toggle:after{
		height: 200vh;
	    width: 1000vw;
	    right: -50vw;
	    top: -20vh;
	}
	.vertical-before-open.vertical-open{
		.header-container .header-content{
			position: relative;
			z-index: 33;
		}
	}
	.slider-wrapper {
		.nivo-directionNav{
			display: none;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container {
		.container-setting-language-currency {
			.flex();
			align-items: center;
			justify-content: center;
			.switcher:first-child{
				border-left: 0 !important;
				margin-left: 0 !important;
			}
		}
		.header-middle .header.links{
			display: none;
		}
		.col-menu{
			justify-content: space-between;
		}
	}
}
// Footer
& when (@media-common = true) {
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
	}
	.page-footer{
		.logo-footer{
			margin-bottom: 1.5rem;
		}
		.footer-top{
			overflow: hidden;
			padding-bottom: 6rem;
		}
		.footer-static_link {
			.footer-links{
				.block-static-block{
					margin: 0;
				}
				.footer-title{
					margin-top: 0;
				}
				&.not-collapse-mobile{
					.footer-title{
						display: none;
					}
					p{
						margin-bottom: 2rem;
					}
					.footer-contents{
						margin-top: 2rem;
						
					}
				}
				&.square-social{
					position: relative;
					.social-link{
						margin-top: 2.5rem;
						li{
							&:not(:last-child){
								padding-left: 0.8rem !important;
							}
							&:not(:first-child){
								padding-left: 0.8rem;
							}
							a{
								border-radius: 50%;
								border: 2px solid #999;
								&:not(:hover){
									span{
										color: #999 !important;
									}
								}
								&:hover{
									border-color: @theme__color__primary;
								}
							}
						}
					}
				}
				.rokan-title {
					background-color: transparent;
					.module-title{
						background-color: transparent;
						padding: 0;
						margin-top: 0;
						border-radius: 0;
					}
				}
			}
		}
		.footer-top > .footer.content{
			padding-top: 2rem;
		}
		.footer-payment{
			padding: 0.5rem 0;
			border: 1px solid @border-color__base;
			border-width: 1px 0;
			margin-top: 4rem;
			.payment-use,
			.secured {
				> *{
					padding: 1rem 0;
				}
				h4{
					margin: 0;
					display: inline-flex;
					font-weight: @font-weight__bold;
					padding-right: 3px;
				}
			}
		}
		.footer_hot_search_market{
			padding: 2.2rem 0 3rem;
			border-top: 1px solid @border-color__base;
			.ovic-keyword{
				.flex();
				align-items: center;
				.title,
				h5{
					display: inline-flex;
					margin: 0 3px 0 0;
					.lib-font-size(14);
					font-weight: @font-weight__bold;
				}
				ul{
					.flex();
					li{
						display: inline-block;
						margin-bottom: 0;
						a{
							display: block;
							&:not(:hover){
								color: @topbarcolor;
							}
						}
						&:not(:last-child){
							a{
								padding-right: 8px;
    							margin-right: 5px;
    							position: relative;
    							&:after{
    								content: '';
    								height: 1.4rem;
    								width: 1px;
    								background: @topbarcolor;
    								position: absolute;
    								top: 50%;
    								right: 0;
    								@transform: translateY(-50%);
    								.lib-css(transform, @transform, @_prefix: 1);
    							}
							}
						}
					}					
				}
			}
		}
		.footer-bottom{
			margin-top: 0;
			.hozital-menu{
				p{
					margin-bottom: 0;
				}
			}
		}
	}
}	
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer {
		.footer-static_link{
			flex-wrap: nowrap;
			.footer-links{
				&.square-social{
					position: relative;
					padding-left: 3rem;
					&:before{
						content: '';
						display: block;
						position: absolute;
						border-left: 1px solid @border-color__base;
						top: -100%;
						bottom: -100%;
						left: 0;
					}
				}
			}
		}
		.footer_hot_search_market .ovic-keyword{
			justify-content: center;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	footer.page-footer .footer-top{
		padding-bottom: 3rem;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	body .page-footer{
		.footer-static_link {
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 25%;
    				max-width: 25%;
				}
			}
		}
	}
}
// Box: slider + product + banner on top;
& when (@media-common = true) {
	.box-on-top{
		position: relative;
		background-color: @color-white;
		margin-bottom: 5rem;
		.adver-banner{
			position: absolute;
			top: 0;
			@transform: translateX(100%);
			max-height: 100%;
			overflow: hidden;
			.lib-css(transform, @transform, @_prefix: 1);
			&.right{
				right: 0;
				@transform: translateX(100%);
				.lib-css(transform, @transform, @_prefix: 1);
			}
			&.left{
				left: 0;
				@transform: translateX(-100%);
				.lib-css(transform, @transform, @_prefix: 1);
			}
		}
		.section{
			.products{
				margin: 0;
			}
			.product-label{
				display: none;
			}
		}
		.content-on-top{
			padding-top: 1rem;
			margin: 0 -0.5rem;
			> div{
				padding: 0 0.5rem;
				&.slider-product,
				&.wrapper_sub_category_tabs{
					padding-left: 1.5rem;
				}
			}
			.wrapper_sub_category_tabs{
				margin-top: 0.5rem;
				padding-top: 5px;
				.category-thumb-section{
					.lib-css(background-color, @mainsectionbg);
					padding: 5px 3%;
				}
			}
		}
		.slider-product{
			position: relative;
			flex: 1;
			.section{
				.owl-carousel.owl-drag .owl-item{
					background-color: @color-white;
					&:not(:last-child){
						.item-row {
							.product-item{
								border-right: 0;
							}
						}
					}
					.item-row {
						.product-item{
							.product-item-info{
								.flex();
								flex-direction: row-reverse;
								width: auto;
								align-items: flex-start;
								> *{
									flex: 1;
									width: auto;
								}
							}
							.product-item-photo{
								padding-right: 0;
								padding-left: 1.5rem;
								max-width: 50%;
							}
						}
					}
				}
			}
		}
		.banner-in-slider{
			a{
				display: block;
				img{
					display: block;
				}
				&:not(:last-child){
					margin-bottom: 1rem;
				}
			}
		}
	}
	.shipping{
		margin-bottom: 5rem;
	}
	.bestseller-banner{
		background-color: @color-white;
		padding-bottom: 3rem;
		.owl-carousel{
			.owl-dots{
				margin-top: -1rem !important;
				&:not(.disabled) {
					.owl-dot{
						width: 1rem;
						height: 1rem;
						@border-radius: 10px;
						.lib-css(border-radius, @border-radius, @_prefix: 1);
						border: 2px solid @theme__color__primary;
						&.active{
							width: 2.8rem;
						}
					}
				}
			}
		}
	}
	.banner-bestseller{
		padding: 1.5rem 2rem 0; 
		text-align: center;
		.title{
			margin-bottom: 1.2rem;
		}
		.content{
			tr{
				th{
					text-align: center;
					color: @heading__color__base;
					.lib-font-size(18);
					padding: 0;
				}
			}
			tbody{
				tr{
					td{
						padding: 5px 12px;
					}
					&:not(:last-of-type){
						td{
							border-bottom: 1px solid @border-color__base;
						}
					}
				}
			}
		}
		.options{
			ul{
				list-style: none;
				.flex();
				padding-left: 0;
				padding: 1.5rem;
				margin: 2rem 0 0;
				border: 3px solid fade(@theme__color__primary, 40%);
				.lib-css(border-radius, @button__border-radius, @_prefix: 1);
				justify-content: center;
				flex-wrap: nowrap;
				li{
					padding: 0 5px;
					img{
						margin: auto;
					}
				}
			}
		}
		.button-wrap{
			text-align: center;
			@transform: translateY(-50%);
			.lib-css(transform, @transform, @_prefix: 1);
			.btn{
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				color: @color-white;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.box-on-top{
		position: relative;
		flex-wrap: nowrap;
		.adver-banner{
			&.left{
				left: 21rem !important;
			}
		}
		.section{
			margin: 0;
		}
		.content-on-top{
			padding-left: 21rem;
		}
		.slider-product{
			position: relative;
			flex: 0 0 72%;
			max-width: 72%;
			.section{
				&:not(.slider-wrapper ){
					position: absolute;
					left: 1rem;
					right: 1rem;
					bottom: 7px;
					margin: 0;
					z-index: 3;
				}
			}
		}
		.banner-in-slider{
			flex: 0 0 28%;
			max-width: 27%;
		}
		.wrapper_sub_category_tabs{
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.box-on-top{
		.content-on-top{
			display: block;
		}
		> div{
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.section{
		&.slider-wrapper{
			margin-bottom: 1rem;
		}
	}
	.box-on-top .content-on-top > div.wrapper_sub_category_tabs{
		padding-bottom: 2rem;
	}
	.wrapper_category_product_tabs.has-banner-image .widget-tabs .ui-tabs-panel{
		max-width: 100%;
	}
}

// Price count down
@count_down_number_width: 4.9rem;
@count_down_number_font-size: 2.4rem;
@count_down_number_font-weight: @font-weight__bold;
@count_down_number_color: #333333;
& when (@media-common = true){
	.rokan-price-count-down{
		.rokan-title{
			.module-title{
				.lib-font-size(24);
				background-color: #ff1212;
			}
		}
		.product.description{
			margin-bottom: 1.5rem;
			@media only screen and (max-width: @screen__xl){
				margin-top: 2rem;
			}
			table {
				th,
				td{
					padding: 0;
				}
				th{
					font-weight: @font-weight__semibold;
				    color: @heading__color__base;
				    white-space: nowrap;
				    width: 1%;
				    padding-right: 1.4rem;
				}
			}
		}
		.products{
			margin: 0;
		}
		.products-grid {
			.product-items {
				.product-item{
					border: 0;
					.count-down.deal-timer {
						padding-top: 0.3rem;
						border-top: 1px solid @border-color__base;
						margin-top: 3rem;
						@media only screen and (max-width: @screen__xl){
							margin-top: 2rem;
						}
						.timer-list{
							justify-content: flex-start;
							.countdown-section{
								@box-shadow: none;
								.lib-css(box-shadow, @box-shadow, @_prefix: 1);
								.countdown-amount{
									.border_radius(50%);
									border: 2px solid #eeeeee;
									.lib-css(min-width, @count_down_number_width);
					    			.lib-css(min-height, @count_down_number_width);
					    			display: inline-flex;
					    			align-items: center;
					    			justify-content: center;
								}
								.countdown-period{
									text-transform: capitalize;
									font-size: @font-size__base;
								}
							}
						}
					}
					.product-item-info{
						.product-item-inner .product-item-actions{
							position: static;
							opacity: 1 !important;
							visibility: visible !important;
							justify-content: flex-start;

						}
						.product-item-actions{
							.button_quickview{
								display: none;
							}
							.actions-secondary{
								.action{
									min-height: 4.4rem;
									min-width: 4.4rem;
									display: inline-flex;
									align-items: center;
									justify-content: center;
									.border_radius(50%);
									&:before{
										margin: 0;
										top: 0;
									}
									&:not(:hover){
										.lib-css(background, @checkout-button-bg);
										.lib-css(color, @checkout-button-color);
									}
									&:hover{
										background-color: @button__background;
										&:before{
											color: @button__color;
										}
									}
									&:not(:last-of-type){
										margin-left: 1rem;
									}
								}
							}
							.actions-primary{
								padding-left: 0;
								form{
									top: 0;
									width: 100%;
								}
								.action.tocart{
									border-radius: @button__border-radius;
									font-weight: @button__font-weight;
									text-transform: @button__text_transform;
									.lib-font-size(14);
									padding: @button__padding;
									width: 100%;
									&:before{
										display: none;
									}
									&:not(:hover){
										.lib-css(background, @checkout-button-bg);
										.lib-css(color, @checkout-button-color);
									}
									&:hover{
										background-color: @button__background;
										color: @button__color;
									}
								}
							}
						}
						.product-item-photo{
							flex: 1;
							padding-left: 1.5rem;
							margin-bottom: 0;
							@media only screen and (min-width: @screen__xl){
								.product-thumb{
									flex: 0 0 52%;
									max-width: 52%;
								}
								.product-item-details{
									flex: 0 0 48%;
									max-width: 48%;
								}
							}
						}
						.product-item-name{
							margin-bottom: 0;
							.product-item-link{
								font-weight: @font-weight__semibold;
							}
						}
						.product-label{
							position: static;
							background-color: transparent;
							.lib-font-size(24);
							font-weight: @font-weight__bold;
							padding: 0;
							margin-bottom: 3rem;
							display: block;
							@media only screen and (max-width: @screen__xl){
								margin-bottom: 2rem;
							}
							span{
								color: #ff0101;
								&:not(.value){
									background-color: @sale_label_bg;
									color: @color-white;
									.lib-font-size(14);
									padding: 3px 18px;
	    							border-radius: 3px;
	    							display: inline-block;
	    							position: relative;
	    							top: -3px;
								}
							}
						}
						.info-price{
							border: 0;
						    margin: 0 0 1rem;
						    padding: 0;
						    .special-price{
						    	.price{
						    		.lib-font-size(18);
						    	}
						    }
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.rokan-price-count-down .products-grid .product-items .product-item .product-item-info{
		flex-direction: row-reverse;
		justify-content: space-between;
		.product-thumb{
			flex: 0 0 40%;
			max-width: 40%;
		}
		.product-item-details{
			flex: 0 0 60%;
			max-width: 60%;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.rokan-price-count-down .products-grid .product-items .product-item .product-item-info{
		flex-direction: column;
	}
	.rokan-price-count-down .rokan-title{
		padding-bottom: 1.5rem !important;
		.time_circles > div{
			margin: 5px 0;
		}
	}
}
// Widget category tab
@padding-category-thumb: 0;
@background-category-thumb: transparent;
& when (@media-common = true){
	.wrapper_sub_category_tabs{
		&.onlyparent {
			.list-category-item {
				.category-item{
					a {
						display: inline-flex;
						.border_radius(30px);
						overflow: visible;
						.cate-name.cate-count{
							.lib-font-size(14);
							width: 90%;
    						display: block;
    						padding-left: 1rem;
							span{
								line-height: 1;
								display: inline-block;
							}
						}
						
						.thumb-infor{
							flex: 1;
						    z-index: 1;
						    padding: 0.7rem 0;
						    width: 50%;
						    padding-left: 5px;
						    position: relative;
						    &:after{
						    	content: '';
							    position: absolute;
							    top: 0;
							    bottom: 0;
							    right: 0;
							    left: -3.5rem;
							    z-index: -1;
							    -webkit-border-radius: 9rem;
							    -moz-border-radius: 9rem;
							    -ms-border-radius: 9rem;
							    border-radius: 9rem;
							    background-color: @color-white;
						    }
						}
						&.horizontal{
							figure{
								position: relative;
								z-index: 2;
								img{
									max-width: unset;
								}
							}
						}
						&:hover{
							figure{
								img{
									transform: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
// Category tab
& when (@media-common = true){
	.ui-tabs-nav{
		background-color: @color-white;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.ui-tabs-nav{
		li{
			&.rokan-title{
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 1.5rem;
			}
		}
	}
}
// Banner
& when (@media-common = true){
	.banner-layout{
		margin: 0 -1.5rem;
		.col-banner-image{
			padding: 0 1.5rem;
		}
	}
	.banner-images{
		.row{
			margin: 0;
			div[class*="col"]{
				padding: 0;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.banner-layout{
		flex-wrap: nowrap;
		margin: 0 -1.5rem;
		.col-banner-image{
			padding: 0 1.5rem;
		}
		
	}
	.group-product{
		.banner-layout{
			height: 100%;
			.full-height{
				height: 100%;
			}
		}
	}
}
// Product layout with banner
& when (@media-common = true){ 
	.group-product{
		margin-bottom: 5rem;
		.col-xl-6{
			.section{
				margin-bottom: 0;
			}
		}
		@media only screen and (max-width: (@screen__xl - 1)){
			.col-price-countdown{
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: @margin_gobal_value;
			}
			.col-product{
				flex: 0 0 100%;
				max-width: 100%;
				> img{
					display: none !important;
				}
			}
		}
	}
	@media only screen and (max-width: (@screen__xl - 1)){
		.group-banner-bestseller{
			.col-12{
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: @margin_gobal_value;
			}
			.col-60,
			.col-40{
				> a{
					img{
						display: none;
					}
				}
			}
		}
	}
	@media (max-width: (@screen__xl - 1)) and (min-width: 1200px){
		.group-banner-bestseller{
			.col-60{
				flex: 0 0 60%;
				max-width: 60%;
				
			}
			.col-40{
				flex: 0 0 40%;
				max-width: 40%;
			}
		}
	}
}
// Product list
& when (@media-common = true){ 
	.toolbar-products select{
		border-radius: 0;
	}
	.products-list{
		.product-item .product-label.onsale{
			right: auto;
			left: 2rem;
		}
		.product-item-info{
			.product-item-description{
				&:after,
				&:before{
					content: '';
					display: table;
					clear: both;
				}
			}
		}
	}
	.section .products-list{
		.products.list.items {
			.product-item {
				margin-bottom: 0 !important;
				border-top: 0;
				border-right: 0;
				.product-item-info {
					.product-label.onsale{
						right: auto;
						left: 1.5rem;
					}
					.product-item-details {
						position: relative;
						vertical-align: top;
						
						.product-item-inner {
							position: relative;
							top: auto;
							.product-item-actions{
								justify-content: flex-start;
							}
							.actions-primary{
								position: relative;
								top: 5px;
								padding-left: 0;
								.action.tocart{
									padding: 0;
									background: transparent;
									font-size: 0;
									font-weight: @font-weight__regular;
									&:before{
										.icon_custom_font("\e906");

									}
									&:not(:hover){
										color: #888;
									}
								}
							}
							.actions-secondary{
								.flex();
								justify-content: flex-start;
								a.link-quickview{
								 	top: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.container_vertical_tab_postions{
		&.wrapper_product_tabs {
			.products.wrapper.list {
				.item-row{
					.product-item{
						&:not(:last-of-type){
							border-bottom: 1px solid @border-color__base
						}
						
					}
				}
			}
		}
	}
	.col-md-6{
		.wrapper_product_tabs{
			.products-list{
				.product-item{
					.product-item-photo{
						.product-image-container{
							max-width: 176px;
						}
					}
				}
			}
		}
	}
}
// Product tab, Category page
@vertical_tab_size: 1.4rem;
@vertical_tab_font-family: false;
@vertical_tab_font-weight: false;
@vertical_tab_padding: 0.6rem 1.5rem;
& when (@media-common = true){
	.category-tab{
		.section{
			margin-bottom: 0;
		}
		.products-grid .product-items .product-item-info{
			padding: 0.7rem 2rem;
			.product-item-photo{
				margin-bottom: 0;
			}
			.product-item-details{
				padding: 0;
			}
		}
	}
	.block-widget-rokanthemes-brand {
		background: @color-white;
		.owl-stage{
			.owl-item{
				&:first-child{
					.item-row-slider-brand{
						border-left: 0;
					}
				}
			}
		}
		.item-row-slider-brand{
			border-left: 1px solid @border-color__base;
			.brand-item{
				padding: 2rem 1.5rem;
				&:not(:last-of-type){
					border-bottom: 1px solid @border-color__base;
					margin-bottom: 0 !important;
				}
			}
		}
	}
	.container_vertical_tab_postions{
		&.wrapper_product_tabs,
		&.wrapper_category_product_tabs {
			overflow: hidden;
			.ui-tabs-nav{
				li{
					a{
						border: 0;
						&:after{
							display: none;
						}
					}
					&.ui-state-active,
					&:hover{
						a{
							color: @theme__color__primary
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.container_vertical_tab_postions{
		&.wrapper_product_tabs,
		&.wrapper_category_product_tabs {
			.ui-tabs-nav{
				display: block;
				margin-right: 0;
				padding-top: 1.2rem;
				li{
					display: block;
					border: 0;
					
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.has-banner-image{
		.section{
			background-color: @color-white;
		}
		&.small-image{
			.wrapper_category_product_tabs.has-banner-image .widget-tabs {
				.widget-category-tab-banner{
					flex: 0 0 230px;
			    	max-width: 230px;
			    }
			    .ui-tabs-panel{
					order: 3;
					flex: 1;
		 			max-width: calc(~'100% - 230px');
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.ui-tabs-nav{
		li{
			margin: 0;
		}
	}
	.hot-deal-tab-slider .products-grid .product-items .product-item .product-item-info{
		flex-direction: row-reverse;
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.category-tab{
		.section{
			&.block-widget-rokanthemes-brand{
				margin-bottom: @margin_gobal_value;
			}
		}
		&.has-banner-image{
			margin-bottom: 0;
			.wrapper_category_product_tabs{
				background-color: @color-white;
			}
		}
		&.product-tab{
			margin-bottom: 0;
			.wrapper_product_tabs{
				margin-bottom: @margin_gobal_value;
			}
		}
	}
	.container_vertical_tab_postions{
		&.wrapper_category_product_tabs,
		&.wrapper_product_tabs {
			.background_block{
				display: none;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.group-banner-bestseller{
		.col-40{
			margin-top: @margin_gobal_value;
		}
	}
}	
// Newsletter
& when (@media-common = true){
	.section.block-newsletter-form{
		text-align: center;
		background-attachment: scroll;
		padding: 2rem 1.5rem;
		margin-bottom: 0;
		.module-title{
			margin-bottom: 0;
		}
		.rokan-title-newsletter{
			margin-bottom: 2.3rem;
		}
		.content{
			max-width: 45rem;
			margin: auto;
			.control{
				.input-focus{
					flex: 1;
					input{
						border-radius: @button__border-radius 0 0 @button__border-radius;
						padding-left: 1.8rem;
						border: 2px solid @theme__color__primary;
					}
				}
				.actions{
					.action{
						padding: 12.5px 20px;
						
					}
				}
			}
		}
		.short-des{
			margin-top: 0.2rem;
			a{
				font-weight: @font-weight__semibold;
				&:not(:hover){
					color: @topbarcolor;
				}
			}
		}
	}
	.white-bg{
		background-color: @color-white;
		padding: 2rem 0;
	}
	.have-a-question{
		text-align: center;
		    padding: 2rem 1.5rem;
		.btn{
			padding: 13.5px 8%;
			&:not(:hover){
				background-color: transparent;
				border: 2px solid #d8d7d7;
				color: @text__color;
			}
		}
		h2{
			margin-bottom: 0;
		}
	}
	.modals-wrapper .modal-popup._inner-scroll .modal-inner-wrap .modal-content #mb-ajaxsuite-popup-wrapper .wrapper-success .product-information .product-name .pupup-suc-added-ajax-cart-qty-price{
		color: @text__color;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.shipping-support{
		.row{
			.col-content{
				&:not(:last-child){
					border-right: 1px solid @border-color__base;
				}
			}
		}
	}
	.section.block-newsletter-form{
		border-right: 1px solid #aaaaaa;
	}
}