.admin__menu #menu-rokanthemes-rokanbase-rokanbase > a:before {
    content: url('../images/logo.png') !important;
}
#storelocator_stores_edit_tabs_time_info_content .entry-edit .admin__field .admin__field-control{
	  margin: 0 0 15px;
}
#storelocator_stores_edit_tabs_time_info_content .entry-edit .admin__field .admin__field-control span{
 	padding-right:10px;
}	
#table-container-rokanthemes-importer .title-theme-name-fixed{
	padding: 10px 10px 7px 10px;
    background: #01aae9;
    color: #fff;
}
.rokanthemes-container-import-theme-items{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;   
    flex-wrap: wrap;
}
#table-container-rokanthemes-importer .des-theme-name-fixed{
    padding: 11px 15px;
    text-align: left;
    margin: 0 0 20px 0;
    background-color: #fff;
    border-left: 4px solid #ffba00;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}
#table-container-rokanthemes-importer .item-theme-import-fixed-container{
	float: left;
	margin: 0 2% 3% 0;
	position: relative;
	width: 32%;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px -1px rgb(0 0 0 / 10%);
	box-sizing: border-box;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
}
#table-container-rokanthemes-importer .item-theme-import-fixed-container:nth-child(3n) {
    margin-right: 0;
}
#table-container-rokanthemes-importer .info-theme-name-and-activate{
	position: relative;
}
#table-container-rokanthemes-importer .item-theme-name {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 15px;
    box-shadow: inset 0 1px 0 rgb(0 0 0 / 10%);
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    background: rgba(255,255,255,.65);
}
#table-container-rokanthemes-importer .item-theme-actions{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 10px 15px;
}
#table-container-rokanthemes-importer .item-button-live-preview{
	color: #222;
    border-color: #efefef;
    background: #efefef;
    padding: 10px 14px;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    margin-right: 5px;
    border-radius: 5px;
}
#table-container-rokanthemes-importer .item-button-activate{
    background: #007cba;
    border-color: #007cba;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    padding: 10px 14px;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
     border-radius: 5px;
}
.theme-has-selected-fix-style .item-theme-name{
	color: #fff !important;
    background: #007cba !important;
}