// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold;  
@heading__line-height__base: 1.71428571429;
@heading__color__base: #0d0d0d;
// Other font 
@otherfont-family-one: 'patrick hand';  
@otherfont-family-two: 'Birdrockers_Demo';   
// Color 
@theme__color__primary: #d74f76;  
@link__hover__color: #d74f76;
@color__blue: #8b58c0;  
// Topbar 
@topbarbg: transparent;
@topbarcolor: #0d0d0d;   
 
// Header
@header__background-color: transparent;   

@header_sticky_bg: @color-white;  
@header_sticky_border: false;
@header-icons-color: @heading__color__base;
@headerpadding: 20px; // Make header height bigger than menu height
@sticky_padding: 10px; 
@h5__font-size: 1.6rem;
// Top search
@search-form_bg: @color-white; 
@_search-border-color: @theme__color__primary;
@_search-border-width: 2px;

// Navigation
@menufont: @heading__font-family__base; 
@navigation-desktop__background: transparent;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.3rem;


//Level 0
@navigation-desktop-level0-item__color: @heading__color__base;
@navigation-desktop-level0-item__hover__color: @color-white;
@navigation-desktop-level0-item__line-height: 40px;
@navigation-desktop-level0-item__margin: 0 2px 0 0;
@navigation-desktop-level0-item__padding: 0 20px;
@navigation-level0-item__font-family: @font-family__base;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 1.3rem;
@navigation-level0-item__font-weight: @font-weight__bold;

// Level 1 
@level1_font_weight: @font-weight__regular;
@level1_font_size: 2.4rem;
@level1_color: @color__blue;

/* footer */
@footer__background-color: #d5eef3;
@footercolor: #0d0d0d;
@footer_font-size: 1.5rem;
@footer-title-font-size: 1.8rem;
@footer-title-color: @theme__color__primary;
@footer-title-transform: uppercase;
@footer-border-color: rgba(13,13,13,0.1);

//Module variables  
//Title
@module_margin_bottom: 4rem;
@module_title_text-align: center;
@module_title-size: 4.4rem;
@module_title-text-transform: uppercase;
@short_des_font_size: 1.6rem;

// Owl dot, owl nav
@owl-dot-bg: rgba(13,13,13,0.1);
// Gobal space (such as: bettween module in home page....)
@margin_gobal_value: 8rem;
	.margin_gobal_value(){
	.lib-css(margin-bottom, @margin_gobal_value);
}
// Product
@price_color: #222; 
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: #d74f76;
@sale_label_color: @color-white;

@new_label_bg: #8b58c0; 
@new_label_color: @color-white;

// Button
@second_button_bg: @link__hover__color;
@second_button_color: @color-white;


@checkout-button-bg: @link__hover__color;
@checkout-button-color: @color-white; 
//Button variable
@button__border-radius: 0; 
@button__color: @color-white;
@button__padding: 13px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @color-white;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: 30px;

// Slider heading

@slider_h2_font-size-xxl: 82px; 
@slider_h2_font-size-xl: 72px;
@slider_h2_font-size-l: 62px;
@slider_h2_font-size-s: 52px;
@slider_h2_font-size-xs: 42px;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1; 


@slider_h4_font-size-xxl: 30px;
@slider_h4_font-size-xl: 25px;
@slider_h4_font-size-l: 20px;
@slider_h4_font-size-s: 20px; 
@slider_h4_font-size-xs: 18px;
@slider_h4_letter-spacing: false;
@slider_h4_font-weight: @text-weight;
@slider_h4_text-transform: capitalize;
@slider_h4_margin: 13px;
@slider_h4_line-height: false;



// Slider paragraph 
@slider_p_font-size-xxl: 18px;
@slider_p_font-size-xl: 16px;
@slider_p_font-size-l: 14px;
@slider_p_font-size-s: 14px;
@slider_p_font-size-xs: 13px;
@slider_p_font-weight: @font-weight__regular;
@slider_p_letter-spacing: false;
@slider_p_text-transform: false;
@slider_p_margin: 20px;
@slider_p_line-height: 1.5; 

// Slider button 
@slider_button_font-size-xl: 18px;
@slider_button_font-size-l: 16px;
@slider_button_font-size-s: 14px;
@slider_button_font-size-xs: 13px; 
@slider_button_padding: 14px 35px;
@slider_button_padding-s: 4px 15px;
@slider_button_letter-spacing: 0.2em;
@slider_button_line-height:18px; 
@slider_button_margin-top: 30px; 

// Module Category thumb
//  Variables
//  _____________________________________________
@category-name-size: 2.4rem;
@category-name-color: @color-white;
@category-name-font-weight: @font-weight__bold;
@category-name-font-family: @font-family__base;
@line-height_category_name: 1;
// Products count
@category-count-size: 1.4rem;
@category-count-font-style: normal;
@category-count-display: block;
@category-count-color:  @color-white;
// Vertical thumb image
@img_category_thumb-radius: 56px;
@category_name-padding: 2rem;
@category_name_position: absolute;
@align_category_name: flex-end;

@background-category-thumb: @color-white;
@padding-category-thumb: false;

// Category tab, product tab
//  Variables
//  _____________________________________________
@tabcolor: @heading__color__base;
@tabactive: @color-white;
// Hozital variable
@category-tab-text-align: center;
@category-tab-name-size: 14px;

@products-tab-text-align: center;
@products-tab-name-size: 14px;

// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: 9rem 0;

@banner_deal_number-font-family: @font-family__base;
@banner_deal_number-font-weight: @font-weight__bold;

@title_supper_deal_margin: 0 0 7px;

@sub_title_supper_deal-font-size: 1.4rem;
@sub_title_supper_deal-color: @color-white;
@sub-title_supper_deal_letter-spacing: 2px;
@sub-title_supper_deal_margin: 0 0 5.5rem;
// Title
@title_supper_deal_size: 6rem;
@title_supper_deal_mobile_size: 4rem;

@des_supper_deal_size: 1.6rem;
@des_supper_deal_margin: 0 0 4.2rem;
//  _____________________________________________
.border_radius(@_border-radius_base: 5px){
    @_border-radius: @_border-radius_base;
    &{
        .lib-css(border-radius, @_border-radius);
    }
}
.icon_header(){
	font-size: 2.3rem;
    line-height: 4rem;
    position: relative;	
}
//cms block Banner//
& when (@media-common =true) {
    .kids-middle{
    	.col-banner{ 
    		.content{
    			.content-kids{
    				background: url(../images/bg_static.png) center no-repeat;  
					background-repeat: no-repeat;
				    background-position: center center;
				    background-size: 100% 100%;
				    width: 100%;
    				max-width: 79rem;
    				margin: auto;
    				text-align: center;
    				padding: 7rem;
    				h4{
					    margin: 0;
   						line-height: 1;
    				}
    				h2{
    					margin-bottom: 3rem; 
    				}
    				p{
    					line-height: 1.8;
    				}
    				.button-wrap{
    					margin-top: 3.6rem;
					    letter-spacing: 0;
					    margin-bottom: 3rem;
    					a{
    						background: url(../images/kids-bg-1.png) center no-repeat;
			    			background-size: 100% 40px;
			    			border: none;
			    			text-transform: capitalize;
			    			font-size: 1.8rem;
			    			font-weight: @font-weight__semibold;
			    			padding: 15px 30px;
    					}
    				}
    				@media only screen and (max-width: (@screen__m - 1)) {
    					max-width: none;
    					padding: 3rem;
    					h4{
						  font-size: 36px !important;
	    				}
	    				h2{
	    					font-size: 60px  !important;
	    				}
	    				p{
	    					font-size: 15px !important;
	    				}
	    				.button-wrap{
	    					a{
	    						font-size: 16px !important;
	    					}
	    				}
    				}
    			}
    		}
    	}
    }
}
/* style title Instagram*/
& when (@media-common =true) {
	.instagram{
		.rokan-title {
			.module-title {
				margin: 0;
			}
			.short-des{
				color: @theme__color__primary;
				font-family: @otherfont-family-one;
				font-size: 4.4rem; 
				text-transform: uppercase;
				margin-top: -1.5rem;
			}
		}
	}
}
/* style title */
& when (@media-common = true) {
	.rokan-title {
		.module-title {
			color: @color__blue;
		}
	}
	.block.related,.block.crosssell,.block.upsell {
		.block-title {
			h3{
			    padding: 0 1.8rem;
		        line-height: 1;
		        strong {
	        	    font-family: @otherfont-family-one;
				    color: @color__blue;
			       font-size: inherit !important;
			       font-weight: @font-weight__regular;
		        }
			}
		}
		.block-actions {
			top: 2.8rem;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.navigation {
		> ul{
			.flex();
			align-items: center;
			justify-content: center;
			.logo-kids {
				padding: 0 3rem;
				margin: 0;
				display: inline-block;
    		vertical-align: middle;
    		margin-bottom: 10px;
			}
			.level0 {
				&:first-child > .level-top {
				   padding: @navigation-desktop-level0-item__padding;
				}
				&.active > .level-top,&.has-active > .level-top ,& > .level-top:hover, & > .level-top.ui-state-focus{
					background: url(../images/bg_menu.png) center no-repeat;
			    	background-size: 100% 100%;
				}
				&.fullwidth > .submenu {
				    width: 90%;
				    margin-left: 5%!important;
				    margin-right: 5%!important;
				}
				 &.parent{
                    .submenu{
                    	@box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
                    	a{
                    		&:hover{
                    			color: @theme__color__primary;
                    		}
                    	}
                        .mega-columns{
                            //Level 1
                            .level1{
                                &.parent{
                                    > a{
                                        font-family: @otherfont-family-one !important;
                                        font-weight: @font-weight__regular !important;
                                        text-transform: capitalize;
                                        &:hover{
                                           color: @theme__color__primary;
                                        }
                                    }
                                }
                            }
                        } 
                    } 
                }
			}
		}
	}
}
// Header, footer
& when (@media-common =true) {
    .header-container {
        // Social icon
        .social-link {
            padding-left: 0;
            align-items: center;
            flex: 1;
            li {
                display: inline-flex;
                margin-bottom: 0;
                &:not(:first-child) {
                    padding-left: 1.2rem;
                }
                &:not(:last-child) {
                    padding-right: 1.2rem;
                }
            }
        }
    }
    @media only screen and (max-width: (@screen__l - 1)){
	    .navigation > ul .logo-kids {
	    	display: none !important;
	    }
	}
}
& when (@media-common = true) {
	.container-setting-language-currency{
		.switcher{
			border-color: #d0dd9b;
			padding: 0 8px;
			*:first-child{
				margin-right: 4px;
			}
			.switcher-options{
				.switcher-trigger.action.toggle{
					&:hover{
						strong,
						&:after{
							color: @theme__color__primary;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.cms-index-index{
		.page-wrapper{
			position: relative;
			header.page-header{
				@media only screen and (min-width: @screen__l){		 
					position: absolute;
					left: 0;
					right: 0;
				}
			}
			.header-container {
				@media only screen and (min-width: @screen__l){
					.header.panel {
						> div {
							padding-left: 2rem;
							padding-right: 2rem;
							border-radius: 900px;
							@box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
							.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						}
					} 
				}
				&.sticky {
					.sticky-header {
						background: transparent;
						border: none;
					} 
				}
			}
		}
	}	
	
	.page-header { 
		.header-container {
			.topbar { 
				.topbar-inner{
					@media only screen and (max-width: (@screen__s - 1)){
						justify-content: center;
					}
					> div > * {
					    padding: 1.3rem 0;
					}
					.col-top-link{
						@media only screen and (max-width: (@screen__s - 1)){
							justify-content: center;
						}
						p{
							position: relative;
							top: -1px;
						}
						a{
							&:hover{
								color: @theme__color__primary;
							}
						}
						> *:not(:last-child) > *{
							border-color: rgba(13,13,13,0.1); 
						    padding-right: 2rem;
					        margin-right: 3rem;
					        @media only screen and (max-width: (@screen__l - 1)){
								padding-right: 1rem;
					        	margin-right: 2rem;
							}
						}
					}
					.col-right{
						align-items: center;		
						.social-link {
                            li {
                                .icon {
                                    color: @topbarcolor;
                                    .text {
                                        font-size: 0;
                                    }
                                    &:hover{
                                    	color: @link__hover__color;
                                    }
                                }
                            }
                        }
					}
				}
			}
			@media only screen and (min-width: @screen__l){
			
				.header.panel {
					> div {
						background: @color-white;
						position: relative;
					}
				} 
			}
			&.sticky {
				.header.panel { 
					> div {
						.lib-css(padding-top, @sticky_padding);
						.lib-css(padding-bottom, @sticky_padding);
					}
				} 
				.sticky-header {
					@media only screen and (max-width: (@screen__l - 1)){
						background: @color-white;
					}
					border-bottom: 1px solid @border-color__base; 
				} 
			}
			&:not(.sticky){
				.header.panel {
					> div {
						.lib-css(padding-top, @headerpadding);
						.lib-css(padding-bottom, @headerpadding);  
					}
				}   
			}
			.header-middle{ 
				@media only screen and (max-width: (@screen__l - 1)){
					border-top: 1px solid @border-color__base; 
				}
				.block.block-search {
					@media only screen and (max-width: (@screen__l - 1)){
						position: static;
					}
					.dropdown{
						.top-search {
							font-size: 2.3rem;
							color: @heading__color__base;  
							margin-right: 3rem;
							.text{
								display: none; 
							}
						}
						.form.minisearch {
							@media only screen and (max-width: (@screen__l - 1)){
								right: 0;
							}
						}
					}
				}
				.header.panel {
					> .flex-layout {
						@media only screen and (min-width: @screen__l) {
							> div {
								flex: 1;
								&.primary-menu-container {
									flex: 2.5;
								}
							}
						}
						@media only screen and (max-width: (@screen__l - 1)){
							position: relative;
							padding-right: 4.5rem;
							.logo-container {
								flex: 1;
								.logo-site {
									display: inline-flex;
									margin-bottom: 1rem;
								}
							}
							.primary-menu-container{
								position: absolute;
								right: 0;
							}
						}
						@media only screen and (max-width: (@screen__xs - 1)){
							padding-right: 0;
							.logo-container {
								flex: auto;
								width: 100%;
								text-align: center;
							    order: -2;
							}
							.primary-menu-container{
								position: static;
							    flex: 1;
    							order: -1;
							}
						}
					}
				} 	
			}
			.header.links{
				margin-right: 2rem;
				@media (min-width: @screen__l) and (max-width: 1439px ){
					letter-spacing: -0.08em;
				}
				li{
					color: @heading__color__base;
					&:not(:hover){
						a{
							color: @heading__color__base; 
						}
					}
					&.authorization-link {
						@media only screen and (min-width: @screen__l) {					
							a:before{
								display: none;
							}
						}
						@media only screen and (max-width: (@screen__l - 1)) {
							a:before{
								font-size: 2.3rem;
							}
						}
						&:after{
							content: '/'; 
						}
					}
				}
			}
			.col-action{
				align-items: center;
			    justify-content: flex-end;
				.minicart-wrapper .action.showcart,
				li{
					.counter.qty{
						min-width: 2rem;
						min-height: 2rem;
						line-height: 2rem;
						top: 0.2rem;
						right: 0.2rem;
						height:auto;	
						font-size: 1.1rem;
						.lib-css(color, @color-white);
						font-weight: @font-weight__bold;
						background-color: @link__hover__color;
					}
				}
				.minicart-wrapper {
					.block-content{
						.subtotal{
							.label{
								font-size: 1.4rem;
							}
							.price-container .price{
								font-size: 1.6rem;  
							} 
						}
					}
				}
				.action-header {
					> li {
						margin: 0 0.7rem;
						&:last-child { 
							margin-right: 0;
						} 
					}
				}
				.hidden-sticky{
					margin-right: 1rem;
				}
				.minicart-wrapper{
					> a:hover{
						&:before{ 
							color: @theme__color__primary;
						}
					}
					@media only screen and (min-width: @screen__m){
						margin-left: 3px;
					}
				}
			}
		}
	}
	.page-footer {
		@media only screen and (max-width: (@screen__s - 1)) {
    		padding-bottom: 5.8rem; 
    		.footer-kids{
    			order: -1;
    		}
    	}
		padding: 0;
		margin-top: 9rem;
		.footer-static_link {
			justify-content: center;
			.footer-links {
				img{
					margin-bottom: 1.6rem;
				}
				@media only screen and (min-width: @screen__s) {
					flex: 1;
					text-align: center;
					.footer-title {
						text-align: center;
					}
				}
				.footer-title {
					margin-bottom: 1.6rem;
					margin-top: 1rem;
				}
				.social-link{
					margin-top: 2rem;
					justify-content: center;
					li{
						&:not(:last-child){
							padding-right: 0.5rem !important; 
						}
						&:not(:first-child) {
							padding-left: 0.5rem !important; 
						}
						a{
							width: 5rem;
						    height: 5rem;
						    display: inline-block;
						    background: transparent;
						    text-align: center;
						    line-height: 5rem;
						    .icon {
							    border-radius: 50%;
							    background-position: bottom right;
							    background-size: 170% 170%;
							    line-height: 5rem;
							    display: block;
							    .transition();
					    	}
						    &:not(:hover) {					    	
						    	.fa-facebook-f {
								    background-image: radial-gradient(rgba(48,0,255,.3) 5%,#3000ff 70%);
								    background-color: @color-white;
								}
								.fa-twitter {
								    background-image: radial-gradient(rgba(5,111,231,.3) 5%,#056fe7 70%);
								    background-color: @color-white;
								}
								.fa-instagram {
								    background-image: radial-gradient(#ffd912 5%,#d71285 70%);
								    background-color: @color-white;
								}
								.fa-dribbble {
								    background-image: radial-gradient(#D41B65 5%,#F2749C 70%);
								    background-color: @color-white;
								}
							}
						    &:hover{
						    	color: @color-white;
						    	.icon {
									background: @theme__color__primary;
						    	}
						    }
						}
					}
				}
			}
			.footer-contents{
				margin: 0 !important;
				p{
					margin-bottom: 1.5rem;
				}
				.phone {
					justify-content: center;
					align-items: center;
					line-height: 1;
					margin-top: 2rem;
					.img-phone{
						img{
							margin: 0;
						}
					}
					h3{
						margin-left: 1.5rem;
						font-size: 3rem;
						margin-bottom: 0;
					}
				}
			}
		}
		.footer-top {
			position: relative;
			padding-bottom: 3rem;
			@media only screen and (max-width: (@screen__s - 1)){
				padding-bottom: 1rem;
			}
			overflow: hidden;
		}
		.footer-bottom{
			margin-top: 0;
			border-top: 1px solid @footer-border-color;
			.container-inner{
				padding: 1.3rem 0; 
			}
		}
	}
}
& when (@media-common = true) {
	// Newsletter
    .block-newsletter-form{
    	@media only screen and (max-width: (@screen__l - 1)){
			background: @color__blue;
		}
    	background: url(../images/bg--newletter.png) center no-repeat;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 100% 100%;
	    padding: 4.5rem 0;
    	.newsletter-form{
    		.flex();
    		justify-content: space-between;
    		align-items: center;
    		.rokan-title{
    			flex: 1;   
    			margin-bottom: 0;
    			@media only screen and (min-width: @screen__s) {
	    			text-align: left; 
	    		}
    			position: relative;
    			&:before{
    				.icon_custom_font("\e937");  
    				.lib-font-size(44);
    				line-height: 1;
    				color: @color-white;
    			}
    			@media only screen and (min-width: @screen__xs) {
	    			padding-left: 8rem;
	    			&:before{
	    				position: absolute;
	    				top: 1rem;
	    				left: 0;      
	    			}
	    		}
    			.module-title{
    				@media only screen and (max-width: 1439px) {
    					font-size: 3.4rem;
    				}
    				line-height: 1;
    				text-transform: capitalize;
    				margin-bottom: 0.5rem;
    				color: @color-white;
    				&:before,
    				&:after{
    					display: none;
    				}
    			}
    			.rokan-description{
    				color: @color-white;
    			}
    		}
    		@media only screen and (max-width: (@screen__m - 1)) {
    			flex-direction: column;
    			.rokan-title{
    				margin-bottom: 3rem;
    			}
		    	.field {
		    		.control{
		    			max-width: 100%;
		    		}
		    	}
    		}
    	}
    	.content{
    		max-width: 43rem;
    		width: 100%;
    	}
    }
    .block.newsletter {
    	.field {
    		.control{
    			.input-focus{
    				flex: 1;
    				input{
    					border: none;
    					border-radius: 0;
    					@media only screen and (max-width: (@screen__m - 1)) {
    						text-align: center;
    						padding: 0;
    					}
    				}
    			}
    			.actions{
    				button{
    					background: @theme__color__primary;
    					color: @color-white;
    					@media only screen and (max-width: (@screen__m - 1)) {
    						width: 100%;
    					}
    				}
    			}
    			@media only screen and (max-width: (@screen__xs - 1)) {
	    			flex-direction: column;
	    			.actions{
	    				margin-top: 2rem;
	    				margin-bottom: 1rem;
	    			}
	    		}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	html:not(.nav-open) .header-container:not(.sticky) .header-bottom {
	    z-index: 1;
	    position: relative;
	}
	html.vertical-open .header-container:not(.sticky) .header-bottom {
		z-index: 26;
	}
	.page-header { 
		.header-container {
			.topbar .topbar-inner .col-right .hotline{
				display: none !important;
			}
			.action-sticky{
				.minicart-wrapper{
					margin-left: 0;
				}
				.action-header{
					> li{
						margin: 0 0.5rem;
						> a,
						.minicart-wrapper > a{
							&:before{
								.lib-font-size(24);
								color: @navigation-desktop-level0-item__color; 
							}
						}
					}
				}
				.minicart-wrapper .action.showcart,
				li {
					.counter.qty{
						min-width: 2rem;
					    min-height: 1rem;
					    height: 2rem;
					    line-height: 1; 
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	
	.columns .column.main .block:last-of-type{
		margin-bottom: 0 !important;
	}
}
// Change gobal style
& when (@media-common = true) {
	.product-item {
		.product-label{
			font-family: @font-family__base;
			font-weight: @font-weight__semibold;
			.border_radius(3px);
    		font-size: 1.4rem;
    		text-transform: uppercase;
    		padding: 4px;
    		min-width: 5rem;
    		text-align: center;
			&.onsale{
				z-index: 2;
			}
			&.newlabel{
				right: 2rem;
				left: auto;
			}
		}
	}
	.block-recent-posts{
		margin-bottom: 6rem;
	}
	body{
		#newsletter_pop_up {
			.newletter_popup_close{
				background-color: @text__color;
				border-radius: 50%;
				width: 41px;
				height: 41px;
				border: 2px solid @color-white;
			    border-radius: 50%;
			    top: -21px;
			    right: -21px;
				&:before{
					font-size: 3.6rem;
				}  
			}
		}
		#newsletter_pop_up .col-newsletter-popup .content-popup .control input{
			padding-left: 3rem;
		}
	}
	@media (min-width: 576px) and (max-width: 1199px) {
		.page-footer{
			margin-top: 16rem;
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	@media only screen and (min-width: @screen__l){
		.page-products .products-grid .product-items .product-item {
			width: 33.33333333%;
		}
	} 
	//Product grid
	.product-item {
		.product-item-name, 
		.product.name a{
			.lib-font-size(15);
		}
	}
	// Remove padding in product owl slider
	.cms-index-index{
		.products-grid{
			.product-items{
				&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
				&.owl-carousel{
					margin: 0;
					width: 100%;
					.product-item{
						padding: 0;
					}
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel {
				.owl-stage-outer {
					border: none; 
					padding: 0 1px;
    				margin: 0 -1px;  
				} 
				.first-active-item:before {
					display: none;
				}
				.owl-dots:not(.disabled) {
					.owl-dot{
						&.active,&:hover{
							background: @heading__color__base;
						}
					}
				}
			}
			&:not(.owl-carousel){
				border-left: 0;
			}
			.product-item{
				margin: 0 0 3rem 0;
				border: 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height:1;
					position: relative;
					&:before{
						content: '';
						left: 0;
						right: 0;
						bottom: 0;
						top: 0;
						background: rgba(89,35,10,0.1);
						position: absolute;
						z-index: 2;
						pointer-events: none;
						.transition();
						opacity: 0;
						visibility: hidden;
					}
				}
				.product-item-info {
					padding: 0;
					&:before {
						display:none; 
					}
					.product-item-details {
						padding: 0;
						position: relative;
						.flex();
						flex-direction: column;
					    justify-content: flex-start;
					    align-items: center;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.product-reviews-summary{
						    position: relative;
						    z-index: 1;
						}
						.product-item-name{
							text-align: center;
						}
						.price-box{
							order: 3;
							*{
								.lib-font-size(15);
							}	
						}
						.product-item-actions {
							position: absolute;
							right: 0;
							left: 0;
							bottom: 100%;
							text-align: center;
							justify-content: center;
							z-index: 3;
							.flex();
							margin-bottom: 3rem;
						}
						.field.choice.related {
							&:hover {
								.label:before {
			    					color: @color-white;
			    				}
		    				}
	    				}
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action,
					.field.choice.related{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color__blue;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 0 5px;
						&:before{
							color: @color-white;
						}
						&:hover {
							background: @theme__color__primary;
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @color-white; 
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
								color: @color-white;
							}	
						}
					}
					
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.4rem;
									overflow: visible;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{
					.product-item-photo {
						&:before{
							opacity: 1;
							visibility: visible;
						}
					}		
					.product-item-info{
						&:before{
							display: none;
						}
					}
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);  
					}
					.actions-secondary{
						> *{
							&:nth-child(1) {
								@animation: zoomIn 600ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&:nth-child(2){
								@animation: zoomIn 500ms ease-in-out;
									.lib-css(animation, @animation, @_prefix: 1);
							}
							&:nth-child(3){
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
				}
			}	
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	section, .section, .product.info.detailed, .block.related, .block.upsell,.hot-deal-tab-slider {
		@media only screen and (max-width: (@screen__l - 1)){
			margin-bottom: 6rem;
		}
	}
	.margin_0 {
	    margin: 0;
	}
}
// Home page
@nivo-controlNav-bg: rgba(13,13,13,0.1);
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider{
		margin-bottom: 5.5rem;
		.nivo-controlNav:not(.nivo-thumbs-enabled) .nivo-control.active, 
		.nivo-controlNav:not(.nivo-thumbs-enabled) .nivo-control:hover{
			background: @heading__color__base;
		}
		@media only screen and (min-width: @screen__l){
			.nivo-controlNav {
				bottom: 60px;
			}
		}
		.nivo-directionNav a {
			border-radius:100%;
			&:before {
				color: @color-white;
				transform: rotate(0deg) !important;;
				-webkit-transform: rotate(0deg) !important;;
				-o-transform: rotate(0deg) !important;;
				-ms-transform: rotate(0deg) !important;
				font-size: 3rem;
			}
			&.nivo-prevNav {
				&:before {
					.icon_custom_font("\e933"); 
				}
			}
			&.nivo-nextNav {
				&:before {
					.icon_custom_font("\e934"); 
				}
			}
			&:not(:hover){
				background: rgba(255,255,255,0.2);
				&:before {
					color: @color-white;	
				}
			}
		}
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text{
				h2,h3,h5{
					font-family:  @otherfont-family-one;
					font-weight: @font-weight__regular; 
				}
				h4{
					font-family: @otherfont-family-two;
				}
				p {
					max-width: 56rem;
				}
				.btn{
					background: url(../images/kids-bg-1.png) center no-repeat;
			    	background-size: 100% 50px;
			    	font-weight: @font-weight__semibold;
			    	text-transform: capitalize;
					&:last-child{

					}
				}
			}
		}
	}
	.category-tab {
		.container_horizontal_tab_postions{
			&.wrapper_category_product_tabs,
			&.wrapper_product_tabs{
				.rokan-title{ 
					.module-title{
						color: @heading__color__base; 
					}
				}
			}
		}
	}
	.container_horizontal_tab_postions{
		&.wrapper_category_product_tabs,
		&.wrapper_product_tabs{
			.rokan-title{ 
				.module-title{
					margin: 0;
				}
			}
			.ui-tabs-nav{
		        white-space: nowrap;
    			overflow-y: hidden;
				margin-bottom: 3rem;
				margin-top: -2.5rem; 
				li{
					display: inline-flex;
					&:not(:first-child){
						padding-left: 0.5rem;
					}
					&:not(:last-child){
						padding-right: 0.5rem;
					}
					a{
					    
					    background: url(../images/bg_menu.png) center no-repeat; 
				    	background-size: 100% 100%;
				    	font-weight: @font-weight__semibold;
				    	text-transform: capitalize;
				    	font-size: 18px;
				    	padding: 8px 25px;
				    	color: @color-white !important;
					}
					&.ui-tabs-active,
					&:hover{
						a{
							background: url(../images/kids-bg-1.png) center no-repeat;  
						    background-size: 100% 100%;
						}
					}
				}
			}
		}
	}
	div[class*="wrapper_sub_category_tabs"][style*="background"] {
		padding: 0;
		background-position: center 70%;
		background-size: auto;
		background-attachment: initial;
		.short-des {
			color: @footercolor;
		}
	}
	.wrapper_sub_category_tabs{
		&.container_horizontal_tab_postions{
			.category-thumb-section {
				padding: 0 15px;
				@media only screen and (min-width: @screen__m){
					box-sizing: border-box;
				    margin-left: auto;
				    margin-right: auto;
				    max-width: 1440px;
				    padding-left: 15px;
				    padding-right: 15px;
				    width: auto;
				}
				@media only screen and (min-width: @screen__s){
					width: 95% !important;
				    margin-left: auto;
				    margin-right: auto;
				}
			}

		}
		&.onlyparent .list-category-item .category-item a.horizontal {
			transition: none;
		    flex-wrap: wrap;
			background: transparent;
			.lib-css(border-radius, 0); 
		    justify-content: center; 
			img {
				max-width: 100%;
			}
			&:hover {
				color: @color-white;
				img {
				    @transform: scale(1);
				    .lib-css(transform, @transform, @_prefix: 1);
				}
			}
			.thumb-infor {
			    margin-top: 4rem;
			    text-align: center;
			    background-position: center center;
			    font-family: @otherfont-family-one;
			    position: absolute;
			    top: 50%;
			    left: 0;
			    right: 0;
			    @transform: translateY(-50%); 
			    .lib-css(transform, @transform, @_prefix: 1);
			    .cate-name.cate-count {
			    	background: url(../images/kids-bg-2.png) center no-repeat;
				    background-repeat: no-repeat;
				    background-size: 100% 100%;
			    	font-weight: @font-weight__regular;
			    	font-size: 36px;
				    padding: 3px 2.8rem; 
				    display: inline-block;
				    width: auto;  
				    &:hover {
				    	background: url(../images/kids-bg-1.png) center no-repeat;
				    	 background-size: 100% 100%;
				    }
				}
			}
		}
	}
	.banner {
		.banner-img {
			img{
				width: 100%;
			}
		}
	}
	.view-all-products{
	    display: flex;
    	justify-content: center;
    	margin: -3.5rem 0 4rem 0;
    	a{
			background: url(../images/kids-pr.png) center no-repeat;
			background-size: 100% 100%;
    		background-position: center center;
			font-size: 1.3rem;
			color: @heading__color__base;
			font-weight: @font-weight__bold;
			text-transform: uppercase; 
			letter-spacing: .2em;
    		padding: 21px 28px;
    		&:hover{
    			color: @theme__color__primary;
    		}
    	}
	}
}
// Blog page
& when (@media-common = true) {
	div[class="top-banner-blog-container"][style*="background-image"] .top-banner-blog-title{
		color: @color-white;
	}
	.sidebar .widget-post-tab .tab-content ul li .post-tab-info h3 a{
		font-family: @otherfont-family-one;
		font-size: 1.8rem; 
		&:not(:hover) {

		}
	}
	.post-list-wrapper {
		.blog-list-post{ 
			.item-post-full{			
				.blog-post-info{
					.post-title{
						margin-bottom: 1rem;
						a {
							font-size: 3rem;
							font-family: @otherfont-family-one;
						    line-height: 1;
						    text-align: center;	
						    margin-bottom: 1rem;	
						}
					    a:not(:hover){
						}
					}	
				}
			}
		}
	}
	.block-recent-posts{
		.post-list-wrapper {
			.blog-list-post{ 
				.item-post-full{
					.flex();
					.blog-post-thumb {
						a {
							position: relative;
							&:after {
								position: absolute;
							    content: '';
							    top: 0;
							    bottom: 0;
							    left: 0;
							    right: 0;
							    background: url(../images/bg-blog.png) center no-repeat; 
							    background-size: cover;
							}
						}
						.time-conment {
						    left: 1.5rem;
    						top: 2.5rem;
						    color: @color-white;
						    background: @theme__color__primary;
						    .lib-css(border-radius, 1rem);
						    padding: 10px;
						    min-width: 7rem;
						    text-align: center;
						    font-weight: @font-weight__semibold;
						    font-size: 1.6rem;
						    line-height: 1.3;
						    text-transform: capitalize;
						    .date {
						        >span {
						            display: block;
						            font-size: 2.4rem;
						            text-transform: uppercase;
						        }
						    }
						}
					}
					.blog-post-info{
						border: none;
						text-align: center;
						padding: 3rem 1.5rem 0 1.5rem;
						.post-category-name{
							transform: none;
							position: static;
							background: transparent;
							margin-bottom: 0.5rem;
							padding: 0; 
							display: none;
							a{
								font-size: 1.4rem;
								color: @theme__color__primary;
								font-style: italic;
							}
						}
						.desc{
							font-size: 1.4rem;
							color: @text__color;
							margin: 0;
						}
					}
				}
			}
		}
	}
	// Post view
	.blog-post-view {
		.post-title {
			font-family: @otherfont-family-one; 
			font-size: 4rem; 
		}
		.blog-post-thumb{
			a{
				display: block;
				font-size: 0;
			}
		}
		.post-bottom{
			text-align: left; 
		}
	}
}
& when (@media-common = true) {
	.cms-about-us .page-footer{
		.section.connect{
			margin-bottom: 12rem;
		}
	}
	.cms-index-index .page-footer{
		margin-top: 0;
	}
} 