// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: 600; 
@heading__line-height__base: 1.2;
@heading__color__base: #0d0d0d;

@headerpadding: 0; // Make header height bigger than menu height
@sticky_padding: 5px;
// Color 
@theme__color__primary: #fcb800; 
@link__hover__color: #fcb800;
// Topbar
@topbarbg: #f5f5f5;
@topbarcolor: #333333;
@mainsectionbg: #fdf4ed;
// Header
@header__background-color: @color-white;
@header-border-color: #c4c4c4;

@header_sticky_bg: @header__background-color;
@header_sticky_border: @border-color__base;
@header-icons-color: @heading__color__base;

// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 2px;

// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.5rem;


//Level 0
@navigation-desktop-level0-item__color: #000000;
@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 15;
@navigation-level0-item__font-weight: @navigation-desktop__font-weight;

// Level 1
@level1_color: @heading__color__base;

// Vertical menu
@submenu_vertical_full_width_padding: 3rem;

@vertical_menu_title_font-size: 1.6rem;
@vertical_menu_title_color: #333;
@vertical_menu_title_text-transform: capitalize;

@vertical_menu_border-width: 0;

// Level 0

@vertical_level0_color: #e6e6e6;
@vertical_level10_border: false;
@vertical_level10_size: 14px;
@vertical_icon_fontsize: 1.6rem;
@vertical_menu_title_padding: 0 2rem;
@vertical_menu_title_padding-mobile: 0 2rem;
@vertical_level10_padding: 0 2rem;
@vertical_level10_desktop_line-height: @line-height__base;
@vertical_level10_padding: 0.635rem 2rem;
@level0_vertical_font_weight: @font-weight__regular;


@level1_vertical_font_weight: @font-weight__bold;
@level1_vertical_font_size: 1.4rem;
@level1_vertical_color: @theme__color__primary;

/* footer */
@footer-title-color: @heading__color__base;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @font-weight__bold;
@footer-title-transform: capitalize;
@footer__background-color: @color-white;


@footercolor: @heading__color__base;
@footer-border-color: #e6e6e6;

@footer-bottom_bg: @color-white;
@footer_bottom_color: @footercolor;


//Module variables
//Title
@module_margin_bottom: false;
@module_title-size: 2rem;
@module_title-text-transform: capitalize;
@module_title_text-align: left;
@short_des_font_size: 1.4rem;


@margin_gobal_value: 6rem;
// Product
@price_color: #222;
@product-name-link__color: #007aff;
@product-name-link__color__visited: @product-name-link__color;
// Sale new label
@sale_label_bg: #4cd964;
@sale_label_color: #fff;

@new_label_bg: @link__hover__color;
@new_label_color: @color-white;


// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @button__color;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: #888;
//Button variable
@button__border-radius: 30px; 
@button__color: #333;
@button__padding: 10px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: @button__border-radius;

@timeline-loading-item_bg: #ccc;


// Slider heading
@slider_h2_font-size-xxl: 48px;
@slider_h2_font-size-xl: 48px;
@slider_h2_font-size-l: 35px;
@slider_h2_font-size-s: 30px;
@slider_h2_font-size-xs: 15px;
@slider_h2_font-weight: @font-weight__bold;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.2;

@slider_h3_font-size-xxl: 43px;
@slider_h3_font-size-xl: 43px;
@slider_h3_font-size-l: 33px;
@slider_h3_font-size-s: 26px;
@slider_h3_font-size-xs: 20px;
@slider_h3_font-weight: @font-weight__semibold;
@slider_h3_letter-spacing: false;
@slider_h3_text-transform: capitalize;
@slider_h3_margin: 0;
@slider_h3_line-height: 1;

@slider_p_font-size-xxl: 14px;
@slider_p_font-size-xl: 14px;
@slider_p_font-size-l: 14px;
@slider_p_font-size-s: 13px;
@slider_p_font-size-xs: 10px;
@slider_p_margin: 12px;
@slider_p_line-height: 1.1;
@slider_p_text-transform: uppercase;

@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 8px;
@slider_button_padding: @button__padding;
@slider_button_padding-s: 5px 10px;
@slider_button_bg: @theme__color__primary;
@slider_button_margin-top: 20px;

@slider_button_margin-top: 36px;
@slider_button_bg: @theme__color__primary;


@nivo-directionNav-bg: #dddddd;
@nivo-directionNav-width: 40px;
@nivo-directionNav-height: 40px;
@nivo-directionNav-border-radius: @button__border-radius;

@owl-nav-bg: @nivo-directionNav-bg;
@owl-nav-border-radius: @button__border-radius;
// Category tab, product tab
//  Variables
//  _____________________________________________

@products-tab-text-align: center;

@new_label_bg: #ef4646;
@new_label_color: @color-white;

// Supper deal
@banner_padding: false;
@deal_product_name_size: 1.4rem;
@deal_number_bg: false;
@deal_number_font-size: 2.4rem;
@deal_number_font-weight: @font-weight__bold;
@deal_number_color: @color-white;
@deal_number_width: 5rem;
@banner_deal_number-border-radius: 50%;

// Short des

@des_supper_deal_color: @heading__color__base;
@des_supper_deal_size: 3rem;
@des_supper_deal_font-weight: @heading__font-weight__base;
// Change gobal style
& when (@media-common = true) {
	.product-item {
		.special-price .price, 
		.minimal-price .price,
		.price-box .price{
			font-weight: @font-weight__semibold;
		}
	}
	.rokan-title{
		margin-bottom: 0;
		background-color: @mainsectionbg;
		.module-title{
			display: inline-block;
			margin-bottom: 0;
			background-color: @theme__color__primary;
			border-radius: 0 0 1.5rem 0;
			padding: 1.2rem 4.5rem 1.2rem 2rem;
		}
	}
	.cms-index-index{
		background-color: #eee;
	}
	.wrapper-the-blue-sky-slider{
		.nivo-directionNav{
			a{
				&.nivo-nextNav{
					right: 0;
					transform: translateY(-50%) !important;
				}
				&.nivo-prevNav{
					left: 0;
					transform: translateY(-50%) !important;
				}
			}
		}
	}
	.wrapper-the-blue-sky-slider,
	body .owl-carousel {
		.nivo-directionNav,
		.owl-nav {
			a,
			button{
			    &.nivo-nextNav,
			    &.owl-next{
			    	border-top-right-radius: 0;
    				border-bottom-right-radius: 0;
			    }
			    &.nivo-prevNav,
	  			&.owl-prev{
	  				border-top-left-radius: 0;
    				border-bottom-left-radius: 0;
	  			}
			}
		}
		.owl-item {
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		    -moz-transition: all .3s ease;
		    -o-transition: all .3s ease;
		    transition: all .3s ease;
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			}
		}
		&:hover{
			.nivo-directionNav,
			.owl-nav {
				a,
				button{
					&.nivo-nextNav,
					&.nivo-prevNav,
		  			&.owl-next,
					&.owl-prev{
						@transform: translateY(-50%) translateX(0);
			    		.lib-css(transform, @transform, @_prefix: 1);
					}
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	.toolbar.toolbar-products + .products-grid .product-item .product-item-info .actions-secondary .action.tocompare, 
	.toolbar.toolbar-products + .block + .products-grid .product-item .product-item-info .actions-secondary .action.tocompare, 
	.block.crosssell .product-item .product-item-info .actions-secondary .action.tocompare, 
	.search.results .product-item .product-item-info .actions-secondary .action.tocompare{
		display: inline-flex;
	}
	.section{
		.products{
			margin: 0;
		}
	}
	.product-info-main{
		.value{
			ul,ol{
				padding-left: 1.6rem;
				margin-bottom: 0;
			}
			&:after,
			&:before{
				content: '';
				display: table;
				clear: both;
			}
		}
	}
	.product-info-main, 
	.product-options-bottom {
		.product-addto-links {
			.action{
				.border_radius(50%);
			}
		}
	}
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid,
	.section .products-list{
		.owl-carousel .owl-stage-outer{
			padding-right: 1px;
			padding-left: 1px;
			margin-left: -1px;
			margin-right: -1px;
		}
		.product-items{
			.product-item{
				.product-item-info {
					&:before {
						display:none; 
					}
					.product-item-details {
						padding: 2rem 0 0;
						.product-item-inner{
							.transition();
						}
						.product-item-actions{
							.flex();
							align-items: center;
							justify-content: center;
							position: absolute;
						    left: 0;
						    right: 0;
						    text-align: center;
						    background: @color-white;
						    z-index: 2;
						    .transition();
						}
						.actions-primary{
							position: static;
							opacity: 1;
							visibility: visible;
							height: auto;
							width: auto;
							border-radius: 0;
							background-color: transparent;
							padding: 0 6px;
							form{
								position: relative;
								top: -2px;
							}
							.action.tocart:before{
								.lib-font-size(16);
							}
							&:hover{
								.action.tocart:before{
									color: @theme__color__primary;
								}
							}
						}
						.actions-secondary{
							position: static;
							padding: 0;
							justify-content: center;
							box-shadow: none;
							transform: none;
						    opacity: 1;
						    visibility: visible;
							&:after,
							&:before{
								display: none;
							}
							a{
								font-size: 0;
								flex: unset;
								line-height: 1;
								padding: 0 6px;
								&:before{
									.lib-font-size(18);
									color: @text__color;
								}
								&.link-quickview{
									position: relative;
									top: -2px;
									&:before{
										.lib-font-size(23);
									}
									&.loading{
										&:before{
											position: relative;
											top: 5px !important;
										}
									}
								}
								span{
									display: none;
								}
							}
						}
						
					}
				}
				&:not(:hover){
					.product-item-info {
						.product-item-details {
							.product-item-actions{
							    top: -1rem;
							    opacity: 0;
							    visibility: hidden;
							}
						}
					}
				}
				&:hover{	
					.product-item-info{
						&:before{
							display: none;
						}
					}
					.product-item-actions{
						top: -3rem;
						opacity: 1;
						visibility: visible;
						.actions-secondary{
							bottom: -1rem;
						}
					}	
				}
			}	
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
		.block.related{
			.products-grid .product-items {
				.owl-item{
					padding-bottom: 1px;
				}
				.product-item{
					&:not(:hover) {
						.product-item-info .product-item-details .product-item-actions{
							opacity: 1;
							visibility: visible;
							.actions-secondary{
								opacity: 0;
								visibility: hidden;
							}
						}
					}
					&:hover{
						.product-item-info .product-item-details .product-item-actions{
							top: -2rem;
							.actions-secondary{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
// Header
& when (@media-common = true) {
	.header-container{
		// Topbar
		.topbar_advertisement{
			line-height: 0;
		}
		.topbar_inner{
			padding: 6px 0;
			p{
				margin: 0;
			}
			a{
				&:not(:hover){
					.lib-css(color, @topbarcolor);
				}
			}
		}
		// Language currency
		.container-setting-language-currency{
			.switcher{
				padding: 0 12px;
				.lib-css(border-color, @header-border-color);
				&:first-child{
					padding-left: 1.5rem;
					margin-left: 1.5rem;
					border-left: 1px solid @header-border-color;
				}
			}
		}
		.hotline{
			.icon{
				display: none;
			}
			.content{
				.flex();
				align-items: center;
				p{
					color: @topbarcolor;
				}
				h5{
					padding-left: 3px;
					a{
						color: #ff3b30;
					}
				}
			}
		}
		.header-middle{
			> .flex-layout{
				padding: 1.5rem 0;
			}
			.header.links {
				flex-direction: column;
				position: relative;
				padding-left: 4.5rem;
				margin-left: 3.2rem;
				li{
					&.authorization-link{
						margin-top: 0;
						margin-bottom: 3px;
						a{
							&:before{
								position: absolute;
								left: 0;
								top: -4px;
								width: 4rem;
								height: 4rem;
								background-color: @theme__color__primary;
								.lib-font-size(26);
								border-radius: 50%;
							    display: inline-flex;
							    align-items: center;
							    justify-content: center;
							    padding-right: 0;
							    color: @header-icons-color;
							}
						}
						&:after{
							display: none;
						}
					}
					&:last-child{
						padding-left: 0;
					}
				}
			}
			.col-action{
				.action-header{
					.minicart-wrapper{
						margin-left: 0.7rem;
					}
					.wishlist{
						.counter.qty{
							background-color: @heading__color__base;
							color: @color-white;
						}
					}
				}
			}
		}
		// Search
		.block.block-search {
			.block-content {
				.dropdown {
					.form.minisearch {
						.search-form{
							padding-left: 3rem;
							input{
								height: 3.8rem;
							}
							&:before{
								.icon_custom_font("\e905");
								position: absolute;
								left: 17px;
								top: 50%;
    							@transform: translateY(-50%);
    							.lib-css(transform, @transform, @_prefix: 1);
							}
						}
						.actions {
							.action.search{
								font-weight: @button__font-weight;
								top: 0;
								right: 0;
								bottom: 0;
								border-top-left-radius: 0px;
								border-bottom-left-radius: 0;
								padding: 0 2rem;
								&:before{
									display: none;
								}
								span{
									.lib-reset-width();
								}
							}
						}
					}
				}
			}
		}
		//search key
		.search-key{
			ul{
				.lib-list-reset-styles();
				.lib-list-inline();
				li{
					margin-bottom: 0;
					a{
						.lib-font-size(13);
						text-transform: uppercase;
						&:not(:hover){
							color: @text__color
						}
						padding: 0 1rem;
						margin-right: 0.7rem;
						&:first-child{
							padding-left: 0;
						}
					}
					&:not(:last-child){
						a{
							position: relative;
							&:after{
								position: absolute;
								right: 0;
								top: 50%;
								@transform: translateY(-50%);
								.lib-css(transform, @transform, @_prefix: 1);
								content: '';
								width: 1px;
								height: 1.1rem;
								background: @border-color__base;
							}
						}
					}
				}
			}
		}
		.sticky-header{
			.flex-layout{
				flex-wrap: nowrap;
			}
		}
		&.sticky{
			.sticky-header {
				.lib-css(padding, @sticky_padding);
				border-bottom: 1px solid @header_sticky_border;
				z-index: 102;
			}
			.hidden-sticky{
				display: none !important;
			}
		}
	}
	// Vertical menu
	.col-menu-on-left{
		flex: 1;
	}
	.rokan-vertical-menu{
		margin-right: 3rem;
	}
	header .verticalmenu.navigation {
		.title-category-dropdown{
			min-width: 21rem;
			max-width: 21rem;
			&:before{
				.icon_custom_font("\e904");
			}
		}
		.list-category-dropdown{
			

			li.level0 {
				> a{
					text-transform: capitalize;
				}
				&:hover{
					> a{
						color: @theme__color__primary;
						&:before{
							display: none;
						}
					}
				}
			}
		}
	}
	@media (max-width: 1440px) and (min-width: 1200px){
		body .navigation .level0 > .level-top{
			padding: 0 10.5px;
		}
		.header-container .header.links li{
			a{
				font-size: 0;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.cms-index-index .page-header{
		z-index: inherit;
	}
	header {
		.topbar{
			z-index: unset;
		}
		.header-container {
			&:not(.sticky){
				.for-full-width-menu  {
					padding-right: 24rem;
				}
			}
		}
		.top-search-not-dropdown{
			flex: 1;
			padding-left: 1.5rem;
			max-width: 80rem;
		}
		.verticalmenu.navigation {
			.list-category-dropdown{
				background-color: #252221;
				padding: 1rem 0;
				li.level0 {
					> .submenu{
						min-height: unset;
						a{
							padding-left: 0;
							padding-right: 0;
						}
						.subchildmenu {
							&.mega-columns{
								&.columns2{
									> li{
										float: none;
										display: inline-block;
										width: 100%;
									}
									@column-count: 2;
									.lib-css(column-count, @column-count, @_prefix: 1);
									margin-bottom: -6rem;
									background-position: right bottom;
								}
							}
							.title-cat-mega-menu{
								border-bottom: 1px solid #e1e1e1;
							}
						}
					}
					&:hover{
						> a{
							color: @theme__color__primary;
							&:before{
								display: none;
							}
						}
						> .submenu{
							@box-shadow: 2px 3px 6px rgba(0,0,0,.2);
							.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						}
					}
				}
			}
		}
		.navigation li.level0.fullwidth>.submenu{
			width: calc(~'100% - 21rem');
			left: 21rem;
		}
		.verticalmenu.navigation .list-category-dropdown li.level0:hover > .submenu{
			background-position: right bottom;
		}
	}
	.wrapper-the-blue-sky-slider .container-the-blue-sky-slider .the-blue-sky-banner-text.left_top{
		left: 10%;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.logo-container{
			order: 1;
		}
		.top-search-not-dropdown{
			order: 3;
			flex: 0 0 100%;
			margin-top: 1.5rem;
			input{
				height: 3.8rem;
			}
		}
		.col-action{
			order: 2;
		}
		.header-middle  {
			.header.links {
				li.authorization-link{
					a:before{
						top: -9px !important;
					}
				}
			}
		}
		.topbar_inner{
			> .flex-layout{
				justify-content: center !important;
			}
		}
		&.sticky{
			.header-middle{
				padding-right: 55px !important;
			}
			.header-content.center-element{
				position: static;
				.static-sticky,
				.for-full-width-menu,
				.col-menu{
					position: static;
				}
				.nav-toggle{
					position: absolute;
				    right: calc(~'2.5% + 15px');
				    left: auto;
				}
			}
		}
	}
	.verticalmenu.navigation .list-category-dropdown li.level0 {
		a {
			.menu-thumb-icon{
			    margin-right: 1rem;
			}
		}
		> a{
			color: @navigation-desktop-level0-item__color;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container {
		.container-setting-language-currency {
			.flex();
			align-items: center;
			justify-content: center;
			.switcher:first-child{
				border-left: 0 !important;
				margin-left: 0 !important;
			}
		}
		.header-middle .header.links{
			display: none;
		}
		.col-menu{
			justify-content: space-between;
		}
	}
}
// Footer
& when (@media-common = true) {
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
	}
	.page-footer{
		border-top: 2px solid @theme__color__primary;
		.logo-footer{
			margin-bottom: 1.5rem;
		}
		.footer-static_link {
			.footer-links{
				.block-static-block{
					margin: 0;
				}
				.footer-title{
					margin-top: 0;
				}
				&.not-collapse-mobile{
					.footer-title{
						display: none;
					}
					p{
						margin-bottom: 2rem;
					}
					.footer-contents{
						margin-top: 2rem;
						
					}
				}
				&.square-social{
					.social-link{
						margin-top: 0.5rem;
						li{
							&:not(:last-child){
								padding-left: 0.8rem !important;
							}
							&:not(:first-child){
								padding-left: 0.8rem;
							}
							a{
								border-radius: 50%;
								border: 2px solid #999;
								&:not(:hover){
									span{
										color: #999 !important;
									}
								}
								&:hover{
									border-color: @theme__color__primary;
								}
							}
						}
					}
				}
			}
		}
		.footer-top > .footer.content{
			padding-top: 2rem;
		}
		.footer-payment{
			padding: 0.5rem 0;
			border: 1px solid @border-color__base;
			border-width: 1px 0;
			margin-top: 4rem;
			.payment-use,
			.secured {
				> *{
					padding: 1rem 0;
				}
				h4{
					margin: 0;
					display: inline-flex;
					font-weight: @font-weight__bold;
					padding-right: 3px;
				}
			}
		}
		.footer_hot_search_market{
			padding: 3rem 0;
			.ovic-keyword{
				.flex();
				align-items: center;
				.title,
				h5{
					display: inline-flex;
					margin: 0;
					.lib-font-size(14);
					font-weight: @font-weight__bold;
				}
				ul{
					.flex();
					li{
						display: inline-block;
						margin-bottom: 0;
						a{
							display: block;
							&:not(:hover){
								color: @topbarcolor;
							}
						}
						&:not(:last-child){
							a{
								padding-right: 8px;
    							margin-right: 5px;
    							position: relative;
    							&:after{
    								content: '';
    								height: 1.4rem;
    								width: 1px;
    								background: @topbarcolor;
    								position: absolute;
    								top: 50%;
    								right: 0;
    								@transform: translateY(-50%);
    								.lib-css(transform, @transform, @_prefix: 1);
    							}
							}
						}
					}					
				}
			}
		}
		.footer-bottom{
			margin-top: 0;
			border-top: 1px solid @border-color__base;
		}
	}
}	
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer .footer-static_link{
		flex-wrap: nowrap;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	body .page-footer{
		.footer-static_link {
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 25%;
    				max-width: 25%;
				}
			}
		}
	}
}
// Box: slider + product + banner on top;
& when (@media-common = true) {
	.box-on-top{
		position: relative;
		.adver-banner{
			position: absolute;
			top: 0;
			@transform: translateX(100%);
			max-height: 100%;
			overflow: hidden;
			.lib-css(transform, @transform, @_prefix: 1);
			&.right{
				right: 0;
				@transform: translateX(100%);
				.lib-css(transform, @transform, @_prefix: 1);
			}
			&.left{
				left: 0;
				@transform: translateX(-100%);
				.lib-css(transform, @transform, @_prefix: 1);
			}
		}
		.section{
			.products{
				margin: 0;
			}
			.product-label{
				display: none;
			}
		}
		.content-on-top{
			max-width: 1730px;
			margin: auto;
		}
		.slider-product{
			position: relative;
			.section{
				.owl-carousel.owl-drag .owl-item{
					background-color: @color-white;
					&:not(:last-child){
						.item-row {
							.product-item{
								border-right: 0;
							}
						}
					}
					.item-row {
						.product-item{
							.product-item-info{
								.flex();
								flex-direction: row-reverse;
								width: auto;
								align-items: flex-start;
								> *{
									flex: 1;
									width: auto;
								}
							}
							.product-item-photo{
								padding-right: 0;
								padding-left: 1.5rem;
								max-width: 50%;
							}
							.product-reviews-summary{
								display: none;
							}
							
							
						}
					}
				}
			}
		}
		.product-on-left-slider{
			position: relative;
			background-color: @color-white;
			.rokan-title{
				background-color: #ff5100;
				text-align: center;
				.lib-css(border-radius, @button__border-radius, @_prefix: 1);
				position: relative;
				.module-title{
					color: @color-white;
					.lib-font-size(18);
					margin-bottom: 0;
					padding: 1rem 0;
					background-color: transparent;
					&:before{
						position: absolute;
					    content: '';
					    top: 100%;
					    left: calc(~'50% - 10px');
					    width: 20px;
					    height: 10px;
					    border-top: 10px solid;
					    border-top-color: #ff5100;
					    border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					}
				}
			}
			.products-grid{
				.product-item{
					border: 0;
				}
				.products-grid .product-items.owl-carousel .owl-stage-outer{
					border: 0;
				}
			}
			.stactic-product{
				border: 1px solid @border-color__base;
				.row{
					margin: 0;
				}
				div[class*="col-"]{
					padding: 1.4rem 1rem;
					border: 1px solid @border-color__base;
				}
				a{
					display: block;
					text-align: center;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.box-on-top{
		position: relative;
		flex-wrap: nowrap;
		.adver-banner{
			&.left{
				left: 21rem !important;
			}
		}
		.section{
			margin: 0;
		}
		.content-on-top{
			padding-left: 21rem;
			flex-wrap: nowrap;
		}
		.slider-product{
			position: relative;
			.section{
				&:not(.slider-wrapper ){
					position: absolute;
					left: 1rem;
					right: 1rem;
					bottom: 7px;
					margin: 0;
					z-index: 3;
				}
			}
		}
		.product-on-left-slider{
			max-width: 21rem;
			.flex();
			flex-direction: column;
			justify-content: space-between;
			.rokan-title{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 22;
				@transform: translateY(-100%);
				.lib-css(transform, @transform, @_prefix: 1);
			}
			.products-grid{
				max-width: 21rem;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.box-on-top{
		.content-on-top{
			display: block;
		}
		> div{
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
// Supper deal
& when (@media-common = true){
	.hot-deal-tab-slider {
		.supper-deal-title{
			background-size: cover;
    		background-repeat: no-repeat;
    		padding: 0 2.2rem 0 0;
			h2{
				margin-bottom: 0;
				color: @color-white;
				.lib-font-size(36);
				background-color: #ff1212;
			    padding: 10px 20px;
			    border-radius: 0 0 15px 0;
			    margin: 0;
			}
			> *{
				margin: 0;
				display: inline-flex;
				align-items: center;
				line-height: 1;
				flex-wrap: wrap;
				padding-left: 1.5rem;
			}
			.view-all-deal{
				background-color: @color-white;
				padding: 10px 16px;
			}
		}
		.short-des{
			span{
				color: #f40909;
				font-weight: @font-weight__bold;
				.lib-font-size(36);
				padding-left: 3px;
			}
		}
		
		.super-deal-countdown {
			.time_circles {
				padding: 1rem 0;
				margin: 0;
				max-width: 100%;
				.number{
					border: 2px solid @color-white;
		    		border-radius: 50%;
		    	}
		    	.text{
		    		color: @color-white;
		    	}
		    	> div{
		    		padding: 0;
		    		&:not(:last-of-type){
		    			.number{
		    				position: relative;
		    				margin-right: 1.5rem;
		    				&:after{
				    			content: ':';
				    			position: absolute;
				    			right: -1.5rem;
				    			top: 50%;
				    			@transform: translateY(-50%);
				    			.lib-css(transform, @transform, @_prefix: 1);
				    			color: @color-white;
				    		}
			    		}
		    		}
		    	}
		    }
		}
		.products{
			margin: 0;
		}
		.products-grid {
			.product-items {
				.product-item{
					.product-item-info{
						padding-bottom: 5rem;
						.product-item-inner .product-item-actions{
							position: static;
							opacity: 1 !important;
							visibility: visible !important;
							
						}
						.product-item-actions{
							display: block !important;
							
							.actions-secondary{
								opacity: 0;
								visibility: hidden;
								position: absolute;
								left: 0;
								right: 0;
								bottom: -3;
								.transition();
							}
						}
						.product-item-photo{
							flex: 1;
							padding-left: 1.5rem;
							.product-image-container{
								max-width: 21rem;
							}
						}
						.product-item-name{
							margin-bottom: 0;
						}
						.product-label{
							position: static;
							background-color: transparent;
							.lib-font-size(24);
							font-weight: @font-weight__bold;
							padding: 0;
							margin-bottom: 3rem;
							display: block;
							span{
								color: #ff0101;
								&:not(.value){
									background-color: @sale_label_bg;
									color: @color-white;
									.lib-font-size(14);
									padding: 3px 18px;
	    							border-radius: 3px;
	    							display: inline-block;
	    							position: relative;
	    							top: -3px;
								}
							}
						}
						.info-price{
							border: 0;
						    margin: 0 0 1rem;
						    padding: 0;
						    .special-price{
						    	.price{
						    		.lib-font-size(18);
						    	}
						    }
						}
						.product-item-description{
							color: #666;
							margin: 0;
							ul{
								list-style: none;
								padding-left: 0;
								li{
									margin-bottom: 0;
									&:before{
										content: '';
										width: 6px;
										height: 6px;
										border-radius: 50%;
										background-color: #666;
										display: inline-block;
									    position: relative;
									    top: -2px;
									    margin-right: 5px;
									}
								}
							}
						}
						.actions-primary{
							width: 100% !important;
							padding: 0 !important;
							transform: none;
							form{
								top: 0;
								width: 100%;
							}
							.action.tocart{
								border-radius: @button__border-radius;
								font-weight: @button__font-weight;
								text-transform: @button__text_transform;
								.lib-font-size(14);
								padding: @button__padding;
								width: 100%;
								&:before{
									display: none;
								}
								&:not(:hover){
									.lib-css(background, @checkout-button-bg);
									.lib-css(color, @checkout-button-color);
								}
								&:hover{
									background-color: @button__background;
									color: @button__color;
								}
							}
							
						}
					}
					&:hover{
						.product-item-info{;
							.product-item-actions{
								.actions-secondary{
									opacity: 1;
									visibility: visible;
									bottom: -3rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
	.hot-deal-tab-slider .supper-deal-title{
		h2{
		    flex: 0 0 22%;
		    max-width: 30rem;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.hot-deal-tab-slider .products-grid .product-items .product-item .product-item-info{
		flex-direction: row-reverse;
	}
	.hot-deal-tab-slider .supper-deal-title{
		.short-des{
			flex: 0 0 35%;
			max-width: 35%;
			justify-content: center;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.hot-deal-tab-slider .products-grid .product-items .product-item .product-item-info{
		flex-direction: column;
	}
	.hot-deal-tab-slider .supper-deal-title{
		padding-bottom: 1.5rem !important;
		> *{
			&:not(.title-deal){
				margin: 1rem 0 !important;
			}
		}
		.time_circles > div{
			margin: 5px 0;
		}
	}
}
// Category tab
& when (@media-common = true){
	.ui-tabs-nav{
		.flex();
		margin-bottom: 0 !important;
		> *{
			display: inline-flex;
			align-items: center;
		}
		li{
			&.rokan-title{
				padding: 0 4.5rem 0 2rem !important;
				background-color: #fcb800;
			    border-radius: 0 0 1.5rem 0;
				.module-title{
					padding-right: 0;
					padding-left: 0;
					@media (min-width: 1200px){
						white-space: nowrap;
					}
				}
			}
		}
		.products{
			margin: 0;
		}
		.lib-css(background, @mainsectionbg);
		.ui-state-default{
			.ui-tabs-anchor{
				display: inline-flex;
				align-items: center;
				position: relative;
				line-height: 1;
				.category-thumbs + .cat-name{
					z-index: 1;
					font-weight: @heading__font-weight__base;
					color: @topbarcolor;
					padding: 0.7rem 0;
					width: 50%;
					padding-left: 5px;
					&:after{
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: -3.5rem;
						z-index: -1;
						@border-radius: 9rem;
						.lib-css(border-radius, @border-radius, @_prefix: 1);
						background-color: @color-white;
					}
				}
				> *{
					position: relative;
					z-index: 2;
				}
				.tab-loadding{
					position: absolute;
					right: 0;
				}
			}
			&:not(.ui-tabs-active){
				.ui-tabs-anchor{
					color: @topbarcolor;
					&:after{
						background-color: @color-white;
					}
				}
			}
			&.ui-tabs-active{
				.ui-tabs-anchor{
					.cat-name{
						&:after{
							background-color: @theme__color__primary;
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.ui-tabs-nav{
		li{
			&.rokan-title{
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 1.5rem;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.show_thumbnail .ui-tabs-nav{
		li{
			flex: 0 0 100%;
			max-width: 100%;
			a{
				width: 100%;
				.cat-name{
					width: 100% !important;
				}
			}
		}
	}
}
// Banner
& when (@media-common = true){
	.banner-layout{
		margin: 0 -1.5rem;
		.col-banner-image{
			padding: 0 1.5rem;
		}
	}
	.banner-images{
		.row{
			margin: 0;
			div[class*="col"]{
				padding: 0;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.banner-layout{
		flex-wrap: nowrap;
		margin: 0 -1.5rem;
		.col-banner-image{
			padding: 0 1.5rem;
		}
		
	}
	.group-product{
		.banner-layout{
			height: 100%;
			.full-height{
				height: 100%;
			}
		}
	}
}
// Product layout with banner
& when (@media-common = true){ 
	.group-product{
		margin-bottom: 6rem;
		.col-xl-6{
			.section{
				margin-bottom: 3rem;
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
		.banner-layout{

		}
		// .product-item .product-item-photo{
		// 	margin-bottom: 0;
		// }
		.wrapper_product_tabs .products.wrapper.list .product-items .owl-stage .owl-item{
			&:not(:last-of-type){
				.item-row .product-item:last-of-type{
					border-right: 0;
				}
			}
		}
	}
	.wrapper_category_product_tabs,
	.wrapper_product_tabs{
		&:not(.show_thumbnail){
			.product-reviews-summary{
				display: none;
			}
		}
	}
}
// Product list
& when (@media-common = true){ 
	.toolbar-products select{
		border-radius: 0;
	}
	.products-list{
		.product-item .product-label.onsale{
			right: auto;
			left: 2rem;
		}
		.product-item-info{
			.product-item-description{
				&:after,
				&:before{
					content: '';
					display: table;
					clear: both;
				}
			}
		}
	}
	.section .products-list{
		.products.list.items {
			.product-item {
				margin-bottom: 0 !important;
				border-top: 0;
				border-right: 0;
				.product-item-info {
					.product-label.onsale{
						right: auto;
						left: 1.5rem;
					}
					.product-item-details {
						position: relative;
						vertical-align: top;
						
						.product-item-inner {
							position: relative;
							top: auto;
							.product-item-actions{
								justify-content: flex-start;
							}
							.actions-primary{
								position: relative;
								top: 5px;
								padding-left: 0;
								.action.tocart{
									padding: 0;
									background: transparent;
									font-size: 0;
									font-weight: @font-weight__regular;
									&:before{
										.icon_custom_font("\e906");

									}
									&:not(:hover){
										color: #888;
									}
								}
							}
							.actions-secondary{
								.flex();
								justify-content: flex-start;
								a.link-quickview{
								 	top: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.container_vertical_tab_postions{
		&.wrapper_product_tabs {
			.products.wrapper.list {
				.item-row .product-item:not(:last-of-type){
					border-bottom: 0;
				}
			}
		}
	}
}
// Product tab
& when (@media-common = true){
	.category-tab{
		.section{
			margin-bottom: 0;
		}
		.products-grid .product-items .product-item-info{
			padding: 0.7rem 2rem;
			.product-item-photo{
				margin-bottom: 0;
			}
			.product-item-details{
				padding: 0;
			}
		}
	}
	.block-widget-rokanthemes-brand {
		background: @color-white;
		
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.has-banner-image{
		.section{
			background-color: @color-white;
		}
		&.small-image{
			.wrapper_category_product_tabs.has-banner-image .widget-tabs {
				.widget-category-tab-banner{
					flex: 0 0 230px;
			    	max-width: 230px;
			    }
			    .ui-tabs-panel{
					order: 3;
					flex: 1;
		 			max-width: calc(~'100% - 230px');
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	
	.block-widget-rokanthemes-brand {
		margin-top: -8px;
	}
	.ui-tabs-nav{
		flex-wrap: nowrap;
		li{
			margin: 0;
		}
	}
	.hot-deal-tab-slider .products-grid .product-items .product-item .product-item-info{
		flex-direction: row-reverse;
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.category-tab{
		.section{
			&.block-widget-rokanthemes-brand{
				margin-bottom: @margin_gobal_value;
			}
		}
		&.has-banner-image{
			margin-bottom: 0;
			.wrapper_category_product_tabs{
				background-color: @color-white;
			}
		}
		&.product-tab{
			margin-bottom: 0;
			.wrapper_product_tabs{
				margin-bottom: @margin_gobal_value;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	
}	
// Newsletter
& when (@media-common = true){
	.section.block-newsletter-form{
		text-align: center;
		background-attachment: scroll;
		padding: 2rem 1.5rem;
		margin-bottom: 0;
		.module-title{
			.lib-font-size(30);
		}
		.rokan-title-newsletter{
			margin-bottom: 2.3rem;
		}
		.content{
			max-width: 45rem;
			margin: auto;
			.control{
				.input-focus{
					flex: 1;
					input{
						border-radius: @button__border-radius 0 0 @button__border-radius;
						padding-left: 1.8rem;
					}
				}
				.actions{
					.action{
						padding: 13px 20px;
						&:not(:hover){
							color: @color-white;
							background-color: @topbarcolor;
						}
						
					}
				}
			}
		}
		.short-des{
			margin-top: 1.1rem;
			a{
				font-weight: @font-weight__semibold;
				&:not(:hover){
					color: @topbarcolor;
				}
			}
		}
	}
	.white-bg{
		background-color: @color-white;
		padding: 2rem 0;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.shipping-support{
		.row{
			.col-content{
				&:not(:last-child){
					border-right: 1px solid @border-color__base;
				}
			}
		}
	}
}