@font-face {
    font-family: 'AmaticSCRegular';
    src: url('../fonts/AmaticSCRegular.eot');
    src: url('../fonts/AmaticSCRegular.eot') format('embedded-opentype'),
         url('../fonts/AmaticSCRegular.woff2') format('woff2'),
         url('../fonts/AmaticSCRegular.woff') format('woff'),
         url('../fonts/AmaticSCRegular.ttf') format('truetype'),
         url('../fonts/AmaticSCRegular.svg#AmaticSCRegular') format('svg');
}

@font-face {
    font-family: 'AmaticSCBold';
    src: url('../fonts/AmaticSCBold.eot');
    src: url('../fonts/AmaticSCBold.eot') format('embedded-opentype'),
         url('../fonts/AmaticSCBold.woff2') format('woff2'),
         url('../fonts/AmaticSCBold.woff') format('woff'),
         url('../fonts/AmaticSCBold.ttf') format('truetype'),
         url('../fonts/AmaticSCBold.svg#AmaticSCBold') format('svg');
}
