@font-face {
    font-family: 'Brushline';
    src: url('../fonts/Brushline.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'FloodStd';
    src: url('../fonts/FloodStd.otf;') format('opentype'),
         url('../fonts/Brushline.eot'),
         url('../fonts/Brushline.svg#Brushline') format('svg'),
    font-weight: normal;
    font-style: normal;
}
