<div class="header-container">
	<div class="topbar d-none d-md-block">
		<div class="header panel">
			<div class="topbar-inner flex-layout space-between center_vertical">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social_icon')->toHtml(); ?>
				<div class="col-left">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar-static')->toHtml(); ?>
				</div>
				<div class="col-right col-top-link flex-layout">
					<div class="col-right col-top-link flex-layout">
						<div class="language-currency">
							<div class="container-setting-language-currency">
								<?php echo $this->getChildHtml("store_language"); ?>  
								<?php echo $this->getChildHtml("currency"); ?>
							</div>		
						</div>
					</div>
					<?php echo $this->getChildHtml("top.links"); ?>
				</div>
			</div>
		</div>
	</div>
	<div class="header-middle sticky-header center-element">
		<div class="header panel">
			<div class="flex-layout space-between header-top center_vertical no-wrap-desktop">
				<div class="logo-container">
					<div class="logo-site">
						<?php echo $this->getChildHtml('logo'); ?>
					</div>
				</div>
				<div class="primary-menu-container col-left">
						<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
					</div>
				<div class="col-action col-right">
					<div class="flex-layout">
						<ul class="flex-layout action-header center_vertical no-wrap-desktop">
							<li><?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?></li>
							<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
							<li class="minicart-li-content-show-hide">
								<?php echo $this->getChildHtml('minicart'); ?>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>