@font-face{
	font-family:main-icon;
	src: url(../fonts/main-icon.eot);
	src: url(../fonts/main-icon.eot#iefix) format('embedded-opentype'),
	url(../fonts/main-icon.ttf) format('truetype'),
	url(../fonts/main-icon.woff) format('woff'),
	url(../fonts/main-icon.svg) format('svg');
	font-weight:400;
	font-style:normal;
	font-display:block;
}
[class*=" main-icon-"],
[class^=main-icon-]{
	font-family:main-icon!important;
	speak:never;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.main-icon-enter:before{content:"\e900"}
.main-icon-close:before{content:"\e901"}
.main-icon-back:before{content:"\e902"}
.main-icon-next:before{content:"\e903"}
.main-icon-menu:before{content:"\e904"}
.main-icon-search:before{content:"\e905"}
.main-icon-cart:before{content:"\e906"}
.main-icon-heart:before{content:"\e907"}
.main-icon-user:before{content:"\e908"}
.main-icon-scrolling:before{content:"\e909"}
.main-icon-airpods:before{content:"\e90a"}
.main-icon-camera:before{content:"\e90b"}
.main-icon-teapot:before{content:"\e90c"}
.main-icon-console:before{content:"\e90d"}
.main-icon-tablet:before{content:"\e90e"}
.main-icon-necklace:before{content:"\e90f"}
.main-icon-fashion:before{content:"\e910"}
.main-icon-router:before{content:"\e911"}
.main-icon-ultrasound:before{content:"\e912"}
.main-icon-video-card:before{content:"\e913"}
.main-icon-pot:before{content:"\e914"}
.main-icon-sneaker:before{content:"\e915"}
.main-icon-phone-call:before{content:"\e916"}
.main-icon-hot-deal:before{content:"\e917"}
.main-icon-shirt:before{content:"\e918"}
.main-icon-tv:before{content:"\e919"}
.main-icon-washing-machine:before{content:"\e91a"}
.main-icon-tractor:before{content:"\e91b"}
.main-icon-cooking:before{content:"\e91c"}
.main-icon-game-boy:before{content:"\e91d"}
.main-icon-headphones:before{content:"\e91e"}
.main-icon-stopwatch:before{content:"\e91f"}
.main-icon-car:before{content:"\e920"}
.main-icon-refreshing:before{content:"\e921"}
.main-icon-card:before{content:"\e922"}
.main-icon-circular-shape:before{content:"\e923"}
.main-icon-support:before{content:"\e924"}
.main-icon-mail:before{content:"\e925"}
.main-icon-eye:before{content:"\e926"}
.main-icon-exchange:before{content:"\e927"}
.main-icon-phone:before{content:"\e928"}
.main-icon-menu-1:before{content:"\e929"}
.main-icon-call:before{content:"\e92a"}
.main-icon-email:before{content:"\e92b"}
.main-icon-location:before{content:"\e92c"}
.main-icon-phone_home:before{content:"\e92d"}
.main-icon-ele_bag_alt:before{content:"\e92e"}
.main-icon-ele_heart_alt:before{content:"\e92f"}
.main-icon-ele_search2:before{content:"\e930"}
.main-icon-icon_pin_alt:before{content:"\e931"}
.main-icon-phone-call1:before{content:"\e932"}
.main-icon-arrow_left:before{content:"\e933"}
.main-icon-arrow_right:before{content:"\e934"}
.main-icon-left-arrow:before{content:"\e935"}
.main-icon-right-arrow:before{content:"\e936"}
.main-icon-plane-paper:before{content:"\e937"}
.main-icon-newsletter:before{content:"\e938"}
.main-icon-left-arrow-2:before{content:"\e939"}
.main-icon-right-arrow-2:before{content:"\e93a"}
.main-icon-truck:before{content:"\e93b"}
.main-icon-refresh:before{content:"\e93c"}
.main-icon-payment:before{content:"\e93d"}
.main-icon-gift:before{content:"\e93e"}
.main-icon-headphones1:before{content:"\e93f"}
.main-icon-envelope:before{content:"\e940"}
.main-icon-globe:before{content:"\e941"}
.main-icon-plane-paper-1:before{content:"\e942"}
.main-icon-return:before{content:"\e943"}
.main-icon-wallet:before{content:"\e944"}
.main-icon-support1:before{content:"\e945"}
.main-icon-menu-2:before{content:"\e946"}
.main-icon-left:before{content:"\e947"}
.main-icon-right:before{content:"\e948"}
.main-icon-support2:before{content:"\e949"}
.main-icon-headphones2:before{content:"\e94a"}
.main-icon-return2:before{content:"\e94b"}
.main-icon-archive:before{content:"\e94c"}
.main-icon-user2:before{content:"\e94d"}
.main-icon-clock2:before{content:"\e94e"}
.main-icon-bag-full:before{content:"\e94f"}
.main-icon-heart-full:before{content:"\e950"}
.main-icon-apple:before{content:"\e951"}
.main-icon-broccoli:before{content:"\e952"}
.main-icon-steak:before{content:"\e953"}
.main-icon-cheese:before{content:"\e954"}
.main-icon-chicken:before{content:"\e955"}
.main-icon-fish:before{content:"\e956"}
.main-icon-dining-table:before{content:"\e957"}
.main-icon-table-lamp:before{content:"\e958"}
.main-icon-ceiling-lamp:before{content:"\e959"}
.main-icon-bedroom:before{content:"\e95a"}
.main-icon-bathroom:before{content:"\e95b"}
.main-icon-kitchen:before{content:"\e95c"}
.main-icon-house:before{content:"\e95d"}