@font-face {
  font-family: 'Birdrockers_Demo';
  src: url('../fonts/Birdrockers_Demo.woff2') format('woff2'),
       url('../fonts/Birdrockers_Demo.woff') format('woff'),
       url('../fonts/Birdrockers_Demo.ttf')  format('truetype');
}

body {
  font-family: 'Birdrockers_Demo', sans-serif;
}
