// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: 'Spartan';
@heading__font-weight__base: @font-weight__bold; 
@heading__line-height__base: 1.71428571429;
@heading__color__base: #222222;
// Other font
@otherfont-family-regular: AmaticSCRegular;
@otherfont-family-bold: AmaticSCBold; 
// Color 
@theme__color__primary: #f76423;  
@link__hover__color: #f76423;
@color__brown: #59230a;  
// Topbar 
@topbarbg: @color-white;
@topbarcolor: #222222;   
 
// Header
@header__background-color: @color-white;   
@header-border-color: #ebebeb;

@header_sticky_bg: @header__background-color;  
@header_sticky_border: false;
@header-icons-color: @heading__color__base;
@headerpadding: 0; // Make header height bigger than menu height
@sticky_padding: 5px; 
@h5__font-size: 1.6rem;
// Top search
@_search-border-color: #ebebeb; 
@_search-border-width: 2px;  
 
// Navigation
@menufont: @heading__font-family__base; 
@navigation-desktop__background: transparent;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.3rem;


//Level 0
@navigation-desktop-level0-item__color: @color-white;
@navigation-level0-item__font-family: @font-family__base;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 1.3rem;
@navigation-level0-item__font-weight: @font-weight__bold;

// Level 1 
@level1_color: @heading__color__base;

// Vertical module
@vertical_menu_title_color: @color-white;
@vertical_level0_color: @color__brown;
@vertical_level10_size: 15px;
@vertical_level10_padding: 0 3rem;
@vertical_level10_border: 1px solid @border-color__base;
@vertical_level10_desktop_line-height: @navigation-desktop-level0-item__line-height;
@level0_vertical_font_weight: @font-weight__regular;
// Sub menu 
@vertical_menu_border-width: 0;
@submenu_vertical_full_width_padding: 3rem 1.5rem 1rem 1.5rem;
@vertical_sub_menu_font-size: 1.4rem;
//Level 1
@level1_vertical_font_weight: @font-weight__bold;
@level1_vertical_font_size: 1.6rem;
/* footer */
@footer__background-color: #2b1910;
@footercolor: #b7b7b7;
@footer_font-size: 1.5rem;
@footer-title-font-size: 1.4rem;
@footer-title-font-weight: @font-weight__bold;
@footer-title-color: @color-white;
@footer-title-text-align: left;
@footer-title-transform: uppercase;
@footer-border-color: rgba(255,255,255,0.1);
@footer-bottom_bg: #2b1910;
@footer_bottom_color: #b7b7b7;
@social_link_bg: rgba(255,255,255,0.1);

//Module variables  
//Title
@module_margin_bottom: 6rem;
@module_title_text-align: center;
@module_title-size: 6rem;
@module_title-text-transform: uppercase;
@short_des_font_size: 1.6rem;

// Owl dot, owl nav
// owl nav
@owl-nav-bg: @color__brown;
@owl-nav-bg-width: 25px;
@owl-nav-height: 60px;
@owl-nav-border-radius: false;
@owl-nav-color: @color-white;

@nivo-controlNav-bg: rgba(34,34,34,0.3);  
// Product
@price_color: #222; 
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: #5b79d1;
@sale_label_color: @color-white;

@new_label_bg: #65af39; 
@new_label_color: @color-white;

// Button
@second_button_bg: @link__hover__color;
@second_button_color: @color-white;


@checkout-button-bg: @link__hover__color;
@checkout-button-color: @color-white; 
//Button variable
@button__border-radius: 0; 
@button__color: @color-white;
@button__padding: 13px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @color-white;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: 30px;

// Module Search
@search-form_bg: transparent;
@action_button_bg: transparent; 

@timeline-loading-item_bg: #ccc;


// Slider heading

@slider_h2_font-size-xxl: 82px; 
@slider_h2_font-size-xl: 72px;
@slider_h2_font-size-l: 62px;
@slider_h2_font-size-s: 52px;
@slider_h2_font-size-xs: 42px;
@slider_h2_letter-spacing: false;
@slider_h2_font-weight: @heading__font-weight__base;
@slider_h2_text-transform: uppercase;
@slider_h2_margin: 0;
@slider_h2_line-height: 1; 

@slider_h3_font-size-xxl: 60px;
@slider_h3_font-size-xl: 54px;
@slider_h3_font-size-l: 48px;
@slider_h3_font-size-s: 42px;
@slider_h3_font-size-xs: 36px;
@slider_h3_letter-spacing: false;
@slider_h3_font-weight: @heading__font-weight__base; 
@slider_h3_text-transform: uppercase;
@slider_h3_margin: 20px;
@slider_h3_line-height: false;

@slider_h4_font-size-xxl: 38px;
@slider_h4_font-size-xl: 32px;
@slider_h4_font-size-l: 26px;
@slider_h4_font-size-s: 20px; 
@slider_h4_font-size-xs: 14px;
@slider_h4_letter-spacing: false;
@slider_h4_font-weight: @text-weight;
@slider_h4_text-transform: capitalize;
@slider_h4_margin: 13px;
@slider_h4_line-height: false;

@slider_h5_font-size-xxl: 16px;
@slider_h5_font-size-xl: 15px;
@slider_h5_font-size-l: 14px;
@slider_h5_font-size-s: 13px;
@slider_h5_font-size-xs: 12px;
@slider_h5_letter-spacing: 0.2em;
@slider_h5_font-weight: @heading__font-weight__base;
@slider_h5_text-transform: uppercase;
@slider_h5_margin: 15px;
@slider_h5_line-height: false;


// Slider paragraph 
@slider_p_font-size-xxl: 18px;
@slider_p_font-size-xl: 16px;
@slider_p_font-size-l: 14px;
@slider_p_font-size-s: 14px;
@slider_p_font-size-xs: 13px;
@slider_p_font-weight: @font-weight__regular;
@slider_p_letter-spacing: false;
@slider_p_text-transform: false;
@slider_p_margin: 20px;
@slider_p_line-height: false; 

// Slider button 
@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 12px;
@slider_button_font-size-xs: 12px; 
@slider_button_padding: 14px 35px;
@slider_button_padding-s: 4px 15px;
@slider_button_letter-spacing: 0.2em;
@slider_button_line-height:18px; 
@slider_button_margin-top: 30px; 

// Supper deal module
@deal_number_bg: false;
@deal_number_font-size: 3.6rem;
@deal_number_width: 7rem;
// Module Category thumb
//  Variables
//  _____________________________________________
@category-name-size: 2.4rem;
@category-name-color: @color-white;
@category-name-font-weight: @font-weight__bold;
@category-name-font-family: @font-family__base;
@line-height_category_name: 1;
// Products count
@category-count-size: 1.4rem;
@category-count-font-style: normal;
@category-count-display: block;
@category-count-color:  @color-white;
// Vertical thumb image
@img_category_thumb-radius: 56px;
@category_name-padding: 2rem;
@category_name_position: absolute;
@align_category_name: flex-end;

@background-category-thumb: @color-white;
@padding-category-thumb: false;

// Category tab, product tab
//  Variables
//  _____________________________________________
@tabcolor: @heading__color__base;
@tabactive: @color-white;
// Hozital variable
@category-tab-text-align: center;
@category-tab-name-size: 14px;

@products-tab-text-align: center;
@products-tab-name-size: 14px;

// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: 9rem 0;

@banner_deal_number-font-family: @font-family__base;
@banner_deal_number-font-weight: @font-weight__bold;

@title_supper_deal_margin: 0 0 7px;

@sub_title_supper_deal-font-size: 1.4rem;
@sub_title_supper_deal-color: @color-white;
@sub-title_supper_deal_letter-spacing: 2px;
@sub-title_supper_deal_margin: 0 0 5.5rem;
// Title
@title_supper_deal_size: 6rem;
@title_supper_deal_mobile_size: 4rem;

@des_supper_deal_size: 1.6rem;
@des_supper_deal_margin: 0 0 4.2rem;
//  _____________________________________________
.border_radius(@_border-radius_base: 5px){
    @_border-radius: @_border-radius_base;
    &{
        .lib-css(border-radius, @_border-radius);
    }
}
.icon_header(){
	font-size: 2.6rem;
    line-height: 4rem;
    position: relative;	
};

//cms block Banner//

& when (@media-common =true) {
    .home-banner {
    	position: relative;
    	padding: 7rem 0;
    	@media only screen and (max-width: (@screen__s - 1)) {
        	padding: 3rem 0;
        }
    	&:after {
    		content: '';
    		position: absolute;
    		top: 0;
    		bottom: 0;
    		left: -9999rem;
    		right: -9999rem;
    		background: #f9f2ef;
    		pointer-events: none;
    		z-index: -1;
    	}
        .box-banner {
        	align-items: center;
        	&:hover {
				.img-banner {
					@transform: scale(1.05);
					.lib-css(transform, @transform, @_prefix: 1); 
					.transition();
				}
			}
			
            .flex();
            .img-banner {
                ms-flex: 0 0 47%;
                flex: 0 0 47%;
                max-width: 47%;
                padding: 0 4.5rem;
                @media only screen and (max-width: (@screen__s - 1)) {
                	ms-flex: 0 0 100%;
	                flex: 0 0 100%;
	                max-width: 100%;
	                padding: 0;
                }
                .transition();
            }
            .text-banner {
                flex: 1;
                h2 {
                    font-size: 6rem;
                    color: @color__brown;
                    font-family: @otherfont-family-bold;
                    line-height: 1;
                    margin-bottom: 3rem;
                }
                p {
                    font-size: 2.4rem;
                    font-weight: @font-weight__regular;
                    line-height: 1.25;
                    color: @heading__color__base;
                    margin-bottom: 2.5rem;
                }
                h3 {
                    font-size: 4.8rem;
                    font-weight: @font-weight__bold;
                    line-height: 1.208;
                    color: @theme__color__primary;
                    font-family: @font-family-name__base;
                     margin-bottom: 5.5rem;
                }
                a {
                    display: inline-block;
                    font-size: 1.4rem;
                    letter-spacing: 2.6px;
                    background-color: @color__brown;
                    color: @color-white;
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    padding: 1rem 3rem;
                    &:hover{
                    	background: @theme__color__primary;
                    }
                }
                @media only screen and (max-width: (@screen__l - 1)) {
					h2 {
						.get-vw-xl(font-size, 60px);
						.get-vw-xl(margin-bottom, 30px);
					}
					h3{
						.get-vw-xl(font-size, 48px);
						.get-vw-xl(margin-bottom, 55px);					
					}
					p{
						.get-vw-xl(font-size, 24px);
						.get-vw-xl(margin-bottom, 25px); 
					}
					a{
						
						.get-vw-xl(padding-top, 10px);
						.get-vw-xl(padding-bottom, 10px);
						.get-vw-xl(padding-left, 30px);
						.get-vw-xl(padding-right, 30px);
						.get-vw-xl(font-size, 14px);
					} 
				}
				@media only screen and (max-width: (@screen__s - 1)) {
					h2 {
						.get-vw-s(font-size, 60px);
						.get-vw-s(margin-bottom, 30px);
					}
					h3{
						.get-vw-s(font-size, 48px);
						.get-vw-s(margin-bottom, 55px);					
					}
					p{
						.get-vw-s(font-size, 24px);
						.get-vw-s(margin-bottom, 25px);
					}
					a{
						
						.get-vw-s(padding-top, 10px);
						.get-vw-s(padding-bottom, 10px);
						.get-vw-s(padding-left, 30px);
						.get-vw-s(padding-right, 30px);
						.get-vw-s(font-size, 14px);  
					}
				}
				@media only screen and (max-width: (@screen__xs - 1)) {
					h2 {
						.get-vw-xs(font-size, 60px);
						.get-vw-xs(margin-bottom, 30px);
					}
					h3{
						.get-vw-xs(font-size, 48px);
						.get-vw-xs(margin-bottom, 55px);					
					}
					p{
						.get-vw-xs(font-size, 24px);
						.get-vw-xs(margin-bottom, 25px);
					}
					a{
						
						.get-vw-xs(padding-top, 10px);
						.get-vw-xs(padding-bottom, 10px);
						.get-vw-xs(padding-left, 30px);
						.get-vw-xs(padding-right, 30px);
						.get-vw-xs(font-size, 14px);   
					}
				}
            }
        }
    }
}

/* style title */
& when (@media-common = true) {

	.rokan-title {

		line-height: 1;
		.module-title {
			line-height: 1;
			font-family: @otherfont-family-bold;
			color: @color__brown;
		 	background: url(../images/Shape.png) center no-repeat;
		 	@media only screen and (max-width: (@screen__s - 1)) {
		 	 	font-size: 4rem;
		 	}
		}
		.short-des{
			color: @heading__color__base;
			margin: 0;
		}
		.blog-description{
			font-size: 1.6rem;
			color: @heading__color__base;
		}
	}
	.block.related,.block.crosssell,.block.upsell {
		.block-title {
			h3{
			    padding: 0 1.8rem;
		        line-height: 1;
		        strong {
	        	    font-family: @otherfont-family-bold;
				    color: @color__brown;
			       font-size: inherit !important;
		        }
			}
		}
		.block-actions {
			top: 3.8rem;

		}
	}

}
/* style Brands */
& when (@media-common = true) {
	.block-widget-rokanthemes-brand{ 
		
    	.brand-item{
    		img {
				.transition();
			}
			&:hover{
				img {
					@transform: scale(1.05);
					.lib-css(transform, @transform, @_prefix: 1);
					.transition();
				}
			}
    		padding: 3rem 0;
    		border: 1px solid @header-border-color;
    		border-left: 1px solid transparent;
    	}
    	.first-active-item {
    		.brand-item{
	    		border-left: 1px solid @header-border-color;

	    	}
    	}
	} 
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.verticalmenu.navigation {
		.title-category-dropdown{
			.lib-css(border-radius, @button__border-radius);
			border-bottom-right-radius: 0;
    		border-bottom-left-radius: 0;
			min-width: 27rem;
		}
		.list-category-dropdown {
			@box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
			.lib-css(box-shadow, @box-shadow, @_prefix: 1);
			li.level0.fullwidth {
				> .submenu{
					background-position: right bottom;
				    background-repeat: no-repeat;
				    background-size: contain;
				    min-height: unset;
				    min-width: 72vw !important;
				    @box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.subchildmenu {
                        > li{
                            a{
                                padding: 3px 1rem;
                            }
                        }
                    }      

				}
				> a{
					line-height: 5rem;
				}
			}
		}

	}
	.navigation li.level0.parent .submenu{
		z-index: 22;
	}
	.navigation li.level0.parent .submenu .mega-columns .level1.parent > a{
		text-transform: capitalize;
	}
}


// Header, footer
& when (@media-common =true) {
    .header-container {
    	@media only screen and (min-width: @screen__l){
	    	&:not(.sticky) .primary-menu-container { 
			    margin-left: 5rem;
			}
		}
		
		@media only screen and (max-width: (@screen__l - 1)) {
		    &:not(.sticky) .col-menu{
	    		flex: 1;
	        	justify-content: space-between;
		    } 
		    .nav-toggle:before{
	            color: @color-white;
	        }
		}
	
	
		&.sticky .sticky-header.center-element .logo-sticky{
			img{
			    -webkit-filter: brightness(0) invert(1);
    			filter: brightness(0) invert(1);
			}
		}
        // Social icon
        .social-link {
            padding-left: 0;
            align-items: center;
            flex: 1;

            li {
                display: inline-flex;
                margin-bottom: 0;

                &:not(:first-child) {
                    padding-left: 1.2rem;
                }

                &:not(:last-child) {
                    padding-right: 1.2rem;
                }
            }
        }
    }
}
& when (@media-common = true) {
	.container-setting-language-currency{
		.switcher{
			border-color: #d0dd9b;
			padding: 0 8px;
			*:first-child{
				margin-right: 4px;
			}
			.switcher-options{
				.switcher-trigger.action.toggle{
					&:hover{
						strong,
						&:after{
							color: @theme__color__primary;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}	
	.page-header { 
		.header-container {
			.topbar { 
				border: 1px solid @header-border-color;
				.topbar-inner{
					@media only screen and (max-width: (@screen__s - 1)){
						justify-content: center;
					}
					.col-top-link{
						@media only screen and (max-width: (@screen__s - 1)){
							justify-content: center;
						}
						p{
							position: relative;
							top: -1px;
						}
						a{
							&:hover{
								color: @theme__color__primary;
							}
						}
						> *:not(:last-child) > *{
							border-color: #e1e1e1; 
						    padding-right: 2rem;
					        margin-right: 3rem;
					        @media only screen and (max-width: (@screen__l - 1)){
								padding-right: 1rem;
					        	margin-right: 2rem;
							}
						}
					}
					.col-right{
						align-items: center;		
						.social-link {
                            li {
                                .icon {
                                    color: @topbarcolor;

                                    .text {
                                        font-size: 0;
                                    }
                                    &:hover{
                                    	color: @link__hover__color;
                                    }
                                }
                            }
                        }
					}
				}
			}
			.header-middle{
    			padding: 3rem 0;
    			position: relative;
    			z-index: 2222;
				.for-full-width-menu{
					padding: 1.5rem 0;
				}
				.hotline{
					.icon{
						font-size: 3.2rem;
						margin: 0;
					}
					.flex-layout{
						align-items: center;
					}
					.content{
						line-height: 2rem;
						.subtitle{
							color: #666666;
							line-height: 1;
						}
						h5{
							font-size: 1.5rem;
							font-family: @font-family-name__base;
						}
					}
				}
			}
			.header-bottom {
				background: @color__brown;
				.verticalmenu.navigation {				
					.title-category-dropdown {
						&:before{
						    font-size: 2rem;
							vertical-align: -4px;
						}
						@media only screen and (max-width: (@screen__s - 1)){
							padding: 0 1.5rem;
							font-size: 1.2rem;
						}
					}
					.list-category-dropdown {
						@media only screen and (min-width: 1920px){
							li.level0 {
								> .submenu{
								    min-width: 59.5vw !important;
								}
							}
						}
						li.level0, 
						.expand-category-link{
							> a{
								text-transform: capitalize;
							}

						}
						li.level0:hover > a{
							border-color: @header-border-color;
							&:before{
							background: #fde0d3 !important;
						}
							
						}
					}
				}

			}
			.header.links{
				li{
					color: @color-white;
					&:not(:hover){
						a{
							color: @color-white;
						}
					}
					&.authorization-link {					
						a:before{
							color: @color-white;
							display: none;
						}
					}
				}
			}
			.col-action{
				.minicart-wrapper .action.showcart,
				li{
					.counter.qty{
						min-width: 2rem;
						min-height: 2rem;
						line-height: 2rem;
						top: 0.2rem;
						right: 0.2rem;
						height:auto;	
						font-size: 1.1rem;
						.lib-css(color, @color-white);
						font-weight: @font-weight__bold;
						background-color: @link__hover__color;
					}
				}
				.minicart-wrapper {
					.block-content{
						.subtotal{
							.label{
								font-size: 1.4rem;
							}
							.price-container .price{
								font-size: 1.6rem;  
							} 
						}
					}
				}
				.action-header {
					> li {
						margin: 0 0.7rem;
						&:last-child { 
							margin-right: 0;
						} 
					}
				}
				.hidden-sticky{
					margin-right: 1rem;
				}
				.minicart-wrapper{
					> a:hover{
						&:before{ 
							color: @theme__color__primary;
						}
					}
					@media only screen and (min-width: @screen__m){
						margin-left: 3px;
					}
				}
			}
			.top-search-not-dropdown{
				flex: 1;
				max-width: 62rem;
				padding: 0 1.5rem;
				@media only screen and (max-width: (@screen__m - 1)){
					flex: 0 0 100%;
				    max-width: 100%;
				    padding: 0;
				    order: 3;
				    margin-top: 1.5rem;  
				}
				.block.block-search {
		
					.form.minisearch {
						display: block;
    					position: static;
    					.border_radius(0);
						input{
							height: 3.8rem;
							padding-left: 1.5rem;
						}
						select{
							height: 3.8rem;
							padding: 4px 12px 4px;
						}
						.actions .action.search{
							background-color: @theme__color__primary;
							top: -2px;
							right: -2px;
							bottom: -2px;
							min-width: 4.2rem;
							@media only screen and (max-width: (@screen__l - 1)){
								top: 0;
								right: 0;
								bottom: 0;
							}
							&:before{
			    				.icon_custom_font("\e930");  
			    				.lib-font-size(20);
			    				line-height: 1;
			    				font-weight: @font-weight__regular;
			    				transform: none;
			    				overflow: visible;
			    			}
						}
						&.cat-search .search-form .field.search{
							&:before {
							    top: 0;
							    bottom: 0;
							    border-right: 2px solid @header-border-color;
							    width: 2px;
							    margin: 0 2.6rem;
							}
							@media only screen and (max-width: (@screen__l - 1)){
							    position: static !important;
								&:before {
								    display: none;
								}
								.control {
								    position: static;
								    border-left: 2px solid @header-border-color;
								}
								.searchsuite-autocomplete {
								    left: 0;
								    right: 0;
								}
							}
						}
					}
				}
				
				.block-search .form {
					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #b7b7b7;
					}
					::-moz-placeholder { /* Firefox 19+ */
					 color: #b7b7b7;
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: #b7b7b7;
					}
					:-moz-placeholder { /* Firefox 18- */
					   color: #b7b7b7;
					}
				}
			}
			.sticky-header{
				@box-shadow: 0px 4px 4px 0px rgba(94, 115, 144, 0.1);
				.lib-css(box-shadow, @box-shadow, @_prefix: 1);
			}
		}
	}
	.nav-open{
		.page-header {
			.header-container {
				&:not(.sticky){
					.header-bottom{
						position: relative;
						z-index: 333;
					}
				}
			}
		}
	}
	.page-footer {
		@media only screen and (max-width: (@screen__s - 1)) {
    		padding-bottom: 5.8rem; 
    	}
		padding: 0;
		margin-top: 9rem;
		.footer-static_link {
			.footer-links {
				@media only screen and (max-width: (@screen__s - 1)) {
		    		.footer-title {
		    			margin-bottom: 0;
		    		}
		    	}
				&.not-collapse-mobile{
					position: relative;
					&:before {
						content: "";
						position: absolute;
						right: 0;
						top: -99999rem;
						bottom: -99999rem;
						border-right: 1px solid @footer-border-color; 
					}	
					@media only screen and (max-width: (@screen__m - 1)) {
			    		&:before {
			    			display: none;
			    		}
		    		}
					img{
						margin-bottom: 2rem;
					}
					ul{
						margin-top: 0;
						p{
							margin-bottom: 0;
							
						}
						> li{
							&:first-child{
								p{
									color: @theme__color__primary;
								}
							}
							&:not(:first-child){
								p{
									line-height: 2;
								}
							}
						}
					}
					.social-link{
						margin-top: 2rem;
						li{
							&:not(:last-child){
								padding-right: 0.5rem; 
							}
							&:not(:first-child) {
								padding-left: 0.5rem; 
								}
							a{
								width: 4rem;
							    height: 4rem;
							    border-radius: 100%;
							    display: inline-block;
							    background: @social_link_bg;
							    text-align: center;
							    line-height: 4rem;
							    &:hover{
							    	background: @link__hover__color;
							    	color: @color-white;  
							    }
							}
						
							
						}
						
					}
				}
			}
		}
		.footer-top {
			position: relative;
			padding-bottom: 7rem;
			@media only screen and (max-width: (@screen__s - 1)){
				padding-bottom: 3rem;
			}
			overflow: hidden;
		}
		.footer-bottom{
			margin-top: 0;
			border-top: 1px solid @footer-border-color;
			.container-inner{
				padding: 1.3rem 0; 
			}
		}
		 
	}
	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.vertical-open{
		.page-header {
			.header-container {
				&:not(.sticky){
					.header-bottom{
						position: relative;
						z-index: 3333;
					}
				}
			}
		}
	}
}
& when (@media-common = true) {
	.block-newsletter-form {
		background-attachment: inherit !important;
		background-position: right top !important;
	    margin-bottom: 0 !important;
	    padding: 10rem 0;
	    @media only screen and (max-width: (@screen__l - 1)) {
	        padding: 6rem 0;
	    }
	    @media only screen and (max-width: (@screen__s - 1)) {
	        padding: 3rem 0;
	    }
	    background-attachment: inherit;
	    .newsletter-form {
	        .flex();
	        justify-content: space-between;
	        align-items: center;
	        color: @color-white;
	        margin-bottom: 0;
	        flex-direction: column;
	        max-width: 53rem;
	        >div {
	            flex: 1;
	            width: 100%;
	        }
	        .rokan-title {
	            margin-bottom: 3.5rem;
	            position: relative;
	            text-align: left;
	            .module-title {
	                background: none;
	                margin-bottom: 1rem;
	            }
	            .short-des {
	                font-size: 1.4rem;
	                color: #111111;
	            }
	        }
	        @media only screen and (max-width: (@screen__m - 1)) {
	            .field {
	                .control {
	                    max-width: 100%;
	                }
	            }
	        }
	    }
	}
	.block.newsletter {
	    .field {
	        .control {
	            .input-focus {
	                flex: 1;
	                input {
	                    .border_radius(0);
	                    padding-left: 1.5rem;
	                }
	            }
	            .actions {
	                button {
	                    padding: 12.5px 30px;
	                    background: @theme__color__primary;
	                }
	            }
	        }
	    }
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	html:not(.nav-open) .header-container:not(.sticky) .header-bottom {
	    z-index: 1;
	    position: relative;
	}
	html.vertical-open .header-container:not(.sticky) .header-bottom {
		z-index: 26;
	}
	.page-header { 
		.header-container {
			.topbar .topbar-inner .col-right .hotline{
				display: none !important;
			}
			.action-sticky{
				.minicart-wrapper{
					margin-left: 0;
				}
				.action-header{
					> li{
						margin: 0 0.5rem;
						> a,
						.minicart-wrapper > a{
							&:before{
								.lib-font-size(24);
								color: @navigation-desktop-level0-item__color; 
							}
						}
					}
				}
				.minicart-wrapper .action.showcart,
				li {
					.counter.qty{
						min-width: 2rem;
					    min-height: 1rem;
					    height: 2rem;
					    line-height: 1; 
					}
				}
			
				
			}

			
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	
	.columns .column.main .block:last-of-type{
		margin-bottom: 0 !important;
	}
}

// Change gobal style
& when (@media-common = true) {
	.product-item {
		.product-label{
			font-family: @font-family__base;
			font-weight: @font-weight__semibold;
			.border_radius(3px);
    		font-size: 1.4rem;
    		text-transform: uppercase;
    		padding: 4px;
    		min-width: 5rem;
    		text-align: center;
			&.onsale{
				z-index: 2;
			}
			&.newlabel{
				right: 2rem;
				left: auto;


			}
		}
	}
	.block-recent-posts{
		margin-bottom: 6rem;
	}
	body{
		#newsletter_pop_up {
			.newletter_popup_close{
				background-color: @text__color;
				border-radius: 50%;
				width: 41px;
				height: 41px;
				border: 2px solid @color-white;
			    border-radius: 50%;
			    top: -21px;
			    right: -21px;
				&:before{
					font-size: 3.6rem;
				}  
			}
		}
		#newsletter_pop_up .col-newsletter-popup .content-popup .control input{
			padding-left: 3rem;
		}
	}
	@media (min-width: 576px) and (max-width: 1199px) {
		.page-footer{
			margin-top: 16rem;
		}
	}
}

/* Hover action */

& when (@media-common = true) {
	@media only screen and (min-width: @screen__l){
		.page-products .products-grid .product-items .product-item {
			width: 33.33333333%;
		}
	} 
	//Product grid
	.product-item {
		.product-item-name, 
		.product.name a{
			.lib-font-size(15);
		}
	}
	// Remove padding in product owl slider
	.cms-index-index{
		.products-grid{
			.product-items{
				&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
				&.owl-carousel{
					margin: 0;
					width: 100%;
					.product-item{
						padding: 0;
					}
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel {
				.owl-stage-outer {
					border: none; 
					padding: 0 1px;
    				margin: 0 -1px;  
				} 
				.first-active-item:before {
					display: none;
				}
			}
			&:not(.owl-carousel){
				border-left: 0;
			}
			.product-item{
				margin: 0 0 3rem 0;
				border: 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height:1;
					border: 1px solid @border-color__base;
					position: relative;
					.lib-css(border-radius, 3px); 
					&:before{
						content: '';
						left: 0;
						right: 0;
						bottom: 0;
						top: 0;
						background: rgba(89,35,10,0.1);
						position: absolute;
						z-index: 2;
						pointer-events: none;
						.transition();
						opacity: 0;
						visibility: hidden;
					}

				}
				.product-item-info {
					padding: 0;
					&:before {
						display:none; 
					}
					.product-item-details {
						padding: 0;
						position: relative;
						.flex();
						flex-direction: column;
					    justify-content: flex-start;
					    align-items: center;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.product-reviews-summary{
						    position: relative;
						    z-index: 1;
						}
						.product-item-name{
							text-align: center;
						}
						.price-box{
							order: 3;
							*{
								.lib-font-size(15);
							}	
						}
						.product-item-actions {
							position: absolute;
							right: 0;
							left: 0;
							bottom: 100%;
							text-align: center;
							justify-content: center;
							z-index: 3;
							.flex();
							margin-bottom: 3rem;
						}
						
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action,
					.field.choice.related{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 0 5px;
						&:before{
							color: @heading__color__base;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.4rem;
									overflow: visible;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{
					.product-item-photo {
						&:before{
							opacity: 1;
							visibility: visible;
						}
					}		
					.product-item-info{
						&:before{
							display: none;
						}
					}
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);  
					}
					.actions-secondary{
						> *{
							&:nth-child(1) {
								@animation: zoomIn 600ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&:nth-child(2){
								@animation: zoomIn 500ms ease-in-out;
									.lib-css(animation, @animation, @_prefix: 1);
							}
							&:nth-child(3){
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
				}
			}	
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	section, .section, .product.info.detailed, .block.related, .block.upsell,.hot-deal-tab-slider {
		margin-bottom: 9rem;
		@media only screen and (max-width: (@screen__l - 1)){
			margin-bottom: 6rem;
		}
		@media only screen and (max-width: (@screen__s - 1)){
			margin-bottom: 3rem;
		}
	}
	.margin_0 {
	    margin: 0;
	}
}
// Home page
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider{
		.nivo-controlNav:not(.nivo-thumbs-enabled) .nivo-control.active, 
		.nivo-controlNav:not(.nivo-thumbs-enabled) .nivo-control:hover{
			background: @heading__color__base;
		}
		.nivo-directionNav a {
			border-radius:100%;
			&:before {
				color: @color-white;
				transform: rotate(0deg) !important;;
				-webkit-transform: rotate(0deg) !important;;
				-o-transform: rotate(0deg) !important;;
				-ms-transform: rotate(0deg) !important;
				font-size: 3rem;
			}
			&.nivo-prevNav {
				&:before {
					.icon_custom_font("\e933"); 
				}
			}
			&.nivo-nextNav {
				&:before {
					.icon_custom_font("\e934"); 
				}
			}
			&:not(:hover){
				background: rgba(255,255,255,0.2);
				&:before {
					color: @color-white;	
				}
			}
		}
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text{
				@media only screen and (min-width: @screen__m){
					.container{
						left: calc(~'270px + 2.5%');
						position: relative;
					}
				}
				h2,h3,h4{
					font-family: @otherfont-family-bold;
				}
				.btn{
					&:last-child{
						background: @color__brown;
					}
				}
				
			}
		}
	}
	.container_horizontal_tab_postions{
		&.wrapper_category_product_tabs,
		&.wrapper_product_tabs{
			.rokan-title{
				margin-bottom: 4.5rem;
			}
			.ui-tabs-nav{
		        white-space: nowrap;
    			overflow-y: hidden;
				margin-bottom: 4rem;
				li{
					display: inline-flex;
					&:not(:first-child){
						padding-left: 0.5rem;
					}
					&:not(:last-child){
						padding-right: 0.5rem;
					}
					a{
						.lib-css(border-radius, 9rem); 
					    background-color: #ede9e6;
					    line-height: 3rem;
					    padding: 0 3rem;
					}
					&.ui-tabs-active,
					&:hover{
						a{
							background: @theme__color__primary;

						}
					}
				}
			}
		}
	}
	div[class*="wrapper_sub_category_tabs"][style*="background"] {
		padding: 7.5rem 0 4rem 0 ;
		.short-des {
			color: @footercolor;
		}
		.owl-carousel .owl-dots:not(.disabled) {
			margin-top: 7rem;
			.owl-dot{
				background: rgba(255,255,255,0.3);
				&.active,&:hover{
					background: @color-white;
				}
			}
		}
	}
	.wrapper_sub_category_tabs{
		&.container_horizontal_tab_postions{
			.category-thumb-section {
				padding: 0 15px;
				@media only screen and (min-width: @screen__m){
					box-sizing: border-box;
				    margin-left: auto;
				    margin-right: auto;
				    max-width: 1440px;
				    padding-left: 15px;
				    padding-right: 15px;
				    width: auto;
				}
				@media only screen and (min-width: @screen__s){
					width: 95% !important;
				    margin-left: auto;
				    margin-right: auto;
				}
			}

		}
		&.onlyparent .list-category-item .category-item a.horizontal {
			transition: none;
		    flex-wrap: wrap;
			background: transparent;
			.lib-css(border-radius, 0); 
		    justify-content: center;
			img {
				max-width: 100%;
			    @transform: scale(0.9);
			    .lib-css(transform, @transform, @_prefix: 1);
			}
			&:hover {
				color: @color-white;
				img {
				    @transform: scale(1);
				    .lib-css(transform, @transform, @_prefix: 1);
				}
			}
			figure {
			    background: url(../images/bg-cate.png) center no-repeat; 
			    display: inline-block;
			    vertical-align: top;
			    max-width: 100%;
			    background-size: cover; 
			}
			.thumb-infor {
				margin-top: -3.6rem; 
				display: inline-block;
			    vertical-align: top;
			    width: 100%;
			    max-width: 22rem;
			    padding: 1.5rem;
			   .lib-css(border-radius, 9rem); 
			    position: relative;
			    background: @theme__color__primary;
			    text-align: center;
			    .cate-name.cate-count {
			    	line-height: 1;
					.count{
						margin-top: 0.5rem;
					}
				}
			}
		}
	}
	.banner {
		.banner-img {
			img{
				width: 100%;
			}
		}
	}
	.super-deal{
		background-color: #faf8f5;
		.supper-deal-title {
		 	.sub-title-deal{
				background-image: url(../images/bg-slider.png);
				background-repeat: no-repeat;
			    padding: 14px 30px;
			    display: inline-block;
			    background-size: cover;
			    text-transform: uppercase;
			}
		}
		.super-deal-countdown{
			margin-bottom: 1.5rem;
		}
		.item-deal-product {
			.info-price-deal{
				background: @link__hover__color;
				font-family: @heading__font-family__base;
				color: @color-white;
				label{
					color: @color-white;
				}
			}
		}
		.time_circles{
			justify-content: center;
			.text{
				color: @heading__color__base;
				text-transform: uppercase;
			}
		}
	}
}

// Blog page
& when (@media-common = true) {
	div[class="top-banner-blog-container"][style*="background-image"] .top-banner-blog-title{
		color: @color-white;
	}
	.sidebar .widget-post-tab .tab-content ul li .post-tab-info h3 a{
		font-family: @otherfont-family-regular;
		font-size: 1.8rem; 
		&:not(:hover) {
			color: @color__brown; 
		}
	}
	.post-list-wrapper {
		.blog-list-post{ 
			.item-post-full{			
				.blog-post-info{
					.post-title{
						margin-bottom: 1rem;
						a {
							font-size: 3rem;
							font-family: @otherfont-family-regular;
						    line-height: 1;
						    text-align: center;	
						    margin-bottom: 1rem;	
						}
					    a:not(:hover){
						    color: @color__brown;
						}
					}	
				}
			}
		}
	}
	.block-recent-posts{
		.post-list-wrapper {
			.blog-list-post{ 
				.item-post-full{
					.flex();
					.blog-post-thumb {
						a {
							position: relative;
							&:after {
								position: absolute;
							    content: '';
							    top: 0;
							    bottom: 0;
							    left: 0;
							    right: 0;
							    background: url(../images/bg-blog.png) center no-repeat; 
							    background-size: cover;
							}
						}
						.time-conment {
						    left: 1.5rem;
    						top: 2.5rem;
						    color: @color-white;
						    background: @theme__color__primary;
						    .lib-css(border-radius, 1rem);
						    padding: 10px;
						    min-width: 7rem;
						    text-align: center;
						    font-weight: @font-weight__semibold;
						    font-size: 1.6rem;
						    line-height: 1.3;
						    text-transform: capitalize;
						    .date {
						        >span {
						            display: block;
						            font-size: 2.4rem;
						            text-transform: uppercase;
						        }
						    }
						}
					}
					.blog-post-info{
						border: none;
						text-align: center;
						padding: 3rem 1.5rem 0 1.5rem;
						.post-category-name{
							transform: none;
							position: static;
							background: transparent;
							margin-bottom: 0.5rem;
							padding: 0; 
							display: none;
							a{
								font-size: 1.4rem;
								color: @theme__color__primary;
								font-style: italic;
								
							}
							
						}
						.desc{
							font-size: 1.4rem;
							color: @text__color;
							margin: 0;
						}
					}
				}
			}
		}
	}
	
	// Post view
	.blog-post-view {
		.post-title {
			font-family: @otherfont-family-regular; 
			font-size: 4rem; 
			color: @color__brown; 
		}
		.blog-post-thumb{
			a{
				display: block;
				font-size: 0;
			}
		}
		.post-bottom{
			text-align: left; 
		}
	}
}
& when (@media-common = true) {
	.cms-about-us .page-footer{
		.section.connect{
			margin-bottom: 12rem;
		}
	}
	.cms-index-index .page-footer{
		margin-top: 0;
	}
} 