<div class="header-container funiture">
	<div class="topbar">
		<div class="topbar-inner flex-layout center_vertical">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar-static')->toHtml(); ?>
		</div>
	</div>
	<div class="full-width">
		<div class="container flex-layout space-between center_vertical">
			<div class="top-search-not-dropdown">
				<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
			</div>
			<div class="logo-container">
				<div class="logo-site">
					<?php echo $this->getChildHtml('logo'); ?>
				</div>
			</div>
			<div class="col-action col-right">
				<div class="flex-layout center_vertical">
					<ul class="flex-layout action-header">			
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header panel">
		<div class="header-content sticky-header center-element"> 
			<div class="flex-layout space-between center_vertical for-full-width-menu no-wrap-desktop">
				<?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()){ ?>
					<div class="logo-sticky">
						<a href="<?php echo $block->getUrl('');?>" class="sticky-logo"
						title="<?php echo __('Logo');?>">
							<img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/>
						</a>
					</div>
				<?php } ?>
				<div class="language-currency hidden-sticky">
					<div class="container-setting-language-currency flex-layout no-wrap-desktop">
						<?php echo $this->getChildHtml("store_language"); ?>  
						<?php echo $this->getChildHtml("currency"); ?>
					</div>		
				</div>
				<div class="col-menu primary-menu-container col-left">
					<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
				</div>
				<div class="hidden-sticky">	
					<?php echo $this->getChildHtml("top.links"); ?>
				</div>
				<div class="col-action col-right show-on-sticky action-sticky">
					<ul class="flex-layout action-header">
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>