<div class="header-container">
	<div class="header-top">
		<div class="container">
			<div class="header-inner"> 
				<div class="flex-layout space-between center_vertical">
					<div class="col-left col-top-link flex-layout center_vertical">
						<div class="language-currency">
							<div class="container-setting-language-currency">
								<?php echo $this->getChildHtml("store_language"); ?>  
								<?php echo $this->getChildHtml("currency"); ?>
							</div>		
						</div>
						<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
					</div>
					<div class="logo-container">
						<div class="logo-site">
							<?php echo $this->getChildHtml('logo'); ?>
						</div>
					</div>
					<div class="col-action col-right flex-layout space-between center_vertical">
						<?php echo $this->getChildHtml("top.links"); ?>
						<ul class="flex-layout action-header">
							<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
							<li class="minicart-li-content-show-hide">
								<?php echo $this->getChildHtml('minicart'); ?>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-content sticky-header center-element">
		<div class="container">
			<div class="flex-layout for-full-width-menu space-between center_vertical">
				<?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()){ ?>
					<div class="logo-sticky">
						<a href="<?php echo $block->getUrl('');?>" class="sticky-logo"
						title="<?php echo __('Logo');?>">
							<img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/>
						</a>
					</div>
				<?php } ?>
				<div class="col-menu-on-left flex-layout col-menu">
					<div class="primary-menu-container">
						<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
					</div>
				</div>
				<div class="col-action col-right show-on-sticky action-sticky">
					<ul class="flex-layout action-header">
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>