<?php if ($block->displayNoticeActivationPurchaseCode()): ?>
    <div class="message global notice_activation_purchase_code">
        <div class="content">
            <p><span><?= base64_decode('WW91ciBsaWNlbnNlIGlzIGludmFsaWRhdGVkLg==') ; ?></span> <?= base64_decode('UGxlYXNlIGdvIHRvOg==') ; ?> <i><?= base64_decode('Um9rYW50aGVtZXMgPiBSb2thbnRoZW1lcyBUaGVtZSA+IEFjdGl2YXRpb24gUHVyY2hhc2UgQ29kZQ==') ; ?></i></p>
        </div>
    </div>
<?php endif; ?>