<?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableFakeOrder()){ ?>
<div data-url="<?php echo $this->getUrl('themeoption/fakeorder/getitem');?>" id="purchase-fake-order" data-seconds-hide="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getInfoFakeOrder('seconds_hide') != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getInfoFakeOrder('seconds_hide') : 3; ?>" data-seconds-displayed="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getInfoFakeOrder('seconds_displayed') != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getInfoFakeOrder('seconds_displayed') : 5; ?>" class="purchase-order fadeInUp animated hidden-xs" style="display: none;">
	<a class="purchase-close" href="javascript:void(0);"><i class="icon-x"></i></a>
	<div class="product-purchase"></div>
</div>
<?php } ?>