<?php
/**
 * Copyright © 2015 RokanThemes.com. All rights reserved.

 * @author RokanThemes Team <contact@rokanthemes.com>
 */
?>
<?php
/**
 * Blog post view template
 *
 * @var $block \Rokanthemes\Blog\Block\Post\View
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postNameStripped = $block->stripTags($_post->getTitle(), null, true);
?>
<div class="post-view">
    <div class="post-holder post-holder-<?php echo $_post->getId() ?>">
		<div class="post-category-name">
			<?php echo $this->getInfoHtml() ?>
		</div>
		<h1 class="post-title"><?php echo $_post->getTitle(); ?></h1>
		<div class="blog-post-thumb">
			<a href="<?php echo $_post->getPostUrl() ?>">
				<img src="<?php echo $this->getMediaFolder().$_post->getDetailimage() ?>"/>
			</a> 
			<div class="time-conment">
				<?php 
					$date = $_post->getPublishTime();
				?>
				<div class="date-time"><span class="date"><?php echo date("F", strtotime($date)); ?> <?php echo date("d", strtotime($date)); ?></span></div>
			</div>	
		</div> 
		<div class="blog-post-info">	
            <div class="desc">
                <?php echo $block->getContent() ?>
            </div>
			<div class="post-header clearfix">
				<div class="addthis_toolbox addthis_default_style" addthis:url="<?php echo $_postUrl ?>">
					<a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_email"></a>
					<a class="addthis_button_compact"></a>
				</div> 
			</div>
        </div>
        <div class="post-bottom">
            <?php echo $this->getChildHtml('blog.post.bottom') ?>
        </div>
    </div>
</div>