//Define variables 
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold; 
@heading__line-height__base: 1.2;
@heading__color__base: #333333;


// Color 
@theme__color__primary: #fecb00; 
@link__hover__color: #fecb00;
@border-color__base: #ededed;
// Topbar
@topbarbg: #f5f5f5;
@topbarcolor: #333333;
@mainsectionbg: #fdf4ed;
// Header
@header__background-color: @color-white;
@header-border-color: #c4c4c4;

@header_sticky_bg: @header__background-color;
@header_sticky_border: @border-color__base;
@header-icons-color: #333e48;

@headerpadding: 0; // Make header height bigger than menu height
@sticky_padding: 5px;
// Top search
@_search-border-color: #e6e6e6;
@_search-border-width: 2px;

// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: #fecb00;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.4rem;


//Level 0
@navigation-desktop-level0-item__color: #333e48;
@navigation-desktop-level0-item__hover__color: @navigation-desktop-level0-item__color;
@navigation-desktop-level0-item__hover__text-decoration: underline;
@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: @navigation-desktop__font-weight;
@navigation-desktop-level0-item__padding: 0 15px;

@submenu-desktop-item__hover__color: @theme__color__primary;
// Level 1
@level1_color: @heading__color__base;

/* footer */
@footer-title-color: @color-white;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @font-weight__bold;
@footer-title-transform: capitalize;
@footer__background-color: #252525;


@footercolor: #666666;
@footer-border-color: #3d3d3d;

@footer-middle-bg: #1d1d1d;
@footer-bottom_bg: #252525;
@footer_bottom_color: #888888;


//Module variables
//Title
@module_margin_bottom: false;
@module_title-size: 2rem;
@module_title-text-transform: capitalize;
@module_title_text-align: left;
@short_des_font_size: 1.4rem;


@margin_gobal_value: 6rem;
// Product
@price_color: #222;
@product-name-link__color: #007aff;
@product-name-link__color__visited: @product-name-link__color;
// Sale new label
@sale_label_bg: #4cd964;
@sale_label_color: @color-white;

@new_label_bg: @link__hover__color;
@new_label_color: @color-white;


// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: #333333;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: #888;
//Button variable
@button__border-radius: 30px; 
@button__color: #333e48;
@button__padding: 12.5px 40px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;
@button__text_transform: uppercase;

//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: @button__border-radius;

@timeline-loading-item_bg: #ccc;


// Slider heading
@slider_h2_font-size-xxl: 48px;
@slider_h2_font-size-xl: 48px;
@slider_h2_font-size-l: 35px;
@slider_h2_font-size-s: 30px;
@slider_h2_font-size-xs: 15px;
@slider_h2_font-weight: @font-weight__bold;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.2;

@slider_h3_font-size-xxl: 43px;
@slider_h3_font-size-xl: 43px;
@slider_h3_font-size-l: 33px;
@slider_h3_font-size-s: 26px;
@slider_h3_font-size-xs: 20px;
@slider_h3_font-weight: @font-weight__semibold;
@slider_h3_letter-spacing: false;
@slider_h3_text-transform: capitalize;
@slider_h3_margin: 0;
@slider_h3_line-height: 1;

@slider_p_font-size-xxl: 14px;
@slider_p_font-size-xl: 14px;
@slider_p_font-size-l: 14px;
@slider_p_font-size-s: 13px;
@slider_p_font-size-xs: 10px;
@slider_p_margin: 12px;
@slider_p_line-height: 1.1;
@slider_p_text-transform: uppercase;

@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 8px;
@slider_button_padding: @button__padding;
@slider_button_padding-s: 5px 10px;
@slider_button_bg: @theme__color__primary;
@slider_button_margin-top: 20px;

@slider_button_margin-top: 36px;
@slider_button_bg: @theme__color__primary;


@nivo-directionNav-bg: #dddddd;
@nivo-directionNav-width: 40px;
@nivo-directionNav-height: 40px;
@nivo-directionNav-border-radius: @button__border-radius;

@owl-nav-bg: @nivo-directionNav-bg;
@owl-nav-border-radius: @button__border-radius;


@nivo-controlNav-veritcal-postion: -20px;
@nivo-controlNav-postion: center;
@nivo-controlNav-bg: #dadbe6;
@nivo-controlNav-width: 10px;
@nivo-controlNav-height: 10px;
@nivo-controlNav-border-radius: 10px;
@nivo-controlNav-font: 0;
// Category tab, product tab
//  Variables
//  _____________________________________________

@products-tab-text-align: center;

@new_label_bg: #ef4646;
@new_label_color: @color-white;

// Supper deal
@banner_padding: false;
@deal_product_name_size: 1.4rem;
@deal_number_bg: false;
@deal_number_font-size: 2.4rem;
@deal_number_font-weight: @font-weight__bold;
@deal_number_color: @color-white;
@deal_number_width: 5rem;
@banner_deal_number-border-radius: 50%;

// Short des

@des_supper_deal_color: @heading__color__base;
@des_supper_deal_size: 3rem;
@des_supper_deal_font-weight: @heading__font-weight__base;

// Vertical menu
@vertical_menu_title_padding: 0;
@vertical_menu_title_bg: transparent;
@vertical_menu_title_padding-mobile: 0;
@vertical_menu_title_text-transform: @navigation-level0-item__text-transform;
@vertical_menu_title_font-size: @navigation-desktop__font-size;
@vertical_menu_title_color: #333333;
// Header
@vertical_menu_border-width: false;
@vertical_level0_color: #e6e6e6;
@vertical_level10_border: false;
@vertical_level10_size: 14px;
@vertical_level10_padding: 0 2rem;
@vertical_level10_desktop_line-height: @line-height__base;
@vertical_level10_padding: 0.635rem 2rem;
@level0_vertical_font_weight: @font-weight__regular;

@vertical_submenu__background: #252221;
@level1_vertical_font_weight: @font-weight__bold;
@level1_vertical_font_size: 1.4rem;
@level1_vertical_color: @theme__color__primary;

// Owl
@nivo-directionNav-bg: #dddddd;
@nivo-directionNav-width: 40px;
@nivo-directionNav-height: 40px;
@nivo-directionNav-border-radius: @button__border-radius;

@owl-nav-bg: @nivo-directionNav-bg;
@owl-nav-border-radius: @button__border-radius;
// Change gobal style
& when (@media-common = true) {
	.product-item {
		.special-price .price, 
		.minimal-price .price,
		.price-box .price{
			font-weight: @font-weight__semibold;
		}
	}
	.rokan-title{
		margin-bottom: 0;
		background-color: @mainsectionbg;
		.module-title{
			display: inline-block;
			margin-bottom: 0;
			background-color: @theme__color__primary;
			border-radius: 0 0 1.5rem 0;
			padding: 1.2rem 4.5rem 1.2rem 2rem;
		}
		.short_description{
			padding: 1rem;
			margin-bottom: 0;
		}
	}
	.wrapper-the-blue-sky-slider{
		.nivo-directionNav{
			a{
				&.nivo-nextNav{
					right: 0;
					transform: translateY(-50%) !important;
				}
				&.nivo-prevNav{
					left: 0;
					transform: translateY(-50%) !important;
				}
			}
		}
	}
	.wrapper-the-blue-sky-slider,
	body .owl-carousel {
		.nivo-directionNav,
		.owl-nav {
			a,
			button{
			    &.nivo-nextNav,
			    &.owl-next{
			    	border-top-right-radius: 0;
    				border-bottom-right-radius: 0;
			    }
			    &.nivo-prevNav,
	  			&.owl-prev{
	  				border-top-left-radius: 0;
    				border-bottom-left-radius: 0;
	  			}
			}
		}
		.owl-item {
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		    -moz-transition: all .3s ease;
		    -o-transition: all .3s ease;
		    transition: all .3s ease;
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			}
		}
		&:hover{
			.nivo-directionNav,
			.owl-nav {
				a,
				button{
					&.nivo-nextNav,
					&.nivo-prevNav,
		  			&.owl-next,
					&.owl-prev{
						@transform: translateY(-50%) translateX(0);
			    		.lib-css(transform, @transform, @_prefix: 1);
					}
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	.toolbar.toolbar-products + .products-grid .product-item .product-item-info .actions-secondary .action.tocompare, 
	.toolbar.toolbar-products + .block + .products-grid .product-item .product-item-info .actions-secondary .action.tocompare, 
	.block.crosssell .product-item .product-item-info .actions-secondary .action.tocompare, 
	.search.results .product-item .product-item-info .actions-secondary .action.tocompare{
		display: inline-flex;
	}
	.section{
		.products{
			margin: 0;
		}
	}
	.product-info-main{
		.value{
			ul,ol{
				padding-left: 1.6rem;
				margin-bottom: 0;
			}
			&:after,
			&:before{
				content: '';
				display: table;
				clear: both;
			}
		}
	}
	.product-info-main, 
	.product-options-bottom {
		.product-addto-links {
			.action{
				.border_radius(50%);
			}
		}
	}
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid,
	.section .products-list{
		.owl-carousel .owl-stage-outer{
			padding-right: 1px;
			padding-left: 1px;
			margin-left: -1px;
			margin-right: -1px;
		}
		.product-items{
			.product-item{
				.product-item-info {
					&:before {
						display:none; 
					}
					.product-item-details {
						padding: 2rem 0 0;
						.product-item-inner{
							.transition();
						}
						.product-item-actions{
							.flex();
							align-items: center;
							justify-content: center;
							position: absolute;
						    top: -3rem;
						    left: 0;
						    right: 0;
						    text-align: center;
						    background: @color-white;
						    z-index: 2;
						    .transition();
						}
						.actions-primary{
							position: static;
							opacity: 1;
							visibility: visible;
							height: auto;
							width: auto;
							border-radius: 0;
							background-color: transparent;
							padding: 0 6px;
							form{
								position: relative;
								top: -2px;
							}
							.action.tocart:before{
								.lib-font-size(16);
							}
							&:hover{
								.action.tocart:before{
									color: @theme__color__primary;
								}
							}
						}
						.actions-secondary{
							position: static;
							padding: 0;
							justify-content: center;
							box-shadow: none;
							transform: none;
						    opacity: 1;
						    visibility: visible;
							&:after,
							&:before{
								display: none;
							}
							a{
								font-size: 0;
								flex: unset;
								line-height: 1;
								padding: 0 6px;
								&:before{
									.lib-font-size(18);
									color: @text__color;
								}
								&.link-quickview{
									position: relative;
									top: -2px;
									&:before{
										.lib-font-size(23);
									}
									&.loading{
										&:before{
											position: relative;
											top: 5px !important;
										}
									}
								}
								span{
									display: none;
								}
							}
						}
						
					}
				}
				&:not(:hover){
					.product-item-info {
						.product-item-details {
							.product-item-actions{
							    top: -1rem;
							    opacity: 0;
							    visibility: hidden;
							}
						}
					}
				}
				&:hover{	
					.product-item-info{
						&:before{
							display: none;
						}
					}
					.product-item-actions{
						top: -3rem;
						opacity: 1;
						visibility: visible;
						.actions-secondary{
							bottom: -1rem;
						}
					}	
				}
			}	
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items{
			.item-row{
				.product-item{
					&:first-child{
						border-top: 0;
					}
				}
			}
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
		.block.related{
			.products-grid .product-items {
				.owl-item{
					padding-bottom: 1px;
				}
				.product-item{
					&:not(:hover) {
						.product-item-info .product-item-details .product-item-actions{
							opacity: 1;
							visibility: visible;
							.actions-secondary{
								opacity: 0;
								visibility: hidden;
							}
						}
					}
					&:hover{
						.product-item-info .product-item-details .product-item-actions{
							top: -2rem;
							.actions-secondary{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	.list.products-list {
		.product-items {
			.product-item {
				.product-item-info {
					.product-item-details {
						.product-item-description{
							padding-left: 1.8rem;
						}
					}
				}
			}
		}
	}
}
// Header
& when (@media-common = true) {
	.header-container{
		// Topbar
		.topbar_advertisement{
			line-height: 0;
			p{
				margin-bottom: 0;
			}
		}
		.topbar_inner{
			padding: 6px 0;
			p{
				margin: 0;
			}
			a{
				&:not(:hover){
					.lib-css(color, @topbarcolor);
				}
			}
		}
		// Language currency
		.container-setting-language-currency{
			.switcher{
				padding: 0 10px 0 1.2rem;
				.lib-css(border-color, @header-border-color);
				&:first-child{
					padding-left: 1.5rem;
					margin-left: 1.5rem;
					border-left: 1px solid @header-border-color;
				}
			}
		}
		.header.links{
			border-left: 1px solid @header-border-color;
			padding-left: 1.2rem;
		}
		.header-middle{
			> .flex-layout{
				padding: 1.5rem 0;
			}
			.col-action{
				.action-header{
					.minicart-wrapper{
						margin-left: 0.7rem;
						.showcart{
							.text{
								.lib-reset-width();
								font-weight: @font-weight__bold;
							}
						}
					}
				}
				.minicart-wrapper .action.showcart,
				li  {
					.counter.qty{
						font-weight: @font-weight__bold;
					}
				}
			}
		}
		// Search
		.block.block-search {
			.block-content {
				.dropdown {
					.form.minisearch {
						.search-form{
							input,
							select{
								height: 4rem;
								padding-top: 0;
    							padding-bottom: 0;
							}
							.field.search{
								&:before{
									border-right: 2px solid @_search-border-color;
									top: 3px;
									bottom: 3px;
								}
							}
						}
						.actions {
							.action.search{
								font-weight: @button__font-weight;
								top: -2px;
								right: -2px;
								bottom: -2px;
								border-top-left-radius: 0px;
								border-bottom-left-radius: 0;
								padding: 0 2rem;
								&:before{
									display: none;
								}
								span{
									.lib-reset-width();
								}
							}
						}
					}
				}
			}
		}
		// hotline
		.hotline{
			.icon{
				color: @theme__color__primary;
			}
			.content{
				h5{
					a{
						&:not(:hover){
							color: @heading__color__base;
						}
					}
				}
			}
		}

		&.sticky{
			.sticky-header {
				.lib-css(padding, @sticky_padding);
				border-bottom: 1px solid @header_sticky_border;
				.logo-container{
					order: 2;
					padding: 0 1rem;
				}
				.col-menu{
					flex: 1 !important;
    				justify-content: flex-start !important;
    				.verticalmenu.navigation{
    					padding-left: 0;
    				}
				}
				.col-action{
					order: 3;
    				.flex-layout {
    					justify-content: flex-end;
    				}
    				.hidden-sticky{
    					display: none !important;
    				}
				}
			}
		}
		&:not(.sticky){
			.header-middle{
				padding: 2rem 0;
			}
		}
		// Main menu 
		.mega-menu{
			.lib-css(background-color, @navigation-desktop__background);
		}
		.navigation {
			@media (max-width: 1439px) and (min-width: 1200px){
				.level0 {
					margin: 0;
					> .level-top{
						padding-right: 0.5rem;
						padding-left: 0.5rem;
					}
				}
			}
		}
		// Vertical menu
		.verticalmenu.navigation {
			background-color: transparent;
			.title-category-dropdown{
				font-weight: @font-weight__bold;
				&:before{
					.icon_custom_font("\e904");
				}
			}
			.list-category-dropdown{
				min-width: 23rem;
				li.level0 {
					> a{
						text-transform: capitalize;
					}
					&:hover{
						> a{
							color: @theme__color__primary;
							&:before{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	header {
		.sticky-header{
			.flex-layout{
				flex-wrap: nowrap;
			}
		}
		.top-search-not-dropdown{
			flex: 1;
			padding-left: 1.5rem;
			max-width: 68rem;
		}
		.verticalmenu.navigation {
			padding-left: 2rem;
			.list-category-dropdown{
				padding: 1rem 0;
				li.level0 {
					> .submenu{
						min-height: unset;
						a{
							padding-left: 0;
							padding-right: 0;
						}
						.subchildmenu {
							&.mega-columns{
								&.columns2{
									> li{
										float: none;
										display: inline-block;
										width: 100%;
									}
									@column-count: 2;
									.lib-css(column-count, @column-count, @_prefix: 1);
									margin-bottom: -6rem;
									background-position: right bottom;
								}
							}
							.title-cat-mega-menu{
								border-bottom: 1px solid #e1e1e1;
							}
						}
					}
					&:hover{
						> a{
							color: @theme__color__primary;
							&:before{
								display: none;
							}
						}
						> .submenu{
							@box-shadow: 2px 3px 6px rgba(0,0,0,.2);
							.lib-css(box-shadow, @box-shadow, @_prefix: 1);
							background-position: right bottom;	
						}
					}
				}
			}
		}
		.navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus{
			text-decoration: none;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.logo-container{
			order: 2;
			padding: 0 1.5rem;
		}
		.top-search-not-dropdown{
			order: 4;
			flex: 0 0 100%;
			margin-top: 1rem;
		}
		.col-menu{
			flex: 1 !important;
			justify-content: flex-start !important;
		}
		.col-action{
			order: 3;
			flex: 1;
			.flex-layout{
				justify-content: flex-end;
			}
			.action-header {
				> li .minicart-wrapper,
				> li,
				li .minicart-wrapper{
					> a,
					> a.active{
						&:before{
							font-size: 2.4rem;
							line-height: 3rem;
						}
					}
					.counter.qty{
						min-width: 2rem;
   						min-height: 2rem;
					}
				}
			}
		}
		.topbar_inner{
			> .flex-layout{
				justify-content: center !important;
			}
		}
	}
	html{
		.header-container .mega-menu{
			display: none;
		}
		&.nav-open{
			.header-container .mega-menu{
				display: block;
			}
		}
	}
	body .verticalmenu.navigation .list-category-dropdown{
		background-color: @color-white;
		 li.level0 > a{
		 	color: @navigation-desktop-level0-item__color;
		 }
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container {
		.container-setting-language-currency {
			.flex();
			align-items: center;
			justify-content: center;
			.switcher:first-child{
				border-left: 0 !important;
				margin-left: 0 !important;
			}
		}
		.col-menu{
			justify-content: space-between;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		.logo-container{
			flex: 0 0 100%;
		    max-width: 100%;
		    order: 1;
		    justify-content: center;
		    margin-bottom: 1.5rem;
		}
		.col-menu{
			order: 3;
		}
		.block.block-search .dropdown .form.minisearch .search-form{
			.field-by-cat-search,
			.field.search:before{
				display: none;
			}
		}
	}

}
// Footer
& when (@media-common = true) {
	.cms-index-index{
		.page-footer{
				margin-top: 0;
		}
	}
	.page-footer {
		.footer-static_link {
			.footer-links{
				&.not-collapse-mobile{
					text-align: center;
					.footer-logo{
						margin-bottom: 8%;
					}
					.flex-layout{
						.icon{
							*[aria-hidden="true"]{
								&:before{
									.lib-font-size(48);
									color: @theme__color__primary;
								}
							}
						}
						.content{
							p{
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		.footer-middle{
			.lib-css(background-color, @footer-middle-bg);
			padding: 2rem 0;
			.block-newsletter-form{
				flex: 1;
				padding: 0;
				margin-bottom: 0;
				.container{
					width: 100% !important;
					padding: 0;
				}
				.newsletter-form{
					float: none !important;
					.flex();
					align-items: center;
					justify-content: space-between;
					margin-bottom: 0;
					
					.rokan-title{
						.flex();
						background-color: transparent;
						.module-title{
							.flex();
							margin-bottom: 0;
							align-items: center;
							word-break: break-word;
	   						flex-wrap: nowrap;
	   						padding-right: 1rem;
	   						margin-right: 1rem;
	   						padding: 0;
	   						background-color: transparent;
							.icon{
								.lib-font-size(44);
								margin-right: 1rem;
								*{
									&:before{
										color: @theme__color__primary;
									}
								}
							}
							color: @color-white;
							.lib-font-size(18);
						}
					}
					.content{
						flex: 1;
						.field .control{
							max-width: unset;
							.input-focus{
								flex: 1;
								input{
									.lib-css(border-radius, @button__border-radius 0 0 @button__border-radius)
								}
							}
						}
					}
				}
			}
		}
		// square-social
		.footer.content .square-social{
			.social-link{
				li{
					a{
						border: 2px solid @footercolor;
						.border_radius(50%);
						width: 3rem;
						height: 3rem;
						&:hover{
							border-color: @theme__color__primary;
						}
						.icon{
							font-size: 1.4rem;
						}
						&:not(:hover){
							.icon{
								.lib-css(color, @footercolor);
							}
						}
					}
					&:not(:last-child){
						padding-right: 0.5rem;
					}
					&:not(:first-child){
						padding-left: 0.5rem;
					}
				}
			}
		}
		.footer-bottom{
			margin-top: 0;
			text-align: center;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer {
		.footer-top{
			overflow: hidden;
		}
		.footer-static_link {
			padding-bottom: 5.5rem;
			.footer-links{	
				&.not-collapse-mobile{
					position: relative;
					&:before,
					&:after{
						content: '';
						border-left: 1px solid @footer-border-color;
						position: absolute;
						top: -@margin_gobal_value;
						bottom: -5.5rem;
					}
					&:before{
						left: 0;
					}
					&:after{
						right: 0;
					}
				}
			}
		}
		.footer-middle{
			.block-newsletter-form{
				padding-right: 3%;
				.newsletter-form{
					.rokan-title{
						padding-right: 3%;
						.module-title{
							max-width: 170px;
							.lib-css(border-right, 1px solid @footer-border-color);
						}
						.short-des{
							word-break: break-word;
	   						max-width: 250px
						}
					}
				}
			}
		}
	}
}	
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer {
		.footer-static_link {
			.footer-links{	
				order: 2;
				&.not-collapse-mobile{
					order: 1;
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 1rem;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer {
		.footer-middle{
			.square-social{
				flex-direction: column;
    			align-items: center;
			}
			.block-newsletter-form{
				margin-bottom: 2rem !important;
				.rokan-title{
					margin-bottom: 1.5rem;
				}
			}
		}
	}
}
// Slider
& when (@media-common = true){
	.wrapper-the-blue-sky-slider {
		margin-top: 1rem;
		.nivo-controlNav{
			&:not(.nivo-thumbs-enabled) {
				.nivo-control{
					&.active{
						width: 2.8rem;
					}
				}
			}
		}
	}
}
// Supper deal
@banner_padding: false;
@deal_product_name_size: 1.4rem;
@deal_number_bg: @color-white;
@deal_number_font-size: 2.4rem;
@deal_number_font-weight: @font-weight__bold;
@deal_number_color: @heading__color__base;
@deal_number_width: 5rem;
@banner_deal_number-border-radius: 50%;

// Title
@title_supper_deal_size: 4.8rem;
@title_supper_deal_mobile_size: 3.6rem;
@title_supper_deal_font-weight: @heading__font-weight__base;
@title_supper_deal_margin: 0 0 3rem;
// Short des

@des_supper_deal_color: #333e48;
@des_supper_deal_size: 1.4rem;
@des_supper_deal_font-weight: false;
// Supper deal
& when (@media-common = true){
	.hot-deal-tab-slider {
		background-size: cover;
    	background-repeat: no-repeat;
    	padding: 2rem 0 1rem;
    	.owl-carousel{
    		.owl-nav {
    			button{
					&.owl-prev{
						@transform: translateY(-50%) translateX(-100%) scale(1);
						.lib-css(transform, @transform, @_prefix: 1);
						.border_radius(30px);
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
					&.owl-next{
						@transform: translateY(-50%) translateX(100%) scale(1);
						.lib-css(transform, @transform, @_prefix: 1);
						.border_radius(30px);
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
    		}
    		&:hover {
    			.owl-nav {
    				button{
    					&.owl-prev{
    						@transform: translateY(-50%) translateX(-100%);
    						.lib-css(transform, @transform, @_prefix: 1);
    						.border_radius(30px);
    						border-top-right-radius: 0;
    						border-bottom-right-radius: 0;
    					}
    					&.owl-next{
    						@transform: translateY(-50%) translateX(100%);
    						.lib-css(transform, @transform, @_prefix: 1);
    						.border_radius(30px);
    						border-top-left-radius: 0;
    						border-bottom-left-radius: 0;
    					}
    				}
    			}
    		}
    	}
		.supper-deal-title{
    		padding: 1.5rem 2rem 2rem;
    		flex-direction: column;
    		.short-des{
    			.flex();
    			flex-wrap: nowrap;
    			line-height: 1.2;
    			align-items: center;
    			.icon{
    				font-size: 30px;
				    line-height: 36px;
				    margin-right: 10px
    			}
    		}
		}
		
		.super-deal-countdown {
			.time_circles {
				padding: 1.5rem 3rem 1rem;
				margin: 0;
				max-width: 100%;
				background-color: @des_supper_deal_color;
				.border_radius(50px);
				.number{
					border: 2px solid @color-white;
		    		border-radius: 50%;
		    	}
		    	.text{
		    		color: @color-white;
		    	}
		    	> div{
		    		padding: 0;
		    		&:not(:last-of-type){
		    			.number{
		    				position: relative;
		    				margin-right: 0.5rem;
		    				&:after{
				    			content: ':';
				    			position: absolute;
				    			right: -1.5rem;
				    			top: 50%;
				    			@transform: translateY(-50%);
				    			.lib-css(transform, @transform, @_prefix: 1);
				    			color: @color-white;
				    		}
			    		}
		    		}
		    	}
		    }
		}
		.products{
			margin: 0;
		}
		.products-grid {
			padding-top: 2rem;
			.product-items {
				&.owl-carousel .owl-stage-outer{
					border-left: 0
				}
				.product-item{
					border: 0;
					.product-item-details {
						padding-top: 0;
						flex: 0 0 55%;
						max-width: 55%;
					}
					.product-item-info{
						.product-item-inner .product-item-actions{
							position: static;
							opacity: 1 !important;
							visibility: visible !important;
							
						}
						.product-item-actions{
							display: block !important;
							
							.actions-secondary{
								opacity: 0;
								visibility: hidden;
								position: absolute;
								left: 0;
								right: 0;
								bottom: -3;
								.transition();
							}
						}
						.product-item-photo{
							flex: 0 0 45%;
							max-width: 45%;
						}
						.product-item-details{
							padding-left: 1.5rem;
						}
						.product-item-name{
							margin-bottom: 0;
						}
						.product-label{
							position: static;
							background-color: transparent;
							.lib-font-size(24);
							font-weight: @font-weight__bold;
							padding: 0;
							margin-bottom: 2rem;
							display: block;
							span{
								color: #ff0101;
								&:not(.value){
									background-color: @sale_label_bg;
									color: @color-white;
									.lib-font-size(14);
									padding: 3px 18px;
	    							border-radius: 3px;
	    							display: inline-block;
	    							position: relative;
	    							top: -3px;
								}
							}
						}
						.info-price{
							border: 0;
						    margin: 0 0 1rem;
						    padding: 0;
						    .special-price{
						    	.price{
						    		.lib-font-size(18);
						    	}
						    }
						}
						.product-item-description{
							margin: 0;
							ul{
								list-style: none;
								padding-left: 0;
								margin-bottom: 1rem;
								li{
									margin-bottom: 0;
									&:before{
										content: '';
										width: 6px;
										height: 6px;
										border-radius: 50%;
										background-color: #666;
										display: inline-block;
									    position: relative;
									    top: -2px;
									    margin-right: 5px;
									}
								}
							}
							table{
								tr{
									td,
									th{
										padding-top: 0;
										padding-bottom: 0;
										width: auto;
									}
									th{
										padding-left: 0;
									}
								}
							}
						}
						.actions-primary{
							width: 100% !important;
							padding: 0 !important;
							text-align: left;
							transform: none;
							form{
								top: 0;
								width: 100%;
							}
							.action.tocart{
								border-radius: @button__border-radius;
								font-weight: @button__font-weight;
								text-transform: @button__text_transform;
								.lib-font-size(14);
								padding: 8px 30px;
								&:before{
									display: none;
								}
								&:not(:hover){
									.lib-css(background, @checkout-button-bg);
									.lib-css(color, @checkout-button-color);
								}
								&:hover{
									background-color: @button__background;
									color: @button__color;
								}
							}
							
						}
					}
					&:hover{
						.product-item-info{;
							.product-item-actions{
								.actions-secondary{
									opacity: 1;
									visibility: visible;
									bottom: -3rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.hot-deal-tab-slider {
		.flex();
		flex-wrap: nowrap;
		align-items: center;
		.supper-deal-title{
			flex: 0 0 54%;
			max-width: 37rem;
			.short-des{
				max-width: 90%;
			}
		}
		.products-grid{
			max-width: 93.2rem;
			flex: 1;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .hot-deal-tab-slider {
		margin-bottom: 0;
		.products-grid {
			padding-top: 0;
			width: 90%;
			margin: auto;
			.product-items .product-item {
				.product-item-info {
					.product-item-photo{
						flex: 0 0 30%;
						max-width: 30%;
					}
					.actions-primary {
						text-align: left;
						.action.tocart{
							width: auto;
						}
					}
				}
				.product-item-details{
					flex: 0 0 70%;
					max-width: 70%;
				}
			}
		}
		.supper-deal-title{
			.title-deal{
				margin-bottom: 0;
				br{
					display: none;
				}
			}
			> *{
				&:not(.title-deal){
					margin: 1rem 0 !important;
				}
			}
			
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body .hot-deal-tab-slider {
		.super-deal-countdown{
		 	margin-bottom: 0;
		 	.time_circles {
		 		display: inline-flex;
		 		> div{
					margin: 5px 0;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
	body .hot-deal-tab-slider {
		.products-grid .product-items .product-item-info{
			flex-direction: column;
			.product-item-photo{
				flex: 0 0 100% !important;
				max-width: 100% !important;
			}
		}
	}
}
// Category tab
& when (@media-common = true){
	.container_horizontal_tab_postions{
		.ui-tabs-nav{
			margin-bottom: 0 !important;
		}
	}
	.wrapper_category_product_tabs{
		.owl-carousel .owl-stage-outer{
			overflow: visible;
			.owl-item{
				&:not(.active){
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&.container_horizontal_tab_postions{
			.ui-tabs-nav{
				.flex();
				flex-wrap: nowrap;
			    justify-content: space-between;
			    border-left: 1px solid transparent;
			    white-space: nowrap;
	    		overflow-y: hidden;
	    		border-right: 1px solid @border-color__base;
	    		border-bottom: 1px solid @border-color__base;
				li{
					padding: 1.5rem 0 1rem;
					border: 1px solid @border-color__base;
					border-top: 0;
					border-right: 0;
					border-bottom: 0;
					flex: calc(~'100% / 6');
					max-width: calc(~'100% / 6');
					justify-content: center;
					margin-bottom: 0;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: -1px;
						border-bottom: 2px solid transparent;
					}
					a{
						display: inline-flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
					}
					&.ui-state-active{
						&:after{
							border-color: @theme__color__primary;
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .wrapper_category_product_tabs{
		&.container_horizontal_tab_postions{
			.ui-tabs-nav{
				li{
					flex: calc(~'100% / 3');
					max-width: calc(~'100% / 3');
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body{
		.wrapper_category_product_tabs.container_horizontal_tab_postions .ui-tabs-nav li{
			flex: 0 0 40%;
			max-width: 40%;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body{
		.wrapper_category_product_tabs.container_horizontal_tab_postions .ui-tabs-nav li{
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}
// Product tab
// List
& when (@media-common = true){
	.wrapper_product_tabs .products.wrapper.list{
		.product-items {
			.product-item {
				.product-label{
					display: none;
				}
				.product-item-photo{
					width: 45.6%;
					padding-right: 1rem;
					@media only screen and (max-width: 1439px) {
						width: 31.6%;
					}
					.product-image-container {
						width: 100% !important;
					}
				}
				.product-reviews-summary{	
					display: none;
				}
			}
		}
	}
	.group-product{
		.wrapper_product_tabs .products.wrapper.list{
			.item-row .product-item{
				&:first-child{
					border-top: 0;
				}
				&:not(:last-of-type){
					margin-bottom: 0;
					border-bottom: 0;
				}
			}
			.product-item{
				.product-item-photo{
					width: 36.365%;
					@media only screen and (max-width: 1600px) {
						width: 35%;
					}
				}
			}
		}
	}
	.product-has-banner{
		background-color: #f8faf9;
		.lib-css(padding, @margin_gobal_value 0 0);
		.wrapper_product_tabs .products.wrapper.list{
			.item-row .product-item:not(:last-of-type){
				margin-bottom: 2rem;
			}
			padding: 2rem;
		    border: 1px solid @border-color__base;
		    border-top: 0;
			.product-items {
				.product-item {
					padding: 1rem;
					.price-box {
						.price{
					 		font-size: 1.4rem;
					 	}
					 	> span{
					 		margin-right: 0.5rem;
					 	}
					}
				}
			}
		}
	}
}
// Brand tab
& when (@media-common = true){
	.brand-product-tab {
		.widget-brand-list-tab-title{
			> a{
				margin-right: 1.5rem;
			}
		}
		.brand-list-tab-container-title{
			margin-bottom: 0;
			overflow: hidden;
			grid-template-columns: unset;
			padding-bottom: 15px;
			border: 0;
			margin: 0 -1px -15px;
			position: relative;
    		z-index: 2;
		}
		.owl-stage-outer{
			padding-bottom: 15px;
			margin-bottom: -15px;
		}
		.item.title{
			position: relative;
			width: 100%;
			&:hover,
			&.active{
				a{
					&:before{
						position: absolute;
					    content: '';
					    bottom: -2.6rem;
					    left: 0;
					    right: 0;
					    margin: auto;
					    width: 14px;
					    height: 7px;
					    border-top: 7px solid #fff;
					    border-left: 7px solid transparent;
					    border-right: 7px solid transparent;
					}
				}
				&:after{
					    position: absolute;
				    content: '';
				    top: calc(100% - 1px);
				    left: 0;
				    right: 0;
				    margin: auto;
				    width: 20px;
				    height: 10px;
				    border-style: solid;
				    border-width: 10px 0 0;
				    border-left: 10px solid transparent;
				    border-right: 10px solid transparent;
				    border-top-color: @theme__color__primary;
				}
				&:before{
					border-color: @theme__color__primary;
				}
			}
		}
		.products-grid .product-items.owl-carousel {
			.item{
				.product-item{
					&:first-child{
						border-top: 0;
					}
				}
			}

		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .brand-product-tab .brand-list-tab-container-title{
	    grid-template-columns: repeat(100, 15.5%);
	    overflow: auto;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .brand-product-tab .brand-list-tab-container-title{
	    grid-template-columns: repeat(100, 25.5%);
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body{
		.brand-product-tab .brand-list-tab-container-title{
		    grid-template-columns: repeat(100, 40.6%);
		}
	}
}
//banner-market
& when (@media-common = true){
	.banner-market{
		.col-md-7{
			.row{
				flex-wrap: nowrap;
				> .col-banner{
					padding: 0 1.5rem;
				}
			}
		}
		.margin_bottom{
			margin-bottom: 3rem;
		}
	}
}
// hot-category-list
& when (@media-common = true){
	.hot-category-list{
		border-right: 1px solid @border-color__base;
		.grid-layout {
			display: grid;
			&.grid-3{
				grid-template-columns: repeat(3, 1fr);
			}
			.category-name-list{
				ul{
					padding-left: 0;
					list-style: none;
					a{
						&:not(:hover){
							color: @text__color;
						}
					}
				}
			}
			.list-hot-category{
				border: 1px solid @border-color__base;
			    border-top: 0;
			    border-right: 0;
			    padding: 2rem 2% 1.5rem 8.5%;
    			justify-content: space-between;
    			align-items: center;
    			flex-wrap: nowrap;
    			h4{
    				margin: 0 0 1.4rem;
    			}
    			ul{
    				margin-bottom: 0;
    				li{
    					margin-bottom: 0.6rem;
    				}
    			}
    			.button-wrap{
    				a{
    					.lib-font-size(21);
    					.fa{
    						font-weight: @font-weight__semibold;
    					}
    					&:not(:hover){
							color: @text__color;
						}
    				}
    			}
    			.category-image{
    				overflow: hidden;
    				margin: 0;
    				img{
    					.transition();
    				}
    			}
    			&:hover{
					.category-image{
	    				img{
	    					@transform: scale(1.1);
	    					.lib-css(transform, @transform, @_prefix: 1);
	    				}
	    			}
    			}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .hot-category-list{
		.grid-layout {
			&.grid-3{
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body .hot-category-list{
		.grid-layout {
			&.grid-3{
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}
// Brand slider
& when (@media-common = true){
	.block-widget-rokanthemes-brand {
		background: #f8faf9;
		.owl-stage{
			.owl-item{
				&:first-child{
					.item-row-slider-brand{
						border-left: 0;
					}
				}
			}
		}
		.item-row-slider-brand{
			border-left: 1px solid @border-color__base;
			.brand-item{
				padding: 2rem 1.5rem;
				&:not(:last-of-type){
					border-bottom: 1px solid @border-color__base;
					margin-bottom: 0 !important;
				}
			}
		}
	}
}
// Blog
& when (@media-common = true){
	.section.block-recent-posts {
		.post-list-wrapper {
			.blog-list-post {
				border: 1px solid @border-color__base;
    			border-width: 0 1px 1px 0;
				.item-post-full{
					padding: 1rem 1.5rem 0;
					border-left: 1px solid @border-color__base;
				}
				.blog-post-info{
					border: 0;
					padding: 1.5rem 0 3rem;
					.post-category-name{
						transform: none;
					    padding: 0;
					    background: transparent;
					    position: static;
					    margin-bottom: 1rem;
					}
					.time-conment{
						color: @footercolor;
						margin-right: 1rem;
						i{
							margin-right: 1rem;
							font-weight: 400;
						}
					}
					.post-title{
						font-weight: @font-weight__semibold;
					}
				}
			}
		}
	}
}