// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font

//broder
@border-color__base: #e5e5e5;

// Heading
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__semibold; 


// Topbar
@topbarbg: @color-white;
@topbarcolor: #666666;

@header__background-color: @topbarbg;
@header-border-color: @border-color__base;

@header_sticky_bg: @header__background-color;
@header_sticky_border: @header-border-color;
@header-icons-color: #111;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 1px;

@theme__color__primary: #87b53b;
// Navigation
@menufont: inherit;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.3rem;
@navigation-desktop-level0-item__active__color: @theme__color__primary;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
@navigation-desktop-level0-item__color: #111;
//Level 0

@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: @heading__font-family__base;
@navigation-level0-item__hover__color:  @theme__color__primary;
@navigation-level0-item__active__color: @theme__color__primary;
@navigation-level0-item__color: #0d0d0d;
//==============================
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: @color-white;
@new_label_color: #333;
//Topbar
//Module variables


//Title
@module_margin_bottom: 6.2rem;
@module_title-size: 2.2rem;
@module_title-text-transform: uppercase;
@module_title_text-align: center;

@margin_gobal_value: 10rem;
// Product
@product-name-link__color: #222;


// Button
/* footer */
@footer_font-size: 14px;
@footer__background-color: #211f1f;
@footercolor: #999999;

@footer-title-font-size: 1.8rem;
@footer-title-color: #fff; 
@footer-title-font-weight: 600;
@footer-title-transform: capitalize;

@footer-border-color: #383636;

@footer-bottom_bg: @footer__background-color;
@footer_bottom_color: @footercolor;

//Button variable
@button__color: @color-white;
@button__font-size: 16px;
@button__font-family: @font-family__base;
@button__background: @theme__color__primary;
@button__padding: 12.5px 45px;
@button__border-radius: false; 
@button__font-weight: 600;

@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;
// Slider heading
@nivo-directionNav-width: 50px;
@nivo-directionNav-height: 50px;
@nivo-directionNav-border-radius: 50%;
@nivo-directionNav-bg: @owl-nav-bg;

@slider_h2_font-size-xxl: 82px;
@slider_h2_font-size-xl: 80px;
@slider_h2_font-size-l: 75px;
@slider_h2_font-size-s: 45px;
@slider_h2_font-size-xs: 34px;
@slider_h2_letter-spacing: 10px;
@slider_h2_text-transform: uppercase;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.4;
@slider_h2_font-weight: @font-weight__bold;

@slider_h5_font-size-xxl: 16px;
@slider_h5_font-size-xl: 16px;
@slider_h5_font-size-l: 15px;
@slider_h5_font-size-s: 15px;
@slider_h5_font-size-xs: 14px;
@slider_h5_text-transform: uppercase;
@slider_h5_margin: 56px;
@slider_h5_letter-spacing: 1px;
@slider_h5_line-height: 2;

@slider_p_font-size-xxl: 26px;
@slider_p_font-size-xl: 26px;
@slider_p_font-size-l: 24px;
@slider_p_font-size-s: 20px;
@slider_p_font-size-xs: 20px;
@slider_p_text-transform: uppercase;
@slider_p_margin: 32px;
@slider_p_letter-spacing: 1px;
@slider_p_line-height: 2;
@slider_p_font-weight: 600;

// Slider button
@slider_button_font-size-xl: 16px;
@slider_button_font-size-l: 16px;
@slider_button_font-size-s: 14px;
@slider_button_font-size-xs: 12px;
@slider_button_margin-top: 0;
@slider_button_padding: 19.5px 33px;
@slider_button_padding-s: 10px 20px;
@slider_button_letter-spacing: 4px;

// Control (dot)
@nivo-controlNav-veritcal-postion: 60px;
@nivo-controlNav-postion: left;
@nivo-controlNav-bg: transparent;
@nivo-controlNav-width: false;
@nivo-controlNav-height: false;
@nivo-controlNav-border-radius: false;

//___________________________________________________
// Module category thumb
@category_name_position: false;
@padding-category-thumb: false;
@background-category-thumb: false;
@category_name-padding: 3rem;

// Supper deal
@banner_padding: 12rem 0;
@banner_moible-padding: 0;

@sub_title_supper_deal-font-size: 14px;
@sub_title_supper_deal-color: @color-white;
@sub-title_supper_deal_font-weight: 400;
@sub-title_supper_deal_margin: 1rem;


@title_supper_deal_color: @color-white;
@title_supper_deal_size: 2.4rem;
@title_supper_deal_mobile_size: 2.4rem;
@title_supper_deal_font-weight: 400;
@title_supper_deal_letter-spacing: 2px;
@title_supper_deal_margin: 1.1rem;
@des_supper_deal_size: 1.4rem;

@des_supper_deal_color: @color-white;

// Tesimonial
@testi-padding: 3rem;
@testimonial-name-size: 1.8rem;

.icon_header() {
    font-size: 2.6rem;
    line-height: 3rem;
    position: relative;
}
// Gobal style
& when (@media-common = true) {
    .product-item {
    	.product-label{
    		&.onsale{
    			right: auto;
    			left: 2rem;
    			@transform: translateY(100%);
    			.lib-css(transform, @transform, @_prefix: 1);
    		}
    	}
    }
    .header-container .col-action .action-header > li .search-form a{
		padding-right: 0;
	}
}
// Header
& when (@media-common = true){
    .header-container {
        .topbar {
            .topbar-inner {
                justify-content: center;
                padding: 10px;
                font-size: 1.3rem;
                text-transform: uppercase;
            }
        }
        .header{
            .header-content{
            	position: relative;
                padding: 2rem 0;
                .logo-container{
                	position: relative;
                	top: -5px;
                }
                .col-right{
                    li {
                        .counter.qty{
                            top: 5px;
                            left: auto;
                            right: 0;
                        }
                        .minicart-wrapper{
                            margin-left: 0;
                        }
                    }
                    .action-header{
                        align-items: center;
                        .account-linkinfo,
                        .search-action{
                        	margin: 0;
                        }
                        .header.links{
                            li{
                                padding-right: 0;
                                line-height: 0.8;
                                overflow: hidden;
                                border: 2px solid transparent;
                                background: transparent;
                                padding-left: 0;
                                border-radius: 100%;
                                margin-left: 1.5rem;
                                a[href*="account"]{
                                    font-size: 0;
                                    padding-right: 0;
                                    &:not(:hover){
                                    	color: @header-icons-color;
                                    }
                                    &::before{
                                        content: "\e908";
                                        font-family: main-icon, sans-serif;
                                        font-size: 2.4rem;
                                        border: 2px solid;
                                        border-radius: 100%;
                                        display: inline-block;
                                        padding-top: 5px;
                                    }
                                }
                            }
                        }
                        .block-search{
                            position: static;
                            line-height: 1;
                            .dropdown {

                                .top-search{
                                    .text{
                                        display: none;
                                    }
                                }
                                .form.minisearch{
                                    right: 0;
                                    top: calc(~'100% + 10px');
                                }
                            }
                            .main-icon-search{
                                font-size: 2.5rem;
                                &::before{
                                    color: @level1_color;
                                }
                            }
                        }
                        .link.wishlist{
                            margin-right: 0.3rem;
                            a{
                                &::before{
                                    font-size: 2.8rem;
                                }
                            }
                        }
                    }
                }
                .col-action {
                	position: relative;
					.minicart-wrapper .action.showcart,
					li.wishlist {
						> a{
							padding-right: 2.4rem;
						}
						.counter.qty{
							min-width: 2.2rem;
		   					min-height: 2.2rem;
		   					color: @button__color;
		   					line-height: 1.2rem;
		   					font-size: 1.3rem;
		   					top: 9px;
						}
					}
					.minicart-li-content-show-hide{
						margin-left: 0.9rem;
						.minicart-wrapper .action.showcart{
							padding-right: 2.5rem;
						}
					}
					
				}
            }
        }
        &.sticky {
            .header-content{
                padding: 1rem 0;
            }
            .action-sticky .action-header > li{
            	margin: 0 1.5rem;
            	&:last-child{
            		margin-right: 0;
            	}
            }
        }
    }
   .swatch-option{
		height: auto;
	}
	body .searchsuite-autocomplete .product .title,
	body .searchsuite-autocomplete #product{
		font-size: 14px;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.cms-index-index{
    	.page-header{
    		background: transparent;
		    position: absolute;
		    top: 0;
		    right: 0;
		    left: 0;
		    z-index: 222;
		    .navigation{
		    	background: transparent;
		    }
		   
    	}
    }
    .page-header{
    	.header-container{
        	.logo-container{
        		flex: 1;
        	}
        	.primary-menu-container{
        		flex: 3;
        		padding: 0 1rem;
        	}
	    }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block.block-search .dropdown .form.minisearch .search-form{
		min-width: 350px !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container .header .header-content .col-action .action-header > li.search-action{
		margin-right: 1rem;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.page-header{
    	.header-container{
        	.logo-container{
        		flex: 1;
        	}
        	.primary-menu-container{
        		order: 3;
        		margin-left: 1rem;
        	}
	    }
    }
    body{
		.wrapper-the-blue-sky-slider {
			.container-the-blue-sky-slider {
				.the-blue-sky-banner-text .btn{
					padding: 12.5px 25px;
    				font-size: 14px;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container {
		.header.links{
			margin-right: 1rem;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		.header {
			.header-content {
				    padding-bottom: 1rem;
				.logo-container{
					flex: 0 0 100%;
					margin-bottom: 1rem;
					.logo-site{
						margin: auto;
					}
				}
				.primary-menu-container{
					order: 1;
					margin-left: 0;
				}
				.col-action {
					order: 3;
				}
			}
		}
	}
}
// Footer
& when (@media-common = true) {
	.page-footer {
		.footer-static_link{
			.not-collapse-mobile{
				ul{
					margin-top: 1.7rem;
					li{
						p{
							margin-bottom: 1.5rem;
							align-items: flex-start;
							img{
								margin-right: 1rem;
								margin-bottom: 0;
								position: relative;
    							top: 4px;
							}
						}
					}
				}
			}
			.square-social .social-link{
				a{
					border-radius: 50%;
					border: 2px solid @footercolor;
					&:hover{
						background: transparent;
						border-color: @theme__color__primary;
					}
					&:not(:hover){
						.icon{
							color: @footercolor;
						}
					}
				}
			}
			.payment{
				> p{
					margin-bottom: 0;
					img{
						margin-bottom: 0;
					}
				}
			}
		}
		.footer.content{
			ul{
				li{
					margin-bottom: 1rem;
				}
			}
			.footer-links{
				.footer-title{
					margin-top: 0;
				}
			}
			.newsletter-form{
				float: none;
				margin-bottom: 2.8rem;
				.rokan-title{
					text-align: left;
				}
				.form.subscribe{
					.field .control{
						max-width: 100%;
						border: 1px solid @footer-title-color;
						@border-radius: 3rem;
						justify-content: flex-start;
						.lib-css(border-radius, @border-radius, @_prefix: 1);
						.input-focus{
							flex: 1;
							::-webkit-input-placeholder { /* Edge */
							  color: @footer-title-color;
							}

							:-ms-input-placeholder { /* Internet Explorer 10-11 */
							   color: @footer-title-color;
							}

							::placeholder {
							   color: @footer-title-color;
							}
						}
						input{
							background: transparent;
							padding-left: 1.5rem;
							border: 0;
							color: @footercolor;
							border-radius: 3rem 0 0 3rem;
						}
						.action.subscribe{
							.lib-button-reset();
							font-weight: 600;
						    height: calc(~'100% - 8px');
						    background: @theme__color__primary;
						    border-radius: 30px;
						    padding: 0 20px;
						    margin: 4px;
						}
					}
				}
			}
		}
		.footer-bottom{
			margin-top: 8rem;
			padding: 2.2rem 0;
			border-top: 1px solid @footer-border-color;
		}
	}
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer {
		.footer-static_link{
			.footer-links{
				flex: 1;
				&.not-collapse-mobile{
					flex: 0 0 25%;
					max-width: 25%;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .page-footer {
		.footer-static_link{
			.footer-links{
				flex: 1;
				order: 2;
				&.not-collapse-mobile{
					flex: 0 0 50%;
					max-width: 50%;
					order: 1;
					margin-bottom: 3rem;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .page-footer {
		 .footer-top > .footer.content{
		 	padding-top: 6rem;
		 }
		.footer-static_link{
			.footer-links{
				flex: 0 0 100%;
				&.not-collapse-mobile{
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
		.footer-bottom{
			margin-top: 5rem;
		}
	}
}
// Home page
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider{
		margin-bottom: 6rem;
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				h2{
					font-family: @menufont;
				}
				.line{
					width: 5.2rem;
					height: 1px;
					background: @heading__color__base;
					display: inline-flex;
					align-items: center;
					margin-right: 1.5rem;
					vertical-align: super;
					margin-bottom: 0;
				}
				*{
					&.size-16{
						font-size: 1.6rem;
						position: relative;
						top: -2px;
						@media only screen and (max-width: @screen__s) {
							font-size: 1.4rem;
						}
					}
				}
				.btn{
					display: block;
					max-width: 19rem;
					width: fit-content;
				}
				p{
					&:not(.size-16){
						font-weight: @font-weight__bold;
						margin-left: 1rem;
					}
				}
			}
		}
		.nivo-controlNav{
			@media only screen and (max-width: (@screen__s - 1)) {
				bottom: 1.5rem;
			}
			&:not(.nivo-thumbs-enabled){
				.nivo-control{
					.lib-font-size(16);
					color: @heading__color__base;
					font-weight: @font-weight__semibold;
					&:not(:last-child){
						&:after{
							content: '';
							display: inline-block;
							width: 5rem;
							height: 1px;
							background: @heading__color__base;
							margin: 0 2rem;
							vertical-align: middle;
							@media only screen and (max-width: (@screen__s - 1)) {
								width: 3rem;
						 	}
						}
					}
					&:hover,
					&.active{
						background: transparent;
						text-decoration: underline;
						&:after{
							background-color: @heading__color__base;
						}
					}
				}
			}
		} 
	}
	.shipping-support{
		margin-bottom: (@margin_gobal_value - 7.5rem);
		.col-content{
			text-align: center;
			margin-bottom: 3rem;
			img{
				margin-bottom: 0.8rem;
			}
		}
	}
	.wrapper_sub_category_tabs{
		padding-top: 9rem;
		padding-bottom: 7rem;
		@media only screen and (max-width: (@screen__s - 1)) {
			padding-top: 6rem;
			padding-bottom: 4rem;
		}
	}
	.cms-index-index{
	    .page-main{
	    	.col-banner + .content,
		    .rokan-title{
		    	.module-title,
		    	h2{
		    		padding-bottom: 3rem;
		    		position: relative;
		    		letter-spacing: 2px;
		    		&:after{
		    			content: '';
		    			width: 8rem;
		    			height: 2px;
		    			background: @heading__color__base;
		    			position: absolute;
		    			bottom: 0;
		    			left: 50%;
		    			@transform: translateX(-50%);
		    			.lib-css(transform, @transform, @_prefix: 1);
		    		}
		    	}
		    }
		}
	}
	.wrapper_product_tabs{
		margin-bottom: 6rem;
	}
	.super-deal-banner{
		margin-bottom: 0;
		background-attachment: fixed;
		.super-deal-banner-content {
			.col-countdown {
				background: fade(@theme__color__primary, 80%);
				width: 80%;
				max-width: 69rem;
				margin: auto;
				text-align: center;
				padding: 5.5%;
				.title-deal{
					text-transform: uppercase;
				}
				.supper-deal-title{
					margin-bottom: 0;
				}
				.short-des{
					&:before{
						content: '';
						background: @des_supper_deal_color;
						height: 2px;
						width: 7.2rem;
						margin: auto;
						display: inline-block;
					}
					h4{
						color: @des_supper_deal_color;
						margin-top: 9px;
						margin-bottom: 1.1rem;
					}
				}
			}
		}
	}
	.banner{
		&.not-padding{
			padding-left: 0;
			padding-right: 0;

		}
		&.bring-nature{
			margin-bottom: 3rem;
			.col-banner {
				.content{
					.content-text{
						h2{
							font-weight: 300;
							text-transform: none;
						}
					}
				}
				&.top{
					&.center{
						.content{
							bottom: auto;
							text-align: center;
							top: 13%;
							h3{
								border-top: 1px solid @theme__color__primary;
							    border-bottom: 1px solid @theme__color__primary;
							    padding-bottom: 1rem;
							}
						}
						&:hover{
							.content-text{
								h2, h3{
									@animation: fadeInDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	   							.lib-css(animation, @animation, @_prefix: 1);
								}
	   							
	   						}
						}
					}
				}
			}
		}
	 	.col-banner{
	 		p{
	 			&.semibold{
	 				font-weight: @font-weight__semibold;
	 				letter-spacing: 2px;
	 				text-transform: uppercase;
	 				margin-top: 0;
	 				margin-bottom: 2.5rem;
	 			}
	 		}
	 		h2{
	 			text-transform: uppercase;
	 			letter-spacing: 2px;
	 			font-weight: @font-weight__bold;
	 		}
	 		.content{
	 			h3{
		 			line-height: 1.4;
		 		}
		 		.button-wrap{
		 			a{
		 				border-bottom-color: @color-white;
		 				padding: 12.5px 30px;
		 			}
		 		}
	 		}
	 	
	 		.button-wrapper{
	 			margin-top: 2rem !important;
	 			a{
	 				&:not(:hover){
	 					color: @text__color;
	 				}
	 			}
	 		}
	 		&.hover-text-show{
	 			.content{
	 				.button-wrap{
	 					a{
	 						border-bottom-color: @theme__color__primary;
	 					}
	 				}
	 			}
	 		}
	 	}
	 	&.tree{
	 		.col-banner{
	 			.content{
	 				h3{
	 					text-transform: uppercase;
	 					margin-bottom: 1.2rem;
	 					font-size: 2.8rem;
	 					letter-spacing: 1px;
	 				}
	 				p{
	 					line-height: 2;
	 				}
	 				.button-wrapper{
	 					margin-top: 1.2rem !important;
	 					a{
	 						letter-spacing: 0;
	 						
	 					}
	 				}
	 			}
	 		}
	 	}
	}
	.banner,
	.wrapper_sub_category_tabs,
	.block-widget-rokanthemes-brand,
	.product-tab{
		padding-left: 3rem;
		padding-right: 3rem;
		@media only screen and (max-width: (@screen__m - 1)) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
	.block-widget-rokanthemes-brand{
		margin-bottom: 5rem;
		@media only screen and (min-width: @screen__l) {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.instagram{
		line-height: 0;
	}
	.testimo-slider{
		padding: @margin_gobal_value 0;
		margin-bottom: 5rem;
		.pt-testimonial-container{
			margin: 0 -1.5rem;
			.group-rows-fixed-testimonial{
				padding: 0 1.5rem;
				.pt-testimonial {
					.content-tes{
						&:after{
							content: '”';
							font-family: @menufont;
							.lib-font-size(88);
							color: @theme__color__primary;
							position: absolute;
						    top: 3.3rem;
						    line-height: 1;
						    right: 3.3rem;
						}
					}
					.image{
						margin-right: 2rem;
					}
					.des{
						line-height: 2;
						
					}
					.info {
						.job{
							font-size: 1.3rem;
							font-weight: 400;
						}
					}
				}
			}
		}
		
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	section, .section, .product.info.detailed, .block.related, .block.upsell,
	.super-deal-banner{
		margin-bottom: 6rem;
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
			}
			.product-item{
				margin: 0 0 55px 0;
				border: 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-name, 
				.product.name a{
					text-align: center;
				}
				.product-item-photo {
					line-height:1;
				}
				.product-item-info {
					padding: 0;
					&:before {
						display:none; 
					}
					.product-item-details {
						padding: 1rem 0 0;
						position: static;
						.flex();
						flex-direction: column;
					    justify-content: flex-start;
					    align-items: center;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.product-reviews-summary{
							order: 1;
						}
						.product-item-name{
							order: 2;
						}
						.price-box{
							order: 3;
							*{
								.lib-font-size(15);
							}	
						}
						.product-item-actions {
							position: absolute;
							right: 2rem;
							top: 1.5rem;
							bottom: auto;
							text-align: center;
							z-index: 1;
						}
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action,
					.field.choice.related{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
						}
						&:hover {
							background: @theme__color__primary;
							&:before, label:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.4rem;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
					}		
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview,
							&.tocompare{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.tocompare{
								display: none;
							}
						}
					}
				}
			}	
		}
	}
	.products-related{
		*[class*="product-items"][data-margin="0"] {
			.product-item .product-item-info .product-item-details .product-item-actions{
				.flex();
				flex-direction: column-reverse;
			}
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item-name{
				text-align: left;
			}
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-products .products-grid .product-item{
		width: 33.33333333%;
	}
}
// Blog
& when (@media-common = true) {
	.block-recent-posts{
		.rokan-title {
			text-align: left;
			margin-bottom: 0;
			.module-title{
				font-size: 4rem;
				text-transform: capitalize;
				line-height: 1.4;
				padding-bottom: 5rem !important;
				&:after{
					left: 0 !important;
					transform: none !important;
				}
				@media all and (max-width: @screen__s){
				 	font-size: 2.6rem;
				 	padding-bottom: 3rem !important;
				}
			}
		}
		.rokan-description{
			margin-top: 5rem;
			line-height: 2;
			color: @heading__color__base;
			a{
				margin-top: 5.5rem;
				background: @heading__color__base;
				padding: @slider_button_padding;
				letter-spacing: 1px !important;
				display: block;
    			width: fit-content;
    			max-width: 20rem;
    			text-align: center;
			}
		}
	}
	.post-list-wrapper {
		.blog-list-post .item-post-full{
			.blog-post-info{
				border: 0;
				background: transparent;
				padding-bottom: 0;
				padding-left: 0;
				.flex-layout {
					margin-bottom: 2rem;
				}
				.time-conment,
				.post-category-name{
					color: @footercolor;
					margin-right: 1rem;
					i{
						margin-right: 1rem;
						font-weight: 400;
					}
				}
				.post-info-bottom {
					a{
						.lib-button-reset();
						border-bottom: 1px solid;
						background: transparent !important;
						color: @heading__color__base;
						text-transform: none;
						.lib-font-size(14);
						font-family: @font-weight__semibold;
						&:before{
							content: '+';
							padding-right: 3px;
						}
						&:hover{
							color: @theme__color__primary;
							border-bottom: 1px solid @theme__color__primary;
						}
					}
				}
				.desc{
					margin-bottom: 1.8rem;
					margin-top: 1.7rem;
				}
				.post-title{
					font-weight: @font-weight__regular;
				}
				.post-category-name{
					position: static;
				    transform: none;
				    background: transparent;
				    padding: 0;
				    margin-bottom: 0;
				    padding-left: 7px;
				    a{
				    	i{
				    		font-weight: 900;
				    		margin-right: 7px;
				    	}
				    	color: @footercolor;
				    	&:hover{
				    		 color: @theme__color__primary;
				    	}
				    }
				}
			}
		}
	}
}