<?php 
	use Magento\Framework\App\Action\Action;
	$category_load = $block->getCategory();
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'category_page_grid';
	$background = '';
	if($this->getConfig('background_image')){
		$folderName = \Rokanthemes\Themeoption\Model\Config\Superdealsbackground::UPLOAD_DIR; 
		$path = $folderName . '/' . $this->getConfig('background_image');
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$imageUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).$path;
		$background = "style='background-image: url(".$imageUrl.");'";
	}
	$deal_image = '';
	if($this->getConfig('deal_image')){
		$folderName = \Rokanthemes\Themeoption\Model\Config\Superdealsbannerimage::UPLOAD_DIR; 
		$path = $folderName . '/' . $this->getConfig('deal_image');
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$imageUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).$path;
		$deal_image = "<image src=".$imageUrl.">";
	}
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');

    $owl_item_default = $block->getConfig('owl_item_default');
    $owl_item_desktop = $block->getConfig('owl_item_desktop');
    $owl_item_small_desktop = $block->getConfig('owl_item_small_desktop');
    $owl_item_big_tablet = $block->getConfig('owl_item_big_tablet');
    $owl_item_tablet = $block->getConfig('owl_item_tablet');
    $owl_item_small_tablet = $block->getConfig('owl_item_small_tablet');
    $owl_item_mobile = $block->getConfig('owl_item_mobile');
    $rows = $block->getConfig('rows');

	$category_load = $block->getCategory();
	$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
	$showDescription = true;
	$width = $block->getConfig('width');
	if(!$width){
		$width = 550;
	}
	$height = $block->getConfig('height');
	if(!$height){
		$height = 550;
	}
	$enabled_hover = $block->getConfig('enabled_hover');
	$image_type = $block->getConfig('image_type');
	$image_type_hover = $block->getConfig('image_type_hover');
?>

<div class="section hot-deal-tab-slider super-deal hot-deal-tab-slider-customcss section-product">
	<?php if($this->getConfig('title')){?>
		<div class="supper-deal-title flex-layout space-between" <?php echo $background ?>>
			<?php if($this->getConfig('title_deal')){?><h2 class="title-deal"><?php echo $block->getConfig('title_deal');?></h2><?php }?>
			<?php if($this->getConfig('sub_title')){?><h5 class="sub-title-deal"><?php echo $block->getConfig('sub_title');?></h5><?php }?>
			<div class="super-deal-countdown" data-date="<?php echo $block->getConfig('end_date');?>"></div>
			<?php if($this->getConfig('description_deal')){?><p class="short-des"><?php echo $block->getConfig('description_deal');?></p><?php }?>
			<p><a href="<?php echo $category_load->getUrl();?>" class="view-all-deal btn" data-hover="<?php echo __('Shop now') ?>"><span><?php echo __('Shop now') ?></span></a></p>
		</div>
	<?php }?>
	<div class="products wrapper grid products-grid ">
		<div class="products list items product-items owl-carousel owl-theme"
			data-rtl="false" data-items="<?= $owl_item_default ?>" data-bigdesktop="<?= $owl_item_desktop ?>" data-smalldesktop="<?= $owl_item_small_desktop ?>" data-bigtablet="<?= $owl_item_big_tablet ?>" 
			data-tablet="<?= $owl_item_tablet ?>" data-smalltablet="<?= $owl_item_small_tablet ?>" data-mobile="<?= $owl_item_mobile ?>"  
			data-margin="0" data-loop="false" data-center="false" 
			data-mousedrag="true" data-touchdrag="true" data-stagepadding="1" 
			data-nav="true" data-navnext="" data-navprev="" data-rewind="true" 
			data-dots="false" data-autoplay="true" data-speed="500">
		<?php 
			$newItems =  $block->getProducts();
			$i=0;
			foreach($newItems as $_item) { 
				$resizedImageUrl = $block->resizeImage($_item, $image_type, $width, $height)->getUrl();
				if($i %$rows == 0){
					echo '<div class="item-load group-rows-fixed-supper-deal">';
				}
				$i ++;
			?>
				<div class="item product product-item">
					<div class="product-item-info flex-layout no-wrap">
						<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
							<span class="image0 image-switch">
								<img class="product-image" src="<?= $resizedImageUrl ?>" width="<?= $width ?>" height="<?= $height ?>" alt="<?php echo $_item->getName();?>">
							</span>
							<?php if($enabled_hover){ 
								$resizedImageHoverUrl = $block->resizeImage($_item, $image_type_hover, $width, $height)->getUrl();
							?>
								<span class="image1 image_hover">
									<img class="product-image" src="<?= $resizedImageHoverUrl ?>" width="<?= $width ?>" height="<?= $height ?>" alt="<?php echo $_item->getName();?>">
								</span>
							<?php } ?>
						</a>
						
						<div class="product details product-item-details">	
							<strong class="product name product-item-name">
								<a class="product-item-link"
								   href="<?= $block->escapeUrl($_item->getProductUrl()) ?>">
									<?php echo $_item->getName(); ?>
								</a>
							</strong>	
							<?php
								$_productNameStripped = $block->stripTags($_item->getName(), null, true);
							?>							
							<div class="info-price">
								<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item)) ?>
							</div>
							<?php if ($showDescription) :?>
                                <div class="product description product-item-description">
                                    <?= /* @noEscape */ $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
                                </div>
                            <?php endif; ?> 
							<?php if ( $_item->getFinalPrice() < $_item->getPrice() ): ?>
								<span class="product-label onsale">
									<span><?= $block->escapeHtml(__('Sale')) ?></span> <span class="value"><?= -100 + round(($_item->getFinalPrice() / $_item->getPrice() * 100)) ?>%</span> <?= $block->escapeHtml(__('Off')) ?>
								</span>
							<?php endif; ?>
							
							<div class="product-item-inner">
								<div class="product actions product-item-actions">
									<div class="actions-primary">
										<?php if ($_item->isSaleable()) :?>
											<?php $postParams = $block->getAddToCartPostParams($_item); ?>
											<form data-role="tocart-form"
												  data-product-sku="<?= $block->escapeHtmlAttr($_item->getSku()) ?>"
												  action="<?= $block->escapeUrl($postParams['action']) ?>"
												  method="post">
												<input type="hidden"
													   name="product"
													   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
												<input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
													   value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
												<?= $block->getBlockHtml('formkey') ?>
												<button type="submit"
														title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
														class="action tocart primary">
													<span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
												</button>
											</form>
										<?php else :?>
											<?php if ($_item->isAvailable()) :?>
												<div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
											<?php else :?>
												<div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
											<?php endif; ?>
										<?php endif; ?>
									</div>
									<div data-role="add-to-links" class="actions-secondary">
										<?php
										$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
										?>
										<a href="#"
										   class="action tocompare"
										   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
										   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
										   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item); ?>'
										   role="button">
											<span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
										</a>
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
											<a href="#"
											   class="action towishlist"
											   title=""
											   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
											   data-action="add-to-wishlist"
											   role="button">
												<?php echo $block->escapeHtml(__('Wish List')); ?>
											</a>
										<?php endif; ?>
										
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			<?php if($i %$rows == 0) echo "</div>"; ?>
			<?php 
			}
			?>
			<?php if($i %$rows != 0) echo "</div>"; ?>
		</div>
	</div>
</div>
<script>
require(["jquery", 'mage/mage','rokanthemes/timecircles', "rokanthemes/owl"], function($){
	'use strict';
	$( document ).ready(function() {
		if($('.super-deal-countdown').length>0){
			$(".super-deal-countdown").TimeCircles({
				fg_width: 0.01,
				bg_width: 1.2,
				text_size: 0.07,
				circle_bg_color: "#ffffff",
				time: {
					Days: {
						show: true,
						text: "Days",
						color: "#f9bc02"
					},
					Hours: {
						show: true,
						text: "Hours",
						color: "#f9bc02"
					},
					Minutes: {
						show: true,
						text: "Mins",
						color: "#f9bc02"
					},
					Seconds: {
						show: true,
						text: "Secs",
						color: "#f9bc02"
					}
				}
			}); 
		}
	});
});
</script>
<?php } ?>