// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font

//broder
@border-color__base: #ebebeb;

// Heading
@heading__font-family__base: 'Spartan';
@heading__font-weight__base: @font-weight__bold;  
@headerpadding: 0; // Make header height bigger than menu height
@sticky_padding: 0; 
// Topbar

@topbarcolor: #222;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 1px;
// Other font
@otherfont-family: Brushline, sans-serif;

@theme__color__primary: #7377ab;
@navigation-level0-item__color: #0d0d0d; 

// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: #f7aa23; 
@new_label_color: @color-white;
//==============================
// Product
@product-name-link__color: #222;

// Button
@button__color: @color-white;
@button__hover__color: @button__color;
@button__font-size: 14px;
@button__font-family: @font-family__base;
@button__background: @theme__color__primary;
@button__padding: 12.5px 45px;
@button__border-radius: false; 
@button__font-weight: 600;

@second_button_bg: @button__background;
@second_button_color: @button__color;
@checkout-button-bg: @button__background; 
@checkout-button-color: @button__color;
/* footer */
@footer__background-color: #ecedf9;
@footercolor: @greycolor;

@footer-title-color: #222222; 
@footer-title-font-weight: @heading__font-weight__base;

@footer-border-color: #2b2d40;

@footer-bottom_bg: #7377ab;
@footer_bottom_color: @color-white;
//Button variable
@button__border-radius: false; 
// Slider variable
@slider_h4_font-size-xxl: 48px;
@slider_h4_font-size-xl: 32px;
@slider_h4_font-size-l: 36px;
@slider_h4_font-size-s: 30px;
@slider_h4_font-size-xs: 24px;
@slider_h4_font-weight: @font-weight__regular;
@slider_h4_text-transform: capitalize;
@slider_h4_margin: 0;
@slider_button_bg: #0d0d0d;

@step-title-size: 1.8rem;
/* animation */
& when (@media-common = true) { 
@-webkit-keyframes tracking-in-expand-fwd-bottom {
	  0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
				transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0) translateY(0);
				transform: translateZ(0) translateY(0); 
		opacity: 1;
	  }
	}
	@keyframes tracking-in-expand-fwd-bottom {
	  0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
				transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0) translateY(0);
				transform: translateZ(0) translateY(0);
		opacity: 1;
	  }
	}
	@-webkit-keyframes tilt-in-top-1 {
	  0% {
		-webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
				transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
				transform: rotateY(0deg) translateY(0) skewY(0deg);
		opacity: 1;
	  }
	}
	@keyframes tilt-in-top-1 {
	  0% {
		-webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
				transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
				transform: rotateY(0deg) translateY(0) skewY(0deg);
		opacity: 1;
	  }
	}
	@-webkit-keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@-webkit-keyframes zoomIn {
	  from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	  }

	  50% {
		opacity: 1;
	  }
	}

	@keyframes zoomIn {
	  from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3); 
		transform: scale3d(.3, .3, .3);
	  }

	  50% {
		opacity: 1;
	  }
	}

	.zoomIn {
	  -webkit-animation-name: zoomIn;
	  animation-name: zoomIn;
	}
	@-webkit-keyframes blurFadeIn{
		0%{
			opacity: 0;
			transform: scale(1.5);
		}
		50%{
			opacity: 0.5;
		
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes blurFadeIn{
		0%{
			opacity: 0;
			transform: scale(1.5);
		}
		50%{
			opacity: 0.5;
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	.blurFadeIn {
	  -webkit-animation-name: blurFadeIn;
	  animation-name: blurFadeIn;
	}
	@-webkit-keyframes blurFadeInDown { 
		0% {
			opacity: 0;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0)
		}
	}
	@keyframes blurFadeInDown {
		0% {
			opacity: 0;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0)
		}
	}
	.blurFadeInDown {
	  -webkit-animation-name: blurFadeInDown;
	  animation-name: blurFadeInDown;
	}
	@-webkit-keyframes tilt-in {
	  0% {
		-webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
				transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
				transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	  }
	}
	@keyframes tilt-in {
	  0% {
		-webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
				transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
				transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	  }
	}
	.tilt-in {
	  -webkit-animation-name: tilt-in;
	  animation-name: tilt-in;
	}
	.column.main .cart-summary .block>.title strong, .column.main .paypal-review-discount .block>.title strong{
		font-size: 1.4rem;
	}
	.rokanthemes-onepagecheckout #opc-sidebar .opc-block-summary .items-in-cart .title strong{
		font-size: 1.6rem;
	}
}
/* end animation */
//Mini cart
.icon_header(){
	font-size: 2.3rem;
    line-height: 4rem;
    position: relative;	
};

/* language-currency */
& when (@media-common = true) {
	.container-setting-language-currency {
		> div {
			padding:0;
		}
		.switcher {
			.switcher-options .switcher-trigger.action.toggle {
				&:hover {
					text-decoration: underline;
				}
			}
			.switcher-options.active .dropdown.switcher-dropdown {
				top: calc(~'100% + 1.5rem'); 
			}
		}
	}
	.header-container .col-action .action-header > li .search-form a{
		padding-right: 0;
	}
		.searchsuite-autocomplete .product .title{
		font-size: 1.4rem;
	}
}
/* megamenu */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-content {	
		.navigation {
			font-size:1.3rem;
			.level0 {
				
				.submenu {
					box-shadow: 2px 3px 6px rgba(0,0,0,.2);
					border:none;
					a {
						text-transform: uppercase;
						&:hover {
							-moz-transform: translateX(10px);
							-webkit-transform: translateX(10px);
							-o-transform: translateX(10px);
							-ms-transform: translateX(10px);
							transform: translateX(10px);
							text-decoration:underline;
						}
					}
					
				}
				&.parent {
					.submenu {
						.mega-columns {
							.level1.parent {
								> a {
									font-family: @font-family-name__base;
									&:hover {
										-moz-transform: none;
										-webkit-transform: none;
										-ms-transform: none;
										transform: none;
										text-decoration:none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* header */
& when (@media-common = true) {
	.header-container {
		.header {
			> .flex-layout {
				padding: 3rem 0; 
				align-items: center;
				position:relative;
				@media only screen and (max-width: (@screen__s - 1)){
					 padding: 1.5rem 0;
				 }
				.hotline{
					line-height:1;
					margin:0;
					.icon{
						font-size:3.2rem;
						line-height: 1;
						margin-right: 0.8rem;
						.lib-css(color, @header-icons-color);
						> *{
							margin-right: -2.5px;
							vertical-align: middle;
						}
					}
					p{
						margin-bottom: 5px; 
					}
					h5{
						margin: 0; 
						font-family:@font-family-name__base;
						a {
							.lib-css(color, @topbarcolor);
							font-size: 1.7rem;
						}
					}
				}
				.col-action{
					.minicart-wrapper {
						.block-content .subtotal .price-container .price {
							font-size: 1.8rem;
						}
						@media only screen and (min-width: @screen__m){
							margin:0;
						}
						> a:hover:before {
							color: @theme__color__primary; 
						}
						.action.showcart {
							.counter.qty{
								min-width: 2rem;
								min-height: 2rem;
								line-height: 2rem;
								top: 0.2rem;
								right: 0.2rem;
								height:auto;	
								font-size: 1.1rem;
								color: @color-white;  
								font-weight: @heading__font-weight__base;
								&.empty{
									display: block;
								}
							}
						}	
					}
					.action-header {
						> li {
							&:last-child {
								margin:0;
							}
							@media only screen and (max-width: (@screen__s - 1)){
								.minicart-wrapper{
									> a:before {
										font-size: 2.3rem;
									}
								}
								> a:before {
									font-size: 2.3rem;
								}
							}
						}
					}
					ul{
						li{
							&.link{
								a{	
									.counter.qty{
										min-width: 2rem;
										min-height: 2rem;
										line-height: 2rem;
										height:auto;	
										font-size:1.1rem;
										color: @color-white; 
									}
								}
							}
							.block-search{
								position: static;
								.dropdown {
									.top-search{
										i {
											.icon_header();
											cursor:pointer;
											@media only screen and (max-width: (@screen__s - 1)){
												font-size: 2.3rem;
											}
											&:hover {
												color:@theme__color__primary;
											}
										}
										.text{
											display: none;
										}
									}
									.form.minisearch{
										right: 0;
										z-index: 9;
									} 
								}
							}
						}
					}
					
				}
				
			}
			.header-content {
				padding: 0; 
				.for-full-width-menu {
					align-items: center;
					position: relative;
					width: 100% !important;
					 @media only screen and (max-width: (@screen__l - 1)){
						 padding: 1rem 0;
					 }
					&:before {
						content:"";
						position:absolute;
						top:0;
						left: -99999rem;
						right: -99999rem;
						border-top:1px solid #f2f2f2;
					}
					&:after {
						content:"";
						position:absolute;
						bottom:0;
						left:-99999rem;
						right:-99999rem;
						box-shadow: 0px 4px 4px 0px rgba(94, 115, 144, 0.1);
						height: 5rem;
						pointer-events: none;
						@media only screen and (max-width: (@screen__s - 1)){
							 box-shadow: none;
						}
					}
				}
				.links{
					margin:0;
					li{
						&:last-child{
							padding:0; 
						}
						a:hover {
							text-decoration:underline;
						}
						&.authorization-link{
							a{
								&:hover{
									&:before{
										.lib-css(color, @theme__color__primary);
									}
								}
							}
							&:after{
								content:"/";
								margin: 0 5px;
							}
							&:after{
								content:"/";
								margin: 0 5px;
							}
						}
					}
				}
			}
		}
		@media (min-width: @screen__m ) and (max-width: (@screen__l - 1)){
			.nav-sections {
				max-width: 35rem;
				width: 35rem; 
			}
		}
	}
}
& when (@media-common = true) {
	.header-container{
		&.sticky {
			.header {
				.header-content {
					.primary-menu-container {
						flex: unset;
					}
					
				}
				
			}
			@media only screen and (max-width: (@screen__l - 1)){
				.sticky-header {
					padding: 0 1.5rem;
					.logo-sticky {
						flex: 1 1 auto;
						max-width: none;
						img {
							max-height: 3.4rem;
						}
					}

				}
			}
			@media only screen and (max-width: (@screen__xxs - 1)){
				.sticky-header {
					.logo-sticky {
						img {
							max-width: 12rem;
						}
					}

				}
			 }
			 .sticky-header > div > div {
				 position:static;
			 }
			.action-sticky {
				.action-header {
					> li {
						.minicart-wrapper{
							> a:before {
								font-size: 2.3rem;
							}
						}
						> a:before {
							font-size: 2.3rem;
						}
					}
				}
				.minicart-wrapper .action.showcart .counter.qty, li .counter.qty {
					font-size:1.1rem;
					color: @color-white; 
					top: 0.2rem;
					right: 0.2rem;
				}
				
			}
			 .logo-container .nav-toggle {
				 top: 2.2rem;
				 right: 1.5rem;
				 left: auto;
				 -moz-transform: none;
				-webkit-transform: none;
				-o-transform: none;
				-ms-transform: none;
				transform: none;
				 &:before {
					 font-size: 2.2rem;
				 }
			 }
			
		}
		@media only screen and (max-width: (@screen__xs - 1)){
			&:not(.sticky) {
				.header-content {
					.primary-menu-container { 
						position: absolute;
						left: 1.5rem;
						bottom: 2rem;
					}
					.hidden-sticky {
						padding: 0.5rem 0;
						.flex ();
						justify-content: center;
						width:100%;
					}
				}
			}
		}
	}
}
// Header on screen < 1200px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.header {
			> .flex-layout {
				.col-action{
					ul{
						li{
							margin: 0 1rem;
							&:last-child {
								margin-right: 0;   
							}
						}
					}
					
				}
				
			}
			.header-content {
				.hidden-sticky {
					order: 3;
					padding-left: 1rem;
				}
				.primary-menu-container {
					order: 1;
					flex: 1 1 auto;
				}
			}
			
		}
		.nav-toggle {
			line-height: 1;
			z-index:9;
			-moz-transform: none;
			-webkit-transform: none;
			-o-transform: none;
			-ms-transform: none;
			transform: none;
		}
		
	}
}
// Header on screen < 768px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container {
		.header.panel {
			display: flex;
			flex-direction: column-reverse;
			position: relative;
		}
		.header {
			> .flex-layout {
				.logo-container {
					flex: 1 1 auto;
				}
				.hotline {
					display: none; 
				}
				
			}
			.header-content {
				.for-full-width-menu {
					&:before,&:after {
						display: none;
					}
					position: static !important;
					border-bottom: 1px solid @border-color__base; 
				}
			}
		}
		
	}
	.hidden-sm{
		display: none !important;
	}
}

// Header on screen < 576px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		.header {
			> .flex-layout {
				.logo-container {
					width: 100%;
					justify-content: center;
					margin-bottom: 10px;
				}
				.col-action  {
					.flex();
					justify-content: flex-end;
					width: 100%;
				}
				
			}
			
			
		}
	}
}

/* footer */
& when (@media-common = true) {
	.page-footer {
		margin-top: 9rem;
		@media only screen and (max-width: (@screen__l - 1)){
			margin-top: 6rem;
		}
		@media only screen and (max-width: (@screen__s - 1)){
			margin-top: 3rem;
		}
		.footer-top {
			.footer.content {
				padding-top: 6rem;
				padding-bottom: 6rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer-static_link {
			.footer-title {
				font-size: 1.4rem;
				margin-top: 1rem;
				margin-bottom: 1.8rem; 
			}
			.footer-links {
				p {
					> span {
						font-size: 2.4rem;
						display: block;
					}
				}
				&.not-collapse-mobile {
					text-align: center;
					.social-link  {
						justify-content: center;
						margin-top: 2.4rem;
						li {
							&:not(:last-child) {
								padding-right: 0;
							}
							a {
								width: 4rem;
								height: 4rem;
								line-height: 4rem;
								display: block;
								border-radius: 50%;
								background-color: @theme__color__primary;
								text-align: center;
								&:hover {
									-moz-transform: scale(1.1);
									-webkit-transform: scale(1.1);
									-o-transform: scale(1.1);
									-ms-transform: scale(1.1);
									transform: scale(1.1);
								}
								.icon {
									&:hover {
										color: @color-white;
									}
								}
							}
						}
					}
					@media only screen and (max-width: (@screen__m - 1)){
						text-align: left;
						 order: -2;
						.social-link  {
							justify-content: flex-start;
						}
					}
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			.footer.content {
				.copyright {
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				.hozital-menu {
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align:left !important;
						margin-top: 0.5rem;
					}
					p {
						margin: 0;
					}
				}
			}
		}
		
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			flex-wrap: nowrap;
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 37.59%; 
					max-width: 37.59%; 
					padding: 0 5rem;
					position:relative;	
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: -99999rem;
						bottom: -99999rem;
						border-left: 1px solid rgba(13,13,13,0.1);
					}
					&:after {
						content: "";
						position: absolute;
						right: 0;
						top: -99999rem;
						bottom: -99999rem;
						border-right: 1px solid rgba(13,13,13,0.1);

					}
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				
			}
		}
	}	
}

/* banner static */
& when (@media-common = true) { 
	.home-banner {
		.row {
			margin: 0 -5px; 
			.col  {
				padding: 0 5px;
				@media only screen and (max-width: (@screen__s - 1)){
					margin-bottom: 1.5rem;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.banner-box {
			position: relative;
			line-height: 1;
			overflow:hidden;
			.box-hover {
				width: 28.2rem;
				height: 28.2rem;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin:auto;
				pointer-events:none; 
				z-index:1; 
				.transition();
				@media only screen and (max-width: 1919px){
					.get-vw-xxl(width, 282px);
					.get-vw-xxl(height, 282px);
				}	
				@media only screen and (max-width: (@screen__s - 1)){
					.get-vw-s(width, 282px);
					.get-vw-s(height, 282px);  
				}
				@media only screen and (max-width: (@screen__xs - 1)){
					.get-vw-xs(width, 282px);
					.get-vw-xs(height, 282px);  
				}
			}
			img {
				width: 100%;
			}
			&:hover {
				.txt_cms {
				-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
				animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
					
				} 
				.box-hover img{
					opacity: .7;
					-webkit-animation: tilt-in-top-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation: tilt-in-top-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					
	
				}
			}
			.content_cms {
				position: absolute; 
				left: 1.5rem;
				right: 1.5rem;
				top: 50%;
				-moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				text-align: center;
				z-index:2;
				h5 {
					font-size: 1.6rem;
					color: @color-white;
					margin: 0 0 2rem 0;
					letter-spacing: 0.4em;
					text-transform: uppercase;
				}
				h2 {
					font-size: 6rem;
					color: @color-white;
					margin: 0 0 3rem 0;
					font-family: @otherfont-family;
					font-weight: @font-weight__regular;
				}
				a {
					display: inline-block;
					color: @color-white;
					font-size: 1.4rem;
					line-height: 2rem;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					font-weight: @font-weight__bold; 
					border-bottom: 2px solid @color-white; 
					&:hover {
						opacity: 0.7; 
					}
				}
				@media only screen and (max-width: 1919px){
					h5{
					  .get-vw-xxl(font-size, 16px);
					  .get-vw-xxl(margin-bottom, 20px);
					}
					h2{
					  .get-vw-xxl(font-size, 60px);
					  .get-vw-xxl(margin-bottom, 30px);
					}
					a {
						.get-vw-xxl(font-size, 14px);
						.get-vw-xxl(line-height, 20px);
						.get-vw-xxl(border-width, 2px);		
					}
				}
				@media only screen and (max-width: (@screen__s - 1)){
					h5{
					  .get-vw-s(font-size, 16px);
					  .get-vw-s(margin-bottom, 20px);
					}
					h2{
					  .get-vw-s(font-size, 60px);
					  .get-vw-s(margin-bottom, 30px);
					}
					a {
						.get-vw-s(font-size, 14px);
						.get-vw-s(line-height, 20px);
						.get-vw-s(border-width, 2px);		
					}
				}
				@media only screen and (max-width: (@screen__xs - 1)){
					h5{
					  .get-vw-xs(font-size, 16px);
					  .get-vw-xs(margin-bottom, 20px);
					}
					h2{
					  .get-vw-xs(font-size, 60px);
					  .get-vw-xs(margin-bottom, 30px);
					}
					a {
						.get-vw-xs(font-size, 14px);
						.get-vw-xs(line-height, 20px);
						.get-vw-xs(border-width, 2px);		
					}
				}
		
			}
		}
	}
	.banner-top {
		.banner-box {
			@media only screen and (max-width: (@screen__m - 1)){
				margin-bottom: 3rem;
			}
			.box-hover {
				@media only screen and (max-width: (@screen__m - 1)){
					.get-vw-m(width, 282px);
					.get-vw-m(height, 282px);
				}
				@media only screen and (max-width: (@screen__xs - 1)){
					.get-vw-xs(width, 282px);
					.get-vw-xs(height, 282px);
				}
			}
			.content_cms {
				h2 {
					font-size: 10rem;		
					line-height: 1;	
					margin:0;
				}
				p {
					font-size: 3rem;
					color: @color-white;
					font-weight: @font-weight__bold;
					line-height: 1;	
					font-family: @heading__font-family__base;
					margin-bottom: 2rem;
					margin-top: -1rem;
				}
				@media only screen and (max-width: 1919px){
					h2{
					  .get-vw-xxl(font-size, 100px);
					}
					p {
						.get-vw-xxl(font-size, 30px);
						.get-vw-xxl(margin-bottom, 20px);
						.get-vw-xxl(margin-top, -10px);		
					}
				}
				@media only screen and (max-width: (@screen__m - 1)){
					h2{
					  .get-vw-m(font-size, 100px);
					}
					p {
						.get-vw-m(font-size, 30px);
						.get-vw-m(margin-bottom, 20px);
						.get-vw-m(margin-top, -10px);		
					}
					a {
						.get-vw-m(font-size, 14px);
						.get-vw-m(line-height, 20px);
						.get-vw-m(border-width, 2px);		
					}
				}
				@media only screen and (max-width: (@screen__xs - 1)){
					h2{
					  .get-vw-xs(font-size, 100px);
					}
					p {
						.get-vw-xs(font-size, 30px);
						.get-vw-xs(margin-bottom, 20px);
						.get-vw-xs(margin-top, -10px);		
					}
					a {
						.get-vw-xs(font-size, 14px);
						.get-vw-xs(line-height, 20px);
						.get-vw-xs(border-width, 2px);		
					}
				}
				
			}
		}
	}
	.banner-middle {
		padding: 20rem 0;
		@media only screen and (max-width: 1919px){
			.get-vw-xxl(padding-top, 200px);
			.get-vw-xxl(padding-bottom, 200px);
		}
		@media only screen and (max-width: (@screen__s - 1)){
			.get-vw-s(padding-top, 200px);
			.get-vw-s(padding-bottom, 200px);
		}
		background: url(../images/banner-funiture-middle.jpg) center bottom no-repeat fixed;
		background-size: cover;
		position: relative;
		&:hover {
			.txt_middle_cms {
				-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
				animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
			}
		}
		.content_cms {
			padding: 0 1.5rem;
			text-align: center;
			h3 {
				font-size: 4.8rem;
				color: @color-white;
				font-family: @otherfont-family;
				margin: 0 0 2rem 0;
				font-weight: @font-weight__regular;
			}
			h2 {
				font-size: 6rem;
				color: @color-white;
				margin: 0 0 3rem 0;
				text-transform: uppercase;
				font-weight: @font-weight__semibold;
			}
			a {
				display: inline-block;
				color: @color-white;
				font-size: 1.4rem;
				line-height: 3rem;
				padding: 1rem 4rem;
				text-transform: uppercase;
				font-weight: @font-weight__semibold; 
				color: @color-white;
				background: @theme__color__primary;
				transition: none;
				&:hover {
					opacity: 0.7; 
					.transition();
				}
			}
			@media only screen and (max-width: 1919px){
				h3{
				  .get-vw-xxl(font-size, 48px);
				  .get-vw-xxl(margin-bottom, 20px);
				}
				h2{
				  .get-vw-xxl(font-size, 60px);
				  .get-vw-xxl(margin-bottom, 30px);
				}
				a {
					.get-vw-xxl(font-size, 14px);
				    .get-vw-xxl(line-height, 30px);
				    .get-vw-xxl(padding-top, 10px);
				    .get-vw-xxl(padding-bottom, 10px);
				    .get-vw-xxl(padding-left, 40px);
				    .get-vw-xxl(padding-right, 40px);
					
				}
			}
			@media only screen and (max-width: (@screen__s - 1)){
				h3{
				  .get-vw-s(font-size, 48px);
				  .get-vw-s(margin-bottom, 20px);
				}
				h2{
				  .get-vw-s(font-size, 60px);
				  .get-vw-s(margin-bottom, 30px);
				}
				a {
					.get-vw-s(font-size, 14px);
				    .get-vw-s(line-height, 30px);
				    .get-vw-s(padding-top, 10px);
				    .get-vw-s(padding-bottom, 10px);
				    .get-vw-s(padding-left, 40px);
				    .get-vw-s(padding-right, 40px);
					
				}
			}
		
		}
	}
	.shipping-support {
		border: 1px solid @border-color__base;
		padding: 3.2rem 1.5rem;
	}
}

/* style title */
& when (@media-common = true) {
	
	.cms-index-index{
	    .page-main{
			.rokan-title {
				position: relative;
				margin-bottom: 4rem;
				text-align: center;
				display: flex;
				flex-direction: column-reverse;
				.module-title {
					font-size: 4.2rem;
					@media only screen and (max-width: (@screen__l - 1)){
						font-size: 2.8rem;
					}
					text-transform:uppercase;
					color: #000000;
					font-weight: @font-weight__semibold; 
					&:before {
						content: "";
						width: 7.2rem;
						height: 1.2rem;
						background: url(../images/line_title.png) no-repeat;
						display: block;
						position: absolute;
						bottom: -10px;
						left: 0;
						right: 0;
						margin: auto;
					}
				}
				.short_description {
					font-size: 3rem;
					color: @theme__color__primary;
					font-family: @otherfont-family;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	@media only screen and (min-width: @screen__l){
		.page-products .products-grid .product-items .product-item {
			width: 33.33333333%;
		}
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	.product-item .product-label {
		font-family: @font-family-name__base;
		font-size: 1.3rem;
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer {
				
				margin: 0 -1px;
				padding: 0 1px;		
				.first-active-item:before{
                   display: none;
                }
			}
			&:not(.owl-carousel) { 
				border: none;  
			}
			.product-item{
				border: none;
				padding: 0 1.5rem; 
				margin: 0 0 4rem 0;
				&:last-child {
					margin: 0;
				}
				
				.product-item-photo {
					line-height:1;
					padding:0 1rem;
					margin: 0;
				}
				.product-item-info {
					border: 1px solid @border-color__base;
					position:relative; 
					text-align:center;
					padding: 0 2.5rem 1.1rem;
					@media only screen and (max-width: (@screen__xs - 1)){
						padding: 1rem;
					}
					&:before {
						display:none !important; 
					}
					.product-item-details {
						position:static;
						padding-top: 1rem;
						.product-item-actions {
							position: absolute;
							top: 1.5rem;
							right: 1.5rem;
							z-index:1;
						}
						.price-box {
							justify-content:center;
						}
						
					}
					.product.name a {
						line-height: 1.4;
						display:block;
					}
					.product-reviews-summary {
						margin: 6px 0px 4px;
						display: inline-flex;
					}
					.actions-primary,
					.actions-secondary,
					.field.choice.related,
					.actions-secondary .action{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
						width: 4rem;
						height: 4rem;
						@media only screen and (max-width: (@screen__xs - 1)){
							width: 3rem;
							height: 3rem;
						}
						background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
							overflow:visible;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.field.choice.related{
						bottom: 2px;
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.5rem;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.5rem;
								}
								span{
									display:none;
								}
							}
							&.tocompare {
								&:before{
									font-size: 1.5rem; 
									margin: 0; 
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				
				&:hover{				
					.actions-primary,
					.field.choice.related{
						webkit-animation: zoomIn 400ms ease-in-out;
						-moz-animation: zoomIn 400ms ease-in-out;
						-ms-animation: zoomIn 400ms ease-in-out;
						animation: zoomIn 400ms ease-in-out;
					}
					.actions-secondary{
						> *{
							&:nth-child(1) {
								webkit-animation: zoomIn 600ms ease-in-out;
								-moz-animation: zoomIn 600ms ease-in-out;
								-ms-animation: zoomIn 600ms ease-in-out;
								animation: zoomIn 600ms ease-in-out;
							}
							&:nth-child(2){
								webkit-animation: zoomIn 800ms ease-in-out;
								-moz-animation: zoomIn 800ms ease-in-out;
								-ms-animation: zoomIn 800ms ease-in-out;
								animation: zoomIn 800ms ease-in-out;
							}
							&:nth-child(3){
								webkit-animation: zoomIn 1000ms ease-in-out;
								-moz-animation: zoomIn 1000ms ease-in-out;
								-ms-animation: zoomIn 1000ms ease-in-out;
								animation: zoomIn 1000ms ease-in-out;
							}
						}
					}
					
					
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	.product-items .product-item .action:hover:before, .products.list.items .product-item .action:hover:before{
		color: @color-white;
	}
	.pages .items .item:hover a, 
	.pages .items .item.current a, 
	.pages .items .item:hover strong, 
	.pages .items .item.current strong ,
	.pages .items .item a:hover:before,{
			color: @color-white;
	}
	body .owl-carousel:hover .owl-nav button {
		border-radius: 100%;
		&:hover:before {
			color: @color-white;
		}
	}
}
section, .section, .product.info.detailed, .block.related, .block.upsell {
	margin-bottom: 9rem;
	@media only screen and (max-width: (@screen__l - 1)){
		margin-bottom: 6rem;
	}
	@media only screen and (max-width: (@screen__s - 1)){
		margin-bottom: 3rem;
	}
}

/* new-products */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.position-top {
		position: relative;
		padding-top:145px;
		.row {
			margin: 0 -2rem;
			> div {
				position: static;
				padding:0 2rem;
				&.col-left {
					-ms-flex: 0 0 51.4%;
					flex: 0 0 51.4%;
					max-width: 51.4%;
				}
				&.col-right {
					-ms-flex: 0 0 48.6%;
					flex: 0 0 48.6%;
					max-width: 48.6%;
				}
			}
		}
		.new-products {
			.rokan-title {
				position: absolute;
				top: 0;
				left: 0;
				right: 0; 
			}
			.products {
				margin-top: 0;
				margin-bottom: 0;
				
			}
		}
	}
	
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.position-top {
		padding-top:160px;
	}
	
}
/* css catethumb */
& when (@media-common = true) {
	.wrapper_sub_category_tabs.container_horizontal_tab_postions {
		position: relative;
		margin: 0 ;
		&:after {
			content:"";
			position:absolute;
			top:0;
			bottom:0;
			left:-9999rem;
			right:-9999rem;
			background:#f0f1f6; 
			z-index:-1; 
		}
		.rokan-title {
			margin: 0 ;
		} 
		&.onlyparent {
			.list-category-item{
				.category-item{
					a {
						background: transparent;
						position: relative;
						padding: 58px 0;
						&:before {
							position: absolute;
							content: '';
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							.transition();
							background: @theme__color__primary;
							z-index: -1;
							-webkit-transform: scale(.9);
							-moz-transform: scale(.9);
							-ms-transform: scale(.9);
							-o-transform: scale(.9);
							transform: scale(.9);
							opacity: 0;
							visibility: hidden;
						}
						
						img {
							width: auto;
							max-width: 100%;
						}
						&:hover {
							&:before {
								-webkit-transform: scale(1);
								-moz-transform: scale(1);
								-ms-transform: scale(1);
								-o-transform: scale(1);
								transform: scale(1);
								opacity: 1;
								visibility: visible;
							}
							.cate-name.cate-count {
								color: @color-white;
							}
							img {
								-webkit-filter: brightness(0) invert(1);
								filter: brightness(0) invert(1);
								transform: none;
							}
						}
						&.horizontal {
							flex-direction: column;
						}
						.thumb-infor {
							padding: 0;
							.cate-name.cate-count {
								font-size: 15px;
								text-transform:uppercase;
								margin-top: 2rem;
								padding: 0;
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
/* css Blog */
& when (@media-common = true) {
	//Blog gobal style
	.block-recent-posts {
		.post-list-wrapper{
			.blog-post-thumb a img {
				width:100%;
			}
			.blog-post-info{
				border: none;
				padding: 3rem 3rem 0; 
				.post-title{
					font-weight: @font-weight__semibold; 
					margin-bottom: 1rem;
				}
				.post-category-name{
					right: 0;
					padding: 0.9rem 1.6rem;
					background: @color-white;
					a {
						font-weight: @font-weight__semibold; 
						text-transform:uppercase;
						color: @theme__color__primary; 
					}
				}
				.time-conment{
					font-size: 1.3rem;
					color: #888888;
					
				}
				
		
			}		
		}
	}
	
}
/* slideshow */
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.nivo-directionNav a {
			border-radius:100%;
			&:before {
				color: @color-white;
				font-family: main-icon;
				transform: rotate(0deg) !important;;
				-webkit-transform: rotate(0deg) !important;;
				-o-transform: rotate(0deg) !important;;
				-ms-transform: rotate(0deg) !important;
			}
			&.nivo-prevNav {
				&:before {
				    content: '\e933'; 
				}
			}
			&.nivo-nextNav {
				&:before {
					content: '\e934';
				}
			}
			&:not(:hover){
				background: rgba(255,255,255,0.2);
			}
		}
		.the-blue-sky-banner-text {
			h4 {
				font-family: @otherfont-family;
			}
			a.btn {
				font-weight: @font-weight__bold;  
				&:hover { 
					background: @color-white;
					color: #0d0d0d !important;	
				}
			}
			 
		}
	}
} 
// Checkout page, About us
& when (@media-common = true) {
	body.rokanthemes-onepagecheckout .header-container {
		.sticky-header{
			padding-top: 1.5rem;
	   		padding-bottom: 1.5rem;
	   		.for-full-width-menu{
	   			&:before{
	   				top: -15px;
	   			}
	   			&:after{
	   				display: none;
	   			}
	   		}
	   	}
	}
	.connect{
		margin-bottom: 0 !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .block.block-search .dropdown .form.minisearch .search-form{
        min-width: 350px !important;
    }
}