<?php 
	$imageUrl = '';
	if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getFooterLogo()){
		$imageUrl = $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getFooterLogo();
	}
?>
<div id="back-top" class=""><i class="fa fa-long-arrow-alt-up"></i></div>
<div class="footer-container">
	<div class="footer-top">
		<div class="footer content">
			<div class="container-inner">
				<div class="footer-static_link flex-layout space-between">
					<div class="col-left">
						<div class="footer-links">
							<?php if($imageUrl){  ?>
								<img src="<?php echo $imageUrl ?>" alt="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"/>
							<?php }else{ ?>
								<?php echo $this->getChildHtml('logo_footer'); ?>
							<?php } ?>
							<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_introduce_store')->toHtml(); ?>
						</div>
					</div>
					<div class="col-right">
						<div class="flex-layout space-between">
							<div class="footer-links">
								<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_information')->toHtml(); ?>
							</div>
							<div class="footer-links">
								<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-my-account')->toHtml(); ?>
							</div>
							<div class="footer-links not-collapse-mobile contact">
								<?php echo $block->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Newsletter::subscribe.phtml')->toHtml();?>
								<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social_icon')->toHtml(); ?>
							</div>
						</div>
							<div class="container-inner">
								<div class="footer-bottom-text flex-layout space-between">
									<div class="footer-bottom-inner">
										<?php echo $this->getChildHtml("copyright"); ?>
									</div>
									<div class="footer-bottom-inner">
											<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_payment')->toHtml(); ?>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="fixed-bottom d-block d-md-none">
	<div class="link-on-bottom">
		<ul class="mobile-bottom-link flex-layout space-between list-unstyled">
			<li><a href="<?php echo $this->getUrl('');?>"><span class="icon main-icon-house"></span><?= $block->escapeHtml(__('Home')) ?></a></li>
			<li><a href="#" class="toggle-nav-footer"><span class="icon main-icon-menu-1"></span><?= $block->escapeHtml(__('Menu')) ?></a></li>
			<li><a href="<?php echo $this->getUrl('customer/account/');?>"><span class="icon main-icon-user"></span><?= $block->escapeHtml(__('Account')) ?></a></li>
			<li><a href="<?php echo $this->getUrl('checkout/cart/');?>"><span class="main-icon-cart"></span><?= $block->escapeHtml(__('Cart')) ?></a></li>
			
		</ul>
	</div>
</div>