<div class="header-container">
	<div class="header sticky-header">
		<div class="header panel center-element">
			<div class="header-content flex-layout space-between center_vertical no-wrap-desktop">
				<div class="logo-container">
					<div class="logo-site">
						<?php echo $this->getChildHtml('logo'); ?>
					</div>
				</div>
				<div class="col-menu primary-menu-container col-left">
					<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
				</div>
				<div class="col-action col-right action-sticky">
					<ul class="flex-layout action-header space-between center_vertical no-wrap-desktop">
						<li class="action-search">
							<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
						</li>
						<li class="action-search">
							<?php echo $this->getChildHtml("top.links"); ?>
						</li>	
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>