// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font

//broder
@border-color__base: #ededed;

// Heading
@heading__color__base: #111;
@heading__font-family__base: inherit;
@heading__font-weight__base: 600; 
@heading__font-style__base: italic;


@otherfont: 'Dancing Script';
// Topbar
@topbarbg: #2a233e;
@topbarcolor: @color-white;

@header__background-color: @color-white;
@header-border-color: @border-color__base; 

@header_sticky_bg: @header__background-color;
@header_sticky_border: @header-border-color;
@header-icons-color: #111;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 1px;

@theme__color__primary: #eb6199;
// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: 500;
@navigation-desktop__font-size: 1.8rem;
@navigation-desktop-level0-item__color: #111;
@navigation-desktop-level0-item__active__color: @theme__color__primary;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
@navigation-desktop-level0-item__color: #111;
//Level 0

@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: false;
@navigation-level0-item__font-size: 18;
@navigation-level0-item__font-weight: 400;
@navigation-level0-item__hover__color:  @theme__color__primary;
@navigation-level0-item__active__color: @theme__color__primary;
@navigation-level0-item__color: #111;
//==============================
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: #7dad60;
@new_label_color: @color-white	;
//Topbar
//Module variables


//Title
@module_margin_bottom: 4rem;
@module_title-size: 4rem;
@module_title-text-transform: capitalize;
@module_title_text-align: center;

@margin_gobal_value: 10rem;
// Product
@product-name-link__color: #222;


// Button
/* footer */
@footer_font-size: 14px;
@footer__background-color: #fdf4f4;
@footercolor: #111111;

@footer-title-font-size: 2rem;
@footer-title-color: #111; 
@footer-title-font-weight: 400;
@footer-title-transform: capitalize;

@footer-border-color: #dad1f1;

@footer-bottom_bg: #2a233e;
@footer_bottom_color: #b7b7b7;

//Button variable
@button__color: @color-white;
@button__hover__color: @color-white;
@button__font-size: 14px;
@button__font-family: @heading__font-family__base;
@button__background: @theme__color__primary;
@button__padding: 12.5px 45px;
@button__border-radius: false; 
@button__font-weight: @font-weight__bold;

@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;

// Owl
@owl-nav-bg: @border-color__base;
@owl-nav-bg-width: 50px;
@owl-nav-height: 50px;
@owl-nav-border-radius: 50%;
@owl-nav-color: false;

// Slider heading
@nivo-directionNav-width: 50px;
@nivo-directionNav-height: 50px;
@nivo-directionNav-border-radius: 50%;
@nivo-directionNav-bg: @owl-nav-bg;

@slider_h2_font-size-xxl: 70px;
@slider_h2_font-size-xl: 70px;
@slider_h2_font-size-l: 60px;
@slider_h2_font-size-s: 50px;
@slider_h2_font-size-xs: 30px;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: false;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.1;
@slider_h2_font-weight: @heading__font-weight__base;


@slider_p_font-size-xxl: 20px;
@slider_p_font-size-xl: 20px;
@slider_p_font-size-l: 18px;
@slider_p_font-size-s: 16px;
@slider_p_font-size-xs: 14px;
@slider_p_text-transform: uppercase;
@slider_p_margin: 24px;
@slider_p_letter-spacing: 5px;
@slider_p_font-weight: 600;

// Slider button
@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 14px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 12px;
@slider_button_margin-top: 45px;
@slider_button_padding: 13px 40px;
@slider_button_padding-s: 10px 20px;
@slider_button_letter-spacing: 2px;

// Control (dot)
@nivo-controlNav-veritcal-postion: 30px;
@nivo-controlNav-bg: fade(@color-white, 50%);

//___________________________________________________
// Module category thumb
@padding-category-thumb: false;
@background-category-thumb: false;
@category_name-padding: 3rem;

// Supper deal
@banner_padding: 12rem 0;

// Cateory tab

@tabcolor: @heading__color__base;
@tabactive: @color-white;
@tab-text-tranform: uppercase;
// Hozital variable
@category-tab-text-align: center;
@category-tab-name-size: 14px;

// Category thumb
@background-category-thumb: false;
@category-name-size: 2.4rem;
@category-name-color: @color-white;
// Testimonial
@testimo-slider_padding: 17.4rem 0 0;
@testimo-slider_mobile_padding: 10vh 0 0;

@testimonial-image-width: 33rem;
@testi-bg: false;
@testimonial-image-border-radius: false;
@testimonial-image-margin-bottom: false;

@testimonial_des-color: @heading__color__base;
@testimonial_des-size: 22px;
@testimonial_des-fammily: @heading__font-family__base;


@testimonial-name-size: 2rem;
@testimonial-name-text-transform: uppercase;
/* animation */
& when (@media-common = true) { 
	@-webkit-keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 0.2em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 0.2em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
}
/* end animation */
.icon_header(){
	font-size: 2.3rem;
    line-height: 4rem;
    position: relative;	
};
// Owl style
& when (@media-common = true) {
	body{
		.wrapper-the-blue-sky-slider{
			.nivo-directionNav{
				button,
				a{
					&:before{
						.icon_custom_font('\e933');
						font-size: 30px;
						display: inline-flex;
						align-items: center;
						line-height: 1;
					}
					&:not(:hover){
						&:before{
							color: @color-white;
						}
					}
					&.nivo-prevNav{
						width: @owl-nav-bg-width;
						border-radius: 50%;
						&:not(:hover){
							&:before{
								color: @color-white;
							}
						}
						
						&:before{
							transform: none;
						}
						&:hover{
							&:after{
								background-color: @link__hover__color;
							}
						}
					}
					&.nivo-nextNav{
						width: @owl-nav-bg-width;
						border-radius: 50%;
						&:before{
							content: '\e934';
							transform: none;
						}
					}
					&:focus{
						box-shadow: none;
					}
				}
			}
		}
	}	
}

.icon_header() {
    font-size: 2.2rem;
    line-height: 3rem;
    position: relative;
}
// Gobal style
& when (@media-common = true) {
    .product-item {
    	.product-label{
    		&.onsale{
    			right: auto;
    			left: 2rem;
    			@transform: translateY(100%);
    			.lib-css(transform, @transform, @_prefix: 1);
    		}
    	}
    }
     .header-container .col-action .action-header > li .search-form a{
		padding-right: 0;
	}
	.searchsuite-autocomplete .product .title{
		font-size: 1.4rem;
	}
}
/* header */
& when (@media-common = true) {
	.header-container {
		// Social icon
		.topbar{
			.topbar-inner {
				ol, ul{
					li{
						margin-bottom: 0.5rem;
					}
					a{
						&:not(:hover){
							.lib-css(color, @footercolor);
						}
					}
					.icon{
						&:not(:hover){
							color: @color-white;
						}
						.lib-font-size(16);
						.text{
							display: none;
						}
					}
					&.social-link{
						padding-left: 0;
						align-items: center;
						flex: 1;
						li{
							display: inline-flex;
							margin-bottom: 0;
							&:not(:first-child){
								padding-left: 1.7rem;
							}
							&:not(:last-child){
								padding-right: 1.7rem;
							}
						}
					}
				}
				.col-right{
					flex: 1;
					justify-content: flex-end;
				}
				.container-setting-language-currency {

					.switcher{
						border-right: 1px solid rgba(255,255,255,0.3);
					}
				}
				.col-top-link {
					> :not(:last-child) > *{
						border: 0;
						padding: 0;
						margin-right: 0;
					}
				}
			}
		}
		.header-top{
			padding: 1.5rem 0;
			.col-top-link{
				color: @header-icons-color;
				position: relative;
			}
			.block.block-search {
				position: static;
				.dropdown{
					.top-search{
						color:  @header-icons-color;
						margin-right: 0.6rem;
						i{
							.lib-font-size(20);
						}
					}
					.form.minisearch{
						right: 0;
					}
				}
			}
		}
		.col-action {
			.minicart-wrapper .action.showcart .counter.qty, 
			li .counter.qty{
				min-width: 1.7rem;
   				min-height: 1.7rem;
   				font-size: 1rem;
   				color: @button__color;
   				line-height: 9px;
   				top: 0;
    			right: 4px;
    			font-weight: @font-weight__semibold;
			}
			.minicart-wrapper{
				margin-left: 0;
			}
			.action-header{
				li{
					margin: 0 1rem;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		.header.links {
			margin-left: 0.5rem;
			li{
				&:not(:last-child){
					margin-left: 0.5rem;
				}
				&.authorization-link{
					
					> a{
						&:before{
							display: none;
						}
					}
					&:after{
						content: '/';
						margin: 0px 6px 0 3px;
					}
				}
				&:last-child{
					padding-left: 0;
				}
			}
		}
		.header-content{
			border-bottom: 1px solid @header-border-color;
		}
		&:not(.sticky){
			.header-top{
				.col-top-link,
				.col-action{
					flex: 1;
				}
				.col-action{
					> .flex-layout{
						justify-content: flex-end;
					}
				}
			}
			.for-full-width-menu{
				justify-content: center;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.navigation.custommenu li.level0 {
		.level-top{
			.lib-css(font-style, @heading__font-style__base);
		}
		.submenu .mega-columns .level1.parent > a{
			.lib-css(font-style, @heading__font-style__base);
			font-weight: @font-weight__regular;
		}
	}
	.cms-index-index{
		.header-container {
			&:not(.sticky){
				.header-content{
					border-bottom: 1px solid @header-border-color;
					position: absolute;
				    left: 0;
				    right: 0;
				}
			}
		}
	}
	.header-container {
		.header-top{
			position: relative;
		}
		.primary-menu-container{
			flex: 6;
			padding: 0 1rem;
		}
		&:not(.sticky){
			.header-top{
				.logo-container{
					flex: 1;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block.block-search .dropdown .form.minisearch .search-form{
		min-width: 350px !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.topbar .topbar-inner {
			.col-left{
				display: none;
			}
		}
		.header-top {
			.primary-menu-container {
				order: 1;
				position: relative;
				z-index: 25;
			}
			.col-right{
			    order: 3;
			    flex: 1;
			    .flex-layout{
			    	justify-content: flex-end;
			    }
			}
			.logo-container{
				flex: 0 0 100%;
    			margin: 0 -50% 0 -3rem;
    			text-align: center;
    			order: 2;
    			.logo-site,
    			img{
    				margin: auto;
    			}
			}
			.action-header{
				position: relative;
			}
			.block.block-search {
				position: static;
				.dropdown{
					.top-search{
						color:  @header-icons-color;
						margin-right: 1rem;
						i{
							.lib-font-size(20);
						}
					}
				}
				.form.minisearch{
					right: 0;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.header-container {
		.topbar .topbar-inner {
			justify-content: center !important;
			ul.social-link{
				display: none;
			}
			.col-right{
				justify-content: center !important;
    			align-items: center;
    			flex: unset !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		.header-top {
			padding-bottom: 1rem !important;
			.logo-container{
    			margin: 0 0 1.5rem;
			}
			.primary-menu-container{
				order: 2;
			}
		}
		&.sticky{
			.sticky-header{
				.header-top{
					padding: 1rem 0 !important;
				}
				.logo-container{
					display: none;
				}
			}
		}
	}
}
// Footer
/* footer */
& when (@media-common = true) {
	.page-footer {
		margin-top: 9rem;
		.footer-top {
			.footer.content {
				padding-top: 6rem;
				padding-bottom: 6rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer-static_link {
			.footer-links {
				p {
					> span {
						font-size: 2.4rem;
						display: block;
					}
				}
				&.not-collapse-mobile {
					text-align: center;
					img{
						margin-bottom: 2rem;
					}
					ul{
						margin-top: 0;
						p{
							margin-bottom: 0;
							
						}
						> li{
							&:first-child{
								p{
									color: @theme__color__primary;
									font-weight: @font-weight__semibold;
								}
							}
							&:not(:first-child){
								p{
									line-height: 2;
								}
							}
						}
					}
					.social-link  {
						justify-content: center;
						margin-top: 2rem;
						li {
							&:not(:last-child) {
								padding-right: 0;
							}
							a {
								padding: 0 1rem;
								.icon{
									&:not(:hover){
										color: @heading__color__base;
									}
								}
							}
						}
					}
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			border-top: 1px solid @footer-border-color;
			.footer.content {
				.copyright {
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				.hozital-menu {
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align:left;
						margin-top: 0.5rem;
					}
				}
			}
		}
		
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 37.59%; 
					max-width: 37.59%; 
					padding: 0 5rem;
					position:relative;	
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: -2rem;
						bottom: 0;
						border-left: 1px solid @footer-border-color;
					}
					&:after {
						content: "";
						position: absolute;
						right: 0;
						top: -2rem;
						bottom: 0;
						border-right: 1px solid @footer-border-color;

					}
					
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				order: 2;
				&.not-collapse-mobile{
					order: 1;
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 3rem;
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				order: 2;
				margin-bottom: 0 !important;
				&.not-collapse-mobile{
					order: 1;
					margin-bottom: 3rem;
				}
			}
		}
	}	
}
// Home page
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider{
		margin-bottom: 1.5rem;
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				padding: 0 15px;
				@media all and (min-width: @screen__l) {
				    width: 95%;
				    margin: auto;
				    max-width: 1440px;
				    .container{
				    	padding: 5rem 6rem;
				    }
				}
				.container{
					width: auto !important;
					background: @color-white;
					margin: unset;
					border-radius: 3rem;
					@box-shadow: 0px 4px 4px 0px rgba(94, 115, 144, 0.1);
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					@media all and (max-width: (@screen__l - 1)) {
						padding: 2rem 3rem;
					}
				}
			}
		}
	}
	.cms-index-index{
	    .page-main{
		    .rokan-title{
		    	.module-title,
		    	h2{
		    		position: relative;
		    		font-weight: @font-weight__regular;
		    		&:after{
		    			content: url(../images/line-cosmectic.png);
		    			display: block;
		    			margin-top: 0.6rem;
		    		}
		    	}
		    }
		}
	}
	.banner{
		&.cosmetic{
			padding: 0 2.3rem;
			.row{
				margin: 0 -7.5px;
			}
			.col-banner{
				padding: 0 7.5px;
				&:hover{
					.content{
						.button-wrap{
							.btn{
								&:before{
							    	top: -40%;
		    						bottom: -40%;
		    					}
							}
						}
					}
				}
			}
			.content{
				h2{
					font-family: @otherfont;
					text-transform: unset;
					font-weight: bold;
    				font-style: normal;
    				margin-bottom: 4px;
				}
				h4{
					font-family: 400;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-style: normal;
				}
				.button-wrap{
					margin-top: 0;
					.btn{
						background-color: transparent;
					    padding: 0 8px;
					    font-size: 14px;
					    line-height: 18px;
					    letter-spacing: .2em;
					    text-decoration: none;
					    position: relative;
					    z-index: 1;
					    margin-top: 20px;
					    border: 0;
					    &:before{
					    	position: absolute;
							content: '';
						    top: 50%;
						    bottom: 0;
						    left: 0;
						    right: 0;
						    background-color: #000;
						    -webkit-transition: top .2s ease,bottom .2s ease;
						    -moz-transition: top .2s ease,bottom .2s ease;
						    -o-transition: top .2s ease,bottom .2s ease;
						    transition: top .2s ease,bottom .2s ease;
						    z-index: -1;
					    }
					    &:not(:hover){
					    	&:before{
					    	    opacity: .2;
					    	}
					    }
					    &:hover{
					    	&:before{
						    	top: -40%;
	    						bottom: -40%;
	    					}
					    }
					}
				}
			}
		}
	 	.col-banner{
	 		p{
	 			&.semibold{
	 				font-weight: @font-weight__semibold;
	 				letter-spacing: 2px;
	 				text-transform: uppercase;
	 				margin-top: 0;
	 				margin-bottom: 2.5rem;
	 			}
	 		}
	 		h2{
	 			text-transform: uppercase;
	 			letter-spacing: 2px;
	 			font-weight: @font-weight__bold;
	 		}
	 		.content{
	 			h3{
		 			line-height: 1.4;
		 		}
		 		.button-wrap{
		 			a{
		 				border-bottom-color: @color-white;
		 				padding: 12.5px 30px;
		 			}
		 		}
	 		}
	 	
	 		.button-wrapper{
	 			margin-top: 2rem !important;
	 			a{
	 				&:not(:hover){
	 					color: @text__color;
	 				}
	 			}
	 		}
	 	}
	 	&.cosmectics-middle{
	 		position: relative;
	 		margin-bottom: 6.5rem;
	 		&:after{
	 			background-color: @footer__background-color;
	 			content: '';
	 			position: absolute;
	 			top: 5.2rem;
	 			bottom: 10.5rem;
	 			left: 0;
	 			right: 0;
	 			z-index: -1;
	 		}
	 		.content {
	 			h4{
	 				text-transform: uppercase;
	 				font-style: normal;
	 				font-weight: @text-weight;
	 				margin-top: 0;
	 				margin-bottom: 1.5rem;
	 			}
	 			h2{
	 				margin-bottom: 0;
	 				font-weight: @text-weight;
	 				line-height: 1.2;
	 			}
	 			p{
	 				margin-top: 1.5rem;
	 				color: @heading__color__base;
	 			}
	 			.flex-layout{
	 				align-items: center;
	 				h2{
	 					color: @theme__color__primary;
	 					letter-spacing: 1px;
	 				}
	 				p{
	 					font-family: @heading__font-family__base;
	 					margin-left: 1rem;
	 					margin-top: 0;
	 					color: @greycolor;
	 					text-decoration: line-through;
	 				}
	 			}
	 			.button-wrapper{
	 				margin-top: 5rem;
	 			}
	 		}
	 	}
	}
	.wrapper_sub_category_tabs{
		.rokan-title .module-title{
			font-size: 5rem;
		}
		&.onlyparent {
			.list-category-item {
				.category-item {
					a.vertical{
						width: 23.1rem;
						height: 23.1rem;
						.flex();
						align-content: center;
						justify-content: center;
						margin: auto;
						border-radius: 50%;
						.cate-name.cate-count{
							font-style: @heading__font-style__base;
							font-weight: @font-weight__regular;
						}
						 figure + .thumb-infor{
						 	align-items: flex-end;
   							bottom: 2rem;
						 }
						&:hover{
							 figure{
							 	overflow: visible;
							 	img{
							 		transform: none;
							 	}
							 }
							.cate-name.cate-count{
								text-decoration: underline;
								color: @category-name-color;
							}
						}
					}
				}
			}
		}
	}
	.container_horizontal_tab_postions{
		&.wrapper_category_product_tabs,
		&.wrapper_product_tabs{
			.products-grid{
				margin-top: 1.6rem;
			}
			.ui-tabs-nav{
				li{
					display: inline-flex;
					&:not(:first-child){
						padding-left: 1.5rem;
					}
					&:not(:last-child){
						padding-right: 1.5rem;
					}
					a{
						font-family: @font-family__base;
						font-weight: @font-weight__semibold;
						background-color: @footer__background-color;
						padding: 3px 15px;
    					border-radius: 5px;
						&:not(:hover),
						&:not(.active){
							.lib-css(color, @tabcolor)
						}
					}
					&.ui-tabs-active,
					&:hover{
						a{
							background-color: @theme__color__primary;
							.lib-css(color, @tabactive);
						}
					}
				}
			}
		}
	}
	// Testimonial
	.pt-testimonial-container{
		.owl-carousel{
			max-width: 71%;
			margin-left: auto;
			.owl-item{
				&:not(.active){
					opacity: 0;
				}
			}
			.pt-testimonial {
				.content-tes{
					.tes-img{
						margin-right: 8%;
						margin-bottom: -3px;
					}
					.des-information{
						flex: 1;
						.des{
							font-style: italic;
						}
						.info {
							i{
								color: fade(@theme__color__primary, 30%);
								.lib-font-size(50);
								margin-right: 2.5rem;
								display: inline-block;
							}
							> .name{
								display: inline-block;
							}
							span.name{
								font-family: @heading__font-family__base;
								font-style: italic;
								display: inline-block;
							}
							.job{
								font-size: 1.4rem;
								text-transform: none;
							}
						}
					}
				}
			}
			.owl-nav{
				position: absolute;
				z-index: 2;
				right: 0;
				bottom: 5rem;
				button{
					position: static;
					border-radius: 50%;
					transform: none !important;
					background: @color-white !important;
					&.owl-prev{
						margin-right: 1rem;
					}
				}
			}
		}
	}
	body .block-newsletter-form{
		height: 100%;
	    background-attachment: inherit;
	    margin: 0;
	    padding: 0;
	    .container{
	    	width: 100% !important;
	    	padding: 10%;
	    }
	    .rokan-title{
	    	text-align: left;
	    	color: @heading__color__base;
	    	margin-bottom: 3rem;
	    	.module-title{
	    		padding-bottom: 0 !important;
	    		margin-bottom: 0.7rem;
	    		&:after{
	    			display: none !important;
	    		}
	    	}
	    }
	    .block.newsletter {
	    	max-width: 40rem;
	    	.field {
	    		.control{
	    			.input-focus,
	    			.actions{
	    				width: 100%;
	    				input{
	    					margin-bottom: 2rem;
	    					text-align: center;
	    					padding-left: 0;
	    				}
	    				> *{
	    					width: 100%;
	    				}
	    			}
	    		}
	    	}
	    }
	}
	.shipping-support{
		.row{
			margin: 0;
		}
		.col-content{
			padding: 2.5rem 1.5rem;
			border: 1px solid @border-color__base;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.shipping-support{
		.col-content{
			&:not(:first-child){
				margin-left: -1px;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .banner {
		&.cosmectics-middle{
			.col-banner .banner-img{
				position: static;
					img{
						max-width: 100%;
						min-width: 1;
					}
				}
			&:after{
				bottom: -3rem;
			}
		}
	}
	.testimo-slider .pt-testimonial-container .owl-carousel{
		max-width: 100%;
		.content-tes .image img{
			max-width: 10rem;
		}
		.des-information{
			padding: 2rem;
			background-color: @color-white;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	section, .section, .product.info.detailed, .block.related, .block.upsell,
	.super-deal-banner{
		margin-bottom: 6rem;
	}
	.section.block-recent-posts{
		margin-bottom: 3rem !important;
	}
	.testimo-slider {
		.pt-testimonial-container .owl-carousel{
			padding-bottom: 10vh;
			.content-tes {
				flex-direction: column;
				.tes-img{
					margin-bottom: 2rem !important;
				}
				.des-information {
					.info i{
						font-size: 3rem;
					}
					.des{
					    display: -webkit-box;
					    -webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
				}	
			}
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body .section.block-recent-posts .post-list-wrapper .blog-list-post .item-post-full{
		flex-direction: column;
		.blog-post-thumb{
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
               display: none;
            }
			&:not(.owl-carousel){
				border-left: 0;
			}
			.product-item{
				margin: 0 0 55px 0;
				border: 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height:1;
					border: 1px solid @border-color__base;
				}
				.product-item-info {
					padding: 0;
					&:before {
						display:none; 
					}
					.product-item-details {
						padding: 0;
						position: static;
						.flex();
						flex-direction: column;
					    justify-content: flex-start;
					    align-items: center;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.product-reviews-summary{
							order: 1;
							margin-top: -17px;
						    position: relative;
						    z-index: 1;
						    background: @color-white;
						    padding: 0 2rem;
						}
						.product-item-name{
							order: 2;
							text-align: center;
						}
						.price-box{
							order: 3;
							*{
								.lib-font-size(15);
							}	
						}
						.product-item-actions {
							position: absolute;
							right: 2rem;
							top: 1.5rem;
							bottom: auto;
							text-align: center;
							z-index: 1;
						}
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action,
					.field.choice.related{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.4rem;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
					}		
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview,
							&.tocompare{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.tocompare{
								display: none;
							}
						}
					}
				}
			}	
		}
	}
	.products-related{
		*[class*="product-items"][data-margin="0"] {
			.product-item .product-item-info .product-item-details .product-item-actions{
				.flex();
				flex-direction: column-reverse;
			}
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-products .products-grid .product-item{
		width: 33.33333333%;
	}
}
// Blog
& when (@media-common = true) {
	.section.block-recent-posts{
		margin: 0;
		.post-list-wrapper {
			.blog-list-post .item-post-full{
				.flex();
				&:not(:last-child){
					margin-bottom: 3rem;
				}
				.blog-post-thumb{
					max-width: 27rem;
					margin-right: 3rem;
					flex: 1;
				}
				.blog-post-info{
					border: 0;
					background: transparent;
					flex: 1;
					padding: 0;
					.post-category-name{
						
					}
					.flex-layout {
						margin-bottom: 2rem;
					}
					.time-conment{
						color: @greycolor;
						font-size: 13px;
					}
					.post-title{
						line-height: 1.3;
						font-size: 2.4rem;
						font-weight: @font-weight__regular;
					}
					.post-category-name{
						position: static;
					    transform: none;
					    background: transparent;
					    padding: 0;
					    margin-bottom: 0;
					    background: @theme__color__primary;
						
						text-transform: uppercase;
						font-size: 1.3rem;
						padding: 3px 10px;
					    a{
					    	color: @button__color;
					    	&:hover{
					    		 color: @button__color;
					    	}
					    }
					}
				}
			}
		}
	}
}