<div class="header-container">
	<div class="topbar d-md-block d-none">
		<div class="container">
			<div class="topbar-inner flex-layout space-between center_vertical">
				<div class="col-left col-top-link flex-layout">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('shipping_pets')->toHtml(); ?>
				</div>
				<div class="col-right col-top-link flex-layout">
					<div class="language-currency">
						<div class="container-setting-language-currency">
							<?php echo $this->getChildHtml("store_language"); ?>  
							<?php echo $this->getChildHtml("currency"); ?>						
						</div>		
					</div>
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social_icon')->toHtml(); ?>   
				</div>
			</div>
		</div>
	</div>
	<div class="header-middle header-content sticky-header">
		<div class="header panel">
			<div class="flex-layout space-between center_vertical">	
				<div class="logo-container">
					<div class="logo-site">
						<?php echo $this->getChildHtml('logo'); ?>
					</div>
				</div>
				<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
				<div class="primary-menu-container col-left">
					<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
				</div>
				<div class="col-action col-right flex-layout">
					<?php echo $this->getChildHtml("top.links"); ?>
					<ul class="flex-layout action-header">
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
					</ul> 
				</div>
			</div>
		</div>
	</div>
</div>