
// Blog post
//  Variables
//  _____________________________________________
@post_slider_padding: 9rem 0 10rem;
@post_bg_repeat: no-repeat;
@post_bg_postion: center;
@post_bg_size: cover;
& when (@media-common = true) {
	.block-recent-posts,
	.post-bottom .related{
		.block-content{
			.item{
				.product-item{
					.blog-image{
						position: relative;
						overflow: hidden;
					}
					.time-conment{
						color: #999;
					}
					.blog-content{
						padding: 20px 0 0;
						.title{
							margin: 0 0 23px;
							font-size: 1.4285rem;
						}
						.readmore{
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
	.post-list-wrapper{
		margin-bottom: 3rem;
		.blog-post-thumb{
			overflow: hidden;
			a{
				display: block;
				font-size: 0;
				img{
					transition: 0.3s;
					-webkit-transition: 0.3s;
				}
			}
			&:hover{
				img{
					transform: scale(1.1);
					-webkit-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
				}
			}
		}
		.blog-list-post{
			.item-post-full{
				margin-bottom: 4rem;
				.post-title{
					a{
						&:not(:hover){
							color: @heading__color__base;
						}
					}
				}
				.blog-post-info{
					.desc{
						margin: 20px 0;
					}
				}
				&:hover{
					.blog-post-thumb{
						img{
							transform: scale(1.1);
							-webkit-transform: scale(1.1);
							-ms-transform: scale(1.1);
							-o-transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	.sidebar{
		.block-search{
			width: auto;
			padding:0;
			float: none;
			position:static;
			.block-content{
				.control{
					position: relative;
					padding-bottom: 0;
					input{
						border-width: 2px;
						.lib-css(border-radius, @button__border-radius, @_prefix: 1);
					}
				}
			}
		}
		.widget-post-tab{
			.title-post-tab{
				margin-bottom: 30px;
				padding: 0 0 7px;
				position: relative;
				ul li{
					margin: 0;
					a{
					    font-size: 2rem;
					}
				}
				&:before{
					content: "";
					width: 50px;
					height: 2px;
					display: block;
					position: absolute;
					left: 0;
					bottom: -1px;
				}
			}
			.tab-content{
				.fade:not(.show){
					opacity: 1;
				}
				ul{
					
					li{
					    .flex();
					    &:not(:last-child){
					    	margin-bottom: 2rem;
					    	padding-bottom: 2rem;
					    	border-bottom: @border-width__base solid @border-color__base;
					    }
						&:last-child{
							margin-bottom: 0;
						}
						.zoom-image-thumb{
							flex: 0 0 40%;
							max-width: 100px;
						}
						.post-tab-info{
							flex: 1;
							padding-left: 1rem;
							h3{
								font-size: 1.4rem;
								margin-bottom: 10px;
								a{
									line-height: 1.6;
									&:not(:hover){
										color: @heading__color__base;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.post-view{
		.post-title{
			font-size: @h2__font-size;
		}
		.post-category-name{
			color: @heading__color__base;
		}	
		.blog-post-info{
			// .margin_gobal_value();
		}
		.post-header{
			margin-top: @indent__base;
		}
	}
	.section.block-recent-posts{
		.post-list-wrapper {
			margin-bottom: 0;
			.blog-list-post {
				.item-post-full{
					margin-bottom: 0;
				}
			}
		}
	}
	// Post slider have background
	div[class*="block-recent-posts"][style*="background-image"]{
		.lib-css(padding, @post_slider_padding);
		.lib-css(background-repeat, @post_bg_repeat);
		.lib-css(background-position, @post_bg_postion);
		.lib-css(background-size, @post_bg_size);
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.post-list-wrapper{
		margin-bottom: 0;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.post-list-wrapper {
		.blog-post-thumb {
			a {
				img{
					width: 100%;
				}
			}
		}
	}
}