<div class="header-container">
		<div class="header-middle ">
			<div class="container">
				<div class="flex-layout for-full-width-menu space-between center_vertical">
					<div class="logo-container hidden-sticky">
						<div class="logo-site">
							<?php echo $this->getChildHtml('logo'); ?>
						</div>
					</div>
					<div class="col-action col-right flex-layout ">
						<div class="d-none d-md-block"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('bluesky_armania_medical_aboutus')->toHtml(); ?>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	
	<div class="header-bottom sticky-header center-element">
		<div class="header panel">
			<div class="flex-layout space-between center_vertical">
				<?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()){ ?>
					<div class="logo-sticky">
						<a href="<?php echo $block->getUrl('');?>" class="sticky-logo"
						title="<?php echo __('Logo');?>">
							<img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/>
						</a>
					</div>
				<?php } ?>
				
				<div class="primary-menu-container col-left">
					<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>		
				</div>
				<div class="col-action col-right flex-layout center_vertical">
					<div class="hidden-sticky">
					<?php echo $this->getChildHtml("top.links"); ?>
					</div>
					<div class="flex-layout">
						<ul class="flex-layout action-header center_vertical no-wrap-desktop">
							<li><?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?></li>
							<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
							<li class="minicart-li-content-show-hide">
								<?php echo $this->getChildHtml('minicart'); ?>
							</li>
						</ul>
					</div>
					<div class="hidden-sticky"><div class="d-none d-md-block"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('bluesky_armania_medical_contact')->toHtml(); ?></div></div>
				</div>
				

			</div>
		</div>
	</div>
</div>