// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__semibold; 

@otherfont: 'Reingttoon';
// Color 
@theme__color__primary: #88bd43;
// Topbar
@topbarbg: #111111; 
@topbarcolor: @header-icons-color;

// Header
@header__background-color: @color-white;
@header-border-color: #f2f2f2;
@headerpadding: 0;
@sticky_padding: 0;

@header_sticky_bg: @header__background-color;
@header_sticky_border: @header-border-color;
@header-icons-color: #111111;
// Top search
@_search-border-color: #ffd845;
@_search-border-width: 1px;

// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: 500;
@navigation-desktop__font-size: 1.4rem;
@navigation-desktop-level0-item__active__color: @navigation-desktop-level0-item__color;
@navigation-desktop-level0-item__hover__color: @navigation-desktop-level0-item__color;
//Level 0
@navigation-desktop-level0-item__color: @header-icons-color;
@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: capitalize;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: 500;
@navigation-level0-item__hover__color: @navigation-desktop-level0-item__color;
@navigation-level0-item__active__color: @navigation-desktop-level0-item__color;

// Level 1
@level1_color: @heading__color__base;

/* footer */
@footer-title-color: #fefdfb;
@footer-title-font-size: 1.6rem;
@footer-title-font-weight: @font-weight__semibold;
@footer-title-transform: uppercase;
@footer__background-color: false;
@footercolor: #d6d6d6;
@footer-border-color: fade(@color-white, 25%);
@footer_bottom_color: @footercolor;
@social_link_bg: fade(@color-white, 40%);

@border-color__base: #ebebeb;

//Module variables
//Title
@module_margin_bottom: 2.2rem;
@module_title-size: 5rem;
@module_title-text-transform: false;
@module_title_text-align: center;

@margin_gobal_value: 7rem;
// Product
@price_color: #222;
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: #f3b65a;
@sale_label_color: @color-white;

@new_label_bg: #80c2e8;
@new_label_color: @color-white;

@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;


//Button variable
@button__border-radius: false; 
@button__color: @color-white;
@button__padding: 12.5px 40px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @color-white;
@button__hover__background: @theme__color__primary;

@_border-radius_base: @button__border-radius;

// page
//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: false;
@form-element-input__height: 47px;
// Module Search


@timeline-loading-item_bg: #ccc;
// Slider heading
@slider_h2_font-size-xxl: 110px;
@slider_h2_font-size-xl: 95px;
@slider_h2_font-size-l: 75px;
@slider_h2_font-size-s: 45px;
@slider_h2_font-size-xs: 34px;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: false;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.7;
@slider_h2_font-weight: 500;

@slider_h5_font-size-xxl: 16px;
@slider_h5_font-size-xl: 16px;
@slider_h5_font-size-l: 15px;
@slider_h5_font-size-s: 15px;
@slider_h5_font-size-xs: 14px;
@slider_h5_font-weight: @font-weight__semibold;
@slider_h5_text-transform: uppercase;
@slider_h5_margin: 10px;
@slider_h5_letter-spacing: 4px;

@slider_p_font-size-xxl: 16px;
@slider_p_font-size-xl: 16px;
@slider_p_font-size-l: 16px;
@slider_p_font-size-s: 15px;
@slider_p_font-size-xs: 14px;
@slider_p_margin: 0;

@slider_button_margin-top: 45px;


// Module Category thumb
//  Variables
//  _____________________________________________
@category-name-size: 20px;
@category-name-color: #111;
@category-name-text-transform: capitalize;

@category-name-font-weight: @font-weight__semibold;
@line-height_category_name: 1;


@category-count-size: 14px;
@category-count-font-style: false;
@category-count-font-family: @heading__font-family__base;
// Products count
@category-count-font-style: normal;
@category-count-display: block;
// Vertical thumb image
@img_category_thumb-radius: 50%;
@category_name-padding: 3rem;
@category_name_position: false;

@background-category-thumb: false;
@padding-category-thumb: false;
@category-bg-padding: 7rem 0 0;


// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: false;
@banner_moible-padding: false;
@deal_number_width: 7rem;
@deal_number_color: #111;
@deal-countdonw-margin: 4.2rem;

@banner_deal_number-font-family: @font-family__base;
@banner_deal_number-font-weight: @font-weight__bold;

@deal-title-margin: 3.5rem;

@title_supper_deal_margin: 0 0 7px;

@banner_deal_number-size: 2.4rem;
@banner_deal_number-size-mobile: 2rem;
@banner_deal_number-bg: #edf5e3;
@banner_deal_number-border-radius: 50%;

@sub_title_supper_deal-font-size: 1.6rem;
@sub_title_supper_deal-color: #888888;
@sub-title_supper_deal_font-weight: @font-weight__semibold;
@sub-title_supper_deal_letter-spacing: 3px;
@sub-title_supper_deal_margin: 0 0 6px;
// Title
@title_supper_deal_size: 5rem;
@title_supper_deal_mobile_size: 4.2rem;
@sub-title_supper_deal_margin: 10px;

// Category tab
@tabcolor: @header-icons-color;
@tabactive: @theme__color__primary;

@products-tab-text-align: center;
@products-tab-name-size: 1.4rem;

@category-tab-text-align: center;
@category-tab-name-size:  1.4rem;
//  _____________________________________________
.icon_header(){
 .lib-font-size(28);
  line-height: 3rem;
  position: relative; 
};
// Gobal style
& when (@media-common = true){
	body{
		#newsletter_pop_up {
			.newletter_popup_close{
				border-radius: 50%;
				border: 2px solid @color-white;
			    border-radius: 50%;
			    top: -30px;
			    right: -30px;
			    box-sizing: content-box;
			}
			.col-newsletter-popup .content-popup .control input{
				padding-left: 3rem;
			}
		}
	}
	.product-item {
		.product-label{
			.lib-font-size(13);
			font-family: @font-family__base;
		}
	}
	// Menu
	.icon-menu{
		.navigation.custommenu li.level0 {
			margin: 0;
			&.active,
			&:hover{
				> .level-top{
					background: @theme__color__primary;
					color: @color-white;
				}
			}
			> .level-top{
				@media only screen and (min-width: @screen__l) {
					padding: 0 2.5rem;
				}
				@media only screen and (max-width: 1366px) {
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}
				.transition();
			}
		}
	}
	.cms-index-index{
		.page-main{
			.rokan-title{
				.flex();
				flex-direction: column-reverse;
				.module-title{
					.lib-css(font-family, @otherfont);
					font-weight: 500;
				}
				.rokan-description,
				.short_description,
				.short-des{
					text-transform: uppercase;
					color: @theme__color__primary;
					letter-spacing: 2px;
					font-family: @heading__font-family__base;
					font-weight: @heading__font-weight__base;
					margin-bottom: 1rem;
				}
				p{
					&.short-des{
						margin-bottom: 2.4rem;
					}
				}
			}
		}
	}
	.banner,
	.wrapper-the-blue-sky-slider{
		h2, h3{
			.lib-css(font-family, @otherfont);
			font-weight: 500;

		}
		p{
			font-family: @heading__font-family__base;
		}
	}
	.shipping-support{
		padding: 2rem 1.5rem;
		background: #faf3e9;
	}
	.banner {
		.banner-img {
			img{
				width: 100%;
			}
		}
		.col-banner{
			&.center.right {
				.content{
					padding-right: 4rem;
					p{
						margin-top: 2rem;
					}
				}
			}
		}
	}
	.wrapper_category_product_tabs, 
	.wrapper_product_tabs {
		.ui-tabs-nav {
			white-space: nowrap;
   			overflow-y: hidden;
			li {
				a{
					.lib-css(font-family, @heading__font-family__base);
					font-weight: 600;
				}
			}
		}
	}
	.wrapper_category_product_tabs{
		.ui-tabs-nav {
			li {
				a{
					.category-thumbs{
						display: block;
					}
				}
				&:not(:first-child){
					padding-right: 3rem !important;
				}
				&:not(:last-child){
					padding-left: 3rem !important;
				}
			}
		}
	}
	.wrapper_product_tabs {
		background: #f7f4f0;
		@box-shadow: 1000px 0 #f7f4f0, -1000px 0 #f7f4f0;
   		.lib-css(box-shadow, @box-shadow, @_prefix: 1);
   		padding: 6.8rem 0;
   		@media only screen and (max-width: (@screen__l - 1)) {
   			@box-shadow: 100px 0 #f7f4f0, -100px 0 #f7f4f0;
   			.lib-css(box-shadow, @box-shadow, @_prefix: 1);
   		}
		.ui-tabs-nav {
			li {
				padding: 0 !important;
				&:not(:last-child){
					a{
						span{
							padding-right: 3rem;
   							margin-right: 2.5rem;
							border-right: 1px solid @tabcolor;
						}
					}
				}
			}
		}
		.products-grid{
			.product-items{
				.product-item{
					border: 0;
				}
			}
		}
	}
	.super-deal-banner {
		.lib-css(margin-bottom, @margin_gobal_value);
		.super-deal-banner-content {
			.supper-deal-title{
				.sub-title-deal{
					text-transform: uppercase;
					margin-bottom: 1.5rem;
				}
				.title-deal{
					.lib-css(font-family, @otherfont);
					font-weight: 500;
					line-height: 1.3;
				}
			}
			.super-deal-countdown {
				.time_circles {
					> div:not(:last-child){
						margin-right: 5rem;
						@media only screen and (max-width: (@screen__l - 1)) {
						 	margin-right: 3%;
						}
					}
					.number{
						.lib-css(font-family, @heading__font-family__base);
					}
				}
			}
		}
	}
	.thumb-category{
		position: relative;
		> img{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 25%; 
		}
	}
	.wrapper_sub_category_tabs.onlyparent {
		.rokan-title{
			margin-bottom: 6rem;
		}  
		.category-thumb-section{
			padding: 0 @layout-indent__width;
			max-width: @layout__max-width;
			margin: 0 auto;
			@media (min-width: @screen__s){
				width: 95%;
			}
		}
		&:after{
			content: '';
			background: @color-white;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 25%;
		}
		&:hover{
			.owl-stage-outer{
				.owl-stage{
					.owl-item{
						    animation-play-state: paused;
					}
				}
			}
		}
		.list-category-item {
			.category-item {
				a {
					overflow: visible;
					img{
						border: 7px solid @color-white;
					}
					.cate-name.cate-count{
						line-height: 1.3;
						.count{
							margin-top: 0.5rem;
							color: @theme__color__primary;
						}
					}
					&:hover{
						img{
							@transform: scale(1);
							.lib-css(transform, @transform, @_prefix: 1);
						}
					}
				}
			}
		}
		.owl-stage-outer{
			overflow: visible;
			.owl-stage{
				.owl-item{
					&:nth-child(2n){
						@animation: ovic-animation-wave-up 5s cubic-bezier(.42,0,.5,1) infinite;
						.lib-css(animation, @animation, @_prefix: 1);
						padding-top: 7rem;
					}
					&:nth-of-type(2n+1){
					   @animation: ovic-animation-wave-down 5s cubic-bezier(0.42, 0, 0.5, 1) infinite;
					   .lib-css(animation, @animation, @_prefix: 1);
					}
				}
			}
		}
	}
	.checkout-index-index .nav-sections{
		display: block;
	}
}
& when (@media-common = true) {
    .modal-custom,
    .modal-popup,
    .modal-slide {
        .action-close {
            .lib-button-icon(
                @icon-remove,
                @_icon-font-color: @heading__color__base,
            );
        }
    }
}
// Header
& when (@media-common = true){
	.header-container {
		.header-top{
			border-bottom: 1px solid @header-border-color;
			padding: 2rem 0;
			.header-inner{
				> .flex-layout{
					> div{
						&:not(.logo-container){
							flex: 1;
						}
						&.col-right{
							justify-content: flex-end;
						}
					}
				}
			}
		}
		.for-full-width-menu{
			flex-wrap: nowrap;
			.col-menu{
				max-width: 80%;
			}
		}
		.header.links{
			li{
				&.authorization-link {
					a:before{
						display: none;
					}
				}
			}
		}
		.container-setting-language-currency {
			.switcher{
				padding: 0 10px;
				&:last-child{
					padding-right: 1rem;
					margin-right: 1.5rem;
					border-right: 1px solid @border-color__base;
				}
			}
		}
		.block.block-search {
			margin-right: 2rem;
			line-height: 1;
			position: static;
			.dropdown {
				.form.minisearch{
					right: 0;
					left: auto;
    				min-width: 30vw;
				}
				.top-search{
					.text{
						display: none;
					}
				}
				.main-icon-search{
					.icon_header();
					color: @header-icons-color;
					.lib-font-size(24);
					@media only screen and (max-width: (@screen__s - 1)){
						.lib-font-size(22);
					}
				}
			}
		}
		.header-content{
			.col-action {
				li,
				.minicart-wrapper  .action.showcart{
					.counter.qty{
						color: @color-white;
						position: relative;
					    vertical-align: bottom;
					    top: -2px;
					    margin-left: 2px;
					}
				}
				.minicart-wrapper {
					margin: 0;
				}
				.action-header > li {
					.minicart-wrapper > a{
						padding-right: 0;
						&:before{
							.lib-font-size(26);
						}
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		&:not(.sticky){
			.header-content{
				.col-action {
					.action-header > li {
						margin: 0 1rem;
						&.wishlist{
							margin-right: 0.6rem;
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-container{
		&:not(.sticky){
			.col-menu{
				padding: 0 2rem;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.header-top {
			.header-inner {
				> .flex-layout {
					.col-menu-on-left{
						order: 2;
						flex: unset;
					}
					.col-right{
						order: 3;
					}
				}
			}
			.header.links{
				font-size: 0;
				li{
					padding: 0;
					&.authorization-link {
						a:before{
							display: block;
							.lib-font-size(16);
						}
					}
					&:last-child{
						padding-left: 0;
					}
				}
			}
			.container-setting-language-currency {
				.switcher{	
					padding: 0 5px;
					&:last-child{
						padding-right: 5px;
					}
				}
			}
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container .header-top {
		.header-inner {
			> .flex-layout {
				justify-content: center;
				.col-right{
					display: none;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		.header-top {
			padding-bottom: 1rem !important;
			.header-inner {
				> .flex-layout {
					.logo-container{
						flex: 0 0 100%;
						order: 1;
						margin-bottom: 1rem;
						.logo-site{
							margin: auto;
						}
					}
					> div.col-right{
						justify-content: space-between !important;
						.container-setting-language-currency .switcher:last-child{
							border-right: 0 !important;
						}
					}
				}
			}
		}
	}
}
// Footer
& when (@media-common = true){
	.page-footer {
		.footer.content {
			.square-social {
				.social-link {
					a{
						border-radius: 50%;
						&:not(:last-child){
							padding-right: 1rem;
						}
						&:not(:first-child){
							padding-left: 1rem;
						}
					}
				}
			}
			.footer-newsletter{
				.lib-css(border-bottom, 1px solid @footer-border-color);
				@media only screen and (max-width: (@screen__s - 1)) {
				 	padding-bottom: 3rem;
				 	.rokan-title{
				 		width: 100%;
				 	}
		        	.block-newsletter-form{
		        		max-width: 100%;
		        		flex: 0 0 100%;
		        	}
		        }
			}
		    .block-newsletter-form{
		        margin: 0;
		        padding: 3.4rem 0 2.9rem;
		        flex: 1;
		        max-width: 75%;

		        .container{
		        	width: 100% !important;
		        	padding: 0;
		        }
		        .newsletter-form{
		            .flex();
		            float: none !important;
		            justify-content: space-between;
		            align-items: center;
		            margin-bottom: 0;
		            .rokan-title{
		                margin-bottom: 0;
		                &:before{
		                	.icon_custom_font( "\e937");
		                   	font-size: 5.7rem;
		                   	line-height: 1;
		                   	@media only screen and (max-width : (@screen__s - 1)){
		                        font-size: 4rem;
		                        margin-bottom: 1rem;
		                        display: block;
		                    }
		                }
		                .module-title{
		                    color: @color-white;
		                    margin-bottom: 5px;
		                    font-size: 3rem;
		                }
		                @media only screen and (min-width: @screen__s ) {
						 	padding-left: 8.5rem;
						 	text-align: left;
						 	&:before{
			                   	position: absolute;
			                   	left: 0;
			                   	top: 0;
			                }
				        }
		            }
		            .content{
		                @media only screen and (max-width: (@screen__s - 1)){
		                    width: 100%;
		                }
		                .control{
		                    position: relative;
		                    @media only screen and (max-width: (@screen__s - 1)){
		                        max-width: 100%;
		                    }
		                    .input-focus{
		                        @media only screen and (max-width: (@screen__s - 1)){
		                            width: 100%;
		                        }
		                        input{
		                            @media only screen and (max-width: (@screen__s - 1)){
		                                width: 100%;
		                            }
		                            width: 430px;
		                            max-width: 100%;
		                            padding-top: 5px;
		                            padding-left: 0;
		                            background: transparent;
		                            border: none;
		                            border-bottom: 1px solid @color-white;
		                            color: @color-white;
		                        }
		                    }
		                    .actions{
		                        position: absolute;
		                        right: 0;
		                        button.subscribe{
		                            background: transparent;
		                            padding-right: 0;
		                        }
		                    }
		                }
		            }
		        }
		    }
		}
		.footer-top {
			> .footer.content{
				padding-top: 6rem;
			}
		}
		.footer-static_link {
			.footer-title{
				margin-top: 0;
			}
			.footer-links {
				&.not-collapse-mobile{
					img{
						margin-bottom: 2rem;
					}
					ul{
						margin-top: 0;
						p{
							margin-bottom: 0;
							
						}
						> li{
							&:first-child{
								p{
									color: @theme__color__primary;
								}
							}
							&:not(:first-child){
								p{
									line-height: 2;
								}
							}
						}
					}
					.footer-contents{
						margin-top: 2rem;
					    margin-bottom: 0;
					    line-height: 1;
					}
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
			}
			.product-item{
				margin: 0 0 40px 0;
				border: 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-name{
					text-align: left;
				}
				.product-item-photo {
					line-height:1;
				}
				.product-item-info {
					border: 1px solid @border-color__base;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding: 1rem 0 0;
						border-top: 1px solid #f2f2f2;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						
						.product-item-name,
						.price-box{
							display: inline-flex;
						}
						.price-box{
							*{
								font-weight: @font-weight__bold;
								.lib-font-size(15);
							}
							.special-price{
								margin-right: 0;
							}
							.old-price{
								color: #c2c2c2;
								.price{
									color: #c2c2c2;
								}
							}
						}
						.product-item-actions {
							position: absolute;
							right: 0;
							left: 0;
							bottom: calc(~'100% + 3rem');
							text-align: center;
							z-index: 1;
							.flex();
							align-items: center;
							justify-content: center;
						}
						@media only screen and (min-width: @screen__xs){
							.product-item-name,
							.product-reviews-summary{
								max-width: 70%;
								padding-right: 1rem;
								text-align: left;
							}
							.price-box{
								position: absolute;
								top: 1rem;
								right: 0;
								flex-direction: column;
							}
						}
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: inline-flex;
						.flex-center();
						margin: 0 5px;
						&:before{
							color: @heading__color__base;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: inline-flex;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon-font("\f06e");
									font-size: 1.4rem;
								}
							}
							&.towishlist{
								&:before{
									.icon-font("\f004");
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.field.choice.related{
						@animation: zoomIn 500ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.tocompare{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
						.link-quickview{
							@animation: zoomIn 500ms ease-in-out;
							.lib-css(animation, @animation, @_prefix: 1);
						}
					}
				}
			}	
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{

				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
	.products-grid .product-item{
		width: 100%;
	}
}
// Blog
& when (@media-common = true) {
	.cms-index-index{
		.post-list-wrapper{
			.blog-list-post{
				display: grid;
   				justify-content: space-between;
   				.item-post-full{
   					.blog-post-info{
   						flex: 1;
   						.post-title{
   							line-height: 1.4;
   							margin-bottom: 0.5rem;
   						}
   						.post-category-name{
   							position: static;
   							transform: none;
   							background: transparent;
   							border: 1px solid @theme__color__primary;
   							text-transform: uppercase;
   							font-weight: @font-weight__bold;
   							    padding: 0 0.8rem;
   							a{
   								color: @heading__color__base;
   							}
   							
   						}
   						.flex-layout{
   							font-size: 1.3rem;
   						}
   					}
   					&:nth-of-type(5){
   						display: none !important;
   					}
   				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.cms-index-index{
		.post-list-wrapper{
			.blog-list-post{
				display: grid;
   				grid-template-columns: 48.6% 46.5%;
   				justify-content: space-between;
   				.item-post-full{
   					&:not(:first-child){
   						.flex();
   						flex-direction: row-reverse;
   						
   						.blog-post-thumb{
   							max-width: 237px;
   							margin-left: 1.5rem;
   							overflow: hidden;
   						}
   						.blog-post-info{
	   						border: 0;
	   						padding: 0;
	   						.post-title{
	   							font-size: 1.6rem;
	   						}
	   					}
	   					&:not(:last-child){
	   						border-bottom: 1px solid  @border-color__base;
	   						margin-bottom: 25px;
	    					padding-bottom: 25px;
	   					}
   					}
   					&:first-child{
   						grid-row: ~'1/5';
   						border: 1px solid @border-color__base;
   						.blog-post-info{
   							padding-left: 0;
   							padding-right: 0;
   							text-align: center;
   							max-width: 88%;
   							border: 0;
   							margin: -3rem auto 0;
   						}
   						.flex-layout{
   							justify-content: center;
   						}
   					}
   					&:nth-of-type(4){
   						margin-bottom: 0 !important;
   					}
   				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.cms-index-index .post-list-wrapper .blog-list-post{
	    grid-template-columns: repeat(2, calc(~'50% - 15px'));
	    grid-gap: 3rem;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.cms-index-index .post-list-wrapper .blog-list-post{
	    grid-template-columns: repeat(5, 100%);
	    overflow: auto;
	    grid-column-gap: 3rem;
	}
	.header-container.sticky .header-top .header-inner > .flex-layout .logo-container{
		display: none;
	}
}
@keyframes ovic-animation-wave-down{
	0%{
		@transform:translateY(0);
		.lib-css(transform, @transform, @_prefix: 1);
	}
	50%{
		@transform:translateY(70px);
		.lib-css(transform, @transform, @_prefix: 1);
	}
	100%{
		@transform:translateY(0);
		.lib-css(transform, @transform, @_prefix: 1);
	}
}
@keyframes ovic-animation-wave-up{
	0%{
		@transform:translateY(0);
		.lib-css(transform, @transform, @_prefix: 1);
	}
	50%{
		@transform:translateY(-70px);
		.lib-css(transform, @transform, @_prefix: 1);
	}
	100%{
		@transform:translateY(0);
		.lib-css(transform, @transform, @_prefix: 1);
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block.block-search .dropdown .form.minisearch .search-form{
		min-width: 350px !important;
	}
}