// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables
@page__background-color: #fff;
@margin_gobal_value: 7.5rem;
@background-banner: #faf1eb;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold;
@font-family-name__base: 'Open Sans'; 
// Color
@theme__color__primary: #d09264;
@color__table__product: #b7b7b7;

// Topbar
@topbarbg: #111111;
@topbarcolor: @color-white;

// Header
@header__background-color: @color-white;
@header-border-color: #ebebeb;

@header_sticky_bg: @header__background-color;

@navigation-desktop-level0-item__color: #333333;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 2px;

// Navigation
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.6rem;

//Level 0
@navigation-desktop-level0-item__color: #333333;

@navigation-level0-item__text-transform: capitalize;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: @font-weight__bold;

// Level 1
@level1_color: #222222;
@bg__newletter: #0d0d0d;
/* footer */
@footer-title-color: #cf9163;
@footer-title-font-size: 1.9rem;
@footer-title-font-weight: bold;
@footer-title-transform: capitalize;
@footer__background-color: #303030;
@footercolor: @greycolor;
@footer-border-color: #4b4b4b;
@footer_bottom_color: @greycolor;

@social_link_bg: #262626;
@date__month: #222222;
//Module variables
@module_margin_bottom: 3rem;
@module_title-size: 3rem;

@sale_label_bg: @theme__color__primary;
@second_button_color: @color-white;
@sale_label_color: @color-white;

// Product
@product-name-link__color: #222;

// Button
@second_button_bg: @theme__color__primary;
@color_button_banner: #222222;
@second_button_color: @color-white;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;
//Button variable
@button__border-radius: 0;
@button__color: @color-white;
@button__hover__color: @color-white;
//  Input in form
//  ---------------------------------------------

// Vertical thumb image

@category_name_position: relative;
// Supper deal module

.icon_header() {
    font-size: 2.6rem;
    line-height: 3rem;
    position: relative;
}

@slider_h2_font-size-xxl: 220px;
@slider_h2_font-size-xl: 200px;
@slider_h2_font-size-l: 150px;
@slider_h2_font-size-s: 130px;
@slider_h2_font-size-xs: 80px;
@slider_h2_text-transform: capitalize;
@slider_h2_font-weight: 300;
@slider_p_font-size-xxl: 18px;
@slider_button_font-size-xl: 15px;
@slider_button_bg: #fff;


// dots banner
@nivo-controlNav-border-radius: 100%;
@nivo-controlNav-bg: #ffffff;
@nivo-controlNav-width: 8px;
@nivo-controlNav-height: 8px;
@nivo-controlNav-postion: right;

@banner__title_font: 'Brush Script MT', sans-serif;
// Change gobal style
// Header
& when (@media-common = true){
    .header-container {
        .topbar {
            .topbar-inner {
                justify-content: center;
                padding: 10px;
                font-size: 1.3rem;
                text-transform: uppercase;
            }
        }
        .header.sticky-header{
            padding: 25px 0;
            .header.panel{
                max-width: 1610px;
                margin: 0 auto;
                position: relative;
                @media only screen and (min-width: @screen__l){
                    padding: 0;
                }
            }
            .col-action{
                li {
                    .counter.qty{
                        top: 5px;
                        left: auto;
                        right: 0;
                    }
                }
                .action-header{
                    li{
                        &.search,
                        &.header-link-action{
                            margin: 0;
                        }
                    }
                }
                .minicart-li-content-show-hide{
                    margin-left: 0.5rem;
                }
                .minicart-wrapper{
                    margin-left: 0;
                    .action.showcart{
                        .counter.qty{
                            top: 5px;
                            left: auto;
                            right: 0;
                        }
                    }
                }
                .action-header{
                    align-items: center;
                    .header.links{
                        li{
                            padding-right: 0;
                            line-height: 0.8;
                            overflow: hidden;
                            border: 2px solid transparent;
                            background: transparent;
                            padding-left: 0;
                            border-radius: 100%;
                            margin-left: 1.5rem;
                            width: 32px;
                            a{
                                font-size: 0;
                                &::before{
                                    content: "\e908";
                                    font-family: main-icon, sans-serif;
                                    font-size: 2.4rem;
                                    border: 2px solid;
                                    border-radius: 100%;
                                    display: inline-block;
                                    padding-top: 5px;
                                }
                            }
                        }
                    }
                    .block-search{
                        line-height: 1;
                        .main-icon-search{
                            font-size: 2.5rem;
                            &::before{
                                color: @level1_color;
                            }
                        }
                    }
                    .block-search{
                        position: static;
                        .dropdown {
                            .top-search{
                                .text{
                                    display: none;
                                }
                            }
                            .form.minisearch{
                                left: auto;
                                right: 0;
                                transform: translateY(50%);
                            }
                        }
                    }
                    .link.wishlist{
                        margin-right: 0.3rem;
                        a{
                            &::before{
                                font-size: 2.8rem;
                            }
                        }
                    }
                }
            }
        }
        .primary-menu-container {
            ul {
                li {
                    .level0.submenu {
                        .subchildmenu {
                            .ui-menu-item {
                                .subchildmenu {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.sticky{
            .logo-container{
                @media only screen and(max-width: (@screen__s - 1)){
                    display: none;
                }
            }
            .sticky-header{
                padding: 1rem 1.5rem;
                .col-action{
                    .action-header{
                        .block-search{
                            .dropdown {
                                .form.minisearch{
                                    transform: translateY(22%);
                                }
                            }
                        }
                    }
                }
            }
            .action-sticky {
                .action-header > li{
                    margin: 0 1.5rem;
                }
            }
            .primary-menu-container{
                right: 0;
            }
            .header.sticky-header{
                .header.panel{
                    padding: 0;
                }
            }
        }
    }
    .header-container .col-action .action-header > li .search-form a{
        padding-right: 0;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .header-container .primary-menu-container{
        padding: 0 1.5rem;
    }
}

& when (@media-common = true){
    .header-container .col-action .minicart-wrapper .action.showcart .counter.qty, .header-container .col-action li .counter.qty{
        right: auto;
        left: 100%;
        color: @color-white;
        min-width: 2.2rem;
        min-height: 2.2rem;
    }
    .block-widget-rokanthemes-brand .item-row-slider-brand .brand-item:not(:last-of-type){
        margin-bottom: 5.1rem;
    }
    body .show-product-mode-grid .product-item .product-item-info .product-item-details, body .products-grid .product-item .product-item-info .product-item-details, body .grid .product-item .product-item-info .product-item-details{
        position: static;
    }
    .header-container .col-action .action-header > li a{
        padding-right: 25px;
    }
    .products-grid .product-items:not(.owl-carousel) {
        border: none;
    }
    .products-grid .product-items.owl-carousel .owl-stage-outer{
        border-left: none;
    }
    .header-container .header.links li:not(:hover) a{
        color: #333333;
    }
}

// slider
& when (@media-common = true){
    .wrapper-the-blue-sky-slider{
        margin-bottom: 0;
        @media only screen and(min-width : (@screen__xl + 1)){
        width: 1610px;
        margin: 0 auto;
        }
        .container-the-blue-sky-slider{
            position: relative;
            h2{
                font-family: @banner__title_font;
                text-shadow: 7px 0 12px rgba(0, 0, 0, 0.16);
                
            }
            p.text-absolute{
                position: absolute;
                text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
                @media only screen and (max-width: (@screen__l - 1)){
                    top: 20%!important;
                    width: 100%;
                    left: auto!important;
                }
            }
            p.text-absolute-1{
                left: 42%;
                top: 39.5%;
            }
            p.text-absolute-2{
                left: 42%;
                top: 35%;
            }
            p.text-absolute-3{
                top: 36%;
                left: 42%;
            }
        }
        .nivo-controlNav{
            .flex();
            flex-direction: column;
            align-items: flex-end;
            top: 50%;
            right: 98px;
            left: auto;
            max-width: 15px!important;
            padding: 0;
            @media only screen and (max-width : (@screen__xl)){
                right: 8%;
                top: 30%;
            }
        }
        .nivo-controlNav:not(.nivo-thumbs-enabled) {
            .nivo-control{
                margin: 12px 0;
                &.active{
                    background-color: transparent;
                    border: 2px solid @nivo-controlNav-bg;
                    width: 12px;
                    height: 12px;
                    margin: 12px -2px;
                }
            }
        }
    }
}

& when (@media-common = true){
    .top-page{
        background: linear-gradient(to top, @background-banner 64%, @color-white 36%) no-repeat ;
        .section.wrapper_sub_category_tabs{
            max-width: 1015px;
            margin-left: auto;
            margin-right: auto;
            padding: 4rem 0 3.5rem 0;
            a.vertical{
                max-width: 130px;
                margin: 0 auto;
                background: transparent;
                .flex();
                flex-direction: column;
                align-items: center;
                span.before-icon{
                    background: transparent;
                    img{
                        padding: 20px 0;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        width: 112px;
                        height: 112px;
                        background-color: @color-white;
                        border-radius: 100%;
                        z-index: -1;
                        top: 8px;
                        left: 8px;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: 128px;
                        height: 128px;
                        background-color: transparent;
                        border-radius: 100%;
                        border: 2px solid @color-white;
                        top: 0;
                        left: 0;
                    }
                }
                .thumb-infor{
                    margin-top: 25px;
                }
            }
        }
    }
    .full-width.shipping{
        background-color: @background-banner;
        padding: 11rem 0 10.5rem;
        .shipping-support{
            .col-content{
                border-right: 1px solid #d2cac5;
                .flex();
                justify-content: center;
                @media only screen and (min-width: @screen__m) and (max-width: @screen__l){
                   flex: 0 0 25%;
                   display: block;
                   text-align: center;
                }
                @media only screen and (max-width: @screen__m){
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: 4rem;
                }
                @media only screen and (max-width: (@screen__xs - 1)){
                    flex: 0 0 100%;
                    max-width: 100%;
                    justify-content: end!important;
                }
                &:last-child{
                    border: none;
                    justify-content: flex-end;
                    @media only screen and (max-width: @screen__m){
                        justify-content: center;
                    }
                    @media only screen and (max-width: (@screen__xs - 1)){
                       margin-bottom: 0;
                    }
                }
                &:nth-child(2){
                    @media only screen and (max-width: @screen__m){
                        border: none;
                    }
                }
                &:first-child{
                    justify-content: end;
                    @media only screen and (max-width: @screen__m){
                        justify-content: center;
                    }
                }
                em{
                    &::before{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
    .block-recent-posts{
        margin-bottom: 0;
        .rokan-title{
            text-align: center;
            .module-title{
                font-size: 2.2rem;
                position: relative;
                font-weight: 600;
                &::after{
                    content: url(../images/affter-brand.png);
                    display: block;
                    bottom: 0;
                }
            }
        }
        .post-list-wrapper {
            .blog-post-info{
                border: none;
                padding: 3rem 0;
                .time-conment{
                    color: @theme__color__primary;
                }
            }
        }
    }
}


//Category tab

& when (@media-common = true){
    .wrapper_sub_category_tabs.onlyparent{
        .owl-carousel {
            .item-row{
                div{
                    padding: 0;
                    overflow: hidden;
                    a.vertical{
                        padding: 2rem 0;
                        position: relative;
                        img + .thumb-infor{
                            padding: 2rem 0;
                        }
                        span{
                            font-size: 18px;
                            font-weight: 600;
                        }
                       &:not(:hover){
                           span{
                               color: @heading__color__base;
                           }
                       }
                    }
                }
            }
        }
    }
}
// main content

& when (@media-common = true){
   body{
       .banner-top{
           position: relative;
           overflow: hidden;
           line-height: 0;
           @media only screen and (max-width: @screen__m){
               margin-bottom: 30px;
               img{
                   width: 100%;
               }
           }
           img{
                @transition: all 0.5s ease;
                .lib-css(transition, @transition, @_prefix: 1);
           }
           &:hover{
            img{
                @transform: scale(1.1);
                .lib-css(transform, @transform, @_prefix: 1);
                }
           }
           .content-text{
               position: absolute;
               width: 100%;
               text-align: center;
               bottom: 50px;
               color: @color-white;
               h2.title{
                   font-family: @banner__title_font;
                   font-size: 10rem;
                   color: @color-white;
                   font-weight: 300;
                   margin-bottom: 0;
                   line-height: 1;
                   @media only screen and (max-width: (@screen__s - 1)){
                       font-size: 8rem;
                   }
               }
               .sub-title{
                   font-size: 1.8rem;
                   line-height: 1;
               }
               a.btn{
                   text-transform: capitalize;
                   background-color: @color-white;
                   color: @color_button_banner;
                   margin-top: 0.7rem;
                   &:hover{
                       color: @color-white;
                       background-color: @color_button_banner;
                   }
               }
           }
       }
       .products-grid {
            .product-items.owl-carousel{
                .owl-stage-outer .first-active-item:before{
                   display: none;
                }
                .product-item {
                    .product-item-info{
                        padding-top: 0;
                        .product-reviews-summar{
                            .reviews-actions{
                                .action.view{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
       }
       .title-none{
          padding: 0;
           .rokan-title{
               display: none;
           }
           .products-grid{
               margin-top: 0;
               .products{
                   margin-top: 0;
               }
           }
       }
       .block-widget-rokanthemes-brand{
           .rokan-title{
               text-align: center;
               .module-title{
                   font-size: 2.2rem;
                   position: relative;
                   font-weight: 600;
                   &::after{
                        content: url(../images/affter-brand.png);
                        display: block;
                   }
               }
           }
           .block-content{
               .brand-item{
                   .brand-image{
                       img{
                           opacity: 0.5;
                       }
                       &:hover{
                           img{
                               opacity: 1;
                           }
                       }
                   }
               }
           }
       }
       .main-page{
           .margin-11{
               margin-bottom: -11px;
           }
           .flex-reverse{
               @media only screen and (max-width: (@screen__m - 1)){
                   flex-direction: column-reverse;
               }
           }
           .section.full-width.brand{
                background: @background-banner;
                padding: 110px 0;
                @media only screen and(max-width: (@screen__l)){
                    padding: 70px 0;
                }
                .new-products{
                    max-width: 1410px;
                    margin: 0 auto;
                    .block-widget-rokanthemes-brand.section{
                        margin: 0;
                    }
                }
           }
       }
   }
}
// Product tab
& when (@media-common = true){
    .product.attribute.overview, .product-item-description{
        ul{
            list-style: none;
            padding: 0;
        }
        table{
            tbody{
                tr{
                    th{
                        p{
                            margin: 0;
                        }
                    }
                    td{
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .cms-index-index{
        .products-grid{
            margin: 0;
        }
    }
    body{
        .products-grid {
            margin-bottom: 0;
            margin-left: -15px;
            margin-right: -15px;
            .product-items {
                margin-bottom: 0;
                .product-item{
                    border: none;
                    margin-top: 0;
                    @media only screen and (max-width: (@screen__xs - 1)){
                        margin-bottom: 4rem;
                    }
                    &:hover{
                        .product-item-info{
                            &::before{
                                box-shadow: none;
                            }
                            .product-item-details{
                                .product-reviews-summary{
                                    visibility: hidden;
                                    @media only screen and (max-width: (@screen__xs - 1)){
                                        visibility: visible;
                                    }
                                }
                                .product-item-actions{
                                    .actions-secondary{
                                        right: 3.52rem!important;
                                        &::after{
                                            height: 0;
                                        }
                                    }
                                    .actions-primary{
                                        @transform: translateY(-45px);
                                        .lib-css(transform, @transform, @_prefix: 1);
                                        right: 2rem;
                                        @media only screen and (max-width: (@screen__l - 1)){
                                            @transform: translateY(-30px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                        @media only screen and (max-width: @screen__s){
                                            @transform: translateY(-40px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                        @media only screen and (max-width: (@screen__xs - 1)){
                                            @transform: translateY(-30px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-item-photo{
                        line-height: 0;
                    }
                    .product-item-info{
                        padding: 0.5rem 1.5rem 2.5rem;
                        @media only screen and (max-width: (@screen__l - 1)){
                            padding: 0.5rem 1.5rem 1rem;
                        }
                        &::before{
                            display: none;
                        }
                        .product-item-details{
                            margin-top: 1.5rem;
                            .product-reviews-summary{
                                display: inline-flex;
                                float: right;
                                height: 25px;
                                margin: 0;
                                @media only screen and (max-width: (@screen__xs - 1)){
                                    float: none;
                                }
                                .action.view{
                                    transition: all 0s;
                                    -webkit-transform: all 0s;
                                    -moz-transform: all 0s;
                                }
                            }
                            .product-item-actions{
                                .actions-primary{
                                    .tocart-form{
                                        .action.tocart{
                                            &::before{
                                                content: "\e92e";
                                                font-size: 1.6rem;
                                            }
                                        }
                                    }
                                }
                                .actions-secondary{
                                    top: 2.05rem;
                                    left: auto;
                                    right: -4rem;
                                    bottom: auto;
                                    display: block;
                                    transform: translateY(0);
                                    -webkit-transform: translateY(0);
                                    -moz-transform: translateY(0);
                                    -ms-transform: translateY(0);
                                    background-color: transparent;
                                    -webkit-box-shadow: none;
                                    -moz-box-shadow: none;
                                    -ms-box-shadow: none;
                                    box-shadow: none;
                                    padding: 0;
                                    font-size: 0;
                                    .transition();
                                    .action.towishlist{
                                        margin-bottom: 1rem;
                                        a{
                                            &::before{
                                                content: '\e92f';
                                            }
                                        }
                                        span{
                                            font-size: 0;
                                            margin: 0;
                                        }
                                    }
                                    a{
                                        width: 40px;
                                        height: 40px;
                                        .flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 100%;
                                        background: #fff;
                                        box-shadow: 0 1px 2px rgba(0,0,0,.2);
                                        &.tocompare{
                                            display: none;
                                        }
                                        &::before{
                                            margin-right: 0;
                                            font-size: 1.5rem;
                                            line-height: 1;
                                        }
                                        &.link-quickview{
                                            &::before{
                                                content: "\e930";
                                                padding: 2px;
                                            }
                                        }
                                    }
                                }
                                .actions-primary{
                                    right: 2rem;
                                    transform: translateY(-30px);
                                    .action.tocart{
                                        &:hover{
                                            color: @color-white;
                                        }
                                        &:before{
                                            content: "\e92e";
                                            font-size: 1.6rem;
                                        }
                                    }
                                }
                            }
                            .product-item-name{
                                display: inline-flex;
                            }
                        }
                        .product-label.onsale{
                            color: @color-white;
                            background-color: @theme__color__primary;
                            left: 3.5rem;
                            right: auto;
                            @transform: rotate(270deg);
                            .lib-css(transform, @transform, @_prefix: 1);
                            .value{
                                font-size: 1.3rem;
                            }
                        }
                       .product-label.newlabel{
                            right: 3.5rem;
                            background-color: #4c3ab7;
                            left: auto;
                            span{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer

& when (@media-common = true){
    .cms-index-index{
        .page-footer{
            margin-top: 4rem;
        }
    }
    .page-footer{
        .footer.content{
             ol, ul{
                a:not(:hover){
                    color: @color-white;
                }
             } 
             .footer-static_link{
                @media only screen and (max-width: @screen__s){
                    .footer-links{
                        &:nth-child(1){
                            order: 2;
                        }
                        &:nth-child(2){
                           order: 3;
                       }
                       &.square-social{
                           order: 4;
                       }
                    }
                }
                 .not-collapse-mobile{
                    text-align: center;
                    .flex();
                    flex-direction: column;
                    align-items: center;
                    border-left: 1px solid;
                    border-right: 1px solid;
                    border-color: #494949;
                    @media only screen and (max-width: (@screen__m - 1)){
                        order: 1;
                        border: none;
                        img{
                            margin-bottom: 0;
                        }
                    }
                    ul{
                        li{
                            p.size-22{
                                color: @footer-title-color;
                            }
                        }
                        &.social-link{
                            li{
                                background: #454545;
                                margin: 0 7.5px;
                                padding: 8px 15px!important;
                                max-width: 40px;
                                max-height: 40px;
                                .flex();
                                justify-content: center;
                                align-items: center;
                                &:hover{
                                    background-color: @footer-title-color;
                                    a{
                                        color: @color-white;
                                    }
                                }
                            }
                        }
                    }
                 }
                 .footer-links{
                    ul{
                        margin-top: 2.5rem;
                        &.social-link {
                            margin-top: 1.4rem;
                        }
                    }
                    img{
                        margin: 0;
                    }
                    p{
                        margin-bottom: 0.9rem;
                        color: @color-white;
                    }
                 }
             }
             .footer-bottom{
                margin-top: 5.5rem;
                .footer-contents{
                    margin-bottom: 0;
                }
            }
             .copyright{
                 @media only screen and (max-width: (@screen__xs - 1)){
                     text-align: center;
                 }
             }
        }
    }
}

// Footer destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer{       
        .footer-static_link{
            padding-top: 1.3rem;
            .footer-links{
                flex: 0 0 calc(~"100% / 6");
                max-width: calc(~"100% / 6");
                .footer-title{
                    margin-top: 0;
                }
                &.not-collapse-mobile{
                    flex: 0 0 calc(~"100% / 3");
                    max-width: calc(~"100% / 3");
                    margin-top: -8px;
                }
                &.square-social{
                    padding-left: 5.2vw;
                    flex: 0 0 calc(~"100% / 3");
                    max-width: calc(~"100% / 3");
                    .rokan-title{
                        margin-bottom: 3.4rem;
                        margin-top: -2rem;
                    }
                }
            }
        }
    }   
}



// Responsive min-width: 1199px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .block.block-search .dropdown .form.minisearch .search-form{
        min-width: 350px !important;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l){
    .page-header{
        .header-container {
            .logo-container{
                order: 1;
            }
            .primary-menu-container{
                order: 2;
                position: absolute;
                z-index: 25;
                right: 15px;
                line-height: 1;
            }
            .col-action{
                order: 3;
                padding-right: 40px;
            }
        }
    }
}

// Responsive max-width: 767px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
    .wrapper_sub_category_tabs.onlyparent{
        .owl-carousel{
            .item-row{
                div{
                    a{
                        img{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    .page-header{
        .header-container {
            .logo-container{
                width: 100%;
                justify-content: center;
                margin-bottom: 2rem;
            }
            .primary-menu-container{
                order: 2;
                position: relative;
                right   : auto;
            }
            .col-action{
                padding-right: 0;
            }
        }
    }
}