// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font
@text__color: #7d8184;
//broder
@border-color__base: #ebebeb;

// Heading
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold; 
@heading__color__base: #111111;
@headerpadding: 2rem; // Make header height bigger than menu height
@sticky_padding: 0; 
// Topbar

@topbarcolor: #111111;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 1px; 
// Other font

@theme__color__primary: #c7957f;
@navigation-level0-item__color: #111111;
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: #6492b3; 
@new_label_color: @color-white;

//==============================
// Product
@product-name-link__color: #111111;


// Button
@button__color: @color-white;
@button__hover__color: @button__color;
@button__font-size: 16px;
@button__font-family: @font-family__base;
@button__background: @theme__color__primary;
@button__padding: 12.5px 45px;
@button__border-radius: false; 
@button__font-weight: 600;

@second_button_bg: @button__background;
@second_button_color: @button__color;
@checkout-button-bg: @button__background; 
@checkout-button-color: @button__color;
/* footer */
@footer__background-color: #30313b;
@footercolor: @color-white;;

@footer-title-color: @color-white;;
@footer-title-font-weight: @heading__font-weight__base;

@footer-border-color: rgba(255,255,255,0.1);
//Button variable
@button__border-radius: false; 
// Slider heading
@slider_h2_font-size-xxl: 60px;
@slider_h2_font-size-xl: 50px;
@slider_h2_font-size-l: 40px;
@slider_h2_font-size-s: 32px;
@slider_h2_font-size-xs: 24px;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 20px;
@slider_h2_line-height: false;

@slider_h3_font-size-xxl: 64px;
@slider_h3_font-size-xl: 54px;
@slider_h3_font-size-l: 44px;
@slider_h3_font-size-s: 34px;
@slider_h3_font-size-xs: 25px;
@slider_h3_letter-spacing: false;
@slider_h3_font-weight: @heading__font-weight__base;
@slider_h3_text-transform: uppercase;
@slider_h3_margin: 20px;
@slider_h3_line-height: false;

@slider_h4_font-size-xxl: 26px;
@slider_h4_font-size-xl: 24px;
@slider_h4_font-size-l: 22px;
@slider_h4_font-size-s: 20px;
@slider_h4_font-size-xs: 18px;
@slider_h4_letter-spacing: false;
@slider_h4_font-weight: @heading__font-weight__base;
@slider_h4_text-transform: uppercase;
@slider_h4_margin: 20px;
@slider_h4_line-height: false;

@slider_h5_font-weight: @font-weight__semibold;;
@slider_h5_text-transform: capitalize;
@slider_h5_margin: 15px;

// Slider paragraph
@slider_p_margin: 20px;
@slider_p_line-height: 25px;

// Slider button
@slider_button_font-size-xl: 15px;
@slider_button_font-size-l: 14px;
@slider_button_font-size-s: 14px;
@slider_button_font-size-xs: 15px;
@slider_button_padding: 14.5px 25px;
@slider_button_padding-s: 8.5px 25px;
@slider_button_margin-top: 30px;
@slider_button_bg: @theme__color__primary;
/* animation */
& when (@media-common = true) { 
@-webkit-keyframes tracking-in-expand-fwd-bottom {
	  0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
				transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0) translateY(0);
				transform: translateZ(0) translateY(0); 
		opacity: 1;
	  }
	}
	@keyframes tracking-in-expand-fwd-bottom {
	  0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
				transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0) translateY(0);
				transform: translateZ(0) translateY(0);
		opacity: 1;
	  }
	}
	@-webkit-keyframes tilt-in-top-1 {
	  0% {
		-webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
				transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
				transform: rotateY(0deg) translateY(0) skewY(0deg);
		opacity: 1;
	  }
	}
	@keyframes tilt-in-top-1 {
	  0% {
		-webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
				transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
				transform: rotateY(0deg) translateY(0) skewY(0deg);
		opacity: 1;
	  }
	}
	@-webkit-keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@-webkit-keyframes zoomIn {
	  from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	  }

	  50% {
		opacity: 1;
	  }
	}

	@keyframes zoomIn {
	  from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3); 
		transform: scale3d(.3, .3, .3);
	  }

	  50% {
		opacity: 1;
	  }
	}

	.zoomIn {
	  -webkit-animation-name: zoomIn;
	  animation-name: zoomIn;
	}
	@-webkit-keyframes blurFadeIn{
		0%{
			opacity: 0;
			transform: scale(1.5);
		}
		50%{
			opacity: 0.5;
		
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes blurFadeIn{
		0%{
			opacity: 0;
			transform: scale(1.5);
		}
		50%{
			opacity: 0.5;
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	.blurFadeIn {
	  -webkit-animation-name: blurFadeIn;
	  animation-name: blurFadeIn;
	}
	@-webkit-keyframes blurFadeInDown { 
		0% {
			opacity: 0;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0)
		}
	}
	@keyframes blurFadeInDown {
		0% {
			opacity: 0;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0)
		}
	}
	.blurFadeInDown {
	  -webkit-animation-name: blurFadeInDown;
	  animation-name: blurFadeInDown;
	}
	@-webkit-keyframes tilt-in {
	  0% {
		-webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
				transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
				transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	  }
	}
	@keyframes tilt-in {
	  0% {
		-webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
				transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
				transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	  }
	}
	.tilt-in {
	  -webkit-animation-name: tilt-in;
	  animation-name: tilt-in;
	}
}
/* end animation */
//Mini cart
.icon_header(){
	font-size: 2.2rem;
    line-height: 4rem;
    position: relative;	
};

/* language-currency */
& when (@media-common = true) {
	.container-setting-language-currency {
		> div {
			padding:0;
		}
		.switcher {
			.switcher-options .switcher-trigger.action.toggle {
				&:hover {
					text-decoration: underline;
				}
			}
			.switcher-options.active .dropdown.switcher-dropdown {
				top: calc(~'100% + 1.5rem'); 
			}
		}
	}
	.navigation.custommenu li.level0 .level-top {
		text-transform:capitalize; 
	}
}
/* megamenu */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-content {	
		.navigation {
			font-size:1.5rem;
			font-weight: 500;
			.level0 {
				.submenu {
					box-shadow: 2px 3px 6px rgba(0,0,0,.2);
					border:none;
					a {
						text-transform: uppercase;
						&:hover {
							-moz-transform: translateX(10px);
							-webkit-transform: translateX(10px);
							-o-transform: translateX(10px);
							-ms-transform: translateX(10px);
							transform: translateX(10px);
							text-decoration:underline;
						}
					}
					
				}
				&.parent {
					.submenu {
						.mega-columns {
							.level1.parent {
								> a {
									font-family: @font-family-name__base;
									&:hover {
										-moz-transform: none;
										-webkit-transform: none;
										-ms-transform: none;
										transform: none;
										text-decoration:none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* header */
& when (@media-common = true) {
	.header-container { 
		box-shadow: 0px 4px 4px 0px rgba(94, 115, 144, 0.1);
		.header {
			> .flex-layout {
				padding: 2rem 0; 
				align-items: center;
				position:relative;
				@media only screen and (max-width: (@screen__l - 1)){
					.logo-container {
						flex: 1 1 auto;
					}
				}
				@media only screen and (max-width: (@screen__s - 1)){
					 padding: 1.5rem 0;
				}
				@media only screen and (max-width: (@screen__xs - 1)){
					.logo-container {
						width: 100%;
						justify-content: center;
						margin-bottom:10px;
					}
				}
				.col-action{
					.action-search{
						margin: 0;
						.header.links{
							> li{
								> a{
									padding-right: 0;
								}
							}
						}
					}
					.minicart-wrapper {
						@media only screen and (min-width: @screen__m){
							margin:0;
						}
						> a:hover:before {
							color: @theme__color__primary; 
						}
						.action.showcart {
							.counter.qty{
								min-width: 2rem;
								min-height: 2rem;
								line-height: 2rem;
								top: 0.2rem;
								right: 0.2rem;
								height:auto;	
								font-size: 1.1rem;
								color: @color-white;  
								font-weight: @heading__font-weight__base;
								&.empty{
									display: block;
								}
							}
						}	
					}
					.action-header {
						> li {
							&:last-child {
								margin:0;
							}
							@media only screen and (max-width: (@screen__s - 1)){
								.minicart-wrapper{
									> a:before {
										font-size: 2.2rem;
									}
								}
								> a:before {
									font-size: 2.2rem;
								}
							}
						}
					}
					.links > li {
						margin: 0 1.5rem;
						@media only screen and (max-width: (@screen__l - 1)){
							margin: 0 1rem !important;
						}
						margin-bottom: 0;
						font-size: 0; 
						padding:0;
						a {
							&:before {
								cursor:pointer;
								.icon_custom_font(@_icon_custom_font_content: "\e908");
								.icon_header();
							}
						}
					}
					.block-search{
						position: static;
						margin: 0 1.5rem;
						@media only screen and (max-width: (@screen__l - 1)){
							margin: 0 1rem;
						}
						.dropdown {
							.top-search{
								i {
									.icon_header();
									color: @heading__color__base; 
									cursor:pointer;
									@media only screen and (max-width: (@screen__s - 1)){
										font-size: 2.2rem;
									}
									&:hover {
										color:@theme__color__primary;
									}
								}
								.text{
									display: none;
								}
							}
							.form.minisearch{
								right: 0;
								z-index: 9;
							} 
						}
					}
					ul{
						li{
							&.link{
								a{	
									.counter.qty{
										min-width: 2rem;
										min-height: 2rem;
										line-height: 2rem;
										height:auto;	
										font-size:1.1rem;
										color: @color-white; 
									}
								}
							}
							
						}
					}
					
				}
				
			}
			.for-full-width-menu {
				position: static;
			}
		}
		@media (min-width: @screen__m ) and (max-width: (@screen__l - 1)){
			.nav-sections {
				max-width: 35rem;
				width: 35rem; 
			}
		}
	}
}
& when (@media-common = true) {
	.header-container{
		&.sticky {
			.sticky-header {
				position: fixed ;
				padding-top: 0;
				padding-bottom: 0;
				> div {
					> div {
						padding: 0.5rem 0;
						
					}
					@media only screen and (max-width: (@screen__xs - 1)){
						> .flex-layout {
							.logo-container {
								display: none; 
							}
						}
					}
				}
				
			}
			.action-sticky {
				.action-header {
					> li {
						.minicart-wrapper{
							> a:before {
								font-size: 2.2rem;
							}
						}
						> a:before {
							font-size: 2.2rem;
						}
					}
				}
				.minicart-wrapper .action.showcart .counter.qty, li .counter.qty {
					font-size:1.1rem;
					color: @color-white; 
					top: 0.2rem;
					right: 0.2rem;
				}
				
			}
			
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-container{
		.header-content{
			.primary-menu-container{
				padding: 0 2rem;
			}
		}
	}
}
// Header on screen < 1200px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.header {
			> .flex-layout {
				.col-action{
					ul{
						li{
							margin: 0 1rem;
							&:last-child {
								margin-right: 0;   
							}
						}
					}
					
				}
				
			}
			
		}
		.nav-toggle {
			line-height: 1;
			z-index:9;
			margin: 0 1rem;
			-moz-transform: none;
			-webkit-transform: none;
			-o-transform: none;
			-ms-transform: none;
			transform: none;
		}
		
	}
}
// Header on screen < 768px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.header-container {
		.header {
			> .flex-layout {	
				.col-action .links > li a:before {
					font-size: 2.2rem !important;
				}
			}
		}
		
	}
}

// Header on screen < 576px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		.header {
			> .flex-layout {
				.logo-container {
					.logo img {
						max-width: 150px;
					}
				}
				.col-action{
					ul{
						li{
							margin: 0 0.5rem;
						}
					}
					
				}
			}
			
		}
	}
}
// Header on screen < 360px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
	.header-container {
		.header {
			> .flex-layout {
				.logo-container {
					.logo img {
						max-width: 120px;
					}
				}
			}
			
		}
	}
}
/* newletter */
& when (@media-common = true) {
	.block-newsletter-form {
		.rokan-title {
			text-align: left;
		}
		.block.newsletter {
			margin: 0;
			z-index: 1;
			float: none !important;
			.field {
				.control {
					flex-wrap: nowrap;
					border-bottom: 2px solid @theme__color__primary;
					max-width: 100%;
					.input-focus {
						flex: 1 1 auto; 
						::-webkit-input-placeholder { /* Edge */
						  color: @color-white;
						}

						:-ms-input-placeholder { /* Internet Explorer 10-11 */
							color: @color-white;
						}

						::placeholder {
							color: @color-white;
						}
						input {
							background: transparent;
							padding: 0;
							color: @color-white;
							border: none;
						}
						
						
					}
					.action.primary {
						padding-left: 0;
						padding-right: 0;
						background: transparent;
						color: @theme__color__primary;
					}
				}
			}
		}
	}
	
}

/* footer */
& when (@media-common = true) {
	.page-footer {
		margin-top: 9rem;
		font-size: 1.5rem;
		@media only screen and (max-width: (@screen__l - 1)){
			margin-top: 6rem;
		}
		@media only screen and (max-width: (@screen__s - 1)){
			margin-top: 3rem;
		}
		.footer-top {
			.footer.content {
				padding-top: 9rem;
				padding-bottom: 0;
				overflow:hidden;
				@media only screen and (max-width: (@screen__m - 1)){
					padding-top: 5rem;
					padding-bottom: 3rem;
				}
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer.content ul{
			
			li {
				margin-bottom: 1rem;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					border-bottom: 1px solid transparent;
					&:hover {
						color: @color-white;
						border-bottom: 1px solid @theme__color__primary;
					}
				}
				
				
			}
			&.social-link {
				display: block;
				margin-top: 3rem;
				li {
					&:not(:last-child) {
						padding-right: 0.5rem;
					}
					&:not(:first-child) {
						padding-left: 0.5rem;
					}
					a {
						width: 4rem;
						height: 4rem;
						display: block;
						line-height: 4rem;
						border-radius: 50%;
						text-align: center;
						border: none;
						background: @color-white;
						&:hover {
							background: @theme__color__primary;
							.icon:not(:hover) {
								color: @color-white;
							}
						}
						.icon:not(:hover) {
							color: @heading__color__base; 
						}
					}
				}
			}
		}
		.footer-static_link {
			.rokan-title {
				.module-title {
					font-size: 2rem;
					text-transform: capitalize;
					margin-top: 1rem;
					margin-bottom: 1.8rem; 
				}
				.rokan-description {
					margin-top: 3.4rem;
					margin-bottom: 1rem;
					font-size: 1.5rem;
					line-height: 3rem;
				}
			}
			.footer-title {
				font-size: 2rem;
				text-transform: capitalize;
				margin-top: 1rem;
				margin-bottom: 1.8rem; 
			}
			.col-left {
				ul {
					margin-top: 0;
					p {
						margin-bottom: 1.5rem;
					}
				}
			}
			
		}
		p.footer-contents {
			margin: 0;
			line-height: 1;
		}
		.footer-bottom-text {
			align-items: center;
			position: relative;
			@media only screen and (min-width: @screen__s){
				margin-top:3rem;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: -99999rem;
				left: -99999rem;
				border-top: 1px solid rgba(255,255,255,0.1);
			}
			.footer-bottom-inner {
				margin: 1.7rem 0; 
				padding: 0 1.5rem;
			}
		}
		
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 55%; 
					max-width: 55%; 
					position:relative;	 
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			flex-wrap: nowrap;
			.col-left {
				flex: 0 0 31%; 
				max-width: 31%;
				position:relative;
				padding-right: 3rem;
				&:before {
					content: "";
					position: absolute;
					right: 0;
					top: -99999rem;
					bottom: -99999rem;
					border-right: 1px solid rgba(255,255,255,0.1);
				}	
			}
			.col-right {
				flex: 1 1 auto;
				padding-left: 4.5rem;
				overflow:hidden;
				.flex-layout {
					flex-wrap: nowrap;
				}
			}
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 40%; 
					max-width: 40%; 
					position:relative;	
				}
			}
		}
		
	}	
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.page-footer{		
		.footer-static_link{
			.col-right {
				.flex-layout {
					flex-wrap: nowrap;
				}
			}
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 40%; 
					max-width: 40%; 
					position:relative;	
				}
			}
		}
	}	
} 

/* banner static */
& when (@media-common = true) { 
	.home-banner {
		.col  {
			@media only screen and (max-width: (@screen__s - 1)){
				margin-bottom: 1.5rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.banner-box {
			position: relative;
			line-height: 1;
			overflow:hidden;
			img {
				width:100%;
				.transition();
			}   
			&:hover {
				img {
					.transition();
					-webkit-transform: scale(1.045) rotate(0.05deg);
					transform: scale(1.045) rotate(0.05deg); 
				} 
			}
			
		}
	}
	
}

/* style title */
& when (@media-common = true) {

	.cms-index-index{
	    .page-main{ 
			.rokan-title {
				position: relative;
				text-align: center;
				margin-bottom: 4.5rem;
				.module-title {
					font-size: 3.6rem;
					text-transform:capitalize;
					color: @heading__color__base;
					@media only screen and (max-width: (@screen__l - 1)){
						font-size: 2.8rem;
					}
					
				}
				.short_description {
					font-size: 1.5rem;
					color: @text__color;  
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	@media only screen and (min-width: @screen__l){
		.page-products .products-grid .product-items .product-item {
			width: 33.33333333%;
		}
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	.product-item .product-label {
		font-family: @font-family-name__base;
		font-weight: @font-weight__semibold; 
		font-size: 1.4rem;
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel) {
				border: none;  
			}
			.product-item{
				border: none;
				padding: 0 1.5rem; 
				margin: 0 0 3rem 0;
				&:last-child {
					margin: 0;
				}
				
				.product-item-photo {
					line-height:1;
					margin: 0;
				}
				.product-item-info {
					position:relative; 
					padding: 0; 
					text-align: left;
					@media only screen and (max-width: (@screen__xs - 1)){
					}
					&:before {
						display:none !important; 
					}
					.product-item-details {
						position:static;
						padding-top: 1rem;
						.flex();
						.product-item-actions {
							position: absolute;
							top: 2rem;
							right: 2rem;
							z-index:1;
						}
						.price-box {
							flex: 1 1 auto;
						}
						
					}
					.product.name{
						width:100%;
						margin-bottom: 0.5rem;
						a {
							line-height: 1.4;
							display:block;
						}
					}
					.product-reviews-summary {
						margin: 6px 0px 4px;
						order:2;
						.reviews-actions {
							margin: auto;
						}
					}
					.actions-primary,
					.actions-secondary,
					.field.choice.related,
					.actions-secondary .action{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
						width: 4rem;
						height: 4rem;
						@media only screen and (max-width: (@screen__xs - 1)){
							width: 3rem;
							height: 3rem;
						}
						background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
							overflow:visible;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.field.choice.related{
						bottom: 2px;
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.5rem;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.5rem;
								}
								span{
									display:none;
								}
							}
							&.tocompare {
								&:before{
									font-size: 1.5rem; 
									margin: 0; 
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				
				
				&:hover{				
					.actions-primary,
					.field.choice.related{
						webkit-animation: zoomIn 400ms ease-in-out;
						-moz-animation: zoomIn 400ms ease-in-out;
						-ms-animation: zoomIn 400ms ease-in-out;
						animation: zoomIn 400ms ease-in-out;
					}
					.actions-secondary{
						> *{
							&:nth-child(1) {
								webkit-animation: zoomIn 600ms ease-in-out;
								-moz-animation: zoomIn 600ms ease-in-out;
								-ms-animation: zoomIn 600ms ease-in-out;
								animation: zoomIn 600ms ease-in-out;
							}
							&:nth-child(2){
								webkit-animation: zoomIn 800ms ease-in-out;
								-moz-animation: zoomIn 800ms ease-in-out;
								-ms-animation: zoomIn 800ms ease-in-out;
								animation: zoomIn 800ms ease-in-out;
							}
							&:nth-child(3){
								webkit-animation: zoomIn 1000ms ease-in-out;
								-moz-animation: zoomIn 1000ms ease-in-out;
								-ms-animation: zoomIn 1000ms ease-in-out;
								animation: zoomIn 1000ms ease-in-out;
							}
						}
					}
					
					
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	body .owl-carousel .owl-nav button {
		&.owl-prev,&.owl-next {
			border-radius: 100%;
			background: @color-white;
			width: 4.6rem;
			height: 4.6rem;
			border: 2px solid @border-color__base;
			&:before {
				width: 4.2rem;
				height: 4.2rem;
			}
			&:hover {
				background: @theme__color__primary;
				border: 2px solid @theme__color__primary;
			
			}
		}
		 
	}
	.product-items .product-item .action:hover:before, .products.list.items .product-item .action:hover:before{
		color: @color-white;
	}
	.pages .items .item:hover a, 
	.pages .items .item.current a, 
	.pages .items .item:hover strong, 
	.pages .items .item.current strong ,
	.pages .items .item a:hover:before,{
			color: @color-white;
	}
	body .owl-carousel:hover .owl-nav button {
		border-radius: 100%;
		&:hover:before {
			color: @color-white;
		}
	}
}
section, .section, .product.info.detailed, .block.related, .block.upsell,.hot-deal-tab-slider {
	margin-bottom: 9rem;
	@media only screen and (max-width: (@screen__l - 1)){
		margin-bottom: 6rem;
	}
	@media only screen and (max-width: (@screen__s - 1)){
		margin-bottom: 3rem;
	}
}

/* new-products */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.position-top {
		position: relative;
		padding-top:150px;
		.row {
			margin: 0 -2rem;
			> div {
				position: static;
				padding:0 2rem;
				&.col-left {
					-ms-flex: 0 0 51.4%;
					flex: 0 0 51.4%;
					max-width: 51.4%;
				}
				&.col-right {
					-ms-flex: 0 0 48.6%;
					flex: 0 0 48.6%;
					max-width: 48.6%;
				}
			}
		}
		.new-products {
			.rokan-title {
				position: absolute;
				top: 0;
				left: 0;
				right: 0; 
			}
			.products {
				margin-top: 0;
				margin-bottom: 0;
				
			}
		}
	}
	
}
/* css catethumb */
& when (@media-common = true) {
	.wrapper_sub_category_tabs {
		position: relative;
		margin: 0 !important;
		&:after {
			content:"";
			position:absolute;
			top:0;
			bottom:0;
			left:-9999rem;
			right:-9999rem;
			background:#f0f1f6; 
			z-index:-1; 
		}
		.rokan-title {
			margin: 0;
		}
		&.onlyparent {
			ul {
				li {
					a {
						background: transparent;
						position: relative;
						padding: 58px 0;
						&:before {
							position: absolute;
							content: '';
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							.transition();
							background: @theme__color__primary;
							z-index: -1;
							-webkit-transform: scale(.9);
							-moz-transform: scale(.9);
							-ms-transform: scale(.9);
							-o-transform: scale(.9);
							transform: scale(.9);
							opacity: 0;
							visibility: hidden;
						}
						img {
							width: auto !important;
						}
						&:hover {
							&:before {
								-webkit-transform: scale(1);
								-moz-transform: scale(1);
								-ms-transform: scale(1);
								-o-transform: scale(1);
								transform: scale(1);
								opacity: 1;
								visibility: visible;
							}
							.cate-name.cate-count {
								color: @color-white;
							}
							img {
								-webkit-filter: brightness(0) invert(1);
								filter: brightness(0) invert(1);
							}
						}
						&.horizontal {
							flex-direction: column;
						}
						.thumb-infor {
							padding: 0;
							.cate-name.cate-count {
								font-size: 15px;
								text-transform:uppercase;
								margin-top: 2rem;
								padding: 0;
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
/* tab cate products */
& when (@media-common = true) {
	.container_horizontal_tab_postions.wrapper_category_product_tabs {
		.rokan-title {
			text-align: left;
			margin-bottom: 3rem;
		}
		.ui-tabs-nav {
			white-space: nowrap;
			overflow-y: hidden;	
			li {
				margin: 0;
				a:not(.active),a:not(hover) {
					font-size: 1.5rem; 
					font-family: @heading__font-family__base;
				}
			}
		}
	}
	.shop-categories {
		text-align: center;
		@media only screen and (min-width: 1920px){
			.owl-carousel .owl-stage-outer {
				overflow: visible;  
			} 
		}
		.container_horizontal_tab_postions.wrapper_category_product_tabs {
			.rokan-title {
				text-align: center;
				margin-bottom: 4.5rem;
			}
			.ui-tabs-nav {
				margin-bottom: 5rem;
				padding: 0 2rem;
				li {
					margin: 0;
					&:not(:first-child) {
						padding-left: 3rem;
					}
					&:not(:last-child) {
						padding-right: 3rem;
					}
					@media only screen and (min-width: @screen__xl){ 
						&:not(:first-child) {
							padding-left: 6rem;
						}
						&:not(:last-child) {
							padding-right: 6rem;
						}
					}
					a:not(.active),a:not(hover) {
						font-size: 1.8rem; 
						color: #0d0d0d; 
						text-transform: uppercase;
						font-family: @heading__font-family__base;
					}
					&:hover,&.ui-tabs-active {
						a {
							color: @theme__color__primary;
						}
						
					}
					a {
						.category-thumbs {
							display:block;
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
	}
}
/* hot deal */
& when (@media-common = true) {
	.hot-deal-tab-slider {
		@media only screen and (min-width: @screen__l){ 
		padding-right: 3rem;
		}
		.products-grid {
			&.products {
				margin-top: 0;
				margin-bottom: 0;
			}
			.product-items {
				.product-item {
					.product-item-info {
						border: 2px solid @theme__color__primary;
						padding: 3.5rem;
						@media only screen and (max-width: (@screen__l - 1)){
							padding: 1.5rem;
						}
						.product-label.onsale {
							top: 3.5rem;
							right: 3.5rem;
							@media only screen and (max-width: (@screen__l - 1)){
								top: 1.5rem;
								right: 1.5rem;
							}
							display: flex;
							justify-content: center;
							align-items: center;
							width: 7rem;
							height: 7rem;
							font-size: 20px;
							font-weight: 600;
							border-radius: 50%;
						}
						.product-item-details {
							display:block;
							.details-title {
								font-size: 1.3rem;
								font-weight: 900;
								color: @theme__color__primary;	
								margin-bottom: 1rem;		
							}
							.product-item-name {
								font-size: 3.6rem;
								@media only screen and (max-width: (@screen__l - 1)){
									font-size: 2.4rem;
								}
								a {
									font-weight: @font-weight__bold; 
								}								
							}
							.info-price {
								padding: 0;
								border: none;
								line-height: 1;
								margin: 1.5rem 0 3rem; 
								.price {
									font-size: 3rem;
									@media only screen and (max-width: (@screen__l - 1)){
										font-size: 2.2rem;
									}
									color: @theme__color__primary;
								}
								.old-price {
									.price {
										font-size: 1.8rem;
										color: @greycolor;
									}
								}
							}
							.super-deal-countdown { 
								.time_circles > div {
									border: 1px solid @border-color__base;
									padding: 1.3rem 0;
									&:not(:last-child){
										margin-right: 3rem;
										.number {
											&:after {
												content: ':';
												position: absolute;
												top: 50%;
												margin-top: -1rem;
												right: -1.9rem;
												color: @text__color;
												font-size: 3rem;  
												font-weight: @font-weight__regular;
											}
										}
										@media only screen and (max-width: (@screen__l - 1)){
											margin-right: 2rem;
											.number {
												&:after {
													right: -1.5rem;
												}
											}
										}
									}
									.number {
										width: 8.8rem;
										height:auto;
										font-size: 3.6rem;
										@media only screen and (max-width: (@screen__l - 1)){
											width: 5.8rem;
											font-size: 2.8rem;
										}
										@media only screen and (max-width: (@screen__xs - 1)){
											width: 4.5rem;
											font-size: 1.8rem;
										}
										color:@heading__color__base;
										background: transparent;
										font-weight: @font-weight__bold; 
										position: relative;
										
									}
									.text {
										font-size: 1.5rem;
										@media only screen and (max-width: (@screen__l - 1)){
											font-size: 1.2rem;
										}
										@media only screen and (max-width: (@screen__xs - 1)){
											font-size: 1rem;
										}
										color: @text__color; 
										text-transform:uppercase;
										font-weight: @font-weight__bold; 
										font-family: @heading__font-family__base;
									}
								}
								
							}
						}
					}
				}
			}
		}
	}
}
/* css Blog */
& when (@media-common = true) {
	//Blog gobal style
	.block-recent-posts {
		.post-list-wrapper{
			.owl-carousel .owl-stage-outer {
				padding: 0 1px;
				margin: 0 -1px;
			}
			.blog-list-post .item-post-full {
				position: relative;
				overflow: hidden;
				border: 1px solid @border-color__base;
				@media only screen and (min-width: @screen__xs){
					.flex();
					align-items: center;
					flex-direction: row-reverse;
					> div {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%; 
					}
				}
				
			}
			.blog-post-info{
				border: none;
				padding: 3rem;
				position: static;
				.post-title{
					font-size: 2rem;
					line-height: 3.2rem;
					@media only screen and (max-width: (@screen__l - 1)){
					}
					margin-bottom: 2rem;
				}
				.post-info-top  {
					.flex();
					margin-bottom: 1rem;
					> div {
						margin-right: 2.5rem;
						&:last-child {
							margin: 0;
						}
					}
					.post-category-name{
						position: static; 
						padding:0;
						background: @color-white;
						transform: none;
						margin-bottom: 2.5rem;
						a {
							font-weight: @font-weight__regular; 
							text-transform: uppercase;
							color: @theme__color__primary;
							position: relative;
							display: block;
							font-size: 1.5rem; 
							&:hover {
								text-decoration: underline;
							}				
						}
					}
					.time-conment{
						text-transform: uppercase;
						color: @theme__color__primary;
						font-size: 1.5rem; 					
					}
				}
				.desc {
					font-size: 1.5rem;
					line-height: 2.5rem;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
				.post-readmore {
					font-size: 1.5rem; 
					font-weight: @font-weight__semibold;
					text-transform: capitalize;
					position: relative;
					padding: 0;
					&:before {
						content: '';
						width: 2.5rem;
						height: 2px;
						background: @theme__color__primary;
						margin-right: 1rem;
						display:inline-block;
						vertical-align: middle;
					}	
					&:hover {
						background: transparent;
						color: @theme__color__primary;
					}
					&.btn:not(:hover) {
						background: transparent;
						color: @heading__color__base;
					}
				}
		
			}		
		}
	}
	
}
/* slideshow */
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.nivo-directionNav a {
			border-radius:100%;
			&:before {
				color: @color-white;
				font-family: main-icon;
				transform: rotate(0deg) !important;;
				-webkit-transform: rotate(0deg) !important;;
				-o-transform: rotate(0deg) !important;;
				-ms-transform: rotate(0deg) !important;
			}
			&.nivo-prevNav {
				&:before {
				    content: '\e933'; 
				}
			}
			&.nivo-nextNav {
				&:before {
					content: '\e934';
				}
			}
			&:not(:hover){
				background: #fbfbfb;
				&:before {
					color: @greycolor;	
				}
			}
		}
		.the-blue-sky-banner-text { 
			h5 {
				font-family: @font-family-name__base;
			}
			h2 {
				&.inline.one {
					font-weight: @font-weight__regular; 
					padding: 0 !important;
				}
			}
			p {
				max-width: 35%; 
				@media only screen and (max-width: (@screen__l - 1)){
					max-width: 50%; 
				}
				@media only screen and (max-width: (@screen__s - 1)){
					max-width: 100%; 
					line-height: 2rem !important;
				}
			}
			a.btn {
				font-weight: @font-weight__semibold;
				text-transform:capitalize;
				&:hover { 
					background: @color-white;
					color: #0d0d0d !important;	
				}
			}
			 
		}
	}
}
// Checkout page, About us
& when (@media-common = true) {
	.connect{
		margin-bottom: 0 !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .block.block-search .dropdown .form.minisearch .search-form{
        min-width: 350px !important;
    }
}