<?php
if($this->getConfig('enable_frontend')):
	$qty = $this->getConfig('qty');
	$auto = $this->getConfig('auto') ? 'true' : 'false';
	$dots = $this->getConfig('dots') ? 'true' : 'false';
	$nav = $this->getConfig('nav') ? 'true' : 'false';
	$title = $block->getConfig('title');
	$des = $block->getConfig('des');
	$owl_item_default = $block->getConfig('owl_item_default');
    $owl_item_desktop = $block->getConfig('owl_item_desktop');
    $owl_item_small_desktop = $block->getConfig('owl_item_small_desktop');
    $owl_item_big_tablet = $block->getConfig('owl_item_big_tablet');
    $owl_item_tablet = $block->getConfig('owl_item_tablet');
    $owl_item_small_tablet = $block->getConfig('owl_item_small_tablet');
    $owl_item_mobile = $block->getConfig('owl_item_mobile');
    $rows = $block->getConfig('rows');
    $testimonials = $this->getTestimonial($qty);
    $back_img = '';
    if($block->getConfig('background_image') != ''){
    	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
        $imageUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'rokanthemes/testimonial/'.$block->getConfig('background_image');
    	$back_img = ' style="background-image: url('.$imageUrl.');"';
    }
?>
	<section class="testimo-slider"<?= $back_img ?>>
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class='ma-title'>
						<h2><span><?= $title ?></span></h2>
						<h5 class="des"><?= nl2br($des) ?> </h5>
					</div>
					<div class="pt-testimonial-container">
						<?php $i = 0; ?>	
						<div class="owl-carousel owl-theme" data-rtl="false" data-items="<?= $owl_item_default ?>" data-bigdesktop="<?= $owl_item_desktop ?>" data-smalldesktop="<?= $owl_item_small_desktop ?>" data-bigtablet="<?= $owl_item_big_tablet ?>" 
							data-tablet="<?= $owl_item_tablet ?>" data-smalltablet="<?= $owl_item_small_tablet ?>" data-mobile="<?= $owl_item_mobile ?>"  
							data-margin="0" data-loop="false" data-center="false" 
							data-mousedrag="true" data-touchdrag="true" data-stagepadding="1" 
							data-nav="<?= $nav ?>" data-navnext="" data-navprev="" data-rewind="true" 
							data-dots="<?= $dots ?>" data-autoplay="<?= $auto ?>" data-speed="500"> 
							<?php foreach ($testimonials as $testimonial): ?>	
							<?php $url_image = $this->getMediaFolder().$testimonial['avatar']; ?>
							<?php 
								if($i %$rows == 0){
									echo '<div class="item-load group-rows-fixed-testimonial">';
								}
								$i ++;
							?>
								<div class="pt-testimonial">
									<div class="des">
										<?= $testimonial['testimonial']; ?>
									</div> 
									<div class="content-tes">
										<a href="<?php echo $this->getUrl('testimonial'); ?>" class="image">
											<img alt="<?php echo $testimonial['name'] ?>" src="<?php echo $url_image; ?>"/>
										</a>

										<div class="info">
											<a href="<?php echo $this->getUrl('testimonial'); ?>" class="name"><?php echo $testimonial['name']; ?></a>
										</div>
									</div>
									
								</div>
								<?php if($i %$rows == 0) echo "</div>"; ?>
							<?php endforeach; ?>
							<?php if($i %$rows != 0) echo "</div>"; ?>
						</div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="cms-block-beside-testimonial">
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('why-choose-us-beside-testimonial')->toHtml(); ?>
					</div>
				</div>
			</div>
		</div>
	</section>
<?php endif; ?>