// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

////  Variables
//  _____________________________________________
@search-form_bg: @color-white;
@action_button_bg: @theme__color__primary;

@_search-border-color: @theme__color__primary;
@_search-border-width: 2px;
.flex(){
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;   
}
//  Common
//  _____________________________________________
/* Gobal style */
& when (@media-common = true) {
    // Search drop down
     body{
        .block.block-search{ 
            float: none;
            width: auto;
            .form.minisearch{
                .lib-css(background-color, @search-form_bg);          
                .lib-css(border, @_search-border-width solid @_search-border-color);
                select, input{
                    border: 0;
                    background-color: transparent;
                }
                .field.search{
                    .control{
                        padding-bottom: 0;
                    }
                }
                &.cat-search{
                    .search-form{
                        .flex();
                        flex-wrap: nowrap;
                        min-width: 300px;
                        .field.search{
                            flex: 1;
                            position: relative;
                            padding-left: 2rem;
                            &:before{
                                content: '';
                                top: 1.4rem;
                                bottom: 1.4rem;
                                border-right: 1px solid @border-color__base;
                                margin: 0 2rem; 
                                width: 1px;
                                position: absolute;
                                left: -9px;
                            }
                        }
                    }
                }
            }
            .dropdown{
                position: static;
                .form.minisearch{
                    display: none;
                    position: absolute;
                    top: 100%;
                     .search-form{
                       min-width: 300px;
                    }
                }
            }
        }
        form.minisearch.loading .control input[type="text"] {
            box-shadow: none;
            animation: none;
        }
        .searchsuite-autocomplete {
            background-color: @color-white;
            border: 1px solid @border-color__base;
            border-top: 0;
            left: -@_search-border-width;
            right: -@_search-border-width;
            margin-top: 0;
            position: absolute;
            z-index: 99;
            color: @text__color;
            max-height: 70vh;
            overflow: auto;
            min-width: 100%;
            width: auto;
            .no-result{
                padding: 1.5rem;
                text-align: center;
                background-color: transparent; 
            }
            .suggest{
                display: none;
            }
            .product{
                .title{
                    padding: 1rem 1.5rem;
                    margin-bottom: 0;
                    background: @sidebar__background-color;
                    color: @heading__color__base;
                    text-align: left;
                    .see-all{
                        &:not(:hover){
                            color: @text__color !important;
                        }
                        float: right;
                        cursor: pointer;
                    }
                }
            }
            #product{
                padding: 1.5rem;
                list-style: none;
                margin-bottom: 0;
                li{
                    &:after,
                    &:before{
                        content: '';
                        display: table;
                        clear: both;
                    }
                    &:not(:last-child){
                        padding-bottom: 1.5rem;
                        margin-bottom: 1.5rem;
                        border-bottom: 1px solid @border-color__base;
                    }
                    .qs-option-image{
                        float: left;
                        max-width: 82px;
                        width: 25%;
                    }
                    .qs-option-info{
                        display: inline-block;
                        float: left;
                        padding-left: 1.5rem;
                        text-align: left;
                        width: 70%;
                        &.noimage{
                            padding-left: 0;
                            width: 100%;
                        }
                        > div{
                            margin-top: 0.6rem;
                        }
                        .qs-option-title{
                            margin-top: 0;
                            a{
                                &:not(:hover){
                                    color: @product-name-link__color;
                                }
                            }
                        }
                        .qs-option-reviews {
                            .product-reviews-summary {
                                margin: 0;
                            }
                            .reviews-actions{
                                font-size: 1.2rem;
                                a.action.view{
                                    border-right: 0;
                                    &:not(:hover){
                                        color: @text__color;
                                    }
                                }
                            }
                        }
                        .qs-option-shortdescription,
                        .qs-option-description{
                            font-size: 1.3rem;
                        }
                        .qs-option-sku{
                            display: block;
                            width: 100%;
                            color: #004875;
                            font-size: 12px;
                        }
                        .qs-option-addtocart{
                            button{
                               .lib-button-reset();
                               text-transform: none;
                               border-bottom: 1px solid @text__color;
                            }
                        }
                    }
                }
            }
        }
        .searchsuite-autocomplete .suggest,
        .searchsuite-autocomplete .product {
            margin: 0;
        }
        
    }
    // Design not dropdown search
    .top-search-not-dropdown{
        .block.block-search {
            .block-content{
                .dropdown{
                    .dropdown-toggle{
                        display: none;
                    }
                    .form.minisearch{ 
                        display: block;
                        position: static;
                        border-radius: @form-element-input__border-radius;
                        .control{
                            padding-right: 4.7rem;
                            position: relative;
                        }
                        .actions{
                            .action.search{
                                top: 4px;
                                right: 4px;
                                bottom: 4px;
                                min-width: 3.7rem;
                                .lib-css(background-color, @action_button_bg);
                                justify-content: center;
                                opacity: 1;
                                &:before{
                                    color: @color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    body{
        .field-by-cat-search{
            .flex();
            align-items: center;
        }
        .chosen-container {
            .chosen-results li.highlighted {
                background-color: @theme__color__primary;
                color: @color-white;
            }
        }
        .chosen-container-single .chosen-single {
            border: 0;
            border-radius: @form-element-input__border-radius;
            div b{
                .lib-icon-font(
                    @icon-down,
                    @_icon-font-color: @heading__color__base,
                    @_icon-font-size: 24px,
                );
            }
        }
        .chosen-container-single .chosen-search input[type="text"]{
            border: 1px solid @border-color__base !important;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    body{
        header .block.block-search .form.minisearch.cat-search .search-form{
            min-width: 250px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    body .searchsuite-autocomplete #product li .qs-option-info .qs-option-reviews .reviews-actions{
        display: none;
    }
}