<?php
/**
 * Copyright © 2016 Bluesky Team. All rights reserved.
 */

?>
<?php
/**
 * Top menu for store
 *
 * @see \Rokanthemes\VerticalMenu\Block\Verticalmenu
 */
?>
<?php
    $_helper = $this->helper('Rokanthemes\VerticalMenu\Helper\Data');
    $_config = $_helper->getConfig('verticalmenu');
    $columnsLimit = 0;
    if($_config['general']['enable']) {
?>
<?php $_menu = $block->getVerticalMenuHtml(); ?> 
 
<nav class="navigation verticalmenu side-verticalmenu">
	<?php if($this->getConfig('vertical_heading')){?><h3 class="title-category-dropdown"><span class="icon icon-align-left"></span><?php echo $block->getConfig('vertical_heading');?></h3><?php }?>
    <ul class="togge-menu list-category-dropdown" style="display: none;">  
		<li class="menu-mobile-title d-block d-xl-none"><?= $block->escapeHtml(__('Menu')) ?><a href="#" id="close-vertical"></a></li>
        <?php echo $_menu; ?>
        <li class="expand-category-link level0">
        	<a href="javascript:void(0);"><?php echo __('More categories') ?></a>
        </li> 
	</ul>

</nav>

<script>
    require([
        'jquery',
        'rokanthemes/verticalmenu'
    ], function ($) {
        $(".verticalmenu").VerticalMenu();
		$('.title-category-dropdown').click(function(event){
			$('.navigation.verticalmenu .togge-menu').slideToggle('slow');
			$(this).toggleClass('active');
		});
		$( document ).ready(function() {
			var lenghtLi = $('.cms-index-index .navigation.verticalmenu .ui-menu-item.level0').length;
			var limitItemShow = <?php echo $block->getConfig('limit_show'); ?>;
			if(lenghtLi > limitItemShow)
			{
				$('.navigation.verticalmenu .ui-menu-item.level0').each(function( index ) {
					if(index >= (limitItemShow - 1))
					{
						$(this).addClass('orther-link');
						$(this).hide();
					}
				});
				$('.navigation.verticalmenu .expand-category-link').show();
				$('.navigation.verticalmenu .expand-category-link').on( "click", function() {
					$(this).toggleClass('expanding');
					$('.navigation.verticalmenu .ui-menu-item.level0.orther-link').slideToggle('slow');
				});
			}
		});
		$(".title-category-dropdown").click(function(e){
            if(!$("html").hasClass("vertical-open")) {
                $("html").addClass("vertical-before-open");
                setTimeout(function(){
                    $("html").addClass("vertical-open");
                });
            }
            else {
                $("html").removeClass("vertical-open");
                setTimeout(function(){
                    $("html").removeClass("vertical-before-open");
                });
            }
        }); 
		$("#close-vertical").click(function(e){
            if(!$("html").hasClass("vertical-open")) {
                $("html").addClass("vertical-before-open");
                setTimeout(function(){
                    $("html").addClass("vertical-open");
                });
            }
            else {
                $("html").removeClass("vertical-open");
                setTimeout(function(){
                    $("html").removeClass("vertical-before-open");
                });
            }
        }); 
    });
</script>
<?php
    }
?>
