// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@theme__color__primary: #fbb71c;
@navigation-level0-item__color: #0d0d0d;

@step-icon-font-size: 1.6rem;
@step-icon-font-family: "Font Awesome 5 Free";
@step-icon-font-weight: 900;

@address-icon: "\f015";
@shipping-icon: "\f0d1";
@payment-icon: "\f09d";
@order-icon: '\f0c9';

@item-row-margin: 1rem;
//
//  Common
//  _____________________________________________
// @heading__font-family__base: 'Rajdhani',sans-serif;  
/* Breadcrumb restyle */


//========================
// Change Gobal style
& when (@media-common = true) {
	// Block related, upsell
	.block{
		&.related,
		&.upsell,
		&.crosssell{
			.block-title{
				@related_upsell_bg: @color-white-smoke;
				.lib-css(background-color, @related_upsell_bg);
				margin-bottom: 0;
				h3{
					border-left: 5px solid @theme__color__primary;
					margin-bottom: 0;
					padding: 1.6rem 1.8rem;
					display: inline-block;
					strong{	
						margin: 0;
						font-family: @font-family__base;
						vertical-align: middle;
					}
				}
			}
			.block-actions{
				button{
					.lib-button-reset();
				}				
			}
		}
	}
}
//Mini cart
& when (@media-common = true) {
	.minicart-wrapper {
		float: none;
		.action.showcart {
			padding-right: 1.2rem;
		}
		.block-minicart{
			margin-top: 2rem;
		}
	}
}
//==================================================
// Header
& when (@media-common = true) {
	header{
		&.page-header{
			@box-shadow: 0px 4px 4px 0px rgba(94, 115, 144, 0.1);
			.lib-css(box-shadow, @box-shadow, @_prefix: 1);
		}
	}
	.cms-index-index{
		header{
			&.page-header{
				@box-shadow: none;
				.lib-css(box-shadow, @box-shadow, @_prefix: 1);
			}
		}
	}
}
//==================================================
//Block search
& when (@media-common = true) {
	.block-search {
		.form{
			.action.search{
				right: 20px;
				bottom: 0;
				padding: 0;
				display: inline-flex;
				align-items: center;
				&:before{
					.icon_custom_font("\e905");
					padding-left: 1px;
					color: @text__color;
					@transform: rotate(90deg);
					.lib-css(transform, @transform, @_prefix: 1);
				}
			}			
		}	
	}
}
//Side bar
& when (@media-common = true) {
	//sidebar in product and blog
	//========================================
	.sidebar{
		//Block search
		.block-search{
			.block-title{
				display: block;
				margin-top: 0;
			}
			.block-content{
				form{
					position: relative;
				}
			}
		}
		//Filter option
		.filter-options {
			.filter-options-content {			
				.item {
					> a{
						&:before{
							display: inline-block;
						    vertical-align: text-top;
						    content: '';
						    width: 16px;
						    height: 16px;
						    box-shadow: 0 0 0 1px #ddd inset; 
						    margin: 2px 10px 2px 0;
						    background-color: @color-white;
						    .border_radius(2px);
						}
						&:focus{
							&:before{
								background: @theme__color__primary;
							}
						}
					}
				}
			}
		}
	}
}
// Start product style
//_______________________________
//

// Change default icon
//=================================================

& when (@media-common = true) {
	// .product-info-main,
	// .product-options-bottom,
	.product-items,
	.products.list.items,
	.table-comparison,
	#checkout{
		.product-addto-links,
		.product-item,
		.minicart-wrapper {
			.action{
				width: auto;
				height: auto;
				text-transform: capitalize;
				//Change wishlist icon
				&:active{
					box-shadow: none;
				}
				&.towishlist{
					&:before{
						.icon_custom_font("\e907");
						padding: 0 1px;
					}
				}
				//Change compare icon
				&.tocompare{
					&:before{
						.icon_custom_font("\e927");
					}
				}
				//Quickview icon
				&.link-quickview{
					&:before{
						.icon_custom_font("\e926");
						font-size: 2.3rem;
						vertical-align: top;
					    display: inline-block;
					    font-weight: normal;
					    overflow: hidden;
					    speak: none;
					    text-align: center;
					    line-height: 1;
					    top: 0;
					}
				}
				// Cart icon
				&.showcart{
					&:before{
						.icon_custom_font("\e906");
						font-size: 2rem;
					}
				}
				&:hover{
					&:before{
						color: @link__hover__color;
					}
				}
			}
		}
	}
}

//Category page
//=========================================
& when (@media-common = true) {
	.catalog-category-view{
		.breadcrumbs{
			margin-bottom: 6rem;
			@media only screen and (max-width: (@screen__m - 1)){
			 	margin-bottom: 0;
			}
		}
	}
	// Hide compare in product grid 
	.toolbar.toolbar-products + .products-grid,
	.toolbar.toolbar-products + .block + .products-grid,
	.block.crosssell,
	.search.results{
		.product-item .product-item-info .actions-secondary .action.tocompare{
		 	display: none;
		 }
	}
	//Product grid
	.products-grid{
		.product-items{
			&:not(.owl-carousel){
				.lib-css(border-left, @border-width__base solid @border-color__base);
			}
			&.owl-carousel{
				.owl-item{
					&:hover{
						z-index: 2;
					}
				}
				.first-active-item{
					position: relative;
					&:before{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						z-index: 1;
						.lib-css(border-left, @border-width__base solid @border-color__base);
					}
				}
			}
			.item-row,
			.group-rows-fixed-supper-deal{
				.product-item{
					&:first-child{
						margin-top: 0;
					}
				}
			}
			.product-item{
				.lib-css(border-top, @border-width__base solid @border-color__base);
				.lib-css(border-right, @border-width__base solid @border-color__base);
				.lib-css(border-bottom, @border-width__base solid @border-color__base);
				margin-top: -1px;
				.product-reviews-summary{
					.reviews-actions {
						.action.view{
							border: 0;
							padding: 0;
							margin: 0;
							position: relative;
							top: -1px;
							&:before{
								content: '(';
								margin-right: -2.5px;
							}
							&:after{
								content: ')';
								margin-left: -2.5px;
							}					
						}
						span{
							font-size: 0;
						}
					}
				}				
			}
			.product-item-info {
				padding: 2rem 2rem 1.4rem;
				position: relative;
				.actions-primary,
				.field.choice.related{
					.action.tocart,
					label {
						.lib-button-reset();
						font-size: 0;
						&:before{
							.icon_custom_font("\e906");
							font-size: 2rem;
						}
					}
					&:hover{
						.action.tocart,
						label{
							&:before{
								color: @color-white;
							}
						}
					}
				}
				// Check box add cart in related
				.product-item-details{
					.field.choice.related{
						.label{
							&:before{
								.icon_custom_font("\e906");
								font-size: 2rem;
							}
						}
					}
				}

			}			
		}
	}
	//Product list
	.toolbar-products + .products.wrapper.list{
		margin-top: 2rem;
	}
	.products.wrapper.list{
		.products.list.items.product-items{
			&:not(.owl-carousel){
				.product-item-photo{
					max-width: 320px;
				}
				.product-item-name, 
				.product.name a{
					font-size: 1.8rem;
				}
				.product-item-description{
					table{
						tr{
							th, td{
								padding: 0;
							}
							th{
								width: 1%;
								padding-left: 0;
								padding-right: 1rem;
								white-space: nowrap;
								font-weight: @font-weight__semibold;
								color: @heading__color__base;
							}
						}
					}
				}
				.product-item-actions{
					.action{
						&.link-quickview{
							display: none;
						}
						&.tocart{
							padding-top: 1.2rem;
							padding-bottom: 1.2rem;
							.lib-css(text-transform, @button__text_transform);
							margin-bottom: 1rem;
							&:not(:hover){
								color: @greycolor;
							}
						}
						&.towishlist,
						&.tocompare{
							width: 4.4rem;
							height: 4.4rem;
							display: inline-flex;
							.flex-center();
							.lib-css(border-radius, @button__border-radius, @_prefix: 1);
						}
						&.towishlist{
							margin: 0 0 1rem 1rem;
						}
						&.tocompare{
							margin: 0 0 1rem 0.8rem;
						}
						&.tocart,
						&.tocompare,
						&.towishlist{
							&:not(:hover){
								background: #e6e6e6;
							}
							&:hover{
								background: @button__hover__background;
								&:before{
									color: @button__hover__color;
								}
							}
						}
					}
				}
				margin-top: 0;
				.product-item{
					.lib-css(border, @border-width__base solid @border-color__base);
					margin-bottom: 0;
					padding: 1.5rem;
					&:not(:last-child){
						border-bottom: 0;
					}
					.product-item-details{
						padding: 2.5rem 1.5rem 2rem 3rem;
					}
				}
			}
		}
	}
}
// Hover action
& when (@media-common = true) {
	//Product grid
	.products-grid{

		.product-items{
			.product-item{
				position: relative;
				.product-item-photo {
					line-height: 1;
					overflow: hidden;
					.product-image-photo{
						.transition();
					}
				}
				.actions-primary,
				.actions-secondary,
				.field.choice.related{
					opacity: 0;
					visibility: hidden;
					.transition();
				}
				.actions-primary,
				.field.choice.related{
					position: absolute;
				    bottom: -2px;
				    right: 0;
				    width: 3.6rem;
				    height: 3.6rem;
				    background: @theme__color__primary;
				    .border_radius(50%);
				    display: inline-flex;
				    .flex-center();
				}
				.actions-primary{
					@transform: scale(0.4);
					.lib-css(transform, @transform, @_prefix: 1);
				}
				.actions-secondary{
					@box-shadow: 0 0 6px rgba(0,0,0,.2);
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					@transform: translateY(100%);
					.lib-css(transform, @transform, @_prefix: 1);
					position: absolute;
					bottom: -3rem;
					left: -2.1rem;
					right: -2.1rem;
					-webkit-transform: translateY(100%);
					-ms-transform: translateY(100%);
					-o-transform: translateY(100%);
					background: @color-white;
					padding: 0.8rem 2rem;
					z-index: 2;
					.flex();
					align-items: center;
					flex-direction: row-reverse;
					.space-between();
					.action{
						flex: 1;
						&:before{
							margin-right: 3px;
							position: relative;
							top: -2px;
						}
						&:not(:hover){
							color: @text__color;
						}
						&.link-quickview{
							text-align: left;
						}
						&.towishlist{
							text-align: right;
							&:before{
								font-size: 1.8rem;
							}
							span{
								font-size: @font-size__base;
								.lib-reset-width();
							}
						}
					}
						 
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 2rem;
						right: 2rem;
						background-color: @color-white;
						.lib-css(border-top, @border-width__base solid @border-color__base);
					}
				}	
				&:hover{
					.product-item-photo{
						.product-image-wrapper,
						.image0.image-switch{
							.product-image-photo{
								@transform: scale(1.1);
								.lib-css(transform, @transform, @_prefix: 1);
							}
						}
					}
					.product-item-info{
						z-index: 3;
						&:before{
							display: block;
						    position: absolute;
						    content: '';
						    top: -1px;
						    bottom: -1px;
						    left: -1px;
						    right: -1px;
						    background-color: @color-white;
						   	@box-shadow: 0 0 6px rgba(0,0,0,.2);
							.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						    z-index: -1;
						}
					}
					.actions-secondary::after{
						display: block;
					    position: absolute;
					    content: '';
					    bottom: 100%;
					    left: 0;
					    right: 0;
					    height: 6px;
					    background-color: @color-white;
					}
					.actions-primary,
					.actions-secondary,
					.field.choice.related{
						opacity: 1;
						visibility: visible;
					}
					.actions-secondary{
						bottom: -1.4rem;
					}
					.actions-primary{
						@transform: scale(1);
						.lib-css(transform, @transform, @_prefix: 1);
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: 1px 1px 6px rgba(0,0,0,.2);
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
		//Product grid
	.products-grid{
		.product-items{
			.product-item{
				.actions-secondary{
					.action{
						&.towishlist,
						&.link-quickview,
						&.tocompare{
							span{
								font-size: 0 !important;
							}
						}
						&.tocompare{
							text-align: left;
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.products.list.items.product-items{
			&:not(.owl-carousel){
				.product-item{
					display: block;
					.product-item-info{
						width: auto;
						> *{
							display: block;
						}
					}
					.product-item-photo{
						max-width: 100%;
						width: auto;
						padding: 0 !important;
						.product-image-container{
							width: auto !important;
						}
					}
					.product-item-details{
						padding-left: 0 !important;
						.action{
							&.tocart{
								padding-left: 2rem;
								padding-right: 2rem;
							}
						}
						.reviews-actions{
							.action{
								&.view{
									border-right: 0;
								}
								&.add{
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
/* Product detail page Gobal style */
& when (@media-common = true) {
	.catalog-product-view{
		.breadcrumbs{
			margin-bottom: 4rem;
		}
	}
	//Change product name size
	.product-info-main {
		.product.attribute.sku{
			margin-bottom: 3px;
		}
		.page-title-wrapper {
			margin-bottom: 3px;
			margin-top: 0;
			.page-title{
				font-size: 1.8rem;
				.lib-css(font-family, @font-family__base);
			}
		}
		.stock {
            &.available,
            &.unavailable {
                font-size: 1.3rem;
                color: @heading__color__base;
                &:before{
					color: @text__color;
                }
            }
        }
        .product.attribute.overview{
         	border: @border-width__base solid @border-color__base;
         	border-width: @border-width__base 0;
         	padding: 1.3rem 0;
         	margin-bottom: calc(@indent__base + 8px);
         	table{
         		th, td{
         			padding: 0;
         		}
         	}
        }
        .box-tocart{
        	.action.tocart{
        		.disabled{
        			&:before{
        				position: relative;
        				top: 2px;
        			}
        		}
        	}
        }
        // Share link
        .share-dialog{
        	margin: 2rem 0 1.5rem;
        	a{
        		.icon{
        			color: @color-white;
        			border-radius: 3px;
        			padding: 7px 10px;
        			display: inline-flex;
        			justify-content: center;
        			align-items: center;
        			.lib-font-size(16);
        			.text{
        				margin-left: 1rem;
        				font-family: @font-family__base;
        				text-transform: capitalize;
        				font-size: @font-size__base;
        			}
        			&.fa-facebook-f{
        				background: #3b5998;
        			}
        			&.fa-twitter{
        				background: #1da1f2;
        			}
        		}
        		&:not(:last-child){
        			margin-right: 1rem;
        		}
        	}
        }
        .product-options-wrapper{
			.swatch-opt{
				.swatch{
					&-attribute {
						.flex();
						flex-wrap: wrap;
						align-items: center;
	            		&-label {
	            			margin-bottom: 1rem;
	            			margin-right: 1rem;
							font-weight: @text-weight;
							color: @darkcolor;
							&:after{
								content: ":";
							}
	            		}
	            		&:not(:last-child){
	            			margin-right: 3.5rem;
	            		}
	            		&.sizes{
	            			.text{
            				    background: transparent;
							    border: 0;
							    text-transform: capitalize;
							    font-weight: @text-weight;
							    padding: 0;
							    font-size: @font-size__base;
							    &:not(:hover){
							    	color: @text__color;
							    }
							    &.selected{
							    	color: @link__hover__color;
							    }
	            			}
	            		}
	            		&.color{
	            			.color{
	            				min-width: 2.6rem;
	            				min-height: 2.6rem;
	            			}
	            		}
	            	}
	            }
	            div.mage-error[generated]{
					margin-top: -1.3rem;
				}
			}
		}
		.product-addto-links {
			.action{
				&.towishlist{
					&:before{
						.icon_custom_font("\e907");
					}	
				}
				&.tocompare{
					&:before{
						.icon_custom_font("\e927");
					}	
				}
			}
		}
		.product-category{
			padding-top: 1.3rem;
			margin-top: 1.3rem;
			.lib-css(border-top, @border-width__base solid @border-color__base);
			a{
				&:not(:hover){
					color: @text__color;
				}
			}
		}
	}
}
//Blog post 
//===============================================
& when (@media-common = true) {
	//Blog gobal style
	.post-category-name{
		display: inline-block;
		background: @theme__color__primary;
		padding: 0.1rem 1.6rem;
		margin-bottom: 1.5rem;
		label{
			display: none;
		}
		a{
			color: @button__color;
		}
	}
	.blog-post-thumb{
		position: relative;
		.time-conment{
			position: absolute;
			left: 0;
			top: 1rem;
			background: @color-white;
			display: inline-block;
			text-transform: uppercase;
			font-size: 1.5rem;
			color: @primary__color__darker;
			padding: 0.8rem 2rem 0.8rem 1.2rem;
			.border_radius(@button__border-radius);
			border-top-left-radius: 0;
    		border-bottom-left-radius: 0;
			
		}
	}
	//Category view
	.post-list-wrapper{
		.blog-post-info{
			border: @border-width__base solid @border-color__base;
			border-top: 0;
			padding: 3rem 1.8rem;
			position: relative;
			background: @color-white;
			.post-title{
				font-size: 2rem;
			}
			.post-category-name{
				position: absolute;
				top: 0;
				left: 1.8rem;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
			}
			.post-readmore{
				&.btn{
					&:not(:hover){
						background: @second_button_bg;	
						color: @second_button_color;					
					}
				}
			}
		}		
	}
	//Post view
	.blog-post-view{
		.blog-post-thumb{
			margin-bottom: 1.8rem;
		}
		.post-holder{
			> .blog-post-info{
				.margin_gobal_value();
				hr{
					margin-top: 1.2rem;
				}
				h2{
					margin-bottom: 1.2rem;
				}
				strong{
					font-weight: @heading__font-weight__base;
				}
			}
		}
		.block.comments,
		.block.related{
			margin-bottom: 0;
			.post-list-wrapper {
				margin-bottom: 0;
				.blog-post-thumb{
					margin-bottom: 0;
				}
			}
		}
	}
}

//
// ===============================
// CMS PAGE
//
//Contact us
& when (@media-common = true) {
	.section.page-main{
		.col-contact{
			flex: 1;
			padding: 0 1.5rem;
			p{
				margin-bottom: 1rem;
			}
		}
	}
	.panel-group{
		padding-top: 1.2rem;
		border-top: 2px solid @border-color__base;
	}
}
//Desktop style
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.contact-us{
		> div{
			&:first-child{
				padding-right: 3rem;
			}
			&:last-child{
				padding-left: 3rem;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.form.contact{
		.row.field{
			flex-wrap: nowrap;
		}
	}
}
//About us
& when (@media-common = true) {
	.cms-about-us{
		.breadcrumbs{
			display: none;
		}
	}
	// Banner top
	.banner-about-top{
		&.absolute-content{
			position: relative;
			overflow: hidden;
			.content{
				.flex();
				.flex-center();
				flex-direction: column;
				h1{
					margin-bottom: @font-size__base;
				}
				.action-more{
					margin-top: 0.8rem;
					.btn{
						.small_button_padding();
						margin: 0 1rem;
					}
				}
			}
		}
	}
	//Online store
	.online-store{
		background: @color-white;
		margin: 0;
		.lib-css(box-shadow, @custom_shadow, @_prefix: 1);
		padding: 5.2rem 0 3rem 3.7rem;
		.online-content{
			margin-bottom: 1.5rem;
		}
		.border_radius(12px);
		.amount, h3{
			margin-bottom: 0.7rem;
		}
	}
	//how-it-work
	.how-it-work{
		margin-bottom: 4.5rem;
		.row{
			max-width: 1360px;
			margin: auto;
			margin-top: 4rem;
		}
		.col-content{
			.lib-css(box-shadow, @custom_shadow, @_prefix: 1);
			padding: 0 4.5rem 6.5rem;
			margin: 0 1.5rem 2.5rem;
			h3{
				margin: 0 0 2.4rem;
			}
		}
	}
	.precentation{
		margin-bottom: 4.5rem;
	    .col-content{
	    	margin-bottom: 2.5rem;
	    	h4{
	    		margin-top: 1rem;
	    	}
	    }
	}
	.creative{
		.title{
			margin-bottom: 2.6rem;
			h2{
				margin-bottom: 0;
			}
			p{
				margin-bottom: 1.8rem;
			}
		}
		.col-img{
			margin-right: 2rem;
			margin-top: 1rem;
			flex: 0 0 15%;
		}
		.col-content{
			flex: 1;
			p{
				&:not(:last-child){
					margin-bottom: 0;
					color: @heading__color__base;
				}
			}
		}
		.team-work{
			margin-top: 1.2rem;
		}
	}
	.our-team{
		.col-infor{
			margin-top: 2rem;
			h3{
				margin-bottom: 1rem;
			}
		}
	}
	.connect{
		margin-bottom: 0;
		p{
			margin-bottom: 1.2rem;
		}
		hr{
			margin: 1.2rem 0;
		}
	}
	[style*="background: #f5f5f5"]{
		padding: 5rem 0 6rem;
	}
	.cms-about-us {
		.page-footer{
			margin-top: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	//Banner top
	.banner-about-top{
		img{
			width: 100%;
		}
		&.absolute-content{
			position: relative;
			.content{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
	}
	[style*="background: #f5f5f5"]{
		
		box-shadow: 1000px 0 @color-white-smoke, -1000px 0 @color-white-smoke;
	    -webkit-box-shadow: 1000px 0 @color-white-smoke, -1000px 0 @color-white-smoke;
	    -moz-box-shadow: 1000px 0 @color-white-smoke,-1000px 0 @color-white-smoke;
	    -ms-box-shadow: 1000px 0 @color-white-smoke,-1000px 0 @color-white-smoke;
	    -o-box-shadow: 1000px 0 @color-white-smoke,-1000px 0 @color-white-smoke;
	}
	//Online store
	.about-top{
		p{
			padding-right: 10%;
		}
		.about-left{
			z-index: 2;
		}
	}
	//how-it-work
	.how-it-work{
		.sm-4{
			padding: 0 3rem;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	// Banner about-us
	.banner-about-top{
		img{
			width: auto;
		    min-width: 100%;
		    max-width: 1000vw;
		    position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&.absolute-content{
			position: relative;
			.content{
				padding: 30px 15px;
				position: relative;
			}
		}
	}
	[style*="background: #f5f5f5"]{
		box-shadow: 600px 0 @color-white-smoke, -600px 0 @color-white-smoke;
	    -webkit-box-shadow: 600px 0 @color-white-smoke, -600px 0 @color-white-smoke;
	    -moz-box-shadow: 600px 0 @color-white-smoke,-600px 0 @color-white-smoke;
	    -ms-box-shadow: 600px 0 @color-white-smoke,-600px 0 @color-white-smoke;
	    -o-box-shadow: 600px 0 @color-white-smoke,-600px 0 @color-white-smoke;
	}
	.creative{
		.flex-layout{
			flex-direction: column;
		}
		.col-img{
			flex: unset;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	[style*="background: #f5f5f5"]{
		box-shadow: 300px 0 @color-white-smoke, -300px 0 @color-white-smoke;
	    -webkit-box-shadow: 300px 0 @color-white-smoke, -300px 0 @color-white-smoke;
	    -moz-box-shadow: 300px 0 @color-white-smoke,-300px 0 @color-white-smoke;
	    -ms-box-shadow: 300px 0 @color-white-smoke,-300px 0 @color-white-smoke;
	    -o-box-shadow: 300px 0 @color-white-smoke,-300px 0 @color-white-smoke;
	}
}
