// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables
@page__background-color: #fff;
@margin_gobal_value: 10rem;
@background-banner: #faf1eb;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold;
@font-family-name__base: 'Open Sans'; 
// Color
@theme__color__primary: #ef4646;
@color__table__product: #b7b7b7;
 
// Topbar
@topbarbg: #111111;
@topbarcolor: @color-white;

// Header
@header__background-color: @color-white;
@header-border-color: #ebebeb;

@header_sticky_bg: @header__background-color;

@navigation-desktop-level0-item__color: #333333;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 2px;

// Navigation
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.6rem;

//Level 0
@navigation-desktop-level0-item__color: #333333;

@navigation-level0-item__text-transform: capitalize;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: @font-weight__bold;

// Level 1
@level1_color: #222222;
@bg__newletter: #0d0d0d;
/* footer */
@footer-title-color: #222222;
@footer-title-font-size: 1.9rem;
@footer-title-font-weight: bold;
@footer-title-transform: capitalize;
@footer__background-color: #fff;
@footercolor: #888888;
@footer-border-color: #e5e5e5;
@footer_bottom_color: @greycolor;



@social_link_bg: #262626;
@date__month: #222222;
//Module variables
@module_margin_bottom: 3rem;
@module_title-size: 3.6rem;

// Product
@product-name-link__color: #222;
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;
@second_button_color: @color-white;

// Button
@color_button_banner: #222222;
@second_button_bg: @theme__color__primary;
@second_button_color: @color-white;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;
//Button variable
@button__border-radius: 0;
@button__color: @color-white;
//  Input in form
//  ---------------------------------------------


// Slider banner

@nivo-controlNav-bg: #c7c6c2;
@nivo-controlNav-postion: left;

// Custome variables

@background__shipping : #e0e9f1;
// Vertical thumb image

@category_name_position: relative;
// Supper deal module

.icon_header() {
    font-size: 2.6rem;
    line-height: 3rem;
    position: relative;
}


// Change gobal style


//Custome style 
& when (@media-common = true){
    body{
        .show-product-mode-grid , .grid , .products-grid{
            .product-item{
                .product-item-info{
                    .product-item-details{
                        position: static;
                    }
                }
            }
        }
        .products-grid {
            .product-items.owl-carousel{
                .owl-stage-outer .first-active-item:before{
                   display: none;
                }
            }
            .product-items:not(.owl-carousel){
                border: none;
            }
        }
        .header-container.sticky{
            .action-sticky{
                .minicart-wrapper{
                    .action.showcart{
                        .counter.qty{
                            color: @color-white;
                        }
                    }
                }
                li {
                    .counter.qty{
                        color: @color-white;
                    }
                }
            }
        }
        .primary-menu-container{
            .navigation{
                li.level0.parent{
                    .submenu{
                        margin-top: 0 !important;
                    }
                    .subchildmenu {
                        .subchildmenu{
                            margin-top: 0 !important;
                        }
                    }
                }
            }
        }
        .wrapper-the-blue-sky-slider{
            .nivo-directionNav{
                a{
                    border-radius: 100%;
                    &::before{
                        content: '\e624';
                        font-size: 18px;
                        color: @color-white;
                    }
                    &.nivo-nextNav{
                        @media only screen and (max-width: (@screen__xs - 1)){
                            right: 10%;
                        }
                        &:before{
                            transform: rotate(0);
                            -webkit-transform: rotate(0);
                            -moz-transform: rotate(0);
                        }
                    }
                    &.nivo-prevNav{
                        @media only screen and (max-width: (@screen__xs - 1)){
                            left: 10%;
                        }
                        &:before{
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

// Product Grid tab

& when (@media-common = true){
    .product.attribute.overview, .product-item-description{
        ul{
            list-style: none;
            padding: 0;
        }
        table{
            tbody{
                tr{
                    th{
                        p{
                            margin: 0;
                        }
                    }
                    td{
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .cms-index-index{
        .products-grid{
            margin: 0;
        }
    }
    body{
        .products-grid {
            margin-bottom: 0;
            margin-left: -15px;
            margin-right: -15px;
            .product-items {
                margin-bottom: 0;
                &.owl-carousel .owl-stage-outer .first-active-item{
                    border: none;  
                }
                .product-item{
                    border: none;
                    margin-top: 0;
                    @media only screen and (max-width: (@screen__xs - 1)){
                        margin-bottom: 4rem;
                    }
                    &:hover{
                        .product-item-info{
                            &::before{
                                box-shadow: none;
                            }
                            .product-item-details{
                                .product-reviews-summary{
                                    visibility: hidden;
                                    @media only screen and (max-width: (@screen__xs - 1)){
                                        visibility: visible;
                                    }
                                }
                                .product-item-actions{
                                    .actions-secondary{
                                        right: 3.52rem!important;
                                        &::after{
                                            height: 0;
                                        }
                                    }
                                    .actions-primary{
                                        @transform: translateY(-55px);
                                        .lib-css(transform, @transform, @_prefix: 1);
                                        right: 2rem;
                                        @media only screen and (max-width: @screen__s){
                                            @transform: translateY(-40px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                        @media only screen and (max-width: (@screen__xs - 1)){
                                            @transform: translateY(-15px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-item-photo{
                        line-height: 0;
                    }
                    .product-item-info{
                        padding: 0.5rem 1.5rem 4.4rem;
                        @media only screen and (max-width: (@screen__s - 1)){
                            padding: 0.5rem 1.5rem 0;
                        }
                        &::before{
                            display: none;
                        }
                        .product-item-details{
                            margin-top: 1.5rem;
                            .product-reviews-summary{
                                display: inline-flex;
                                float: right;
                                height: 25px;
                                margin: 0;
                                @media only screen and (max-width: (@screen__xs - 1)){
                                    float: none;
                                    width: 100%;
                                }
                                .action.view{
                                    transition: all 0s;
                                    -webkit-transform: all 0s;
                                    -moz-transform: all 0s;
                                }
                            }
                            .product-item-actions{
                                .actions-primary{
                                    .tocart-form{
                                        .action.tocart{
                                            &::before{
                                                content: "\e92e";
                                                font-size: 1.6rem;
                                            }
                                        }
                                    }
                                }
                                .actions-secondary{
                                    top: 2.05rem;
                                    left: auto;
                                    right: -4rem;
                                    bottom: auto;
                                    display: block;
                                    transform: translateY(0);
                                    -webkit-transform: translateY(0);
                                    -moz-transform: translateY(0);
                                    -ms-transform: translateY(0);
                                    background-color: transparent;
                                    -webkit-box-shadow: none;
                                    -moz-box-shadow: none;
                                    -ms-box-shadow: none;
                                    box-shadow: none;
                                    padding: 0;
                                    font-size: 0;
                                    .transition();
                                    .action.towishlist{
                                        margin-bottom: 1rem;
                                        a{
                                            &::before{
                                                content: '\e92f';
                                            }
                                        }
                                        span{
                                            font-size: 0;
                                            margin: 0;
                                        }
                                    }
                                    a{
                                        width: 40px;
                                        height: 40px;
                                        .flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 100%;
                                        background: #fff;
                                        box-shadow: 0 1px 2px rgba(0,0,0,.2);
                                        &.tocompare{
                                            display: none;
                                        }
                                        &::before{
                                            margin: 0;
                                            font-size: 1.5rem;
                                            line-height: 1;
                                        }
                                        &.link-quickview{
                                            &::before{
                                                content: "\e930";
                                                padding: 2px;
                                            }
                                        }
                                    }
                                }
                                .actions-primary{
                                    right: 2rem;
                                    transform: translateY(-30px);
                                    .action.tocart{
                                        &:hover{
                                            color: @color-white;
                                        }
                                        &:before{
                                            content: "\e92e";
                                            font-size: 1.6rem;
                                        }
                                    }
                                }
                            }
                            .product-item-name{
                                display: inline-flex;
                            }
                        }
                        .product-label.onsale{
                            color: @color-white;
                            background-color: @topbarbg;
                            left: 3.5rem;
                            right: auto;
                            .value{
                                font-size: 1.3rem;
                            }
                        }
                       .product-label.newlabel{
                            right: 3.5rem;
                            background-color: #4c3ab7;
                            left: auto;
                            span{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Header
& when (@media-common = true){
    .cms-index-index{
        .page-header{
            position: absolute;
            width: 100%;
            background-color: transparent;
            @media only screen and (max-width: @screen__l){
                position: relative;
                background-color: @color-white;
            }
            .navigation{
                background-color: transparent;
                @media only screen and (max-width: (@screen__l - 1)){
                    background-color: @color-white;
                }
            }
        }
    }
    .header-container {
        .header.sticky-header{
            padding: 25px 0;
            .header.panel{
                max-width: 1610px;
                margin: 0 auto;
                position: relative;
            }
            .col-action{
                li {
                    &.action-search{
                        margin: 0;
                    }
                    .counter.qty{
                        top: 5px;
                        left: auto;
                        right: 0;
                    }
                }
                .minicart-li-content-show-hide{
                    margin-left: 0;
                    .counter.qty{
                        top: 0px !important;
                        font-size: 1.1rem;
                        min-width: 1.9rem;
                        min-height: 1.9rem;
                        color: @color-white;
                    }
                }
                .minicart-wrapper{
                    margin-left: 0;
                    .action.showcart{
                        .counter.qty{
                            top: 5px;
                            left: auto;
                            right: 0;
                        }
                    }
                }
                .action-header{
                    align-items: center;
                    .block-search{
                        line-height: 1;
                        padding-right: 10px;
                        .main-icon-search{
                            font-size: 2.5rem;
                            &::before{
                                color: @level1_color;
                            }
                        }
                    }
                    .block-search{
                        position: static;
                        .dropdown {
                            .top-search{
                                .text{
                                    display: none;
                                }
                            }
                            .form.minisearch{
                                left: auto;
                                right: 0;
                                transform: translateY(50%);
                            }
                        }
                    }
                    .link.wishlist{
                        a{
                            &::before{
                                font-size: 2.8rem;
                            }
                            span{
                                top: 0px;
                                font-size: 1.1rem;
                                min-width: 1.9rem;
                                min-height: 1.9rem;
                                color: @color-white;
                            }
                        }
                    }
                }
            }
        }
        .primary-menu-container {
            ul {
                li {
                    .level0.submenu {
                        .subchildmenu {
                            .ui-menu-item {
                                .subchildmenu {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.sticky{
            .sticky-header{
                padding: 1rem 0;
                .col-action{
                    .action-header{
                        .block-search{
                            .dropdown {
                                .form.minisearch{
                                    transform: translateY(22%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
	.wrapper-the-blue-sky-slider{
        .nivo-directionNav{
             a:hover{
                 background-color: #0d0d0d;
             }
        }
        .nivo-controlNav:not(.nivo-thumbs-enabled){
            .nivo-control{
                cursor: pointer;
                height: 0;
                font-family: @heading__font-family__base;
                color: @color__table__product;
                font-size: 2.4rem;
                &.active{
                    color: @heading__color__base;
                    font-size: 3.6rem; 
                }
            }
        }
    }
    &.sticky{
        .sticky-header{
            box-shadow: 0 0 5px 0 rgba(115,115,115,0.5);
            .primary-menu-container{
                .navigation{
                    li.level0.parent{
                        .submenu{
                            margin-top: 10px !important;
                        }
                        .subchildmenu {
                            .subchildmenu{
                                margin-top: 10px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .header-container{
        .header-content{
            .primary-menu-container{
                padding: 0 2rem;
            }
        }
    }
}
// Responsive max-width: 1199px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l){
    .page-header{
        .header-container {
            .header.sticky-header{
                padding: 15px;
                .header{
                    padding: 0;
                }
            }
            .logo-container{
                order: 2;
                width: 100%;
                justify-content: center;
            }
            .primary-menu-container{
                order: 1;
                position: absolute;
            }
            .col-action{
                order: 3;
                position: absolute;
                right: 0;
            }
        }
    }
}

// Responsive max-width: 575px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs){
    .cms-index-index{
        .page-header{
            .header-container {
                .logo-container{
                    order: 1;
                    width: 100%;
                    justify-content: center;
                    padding-bottom: 15px;
                }
                .primary-menu-container{
                    order: 2;
                    position: relative;
                }
                .col-action{
                    position: relative;
                    right: auto;
                    .top-search{
                        padding-right: 8px;
                    }
                }
                &.sticky{
                    .logo-container{
                        display: none
                    }
                }
            }
        }
    }
}


// Top banner

& when (@media-common = true){
    .top__main{
        .flex();
        flex-wrap: nowrap;
        @media only screen and (max-width: (@screen__xs - 1)){
            display: block;
        }
        .banner{
            .content{
                @media only screen and (max-width: (@screen__xs - 1)){
                    text-align: center;
                }
                .title{
                    text-align: left;
                    font-size: 3rem;
                    margin-top: 2rem;
                    margin-bottom: 12px;
                    @media only screen and (max-width: (@screen__xs - 1)){
                        text-align: center;
                    }
                }
                a.link{
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    position: relative;
                    font-weight: bold;
                    color: @heading__color__base;
                    letter-spacing: 2.5px;
                    &::before{
                        content: "";
                        width: 34%;
                        height: 2px;
                        background-color: @theme__color__primary;
                        left: 0;
                        position: absolute;
                        bottom: -7px;
                        @transition: all 0.4s ease;
                        .lib-css(transition, @transition, @_prefix: 1);
                    }
                    &:hover::before{
                        width: 100%;
                        right: 0;
                    }
                }
            }
            img{
                @media only screen and (max-width: (@screen__xs - 1)){
                    width: 100%;
                }
            }
            &.banner-women{
                padding: 0 55px;
                @media only screen and (max-width: (@screen__xs - 1)){
                   padding: 0;
                }
                .title{
                    font-size: 3.6rem;
                }
            }
            &.banner-men{
                @transform: translateY(9%);
                .lib-css(transform, @transform, @_prefix: 1);
                @media only screen and (max-width: (@screen__xs - 1)){
                    @transform: translateY(-9%);
                    .lib-css(transform, @transform, @_prefix: 1);
                }
            }
            &.banner-access{
                @transform: translateY(16%);
                .lib-css(transform, @transform, @_prefix: 1);
                @media only screen and (max-width: (@screen__xs - 1)){
                    @transform: translateY(9%);
                    .lib-css(transform, @transform, @_prefix: 1);
                }
            }
        }
    }
}

// Shipping support

& when (@media-common = true){
    .shipping-support {
        background-color: @background__shipping;
        padding: 5.3rem 0;
        .container{
            .flex-layout{
                justify-content: flex-end;
                align-items: center;
                flex-wrap: nowrap;
                .content{
                    color: @heading__color__base;
                    padding-left: 20px;
                    .size-20{
                        margin: 0;
                        font-weight: bold;
                    }
                    p{
                        font-size: 1.5rem;
                        margin: 0;
                    }
                }
                &:nth-child(1){
                    justify-content: left;
                }
                &:nth-child(2){
                    justify-content: center;
                }
            }
        }
        .col-content{
            .flex();
            justify-content: center;
            @media only screen and (min-width: @screen__m) and (max-width: @screen__l){
               flex: 0 0 25%;
               display: block;
               text-align: center;
            }
            @media only screen and (max-width: @screen__m){
                flex: 0 0 50%;
                max-width: 50%;
                justify-content: end !important;
            }
            @media only screen and (max-width: (@screen__xs - 1)){
                flex: 0 0 100%;
                max-width: 100%;
            }
            &:last-child{
                justify-content: flex-end;
                @media only screen and (max-width: @screen__m){
                    justify-content: center;
                }
                @media only screen and (max-width: (@screen__xs - 1)){
                   margin-bottom: 0;
                }
            }
            &:nth-child(2){
                @media only screen and (max-width: @screen__m){
                    border: none;
                }
            }
            &:first-child{
                justify-content: end;
                @media only screen and (max-width: @screen__m){
                    justify-content: center;
                }
            }
            em{
                &::before{
                    font-size: 4rem;
                }
            }
        }
    }
}


// Add to cart

& when (@media-common = true ){
    .modal-inner-wrap{
        max-width: 580px;
        .photo.image{
            max-width: calc(50% - 1.5rem);
        }
    }
}


// Category tab

& when (@media-common = true){
    .category-tab{
        position: relative;
        .wrapper_category_product_tabs{
            .rokan-title{
                text-align: center;
            }
            .widget-tabs {
                .ui-tabs-nav{
                    display: none;
                }
            }
        }
        .shop-alll{
            position: absolute;
            width: 100%;
            z-index: 2;
            text-align: center;
            bottom: -30px;
            .btn{

                background-color: transparent;
                padding-top: 0;
                color:  @heading__color__base;
                letter-spacing: 2.5px;
                font-size: 1.3rem;
                text-transform: uppercase;
                padding: 6px 0;
                font-weight: bold;
                .flex();
                justify-content: center;
                position: relative;
                display: inline-block;
                &::before{
                    content: "";
                    width: 25%;
                    height: 2px;
                    background-color: @theme__color__primary;
                    position: absolute;
                    bottom: -3px;
                    @transition: all 0.4s ease;
                    .lib-css(transition, @transition, @_prefix: 1);
                    margin: auto;
                    left: 0;
                    right: 0;
                }
                &:hover::before{
                    width: 100%;
                }
            }
        }
    }
}

// Banner bottom

& when (@media-common = true){
    .banner__bottom {
        .banner_content{
            position: absolute;
            width: 100%;
            text-align: center;
            .flex();
            justify-content: center;
            align-items: center;
            height: 100%;
            @media only screen and (max-width: (@screen__s - 1)){
                width: 90%;
                left: 5%;
            }
            .banner__border{
                background-color: @color-white;
                max-width: 570px;
                padding: 7.2rem 6.5rem;
                max-height: 370px;
                position: relative;
                @media only screen and (max-width: (@screen__l - 1)){
                    padding: 2.2rem 1.5rem;
                }
                p.sub-title{
                    color: #d7553b;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 3.5px;
                    margin-bottom: 0.9rem;
                }
                h2.title{
                    font-size: 4.8rem;
                    text-transform: capitalize;
                    margin-bottom: 2.2rem;
                }
                p:not(.size-20){
                    max-width: 450px;
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                }
                a{
                    color:  @heading__color__base;
                    letter-spacing: 2.5px;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    padding: 6px 0;
                    font-weight: bold;
                    display: inline-flex;
                    justify-content: center;
                    position: relative;
                    z-index: 3;
                    &::before{
                        content: "";
                        width: 35%;
                        height: 2px;
                        background-color: @theme__color__primary;
                        position: absolute;
                        bottom: 5px;
                        @transition: all 0.4s ease;
                        .lib-css(transition, @transition, @_prefix: 1);
                    }
                    &:hover::before{
                        width: 100%;
                    }
                }
                &::before{
                    content: "";
                    border: 3px solid @color-white;
                    position: absolute;
                    left: -12px;
                    top: -12px;
                    right: -12px;
                    bottom: -12px;
                }
            }
        }
        .image.col-lg-6{
            padding: 0 !important;
            line-height: 0;
            img{
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

// Blog

& when (@media-common = true){
    .post-list-wrapper{
        .item-post-full{
            .blog-post-info{
                .post-info-bottom {
                    display: none;
                }
            }
        }
    }
    .cms-index-index{
        .block-recent-posts{
            .rokan-title{
                .module-title{
                    text-align: center;
                    line-height: 1;
                    margin-bottom: 4.7rem;
                }
            }
            .post-list-wrapper{
                .blog-list-post{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    @media only screen and (max-width: (@screen__s - 1)){
                        display: block;
                    }
                    .item-post-full{
                        grid-column: ~'2 / 3';
                        padding-left: 5.5vw;
                        margin-bottom: 5rem;
                        @media only screen and (max-width: (@screen__s - 1)){
                           padding-left: 0;
                        }
                        .blog-post-thumb{
                            display: none;
                            @media only screen and (max-width: (@screen__s - 1)){
                                display: block;
                                padding-bottom: 20px;
                             }
                        }
                        .blog-post-info{
                            padding: 0;
                            border: none;
                            .time-conment{
                                color: @color__table__product;
                                line-height: 1;
                                margin-bottom: 1.6rem;
                            }
                            .post-title{
                                font-size: 2rem;
                                line-height: 1.42;
                                max-width: 510px;
                            }
                            .post-info-bottom {
                                display: block;
                                .post-readmore{
                                    background-color: transparent;
                                    color: @heading__color__base;
                                    padding: 0;
                                    position: relative;
                                    font-size: 1.3rem;
                                    letter-spacing: 2.5px;
                                    &::before{
                                        content: "";
                                        width: 35%;
                                        height: 2px;
                                        background-color: @theme__color__primary;
                                        position: absolute;
                                        bottom: -7px;
                                        @transition: all 0.4s ease;
                                        .lib-css(transition, @transition, @_prefix: 1);
                                    }
                                    &:hover::before{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .item-post-full:first-child{
                        grid-column: ~'1 / 2';
                        grid-row: ~"1 / 4";
                        padding: 0;
                        position: relative;
                        .blog-post-thumb{
                            display: block;
                            padding-right: 1.5rem;
                            @media only screen and (max-width: (@screen__s - 1)){
                                padding-right: 0;
                             }
                            a{
                                overflow: hidden;
                            }
                        }
                        .blog-post-info{
                            position: absolute;
                            bottom: -8.5rem;
                            padding: 3.5rem 4rem 3.5rem 4rem;
                            max-width: 510px;
                            @media only screen and (max-width: (@screen__s)){
                                bottom: -3rem;
                            }
                            @media only screen and (max-width: (@screen__s - 1)){
                                position: static;
                                padding: 0;
                            }
                            .post-title{
                                margin-top: 1rem;
                                font-size: 2.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer

& when (@media-common = true){
    #back-top.show{
        z-index: 99;
    }
    .display-fashion4{
        display: none;
    }
    .cms-index-index{
        .page-footer{
            margin: 0;
        }
    }
    .page-footer{
        .footer-static_link {
            .rokan-title{
                 .module-title{
                     margin-bottom: 2rem;
                 }
            }
            .content{
                .newsletter{
                    border-bottom: 2px solid @heading__color__base;
                    .control{
                        justify-content: space-between;
                        align-items: center;
                        .input-focus{
                            input{
                                padding: 0;
                                border: none;
                            }
                        }
                        .actions{
                            .subscribe{
                                background-color: transparent;
                                color: @heading__color__base;
                                padding: 0;
                            }
                        }
                    }
                }
            }

        }
        .footer-container{
            .footer-top{
                border-top: 1px solid @footer-border-color;
                border-bottom: 1px solid @footer-border-color;
                > .footer.content{
                    padding-top: 0;
                    .container-inner{
                        .footer-links{
                            border-right: 1px solid @footer-border-color;
                            padding-top: 6rem;
                            width: calc(~'100% / 4');
                            flex: 0 0 calc(~'100% / 4');
                            padding-bottom: 3.5rem;
                            @media only screen and (max-width: (@screen__s - 1)){
                                width: 100%;
                                flex: 0 0 100%;
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                            .footer-title{
                                margin-top: 1rem;
                                margin-bottom: 2.8rem;
                            }
                            .footer-contents{
                                .style-fashion{
                                    margin-bottom: 1.1rem;
                                }
                            }
                            &:last-child{
                                border: none;
                            }
                            &:nth-child(2){
                                padding-left: 50px;
                            }
                            &:nth-child(3){
                                padding-left: 50px;
                            }
                            &:nth-child(4){
                                padding-left: 35px;
                            }
                            @media only screen and (max-width: @screen__s){
                                padding-left: 15px !important;
                            }
                            .block-newsletter-form{
                                color: @heading__color__base;
                                .module-title{
                                    margin-top: 1rem;
                                }
                                p.rokan-description{
                                    font-size: 1.5rem;
                                    color: @heading__color__base;
                                    margin-bottom: 1.7rem;
                                }
                            }
                            ul{
                                margin-top: 0;
                            }
                            &.not-collapse-mobile{
                                @media only screen and (max-width: (@screen__s - 1)){
                                    margin-bottom: 0;
                                    padding-top: 7.5rem;
                                }

                            }
                        }
                        .section{
                            ul{
                                margin-top: 0;
                            }
                            p{
                                margin-bottom: 1.7rem;
                            }
                        }
                    }
                }
            }
            .footer-bottom{
                margin-top: 0;
                .footer.content{
                    border: none;
                    .container-inner{
                        padding: 13px 0 10px;
                        .footer-contents{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .block.block-search .dropdown .form.minisearch .search-form{
        min-width: 350px !important;
    }
}