<div class="header-container car-part">
	<div class="header panel">
		<div class="flex-layout for-full-width-menu">
			<div class="logo-container">
				<div class="logo-site">
					<?php echo $this->getChildHtml('logo'); ?>
				</div>
			</div>
			<div class="header-content">
				<div class="topbar">
					<div class="topbar-inner flex-layout">
						<div class="col-left d-none d-sm-block">
							<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar-static')->toHtml(); ?>
						</div>
						<div class="col-right col-top-link flex-layout">
							<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
							<div class="col-right col-top-link flex-layout">
								<div class="language-currency">
									<div class="container-setting-language-currency">
										<?php echo $this->getChildHtml("store_language"); ?>  
										<?php echo $this->getChildHtml("currency"); ?>
									</div>		
								</div>
							</div>
							<?php echo $this->getChildHtml("top.links"); ?>
						</div>
					</div>
				</div>
				<div class="header-middle sticky-header"> 
					<div class="sticky-content">
						<div class="flex-layout">
						<?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()){ ?>
							<div class="logo-sticky">
								<a href="<?php echo $block->getUrl('');?>" class="sticky-logo"
								title="<?php echo __('Logo');?>">
									<img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/>
								</a>
							</div>
						<?php } ?>
						<div class="flex-layout space-between center_vertical col-menu-action">
							<div class="primary-menu-container col-left col-menu">
								<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
							</div>
							<div class="col-action col-right action-sticky">
								<div class="flex-layout center_vertical">
									<div class="hotline"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hotline')->toHtml(); ?></div>
									<ul class="flex-layout action-header">
										<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
										<li class="minicart-li-content-show-hide">
											<?php echo $this->getChildHtml('minicart'); ?>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
