// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888; 
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: 500; 
@font-weight__bold: @heading__font-weight__base;
@heading__line-height__base: 1.4;
@heading__color__base: #222222;

@font-family-name__base: inherit;
// Color 
@theme__color__primary: #5b83e8;
@link__hover__color: #5b83e8; 
// Topbar
@topbarbg: #f2f4fa;
@topbarcolor: #222222;

// Header
@header__background-color: @color-white; 
@header-border-color: false;

@headerpadding: 25px;
@header_sticky_bg: @header__background-color;
@header_sticky_border:  #ebebeb;
@header-icons-color: @heading__color__base;
// Top search
@_search-border-color: #ebebeb; 
@_search-border-width: 1px;

// Navigation
@menufont: inherit;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: 500;
@navigation-desktop__font-size: 1.6rem;


//Level 0
@navigation-desktop-level0-item__color: #222222;
@navigation-level0-item__font-family: @heading__font-family__base ;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 15;
@navigation-level0-item__font-weight: 500;

//Level 1
@level1_font_weight: 500;
@level1_font_size: 1.8rem;
@level1_letter_spacing: false;
@level1_color: #222;

// Level 1
@level1_color: @heading__color__base;

/* footer */
@footer-title-color: @heading__color__base;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @heading__font-weight__base; 
@footer-title-transform: capitalize;
@footer__background-color: #f6f6f6;
@footercolor: #666666;
@footer-border-color: #ebebeb;
@footer_bottom_color: #8e9198;
@social_link_bg: #6c90ea;

// Vertical module
@vertical_menu_title_color: @color-white;
@vertical_level0_color: #6e6e6e;
@vertical_level10_size: 15px;
@vertical_level10_padding: 0 3rem;
@vertical_level10_border: 1px solid @border-color__base;
@vertical_level10_desktop_line-height: @navigation-desktop-level0-item__line-height;
@level0_vertical_font_weight: @font-weight__regular;

//Level 1
@level1_vertical_font_weight: @heading__font-weight__base;
@level1_vertical_font_size: 1.8rem;
@level1_vertical_letter_spacing: false;
@level1_vertical_color: @heading__color__base;
//Module variables
//Title
@module_margin_bottom: 2rem;
@module_title_text-align: left;
@margin_gobal_value: 8rem;
@module_title-size: 2.6rem;
// Product
@price_color: #222;
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: @link__hover__color;
@new_label_color: @color-white;

// Button
@second_button_bg: @color-white;
@second_button_color: @link__hover__color;


@checkout-button-bg: @link__hover__color;
@checkout-button-color: @color-white; 
//Button variable
@button__border-radius: 3px; 
@button__color: @color-white;
@button__padding: 12.5px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @color-white;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
// Module Search
@search-form_bg: @color-white;
@action_button_bg: @theme__color__primary;

@form-element-input__border-radius: @button__border-radius;
@timeline-loading-item_bg: #ccc;

@nivo-controlNav-bg: rgba(255,255,255,0.3); 
// Owl dot, owl nav
// owl nav
@owl-nav-bg-width: 36px;
@owl-nav-height: 36px;
@owl-nav-border-radius: 5px;
@owl-nav-color: #999999;
// Control (dot)
@owl-dot-bg: #e1e1e1; 
@owl-dot-width: 7px;
@owl-dot-height: 7px;
@owl-dot-border-radius: 50%;

// Slider heading
@slider_h2_font-size-xxl: 48px;
@slider_h2_font-size-xl: 48px;
@slider_h2_font-size-l: 42px;
@slider_h2_font-size-s: 26px;
@slider_h2_font-size-xs: 24px;
@slider_h2_font-weight: 500;
@slider_h2_letter-spacing: -0.025em;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.1;  

@slider_h5_font-size-xxl: 14px;
@slider_h5_font-size-xl: 14px;
@slider_h5_font-size-l: 14px;
@slider_h5_font-size-s: 14px;
@slider_h5_font-size-xs: 12px; 
@slider_h5_font-weight: @heading__font-weight__base;
@slider_h5_letter-spacing: 2px;
@slider_h5_margin: 20px;

@slider_h4_font-size-xxl: 16px;
@slider_h4_font-size-xl: 16px;
@slider_h4_font-size-l: 16px;
@slider_h4_font-size-s: 14px;
@slider_h4_font-size-xs: 12px;
@slider_h4_letter-spacing: 2px;
@slider_h4_font-weight: @heading__font-weight__base;
@slider_h4_text-transform: uppercase;
@slider_h4_margin: 10px;
@slider_h4_line-height: false;

@slider_h3_font-size-xxl: 18px;
@slider_h3_font-size-xl: 18px;
@slider_h3_font-size-l: 18px;
@slider_h3_font-size-s: 16px;
@slider_h3_font-size-xs: 14px;
@slider_h3_letter-spacing: 0px;
@slider_h3_font-weight: @heading__font-weight__base;
@slider_h3_text-transform: uppercase;
@slider_h3_margin: 20px; 
@slider_h3_line-height: false; 



@slider_p_font-size-xxl: 18px;
@slider_p_font-size-xl: 17px;
@slider_p_font-size-l: 16px;
@slider_p_font-size-s: 14px;
@slider_p_font-size-xs: 12px;
@slider_p_margin: 0;
@slider_p_font-weight: 300;
@slider_p_line-height: 1.6; 

@slider_button_margin-top: 35px;
@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 11px;
@slider_button_padding: 14.5px 45px;
@slider_button_padding-s: 8.5px 25px;
// Supper deal module
@deal_number_bg: false;
@deal_number_font-size: 2.4rem;
@deal_number_width: false;
 @deal_number_color: @heading__color__base;
@banner_deal_number-color: @color-white;
@deal_number_font-weight: @heading__font-weight__base;
// Module Category thumb
//  Variables
//  _____________________________________________

@category-bg-padding: 10rem 0;
@category-name-size: 15px;
@category-name-color: #fff;
@category-name-font-weight: 500;
@line-height_category_name: false;
@category-name-text-transform: uppercase;
// Products count
@img_category_thumb-radius: 5px;
@category_name-padding: 1rem;
@category_name_position: false;
@category-count-size: 14px;
@category-count-color: #888;
@category-count-font-weight: @font-weight__regular;
@category-count-font-style: false;
@category-count-display: block;

// Vertical thumb image



@background-category-thumb: false;
@padding-category-thumb: false;

// Category tab, product tab
//  Variables
//  _____________________________________________
@tabcolor: #6e6e6e;
@tabactive: @theme__color__primary;
// Hozital variable
@category-tab-text-align: right;
@category-tab-name-size: 15px;


// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: 9rem 0;

@banner_deal_number-font-family: @font-family__base;
@banner_deal_number-font-weight: @font-weight__bold;

@title_supper_deal_margin: 0 0 7px;

@sub_title_supper_deal-font-size: 1.4rem;
@sub_title_supper_deal-color: @color-white;
@sub-title_supper_deal_letter-spacing: 2px;
@sub-title_supper_deal_margin: 0 0 5.5rem;
// Title
@title_supper_deal_size: 6rem;
@title_supper_deal_mobile_size: 4rem;

@des_supper_deal_size: 1.6rem;
@des_supper_deal_margin: 0 0 4.2rem;

// Deal product
@banner_deal_number-size: 2.4rem;
@nivo-directionNav-bg: fade(@color-white, 30%);
@owl-dot-bg: fade(#514d51, 10%);
//  _____________________________________________
.border_radius(@_border-radius_base: 5px){
    @_border-radius: @_border-radius_base;
    &{
        .lib-css(border-radius, @_border-radius);
    }
}
// Owl style
& when (@media-common = true) {
	body{
		section, .section, .product.info.detailed, .block.related, .block.upsell,.hot-deal-tab-slider{
	
		@media only screen and (max-width: (@screen__l - 1)){
			
			margin-bottom: 6rem;
		}
		@media only screen and (max-width: (@screen__s - 1)){ 
			margin-bottom: 3rem;
		}
	}
		.owl-carousel,
		.wrapper-the-blue-sky-slider{
			.owl-nav,
			.nivo-directionNav{
				button,
				a{
					.border_radius(5px);
					&:before{
						.icon-font('\f053');
						font-size: 16px;
						display: inline-flex; 
						align-items: center;
						line-height: 1;
					}
					&:hover {
						&:before{
							color: @color-white;
						}
					}
					&:not(:hover){
						&:before{
							color: #999999;
						}
					}
					&.owl-prev,
					&.nivo-prevNav{
						&:not(:hover){
							&:before{
								color: #999999;

							}
						}
						
						&:before{
							transform: none;
						}
						&:hover{
							
							&:after{
								background-color: @link__hover__color;
							}
						}
					}
					&.owl-next,
					&.nivo-nextNav{
						&:before{
							content: '\f054';
							transform: none;
						}
					}
					&:focus{
						box-shadow: none;
					}
				}
			}
			.owl-nav {
				position: absolute;
				top: -5.6rem;
				right: 0;
				background: @color-white;
				padding-left: 2.7rem;
				button {
					position: static;
					transform: none !important;
					margin-left: 3px;
					padding-left: 3rem;
					background: @color-white;
					&:before{
						font-size: 11px;
					}
				}
			}
			.owl-dots,
			.nivo-controlNav{
				.owl-dot,
				.nivo-control{
					&.active{
						background: @theme__color__primary;
					}
				}
			}
			.owl-dots {
				&:not(.disabled){
					.owl-dot {
						&.active,
						&:hover{
							.lib-css(background-color, @theme__color__primary);
						}
						&.active {
							width: 3.5rem;
							.lib-css(border-radius, 30px);
						}
					}
				}
			}
		}
	}	
	
}

// Header
& when (@media-common = true) {
	.header-container .header.links li.authorization-link {
	    white-space: nowrap;
	    a{
	    	&:before {
    		    vertical-align: -1px;
	    	}
	    }
	}
		
	.header-container.sticky .sticky-header > div, .header-container.sticky.sticky-header > div{
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}
	.page-header {
		.header-container {
			&:not(.sticky){
				.header-middle {
					.lib-css(padding-top, @headerpadding);
					.lib-css(padding-bottom, @headerpadding); 
					position: relative;
    				z-index: 99;
    				@media only screen and (max-width: (@screen__xs - 1)) {
						.lib-css(padding-top, 15px);
						.lib-css(padding-bottom, 5px);
					}
				}
			}
			&.sticky .sticky-header > div > div {
			  position: static;
			  
			}
			@media only screen and (max-width: (@screen__l - 1)) {
				.sticky-header{
					.logo-container{
						flex: 1;
					}
					.primary-menu-container {
					    margin-right: 1.5rem;
					}
				}
			}
			@media only screen and (max-width: (@screen__xs - 1)) {
				.sticky-header{
					.logo-container{
					    flex: 0 0 100%;
					    max-width: 100%;
					    justify-content: center; 
					    margin-bottom: 1.5rem;
					}
					.for-full-width-menu {
					    flex-wrap: wrap;
					}
				}
			}
			.header-middle{
				padding-left: 3rem;
				padding-right: 3rem;
				@media only screen and (max-width: (@screen__l - 1)){ 
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}
			}
			.col-action {
				.minicart-wrapper .action.showcart,
				li {
					.counter.qty{
						color: @color-white;
						font-size: 1.1rem;
						min-width: 2rem;
						min-height: 2rem;
						top: 3px;
    					right: 3px;
    					.total-mini-cart-item{
    						position: relative;
    						top: -1px;
    					}
					}
					> a{
						&:before{
							font-size: 2.7rem;
						}
					}
				}
				 .action-header > li {
			 	    margin: 0 1.5rem;
			 	    &:last-child {
					    margin-right: 0;
					}
				 	.minicart-wrapper {
					 	margin-left: 0;
					 	>a{
						 	&:before{
								font-size: 2.6rem;
							}
						}
						.counter.qty{
							right: 5px !important;
	    					top: 5px !important;
						}
					}
				}
			}

			.block.block-search {
				position: static;
				font-size: 1.4rem;
				.dropdown{
					.top-search{
						color:  @header-icons-color;
						
						i{
							.lib-font-size(23);
							line-height: 4rem;
    						font-size: 2.3rem;
						}
					}
					.form.minisearch{
						right: 0;
						.searchsuite-autocomplete ul li .qs-option-info .qs-option-price{
							font-weight: @heading__font-weight__base;
						}
					}
				}
			}
			.top-search-not-dropdown{
				flex: 1;
				max-width: 62rem;
				padding: 0 1.5rem;
				.block.block-search {
					.form.minisearch {
						display: block;
   						 position: static;
						input{
							height: 42px;
							padding-left: 1.5rem;
						}
						.actions .action.search{
							.border_radius(50%);
						}
					}
				}
			}
			.col-menu-on-left{
				flex: 1;
				.primary-menu-container{
					padding-left: 3.8%;
				}
			}
			
		}
	}
	.vertical-open,
	.nav-open{
		.page-header {
			.header-container {
				&:not(.sticky){
					.header-bottom{
						position: relative;
						z-index: 333;
					}
				}
			}
		}
	}
	// Vertical
	.verticalmenu.navigation {
		.list-category-dropdown {
			li.level0, 
			.expand-category-link{
				> a{
					text-transform: capitalize;
				}

			}
			li.level0:hover > a{
				color: @color-white !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.navigation li.level0.parent .submenu{
		z-index: 22;
	}
	.navigation li.level0.parent .submenu .mega-columns .level1.parent > a{
		text-transform: capitalize;
	}
	.primary-menu-container{
		padding: 0 2rem;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body{
		.page-header {
			.header-container {
				.top-search-not-dropdown{
					flex: 0 0 100%;
				    max-width: 100%;
				    padding: 0;
				    order: 3;
				    margin-top: 1.5rem;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body{
		.wrapper-the-blue-sky-slider {
			.nivo-directionNav,
			.nivo-controlNav{
				display: none;
			}
		}
		.page-header {
			.header-container {
				.topbar .topbar-inner{
					justify-content: center;
					.col-left{
						display: none;
					}
				}
				.header-content{
					position: relative;
					.header-middle{
						padding: 1.5rem 0;
					}
					.for-full-width-menu{
						position: static;
					}
				}
				&:not(.sticky){
					.header-content{
						position: relative;
						.for-full-width-menu{
							.col-action{
								position: absolute;
								z-index: 2;
								top: 1rem;
								right: 0;
							}
						}
					}
				}
				.col-menu-on-left{
					justify-content: space-between;
					.rokan-vertical-menu{
						margin-left: -1.5rem;
					}
				}
			}
		}
	}
}
/* footer */
& when (@media-common = true) {
	.page-footer {
		@media only screen and (max-width: (@screen__s - 1)){
			margin: 0;
		}
		.footer-top {
			position: relative;
			border-top: 1px solid @footer-border-color; 
			.footer.content {
				padding-top: 6rem;
				padding-bottom: 6rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer-static_link {
			@media only screen and (min-width: 768px) and (max-width: 991px) {
				justify-content: flex-start;
			}
			@media only screen and (min-width: @screen__m){
				flex-wrap: nowrap;
			}
			.footer-title {
				margin-top: 0;
				margin-bottom: 1.8rem; 
			}
			.footer-links-static{
				@media only screen and  (max-width: 1300px) and (min-width: 768px) {
					flex: unset !important;
					max-width: unset !important;
				}
			}
			.not-collapse-mobile{
				.footer-contents{
					@media only screen and (max-width: (@screen__s - 1)){
						display: none;
					}
				}
			}
			.footer-links {
				@media only screen and  (min-width: 768px) and (max-width: 991px) {
					width: 33.33%

				}
				p {
					> span {
						font-size: 2.4rem;
						display: block;
					}
				}
				ul {
					margin-top: 2.4rem;
				}
				&.not-collapse-mobile { 
					 
					img{
						margin: 1.8rem 0 0 0;
					}
					.social-link  {
						justify-content: center;
						margin-top: 2.4rem;
						li {
							&:not(:last-child) {
								padding-right: 0;
							}
							a {
								width: 4rem;
								height: 4rem;
								line-height: 4rem;
								display: block;
								border-radius: 50%;
								background-color: @theme__color__primary;
								text-align: center;
								&:hover {
									-moz-transform: scale(1.1);
									-webkit-transform: scale(1.1);
									-o-transform: scale(1.1);
									-ms-transform: scale(1.1);
									transform: scale(1.1);
								}
								.icon {
									&:hover {
										color: @color-white;
									}
								}
							}
						}
					}
					@media only screen and (max-width: (@screen__m - 1)){
						text-align: left;
						.social-link  {
							justify-content: flex-start;
						}
					}
				}
			}
		}
		.footer.content {
			ul.social-link {
				li{
					&:not(:last-child){
						padding-right: 0.6rem;
					}
					&:not(:first-child){
						padding-left: 0.6rem;
					}
					a{
						.border_radius(50%);
						&:hover{
							background-color: @color-white;
							color: @theme__color__primary;
						}
					}
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			text-align: center;
			.container-inner {
				border-top: 1px solid #e1e1e1;
			    padding: 6rem 0;
			}
			.footer.content {
				.copyright {
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				.hozital-menu {
					text-align: center;
					margin-bottom: 2.5rem;
					ul{
						li:not(:last-child){
							border-right: 1px solid #e1e1e1;
							
						}
						
						li{
							padding: 0 1.5rem;
							@media only screen and (max-width: (@screen__xs - 1)){
								margin-bottom: 10px;
							}
							a{
								text-transform: uppercase;
								font-size: 1.3rem;
								font-weight: @heading__font-weight__base;
								color: @color-white; 
								&:hover{
									color: @link__hover__color;
								}	
							}
						}
					}


					p{
						margin-bottom: 0;
					}
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align: left;
						margin-top: 0.5rem;
					}
				}
				p{
					margin-bottom: 2rem;
				}
			}
		}
		
	}

	// Footer newsletter
	
	.block-newsletter-form{
    	margin-bottom: 0 !important;
    	padding: 0;
    	.newsletter-form{
    		@media only screen and (max-width: (@screen__xs - 1)){
				position: relative;
				width: 100vw;
				left: calc(~'(-1 * (100vw - 100%)/2)');  
				border-radius: 0;
				padding: 4rem 1.5rem; 
			} 
	    	background-color: @link__hover__color;
	    	.border_radius(5px); 
    		.flex();
    		justify-content: space-between;
    		align-items: center;
    		color: @color-white;
    		margin-bottom: 0;
    		padding: 3rem;
    		> .content{
    			flex: 1;
    			width: 100%;
    			@media only screen and (max-width: (@screen__l - 1)) {
    				margin-top: 2rem;
    			}
    		}
    		.rokan-title{
    			margin-bottom: 0;
    			.flex();
    			 align-items: center;
    			flex-wrap: nowrap;
    			position: relative;
    			@media only screen and (max-width: (@screen__xs - 1)) {
				    flex-wrap: wrap;
    			}
    			&:before{
    				.icon_custom_font("\e937");  
    				.lib-font-size(57);
    				line-height: 1;
    			}
    			.module-title{
    				text-transform: capitalize;
    				margin-bottom: 0;
    				color: @color-white;
    				font-weight: @heading__font-weight__base;
    				font-size: 2.6rem;
    				line-height: 1.2;
    				padding-right: 6rem;
    				@media only screen and (max-width: (@screen__m - 1)) {
	    				font-size: 2.1rem;
	    				padding-right: 3rem;
	    			}
    				&:before,
    				&:after{
    					display: none;
    				}
    				span{
    					font-weight: @font-weight__regular;
    				}
    			}
    			.rokan-description{
    				border-left: 2px solid rgba(255,255,255,0.2);
    				padding: 0 6rem;
    				@media only screen and (max-width: (@screen__xs - 1)) {
					   border: none;
					   padding: 0;
					   margin-top: 2rem;
	    			}
    			}
    		}
    		@media only screen and (max-width: (@screen__l - 1)) {
    			flex-direction: column;
    			
		    	.field {
		    		.control{
		    			max-width: 100%;
		    		}
		    	}
    		}
    	}
    }
     .block.newsletter {
    	.field {
    		.control{
    			.input-focus{
    				flex: 1;
    				input{
    					.border_radius(3px);
    					border-top-right-radius: 0;
		    			border-bottom-right-radius: 0;
		    			padding-left: 1.5rem;
		    			border: none;
    				}
    			}
    			.actions{
    				button{
    					background: @heading__color__base;
    					border-top-left-radius: 0;
		    			border-bottom-left-radius: 0;
		    			font-weight: @heading__font-weight__base;
    				}
    			}
			}
		}
	}

}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer{		
		.footer-static_link{
			.footer-links-static{
				flex: 26.5%;
				max-width: 26.5%;
				@media only screen and (max-width: 1300px) {
					flex: unset;
					max-width: unset;
				}
			}
			.footer-links{
				&.not-collapse-mobile{
					padding: 0 3rem;
					position:relative;	
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						border-left: 1px solid #e1e1e1;
					}
					
				}
			}
		}
		
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					
				}
				&:nth-of-type(1),
				&:nth-of-type(2){
					margin-bottom: 3rem;
				}
			}
			.footer-links-static{
				order: 2;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-footer{		
		.footer-newsletter{
			.footer.content{
				flex-direction: column;
			}
		}
		.footer-static_link{
			.footer-links{
				order: 2;
				margin-bottom: 0 !important;
				flex: 0 0 100%;
				max-width: 100%;
				&.not-collapse-mobile{
					
					margin-bottom: 3rem;
				}
			}
		}
		
	}	
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
		// Newsletter
    .block-newsletter-form{
    	.newsletter-form{
    		.rokan-title{
    			padding-left: 8.5rem;
    			text-align: left;
    			&:before{
    				position: absolute;
    				top: 50%;
    				left: 0;
    				@transform: translateY(-50%);      
    				.lib-css(transform, @transform, @_prefix: 1);
    			}
    		}
    		
    	}
    }
    .page-footer {
		.footer-top {
			> .footer.content{
				padding-top: 14rem !important;
			}
			.block-newsletter-form{
				position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    @transform: translateY(-50%);
			    .lib-css(transform, @transform, @_prefix: 1);
			   
			}
		}
	}

}
// Slider
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.nivo-controlNav:not(.nivo-thumbs-enabled) .nivo-control.active, 
		.nivo-controlNav:not(.nivo-thumbs-enabled) .nivo-control:hover{
			background: @color-white; 
		}
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				*.light {
				    font-weight: 300;
				}
				h2{
					&:last-of-type{
						margin-bottom: 2.5rem;
						@media only screen and (max-width: (@screen__m - 1)) {
							margin-bottom: 1.5rem;
							margin: 0;
						}
					}
				}
				
				a{
					font-weight: 500;
					background: @color-white;
					&:hover{
						background: @link__hover__color;
						color: @color-white!important;
					}
				}
				&.left_center {
				   right: 43%;
				   text-align: center;
				   @media only screen and (max-width: (@screen__l - 1)) {
						right: auto;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				.container{

					position: relative;
				}
			}
		}
	}
}
// Banner
& when (@media-common = true) {
	.banner {
		.banner-img{
			border-radius: 5px;
		}
		.col-banner {
			.content { 
				> *{
					line-height: 1.1;
				}
				h6{
					margin-bottom: 2.5rem;
					font-size: 1.4rem;
				}
				.bold{
					font-weight: @heading__font-weight__base;
				}
				.button-wrap {
					a{
						border-bottom: 1px solid;
					}
				}
			}
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.banner {
		.col-banner{
			&.center{
				&.left {
					&.banner-one{
						.content{
							padding-left: 10rem;
							&.bottom {
								padding-left: 6rem;
							}
						}
					}

					
				}
				&.right{
					.content{
						padding-right: 5rem;
						h6{
							margin-top: 0;
						}
					}
				}
			}
			&.col-xl-6{
				&.center{
					&.left {
						.content{
							padding-left: 8%;
						}
					}
				}
				&.right{
					.content{
						padding-right: 8%;
					}
				}
			}
		}
	}
}
& when (@media-common = true) {
	
	.cms-index-index{
	    .page-main{
			.rokan-title {
				overflow: hidden;
				.module-title {
					display: inline-block;
					position: relative;
					margin: 0; 
					&:after {
						content: "";
						border-top: 1px solid @border-color__base;
						position: absolute;
						top: 1.8rem;
						left: calc(~'100% + 30px');
						right: -9999rem; 
						display: none;
					}  
				}
			}
		}
	}

}
/* Hover action */

& when (@media-common = true) {
	div[itemprop="description"],
	.product-item-description{
		p{
			margin: 0; 
		}
		&:after,
		&:before{
			content: '';
			display: table;
			clear: both;
		}
	}
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	.products-grid .product-items .product-item-info .product-item-details .field.choice.related input{
		display: none;
	}
	.product-item .product-label.onsale{
		right: auto;
    	left: 1.5rem;
    	background-color: @theme__color__primary;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		text-transform: capitalize;
		font-weight: 400;
		.border_radius(3px);
		span{
			&.value{
				font-size: 1.2rem;
			}
		}
	}
	.wrapper_product_tabs .products.wrapper.list .product-item .product-label.onsale{
		display: none;
	}
	
	.top-feature{
		.rokan-title .module-title{
			&:after{
				display: block !important;
			}
		}
		.wrapper_product_tabs{
			border: 2px solid @theme__color__primary;
			.border_radius(5px);
			padding: 3rem 3rem 0 3rem;
			.products.wrapper.list .product-items .product-item {
				border: none;
				border-bottom: 1px solid #e6e6e6;
				padding: 2.7rem 0;
				margin: 0;
				@media only screen and (min-width: 1200px) and (max-width: 1399px) {
					padding: 1.9rem 0px;

				}
				&:last-of-type {
					border: none;
				}
			}
		}
	}
	// Remove padding in product owl slider
	.cms-index-index{
		.products-grid{
			.product-items{
				&.owl-carousel{
					margin: 0;
					width: 100%;
					.product-item{
						padding: 0;
					}
				}
			}
		}
	}
	.product-item{
		.special-price,.minimal-price,.price-box {
			.price {
			   .lib-font-size(14);
				font-weight: @heading__font-weight__base;
			}
		}
		.old-price{
			.price {
			    font-weight: @font-weight__regular;
			}
		}
	}
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			&:not(.owl-carousel){
				
			}
			&.owl-carousel .first-active-item:before {
			    z-index: 9;
			}
			&.owl-carousel .owl-stage-outer {
			    padding: 0 1px;
			    margin: 0 -1px;
			}

			.product-item{
				padding: 0 1.5rem; 				
				.product-item-photo {
					line-height: 1;
					margin-bottom: 0;
				}
				.product-item-info {
					position: relative;
					padding: 0;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding: 1rem 1.5rem 2rem 1.5rem;
						position: static;	
						.price-box{
							*{
								.lib-font-size(14);
								font-weight: @heading__font-weight__base;
							}
							.old-price{
								color: #888888;
								.price{
									color: #888888;
									font-weight: @font-weight__regular; 
								}
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						right: 1.5rem;
						bottom: 3.2rem;
						top: auto;
						left: auto;
						background: @theme__color__primary;
						margin: 0;
						.action.tocart,
						label {
							&:before {
								.icon_custom_font("\e92e");
								font-weight: 600;
								font-size: 1.4rem;
								color: @color-white; 
							}
						}
					}
					.field.choice.related{
						&:hover{
							label {
								&:before {
									color: @color-white; 
								}
							}
						}
					}
				}
				.actions-primary,
				.field.choice.related,
				.actions-secondary .action{
					font-size: 0;
				    width: 4rem;
				    height: 4rem;
				    background: @color-white;
					@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.border_radius(50%);
					display: inline-flex;
					.flex-center();
					margin: 0 5px;
					&:before{
						color: @heading__color__base;
						line-height: 4rem;
					}
					&:hover {
						background: @theme__color__primary;
						&:before {
							color: @color-white; 
						}
					}
				}
				
				.actions-secondary{
					box-shadow: none;
					transform: none;
					padding: 0;
					z-index: 2;
					display: inline-flex;
					background: transparent;
					bottom: auto;
					left: auto;
					top: 1.5rem;
					right: 2rem;
					flex-direction: column;
					.action{
						margin: 5px 0;
						&.link-quickview{	
							&:before{
								.icon_custom_font("\e930");
								font-size: 1.4rem;
							}
						}
						&.towishlist{
							&:before{
								.icon_custom_font('\e92f');
								font-size: 1.4rem;
							}
							span{
								display:none;
							}
						}
						&.tocompare{
							&:before{
								font-size: 1.4rem;
							}
							&.loading{
								display: block;
								line-height: 40px;
							}
						}
						&:before{
							margin: 0;
							top: 0;
						}
					}
					&:before,
					&:after{
						display: none !important;
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						bottom: auto;
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.tocompare{
								@animation: zoomIn 450ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
					 @media only screen and (max-width: (@screen__xs - 1)) {
					 	.actions-primary,
					 	.actions-secondary{
					 		display: none;
					 	}
					 }
					
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	.top-bestsellers{
		.wrapper_category_product_tabs{
			.ui-tabs-nav{
				padding: 0;
				justify-content: center;
				li {
		            &.ui-tabs-active,
		            &:hover {
		                a {
		                    text-decoration: underline;
		                }
		            }
		            a {
	                    font-size: 1.6rem;
		            }
		        }
			
				   
				
			}
			
			.rokan-title{
				.module-title{
					font-size: 3rem;
				}
				
				@media only screen and (min-width: @screen__l){
					text-align: center;
					position: static;
				}

			}
		}
	}
}
& when (@media-common = true) {
	.hot-deal-tab-slider {
		.rokan-title{
			text-align: center;
		}
		.countdown_block{
			color: #999999;
			margin-top: 1.5rem;
			padding-top: 1.5rem;
			border-top: 1px solid @border-color__base;
			.count-down-des{
				span{
					.lib-font-size(16);
					color: @theme__color__primary;
					font-weight: @heading__font-weight__base;
				}
			}
		}
		.super-deal-countdown{
			margin: 1rem 0 0 0;
			.time_circles .text {
				.lib-font-size(12); 
			}
			.time_circles>div:not(:last-child) {
				margin-right: 3rem;
				.number:after {
				    content: ":";
				    display: inline-block;
				    color: @heading__color__base;
				    font-size: 2.1rem;
				    font-weight: @font-weight__regular;
				    position: relative;
				    right: -17px;
				    top: 9px;
				}
			}
		}
		.products-grid {
			.product-items {
				.product-item {
					border: 2px solid @theme__color__primary;
					.border_radius(5px);
					padding: 2rem !important;
					@media only screen and (min-width: @screen__xs){
						.product-item-info {
							.flex();
							align-items: center; 
							.product-item-photo,.product-item-details{
							    -ms-flex: 0 0 46%;
							    flex: 0 0 46%;
							    max-width: 46%;
							}
							.product-item-details{
						       flex: 1;
    							max-width: 100%;
    							.product-item-description{
    								margin: 7px 0;
    								font-size: 1.4rem;
    								line-height: 1.7;
    								color: #666666;
    							}
							}
						}
					}
					.product-reviews-summary{
						
					}
					.product-label.onsale{
						background-color: @theme__color__primary;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						text-align: center;
						text-transform: capitalize;
   						font-weight: 400;
   						.border_radius(5px);
						span{
							&.value{
								font-size: 1.2rem;
							}
						}
					}
					.product-item-photo{
						border: 0;
						text-align: center;
					}
					.product-item-details{
						min-height: unset !important;
						position: relative !important;
						padding: 0 2rem;
						.product-item-link{
							.lib-font-size(16);
						}
						.price-box{	
							.price-container{
								.price{
									.lib-font-size(18);
									color: @theme__color__primary;
								}
							}
							.special-price{
								.price{
									.lib-font-size(18);
									color: @theme__color__primary;
								}
							}
							.old-price{
								.price{
									.lib-font-size(18);
									color: #888;
								}
							}
						}
					}
					.actions-primary{
						left: 0;
					    right: 0;
					    z-index: 2;
					    width: 100%;
					    border-radius: 0;
					    bottom: -1rem !important;
					    form,
					    button{
					    	width: 100%;
					    }
					    .action.tocart{
					    	&:before{
					    		font-size: 0;
					    		display: none;
					    	}
					    	span{
					    		.lib-font-size(14);
					    		text-transform: uppercase;
    							font-weight: 700;
					    	}
					    }
					}
					&:hover{
						.actions-primary{
							animation: none;
							bottom: 0 !important;
						}	
					}
				}
			}
		}
	}
	.section{
		.products{
			margin: 0;
		}
		&.full-width {
			.wrapper_sub_category_tabs {
				.category-thumb-section{
					box-sizing: border-box;
				    margin-left: auto;
				    margin-right: auto;
				    max-width: @layout__max-width;
				    width: 95%;
				    padding-left: 15px;
    				padding-right: 15px;
				}
			}
		}
	}

	.wrapper_sub_category_tabs.onlyparent {
		.rokan-title {
			text-align: center;	
			margin-bottom: 3rem;
		}
		.module-title{
			text-align: center; 
			margin-bottom: 3rem; 
			&:before {
			    content: "";
			    border-top: 1px solid rgba(255,255,255,0.1);
			    position: absolute;
			    top: 1.8rem;
			    right: calc(~'100% + 30px');
			    left: -9999rem;  
			}
			&:after {
			    content: "";
			    border-top: 1px solid rgba(255,255,255,0.1) !important;
			    position: absolute;
			    top: 1.8rem;
			    left: calc(~'100% + 30px');
			    right: -9999rem;
			}
		}
		.list-category-item {
			.category-item{
				a {
					.cate-name.cate-count .count{
						text-transform: capitalize;
					}
					&:hover{
						background-color: @theme__color__primary;
						.thumb-infor{
							.cate-name.cate-count{
								span{
									color: @color-white;
								}
							}
						}
					}
				}
			}
		}

	}

	.wrapper_category_product_tabs .ui-tabs-nav{
		margin-bottom: 1.5rem;
		.flex();
		flex-wrap: nowrap;
    	overflow: auto;
    	margin-bottom: 1.5rem!important;
    	padding-right: 7%;
    	li{
    		a{
    			white-space: nowrap;
    		}
    	}
	}
	.group-product{
		.rokan-title{
			.module-title{
				.lib-font-size(24);
			}
			&.hot-deal{
				text-align: center;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.wrapper_category_product_tabs {
		position: relative;
		.rokan-title{
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
		}
		.ui-tabs-nav{
			padding-left: 30%;
			justify-content: flex-end;
			li {
				padding: 0 1.5rem;
				position: relative;
				background: @color-white;
			}
		}   
	}
}	
@testimo-slider_padding: 10.5rem 0 6rem;
@testimo-slider_mobile_padding: 3rem 0 4rem;
@testi-bg: transparent;
@testimonial_des-color: #666666; 
@testimonial_des-size: 1.4rem;

// Testimonial
& when (@media-common = true) {
	
	.testimo-static{
		background: @theme__color__primary;
		text-align: center;
		padding: 12px 15px;
		p{
			font-size: 1.6rem;
			color: @color-white;
			text-transform: capitalize;
			margin: 0;
			display: inline;
			padding-right: 100px;
			strong{
				color: @color-white; 
			}
			
		}
		
	}
	.testimo-slider{
   	 	background-repeat: no-repeat;
   	 	margin: 0;
   	 	background-position: center;
    	background-size: cover; 
    	.owl-carousel .owl-dots:not(.disabled) {
    		text-align: left;
    	}
    	.content-testimo{
    		max-width: 50%;
    		margin-left: auto;
    		@media only screen and (max-width: (@screen__s - 1)) {
				max-width: 100%;
    			margin-left: 0;
			}
    		.ma-title{
				.flex();
				display: flex;
	    		flex-direction: column-reverse;
	    		*{
	    			color: @theme__color__primary;
	    			font-size: 1.4rem;
	    			text-transform: uppercase;
	    			font-weight: @heading__font-weight__base;
	    		} 
	    		h5{
	    			margin-top: 0;
	    			font-size: 3rem;
	    			color: @heading__color__base;
	    			text-transform: capitalize;
	    			font-weight: @font-weight__regular;
	    			span{
	    				font-weight:  @heading__font-weight__base;
	    				font-size: 3rem;
	    				color: @heading__color__base;
	    				margin-bottom: 6rem;
	    				text-transform: capitalize;
	    			}
	    		}
	    		h2{
	    			margin-bottom: 2.9rem;
	    		}
			}
    	}


		.pt-testimonial-container{
			overflow: hidden;
		}
		.group-rows-fixed-testimonial{
			.pt-testimonial{
				.des{
					
					display: -webkit-box;
				  -webkit-line-clamp: 3;
				  -webkit-box-orient: vertical;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  margin-bottom: 2rem;
				  line-height: 2.1428;
				  position: relative;  
				  padding-left: 60px;
				   &:after {
						position: absolute;
						.icon-font('\f10e');
						font-weight: 900;
						line-height: 1;
						top: 7px;
						left: 10px;
						font-size: 25px;
						font-style: italic;
						color: @theme__color__primary;
						-moz-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						-o-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}
				.content-tes{
					.flex();
					align-items: center;
					.image img{
						max-width: 6rem;
						max-height: 6rem;
						margin: unset;
					}
					.info{
						padding: 0 2rem;
						display: block;
						.name{
							text-transform: uppercase;
							font-weight: 500;
							color: @theme__color__primary;
							.lib-font-size(14);
						}
						.job{
							.lib-font-size(13);
							font-weight: 400;
							text-transform: none;
						}
					}
				}
			}
		}
		.cms-block-beside-testimonial{
			.shipping-support {
				margin-top: 3rem;
			}
			h5{
				letter-spacing: 2px;
				margin: 0 0 0.5rem;
			}
			.col-content{
				.content{
					h4{
						margin: 0;
					}
				}
			}
		}

	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.testimo-slider{
		background-position: top center;
		.cms-block-beside-testimonial{
			padding-left: 8%;
			
		}
		.col-content{
			&:nth-of-type(2),
			&:nth-of-type(1){
				margin-bottom: 4rem;
			}
			
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.testimo-slider{
		.cms-block-beside-testimonial{
			background-color: @color-white;
			padding: 1.5rem;
			margin-top: 3rem;
		}
	}
}
// Blog
& when (@media-common = true) {
	.blog-post-section{
		background-color: #f5f5f5;
		padding: 7rem 0 8rem;
		margin-bottom: 0;
		@media only screen and (min-width: @screen__xs){
		    padding: 7rem 0 14rem;
		}
		.owl-carousel .owl-nav {
			background: #f5f5f5;
			button{
				&:not(:hover){
					background: @color-white;
				}
			}	
		}
	}
	.block-recent-posts.section{
		width: 95%;
		max-width: @layout__max-width;
		padding: 0 1.5rem;
		margin: auto;
		
		.post-list-wrapper .blog-list-post .item-post-full{
			background-color: @color-white;
		    border-radius: 5px;
    		overflow: hidden;
			.blog-post-thumb{
				overflow: visible;
				> a{
					overflow: hidden;
				}
				
				.time-conment{
					left: auto;
				    right: 20px;
				    bottom: 0;
				    top: auto;
				    background-color: @theme__color__primary;
				    .border_radius(3px);
				    text-align: center;
				    padding: 1rem 1.2rem;
				    @transform: translateY(50%);
				    .lib-css(transform, @transform, @_prefix: 1);
				    z-index: 2;
				    span{
				    	display: block;
				    	color: @color-white;
				    	font-family: @heading__font-family__base;
				    	font-weight: @heading__font-weight__base;
				    	line-height: 1.1;
				    	&.date{
				    		.lib-font-size(24);
				    	}
				    	&.month{
				    		.lib-font-size(13);
				    	}
				    }
				}
			}
			.blog-post-info{
				border: 0;
			    padding: 0 3rem 1rem 3rem;
				margin-top: 2.5rem;
				.post-title{
					.lib-font-size(20);
					font-weight: @font-weight__regular;
					margin-bottom: 1rem;
					letter-spacing: -0.01em;
					line-height: 1.2;
					a {
						color: @heading__color__base;
						&:hover {
							color: @theme__color__primary;
						}
					}
				}
				.post-category-name{
					position: static;
				    transform: none;
				    background: transparent;
				    padding: 0;
				    text-transform: uppercase;
				    font-weight: 500;
				    margin-bottom: 0.5rem;
				    .lib-font-size(12);
				    a{
				    	color: @theme__color__primary;
				    }
				}
				.desc {
					position: relative;
					padding-top: 20px;
					&:before {
						content: '';
						position: absolute;;
						left: 0;
						top: 0;
						background: #ebebeb; 
						width: 5rem;
						height: 1px;
					}
				}
				.post-info-bottom{
					.post-readmore{
						border-bottom: 1px solid;
						&:not(:hover){
							color: @heading__color__base;
						}
					}
				}
			}
		}
	}
}


