@font-face {
    font-family: 'Brush Script MT';
    src: url('../fonts/BrushScriptMT.eot');
    src: url('../fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrushScriptMT.woff') format('woff'),
        url('../fonts/BrushScriptMT.ttf') format('truetype'),
        url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('../../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../../fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style:italic;
    font-display: swap;
}
