// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font
@font-family-name__base: 'Catamaran'; 
//broder
@border-color__base: #ebebeb;

// Heading
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold; 
@heading__color__base: #000000;
@headerpadding: 3rem; // Make header height bigger than menu height
@sticky_padding: 0; 
// Topbar
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 1px;
@topbarcolor: #000000;
// Other font

@theme__color__primary: #ffd800;
@navigation-level0-item__color: #000000;

@new_label_bg: @theme__color__primary;  
@new_label_color: @heading__color__base;
//==============================
// Product
@product-name-link__color: #000000;


// Button
/* footer */
@footer__background-color: #000000;
@footercolor: #adadad;

@footer-title-color: @color-white; 
@footer-title-font-weight: 500;

@footer-border-color: #2b2d40;

@footer-bottom_bg: #7377ab;
@footer_bottom_color: @color-white;
//Button variable
@button__border-radius: false; 
// Slider variable
@slider_h2_font-size-xxl: 70px;
@slider_h2_font-size-xl: 58px;
@slider_h2_font-size-l: 46px;
@slider_h2_font-size-s: 34px;
@slider_h2_font-size-xs: 22px;
@slider_h2_text-transform: capitalize;
@slider_h4_font-size-xxl: 30px;
@slider_h4_font-size-xl: 26px;
@slider_h4_font-size-l: 22px;
@slider_h4_font-size-s: 18px;
@slider_h4_font-size-xs: 14px;
@slider_h4_letter-spacing: false;
@slider_h4_font-weight: @font-weight__regular;
@slider_h4_text-transform: none;
@slider_h4_margin: 20px;
@slider_h4_line-height: false;
@slider_button_margin-top: 70px;
@slider_button_font-size-xs: 12px;
@slider_button_padding-s: 5.5px 20px;
/* animation */
& when (@media-common = true) { 
@-webkit-keyframes tracking-in-expand-fwd-bottom {
	  0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
				transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0) translateY(0);
				transform: translateZ(0) translateY(0); 
		opacity: 1;
	  }
	}
	@keyframes tracking-in-expand-fwd-bottom {
	  0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
				transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0) translateY(0);
				transform: translateZ(0) translateY(0);
		opacity: 1;
	  }
	}
	@-webkit-keyframes tilt-in-top-1 {
	  0% {
		-webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
				transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
				transform: rotateY(0deg) translateY(0) skewY(0deg);
		opacity: 1;
	  }
	}
	@keyframes tilt-in-top-1 {
	  0% {
		-webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
				transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
				transform: rotateY(0deg) translateY(0) skewY(0deg);
		opacity: 1;
	  }
	}
	@-webkit-keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@-webkit-keyframes zoomIn {
	  from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	  }

	  50% {
		opacity: 1;
	  }
	}

	@keyframes zoomIn {
	  from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3); 
		transform: scale3d(.3, .3, .3);
	  }

	  50% {
		opacity: 1;
	  }
	}

	.zoomIn {
	  -webkit-animation-name: zoomIn;
	  animation-name: zoomIn;
	}
	@-webkit-keyframes blurFadeIn{
		0%{
			opacity: 0;
			transform: scale(1.5);
		}
		50%{
			opacity: 0.5;
		
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes blurFadeIn{
		0%{
			opacity: 0;
			transform: scale(1.5);
		}
		50%{
			opacity: 0.5;
		}
		100%{
			opacity: 1;
			transform: scale(1);
		}
	}
	.blurFadeIn {
	  -webkit-animation-name: blurFadeIn;
	  animation-name: blurFadeIn;
	}
	@-webkit-keyframes blurFadeInDown { 
		0% {
			opacity: 0;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0)
		}
	}
	@keyframes blurFadeInDown {
		0% {
			opacity: 0;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0)
		}
	}
	.blurFadeInDown {
	  -webkit-animation-name: blurFadeInDown;
	  animation-name: blurFadeInDown;
	}
	@-webkit-keyframes tilt-in {
	  0% {
		-webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
				transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
				transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	  }
	}
	@keyframes tilt-in {
	  0% {
		-webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
				transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
		opacity: 0;
	  }
	  100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
				transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	  }
	}
	.tilt-in {
	  -webkit-animation-name: tilt-in;
	  animation-name: tilt-in;
	}
	body .searchsuite-autocomplete #product li .qs-option-info .qs-option-title a{
		font-size: 1.4rem;
	}
}
/* end animation */
//Mini cart
.icon_header(){
	font-size: 2.6rem;
    line-height: 4rem;
    position: relative;	
};
/* setting */
& when (@media-common = true) {
	.header-container {
		.setting-view {
			span {
				font-size: 2.6rem;
				@media only screen and (max-width: (@screen__s - 1)){
					font-size: 2.3rem;
				}
				line-height: 4rem;
				position: relative;	
				cursor: pointer;
				color: @heading__color__base;
			}
			&:after {
				content:"";
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				height: 100vh;
				background-color: @topbarcolor;
				z-index: 9999;
				visibility: hidden;
				opacity: 0;
				.transition();
			}
			&.open-setting {
				&:after {
					visibility: visible;
					opacity: 0.5;
				}
			}
		}
		.header-setting {
			position: fixed;
			top: 0;
			right: 0;
			left: auto;
			width: 47rem;
			height: 100vh;
			background-color: @color-white;
			max-width: 100%;
			.transition();
			z-index: 100000;
			display: flex;
			flex-direction: column;
			&:not(.box-setting){
				-webkit-transform: translateX(100%);
				-moz-transform: translateX(100%);
				-ms-transform: translateX(100%);
				-o-transform: translateX(100%);
				transform: translateX(100%);
			}
			.settings-head {
				padding: 3rem 6rem;
				@media only screen and (max-width: (@screen__s - 1)){
					padding: 2rem;
				}
				margin-bottom: 3rem;
				.settings-close {
					display: inline-block;
					vertical-align: top;
					font-size: 2rem;
					line-height: 3rem;
					color: @heading__color__base;
					cursor: pointer;
					&:hover {
						color: @theme__color__primary;
					}
				}
			}
			.settings-inner {
				flex: 1 1 auto;
				height: 1%;
				padding: 0 6rem;
				@media only screen and (max-width: (@screen__s - 1)){
					padding: 0 2rem;
				}
				overflow-x: hidden;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.links {
					margin: 0 0 1.5rem 0;
					li {
						font-size: 1.8rem;
						font-weight: 500; 
						font-family: @heading__font-family__base;
						a {
							&:before {
								font-size: 1.8rem;
							}
						}
					} 
				}
				.language-currency {
					margin-bottom: 1.5rem;
				}
				.title-setting {
					display: block;
					margin: 0 0 2rem 0;
					height: auto;
					width: auto;
					font-size: 1.8rem;
					font-weight: 500;
				}
				.contact-info-wrap {
					.contact-info {
						display:flex;
						font-size: 1.8rem;
						color: #555555;
						margin-bottom: 1.5rem;
						.icon {
							color: @theme__color__primary;
							margin-right: 1em;
							padding-top: 2px;
						}
						a {
							color: #555555;
							&:hover {
								color: @theme__color__primary; 
							}
						}
					}
				}
				.social-link {
					list-style-type: none; 
					font-size: 0;
					padding:0;
					li {
						margin-right: 2rem;
						&:last-child {
							margin: 0;
						}
						a {
							.icon {
								&:before {
									font-size: 2.5rem;
									color: #adadad;
								}	
								&:hover	{
									&:before {
										color: @theme__color__primary; 
									}
								}							
							}
						}
					}
				}
			}
		}
	}
	.searchsuite-autocomplete .product .title{
		font-size: 1.4rem;
	}
}
/* language-currency */
& when (@media-common = true) {
	.container-setting-language-currency {
		display:flex;
		> div {
			padding:0;
			
		}
		.switcher {
			margin-right: 4rem;
			border:none;
			flex: 1 1 auto;
			&:last-child {
				margin:0;
			}
			.switcher-label {
				display: block;
				position: static;
				overflow: visible;
				margin: 0 0 2rem 0;
				height: auto;
				width: auto;
				font-size: 1.8rem;
				font-weight: 500; 
				font-family: @heading__font-family__base;
				color: @heading__color__base;

			}
			.switcher-options .switcher-trigger.action.toggle {
				padding-bottom: 0.5rem;
				border-bottom: 1px solid @border-color__base; 
			}
			.switcher-options.active .dropdown.switcher-dropdown {
				top: calc(~'100% - 1px'); 
			}
		}
	}
}
/* megamenu */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-container {	
		.navigation {
			font-size:1.7rem;
			background: transparent;
			.level0 {
				&.active > .level-top,&.has-active > .level-top ,& > .level-top:hover, & > .level-top.ui-state-focus{
					color: @heading__color__base; 
					text-decoration: underline;
				}
				.submenu {
					box-shadow: 2px 3px 6px rgba(0,0,0,.2);
					border: none;
					a {
						text-transform: uppercase;
						&:hover {
							-moz-transform: translateX(10px);
							-webkit-transform: translateX(10px);
							-o-transform: translateX(10px);
							-ms-transform: translateX(10px);
							transform: translateX(10px);
							text-decoration:underline;
						}
					}
					
				}
				&.parent {
					.submenu {
						.mega-columns {
							.level1.parent {
								> a {
									font-family: @font-family-name__base;
									&:hover {
										-moz-transform: none;
										-webkit-transform: none;
										-ms-transform: none;
										transform: none;
										text-decoration:none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* header */
& when (@media-common = true) {
	.cms-index-index {
		.header-container {
			> .header {
				@media only screen and (min-width: @screen__m){
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
				} 
			}

		}
	}
	.header-container {
		> .header {
			@media only screen and (min-width: @screen__m){
				padding: 3rem 8rem; 
			}
			@media only screen and (max-width: 1600px){
				 padding: 3rem 1.5rem; 
			}
			@media only screen and (max-width: (@screen__m - 1)){
				 padding: 1.5rem;
			}
			> .flex-layout {
				align-items: center;
				position:relative;
				 .logo-container {
					 flex: 1 1 auto;
				 }
				 @media only screen and (max-width: (@screen__xs - 1)){
					.logo-container {
						width: 100%;
						justify-content: center;
						margin-bottom:10px;
					}
				}
				.primary-menu-container { 
					padding: 0 3rem;
					@media only screen and (max-width: (@screen__l - 1)){
						 padding: 0 1rem;
					}
				}
				.col-action{
					.minicart-wrapper {
						@media only screen and (min-width: @screen__m){
							margin:0;
						}
						.action.showcart {
							.counter.qty{
								min-width: 2rem;
								min-height: 2rem;
								line-height: 2rem;
								top: 0.2rem;
								right: 0.2rem;
								height:auto;	
								font-size: 1.1rem;
								color: @color-white;  
								background: @heading__color__base;
								font-weight: @heading__font-weight__base;
								&.empty{
									display: block;
								}
							}
						}	
					}
					.action-header {
						> li {
							a:hover:before {
								color: @heading__color__base;
							} 
						}
					}
					@media only screen and (max-width: (@screen__s - 1)){
						.action-header {
							> li {
								.minicart-wrapper{
									> a:before {
										font-size: 2.3rem;
									}
								}
								> a:before {
									font-size: 2.3rem;
								}
							}
						}
					}
					ul{
						li{
							&.link{
								a{	
									.counter.qty{
										min-width: 2rem;
										min-height: 2rem;
										line-height: 2rem;
										height:auto;	
										font-size:1.1rem;
										color: @color-white; 
										background: @heading__color__base;
									}
								}
							}
							.block-search{
								position: static;
								.dropdown {
									.top-search{
										i {
											.icon_header();
											cursor:pointer;
											color: @heading__color__base;
											@media only screen and (max-width: (@screen__s - 1)){
												font-size: 2.3rem;
											}
											&:hover {
												
											}
										}
										.text{
											display: none;
										}
									}
									.form.minisearch{
										right: 0;
										z-index: 9;
									} 
								}
							}
						}
					}
					
				}
				
			}
			
		}
		@media (min-width: @screen__m ) and (max-width: (@screen__l - 1)){
			.nav-sections {
				max-width: 35rem;
				width: 35rem; 
			}
		}
		
	}
	.header-container .col-action .action-header > li .search-form a{
		padding-right: 0;
	}
}
& when (@media-common = true) {
	.header-container{
		&.sticky {
			.sticky-header {
				position: fixed !important;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				> div {
					max-width: none;
					margin: 0;
					padding: 0;
					width: 100% !important;
					> div {
						position: static;
					}
				}
				@media only screen and  (max-width: (@screen__xs - 1)){
					> .flex-layout {
						.logo-container {
							display: none;
						}
					}
				}
			}
			
		}
	}
}
// Header on screen < 1200px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		> .header {
			> .flex-layout {
				.col-action{
					ul{
						li{
							margin: 0 1rem;
							&:last-child {
								margin-right: 0;   
							}
						}
					}
					
				}
				
				
			}
			
		}
		.nav-toggle {
			line-height: 1;
			z-index:9;
			margin: 0;
			-moz-transform: none;
			-webkit-transform: none;
			-o-transform: none;
			-ms-transform: none;
			transform: none;
			&:hover:before {
				color: @heading__color__base;
			}
		}
		
	}
}

/* newletter */
& when (@media-common = true) {
	.block.newsletter {
		margin: 0;
		.field {
			.control {
				flex-wrap: nowrap;
				.input-focus {
					flex: 1 1 auto; 
					input {
						height: 4.8rem;
						border-radius: 5px 0 0 5px;
						padding: 0 0 0 2rem;
					}
					
				}
				.action.primary {
					padding: 14.5px 25px;
					border-radius: 0 5px 5px 0;
					height: 4.8rem;
				}
			}
		}
	}
}
/* footer */
& when (@media-common = true) {
	.page-footer {
		margin-top: 9rem;
		font-size: 1.6rem;
		@media only screen and (max-width: (@screen__l - 1)){
			margin-top: 6rem;
		}
		@media only screen and (max-width: (@screen__s - 1)){
			margin-top: 3rem;
		}
		.footer-top {
			.footer.content {
				padding-top: 9rem;
				padding-bottom: 9rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__m - 1)){
					padding-top: 5rem;
					padding-bottom: 3rem;
				}
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer.content ul li {
			margin-bottom: 1rem;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				border-bottom: 1px solid transparent;
				&:hover {
					color: @color-white;
					border-bottom: 1px solid @theme__color__primary;
				}
			}
		}
		.footer-static_link {
			.rokan-title {
				.module-title {
					font-size: 2.2rem;
					text-transform: capitalize;
					margin-top: 1rem;
					margin-bottom: 1.8rem; 
				}
				.rokan-description {
					margin-top: 3.4rem;
				}
			}
			.footer-title {
				font-size: 2.2rem;
				text-transform: capitalize;
				margin-top: 1rem;
				margin-bottom: 1.8rem; 
			}
			.footer-links {
				p {
					font-size: 1.6rem;
				}
				
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			background: transparent;
			.container-inner {
				border-top: 1px solid rgba(255,255,255,0.18);
				padding: 2.5rem 0;
			}
			.footer-contents {
				margin: 0;
			}
			.footer-bottom-text {
				align-items: center;
				.footer-bottom-inner {
					margin: 1rem 0;
				}
			}
			.footer.content {
				.social-link { 
					li {
						margin:0;
						a {
							border: none;
							.icon{
								font-size: 2.1rem;
							}
							.icon:not(:hover) {
								color: @footercolor;
							}
						}
					}
				}
				.copyright {
					font-size: 1.6rem;
					line-height: 2.5rem;
					color: @footercolor;
				}
				.hozital-menu {
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align:left;
						margin-top: 0.5rem;
					}
					p {
						margin: 0;
					}
				}
			}
		}
		
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			flex-wrap: nowrap;
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 34%; 
					max-width: 34%; 
					position:relative;	
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				
			}
		}
	}	
}

/* banner static */
& when (@media-common = true) { 
	.home-banner {
		.banner-box {
			position: relative;
			line-height: 1;
			overflow:hidden;
			img {
				width: 100%;
			}	
		}
	}
	.static-shipping-support {
		.flex-layout.center {
			flex-direction: column;
			@media only screen and (max-width: (@screen__l - 1)){
				margin-bottom: 1.5rem;
			}
			&:hover {
				.img-static {
					img {
						-webkit-animation: bounceIn .5s ease;
						-o-animation: bounceIn .5s ease;
						animation: bounceIn .5s ease;
					}
				}
			}
			.img-static {
				margin-bottom: 2.5rem;
				@media only screen and (max-width: (@screen__l - 1)){
					margin-bottom: 1.5rem;
				}
			}
			.content {
				text-align: center;
				h3 {
					font-size: 2rem;
					margin-bottom: 1.5rem;
				}
				p {
					font-size: 1.6rem;
				}
			}
		}
	}
}

/* style title */
& when (@media-common = true) {
	.cms-index-index{ 
	    .page-main{
			.rokan-title {
				position: relative;
				margin-bottom: 5rem;
				.module-title {
					font-size: 3.6rem;
					text-transform: capitalize;
					@media only screen and (max-width: (@screen__l - 1)){
						font-size: 2.8rem;
					}
				}
				.short_description {
					font-size: 1.6rem; 
					color: #adadad;
				}
				@media only screen and (max-width: (@screen__l - 1)){
					margin-bottom: 3rem;
					.module-title {
						font-size: 3rem; 
					}
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	@media only screen and (min-width: @screen__l){
		.page-products .products-grid .product-items .product-item {
			width: 33.33333333%;
		}
	}
	.product-item .product-reviews-summary .reviews-actions{
		font-size: 1.4rem;
	}
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	.product-item {
		overflow: hidden;
			.product-label {
			font-weight: 500;
			font-size: 1.8rem;
			text-transform: capitalize;
			min-width: 7rem;
			height: 7rem;
			border-radius: 50%;
			text-align: center;
			padding: 3.7rem 0.8rem 0 0.8rem;
			&.newlabel {
				left: -0.8rem;
				top: -2.5rem;
				right: auto;
			}
			&.onsale {
				right: -0.8rem;
				top: -2.5rem;
				left: auto;
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items, 
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel) {
				border: none;  
			}
			.product-item{
				border: none;
				padding: 0 1.5rem; 
				margin: 0 0 5rem 0;
				@media only screen and (max-width: (@screen__s - 1)){
					margin: 0 0 3rem 0;
				}
				&:last-child {
					margin: 0;
				}
				
				.product-item-photo {
					line-height:1;
					margin: 0;
				}
				.product-item-info {
					position:relative; 
					padding: 0;
					line-height:1; 
					overflow: hidden;
					@media only screen and (max-width: (@screen__xs - 1)){
					}
					&:before {
						display:none !important; 
					}
					.product-item-details {
						position: relative;
						padding-top: 2rem;
						.product-item-actions {
							position: absolute;
							bottom: 100%;
							right: 1.5rem;
							z-index:1;
							display: flex;
							flex-direction: column-reverse;
							margin-bottom: 1.5rem;
						}
						.price-box {
							position: absolute;
							bottom: 100%;
							left: 2.5rem;
							z-index:1;
							margin-bottom: 2rem;
							flex-direction: column-reverse;
							align-items: flex-start;
							font-family: @heading__font-family__base;
							.price {
								font-size: 2.1rem;
							}
							.old-price {
								.price {
									font-size: 1.6rem;
									color: #777777;
								}
							}
						}
						
					}
					.product.name a {
						line-height: 1.4;
						font-size: 2rem;
						display:block;
						font-weight: @font-weight__semibold;
						@media only screen and (max-width: (@screen__l - 1)){
							font-size: 1.6rem; 
						}
					}
					.product-reviews-summary {
						margin: 1.5rem 0 0;
					}
					.actions-primary,
					.actions-secondary,
					.field.choice.related,
					.actions-secondary .action{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
						 width: 4.6rem;
						height: 4.6rem;
						@media only screen and (max-width: (@screen__xs - 1)){
							width: 3rem;
							height: 3rem;
						}
						background: transparent;
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
							overflow:visible;
						}
						&:hover {
							background: @theme__color__primary; 
							
						}
					}
					.actions-primary,
					.field.choice.related{
						background: @theme__color__primary; 
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								font-size: 2.4rem;
								color: @heading__color__base;
								@media only screen and (max-width: (@screen__xs - 1)){
									font-size: 1.6rem; 
								}
							}
						
						}
					}
					.field.choice.related{
						&:hover{
							label {
								&:before {
									color: @heading__color__base;
								}
							
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									font-size: 2.4rem; 
									@media only screen and (max-width: (@screen__xs - 1)){
										font-size: 1.6rem;
									}
								}
							}
							&.towishlist{
								&:before{
									font-size: 2.4rem; 
									@media only screen and (max-width: (@screen__xs - 1)){
										font-size: 1.6rem;
									}
								}
								span{
									display:none;
								}
							}
							&.tocompare {
								&:before{
									font-size: 2.4rem; 
									@media only screen and (max-width: (@screen__xs - 1)){
										font-size: 1.6rem;
									}
									margin: 0; 
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				 
				&:hover{				
					.actions-primary,
					.field.choice.related{
						webkit-animation: zoomIn 400ms ease-in-out;
						-moz-animation: zoomIn 400ms ease-in-out;
						-ms-animation: zoomIn 400ms ease-in-out;
						animation: zoomIn 400ms ease-in-out;
					}
					.actions-secondary{
						> *{
							&:nth-child(1) {
								webkit-animation: zoomIn 600ms ease-in-out;
								-moz-animation: zoomIn 600ms ease-in-out;
								-ms-animation: zoomIn 600ms ease-in-out;
								animation: zoomIn 600ms ease-in-out;
							}
							&:nth-child(2){
								webkit-animation: zoomIn 800ms ease-in-out;
								-moz-animation: zoomIn 800ms ease-in-out;
								-ms-animation: zoomIn 800ms ease-in-out;
								animation: zoomIn 800ms ease-in-out;
							}
							&:nth-child(3){
								webkit-animation: zoomIn 1000ms ease-in-out;
								-moz-animation: zoomIn 1000ms ease-in-out;
								-ms-animation: zoomIn 1000ms ease-in-out;
								animation: zoomIn 1000ms ease-in-out;
							}
						}
					}
					
					
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	
	body .owl-carousel .owl-nav button {
		&.owl-prev,&.owl-next {
			border-radius: 100%;
			background: @color-white;
			width: 4.6rem;
			height: 4.6rem;
			border: 2px solid @border-color__base;
			&:before {
				width: 4.2rem;
				height: 4.2rem;
			}
			&:hover {
				background: @theme__color__primary;
				border: 2px solid @theme__color__primary;
			
			}
		}
		 
	}
}
section, .section, .product.info.detailed, .block.related, .block.upsell {
	margin-bottom: 10rem;
	@media only screen and (max-width: (@screen__l - 1)){
		margin-bottom: 6rem;
	}
	@media only screen and (max-width: (@screen__s - 1)){
		margin-bottom: 3rem;
	}
}

/* module products tab */
& when (@media-common = true) {
	.container_horizontal_tab_postions.wrapper_product_tabs  {
		position: relative; 
		.ui-tabs-nav {
			white-space: nowrap;
			overflow-y: hidden;
			@media only screen and (min-width: @screen__m){
			position: absolute;
			right: 0;
			top: -8.5rem; 
			z-index: 1;
			margin-bottom: 0;
			}
			li {
				margin: 0;
				a {
					font-size: 2.2rem;
					color: @text__color;
					font-weight: 500;
					font-family: @heading__font-family__base;
					position: relative;
					&:before {
						position: absolute;
						content: '';
						top: 0;
						left: 1.5rem;
						width: 34px;
						height: 34px;
						border-radius: 50%;
						background: @theme__color__primary;
						.transition();
						z-index: -1;
					}
				}
				&:not(.ui-tabs-active) a:before {
					-webkit-transform: scale(0);
					-moz-transform: scale(0);
					-ms-transform: scale(0);
					-o-transform: scale(0);
					transform: scale(0);
				}
				&.ui-tabs-active {
					a {
						color: @heading__color__base;  
					}
				}
				&:not(:last-child) {
					padding-right: 2.5rem;
				}
				&:not(:first-child) {
					padding-left: 2.5rem;
				}
			}
		}
	}
}
/* hot deals */
& when (@media-common = true) {
	.super-deal-banner {
		@media only screen and (min-width: @screen__l){
			background-position: center center;
		}
		.super-deal-banner-content  {
			text-align: center;
			position: relative;
			z-index: 1;
			@media only screen and (min-width: @screen__l){
				max-width: 60%;
			}
			.supper-deal-title {
				.sub-title-deal {
					color: @text__color;
					font-size: 2.4rem;
					font-weight: 500;
					margin: 0 0 2.5rem 0;
					@media only screen and (max-width: (@screen__s - 1)){
						font-size: 1.8rem;
					}
				}
				.title-deal {
					font-size: 5.4rem;
					margin: 0 0 1.5rem 0;
					display: inline-block;
					position: relative;
					@media only screen and (max-width: (@screen__s - 1)){
						font-size:3rem;
					}
					&:before {
						position: absolute;
						content: '';
						top: 50%;
						bottom: 0;
						width:100%;
						max-width: 23rem;	
						height: 3rem;
						background: @theme__color__primary;
						right: -1rem;
						z-index: -1;
					}
				}
			}
			.super-deal-countdown {
				display:inline-block;
				margin-bottom: 4.2rem;
				@media only screen and (max-width: (@screen__s - 1)){
					margin-bottom: 2.2rem;
				}
				.time_circles {
					.number {
						width: 7rem;
						height: 7rem;
						background: @color-white;
						border: 2px solid @theme__color__primary;
						font-size: 3.4rem;
						margin-bottom: 0.5rem;
						@media only screen and (max-width: (@screen__s - 1)){
							width: 5rem;
							height: 5rem;
							font-size: 2.4rem;
						}
					}
					.text {
						font-size: 1.6rem;
					}
				  
				}
			}
			.button-view {
				margin: 0;
				a {
					position: relative;
					background: transparent;
					font-size: 1.7rem;
					color: @heading__color__base;
					padding: 1.5rem 3.8rem;
					&:not(:hover)::before {
						top: 2.3rem;
						bottom: 1rem;
					}
					&:before {
						position: absolute;
						content: "";
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						.transition();
						z-index: -1;
						background: @theme__color__primary;
					}
				}
			}
		}
	}
	
}
/* css catethumb */
& when (@media-common = true) {
	.cate-thumb {
		padding:0 8rem;
		@media only screen and (max-width: 1600px){
			 padding: 0 1.5rem; 
		}
	}
	.wrapper_sub_category_tabs {
		.rokan-title { 
			margin: 0;
		}
		&.onlyparent {
			.list-category-item{
				.category-item{
					a {
						background: transparent;
						position: relative;
						padding: 0;
						figure {
							width: 100%;
						}
						&.horizontal {
							flex-direction: column;
							position: relative;
							overflow: hidden;
							&:hover {
								color: @heading__color__base;
							}
							&:not(:hover)::after {
								-webkit-transform: translate(-127px,73px);
								-moz-transform: translate(-127px,73px);
								-ms-transform: translate(-127px,73px);
								-o-transform: translate(-127px,73px);
								transform: translate(-127px,73px);
							}
							&:after {
								position: absolute;
								content: '';
								left: -113px;
								bottom: -167px;
								width: 280px;
								height: 280px;
								border-radius: 50%;
								.transition();
								z-index: 1;
								background: @theme__color__primary; 
							}
						
							img {
								max-width: 100%;
								width: 100%;
							}
							&:not(:hover) .thumb-infor  {
								-webkit-transform: translateY(32px);
								-moz-transform: translateY(32px);
								-ms-transform: translateY(32px);
								-o-transform: translateY(32px);
								transform: translateY(32px);
								.cate-name.cate-count { 
									.count {
										opacity:0;
										.transition();
									}
								}
								
							}
							.thumb-infor {
								padding: 0;
								position: absolute;
								bottom: 2.5rem; 
								left: 3rem;
								right: 0;
								background-color: transparent;
								.transition();
								z-index: 2;
								.cate-name.cate-count { 
									font-size: 2.6rem;
									text-transform:capitalize;
									padding: 0;
									display: block;
									font-weight: 500;
									line-height: 1.6;
									span {
										display: block;
									}
									.count {
										font-size: 1.8rem;
										font-weight: 500;
										font-family: @heading__font-family__base;
									}
								}
								
							}
						}
						
					}
				}
			}
		}
	}
}
/* css Blog */
& when (@media-common = true) {
	//Blog gobal style
	.block-recent-posts {
		.post-list-wrapper{
			.owl-carousel .owl-stage-outer {
				padding: 0 1px;
				margin: 0 -1px;
			}
			.blog-list-post .item-post-full {
				position: relative;
				overflow: hidden;
				border: 1px solid @border-color__base;
				@media only screen and (min-width: @screen__xs){
					.flex();
					align-items: center;
					flex-direction: row-reverse;
					> div {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%; 
					}
				}
				&:not(:hover) .blog-post-info .post-readmore {
					-webkit-transform: translate(-60px,60px);
					-moz-transform: translate(-60px,60px);
					-ms-transform: translate(-60px,60px);
					-o-transform: translate(-60px,60px);
					transform: translate(-60px,60px);
					opacity: 0;
				}
			}
			.blog-post-info{
				border: none;
				padding: 3rem;
				position: static;
				.post-title{
					font-weight: 500; 
					font-size: 2.6rem;
					@media only screen and (max-width: (@screen__l - 1)){
						font-size: 2rem;
					}
					margin-bottom: 2.5rem;
				}
				.post-category-name{
					position: static;
					padding:0;
					background: @color-white;
					transform: none;
					margin-bottom: 2.5rem;
					a {
						font-weight: @font-weight__regular; 
						text-transform:capitalize;
						color: #777777;
						position: relative;
						padding-bottom: 1.8rem;
						display: block;
						font-size: 1.6rem; 
						&:before {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							width: 4rem;
							height: 2px;
							display: block;
							background: @theme__color__primary;
						}
						&:hover {
							color: @theme__color__primary;
						}				
					}
				}
				.time-conment{
					font-size: 1.7rem;
					color: #555555;
					
				}
				.post-readmore {
					font-size: 0;
					line-height: 0;
					position: absolute;
					bottom: -65px;
					left: -65px;
					width: 140px;
					height: 140px;
					border-radius: 50%;
					font-size: 0;
					line-height: 0;
					letter-spacing: 0;
					&:hover {
						background: @theme__color__primary;
					}
					&.btn:not(:hover) {
						background: @theme__color__primary;
					}
					&:before,&:after {
						position: absolute;
						content: '';
						top: 0;
						bottom: 4.7rem;
						left: 5.7rem;
						right: 0;
						width: 3px;
						height: 3rem;
						margin: auto;
						background: @heading__color__base;
					}
					&:after {
						width: 3rem;
						height: 3px;
					}
				}
		
			}		
		}
	}
	
}
/* css testimonial */
& when (@media-common = true) {
	.pt-testimonial-container {
		background: #f9f9f9;
		padding: 6rem 10%;
		@media only screen and (max-width: (@screen__s - 1)){
			padding: 3rem 10%;
		}
		.pt-testimonial {
			background: transparent;
			text-align: center;
			.image {
				width: 9rem;
				height: 9rem;
				overflow: hidden;
				display:inline-block;
				border-radius: 50%;
				margin: auto;
				margin-bottom: 2rem;
				img {
					max-width: 100%;
				}
				
			}
			.content-tes {
				.des {
					font-size: 1.6rem;
					line-height: 3.2rem;
					color: @text__color;  
				}
				.info {
					position:relative;
					display:inline-block;
					padding: 1.5rem 0;
					&:before {
						position: absolute;
						.icon-font(@_icon_font_content: "\f10e");
						font-weight: 900;
						line-height: 1;
						top: 0;
						left: 0;
						right: 0;
						font-size: 64px;
						font-style: italic;
						z-index: -1;
						color: @theme__color__primary;
						
					}
					.name {
						font-size: 2rem;
						font-weight: @font-weight__bold;  
					}
				}
			}
		}
		.owl-carousel .owl-nav button {
			&.owl-prev,&.owl-next {
				background: none !important;
				border: none !important;
				transform: none !important; 
				&:before {
					font-family: 'main-icon',sans-serif;
					font-size: 4.6rem;
					transform: none !important; 
				}
				&:after {
					position: absolute!important;
					content: '';
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					border-radius: 50%;
					.transition();
					z-index: -1;
					background: @theme__color__primary;
				}				
				&:not(:hover){
					&:before {
						color: @text__color; 
					}
				
				}
			}
			&.owl-prev {
				left: -6rem;
				&:before {
					 content: '\e947'!important;
					 margin-right: -2.2rem!important;
				}
				&:not(:hover):after {
					opacity: 0;
				}	
			}
			&.owl-next {
				right: -6rem;
				&:before {
					 content: '\e948'!important;
					 margin-left: -2.2rem!important;
				}		
			}
		}
	}
}
/* slideshow */
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.nivo-directionNav a {
			border-radius:100%;
			&:before {
				color: @color-white;
				font-family: main-icon;
				transform: rotate(0deg) !important;;
				-webkit-transform: rotate(0deg) !important;;
				-o-transform: rotate(0deg) !important;;
				-ms-transform: rotate(0deg) !important;
			}
			&.nivo-prevNav {
				&:before {
				    content: '\e933'; 
				}
			}
			&.nivo-nextNav {
				&:before {
					content: '\e934';
				}
			}
			&:not(:hover){
				background: rgba(0,0,0,0.2);
			}
		}
		@media only screen and (min-width: 1920px){
			.nivo-controlNav {
				position: absolute;
				left: 8rem;
				right: auto;
				bottom: auto;
				text-align: left;
				top: 50%;
				-moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				width: auto !important;
				max-width: none !important; 
				display: flex;
				flex-direction: column;
				&:not(.nivo-thumbs-enabled) .nivo-control {
					width: 4.8rem;
					height: 4.8rem;
					line-height: 4.8rem;
					font-size: 2rem;
					font-weight: @font-weight__bold; 
					background: transparent;
					border-radius: 100%;
					text-align: center;
					color: @heading__color__base;
					margin: 0 0 1rem 0;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.the-blue-sky-banner-text {
			h4 {
			 
			}
			a.btn {
				font-weight: @font-weight__bold; 
				border-radius: 5px;	
				&:hover { 
					background: @heading__color__base;
					color: @color-white !important;
				}
			}
			 
		}
	}
}

// Checkout page, About us
& when (@media-common = true) {
	.connect{
		margin-bottom: 0 !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block.block-search .dropdown .form.minisearch .search-form{
		min-width: 350px !important;
	}
}