// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: 500; 
@heading__line-height__base: 1.4;
// Color 
@theme__color__primary: #f7aa23;
@link__hover__color: #a1ba36; 
// Topbar
@topbarbg: #a1ba36;
@topbarcolor: @color-white;

// Header
@header__background-color: @color-white;
@header-border-color: false;

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @heading__color__base;

@h5__font-size: 1.6rem;
// Top search
@_search-border-color: false;
@_search-border-width: 0;

// Navigation
@menufont: @font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.5rem;


//Level 0
@navigation-desktop-level0-item__color: #222;
@navigation-level0-item__font-family: @font-family__base;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 15;
@navigation-level0-item__font-weight: @font-weight__semibold;

// Level 1
@level1_color: @heading__color__base;

/* footer */
@footer-title-color: @theme__color__primary;
@footer-title-font-size: 1.6rem;
@footer-title-font-weight: @heading__font-weight__base;
@footer-title-transform: uppercase;
@footer__background-color: #1b1c15;
@footercolor: @color-white;
@footer-border-color: #3a3b35;
@footer_bottom_color: #888;
@social_link_bg: false;



//Module variables
//Title
@module_margin_bottom: 2rem;
@module_title_text-align: center;

@margin_gobal_value: 11rem;
// Product
@price_color: #222;
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: @link__hover__color;
@new_label_color: @color-white;

// Button
@second_button_bg: @link__hover__color;
@second_button_color: @color-white;


@checkout-button-bg: @link__hover__color;
@checkout-button-color: @color-white; 
//Button variable
@button__border-radius: 30px; 
@button__color: @color-white;
@button__padding: 12.5px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @color-white;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: 30px;

// Module Search
@search-form_bg: transparent;
@action_button_bg: transparent;


@timeline-loading-item_bg: #ccc;


// Slider heading
@slider_h2_font-size-xxl: 100px;
@slider_h2_font-size-xl: 70px;
@slider_h2_font-size-l: 50px;
@slider_h2_font-size-s: 40px;
@slider_h2_font-size-xs: 32px;
@slider_h2_font-weight: 500;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: false;
@slider_h2_margin: 0;
@slider_h2_line-height: false;

@slider_h5_font-size-xxl: 14px;
@slider_h5_font-size-xl: 14px;
@slider_h5_font-size-l: 14px;
@slider_h5_font-size-s: 14px;
@slider_h5_font-size-xs: 13px;
@slider_h5_font-weight: @font-weight__bold;
@slider_h5_letter-spacing: 2px;
@slider_h5_margin: 40px;


@slider_p_font-size-xxl: 18px;
@slider_p_font-size-xl: 17px;
@slider_p_font-size-l: 16px;
@slider_p_font-size-s: 15px;
@slider_p_font-size-xs: 14px;
@slider_p_margin: 0;

@slider_button_margin-top: 60px;

// Supper deal module
@deal_number_bg: false;
@deal_number_font-size: 3.6rem;
@deal_number_width: 7rem;
// Module Category thumb
//  Variables
//  _____________________________________________
@category-name-size: 36px;
@category-name-color: #252525;
@category-name-font-weight: 500;
@line-height_category_name: false;
// Products count
@category-count-font-style: italic;
@category-count-display: block;
// Vertical thumb image
@img_category_thumb-radius: 56px;
@category_name-padding: 2rem;
@category_name_position: absolute;
@align_category_name: flex-end;

@background-category-thumb: @color-white;
@padding-category-thumb: false;

// Category tab, product tab
//  Variables
//  _____________________________________________
@tabcolor: #b2b2b2;
@tabactive: @link__hover__color;
// Hozital variable
@category-tab-text-align: center;
@category-tab-name-size: 24px;

@products-tab-text-align: center;
@products-tab-name-size: 24px;

// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: 9rem 0;

@banner_deal_number-font-family: @font-family__base;
@banner_deal_number-font-weight: @font-weight__bold;

@title_supper_deal_margin: 0 0 7px;

@sub_title_supper_deal-font-size: 1.4rem;
@sub_title_supper_deal-color: @color-white;
@sub-title_supper_deal_letter-spacing: 2px;
@sub-title_supper_deal_margin: 0 0 5.5rem;
// Title
@title_supper_deal_size: 6rem;
@title_supper_deal_mobile_size: 4rem;

@des_supper_deal_size: 1.6rem;
@des_supper_deal_margin: 0 0 4.2rem;
//  _____________________________________________
.border_radius(@_border-radius_base: 50%){
    @_border-radius: @_border-radius_base;
    &{
        .lib-css(border-radius, @_border-radius);
    }
}

// Header, footer
& when (@media-common = true) {
	.container-setting-language-currency{
		.switcher{
			border-color: #d0dd9b;
			padding: 0 8px;
			*:first-child{
				margin-right: 4px;
			}
			.switcher-options{
				.switcher-trigger.action.toggle{
					&:hover{
						strong,
						&:after{
							color: @topbarcolor;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}	
	.page-header {
		.header-container {
			.topbar {
				.topbar-inner{
					.col-top-link{
						p{
							position: relative;
							top: -1px;
						}
						a{
							&:hover{
								color: @theme__color__primary;
							}
						}
						> *:not(:last-child) > *{
							border-color: #d0dd9b;
						}
					}
					.col-right{
						.hotline{
							background: @theme__color__primary;
							margin: -0.8rem 0;
							padding: 0 1.5rem;
							.flex();
							align-items: center;
							*{
								color: @color-white;
							}
							.icon{
								font-size: 2.6rem;
							}
							.flex-layout{
								align-items: center;
							}
							.content{
								.subtitle{
									display: none;
								}
								h5{
									font-family: @font-family__base;
									font-size: 2rem;
									font-weight: @font-weight__bold;
								}
							}
						}
					}
				}
			}
			.header-middle{
				.for-full-width-menu{
					padding: 1.5rem 0;
				}
				
			}
			.header.links{
				li{
					color: @header-icons-color;
					&:not(:hover){
						a{
							color: @header-icons-color;
						}
					}
					&.authorization-link {
						a:before{
							color: @header-icons-color;
						}
					}
				}
			}
			.col-action{
				.minicart-wrapper .action.showcart,
				li{
					.counter.qty{
						.lib-css(color, @header-icons-color);
						font-weight: @font-weight__bold;
						background-color: @link__hover__color;
					}
				}
				.hidden-sticky{
					margin-right: 1rem;
				}
				.minicart-wrapper{
					@media only screen and (min-width: @screen__m){
						margin-left: 3px;
					}
				}
			}
			.top-search-not-dropdown{
				input{
					height: 20px;
					color: @topbarcolor;
				}
				.block-search .form {
					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: @color-white;
					  opacity: 0.8
					}
					::-moz-placeholder { /* Firefox 19+ */
					  color: @color-white;
					  opacity: 0.8
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: @color-white;
					  opacity: 0.8
					}
					:-moz-placeholder { /* Firefox 18- */
					   color: @color-white;
					   opacity: 0.8
					}
					.action.search:before{
						.icon-font("\f002");
						font-size: 14px;
					    line-height: 24px;
					    transform: none;
					}
				}
			}
			.sticky-header{
				@box-shadow: 0px 4px 4px 0px rgba(94, 115, 144, 0.1);
				.lib-css(box-shadow, @box-shadow, @_prefix: 1);
			}
		}
	}
	.page-footer {
		.footer-static_link {
			.footer-links {
				&.not-collapse-mobile{
					img{
						margin-bottom: 2rem;
					}
					ul{
						margin-top: 0;
						p{
							margin-bottom: 0;
							
						}
						> li{
							&:first-child{
								p{
									color: @theme__color__primary;
								}
							}
							&:not(:first-child){
								p{
									line-height: 2;
								}
							}
						}
					}
					.social-link{
						margin-top: 2rem;
					}
				}
			}
		}
		.footer-top {
			position: relative;
		}
		.footer-bottom{
			margin-top: 5.5rem;
		}
		.block-newsletter-form{
	    	margin-bottom: 0 !important;
	    	padding: 0;
	    	.newsletter-form{
		    	background-color: @link__hover__color;
	    		.flex();
	    		justify-content: space-between;
	    		align-items: center;
	    		color: @color-white;
	    		margin-bottom: 0;
	    		> div{
	    			flex: 1;
	    			width: 100%;
	    		}
	    		.rokan-title{
	    			margin-bottom: 0;
	    			
	    			position: relative;
	    			&:before{
	    				.icon_custom_font("\e937");  
	    				.lib-font-size(57);
	    				line-height: 1;
	    			}
	    			.module-title{
	    				text-transform: capitalize;
	    				margin-bottom: 0.5rem;
	    				font-family: @font-family__base;
	    				color: @color-white;
	    				font-weight: @font-weight__bold;
	    				font-size: 3rem;
	    				&:before,
	    				&:after{
	    					display: none;
	    				}
	    			}
	    		}
	    		@media only screen and (max-width: (@screen__m - 1)) {
	    			flex-direction: column;
	    			.rokan-title{
	    				margin-bottom: 2rem;
	    			}
			    	.field {
			    		.control{
			    			max-width: 100%;
			    		}
			    	}
	    		}
	    	}
	    }
	     .block.newsletter {
	    	.field {
	    		.control{
	    			.input-focus{
	    				flex: 1;
	    				input{
	    					border-top-right-radius: 0;
			    			border-bottom-right-radius: 0;
			    			padding-left: 1.5rem;
	    				}
	    			}
	    			.actions{
	    				button{
	    					background: @theme__color__primary;
	    					border-top-left-radius: 0;
			    			border-bottom-left-radius: 0;
	    				}
	    			}
				}
			}
		}
	}
	.cms-index-index{
		.rokan-title{
			margin-bottom: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.wrapper-the-blue-sky-slider .container-the-blue-sky-slider .the-blue-sky-banner-text{
		left: 10%;
	}
	.header-container {
		.primary-menu-container{
       	 	padding: 0 1.5rem;
       	}
       	.logo-container{
       		min-width: 10%
       	}
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.page-header {
		.header-container {
			.topbar .topbar-inner .col-right .hotline{
				display: none !important;
			}
			.action-sticky{
				.minicart-wrapper{
					margin-left: 0;
				}
				.action-header{
					> li{
						margin: 0 0.5rem;
						> a,
						.minicart-wrapper > a{
							&:before{
								.lib-font-size(26);
								color: @navigation-desktop-level0-item__color;
							}
						}
					}
				}
				.minicart-wrapper .action.showcart,
				li {
					.counter.qty{
						min-width: 2rem;
					    min-height: 1rem;
					    height: 2rem;
					    line-height: 1;
					}
				}
			}
			&:not(.sticky){
				.header-middle{
					.logo-container{
						order: 1;
					}
					.col-menu{
						order: 3;
					}
					.col-action{
						order: 2;
						flex: 1;
    					justify-content: flex-end;
    					padding-right: 1rem;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	section, .section, .product.info.detailed, .block.related, .block.upsell{
		margin-bottom: 7.5rem !important;
	}
	.columns .column.main .block:last-of-type{
		margin-bottom: 0 !important;
	}
	.cms-index-index{
		.rokan-title .module-title, .block .title.rokan-title .module-title{
			font-size: 5rem;
			margin-bottom: 0;
		}
	}
	.page-header {
		.header-container {
			.topbar {
				.topbar-inner{
					justify-content: center;
				}
				.col-top-link{
					justify-content: center;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.cms-index-index{
		.wrapper-the-blue-sky-slider{
			margin-bottom: 8rem;
			z-index: 1;
		}
		.section.category-thumb{
			z-index: 2;
		}
		.rokan-title .module-title, .block .title.rokan-title .module-title{
			font-size: 6rem;
		}
	}
	.page-footer {
		margin-top: 12.8rem;
		.footer-top {
			> .footer.content{
				padding-top: 13rem !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	// Newsletter
    .block-newsletter-form{
    	.newsletter-form{
    		.rokan-title{
    			padding-left: 8.5rem;
    			text-align: left;
    			&:before{
    				position: absolute;
    				top: 50%;
    				left: 0;
    				@transform: translateY(-50%);      
    				.lib-css(transform, @transform, @_prefix: 1);
    			}
    		}
    		
    	}
    }
	.page-footer {
		.footer-top {
			> .footer.content{
				padding-top: 17rem !important;
			}
			.block-newsletter-form{
				position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    @transform: translateY(-50%);
			    .lib-css(transform, @transform, @_prefix: 1);
			    .newsletter-form{
			    	padding: 3rem;
			    }
			}
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.page-header {
		.header-container {
			.topbar {
				.col-top-link{
					justify-content: center;
					> p{
						padding-bottom: 0;
					}
				}
			}
			&:not(.sticky){
				.header-middle{
					.for-full-width-menu{
						padding-bottom: 1rem;
					}
					.logo-container{
						flex: 0 0 100%;
						margin-bottom: 1rem;
						.logo-site{
							margin: auto;
						}
					}
					.col-menu{
						order: 2;
					}
					.col-action{
    					padding-right: 0;
					}
				}
			}
		}
	}
	.block-newsletter-form{
    	.newsletter-form{
			flex-direction: column;
	    	.field {
	    		.control{
	    			max-width: 100%;
	    		}
	    	}
    	}
    }
	.page-footer {
		margin-top: 7.5rem !important;
		.footer-top {
			> .footer.content{
				padding-top: 7rem !important;
			}
			.block-newsletter-form{
				margin-left: -@layout-indent__width;
				margin-right: -@layout-indent__width;
				.newsletter-form{
				 	padding: 2rem 1.5rem 3.5rem;
				}
				.rokan-title{
					&:before{
						display: block;
						margin-bottom: 1rem;
					}
					.module-title{
					 	font-size: 2.4rem;
					}
				}
			}
		}
	}
	.wrapper_sub_category_tabs.onlyparent ul li a .cate-name.cate-count{
		font-size: 2.4rem;
	}
}
// Change gobal style
& when (@media-common = true) {
	.product-item {
		.product-label{
			font-family: @font-family__base;
			font-weight: @font-weight__bold !important;
			border-radius: 15px;
    		font-size: 13px;
    		padding: 5px 14px;
		}
	}
	.block-recent-posts{
		margin-bottom: 6rem;
	}
	body{
		#newsletter_pop_up {
			.newletter_popup_close{
				border-radius: 50%;
				border: 2px solid @color-white;
			    border-radius: 50%;
			    top: -30px;
			    right: -30px;
			    box-sizing: content-box;
			}
			.col-newsletter-popup .content-popup .control input{
				padding-left: 3rem;
			}
		}
	}
	@media (min-width: 576px) and (max-width: 1199px) {
		.page-footer{
			margin-top: 16rem;
		}
	}
}

/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.cms-index-index{
		.products-grid{
			.product-items{
				&.owl-carousel{
					margin: 0;
					width: 100%;
					.product-item{
						padding: 0;
					}
				}
			}
		}
	}
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
				margin: 0 -1.5rem !important;
			}
			.product-item{
				border: none;
				margin: 0 0 58px 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height: 1;
				}
				.product-item-info {
					position: relative;
					padding: 0;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding-top: 1rem;
						position: static;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.product-item-name,
						.product-reviews-summary{
							display: inline-flex;
						}
						.product-item-name{
							padding-right: 4rem;
						}
						.product-reviews-summary{
							float: right;
							margin: 0;
							padding: 0;	
							position: relative;
							top: 7px;
						}
						.price-box{
							*{
								.lib-font-size(15);
							}
							.old-price{
								color: #888888;
								.price{
									color: #888888;
								}
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						right: 0;
						bottom: 1.2rem;
						top: auto;
						left: auto;
						background: @theme__color__primary;
						margin: 0;
						.action.tocart,
						label {
							&:before {
								.icon-font("\f07a");
								font-weight: 600;
								font-size: 1.3rem;
								color: @color-white; 
							}
						}
					}
					.field.choice.related{
						&:hover{
							label {
								&:before {
									color: @color-white; 
								}
							}
						}
					}
				}
				.actions-primary,
				.field.choice.related,
				.actions-secondary .action{
					font-size: 0;
				    width: 4rem;
				    height: 4rem;
				    background: @color-white;
					@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.border_radius(50%);
					display: inline-flex;
					.flex-center();
					margin: 0 5px;
					&:before{
						color: @heading__color__base;
						line-height: 4rem;
					}
					&:hover {
						background: @theme__color__primary;
						&:before {
							color: @color-white; 
						}
					}
					&.loading{
						line-height: 4rem;
					}
				}
				
				.actions-secondary{
					box-shadow: none;
					transform: none;
					padding: 0;
					z-index: 2;
					display: inline-flex;
					background: transparent;
					bottom: auto !important;
					left: auto;
					top: 1.5rem;
					right: 2rem;
					flex-direction: column;
					.action{
						margin: 5px 0;
						&.link-quickview{	
							&:before{
								.icon-font("\f06e");
								font-size: 1.4rem;
							}
						}
						&.towishlist{
							&:before{
								.icon-font("\f004");
								font-size: 1.4rem;
							}
							span{
								display:none;
							}
						}
						&:before{
							margin: 0;
							top: 0;
						}
					}
					&:before,
					&:after{
						display: none !important;
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
						.product-reviews-summary{
							opacity: 0;
							visibility: hidden;
						}
					}		
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
					
					
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	.block.related .products-grid .product-item .actions-secondary .action.tocompare{
		&.loading{
			line-height: 40px;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body{
		.products-grid .product-items .product-item, 
		.products-grid *[class*="product-items"][data-margin="0"] .product-item {
			.product-item-info {
				.product-item-details {
					.product-item-name{
						padding-right: 0;
					}
					.product-reviews-summary{
						float: none;
						margin-bottom: 1rem;
						top: 0;
					}
				}
			}
		}
	}
}
// Home page
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider{
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text{
				max-width: @layout__max-width;
				padding-left: @layout-indent__width;
				padding-right: @layout-indent__width;
				margin: auto;
				@media only screen and (min-width: @screen__s) {
					width: 95%;
				}
				.container{
					width: 100% !important;
					max-width: unset;
					padding: 0;
				}
				h5{
					font-family: @font-family__base;
					display: inline-block;
					&.has-bg{
						background-image: url(../images/bg-slider.png);
						background-repeat: no-repeat;    
						padding: 15px 4.5%;
   						background-size: cover;
					}
				}
				&.right_center{
					text-align: left;
					.container{
						margin-right: unset;
						@media only screen and (min-width: @screen__xl) {
							width: 35% !important;
						}
						@media only screen and (min-width: @screen__m) {
							width: 50% !important;
						}
						@media only screen and (max-width: (@screen__m - 1)) {
							text-align: right;
						}
					}
					h5{
						&.has-bg{
							padding: 15px 12%;
						}
					}
				}
			}
		}
	}
	.wrapper_sub_category_tabs{
		&.onlyparent {
			ul {
				li {
					a {
						.cate-name.cate-count {
							.count{
								margin-top: -2rem;
							}
						}
					}
				}
			}
		}
	}
	.container_horizontal_tab_postions{
		&.wrapper_category_product_tabs,
		&.wrapper_product_tabs{
			.ui-tabs-nav{
				margin: 2.6rem;
			}
		}
	}
	.banner {
		.banner-img {
			img{
				width: 100%;
			}
		}
	}
	.super-deal{
		background-color: #faf8f5;
		.supper-deal-title {
		 	.sub-title-deal{
				background-image: url(../images/bg-slider.png);
				background-repeat: no-repeat;
			    padding: 14px 30px;
			    display: inline-block;
			    background-size: cover;
			    text-transform: uppercase;
			}
		}
		.super-deal-countdown{
			margin-bottom: 1.5rem;
		}
		.item-deal-product {
			.info-price-deal{
				background: @link__hover__color;
				font-family: @heading__font-family__base;
				color: @color-white;
				label{
					color: @color-white;
				}
			}
		}
		.time_circles{
			justify-content: center;
			.text{
				color: @heading__color__base;
				text-transform: uppercase;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.wrapper_category_product_tabs,
	.wrapper_product_tabs {
		.ui-tabs-nav {
			li {
				a{
					font-size: 16px;
				}
			}
		}
	}
}
// Blog page
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block-recent-posts{
		.post-list-wrapper {
			.blog-list-post{
				.owl-item{
					overflow: hidden;
					padding-bottom: 1px;
				}
				.item-post-full{
					.flex();
					> div{
						flex: 0 0 50%;
					}
					.blog-post-thumb{
						max-width: 330px;
					}
					.blog-post-info{
						.flex();
						justify-content: center;
						flex-direction: column;
						border-top: 1px solid @border-color__base;
						border-left: 0;
						padding-left: 4rem;
						.desc{
							margin-top: 3.5rem;
							-webkit-line-clamp: 4;
						    -webkit-box-orient: vertical;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    display: -webkit-box;
						}
					}
				}
			}
		}
	}
}
& when (@media-common = true) {
	div[class="top-banner-blog-container"][style*="background-image"] .top-banner-blog-title{
		color: @heading__color__base;
	}
	.block-recent-posts{
		.post-list-wrapper {
			.blog-list-post{
				.item-post-full{
					.blog-post-info{
						.post-category-name{
							padding-right: 1.2rem;
							margin-bottom: 0;
							&:before{
								content: '-';
								padding: 0 6px;
							}
						}
						.flex-layout{
							font-style: italic;
							align-items: center;
							flex-direction: row-reverse;
    						justify-content: flex-end;
						}
					}
				}
			}
		}
	}
	.post-list-wrapper .blog-post-info .post-readmore.btn:not(:hover){
		color: @heading__color__base;
	}
	.post-category-name{
		label{
			display: inline-block;
			.lib-css(color, @greycolor);
		}
		.lib-font-size(13);
		font-style: italic;
		background: transparent;
		padding: 0;
		a{
			color: @heading__color__base;
		}
	}
	.post-list-wrapper {
		.blog-post-info {
			padding: 2.2rem 3rem 3rem;
			.post-title{
				font-size: 2.4rem;
				margin-bottom: 5px;
				font-family: @font-family__base;
				font-weight: @font-weight__bold;
				line-height: 1.3;
			}
			.post-category-name{
				transform: none;
				position: static;
			}
			.blog-list-post {
				.item-post-full {
					.post-title {
						a:not(:hover){
							color: #191919;
						}
					}
				}
			}
		}
		.post-info-bottom{
			a.btn{
				.lib-button-reset();
				background: transparent !important;
				text-transform: capitalize;
				border-bottom: 2px solid @theme__color__primary;
				border-radius: 0;
				&:not(:hover){
					color: @heading__color__base;
				}
				&:hover{
					color: @theme__color__primary;
					border-bottom: 2px solid @theme__color__primary;
				}
			}
		}
	}
	// Post view
	.blog-post-view {
		.blog-post-thumb{
			a{
				display: block;
				font-size: 0;
			}
		}
		.post-bottom{
			text-align: left;
		}
	}
	.sidebar .widget-post-tab .tab-content ul li .post-tab-info h3{
		font-size: 1.6rem;
	}
}
& when (@media-common = true) {
	.cms-about-us .page-footer{
		.section.connect{
			margin-bottom: 12rem;
		}
	}
}