<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');

$_helperData = $this->helper('Rokanthemes\PriceCountdown\Helper\Data');
$timer_active = $_helperData->getConfigData('pricecountdown/general/activate_pricecountdown');
$timer_head_active = $_helperData->getConfigData('pricecountdown/general/activate_rokanthemes_heading');
$timer_desc_active = $_helperData->getConfigData('pricecountdown/general/activate_rokanthemes_description');
$timer_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/text');
$desc_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/description');
$head_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/heading_text_color');
$timer_head = $_helperData->getConfigData('pricecountdown/general/heading');
$count = 1;
$_current_timer = time();
$width = $this->getConfig('width');
		if(!$width){
			$width = 550;
		}
		$height = $this->getConfig('height');
		if(!$height){
			$height = 550;
		}
		$enabled_hover = $this->getConfig('enabled_hover');
		$image_type = $this->getConfig('image_type');
		$image_type_hover = $this->getConfig('image_type_hover');

	?>
	<div class="section rokan-price-count-down">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_count_down';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_count_down';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<div class="rokan-title">
				<h3 class="module-title"><?php echo $this->getConfig('title')?></h3>
			</div>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-onslate-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			if(!$rows = $this->getConfig('items'))
				$rows = 1;
			?>	
			<div class="products wrapper grid products-grid">
				<ul class="products list items product-items">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<?php if($i %$rows == 0) echo "<li>"; 
							$pec_ = $this->helper('Rokanthemes\Superdeals\Helper\Data')->showLableSalePriceCategory($_product, true);
						?>

						 <div class="item product product-item">
							<div class="product-item-info">
								<?php
								$resizedImageUrl = $block->resizeImage($_product, $image_type, $width, $height)->getUrl();
								?>
								<?php // Product Image ?>
								<div class="product-thumb">
									<div class="count-down deal-timer">
										<div class="time_circles">
										<?php if($timer_active == 1){ ?>
										<?php $_product = $_product->load($_product->getId()) ?>
										<?php $toDate = $_product->getSpecialTODate();?>
										<?php $fromDate = $_product->getSpecialFromDate(); ?>
										<?php if(($_product->getPrice() > $_product->getSpecialPrice() || $_product->getTypeId() == 'bundle') && $_product->getTimershow() == 1) { ?>
											<?php if($_product->getSpecialPrice()!= 0 || $_product->getSpecialPrice()!= "" ) { ?>
													<div id="countbox_<?php echo $count; ?>" class="timer-list"></div>
													<?php if($timer_desc_active == 'showall' || $timer_desc_active == 'listpage' && $timer_desc_active!='hideall') { ?>
													<?php
															if($_product->getTypeId() == 'bundle')
															{
																echo '<h1>Discount up to '.(100 - $_product->getSpecialPrice()*1).'% </h1>';
															}
														} ?> 
													<script>
													var DisplayFormat = "<span class='countdown-section'><span class='countdown-amount'>%%D%%</span><span class='countdown-period'><?php echo __('Day') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%H%%</span><span class='countdown-period'><?php echo __('Hrs') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%M%%</span><span class='countdown-period'><?php echo __('Min') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%S%%</span><span class='countdown-period'><?php echo __('Sec') ?></span></span>";
														var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
														start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
														start_date = Date.parse(start);
														var dnow<?php echo $count; ?> = new Date(start_date);
														if(CountStepper>0)
															ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
														else
															ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
														//gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
														<?php if(strtotime($fromDate) <= $_current_timer){ ?>
															gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
														<?php }else{ ?>
															gsecs<?php echo $count; ?> = -1;
														<?php } ?>

														var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
														CountBack(gsecs<?php echo $count; ?>,"countbox_"+j, j);
														j++;
													</script>
													<?php $count = $count + 1; ?>
													<?php
												}
											}
										} ?>
										</div>
									</div>
									<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<span class="image0 image-switch">
											<img class="product-image" src="<?= $resizedImageUrl ?>" width="<?= $width ?>" height="<?= $height ?>" alt="<?php echo $_product->getName();?>">
										</span>
										<?php if($enabled_hover){ 
											$resizedImageHoverUrl = $block->resizeImage($_product, $image_type_hover, $width, $height)->getUrl();
										?>
											<span class="image1 image_hover">
												<img class="product-image" src="<?= $resizedImageHoverUrl ?>" width="<?= $width ?>" height="<?= $height ?>" alt="<?php echo $_product->getName();?>">
											</span>
										<?php } ?>
									</a>
								</div>
								<div class="product details product-item-details">
									 <?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<strong class="product name product-item-name">
										<a class="product-item-link"
										   href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
											<?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
										</a>
									</strong>
									<?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
									<?= /* @noEscape */ $block->getProductPrice($_product) ?>
									<?php if ($_product->isAvailable()) :?>
										<?= $block->getProductDetailsHtml($_product) ?>
									<?php endif; ?>
									<div class="product-item-inner">
										 <div class="product actions product-item-actions">
											<div class="actions-primary">
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit"
																title=""
																class="action tocart primary">
															<span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
														</button>
													</form>
												<?php else: ?>
													<?php if ($_product->getIsSalable()): ?>
														<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											</div>
											<div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : '' ?>>
												<?php if ($addToBlock = $block->getChildBlock('addto')) :?>
													<?= $addToBlock->setProduct($_product)->getChildHtml() ?>
												<?php endif; ?>
												<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
												<a href="#"
												   class="action towishlist"
												   title=""
												   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
												   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
												   data-action="add-to-wishlist"
												   role="button">
													<?php echo $block->escapeHtml(__('Wish List')); ?>
												</a>
											<?php endif; ?>
											</div>
										</div>
									</div>
								</div>
							<?php $i++;?>
						</div>
					</div>
						<?php if($i %$rows == 0) echo "</li>"; ?>                  
					<?php endforeach; ?>
						<?php if($i %$rows != 0) echo "</li>"; ?>                
				</ul>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
	<?php endif; ?>
	</div>
<?php } ?>