//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold; 
@heading__line-height__base: 1.2;
@heading__color__base: #333333;

@theme__color__primary: #ffd333; 
 @border-color__base: #e0e0e0;
// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: #333333;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: #888;
//Button variable
@button__border-radius: false; 
@button__color: #333;
@button__padding: 14px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button_mobile_padding: 14px 20px;
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;
@button__text_transform: capitalize;

@form-element-input__height: 48px;

// Topbar
@topbarbg: @color-white;
@topbarcolor: #333333;

// Header
@header__background-color: #333333;
@header-border-color: false;

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @color-white;

@headerpadding: 20px; // Make header height bigger than menu height
@sticky_padding: 8px;

/* footer */
@footer-title-color: @color-white;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @font-weight__bold;
@footer-title-transform: capitalize;
@footer__background-color: transparent;
@social_link_bg: #868686;

@footercolor: fade(@color-white, 80%);
@footer-border-color: #525252;

@footer-middle-bg: transparent;
@footer-bottom_bg: transparent;
@footer_bottom_color: fade(@color-white, 80%);

// Menu
//Level 0

@menufont: inherit;
@navigation-desktop__background: transparent;
@navigation-desktop__font-size: 1.6rem; // Destop navigation font size

@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
@navigation-desktop-level0-item__hover__text-decoration: false;
@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: capitalize;
@navigation-level0-item__font-size: 16;
@navigation-level0-item__font-weight: @navigation-desktop__font-weight;
@navigation-desktop-level0-item__padding: 0 15px;

@navigation-desktop__font-weight: @font-weight__bold;
@submenu-desktop-item__hover__color: @theme__color__primary;
// Level 1
@level1_color: @heading__color__base;
           
.icon_header(){
	font-size: 2.5rem;
    line-height: 3rem;
    position: relative;	
};

// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @button__color;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: #888;
//Button variable
@button__border-radius: false; 
@button__font-size: 1.5rem;
@button__color: #333;
@button__padding: 14px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;

@form-element-input__height: 46px;
// revo rapper-the-blue-sky-slider
@slider_h3_text-transform: false;

@slider_h2_text-transform: false;
@slider_h2_font-size-xxl: 44px;
@slider_h2_font-size-xl: 44px;
@slider_h2_font-size-l: 36px;
@slider_h2_font-size-s: 30px;
@slider_h2_font-size-xs: 25px;
@slider_h2_margin: 0;

@slider_h4_text-transform: false;

@slider_h5_text-transform: false;
@slider_h5_font-weight: @font-weight__regular;

@slider_P_text-transform: false;

@slider_button_font-size-xl: 15px;
@slider_button_font-size-l: 14px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 12px;

@slider_button_margin-top: 35px;
@slider_button_padding: @button__padding;
@slider_button_padding-s: 6.5px 15px;

// Owl, slider dot
@nivo-controlNav-veritcal-postion: 50px;
@nivo-controlNav-postion: left;
@nivo-controlNav-bg: @owl-dot-bg;
@nivo-controlNav-width: @owl-dot-width;
@nivo-controlNav-height: @owl-dot-height;
@nivo-controlNav-border-radius: @owl-dot-border-radius;

@owl-dot-bg: #bec1c5;
@owl-dot-width: 7px;
@owl-dot-height: 7px;
@owl-dot-border-radius: 50%;
// Change gobal style
& when (@media-common = true) {
	body{
		.owl-carousel,
		.wrapper-the-blue-sky-slider{
			.owl-dots,
			.nivo-controlNav{
				.owl-dot,
				.nivo-control{
					margin: 0 7.5px;
					position: relative;
					&:after{
						content: '';
						border: 2px solid;
						border-color: transparent;
						position: absolute;
						top: -2px;
						left: -2px;
						bottom: -2px;
						right: -2px;
						border-radius: 50%;
					}
					&.active{
						background: transparent !important;
						&:after{
							border-color: @heading__color__base;
						}
					}
				}
			}
		}
		.wrapper-the-blue-sky-slider{
			.nivo-controlNav{
				.nivo-control{
					&.active{
						&:after{
							border-color: @theme__color__primary;
						}
					}
				}
			}
		}
	}
	.rokan-title{
		border-bottom: 2px solid @border-color__base;
		a{
			font-weight: @font-weight__bold;
			&:not(:hover){
				color: @heading__color__base;
			}
			&:after{
				.icon-font("\f138");
			    font-weight: 900;
			    margin-left: 1rem;
			    vertical-align: middle;
			    color: #ffd333;
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Label
	.product-item {
		.product-label{
			top: 0;
			font-weight: 500;
			.lib-font-size(12);
			&.onsale{
				right: 0;
			}
			&.newlabel{
				left: 0;
			}
		}
	}
	// Remove padding in product owl slider
	.cms-index-index{
		.products-grid{
			.product-items{
				&.owl-carousel{
					margin: 0;
					width: 100%;
					.product-item{
						padding: 0;
					}
				}
			}
		}
	}
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
				margin: 0 -1.5rem !important;
			}
			.product-item{
				border: none;
				margin: 0 0 58px 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height: 1;
					overflow: hidden;
					.product-image-photo{
						.transition();
					}
				}
				.product-item-info {
					position: relative;
					padding: 0;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						.product-reviews-summary{
							.reviews-actions{
								.action.view{
									display: none;
								}
							}
						}
						.price-box{
							font-weight: @font-weight__bold;
							*{
								.lib-font-size(16);
							}
							.old-price{
								color: #c1c1c1;
								.price{
									color: #c1c1c1;
								}
							}
						}
						.product-item-inner{
							position: absolute;
   							bottom: calc(~'100% + 1rem');
						    z-index: 222;
						    left: 0;
						    right: 0;
						    pointer-events: none;
						    .product-item-actions{
						    	.flex();
						    	flex-direction: column-reverse;
    							align-items: flex-end;
    							.actions-primary{
    								margin-top: 20%;
    								flex: 1;
    								width: 100%;
    								background: transparent;
    								 pointer-events: visible;
    							}
						    }
						}
					}
					.actions-primary{
						position: static;
						width: auto;
						height: auto;
						border-radius: 0;
						@transform: translateY(0);
						.lib-css(transform, @transform, @_prefix: 1);

						.transition();
						.action.tocart{
							.lib-button();
							&:not(:hover){
								background: @heading__color__base;
								color: @color-white;
							}
							&:before{
								display: none;
							}
						}
					}
					.field.choice.related{
						right: 1.5rem;
						bottom: 1rem;
						top: auto;
						left: auto;
						background: transparent;
						margin: 0;
						 pointer-events: visible;
						position: relative;
						margin-top: 1.2rem;
						box-shadow: none;
						.action.tocart,
						label {
							&:before {
								.icon-font("\f07a");
								font-weight: 600;
								font-size: 1.3rem;
								color: @heading__color__base; 
							}
							&:hover{
								background-color: transparent;
							}
						}
					}
				}
				.field.choice.related,
				.actions-secondary .action{
					font-size: 0;
				    width: 4rem;
				    height: 4rem;
				    background: @color-white;
					@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.border_radius(50%);
					display: inline-flex;
					.flex-center();
					margin: 0 5px;
					 pointer-events: visible;
					&:before{
						color: @heading__color__base;
						line-height: 4rem;
					}
					&:hover {
						background: @theme__color__primary;
						&:before {
							color: @color-white; 
						}
					}
					&.loading{
						&.towishlist{
							display: block;
							line-height: 40px;
							text-align: center;
						}
						&:before{
							line-height: 4rem;
						}
					}
				}
				
				.actions-secondary{
					position: static;
					box-shadow: none;
					transform: none;
					padding: 0;
					z-index: 2;
					display: inline-flex;
					background: transparent;
					flex-direction: column;
					.transition();
					margin-right: 0;
					.action{
						margin: 5px 0;
						&.link-quickview{	
							&:before{
								.icon-font("\f06e");
								font-size: 1.4rem;
							}
						}
						&.towishlist{
							&:before{
								.icon-font("\f004");
								font-size: 1.4rem;
							}
							span{
								display:none;
							}
						}
						&:before{
							margin: 0;
							top: 0;
						}
					}
					&:before,
					&:after{
						display: none !important;
					}
				}
				&:hover{		
					.product-item-photo{
						opacity: 0.2;
						.product-image-wrapper{
							.product-image-photo{
								@transform: scale(1.1);
								.lib-css(transform, @transform, @_prefix: 1);
							}
						}
					}
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary{
						@transform: translateY(-3rem);
						.lib-css(transform, @transform, @_prefix: 1);
					}
					.actions-secondary{
						margin-right: 1.5rem;
					}					
				}
			}
		}
		&.products-related{
			.product.actions.product-item-actions{
				bottom: calc(~'100% + 1rem');
			    left: 0;
			    right: 0;
			    pointer-events: none;
			    display: flex;
			    flex-direction: column;
			    min-height: 100%;
			    justify-content: flex-start;
			    align-items: flex-end;
			    position: absolute;
			    z-index: 2;
			}
		}
	}
	.block.related .block-title, 
	.block.upsell .block-title, .block.crosssell .block-title{
		border-bottom: 0;
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	.products-grid{
		.owl-carousel.owl-drag .owl-item{
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
//Header
& when (@media-common = true) {
	.header-container{
		// Topbar
		.topbar{
			.topbar-inner{
				.col-left,
				.col-right {
					flex: 1;
				}
				.col-left{
					ul{
						list-style: none;
						width: 100%;
						margin: 0 -1rem;
						li{
							margin-bottom: 0;
							padding: 0 1rem;
							.icon{
								margin: 0 5px 0 0;
								padding-right: 0;
								font-weight: @font-weight__semibold;
							}
							.icon,
							.fa,
							.far{
								font-size: 0;
								&:before{
									font-size: 1.4rem;
								}
							}
							a{
								display: inline-flex;
								align-items: center;
								&:not(:hover){
									.icon{
										&:before{
											color: @topbarcolor;
										}
									}
								}
							}
						}
					}
				}
				.col-right {
					justify-content: flex-end;
				}
			}
		}
		.block.block-search {
			position: static;
			.dropdown{
				.top-search{
					color:  @header-icons-color;
					margin-right: 0.6rem;
					i{
						.lib-font-size(23);
					}
				}
				.form.minisearch{
					right: 0;
				}
			}
		}
		// Language currency
			.container-setting-language-currency{
				.switcher{
					padding: 0 10px 0 1.2rem;
					.lib-css(border-color, @header-border-color);
				}
			}
			.header.links{
				padding-left: 1.2rem;
				align-items: center;
				li{
					&:first-child{
						border-right: 0 !important;
					}
					&:last-child{
						padding-left: 0.3rem !important;
					}
				}
			}
		.col-action {
			li,
			.minicart-wrapper .action.showcart{
				.counter.qty{
				    min-width: 2.2rem;
					min-height: 2.2rem;
					color: @topbarcolor;
					position: relative;
					top: -1px;
					margin-left: 4px;
				}
			}
			.action-header > li {
				margin: 0 1.1rem;
				> a,
				.minicart-wrapper > a{
					display: inline-flex;
					align-items: center;
					padding-right: 0;
				}
			}
			.minicart-wrapper{
				margin-left: 0;
			}
		}
		&:not(.sticky){
			.header.panel.header-middle {
				.lib-css(padding-top, @headerpadding);
				.lib-css(padding-bottom, @headerpadding);
			}
		}
		.sticky-header{
			.logo-container{
				.logo-site{
					max-width: 30rem;
				}
			}
		}
	}
	.navigation span.cat-label.cat-label-label3{
		background: @theme__color__primary !important;
		color: @heading__color__base;
		&:before{
			border-right-color: @theme__color__primary !important;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.cms-index-index{
		.page-header{
			background: transparent;
		}
		.header-middle{
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
		}
	}
	.primary-menu-container{
		padding: 0 2rem;
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .header-container{
		 .topbar .topbar-inner {
		 	.col-left{
		 		display: none;
		 	}
		 	.col-right{
		 		justify-content: center;
		 		.header.links{
		 			display: none;
		 		}
		 	}
		}
		.sticky-header{
			.logo-container{
				flex: 1;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body{
		.header-container{
			.sticky-header{
				.for-full-width-menu{
					flex-wrap: wrap;
					.logo-container{
						flex: 0 0 100%;
						max-width: 100%;
						text-align: center;
						.logo-site{
							margin: auto;
						}
					}
				}
				
			}
		}
	}
}
// Footer
& when (@media-common = true) {
	.page-footer{
		    background-attachment: fixed;
		.footer-container{
			.footer-static_link{
				.block-newsletter-form{
					.rokan-title{
						margin-bottom: 1.5rem;
						border-bottom: 0;
						.short-des{
							margin-bottom: 1.4rem;
						}
					}
					.newsletter-form{
						float: none;
						.field .control{
							justify-content: flex-start;
							.input-focus{
								flex: 1;
							}
						}
						.action.subscribe{
							padding: 13px 30px;
						}
					}
				}
				.footer-links{
					&.not-collapse-mobile{
						flex: 0 0 40%;
    					max-width: 40%;
    					&.square-social{
    						.social-link{
    							li{
    								a{
    									&:not(:hover){
    										.icon{
    											color: @heading__color__base;
    										}
    									}
    								}
    								&:not(:first-child){
    									padding-left: 1rem;
    								}
    								&:not(:last-child){
    									padding-right: 1rem;
    								}
    							}
							}
    					}
					}
					.footer-contents{
						li{
							margin-bottom: 1.4rem;
							a{
								.lib-icon-font(
					               	@icon-next,
					                @_icon-font-size: 24px,
					                @_icon-font-line-height: 20px,
					                @_icon-font-text-hide: true,
					                @_icon-font-position: before
					            );
					            &:before{
					            	padding-right: 0;
    								margin-left: -0.9rem;
					            }
							}
						}
					}
					&.contact{
						flex: 0 0 22%;
						max-width: 22%;
						.footer-contents{
							.flex-layout{
								flex-wrap: nowrap;
								.icon{
									em, span, i{
										&:before{
											color: @theme__color__primary;
											font-size: 18px;
										    position: relative;
										    top: 3px;
										}
									}
								}
								p{
									margin-bottom: 1.5rem;
								}
							}
						}
					}
				}
			}
			.footer-bottom{
				margin-top: 4.3rem;
				.hozital-menu{
					p{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer{
		.footer-container{
			.footer-static_link{
				.block-newsletter-form{
					width: 90%;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .page-footer{
		.footer-container{
			.footer-static_link{
				.block-newsletter-form {
					.rokan-title{
						text-align: center;
					}
					.newsletter-form{
						margin-bottom: 1rem;
					}
				}
				.footer-links{
					&.not-collapse-mobile{
						flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 2rem;
						text-align: center;
						.social-link{
							justify-content: center;
						}
					}
					&.contact{
						flex: 0 0 33%;
    					max-width: 33%;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .page-footer{
		.footer-container{
			.footer-static_link{
				.footer-links{
					&.contact{
						flex: 0 0 100%;
    					max-width: 100%;
					}
				}
			}
		}
	}
}
// Slider
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				*{
					&.light{
						font-weight: @font-weight__light;
					}
					&.inline{
						margin-top: 4rem;
						@media only screen and (max-width: 1399px){
							.get-vw-xxl(margin-top, 4rem);
						}
					}
				}
				.btn{
					display: table;
				}
			}
		}
	}
}

// Banner
& when (@media-common = true) {
	.banner{
		&.box-layout{
			> .row{
			    max-width: 1890px;
				margin: auto;
			}
		}	
		.col-banner{
			&.center{
				.content{
					h2{
					}
					p{
						margin: 1.6rem 0 1rem;
	   					line-height: 1.5;
					}
					.button-wrap{
						margin-top: 3.8rem;
						letter-spacing: 0;
						a{
							border-bottom: 0;
							&:not(:hover){
								color: @heading__color__base;
							}
							&:after{
								.icon-font("\f138");
							    margin-left: 0.7rem;
							    vertical-align: middle;
							    color: @theme__color__primary;
							}
						}
					}
				}
				
			}
		}
		&.tool-middle{
			.col-banner{
				&.center.left {
					.content{
						padding-left: 1.5rem;
					}
				}
				.content{
					p{
						margin-bottom: 1.9rem;
					}
					h2{
						&.light{
							margin-top: 0.4rem;
							margin-bottom: 5rem;
						}
					}
					.button-wrap{
						margin-top: 2.7rem;
						a{
							&:after{
								display: none;
							}
						}
					}
				}
			}
		}
		.banner-content{
    		>.flex-layout{
    			padding-left: 1.5rem;
    		}
		}
		.rolated{
			font-size: 16px;
		    line-height: 26px;
		    font-weight: 900;
		    letter-spacing: 1.06em;
		    border-style: solid;
		    border-width: 2px;
		    padding: 12px calc(~'18px - 1.06em') 10px 18px;
		}
		.price-content{
			margin-bottom: 3rem;
			h2{
				margin-bottom: 0;
			}
			.number{
				font-size: 110px;
				@media only screen and (max-width: 1399px){
					font-size: 90px;
				}
			}
			.flex-layout{
				margin-right: 2.5rem;
			}
		}
	}
	.shipping-support{
		&.car-parts{
			.fa,
			.far,
			.icon{
				position: relative;
				top: 5px;
				&:before{
					.lib-font-size(41);
				}
			}
		}
		p{
			&.size-15{
				font-weight: @font-weight__bold !important;
				line-height: 1.5;
	    		margin-bottom: 1rem !important;
	    	}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.banner{	
		.col-banner{
			&.center{
				&.left{
					.content{
						padding-left: 5rem;
					}
				}
			}
		}
		.banner-content{
			width: 50%;
    		max-width: 60rem;
    		>.flex-layout{
    			position: relative;
    			padding-left: 25%;
    		}
		}
		.rolated{
		    -webkit-transform-origin: right top;
		    -moz-transform-origin: right top;
		    -ms-transform-origin: right top;
		    -o-transform-origin: right top;
		    transform-origin: center bottom;
		    @transform: rotate(-90deg);
		    .lib-css(transform, @transform, @_prefix: 1);
		    position: absolute;
		    top: 35%;
		    left: -20%;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.banner {
		.col-banner:not(.not-has-text) .banner-img {
			img{
				position: relative;
				right: 20%;
				max-width: 400vw;
			}
		}
		&.tool-middle{
			.col-banner:not(.not-has-text) .banner-img {
				left: 0;
				right: 0;
			}
			.col-banner{
				margin-bottom: 0;
				.content.container{
					padding-left: 2.5rem !important;
				}
			}
			.banner-content > .flex-layout{
				padding-left: 0;
				flex-direction: column;
				align-items: flex-start;
			    background: rgba(255,255,255,0.6);
			    padding: 5%;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body .banner {
		.col-banner:not(.not-has-text) .banner-img img{
			right: 40%;

		}
		.rolated{
			letter-spacing: 5px;
		}
	}
}
// Supper deal
// 

@banner_padding: false;
@deal_product_name_size: 1.4rem;
@deal_number_bg: #f2f2f2;
@deal_number_font-size: 2.4rem;
@deal_number_font-weight: @font-weight__bold;
@deal_number_color: #222;
@deal_number_width: 7rem;
@banner_deal_number-border-radius: 50%;
// Sub title
@sub_title_supper_deal-font-size: 1.6rem;
@sub_title_supper_deal-color: #888;
@sub-title_supper_deal_letter-spacing: false;
@sub-title_supper_deal_font-weight: false;
@sub-title_supper_deal_font-family: false;
@sub-title_supper_deal_margin: false;
// Title

@title_supper_deal_color: @heading__color__base;
@title_supper_deal_size: 2.8rem;
@title_supper_deal_mobile_size: 2.8rem;
@title_supper_deal_font-weight: @heading__font-weight__base;
@title_supper_deal_letter-spacing: false;
@title_supper_deal_letter-family: false;
@title_supper_deal_margin: false;
// Sub title
@sub_title_supper_deal-font-size: 2.8rem;
@sub_title_supper_deal-color: @heading__color__base;
@sub-title_supper_deal_letter-spacing: false;
@sub-title_supper_deal_font-weight: 400;
@sub-title_supper_deal_font-family: @heading__font-family__base;
@sub-title_supper_deal_margin: false;
& when (@media-common = true) {
	.hot-deal-tab-slider {
		border: 3px solid @theme__color__primary;
		padding: 3rem;
		.info-price{
		    border: 0;
		    padding: 0;
		    margin: 0;
		    display: block;
		}
		.supper-deal-title{
			.title-deal{
				margin-bottom: 0;
			}
			.sub-title-deal{
				margin: 0;
			}
			.super-deal-countdown{
				margin-top: 3rem;
			}
			p{
				margin-bottom: 0;
				.view-all-deal{
					margin-top: 1.4rem;
				}
			}
		}
		.time_circles > div{
			padding: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.hot-deal-tab-slider {
		.flex-layout-desktop{
			.flex();
			flex-wrap: nowrap;
			.supper-deal-title {
				flex: 0 0 35%;
			    max-width: 414px;
			    padding-right: 3rem;
			}
			.products-grid{
				flex: 1;
				margin: 0;
			}
		}
	}
}
// Product tab, Sub category tab
& when (@media-common = true) {
	// wrapper_category_product_tabs
	.wrapper_category_product_tabs{
		&.container_horizontal_tab_postions{
			position: relative;
			.ui-tabs-nav{
				white-space: nowrap;
   				overflow-y: hidden;

			}
			@media only screen and (min-width: @screen__l) {
				.rokan-title{
					position: absolute;
					left: 0;
					top: 0;
					width: 45%;
					.module-title{
						white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					}
				}
				.ui-tabs-nav{
					text-align: right;
					padding-left: 45%;
					li{
						margin-bottom: 0.8rem;
					}
				}
			}
			.rokan-title{
				border-bottom: 0;
			}
			.ui-tabs-nav{
				padding-bottom: 1rem;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					border-bottom: 2px solid @border-color__base;
				}
				li{
					padding: 0 !important;
					a{
						padding: 0 1rem;
						.lib-font-size(15);
						font-family: @heading__font-family__base;
						text-transform: uppercase;
						position: relative;
						&:not(:hover){
							.lib-css(color, @greycolor);
						}
						&:after{
							position: absolute;
							left: 0;
							right: 0;
							bottom: -1.8rem;
							content: '';
							border: 2px solid transparent;
							z-index: 1;
						}
					}
					&.ui-tabs-active,
					&:hover{
						a{
							color: @theme__color__primary;
							&:after{
								border-color: @theme__color__primary;
							}
						}
					}
				}
			}
		}
		&.container_vertical_tab_postions{
			.ui-tabs-nav {
				li {
					a{
						padding-bottom: 2.83rem;
						padding-top: 2.83rem;
					}
				}
			}
		}
	}
	.col-category{
		padding: 0 1.5rem;
		.wrapper_sub_category_tabs{
			background-attachment: inherit !important;
			padding: 0 !important;
			.rokan-title{
				display: none;
			}
		}
		&:not(.onlyparent) {
			.category-thumb-section {
				.widget-tabs {
					padding: 4rem 3rem;
					> ul{
						grid-template-columns: 1fr;
						margin-bottom: 0;
						> li{
							&:before{
								color: @color-white;
							}
							> a{
								.lib-font-size(3rem);
								margin-bottom: 3rem;
								&:not(:hover){
									color: @color-white !important;
								}
							}
						}
						ul{
							grid-template-columns: 1fr 1fr;
							grid-column-gap: 3rem;
							display: grid;
						}
					}
				}
			}
		}
	}
	.col-product{
		padding: 0 1.5rem;
		.products{
			margin: 0;
		}
		.owl-carousel.owl-drag .owl-item{
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			} 
		}
	}
	// Sub category tab
	.wrapper_sub_category_tabs{
		&:not(.onlyparent) {
			.category-thumb-section {
				.widget-tabs {
					> ul{
						ul{
							li{
								&:not(:hover){
									&:before{
										color: @color-white;
									}
									a{
										color: @color-white;
									}
								}
								
							}
						}
					}
				}
			}
		}
	}
	.category-product{
		width: 100%;
	}
	.margin_0{
		.section{
			margin-bottom: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.category-product{
		.flex();
		flex-wrap: nowrap !important;
		.col-category{
			flex: 0 0 40%;
			max-width: 57rem;
			
			.wrapper_sub_category_tabs{
				height: 100%;
				.flex();
				align-items: center;
			}
		}
		.col-product{
			flex: 1;
		}
		.section{
			margin-bottom: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.category-product{
		overflow: hidden;
		.col-category{
			width: 100%;
		}
	}
	.wrapper_category_product_tabs.container_horizontal_tab_postions .ui-tabs-nav li a:after{
		bottom: -2.1rem !important;
	}
}
// Blog
& when (@media-common = true) {
	.section{
		.post-list-wrapper {
			.blog-post-info{
				border: 0;
				padding: 2.1rem 0 0;
				.post-title{
					margin-bottom: 0.5rem;
				}
				.post-category-name{
					position: static;
					padding: 0;
					background-color: transparent;
					text-transform: uppercase;
					transform: none;
					margin: 0;
					font-size: 1.2rem;
					&:not(:hover){
						color: @text__color;
					}
				}
				.time-conment{
					font-size: 1.2rem;
					&:before{
					    content: '';
					    width: 6px;
					    height: 6px;
					    border: 3px solid;
					    border-radius: 50%;
					    opacity: .5;
					    margin: auto;
					    background: @text__color;
					    display: inline-flex;
					    vertical-align: middle;
					    margin: 0 15px;
					}
				}
			}
		}
	}
}
// Brand
& when (@media-common = true) {
	.column.main{
		> div{
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.block-widget-rokanthemes-brand{
		.owl-carousel.owl-drag .owl-item{
			.transition();
			&:not(:hover){
				opacity: 0.6;
			}
		}
	}
}