// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: 500; 
@heading__line-height__base: 1.4;
@heading__color__base: #0d0d0d;
// Color 
@theme__color__primary: #5b83e8;
@link__hover__color: #5b83e8; 
// Topbar
@topbarbg: #f2f4fa;
@topbarcolor: #222222;

// Header
@header__background-color: @color-white;
@header-border-color: #e5e5e5;

@headerpadding: 0;
@header_sticky_bg: @header__background-color;
@header_sticky_border:  #ebebeb;
@header-icons-color: @heading__color__base;
// Top search
@_search-border-color: #ebebeb;
@_search-border-width: 1px;

// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: 500;
@navigation-desktop__font-size: 1.6rem;


//Level 0
@navigation-desktop-level0-item__color: #0d0d0d;
@navigation-level0-item__font-family: @heading__font-family__base ;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 15;
@navigation-level0-item__font-weight: 500;

//Level 1
@level1_font_weight: 500;
@level1_font_size: 1.8rem;
@level1_letter_spacing: false;
@level1_color: #222;

// Level 1
@level1_color: @heading__color__base;

/* footer */
@footer-title-color: @color-white;
@footer-title-font-size: 2rem;
@footer-title-font-weight: @heading__font-weight__base;
@footer-title-transform: capitalize;
@footer__background-color: #181e2d;
@footercolor: #888888;
@footer-border-color: #282e3b;
@footer_bottom_color: #888888;
@social_link_bg: #6c90ea;

// Vertical module
@vertical_menu_title_color: @color-white;
@vertical_level0_color: #6e6e6e;
@vertical_level10_size: 15px;
@vertical_level10_padding: 0 3rem;
@vertical_level10_border: 1px solid @border-color__base;
@vertical_level10_desktop_line-height: @navigation-desktop-level0-item__line-height;
@level0_vertical_font_weight: @font-weight__regular;

//Level 1
@level1_vertical_font_weight: @heading__font-weight__base;
@level1_vertical_font_size: 1.8rem;
@level1_vertical_letter_spacing: false;
@level1_vertical_color: @heading__color__base;
//Module variables
//Title
@module_margin_bottom: 2rem;
@module_title_text-align: left;
@margin_gobal_value: 8rem;
@module_title-size: 3rem;
// Product
@price_color: #222;
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: @link__hover__color;
@new_label_color: @color-white;

// Button
@second_button_bg: @link__hover__color;
@second_button_color: @color-white;


@checkout-button-bg: @link__hover__color;
@checkout-button-color: @color-white; 
//Button variable
@button__border-radius: 3px; 
@button__color: @color-white;
@button__padding: 12.5px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @color-white;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
// Module Search
@search-form_bg: transparent;
@action_button_bg: @theme__color__primary;

@form-element-input__border-radius: @button__border-radius;
@timeline-loading-item_bg: #ccc;


// Slider heading
@slider_h2_font-size-xxl: 48px;
@slider_h2_font-size-xl: 48px;
@slider_h2_font-size-l: 42px;
@slider_h2_font-size-s: 26px;
@slider_h2_font-size-xs: 24px;
@slider_h2_font-weight: 500;
@slider_h2_letter-spacing: -1px;
@slider_h2_text-transform: false;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.1;

@slider_h5_font-size-xxl: 14px;
@slider_h5_font-size-xl: 14px;
@slider_h5_font-size-l: 14px;
@slider_h5_font-size-s: 14px;
@slider_h5_font-size-xs: 12px;
@slider_h5_font-weight: @heading__font-weight__base;
@slider_h5_letter-spacing: 2px;
@slider_h5_margin: 20px;

@slider_h4_font-size-xxl: 16px;
@slider_h4_font-size-xl: 16px;
@slider_h4_font-size-l: 16px;
@slider_h4_font-size-s: 14px;
@slider_h4_font-size-xs: 12px;
@slider_h4_letter-spacing: 2px;
@slider_h4_font-weight: @heading__font-weight__base;
@slider_h4_text-transform: uppercase;
@slider_h4_margin: 10px;
@slider_h4_line-height: false;

@slider_p_font-size-xxl: 18px;
@slider_p_font-size-xl: 17px;
@slider_p_font-size-l: 16px;
@slider_p_font-size-s: 14px;
@slider_p_font-size-xs: 12px;
@slider_p_margin: 0;
@slider_p_font-weight: 300;
@slider_p_line-height: 1.6; 

@slider_button_margin-top: 50px;
@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 11px;
@slider_button_padding: 14.5px 45px;
@slider_button_padding-s: 8.5px 25px;
// Supper deal module
@deal_number_bg: false;
@deal_number_font-size: 2.4rem;
@deal_number_width: false;
 @deal_number_color: @color-white;
@banner_deal_number-color: @color-white;
@deal_number_font-weight: @heading__font-weight__base;
// Module Category thumb
//  Variables
//  _____________________________________________

@category-bg-padding: 8rem 0;
@category-name-size: 15px;
@category-name-color: #fff;
@category-name-font-weight: 500;
@line-height_category_name: false;
@category-name-text-transform: uppercase;
// Products count
@img_category_thumb-radius: 5px;
@category_name-padding: 1rem;
@category_name_position: false;
@category-count-size: 14px;
@category-count-color: #888;
@category-count-font-weight: @font-weight__regular;
@category-count-font-style: false;
@category-count-display: block;

// Vertical thumb image



@background-category-thumb: false;
@padding-category-thumb: false;

// Category tab, product tab
//  Variables
//  _____________________________________________
@tabcolor: #6e6e6e;
@tabactive: @theme__color__primary;
// Hozital variable
@category-tab-text-align: right;
@category-tab-name-size: 15px;


// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: 9rem 0;

@banner_deal_number-font-family: @font-family__base;
@banner_deal_number-font-weight: @font-weight__bold;

@title_supper_deal_margin: 0 0 7px;

@sub_title_supper_deal-font-size: 1.4rem;
@sub_title_supper_deal-color: @color-white;
@sub-title_supper_deal_letter-spacing: 2px;
@sub-title_supper_deal_margin: 0 0 5.5rem;
// Title
@title_supper_deal_size: 6rem;
@title_supper_deal_mobile_size: 4rem;

@des_supper_deal_size: 1.6rem;
@des_supper_deal_margin: 0 0 4.2rem;

// Deal product
@banner_deal_number-size: 2.4rem;
@nivo-directionNav-bg: fade(@color-white, 30%);
@owl-dot-bg: fade(#514d51, 10%);
//  _____________________________________________
.border_radius(@_border-radius_base: 5px){
    @_border-radius: @_border-radius_base;
    &{
        .lib-css(border-radius, @_border-radius);
    }
}
// Owl style
& when (@media-common = true) {
	body{
		.owl-carousel,
		.wrapper-the-blue-sky-slider{
			.owl-nav,
			.nivo-directionNav{
				button,
				a{
					.border_radius(50%);
					&:before{
						.icon_custom_font('\e933');
						font-size: 30px;
						display: inline-flex;
						align-items: center;
						line-height: 1;
					}
					&:not(:hover){
						&:before{
							color: @color-white;
						}
					}
					&.owl-prev,
					&.nivo-prevNav{
						&:not(:hover){
							&:before{
								color: @color-white;
							}
						}
						
						&:before{
							transform: none;
						}
						&:hover{
							&:after{
								background-color: @link__hover__color;
							}
						}
					}
					&.owl-next,
					&.nivo-nextNav{
						&:before{
							content: '\e934';
							transform: none;
						}
					}
					&:focus{
						box-shadow: none;
					}
				}
			}
			.owl-dots,
			.nivo-controlNav{
				.owl-dot,
				.nivo-control{
					&.active{
						background: @theme__color__primary;
					}
				}
			}
		}
	}	
	
}
// Header
& when (@media-common = true) {
	.page-header {
		.header-container {
			.header-middle{
				padding: 3rem 0;
				border-bottom: 1px solid @header-border-color;
				position: relative;
				z-index: 2222;
				.hotline, 
				.address{
					.icon{
						margin-right: 0.5rem;
						span{
							font-size: 0;
							display: block;
							margin-right: 0;
							&:before{
								font-size: 3.2rem;
							}
						}
					}
					p{
						line-height: 1;
					}
				}
			}
			.col-action {
				.minicart-wrapper .action.showcart,
				li {
					.counter.qty{
						color: @color-white;
						font-size: 1.1rem;
						min-width: 2rem;
						min-height: 2rem;
						top: 3px;
    					right: 3px;
    					.total-mini-cart-item{
    						position: relative;
    						top: -1px;
    					}
					}
					> a{
						&:before{
							font-size: 2.7rem;
						}
					}
				}
				 .action-header > li .minicart-wrapper {
				 	margin-left: 0;
				 	>a{
					 	&:before{
							font-size: 2.6rem;
						}
					}
					.counter.qty{
						right: 5px !important;
    					top: 5px !important;
					}
				 }
			}
			.top-search-not-dropdown{
				flex: 1;
				max-width: 62rem;
				padding: 0 1.5rem;
				.block.block-search {
					.form.minisearch {
						display: block;
   						 position: static;
						input{
							height: 42px;
							padding-left: 1.5rem;
						}
						.actions .action.search{
							.border_radius(50%);
						}
					}
				}
			}
			.col-menu-on-left{
				flex: 1;
				.primary-menu-container{
					padding-left: 3.8%;
				}
			}
			
		}
	}
	.nav-open{
		.page-header {
			.header-container {
				&:not(.sticky){
					.header-bottom{
						position: relative;
						z-index: 3333;
					}
				}
			}
		}
	}
	// Vertical
	.verticalmenu.navigation {
		.list-category-dropdown {
			li.level0, 
			.expand-category-link{
				> a{
					text-transform: capitalize;
				}

			}
			li.level0:hover > a{
				color: @color-white !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.verticalmenu.navigation {
		.title-category-dropdown{
			.lib-css(border-radius, @button__border-radius);
			border-bottom-right-radius: 0;
    		border-bottom-left-radius: 0;
			min-width: 27rem;
		}
		.list-category-dropdown {
			
			li.level0 {
				> .submenu{
					background-position: right bottom;
				    background-repeat: no-repeat;
				    background-size: contain;
				    min-height: unset;
				    min-width: 46vw !important;
				}
				> a{
					line-height: 43px;
				}
			}
		}

	}
	.navigation li.level0.parent .submenu{
		z-index: 22;
	}
	.navigation li.level0.parent .submenu .mega-columns .level1.parent > a{
		text-transform: capitalize;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.vertical-open{
		.page-header {
			.header-container {
				&:not(.sticky){
					.header-bottom{
						position: relative;
						z-index: 3333;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body{
		.page-header {
			.header-container {
				.top-search-not-dropdown{
					flex: 0 0 100%;
				    max-width: 100%;
				    padding: 0;
				    order: 3;
				    margin-top: 1.5rem;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body{
		.wrapper-the-blue-sky-slider {
			.nivo-directionNav,
			.nivo-controlNav{
				display: none;
			}
		}
		.page-header {
			.header-container {
				.topbar .topbar-inner{
					justify-content: center;
					.col-left{
						display: none;
					}
				}
				.header-content{
					position: relative;
					.header-middle{
						padding: 1.5rem 0;
					}
					.for-full-width-menu{
						position: static;
					}
				}
				&:not(.sticky){
					.header-content{
						position: relative;
						.for-full-width-menu{
							.col-action{
								position: absolute;
								z-index: 2;
								top: 1rem;
								right: 0;
							}
						}
					}
				}
				.col-menu-on-left{
					justify-content: space-between;
					.rokan-vertical-menu{
						margin-left: -1.5rem;
					}
				}
			}
		}
	}
}
/* footer */
& when (@media-common = true) {
	.page-footer {
		margin-top: 9rem;
		.footer-top {
			.footer.content {
				padding-top: 6rem;
				padding-bottom: 6rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer-static_link {
			.footer-title {
				margin-top: 0;
				margin-bottom: 1.8rem; 
			}
			.footer-links-static{
				@media only screen and  (max-width: 1300px) and (min-width: 768px) {
					flex: unset !important;
					max-width: unset !important;
				}
			}
			.footer-links {
				p {
					> span {
						font-size: 2.4rem;
						display: block;
					}
				}
				&.not-collapse-mobile {
					text-align: center;
					img{
						margin-top: 1rem;
					}
					.social-link  {
						justify-content: center;
						margin-top: 2.4rem;
						li {
							&:not(:last-child) {
								padding-right: 0;
							}
							a {
								width: 4rem;
								height: 4rem;
								line-height: 4rem;
								display: block;
								border-radius: 50%;
								background-color: @theme__color__primary;
								text-align: center;
								&:hover {
									-moz-transform: scale(1.1);
									-webkit-transform: scale(1.1);
									-o-transform: scale(1.1);
									-ms-transform: scale(1.1);
									transform: scale(1.1);
								}
								.icon {
									&:hover {
										color: @color-white;
									}
								}
							}
						}
					}
					@media only screen and (max-width: (@screen__m - 1)){
						text-align: left;
						.social-link  {
							justify-content: flex-start;
						}
					}
				}
			}
		}
		.footer.content {
			ul.social-link {
				li{
					&:not(:last-child){
						padding-right: 0.6rem;
					}
					&:not(:first-child){
						padding-left: 0.6rem;
					}
					a{
						.border_radius(50%);
						&:hover{
							background-color: @color-white;
							color: @theme__color__primary;
						}
					}
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			border-top: 1px solid @footer-border-color;
			.footer.content {
				.copyright {
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				.hozital-menu {
					p{
						margin-bottom: 0;
					}
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align: left;
						margin-top: 0.5rem;
					}
				}
			}
		}
		
	}
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
	}
	// Footer newsletter
	.footer-newsletter{
		background-color: @link__hover__color;
		padding: 2.45rem 0;
		.container{
			width: 100% !important;
			padding-right: 0;
			padding-left: 0;
		}
	}
	.block-newsletter-form{
    	margin-bottom: 0 !important;
    	padding: 0;
    	flex: 1;
    	.newsletter-form{
    		.flex();
    		justify-content: space-between;
    		align-items: center;
    		color: @color-white;
    		margin-bottom: 0;
    		float: none !important;
    		> div{
    			flex: 1;
    			width: 100%;
    		}
    		.rokan-title{
    			margin-bottom: 0;
    			position: relative;
    			&:before{
    				.icon_custom_font("\e937");  
    				.lib-font-size(57);
    				line-height: 1;
    			}
    			.module-title{
    				text-transform: capitalize;
    				margin-bottom: 0.5rem;
    				color: @color-white;
    				&:before,
    				&:after{
    					display: none;
    				}
    			}
    		}
    		@media only screen and (max-width: (@screen__m - 1)) {
    			flex-direction: column;
    			.rokan-title{
    				margin-bottom: 2rem;
    			}
		    	.field {
		    		.control{
		    			max-width: 100%;
		    		}
		    	}
    		}
    	}
    }
    .block.newsletter {
    	.field {
    		.control{
    			border-bottom: 1px solid @color-white;
    			.input-focus{
    				flex: 1;
    				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: @color-white;
					}
					::-moz-placeholder { /* Firefox 19+ */
					  color: @color-white;
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: @color-white;
					}
					:-moz-placeholder { /* Firefox 18- */
					   color: @color-white;
					}
    				input{
    					border-radius: 0;
		    			padding-left: 0;
		    			background: transparent;
    					border: 0;
    					
    				}
    			}
    			.actions{
    				button{
    					background: @theme__color__primary;
    					border-top-left-radius: 0;
		    			border-bottom-left-radius: 0;
    				}
    			}
			}
		}
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer{		
		.footer-static_link{
			.footer-links-static{
				flex: 26.5%;
				max-width: 26.5%;
				@media only screen and (max-width: 1300px) {
					flex: unset;
					max-width: unset;
				}
			}
			.footer-links{
				&.not-collapse-mobile{
					padding: 0 3rem;
					position:relative;	
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: -99999rem;
						bottom: -99999rem;
						border-left: 1px solid @footer-border-color;
					}
					&:after {
						content: "";
						position: absolute;
						right: 0;
						top: -99999rem;
						bottom: -99999rem;
						border-right: 1px solid @footer-border-color;

					}
				}
			}
		}
		.block-newsletter-form{
			max-width: 75%;
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					order: 1;
				}
				&:nth-of-type(1),
				&:nth-of-type(2){
					margin-bottom: 3rem;
				}
			}
			.footer-links-static{
				order: 2;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-footer{		
		.footer-newsletter{
			.footer.content{
				flex-direction: column;
			}
		}
		.footer-static_link{
			.footer-links{
				order: 2;
				margin-bottom: 0 !important;
				flex: 0 0 100%;
				max-width: 100%;
				&.not-collapse-mobile{
					order: 1;
					margin-bottom: 3rem;
				}
			}
		}
		.block-newsletter-form{
			margin-bottom: 3rem !important;
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
		// Newsletter
    .block-newsletter-form{
    	.newsletter-form{
    		.rokan-title{
    			padding-left: 8.5rem;
    			text-align: left;
    			&:before{
    				position: absolute;
    				top: 50%;
    				left: 0;
    				@transform: translateY(-50%);      
    				.lib-css(transform, @transform, @_prefix: 1);
    			}
    		}
    		
    	}
    }
}
// Slider
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				h2{
					&:last-of-type{
						margin-bottom: 2.5rem;
						@media only screen and (max-width: (@screen__m - 1)) {
							margin-bottom: 1.5rem;
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				.container{
					left: calc(~'270px + 2.5%');
					position: relative;
				}
			}
		}
	}
}
// Banner
& when (@media-common = true) {
	.banner {
		.banner-img{
			border-radius: 5px;
		}
		.col-banner {
			.content {
				> *{
					line-height: 1.4;
				}
				h6{
					margin-bottom: 2.5rem;
				}
				.bold{
					font-weight: @font-weight__bold;
				}
				.button-wrap {
					a{
						border-bottom: 1px solid;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.banner {
		.col-banner{
			&.center{
				&.left {
					.content{
						padding-left: 5rem;
					}
				}
				&.right{
					.content{
						padding-right: 5rem;
						h6{
							margin-top: 0;
						}
					}
				}
			}
			&.col-xl-6{
				&.center{
					&.left {
						.content{
							padding-left: 8%;
						}
					}
				}
				&.right{
					.content{
						padding-right: 8%;
					}
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	div[itemprop="description"],
	.product-item-description{
		&:after,
		&:before{
			content: '';
			display: table;
			clear: both;
		}
	}
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	.product-item .product-label.onsale{
		    right: auto;
    	left: 1.5rem;
	}
	.wrapper_product_tabs .products.wrapper.list .product-item .product-label.onsale{
		display: none;
	}
	// Remove padding in product owl slider
	.cms-index-index{
		.products-grid{
			.product-items{
				&.owl-carousel{
					margin: 0;
					width: 100%;
					.product-item{
						padding: 0;
					}
				}
			}
		}
	}
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
				margin: 0 -1.5rem !important;
			}
			.product-item{
				border: none;
				margin: 0 0 2.2rem 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height: 1;
					border: 1px solid @border-color__base;
					margin-bottom: 0;
				}
				.product-item-info {
					position: relative;
					padding: 0;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding-top: 1rem;
						position: static;	
						.price-box{
							*{
								.lib-font-size(15);
							}
							.old-price{
								color: #888888;
								.price{
									color: #888888;
								}
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						right: 0;
						bottom: 1.2rem;
						top: auto;
						left: auto;
						background: @theme__color__primary;
						margin: 0;
						.action.tocart,
						label {
							&:before {
								.icon_custom_font("\e92e");
								font-weight: 600;
								font-size: 1.4rem;
								color: @color-white; 
							}
						}
					}
					.field.choice.related{
						&:hover{
							label {
								&:before {
									color: @color-white;
								}
							}
						}
					}
				}
				.actions-primary,
				.field.choice.related,
				.actions-secondary .action{
					font-size: 0;
				    width: 4rem;
				    height: 4rem;
				    background: @color-white;
					@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.border_radius(50%);
					display: inline-flex;
					.flex-center();
					margin: 0 5px;
					&:before{
						color: @heading__color__base;
						line-height: 4rem;
					}
					&:hover {
						background: @theme__color__primary;
						&:before {
							color: @color-white; 
						}
					}
				}
				
				.actions-secondary{
					box-shadow: none;
					transform: none;
					padding: 0;
					z-index: 2;
					display: inline-flex;
					background: transparent;
					bottom: auto;
					left: auto;
					top: 1.5rem;
					right: 2rem;
					flex-direction: column;
					.action{
						margin: 5px 0;
						&.link-quickview{	
							&:before{
								.icon_custom_font("\e930");
								font-size: 1.4rem;
							}
						}
						&.towishlist{
							&:before{
								.icon_custom_font('\e92f');
								font-size: 1.4rem;
							}
							span{
								display:none;
							}
						}
						&.tocompare{
							&.loading{
								display: block;
								line-height: 40px;
							}
							&:before{
								font-size: 1.4rem;
							}
						}
						&:before{
							margin: 0;
							top: 0;
						}
					}
					&:before,
					&:after{
						display: none !important;
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						bottom: auto;
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.tocompare{
								@animation: zoomIn 450ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
					 @media only screen and (max-width: (@screen__xs - 1)) {
					 	.actions-primary,
					 	.actions-secondary{
					 		display: none;
					 	}
					 }
					
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
& when (@media-common = true) {
	.product-item-photos{
		position: relative;
	}
	.hot-deal-tab-slider {
		.rokan-title{
			text-align: center;
		}
		.countdown_block{
			background: @theme__color__primary;
			color: @color-white;
			padding: 1.2rem;
			margin-top: 2rem;
			.border_radius(3px);
			.flex-layout{
				justify-content: space-around;
			}
			.count-down-des{
				span{
					display: block;
					.lib-font-size(15);
					font-weight: @heading__font-weight__base;
				}
			}
		}
		.super-deal-countdown{
			margin-bottom: 0;	

		}
		.products-grid {
			.product-items {
				.product-item {
					border: 1px solid @border-color__base;
					.product-reviews-summary{
						justify-content: center;
					}
					.product-label.onsale{
						background-color: #ff515a;
						width: 7.6rem;
						height: 7.6rem;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						text-align: center;
						text-transform: capitalize;
   						font-weight: 400;
   						.border_radius(50%);
						span{
							&.value{
								font-size: 2rem;
								font-weight: 500;
								margin-top: 5px;
							}
						}
					}
					.product-item-photo{
						border: 0;
						text-align: center;
					}
					.product-item-details{
						min-height: unset !important;
						text-align: center;
						position: relative !important;
						padding-top: 3rem !important;
						&:before{
							content: '';
							border-top: 1px solid @border-color__base;
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							width: 80%;
							margin: auto;
						}
						.product-item-link{
							.lib-font-size(18);
						}
						.price-box{
							justify-content: center;	
							.price-container{
								.price{
									.lib-font-size(24);
									color: @theme__color__primary;
								}
							}
							.special-price{
								.price{
									.lib-font-size(24);
									color: @theme__color__primary;
								}
							}
							.old-price{
								.price{
									.lib-font-size(18);
									color: #888;
								}
							}
						}
					}
					.actions-primary{
						left: 0;
					    right: 0;
					    z-index: 2;
					    width: 100%;
					    border-radius: 0;
					    bottom: -1rem !important;
					    form,
					    button{
					    	width: 100%;
					    }
					    .action.tocart{
					    	&:before{
					    		font-size: 0;
					    		display: none;
					    	}
					    	span{
					    		.lib-font-size(14);
					    		text-transform: uppercase;
    							font-weight: 700;
					    	}
					    }
					}
					&:hover{
						.actions-primary{
							animation: none;
							bottom: 0 !important;
						}	
					}
				}
			}
		}
	}
	.section{
		.products{
			margin: 0;
		}
		&.full-width {
			.wrapper_sub_category_tabs {
				.category-thumb-section{
					box-sizing: border-box;
				    margin-left: auto;
				    margin-right: auto;
				    max-width: @layout__max-width;
				    width: 95%;
				    padding-left: 15px;
    				padding-right: 15px;
				}
			}
		}
	}
	.wrapper_sub_category_tabs.onlyparent {
		.module-title{
			text-align: center;
			margin-bottom: 3rem;
		}
		.list-category-item {
			.category-item{
				a {
					.cate-name.cate-count .count{
						text-transform: capitalize;
					}
					&:hover{
						background-color: @theme__color__primary;
						.thumb-infor{
							.cate-name.cate-count{
								span{
									color: @color-white;
								}
							}
						}
					}
				}
			}
		}

	}
	.wrapper_category_product_tabs .ui-tabs-nav{
		margin-bottom: 1.5rem;
		.flex();
    	overflow: auto;
    	li{
    		a{
    			white-space: nowrap;
    		}
    	}
	}
	.group-product{
		.rokan-title{
			.module-title{
				.lib-font-size(24);
			}
			&.hot-deal{
				text-align: center;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.wrapper_category_product_tabs {
		position: relative;
		.rokan-title{
			position: absolute;
			top: -1rem;
			left: 0;
			max-width: 30%;
		}
		.ui-tabs-nav{
			padding-left: 30%;
			justify-content: flex-end;
		}   
	}
}	
@testimo-slider_padding: 10rem 0 9rem;
@testimo-slider_mobile_padding: 6rem 0 5rem;  
@testi-bg: transparent;
@testimonial_des-color: @color-white;
@testimonial_des-size: 2rem;
// Testimonial
& when (@media-common = true) {
	.testimo-slider{
   	 	background-repeat: no-repeat;
    	background-repeat: no-repeat;
		.ma-title{
			.flex();
			display: flex;
    		flex-direction: column-reverse;
    		*{
    			color: @color-white;
    		}
    		h5{
    			margin-top: 0;
    			text-transform: uppercase;
    			letter-spacing: 2px;
    			margin-bottom: 4px;
    		}
    		h2{
    			margin-bottom: 2.9rem;
    		}
		}
		.pt-testimonial-container{
			overflow: hidden;
		}
		.group-rows-fixed-testimonial{
			.pt-testimonial{
				.des{
					font-style: italic;
					display: -webkit-box;
				  -webkit-line-clamp: 2;
				  -webkit-box-orient: vertical;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  margin-bottom: 2rem;
				}
				.content-tes{
					.image img{
						max-width: 6rem;
						max-height: 6rem;
						margin: unset;
					}
					.info{
						margin-top: 1rem;
						display: block;
						.name{
							text-transform: uppercase;
							font-family: @heading__font-family__base;
							font-weight: @heading__font-weight__base;
							color: @color-white;
							letter-spacing: 2px;
							.lib-font-size(14);
						}
					}
				}
			}
		}
		.cms-block-beside-testimonial{
			.shipping-support {
				margin-top: 3rem;
			}
			h5{
				letter-spacing: 2px;
				margin: 0 0 0.5rem;
			}
			.col-content{
				.content{
					h4{
						margin: 0;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.testimo-slider{
		.group-rows-fixed-testimonial{
			.pt-testimonial{
				.des{
					max-width: 70%;
				}
			}
		}
		.cms-block-beside-testimonial{
			padding-left: 8%;
			
		}
		.col-content{
			&:nth-of-type(2),
			&:nth-of-type(1){
				margin-bottom: 4rem;
			}
			
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.testimo-slider{
		.cms-block-beside-testimonial{
			background-color: @color-white;
			padding: 1.5rem;
			margin-top: 3rem;
		}
	}
}
// Blog
& when (@media-common = true) {
	.blog-post-section{
		background-color: #f2f4fa;
		padding: 7rem 0 8rem;
		margin-bottom: 0;
	}
	.block-recent-posts.section{
		width: 95%;
		max-width: @layout__max-width;
		padding: 0 1.5rem;
		margin: auto;
		.rokan-title{
			text-align: center;
		}
		.post-list-wrapper .blog-list-post .item-post-full{
			padding: 3rem 3rem 3.5rem;
			background-color: @color-white;
			@box-shadow: 0 0 30px rgba(0,0,0,.05);
			.lib-css(box-shadow, @box-shadow, @_prefix: 1);
			.border_radius(12px);
			.blog-post-thumb{
				overflow: visible;
				> a{
					overflow: hidden;
					.border_radius(6px);
				}
				
				.time-conment{
					left: auto;
				    right: 20px;
				    bottom: 0;
				    top: auto;
				    background-color: @theme__color__primary;
				    .border_radius(5px);
				    text-align: center;
				    padding: 1rem 1.5rem;
				    @transform: translateY(50%);
				    .lib-css(transform, @transform, @_prefix: 1);
				    z-index: 2;
				    span{
				    	display: block;
				    	color: @color-white;
				    	font-family: @heading__font-family__base;
				    	font-weight: @heading__font-weight__base;
				    	line-height: 1.1;
				    	&.date{
				    		.lib-font-size(24);
				    	}
				    	&.month{
				    		.lib-font-size(13);
				    	}
				    }
				}
			}
			.blog-post-info{
				border: 0;
				padding: 0;
				margin-top: 2.5rem;
				.post-title{
					.lib-font-size(24);
					margin-bottom: 1rem;
				}
				.post-category-name{
					position: static;
				    transform: none;
				    background: transparent;
				    padding: 0;
				    text-transform: uppercase;
				    font-weight: @font-weight__bold;
				    margin-bottom: 0.5rem;
				    a{
				    	color: #888;
				    }
				}
				.post-info-bottom{
					.post-readmore{
						border-bottom: 1px solid;
						&:not(:hover){
							color: @heading__color__base;
						}
					}
				}
			}
		}
	}
}