@font-face {
    font-family: 'Reingttoon';
    src: url('../fonts/Reingttoon.eot');
    src: url('../fonts/Reingttoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Reingttoon.woff') format('woff'),
        url('../fonts/Reingttoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

