// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@page__background-color: #fff;

//Font
@heading__font-family__base: Roboto;
@heading__font-weight__base: @font-weight__bold; 

// Color 
@theme__color__primary: #ff3c19;

// Topbar
@topbarbg: @header__background-color;
@topbarcolor: @color-white;

// Header
@header__background-color: #303030;
@header-border-color: #494949;
@headerpadding: 0;
@sticky_padding: 0.8rem;

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @color-white;
// Top search
@_search-border-color: false;
@_search-border-width: 0;

// Navigation

@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__heavier;
@navigation-desktop__font-size: 1.4rem;


//Level 0
@navigation-desktop-level0-item__color: @color-white;

@navigation-level0-item__text-transform: false;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: @font-weight__semibold;

// Level 1
@level1_color: #222222;


//Product
@price_color: @theme__color__primary;
// Sale new label
@sale_label_color: @color-white;

@new_label_bg: false;
@new_label_color: #000;

/* footer */
@footer-title-color: @greycolor;
@footer-title-font-size: 1.9rem;
@footer-title-font-weight: @heading__font-weight__base;
@footer-title-transform: capitalize;
@footer__background-color: #303030;
@footercolor: @color-white;
@footer-border-color: #4b4b4b;
@footer_bottom_color: @greycolor;

@social_link_bg: #454545;

// Supper deal variable
@banner_supper_deal_tile_color: #333;

//Module variables
@module_margin_bottom: 3rem;
@module_title-size: 2.8rem;
// Gobal space (such as: bettween module in home page....)
@margin_gobal_value: 10rem;
@media only screen and (max-width: @screen__s){
	@margin_gobal_value: 7rem;
}
// Product
@product-name-link__color: #222;

// Button
@second_button_color: @heading__color__base;

//Button variable
@button__border-radius: 4px; 
@button__color: @color-white;
@button__hover__color: @color-white;
@button__text_transform: false;
@button__padding: 12.5px 35px; // is set up to false when buttons don't depend on side paddings or have fixed width
//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: 4px;

// Supper deal module
@deal_number_bg: #e3e3e3;
@deal_number_font-size: 2.6rem;
@deal_number_width: 7rem;
// Redefine variables in module

// revo rapper-the-blue-sky-slider
@slider_h2_text-transform: false;

@slider_h3_text-transform: false;
@slider_h3_font-size-xxl: 52px;
@slider_h3_font-size-xl: 44px;
@slider_h3_font-size-l: 36px;
@slider_h3_font-size-s: 30px;
@slider_h3_font-size-xs: 25px;
@slider_h3_margin: 0;

@slider_h4_text-transform: false;

@slider_h5_text-transform: false;
@slider_h5_font-weight: @font-weight__regular;

@slider_P_text-transform: false;

@slider_button_font-size-xl: 15px;
@slider_button_font-size-l: 14px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 13px;

@slider_button_margin-top: 35px;
@slider_button_padding: @button__padding;
@slider_button_padding-s: 8.5px 20px;

// Owl, slider dot
@nivo-controlNav-veritcal-postion: 50px;
@nivo-controlNav-postion: left;
@nivo-controlNav-bg: @owl-dot-bg;
@nivo-controlNav-width: @owl-dot-width;
@nivo-controlNav-height: @owl-dot-height;
@nivo-controlNav-border-radius: @owl-dot-border-radius;


@owl-dot-bg: #bec1c5;
@owl-dot-width: 7px;
@owl-dot-height: 7px;
@owl-dot-border-radius: 50%;

// Module Supperdeal
//  Variables
//  _____________________________________________
@title_supper_deal_margin: 0;

@des_supper_deal_color: #444;
//__________________________________________

.icon_header(){
  font-size: 2.6rem;
  line-height: 3rem;
  position: relative; 
};
// Change gobal style
& when (@media-common = true) {
	// new sale label
	.product-item {
		.product-label{
			&.onsale{
				right: auto;
			    left: 3rem;
			    top: 0;
			    letter-spacing: 2px;
			    @transform: rotate(-90deg) translateX(-100%);
			   .lib-css(transform, @transform, @_prefix: 1);
			    transform-origin: 0 0;
			    font-size: 1.2rem;
			}
			&.newlabel{
				font-weight: @font-weight__regular;
				left: auto;
				right: 3rem;
				font-size: 1.3rem;
			}
		}
	}
	// Switcher 
	.container-setting-language-currency{
		.switcher{
			.switcher-options{
				.switcher-trigger.action.toggle{
					*{
						color: @header-icons-color;
					}
				}
			}
		}
	}
	// Top search
	.top-search-not-dropdown {
		.block.block-search {
			.block-content {
				.dropdown {
					.form.minisearch {
						background-color: transparent;
						.field.search{
							.flex();
						}
						.control{
							padding-right: 0;
							flex: 1;
							input{
								background-color: @form-element-input__background;
								padding-left: 3%;
							}
						}
						.actions {
							margin-left: 0.7rem;
							.action.search{
								position: static;
								padding: 1rem 3.4rem;
								height: 100%;
								&:before{
									display: none;
								}
								span{
									font-weight: @heading__font-weight__base;
									.lib-reset-width();
								}
							}
						}
					}
				}
			}
		}
	}
	// Rokan title
	.cms-index-index{
		.rokan-title{
			border-bottom: 1px solid #d1d1d1;
			.module-title{
				margin-bottom: 1.5rem;
			}
		}
	}
	.brand-product-tab,
	.block-newsletter-form,
	.category-thumb-section{
		.rokan-title{
			border-bottom: 0;
		}
	}
	body{
		.owl-carousel,
		.wrapper-the-blue-sky-slider{
			.owl-item {
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;
			    -moz-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    transition: all .3s ease;
				&:not(.active){
					opacity: 0;
					visibility: hidden;
				}
			}
			.owl-dots,
			.nivo-controlNav{
				.owl-dot,
				.nivo-control{
					margin: 0 7.5px;
					position: relative;
					&:after{
						content: '';
						border: 2px solid;
						border-color: transparent;
						position: absolute;
						top: -2px;
						left: -2px;
						bottom: -2px;
						right: -2px;
						border-radius: 50%;
					}
					&.active{
						background: transparent !important;
						&:after{
							border-color: @color-white;
						}
					}
				}
			}
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			.owl-stage-outer{
				margin: 0;
				.product-item{
					.product-item-info {
						padding: 0;
					}
				}
			}
		}
	}
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			width: auto;
			&:not(.owl-carousel){
				border-left: 0;
			}
			&.owl-carousel .owl-stage-outer .first-active-item:before{
               display: none;
            }
			.product-item{
				border: none;
				margin: 0 0 30px 0;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height:1;
				}
				.product-item-info {
					padding: 0 1.5rem;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding-top: 1rem;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						
						.product-item-name,
						.price-box{
							display: inline-flex;
						}
						.price-box{
							*{
								font-weight: @heading__font-weight__base;
								.lib-font-size(16);
							}
							.special-price{
								margin-right: 0;
							}
							.old-price{
								color: #c2c2c2;
								.price{
									color: #c2c2c2;
								}
							}
						}
						.product-item-actions {
							position: absolute;
							right: 0;
							left: 0;
							bottom: calc(~'100% + 3rem');
							text-align: center;
							z-index: 1;
							.flex();
							flex-wrap: nowrap;
							align-items: center;
							justify-content: center;
						}
						@media only screen and (min-width: @screen__xs){
							.product-item-name,
							.product-reviews-summary{
								max-width: 70%;
								padding-right: 1rem;
							}
							.price-box{
								position: absolute;
								top: 1rem;
								right: 0;
								flex-direction: column;
							}
						}
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action{
						position: static;
					}
					.actions-primary,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: inline-flex;
						.flex-center();
						margin: 0 5px;
						
						&:before{
							color: @heading__color__base;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					@media only screen and (max-width: @screen__s){
						.actions-primary{
							transform: none;
							opacity: 1;
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @heading__color__base; 
								} 
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: inline-flex;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon-font("\f06e");
									font-size: 1.4rem;
								}
							}
							&.towishlist{
								&:before{
									.icon-font("\f004");
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary,
					.tocompare
					{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
				}
			}	
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	body .products-grid .owl-carousel .owl-stage-outer{
		margin: 0;
		padding: 0;
	}
}
// Header
& when (@media-common = true) {
	.header-container{
		.header-content{
			flex: 1;
		}
		.header-top{
			padding-top: 2rem;
		}
		.col-action{
			.action-header{
				> li{
					min-height: @form-element-input__height;
					margin: 0;
					display: inline-flex;
					align-items: center;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						top: -2rem;
						right: 0;
						.lib-css(border-right, 1px solid @header-border-color);
					}
				}
			}
			.minicart-wrapper .action.showcart,
			li{
				.counter.qty{
					min-width: 2.2rem;
					min-height: 2.2rem;
					right: -4px;
					top: -5px;
					@box-shadow: 0 0 0 3px @header__background-color;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
				}
			}
			.minicart-wrapper{
				margin-left: 0;
			}
			.header.links{
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				color: @header-icons-color;
				li{
					&:last-child{
						padding-left: 0;
						margin-top: 0.6rem !important;
					}
				}
			}
		}
		.header-middle {
			position: relative;
			&:after{
				position: absolute;
			    content: '';
			    top: 0;
			    left: 0;
			    width: 100vw;
			    height: 100%;
			    max-height: 1px;
			    .lib-css(border-top, 1px solid @header-border-color);
			}
		}
		&:not(.sticky){
			.col-action{
				.header.links{
					li{
						margin: 0 2rem;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-container{
		&.sticky{
			.sticky-header{
				padding: 0.8rem 0;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.header-container{
		.logo-container{
			padding-right: 26px;
			position: relative;

			.logo-site{
				min-width: 156px;
			}
		}
		.header-content{
			.lib-css(border-left, 1px solid @header-border-color);
		}
		.header-top{
			padding-bottom: 2rem;
			.col-left{
				flex: 1;
				max-width: 770px;
			}
		}
		&:not(.sticky){
			.header-content{
				> *{
					padding-left: 2rem;
				}
			}
			.col-action{
				.action-header{
					> li{
						padding: 0 2rem 0 2.3rem;
						&:after{
							bottom: -2rem;
							.lib-css(border-right, 1px solid @header-border-color);
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container{
		.logo-container{
			.nav-toggle{
				left: calc(~'100% + 2rem');
				top: auto;
				bottom: 1.5rem;
				line-height: 1;
			}
		}
		&.sticky{
			.logo-container{
				.nav-toggle{
					top: auto;
				}
			}
			.header-middle{
				padding: 1rem 0;
			}
		}
		.header-content{
			.header-top{
				position: relative;
				z-index: 25;
			}
			.header-middle{
				z-index: 24;
			}
		}
		.top-search-not-dropdown .block.block-search .block-content .dropdown .form.minisearch .control{
			position: static;
		}
	}
	.nav-open{
		.header-container{
			.header-content{
				.header-middle{
					z-index: 26;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.header-container {
		.header-content{
			.header-top {
				padding-bottom: 1rem;
				.topbar-inner{
					> *{
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
				.col-action{
					justify-content: center;
					padding-top: 1rem;
					.action-header > li{
						padding: 0 1.5rem;
						&:after{
							bottom: -1rem;
						}
					}
				}
			}
			.col-left{
				max-width: 100%;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container{
		.header.panel{
			.for-full-width-menu{
				justify-content: center;
			}
		}
		.logo-container,
		.header-content{
			flex: 0 0 100%;
		}
		.logo-container{
			padding-top: 1.5rem;
			justify-content: center;
			.nav-toggle{
				left: 1.5rem;
				top: auto;
				bottom: 1.5rem;
				line-height: 1;
			}
		}
		.header-middle {
			&:after{
				left: -15px !important;
			}
		}
		&.sticky{
			.logo-container {
				.nav-toggle{
					top: auto !important;
				}
			}
		}
	}
	.minicart-wrapper {
		.block-minicart{
			@transform: translateX(55%);
			.lib-css(transform, @transform, @_prefix: 1);
		}
	}
	.wrapper-the-blue-sky-slider .nivo-controlNav{
		text-align: right;
	}
}
// Footer
// Footer
& when (@media-common = true) {
	.page-footer {
		.footer-static_link {
			.footer-links {
				&.not-collapse-mobile{
					ul{
						margin-top: 0;
					}
					p{
					margin-bottom: 0;
					padding-left: 30px;
    				position: relative;
						i, em, .fa{
							position: absolute;
						    left: 0;
						    top: 8px;
						}
					}
				}
			}
		}
		.footer.content ul.social-link{
			margin: 0;
			li{
				&:not(:last-child){
					padding-right: 0;
				}
			}
		}
		.footer-top > .footer.content{
			padding-top: 7rem;
		}
		.footer-bottom{
			margin-top: 6rem;
		}
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 21%;
					max-width: 21%;
					br{
						display: none;

					}
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body{
		.page-footer {
			.footer-static_link {
				.footer-links{
					.footer-title{
						margin-top: 0;
					}
					&.square-social{
						.footer-title{
							&:after{
								display: none;
							}
						}
						p{
							margin-bottom: 0;
						}
						ul{
							display: block;
						}
					}
				}
			}
		}
	}

}
// Home page
& when (@media-common = true) {
	// Full width section
	.wrapper-the-blue-sky-slider {
		margin-bottom: 0;
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text h5{
				margin-top: 0;
			}
		}
	}
	//wrapper_sub_category_tabs
	.wrapper_sub_category_tabs{
		.rokan-title{
			text-align: center;
			.module-title{
				color: #f7f7f7;		   
			    text-transform: uppercase;
			    @media only screen and (min-width: @screen__l){
			    	font-size: 116px;
			    	line-height: 84px;
			    	letter-spacing: 16px;
			    }
			    @media only screen and (max-width: @screen__l){
				    font-size: 8vw;
				    letter-spacing: 1vw;
			    }
			}
		}
		.widget-tabs{
			@media only screen and (min-width: @screen__l){
				max-width: 75%;
				margin: auto;
			}
		}
	}
	// Banner
	.banner{	
		.col-banner{
			&.center{
				.content{
					h2{
						line-height: 1.3;
						font-weight: 900;
					}
					p{
						margin: 1rem 0;
	   					line-height: 1.5;
					}
					.button-wrap{
						margin-top: 5.4rem;
						letter-spacing: 0;
						a{
							border-bottom: 0;
							&:after{
								.icon-font("\f138");
							    margin-left: 0.7rem;
							    vertical-align: middle;
							}
						}
					}
				}
				&.left{
					.content{
						padding-left: 5rem;
					}
				}
			}
		}
	}
	// Newsletter
    .block-newsletter-form{
    	padding: calc(~'10vh - 1rem') 0;
    	margin-bottom: 0;
    	.rokan-title{
    		margin-bottom: 2.5rem;
			.flex();
			flex-direction: column-reverse;
			color: @color-white;
			.rokan-description{
				.lib-font-size(18);
				margin-bottom: 2.5rem;
			}
    		.module-title{
    			margin-bottom: 1rem;
    			letter-spacing: -0.2px;
    			color: @color-white;
    			.lib-font-size(34);
    			@text-shadow: 0px 0px 46px rgba(0, 0, 0, 1);
    			.lib-css(text-shadow, @text-shadow, @_prefix: 1);
    		}
    	}
    	.subscribe{
	    	.field {
	    		.control{
	    			justify-content: flex-start;
	    			max-width: 100%;
	    			.input-focus{
	    				margin-right: 0.7rem;
	    				min-width: 21.5%;
	    				margin-bottom: 1rem;
	    			}
	    			.action.subscribe{
	    				margin-left: 0;
	    				border-radius: @button__border-radius;
	    				margin-bottom: 1rem;
	    			}
	    		}
	    	}
	    }
	    @media only screen and (min-width: @screen__m){
    		padding: calc(~'200px - 1rem') 0;
    		.rokan-title{
    			.module-title{
    				.lib-font-size(52);
    			}
    		}
    	}
    }
    // Supper deal
    .super-deal-banner{
	    .super-deal-banner-content{
	    	.super-deal-countdown {
	    		.time_circles .number{
	    			border-radius: @button__border-radius;
	    		}
	    	}
	    }
	    @media only screen and (min-width: @screen__l){
	    	background-position: center center;
	    	.super-deal-banner-content{
	    		max-width: 30%;
	    		margin-left: auto;
	    		background-position: right center;
	    	}
	    }
	}
    // Price count down
    .rokan-price-count-down{
    	.product-items{
    		display: grid;
    		grid-row-gap: 5rem;
    		margin-left: -1.5rem;
    		margin-right: -1.5rem;
    	}
    }
    // Shipping support
    .shipping-support{
		&.car-parts{
			.fa, 
			.far,
			.fas,
			.icon{
				font-size: 4.1rem;
			}
			.content{
				margin-left: 2rem;
				p{
					margin-bottom: 0;
					&.size-18,
					&.size-15{
						line-height: 1.4;
						font-weight: @heading__font-weight__base;
						color: @banner_supper_deal_tile_color;
						margin-bottom: 1rem;
					}
				}
			}
		}
		.col-content{
			position: relative;
			&:not(:last-child){
				@media only screen and (min-width: @screen__l){
					&:after{
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						right: 10%;
						border-right: 1px solid #e0e0e0;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	// Price count down
    .rokan-price-count-down{
    	.product-items{
		    grid-template-columns: 25% 50% 25%;
		    li{
		    	
		    	&:nth-of-type(1),
		    	&:nth-of-type(4){
		    		grid-row: ~'1/2';
		    	}
		    	&:nth-of-type(1),
		    	&:nth-of-type(2){
					grid-column: ~'1/2';
		    	}
		    	&:nth-of-type(3){
		    		grid-row: ~'1/3';
		    		grid-column: ~'2/3';
		    		.flex();
		    		align-items: flex-end;
		    		position: relative;
		    		&:after{
		    			content: '';
		    			position: absolute;
		    			left: 15px;
		    			right: 15px;
		    			top: 0;
		    			bottom: 0;
		    			background: #eee;
		    			z-index: -1;
		    		}
		    	}
		    	&:nth-of-type(2),
		    	&:nth-of-type(5){
		    		grid-row: ~'2/3';
		    	}
		    	&:nth-of-type(4),
		    	&:nth-of-type(5){
					grid-column: ~'3/4';
		    	}
		    }
    	}
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	// Price count down
    .rokan-price-count-down{
    	.product-items{
		    grid-template-columns: repeat(2, calc(~'50% - 1.5rem'));
		    li{
		    	&:nth-of-type(3){
		    		grid-column: ~'1/3';
		    		.product-item-photo{
		    			background: #eee;
		    			text-align: center;
		    		}
		    	}
		    }
    	}
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	// Price count down
    .rokan-price-count-down{
    	.product-items{
		    grid-template-columns: repeat(10, 75%);
		    overflow: auto;
		    li{
		    	&:nth-of-type(3){
		    		grid-column: unset;
		    	}
		    }
    	}
    }
}
// Product page
& when (@media-common = true) {
	.page-products {
		.products-grid {
			.product-items{
				margin: 0 -1.5rem !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-products {
		.products-grid {
			.product-items{
				.product-item{
					width: calc(~'100% / 3');
				}
			}
		}
	}
}
// Blog page
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.block-recent-posts{
		.post-list-wrapper {
			.blog-list-post{
				.owl-item{
					overflow: hidden;
				}
				.item-post-full{
					position: relative;
					border-radius: @button__border-radius;
					overflow: hidden;
					@box-shadow: 0 4px 10px rgba(0,0,0,.2);
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					> *{
						border-radius: @button__border-radius;
					}
					.blog-post-info{
						position: absolute;
						border: 0;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						opacity: 0;
						.flex();
						flex-direction: column;
						justify-content: center;
					}
					&:hover{
						.blog-post-info{
							animation: 0.5s ease-out 0s 1 normal forwards running zoomInBit;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
& when (@media-common = true) {
	.block-recent-posts{
		margin-top: -@margin_gobal_value;
		.post-list-wrapper {
			.blog-list-post{
				.item-post-full{
					.blog-post-info{
						.post-category-name{
							font-style: normal;
							text-transform: uppercase;
							font-size: 1.2rem;
							padding-right: 1.2rem;
							margin-bottom: 0;
							a{
								color: @theme__color__primary;
								font-family: @heading__font-family__base;
							}
						}
						.flex-layout{
							align-items: center;
						}
						.time-conment{
							color: @theme__color__primary;
							.date{
								&:before{
									content: '';
									height: 5px;
									width: 5px;
									background: fade(@theme__color__primary, 65%);
									border-radius: 50%;
									border-radius: 50%;
								    margin-right: 1rem;
								    display: inline-block;
								    vertical-align: middle;
								    position: relative;
								    top: -1px;
								}
							}
						}
					}
				}
			}
		}
	}
	.blog-post-thumb {
		.time-conment{
			background: @theme__color__primary;
		    bottom: 0;
		    top: auto;
		    font-weight: @heading__font-weight__base;
		    font-size: 13px;
		    padding: 0.5rem 3rem;
		    letter-spacing: 1px;
		    color: @button__color;
		    &:after{
				position: absolute;
				content: '';
			    top: 0;
			    bottom: 0;
			    left: 70%;
			    right: -28px;
			    background-color: inherit;
			    -webkit-transform-origin: bottom;
			    -moz-transform-origin: bottom;
			    -ms-transform-origin: bottom;
			    -o-transform-origin: bottom;
			    transform-origin: bottom;
			    -webkit-transform: skew(35deg);
			    -moz-transform: skew(35deg);
			    -ms-transform: skew(35deg);
			    -o-transform: skew(35deg);
			    transform: skew(35deg);
			}
			span{
				position: relative;
				z-index: 1;	
			}
		}
	}
	.post-category-name{
		label{
			display: inline-block;
			.lib-css(color, @greycolor);
		}
		.lib-font-size(13);
		font-style: italic;
		background: transparent;
		padding: 0;
		a{
			color: @heading__color__base;
		}
	}
	.post-list-wrapper {
		.blog-post-info {
			padding: 2.2rem 3rem 1rem;
			.post-title{
				font-size: 1.8rem;
				margin-bottom: 5px;
			}
			.post-category-name{
				transform: none;
				position: static;
			}
			.blog-list-post {
				.item-post-full {
					.post-title {
						a:not(:hover){
							color: #191919;
						}
					}
				}
			}
		}
		.post-info-bottom{
			display: none;
		}
	}
	// Post view
	.blog-post-view {
		.post-holder{
			text-align: center;
			> *{
				&:not(.post-bottom){
					max-width: 1170px;
					margin-left: auto;
					margin-right: auto;
				}
				.content-max{
					max-width: 932px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		.blog-post-thumb{
			a{
				display: block;
				font-size: 0;
			}
		}
		.post-bottom{
			text-align: left;
		}
	}
}
