<div class="header-container funiture">
	<div class="header-setting">
		<div class="settings-head">
			<div class="settings-close"><span class="main-icon-close"></span></div>
		</div>
		<div class="settings-inner">
			<?php echo $this->getChildHtml("top.links"); ?>
			<div class="language-currency">
				<div class="container-setting-language-currency">
					<?php echo $this->getChildHtml("store_language"); ?>  
					<?php echo $this->getChildHtml("currency"); ?>
				</div>		
			</div>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_contact_funiture2')->toHtml(); ?>
			<div class="setting-social">
				<h3 class="title-setting">
					<?php echo __('Connect on Social') ?> :
				</h3>
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social_icon')->toHtml(); ?>
			</div>
		</div>
	</div>
	<div class="header sticky-header">
		<div class="flex-layout space-between no-wrap-desktop">
			<div class="logo-container">  
				<div class="logo-site">
					<?php echo $this->getChildHtml('logo'); ?>
				</div>
			</div>
			<div class="primary-menu-container col-left">
				<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
			</div>
			<div class="col-action col-right">
				<div class="flex-layout">
					<ul class="flex-layout action-header no-wrap-desktop">
						<li><?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?></li>
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
						<li class="setting-view">
							<span class="icon main-icon-menu-2"></span>
						</li>
					</ul>
				</div> 
			</div>
		</div>
		
	</div>
</div>
<script>
	require(['jquery'],function($){
		$(document ).ready(function() {
			$('.setting-view') .click(function(){ 
				$(this).toggleClass('open-setting'); 
				var hClass = $(this).hasClass('open-setting');
				if(hClass){			
					$(this).parents('body') .find( '.header-setting' ) .addClass('box-setting');
				}
				else
				{
					$(this).parents('body') .find( '.header-setting' ) .removeClass('box-setting');
					
				}
			});	
			$('.settings-close') .click(function(){
				$(this).parents('body') .find( '.header-setting' ) .removeClass('box-setting');
				$(this).parents('body').find( '.setting-view' ).removeClass('open-setting');
			});	
		}); 
	}); 	
</script>