<div class="header-container sticky-header">
	<div class="topbar hidden-sticky d-none d-md-block">
		<div class="topbar_advertisement d-none d-md-block">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar_advertisement')->toHtml(); ?>
		</div>
		<div class="container">
			<div class="topbar_inner">
				<div class="flex-layout space-between center_vertical">
					<div class="col-left col-top-link flex-layout center_vertical d-none d-md-block">
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('wellcome_market')->toHtml(); ?>
					</div>
					<div class="col-right  col-top-link flex-layout center_vertical">
						<div class="topbar-menu d-none d-md-block">
							<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar-menu')->toHtml(); ?>
						</div>
						<div class="language-currency">
							<div class="container-setting-language-currency">
								<?php echo $this->getChildHtml("store_language"); ?>  
								<?php echo $this->getChildHtml("currency"); ?>
							</div>		
						</div>
						 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header panel header-middle absolute-sticky">
		<div class="flex-layout space-between center_vertical">
			<div class="logo-container">
				<div class="logo-site">
					<?php echo $this->getChildHtml('logo'); ?>
				</div>
			</div>
			<div class="top-search-not-dropdown hidden-sticky">
				<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
				<div class="search-key d-none d-md-block"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('search-key')->toHtml(); ?></div>
			</div>
			<div class="col-action col-right action-sticky">
				<div class="flex-layout center_vertical">
					<ul class="flex-layout action-header center_vertical">
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
					</ul>
					<div class="hidden-sticky">
						<?php echo $this->getChildHtml("top.links"); ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-content center-element">
		<div class="header panel static-sticky"> 
			<div class="flex-layout for-full-width-menu space-between center_vertical">
				<div class="col-menu-on-left flex-layout col-menu no-wrap-desktop">
					<div class="rokan-vertical-menu hidden-sticky">
						<?php echo $this->getChildHtml("rokanthemes.vertical.menu"); ?>
					</div>
					<div class="primary-menu-container col-left">
						<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
					</div>
				</div>
				<div class="col-action col-right  d-none d-md-block hidden-sticky">
					<div class="hotline"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hotline')->toHtml(); ?></div>
				</div>
				<div class="header-space"></div>
			</div>
		</div>
	</div>
</div>