<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var $block Magento\Newsletter\Block\Subscribe
 */
?>
<div class="block-newsletter-form">
	<div class="block newsletter newsletter-form"> 
		<div class="left-newletter">
			<div class="icon">
				<span class="main-icon-plane-paper"></span>
			</div>
			<div class="rokan-title">
				<h3 class="module-title"><?php 
						$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
						$conf = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('themeoption/newsletter_form/title_content_form', \Magento\Store\Model\ScopeInterface::SCOPE_STORE );
						echo $conf;
					?>
					<?php echo $block->getConfig('title_content_form');?></h3>
				<p class="short-des rokan-description">
					<?php 
						$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
						$conf = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('themeoption/newsletter_form/content_form', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
						echo $conf;
					?>
					<?php echo $block->getConfig('title_content_form');?>
				</p>
			</div>
		</div>
		<div class="content">
			<form class="form subscribe"
				novalidate
				action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
				method="post"
				data-mage-init='{"validation": {"errorClass": "mage-error"}}'
				id="newsletter-validate-detail">
				<div class="field newsletter">
					<label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
					<div class="control">
						<div class="input-focus">
							<input name="email" type="email" id="newsletter"
										placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email') ?>"
										data-validate="{required:true, 'validate-email':true}"/>
						</div>	
							<div class="actions">
							<button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
								<span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
							</button>
						</div>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>
