// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font

//broder
@border-color__base: #ebebeb;

// Heading
@heading__font-family__base: inherit;
@heading__font-weight__base: 500; 

// Topbar
@topbarbg: @header__background-color;
@topbarcolor: @color-white;
// Other font
@otherfont-family: false;

@header__background-color: #0d0d0d;
@header-border-color: fade(@color-white, 20%);

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @color-white;

@headerpadding: 0; // Make header height bigger than menu height
@sticky_padding: 0;

// Top search
@_search-border-color: @header__background-color;
@_search-border-width: 1px;

@theme__color__primary: #d48c5c;
// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: transparent;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.3rem;
@navigation-desktop-level0-item__active__color: @theme__color__primary;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
//Level 0
@navigation-desktop-level0-item__color: @topbarcolor;
@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: 500;
@navigation-level0-item__hover__color:  @theme__color__primary;
@navigation-level0-item__active__color: @theme__color__primary;
@navigation-level0-item__color: #0d0d0d;
//==============================
@sale_label_color: @color-white;
//Module variables


//Title
@module_margin_bottom: 5rem;
@module_title-size: 3.8rem;
@module_title-text-transform: uppercase;
@module_title_text-align: center;

@margin_gobal_value: 10rem;
// Product
@product-name-link__color: #222;


// Button
/* footer */
@footer__background-color: #0d0d0d;
@footercolor: @greycolor;

@footer-title-color: #353535; 
@footer-title-font-weight: 600;

@footer-border-color: #262626;

@footer-bottom_bg: @footer__background-color;
@footer_bottom_color: @footercolor;
//Button variable
@button__color: @color-white;
@button__font-family: @heading__font-family__base;
@button__border-radius: false; 
@button__hover__background: @button__background;
@button__hover__border: @button__border;
@button__hover__color: @button__color;
@button__font-weight: 500;

@button__shadow: false;
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;


@owl-nav-border-radius: 50%;
@owl-nav-bg: #3e3a3c;
@owl-nav-bg-width: 50px;
@owl-nav-height: 50px;
// Slider heading
@nivo-directionNav-width: 50px;
@nivo-directionNav-height: 50px;
@nivo-directionNav-border-radius: 50%;
@nivo-directionNav-bg: @owl-nav-bg;

@slider_h2_font-size-xxl: 120px;
@slider_h2_font-size-xl: 100px;
@slider_h2_font-size-l: 75px;
@slider_h2_font-size-s: 45px;
@slider_h2_font-size-xs: 34px;
@slider_h2_letter-spacing: 25px;
@slider_h2_text-transform: uppercase;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.7;

@slider_h5_font-size-xxl: 14px;
@slider_h5_font-size-xl: 14px;
@slider_h5_font-size-l: 14px;
@slider_h5_font-size-s: 13px;
@slider_h5_font-size-xs: 13px;
@slider_h5_font-weight: 500;
@slider_h5_text-transform: uppercase;
@slider_h5_margin: 0;
@slider_h5_letter-spacing: 1px;


@slider_button_margin-top: 55px;
@slider_button_padding: false;
@slider_button_padding-s: fasle;
@slider_button_letter-spacing: 4px;
/* animation */
& when (@media-common = true) { 
	@-webkit-keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
	@keyframes tracking-in-contract-bck {
	  0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px);
				transform: translateZ(400px);
		opacity: 0;
	  }
	  40% {
		opacity: 0.6;
	  }
	  100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	  }
	}
}
/* end animation */
//Mini cart
.icon_header(){
	font-size: 2.3rem;
    line-height: 4rem;
    position: relative;	
};
// Owl style
& when (@media-common = true) {
	body{
		.owl-carousel{
			.owl-stage-outer{
				overflow: visible;
			}
			.owl-item {
				opacity: 1;
				visibility: visible;
				// -webkit-transition: visibility .3s ease;
			 //    -moz-transition: visibility .3s ease;
			 //    -o-transition: visibility .3s ease;
			 //    transition: visibility .3s ease;
				&:not(.active){
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
	body{
		.owl-carousel,
		.wrapper-the-blue-sky-slider{
			.owl-nav,
			.nivo-directionNav{
				button,
				a{
					&:before{
						.icon_custom_font('\e933');
						font-size: 30px;
						display: inline-flex;
						align-items: center;
						line-height: 1;
					}
					&:not(:hover){
						&:before{
							color: @color-white;
						}
					}
					&.owl-prev,
					&.nivo-prevNav{
						width: @owl-nav-bg-width;
						border-radius: 50%;
						&:not(:hover){
							&:before{
								color: @color-white;
							}
						}
						
						&:before{
							transform: none;
						}
						&:hover{
							&:after{
								background-color: @link__hover__color;
							}
						}
					}
					&.owl-next,
					&.nivo-nextNav{
						width: @owl-nav-bg-width;
						border-radius: 50%;
						&:before{
							content: '\e934';
							transform: none;
						}
					}
					&:focus{
						box-shadow: none;
					}
				}
			}
			.owl-dots,
			.nivo-controlNav{
				.owl-dot,
				.nivo-control{
					&.active{
						background: @theme__color__primary;
					}
				}
			}
		}
	}	
}
// Gobal style
& when (@media-common = true) {
	.cms-index-index .section{
		button,
	    a.action.primary,
	    .action.primary,
	    .btn,
	    .review-form .action.submit.primary{
	    	border-top: 0;
	    	border-right: 0;
	    	border-left: 0;
	    	border-bottom: 2px solid @theme__color__primary;
	    	letter-spacing: 2px;
	    	background: @button__background !important;
	    	background: transparent !important;
	    	padding: 0 0 8px;
	    	&:hover,
	    	&:active,
	    	&:focus{
	    		border-top: 0;
		    	border-right: 0;
		    	border-left: 0;
	    	}
	    }
	}
    .product-item {
    	.product-label{
    		&.onsale{
    			right: auto;
    			left: 2rem;
    			@transform: translateY(100%);
    			.lib-css(transform, @transform, @_prefix: 1);
    		}
    	}
    }
    .header-container .col-action .action-header > li .search-form a{
		padding-right: 0;
	}
	.searchsuite-autocomplete .product .title{
		font-size: 1.4rem;
	}
}
& when (@media-common = true) {
    .modal-custom,
    .modal-popup,
    .modal-slide {
        .action-close {
            .lib-button-icon(
                @icon-remove,
                @_icon-font-color: @heading__color__base,
            );
        }
    }
}

/* header */
& when (@media-common = true) {
	.header-container {
		.header-top{
			padding: 2rem 0;
			.col-top-link,
			.container-setting-language-currency .switcher .switcher-options .switcher-trigger.action.toggle *{
				color: @header-icons-color;
			}
			.block.block-search {
				.dropdown{
					.top-search{
						color:  @header-icons-color;
						margin-right: 1rem;
						i{
							.lib-font-size(20);
						}
					}
				}
			}
		}
		.col-action {
			.minicart-wrapper .action.showcart .counter.qty, 
			li .counter.qty{
				min-width: 1.7rem;
   				min-height: 1.7rem;
   				font-size: 1rem;
   				color: @heading__color__base;
   				line-height: 9px;
   				top: 6px;
    			right: 4px;
    			font-weight: @font-weight__semibold;
			}
			.minicart-wrapper{
				margin-left: 0;
			}
			.action-header{
				li{
					margin: 0 1rem;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		.header.links {
			li{
				&:not(:last-child){
					margin-left: 1rem;
				}
				&.authorization-link{
					
					> a{
						&:before{
							display: none;
						}
					}
					&:after{
						content: '/';
						margin: 0px 6px 0 3px;
					}
				}
				&:last-child{
					padding-left: 0;
				}
			}
		}
		.header-content{
			border-bottom: 1px solid @header-border-color;
			.logo-sticky{
				padding: 1rem 0;
			}
		}
		&:not(.sticky){
			.header-top{
				.col-top-link,
				.col-action{
					flex: 1;
				}
				.col-action{
					> .flex-layout{
						justify-content: flex-end;
					}
				}
			}
			.for-full-width-menu{
				justify-content: center;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.cms-index-index{
		.header-container {
			&:not(.sticky){
				.header-content{
					border-bottom: 1px solid @header-border-color;
					position: absolute;
				    left: 0;
				    right: 0;
				}
			}
		}
	}
	.header-container {
		.header-top{
			.block.block-search {
				.dropdown {
					.form.minisearch{
					    right: -13px;
						top: -70%;
						background: transparent;
						border-bottom: 1px solid @header-border-color;
						z-index: 22;
						input{
							color: @color-white;
						}
						.action.search:before{
							color: @color-white;
							content: "\e905";
							font-size: 2rem;
							transform: none;
							opacity: 0;
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		.header-top {
			.col-right.col-top-link{
				flex: 0 0 100% !important;
			    justify-content: center;
			    margin-bottom: 1.5rem;
			}
			.logo-container{
				flex: 0 0 100%;
    			margin: 0 -50% 0 0;
    			text-align: center;
    			.logo-site,
    			img{
    				margin: auto;
    			}
			}
			.action-header{
				position: relative;
			}
			.block.block-search {
				position: static;
				.dropdown{
					.top-search{
						color:  @header-icons-color;
						margin-right: 1rem;
						i{
							.lib-font-size(20);
						}
					}
				}
				.form.minisearch{
					right: 0;
				}
			}
		}
		&:not(.sticky){
			.primary-menu-container{
				position: absolute;
				bottom: 1.5rem;
				left: 0;
			}
		}
		&.sticky{
			.sticky-header{
				.logo-sticky{
					order: 2;
				}
				.primary-menu-container{
					order: 1;
					flex: 1;
				}
				.col-action{
					order: 2;
					flex: 1;
					.action-header{
						justify-content: flex-end;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		.header-top {
			padding-bottom: 1rem !important;
			.logo-container{
    			margin: 0 0 1.5rem;
			}
		}
		&:not(.sticky) {
			.primary-menu-container{
    			bottom: .5rem;
			}
		}
		&.sticky{
			.sticky-header{
				.logo-sticky{
					display: none;
				}
			}
		}
	}
}
/* footer */
& when (@media-common = true) {
	.page-footer {
		margin-top: 9rem;
		.footer-top {
			.footer.content {
				padding-top: 6rem;
				padding-bottom: 6rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer-static_link {
			.footer-title {
				font-size: 1.4rem;
				margin-top: 1rem;
				margin-bottom: 1.8rem; 
			}
			.footer-links {
				p {
					> span {
						font-size: 2.4rem;
						display: block;
					}
				}
				&.not-collapse-mobile {
					text-align: center;
					.social-link  {
						justify-content: center;
						margin-top: 2.4rem;
						li {
							&:not(:last-child) {
								padding-right: 0;
							}
							a {
								width: 4rem;
								height: 4rem;
								line-height: 4rem;
								display: block;
								border-radius: 50%;
								background-color: @theme__color__primary;
								text-align: center;
								&:hover {
									-moz-transform: scale(1.1);
									-webkit-transform: scale(1.1);
									-o-transform: scale(1.1);
									-ms-transform: scale(1.1);
									transform: scale(1.1);
								}
								.icon {
									&:hover {
										color: @color-white;
									}
								}
							}
						}
					}
					@media only screen and (max-width: (@screen__m - 1)){
						text-align: left;
						.social-link  {
							justify-content: flex-start;
						}
					}
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			border-top: 1px solid @footer-border-color;
			.footer.content {
				.copyright {
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				.hozital-menu {
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align:left;
						margin-top: 0.5rem;
					}
				}
			}
		}
		
	}
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 37.59%; 
					max-width: 37.59%; 
					padding: 0 5rem;
					position:relative;	
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: -99999rem;
						bottom: -99999rem;
						border-left: 1px solid @footer-border-color;
					}
					&:after {
						content: "";
						position: absolute;
						right: 0;
						top: -99999rem;
						bottom: -99999rem;
						border-right: 1px solid @footer-border-color;

					}
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				&:nth-of-type(1),
				&:nth-of-type(2){
					margin-bottom: 3rem;
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				order: 2;
				margin-bottom: 0 !important;
				&.not-collapse-mobile{
					order: 1;
					margin-bottom: 3rem;
				}
			}
		}
	}	
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item{
				border: none;  
				&:before{
					display: none;
				}
			}
			&:not(.owl-carousel){
				border-left: 0;
			}
			.product-item{
				margin: 0 0 40px 0;
				border: 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height:1;
				}
				.product-item-info {
					border: 1px solid @border-color__base;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding: 1rem 0 0;
						border-top: 1px solid #f2f2f2;
						position: static;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						
						.price-box{
							*{
								.lib-font-size(15);
							}	
						}
						.product-item-actions {
							position: absolute;
							right: 2rem;
							top: 1.5rem;
							bottom: auto;
							text-align: center;
							z-index: 1;
						}
						@media only screen and (min-width: @screen__xs){
							.price-box,
							.product-reviews-summary{
								display: inline-flex;
							}
							.product-reviews-summary{
								float: right;
								position: relative;
								top: 3px;
							}
						}
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action,
					.field.choice.related{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.4rem;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
					}		
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview,
							&.tocompare{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.tocompare{
								display: none;
							}
						}
					}
				}
			}	
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-products .products-grid .product-item{
		width: 33.33333333%;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
	.products-grid .product-item{
		width: 100%;
	}
}
// Home page
& when (@media-common = true) {
	.cms-index-index{
		background: @header__background-color;
		button,
	    a.action.primary,
	    .action.primary,
	    .btn{
	    	color: @color-white;
	    }
	    .page-main{
	    	.col-banner + .content,
		    .rokan-title{
		    	.module-title,
		    	h2{
		    		color: @color-white;
		    		padding-bottom: 2.5rem;
		    		position: relative;
		    		letter-spacing: 2px;
		    		&:after{
		    			content: '';
		    			width: 8rem;
		    			height: 3px;
		    			background: @theme__color__primary;
		    			position: absolute;
		    			bottom: 0;
		    			left: 50%;
		    			@transform: translateX(-50%);
		    			.lib-css(transform, @transform, @_prefix: 1);
		    		}
		    	}
		    }
		}
		.instagram{
			line-height: 0;
			.section{
				margin-bottom: 0;
			}
			.fa-instagram{
				font-size: 0;
				margin-bottom: 2.5rem;
				&:before{
					.lib-font-size(36);
					color: @theme__color__primary;
				}
			}
		}
	}
	.banner{
		.col-banner,
		.content {
	 		h2{
	 			text-transform: uppercase;
	 			letter-spacing: 2px;
	 		}
	 		.button-wrap{
	 			margin-top: 3.1rem !important;
	 		}
	 	}
	 	.col-banner + .content{
	 		h2{
	 			margin-bottom: 3rem;
	 			line-height: 1;
	 			&:after{
	 				left: 0 !important;
	 				transform: none !important;
	 			}
	 		}
	 	}
	 	.col-banner{
	 		&.center{
	 			h4{
	 				letter-spacing: 4px;
	 			}
	 			p{
	 				font-family: @heading__font-family__base;
	 				margin-bottom: 2rem;
	 			}
	 		}
	 	}
	}
	.wrapper_product_tabs{
		margin-bottom: 5.5rem;
	}
	.block-newsletter-form{
		padding: 10vh 0;
		@media only screen and (min-width: @screen__l){
		 	padding: 12rem 0;
		}
		.newsletter-form{
			
			.rokan-title{
				&:before{
					content: "\e937";
				    font-family: main-icon, sans-serif;
				    font-size: 17px;
				    font-size: 5.7rem;
				    line-height: 1;
				    color: @theme__color__primary;
				    display: block;
				    margin-bottom: 4rem;
				}
				.module-title{
					padding-bottom: 0.5rem;
					&:after{
						display: none;
					}
				}
				.short-des {
					font-size: 1.6rem;
					font-family: @heading__font-family__base;
				}
			}
			&.block.newsletter{
				.field .control{
					max-width: 45.5rem;
					border-bottom: 2px solid @color-white;
					.flex();
					.input-focus{
						flex: 1;
					}

				}
				input{
					padding: 0;
				    background: transparent;
				    border: 0;
				   	&::-moz-placeholder {
				        color: @color-white;
				    }

				    &::-webkit-input-placeholder {
				        color: @color-white;
				    }

				    &:-ms-input-placeholder {
				        color: @color-white;
				    }
				}
				.action.subscribe{
					font-size: 0;
					padding: 0;
					background: transparent;
					border: 0;
					position: relative;
	    			top: 10px;
					&:before{
						color: @color-white;
						display: block;
					    font-family: main-icon,sans-serif;
					    content: '\e93a';
					    font-size: 17px;
					    line-height: 24px;
					    font-weight: 400;
					}
				}
			}
		}
	}
	// Instagram
	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.wrapper-the-blue-sky-slider .container-the-blue-sky-slider .the-blue-sky-banner-text h2{
		letter-spacing: 2px;
	}
}
// Blog
& when (@media-common = true) {
	.block-recent-posts{
		.post-list-wrapper {
			.item-post-full{
				.blog-post-thumb{
					.time-conment{
						background: @header__background-color;
						text-align: center;
						color: @color-white;
						border: 2px solid @theme__color__primary;
						left: 2rem;
						top: 2rem;
						padding: 1rem;
						span{
							display: block;
							font-weight: @font-weight__bold;
							line-height: 1.2;
							&.day{
								.lib-font-size(16);
							}
							&.month{
								.lib-font-size(24);
							}
						}
					}
				}
				.blog-post-info{
					border: 0;
					background: transparent;
					padding-bottom: 0;
					.post-info-bottom {
						display: none;
					}
					.desc{
						margin-bottom: 0;
					}
					*,
					.post-title{
						color: @color-white;
						
					}
					.post-title{
						font-weight: @font-weight__bold;
						margin-bottom: 0.5rem;
						line-height: 1.4;
						a{
							color: @color-white;
						}
					}
					.post-category-name{
						position: static;
					    top: 0px;
					    left: 1.8rem;
					    transform: none;
					    background: transparent;
					    padding: 0;
					    font-style: italic;
					    margin-bottom: 0;
					    a{
					    	color: @theme__color__primary;
					    }
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block.block-search .dropdown .form.minisearch .search-form{
		min-width: 350px !important;
	}
}