// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables
@page__background-color: #fff;
@margin_gobal_value: 8.5rem;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold;

// Color
@theme__color__primary: #ff3c19;
@color__table__product: #b7b7b7;

// Topbar
@topbarbg: #ef4646;
@topbarcolor: @color-white;

// Header
@header__background-color: @color-white;
@header-border-color: #ebebeb;

@header_sticky_bg: @header__background-color;

@navigation-desktop-level0-item__color: #0d0d0d;
// Top search
@_search-border-color: false;
@_search-border-width: 0;

// Navigation
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.3rem;

//Level 0
@navigation-desktop-level0-item__color: #0d0d0d;

@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: @font-weight__bold;

// Level 1
@level1_color: #0d0d0d;
@bg__newletter: #0d0d0d;
/* footer */
@footer-title-color: #222222;
@footer-title-font-size: 1.4rem;
@footer-title-font-weight: @heading__font-weight__base;
@footer-title-transform: uppercase;
@footer__background-color: @color-white;
@footercolor: @greycolor;
@footer-border-color: #e6e6e6;
@footer_bottom_color: @greycolor;

@social_link_bg: #262626;
@date__month: #222222;
//Module variables
@module_margin_bottom: 3rem;
@module_title-size: 3rem;

// Product
@product-name-link__color: #222;

// Button
@second_button_bg: @theme__color__primary;
@second_button_color: @color-white;
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;
@second_button_color: @color-white;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;
//Button variable
@button__border-radius: 0;
@button__color: @color-white;
@button__hover__color: @color-white;
@new_label_color: @color-white;
//  Input in form
//  ---------------------------------------------

// Supper deal module

.icon_header() {
    font-size: 2.6rem;
    line-height: 3rem;
    position: relative;
}

// Module Supperdeal
//  Variables
//  _____________________________________________
@deal_product_name_size: 1.8rem;
@deal_number_bg: transparent;
@deal_number_font-family: @font-family-name__base;
@deal_number_font-size: 3.6rem;
@deal_number_font-weight: bold;
@deal_number_color: #222;
@deal_number_width: 5rem;

// Banner supper deal
@banner_padding: 6rem 3.3rem;
@banner_moible-padding: 10vh 0;

@banner_supper_deal_tile_size: 3.6rem;
@banner_supper_deal_tile_mobile_size: 2.4rem;

@banner_supper_deal_tile_font-weight: 300;


// Slider banner
@slider_h2_text-transform: capitalize;
@slider_h2_font-size-xxl: 72px;
@slider_p_font-size-xxl: 18px;
@slider_button_font-size-xl: 13px;
@slider_p_text-transform: uppercase;
@slider_p_letter-spacing: 3px;
@slider_p_margin: 25px;
@slider_p_font-weight: @font-weight__bold;
@slider_button_letter-spacing: 2.5px;
@slider_button_padding: 14.5px 22.5px;
@slider_button_margin-top: 36px;
@slider_button_font-size-s: 10px;
@slider_button_font-size-xs: 10px;

//category 
@padding-category-thumb: 0;
@category_name_position: absolute;

// Supper deal banner

@sub_title_supper_deal-font-size: 3.6rem;
@sub_title_supper_deal-color: @topbarbg;
@sub-title_supper_deal_font-family: "SignPainter", sans-serif;

& when (@media-common = true){
    .hot-deal-tab-slider, .super-deal-banner-content{
        .super-deal-countdown{
            .time_circles{
                &>div{
                    margin: 0 1.5rem;
                    @media only screen and (max-width: (@screen__xs - 1)){
                       margin-left: 0;
                     }
                    .number{
                        position: relative;
                        @media only screen and (max-width: (@screen__m - 1)){
                            font-size: 2.6rem;
                        }
                        &::after{
                            content: ":";
                            position: absolute;
                            right: -25px;
                            color: @color__table__product;
                            font-size: 2.4rem;
                            top : 50%;
                            @media only screen and (max-width: (@screen__xs - 1)){
                               font-size: 1.6rem;
                               right: -15px;
                            }
                        }
                        @media only screen and (max-width: (@screen__xs - 1)){
                            font-size: 2rem;
                            width: auto;
                            height: auto;
                        }
                    }
                }
                .textDiv_Seconds{
                    .number{
                        &::after{
                            display: none!important;
                        }
                    }
                }
                .text{
                    text-transform: uppercase;
                    font-size: 1.4rem;
                }
            }
        }
    }
    .super-deal-banner{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .super-deal-banner-content{
            background-color: @color-white;
            width: 600px;
            max-width: 90%;
            height: 100%;
            padding: 6rem 8rem;
            max-height: 410px;
            @media only screen and (max-width: (@screen__m - 1)){
                max-width: 100%;
                padding: 2rem 4rem;
            }
            @media only screen and (max-width: (@screen__xs - 1)){
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 3rem;
            }
            .col-countdown{
                .supper-deal-title{
                    margin: 0;
                    margin-bottom: 1.2rem;
                    .sub-title-deal{
                        margin-top: -9px;
                        margin-bottom: 9px;
                    }
                    p{
                        margin: 0;
                    }
                    .title-deal{
                        font-size: 4.8rem;
                        line-height: 1;
                        color: @product-name-link__color;
                        font-family: @heading__font-family__base;
                        font-weight: bold;
                        margin: 0;
                        margin-bottom: 2px;
                        @media only screen and (max-width: (@screen__m - 1)){
                            font-size: 3.6rem;
                        }
                        @media only screen and (max-width: (@screen__xs - 1)){
                            font-size: 2.6rem;
                        }

                    }
                    .short-des{
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        color: #888888;
                        font-weight: 400;
                        letter-spacing: .2em;
                        line-height: 2.25;
                        @media only screen and (max-width:(@screen__m - 1)){
                            line-height: 1;
                        }
                        @media only screen and (max-width: (@screen__xs - 1)){
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

// Change gobal style
& when (@media-common =true) {
    @font-face {
        font-family: 'Brush Script MT';
        src: url('../../font/BrushScriptMT.woff2') format('woff2'),
            url('../../font/BrushScriptMT.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'SignPainter';
        src: url('../../font/SignPainter-HouseScript.woff2') format('woff2'),
            url('../../font/SignPainter-HouseScript.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Manrope';
        src: url('../../font/Manrope-Bold.woff2') format('woff2'),
            url('../../font/Manrope-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    body .show-product-mode-grid .product-item .product-item-info .product-item-details, body .products-grid .product-item .product-item-info .product-item-details, body .grid .product-item .product-item-info .product-item-details{
        position: static;
    }
    .products-grid .product-items.owl-carousel .owl-stage-outer{
        border-left: none;
    }
    .header-container.sticky{
        .action-sticky {
            .minicart-wrapper {
                .action.showcart {
                    .counter.qty{
                       color: @color-white;
                    }
                }
            }
            li .counter.qty{
                color: @color-white;
            }
        }
    }
    .wrapper-the-blue-sky-slider .nivo-directionNav a:before{
        content: '\e624';
        font-size: 18px;
        color: @color-white;
    }
    .primary-menu-container{
        .navigation{
            li.level0.parent{
                .submenu{
                    margin-top: 0!important;
                }
                .subchildmenu {
                    .subchildmenu{
                        margin-top: 0!important;
                    }
                }
            }
            .level0{
                > .level-top{
                    padding: 0 15px;
                    @media only screen and (max-width: (@screen__l - 1)){
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
    .wrapper-the-blue-sky-slider .nivo-directionNav a{
        border-radius: 100%;
    }

    .products-grid .product-items:not(.owl-carousel){
        border: none;
    }
    body{
        .wrapper-the-blue-sky-slider .nivo-directionNav a.nivo-nextNav:before{
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
        }
        .wrapper-the-blue-sky-slider .nivo-directionNav a.nivo-prevNav:before{
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
        }
    }
    .bg-banner{
    position: relative;
    line-height: 0;
    background-image: url(../images/banner-fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 5rem;
    background-position: center center;
    @media only screen and (max-width: (@screen__s - 1)){
        padding: 1rem 2rem;
    }
    h3.text-banner{
        width: 100%;
        color: @color-white;
        text-transform: uppercase;
        line-height: 1.5;
        height: 100%;
        padding: 4.4rem 2rem;
        margin: 0;
        &::after{
            content: "";
            background-color: transparent;
            top: 40px;
            right: 50px;
            left: 50px;
            bottom: 40px;
            position: absolute;
            border: 2px solid rgba(255, 255, 255, 0.3);
            @media only screen and (max-width: (@screen__s - 1)){
                top: 30px;
                right: 20px;
                left: 20px;
                bottom: 30px;
            }
        }
    }
    }
    .page-main {
        .the-blue-sky-banner-text {
            a.btn {
                background-color: transparent;
                border: 2px solid @color-white;
                margin: 0 4.5px;
            }
            &.left_center{
               left: 12%;
            }
        }
        .wrapper_product_tabs{
            margin-bottom: 0;
            .ui-tabs.widget-tabs{
                margin-left: -1.5rem;
                margin-right: -1.5rem;
                ul.ui-tabs-nav{
                    .flex;
                    justify-content: center;
                    position: relative;
                    li{
                        margin: 0 30px;
                        a{
                            span{
                                color: @color__table__product;
                                font-family: @heading__font-family__base;
                                font-size: 3rem;
                                font-weight: bold;
                                &:hover{
                                    color: @product-name-link__color;
                                }
                            }
                        }
                        &.ui-tabs-active{
                            a{
                                span{
                                    color: @product-name-link__color;
                                    font-size: 3.8rem;
                                    line-height: 1.25;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                    &::after{
                        content: url(../images/after-table.png);
                        width: 100%;
                        text-align: center;
                        display: block;
                        margin-top: 1rem;
                    }
                }
            }
        }
        .shop-alll{
            text-align: center;
            a.btn{
                background-color: transparent;
                padding-top: 0;
                color: @product-name-link__color;
                border-bottom: 2px solid @topbarbg;
                letter-spacing: 2.5px;
                font-size: 1.3rem;
                text-transform: uppercase;
                padding: 6px 0;
                font-weight: bold;
                &:hover{
                    color: @topbarbg;
                }
            }
        }
        .block-recent-posts{
            .rokan-title{
                margin-bottom: 5.2rem;
                .module-title{
                    text-align: center;
                    margin-top: 90px;
                    span{
                        font-size: 4rem;
                        line-height: 1;
                        &::after{
                            content: url(../images/after-table.png);
                            width: 100%;
                            text-align: center;
                            display: block;
                        }
                    }
                }
            }
            .post-list-wrapper{
                .blog-post-info{
                    .flex;
                    flex-direction: row-reverse;
                    padding: 3rem 0 0;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    border: none;
                    .post-category-name{
                        top: auto;
                        left: auto;
                    }
                    .header-info{
                        .post-title{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            line-height: 1.2;
                        }
                        .desc{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            margin-bottom: 0;
                        }
                    }
                    .flex-layout{
                        .time-conment{
                            border: 1px solid @topbarbg;
                            padding: 13px;
                            .flex;
                            flex-direction: column;
                            color: @date__month;
                            text-transform: uppercase;
                            font-family: "Manrope", sans-serif;
                            font-weight: 700;
                            line-height: 1.2;
                            margin-right: 30px;
                            .day{
                                font-size: 2.2rem;
                            }
                            .month{
                                font-size: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Blog page

& when (@media-common = true ){
    .post-list-wrapper{
        .blog-list-post{
            .item-post-full{
                .post-info-bottom{
                    display: none;
                }
            }
        }
    }
}


//Header

& when (@media-common = true){
    .header-container {
        box-shadow: 0 0 5px 0 rgba(115,115,115,0.5);
        .topbar {
            .topbar-inner {
                justify-content: center;
                padding: 8px 0;
            }
        }
        .full-width{
            border-bottom: 1px solid @header-border-color;
            padding: 17px 0;
            .container.flex-layout{
                @media only screen and (min-width: (@screen__m)){
                    position: relative;
                    .top-search-not-dropdown{
                        position: absolute;
                        left: 15px;
                    }
                    .col-action{
                        position: absolute;
                        right: 15px;
                    }
                    .logo-container{
                        width: 100%;
                        justify-content: center;
                    }
                }
                .top-search-not-dropdown {
                    @media only screen and (max-width: (@screen__m - 1)){
                        width: 100%;
                        order: 3;
                        margin-top: 20px;
                        border: 1px solid @footer-title-color;
                        padding: 0 0 0 15px;
                    }
                    .block.block-search {
                        .block-content {
                            .dropdown {
                                .form.minisearch {
                                    .control{
                                        input{
                                            padding: 0;
                                        }
                                    }
                                    .actions {
                                        .action.search {
                                            background-color: transparent;
    
                                            &::before {
                                                color: @header-icons-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .col-action {
                    justify-content: flex-end;
                    .flex();
                    .minicart-wrapper {
                        .action.showcart {
                            .counter.qty {
                                color: @color-white;
                                font-size: 1.1rem;
                                min-width: 2rem;
                                min-height: 2rem;
                            }
                            &::before{
                                font-size: 2.3rem;
                            }
                        }
                    }
                    ul{
                        > li.link {
                            margin: 0;
                            a:before{
                                font-size: 2.3rem;
                            }
                        }
                        li.minicart-li-content-show-hide{
                            margin-left: 6px;
                        }
                    }
                    li {
                        .counter.qty {
                            color: @color-white;
                            font-size: 1.1rem;
                            min-width: 2rem;
                            min-height: 2rem;
                        }
                    }
                }
            }
        }
        .header {
            .header-content {
                @media only screen and (max-width: (@screen__l - 1)){
                    .language-currency{
                        order: 2;
                    }
                    .primary-menu-container{
                        order: 1;
                        flex: 1;
                    }
                    .hidden-sticky{
                        order: 3;
                        padding-left: 1rem;
                    }
                }
                @media only screen and (max-width: (@screen__xs - 1)){
                    .hidden-sticky{
                        padding: 1rem 0;
                        width: 100%;
                    }
                    .language-currency{
                        padding: 0;
                    }
                    .primary-menu-container{
                        width: 100%;
                    }
                }
                .primary-menu-container {
                    ul {
                        li {
                            .level0.submenu {
                                .subchildmenu {
                                    .ui-menu-item {
                                      
                                        .subchildmenu {
                                            display: grid;
                                            grid-template-columns: 1fr 1fr;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .header.links {
                    li {
                        &.authorization-link {
                            color: @navigation-desktop-level0-item__color;

                            ::before {
                                display: none;
                            }
                        }

                        a {
                            color: @navigation-desktop-level0-item__color;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: (@screen__xs - 1)){
            .flex;
            flex-direction: column;
            .topbar{
                order: 1;
            }
            .header{
                order: 2;
                margin-top: 10px;
                .header-content{
                    .space-between.center_vertical{
                        position: static;
                        .language-currency{
                            text-align: center;
                        }
                        .primary-menu-container{
                            position: absolute;
                            bottom: 7rem;
                            width: auto;
                        }
                        .hidden-sticky{
                            .flex;
                            justify-content: center;
                        }
                    }
                }
            }
            .full-width{
                order: 3;
                padding: 0;
                .top-search-not-dropdown{
                    width: 100%;
                    padding: 0 0 0 1rem;
                    margin: 1rem 0 1.5rem;
                    order: 3;
                }
                .logo-container{
                    width: 100%;
                    .flex;
                    justify-content: center;
                    padding: 0.5rem 0 1rem;
                }
                .col-action{
                    flex: auto;
                }
            }
            &.sticky{
                .sticky-header{
                    .hidden-sticky{
                        display: none!important;
                    }
                    .primary-menu-container{
                        width: auto;
                    }
                    &.center-element{
                        .for-full-width-menu{
                            padding: 1rem 1.5rem;
                        }
                    }
                }
                .header{
                    .header-content{
                        .space-between.center_vertical{
                            .primary-menu-container{
                                bottom: 1rem;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
        &.sticky{
            .sticky-header{
                box-shadow: 0 0 5px 0 rgba(115,115,115,0.5);
                .primary-menu-container{
                    position: static;
                    .navigation{
                        li.level0.parent{
                            .submenu{
                                margin-top: 10px !important;
                            }
                            .subchildmenu {
                                .subchildmenu{
                                    margin-top: 10px !important;
                                }
                            }
                        }
                    }
                }
            }
            @media only screen and (max-width: (@screen__l - 1)){
                .sticky-header.center-element{
                    .logo-sticky{
                        margin-left: auto !important;
                        margin-right: auto !important;
                        line-height: 1;
                    }
                    .col-menu{
                        position: absolute;
                    }
                    .action-sticky{
                        position: absolute;
                        right: 15px;
                    }
                }
            }
        }
    }
}

// Footer
& when (@media-common = true){
    .page-footer {
        .footer.content{
            .footer-newsletter{
                background: @bg__newletter;
                margin-bottom: 0;
                .flex-layout{
                    @media only screen and (max-width: (@screen__xl - 1)){
                        display: block;
                        .block-newsletter-form{
                            width: 100%;
                            .newsletter-form{
                                z-index: 0;
                            }
                        }
                    }
                }
                .block-newsletter-form{
                    margin: 0;
                    padding: 2.9rem 0;
                    background-image: none!important;
                    flex: 0 0 74.5%;
                    width: 74.5%;
                    .newsletter-form{
                        .flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                        float: none;
                        .left-newletter{
                            .flex;
                            .icon{
                                margin-right: 25px;
                                .main-icon-plane-paper{
                                    &::before{
                                        font-size: 5.7rem;
                                        color: @topbarbg;
                                        @media only screen and (max-width : (@screen__xs - 1)){
                                            font-size: 4rem;
                                        }
                                    }
                                }
                            }
                            .rokan-title{
                                margin-bottom: 0;
                                .module-title{
                                    color: @color-white;
                                    margin-bottom: 5px;
                                    @media only screen and (max-width : (@screen__xs - 1)){
                                        font-size: 2.4rem;
                                    }
                                }
                            }
                        }
                        .content{
                            @media only screen and (max-width: (@screen__m - 1)){
                                width: 100%;
                            }
                            .control{
                                position: relative;
                                @media only screen and (max-width: (@screen__m - 1)){
                                    max-width: 100%;
                                }
                                .input-focus{
                                    @media only screen and (max-width: (@screen__m - 1)){
                                        width: 100%;
                                    }
                                    input{
                                        @media only screen and (max-width: (@screen__m - 1)){
                                            width: 100%;
                                        }
                                        width: 430px;
                                        max-width: 100%;
                                        padding-top: 5px;
                                        padding-left: 0;
                                        background: transparent;
                                        border: none;
                                        border-bottom: 1px solid @color-white;
                                        color: @color-white;
                                    }
                                }
                                .actions{
                                    position: absolute;
                                    right: 0;
                                    button.subscribe{
                                        background: transparent;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .social-link{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    flex: 0 0 25.5%;
                    justify-content: flex-end;
                    width: 25.5%;
                    @media only screen and (max-width: (@screen__xl - 1)){
                        padding: 1rem 0 2.9rem;
                        width: 100%;
                    }
                    li{
                        background-color: rgba(255, 255, 255 , 0.1);
                        margin: 0 6px;
                        border-radius: 100%;
                        padding: 0;
                        span:not(.icon){
                            font-size: 0;
                        }
                        a{
                            color: @color-white;
                            .icon{
                                width: 40px;
                                height: 40px;
                               .flex;
                                justify-content: center;
                                align-items: center;
                                &::before{
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cms-index-index{
        .page-footer{
            margin: 0;
        }
    }
    .page-footer{
        .footer-top{
            .footer.content{
                padding-top: 0
            }
            .footer-static_link{
                @media only screen and (max-width: (@screen__l - 1)){
                    display: block;
                }
                .center-link-footer{
                    @media only screen and (max-width: (@screen__l - 1)){
                        padding: 0;
                        border: none;
                    }
                    .flex;
                    flex: 1;
                    justify-content: space-around;
                    border-left: 1px solid @header-border-color;
                    border-right: 1px solid @header-border-color;
                    padding-top: 6rem;
                }
                >.footer-links{
                    flex: 0 0 26%;
                    max-width: 26%;
                    padding-top: 6rem;
                    padding-bottom: 4.8rem;
                    @media only screen and (max-width: (@screen__l - 1)){
                        flex: 1!important;
                        max-width: 100%!important;
                        padding-bottom: 0;
                        .social-link{
                            display: none;
                        }
                    }
                }
                >[class="footer-links"]{
                    padding-left: 4rem;
                    @media only screen and (max-width:(@screen__l - 1)){
                        padding-left: 2rem;
                    }
                    @media only screen and (max-width:(@screen__s - 1)){
                        padding-top: 0;
                        padding-left: 1.5rem;
                    }
                }
            }
        }
        .footer-bottom{
            margin: 0;
            .container-inner{
                @media only screen and (max-width:(@screen__m - 1)){
                    .hozital-menu , .copyright{
                        text-align: center;
                    }
                    .hozital-menu {
                        padding-top: 1rem;
                    }
                }
            }
            .footer-contents{
                margin-bottom: 0;
            }
        }
    }
    .page-footer .footer.content ul.social-link li:not(:first-child){
        padding-left: 0;
    }
    .page-footer .footer.content ul.social-link li:not(:last-child){
        padding-left: 0;
    }
    .page-footer .footer.content ul.social-link li:not(:last-child){
        padding-right: 0;
    }
}

//Category tab
& when (@media-common = true){
    @keyframes hover__tab {
        0%   {transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1);}
        25%  {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2);}
        50%  {transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1)}
        75%  {transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2);}
        100% {transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1)}
    }
    .wrapper_sub_category_tabs.onlyparent{
        .list-category-item{
            .category-item{
                padding: 0;
                overflow: hidden;
                a{
                    img{
                        transition: all .5s;
                    }
                    span.cate-name.cate-count{
                        position: absolute;
                        color: #222;
                        border-radius: 100%;
                        top : 0;
                        width: 100%;
                        height: 100%;
                        font-size: 2.4rem;
                        .flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 9;
                        font-weight: 700;
                        flex-direction: column;
                        .category-count{
                            font-size: 1.4rem;
                            font-weight: 400;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            z-index: -1;
                            width: 150px;
                            height: 150px;
                            background-color: @color-white;
                            border-radius: 100%;
                        }
                    }
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                        span.cate-name.cate-count{
                            &::before{
                                background-color: rgba(255, 255, 255, 0.6);
                                animation: 3s linear 0s infinite normal none running hover__tab;
                                -webkit-animation: 3s linear 0s infinite normal none running hover__tab;
                                -moz-animation: 3s linear 0s infinite normal none running hover__tab;
                                -ms-animation: 3s linear 0s infinite normal none running hover__tab;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Product tab grid
& when (@media-common = true){
    .product.attribute.overview, .product-item-description{
        ul{
            list-style: none;
            padding: 0;
        }
        table{
            tbody{
                tr{
                    th{
                        p{
                            margin: 0;
                        }
                    }
                    td{
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    body.cms-index-index{
        .products-grid {
            .product-items {
                .product-item{
                    .product-item-info{
                        @media only screen and (max-width: (@screen__s - 1)){
                            padding: 0.5rem 1.5rem 0;
                        }
                    }
                }
            }
        }
    }
    body{
        .products-grid {
            margin-bottom: 0;
            margin-left: -15px;
            margin-right: -15px;
            .product-items {
                margin-bottom: 0;
               &.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
                .product-item{
                    border: none;
                    margin-top: 0;
                    @media only screen and (max-width: (@screen__xs - 1)){
                        margin-bottom: 4rem;
                        padding: 0 15px;
                    }
                    &:hover{
                        .product-item-info{
                            &::before{
                                box-shadow: none;
                            }
                            .product-item-details{
                                .product-reviews-summary{
                                    visibility: hidden;
                                    @media only screen and (max-width: (@screen__xs - 1)){
                                        visibility: visible;
                                    }
                                }
                                .product-item-actions{
                                    .actions-secondary{
                                        right: 3.52rem!important;
                                        &::after{
                                            height: 0;
                                        }
                                    }
                                    .actions-primary{
                                        @transform: translateY(-55px);
                                        .lib-css(transform, @transform, @_prefix: 1);
                                        right: 2rem;
                                        @media only screen and (max-width: @screen__s){
                                            @transform: translateY(-40px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                        @media only screen and (max-width: (@screen__xs - 1)){
                                            @transform: translateY(-15px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-item-photo{
                        line-height: 0;
                    }
                    .product-item-info{
                        padding: 0.5rem 1.5rem 4.4rem;
                        @media only screen and (max-width: (@screen__s - 1)){
                            padding: 0.5rem 0;
                        }
                        &::before{
                            display: none;
                        }
                        .product-item-details{
                            margin-top: 1.5rem;
                            .product-reviews-summary{
                                display: inline-flex;
                                float: right;
                                height: 25px;
                                margin: 0;
                                @media only screen and (max-width: (@screen__xs - 1)){
                                    float: none;
                                    width: 100%;
                                }
                                .action.view{
                                    transition: all 0s;
                                    -webkit-transform: all 0s;
                                    -moz-transform: all 0s;
                                }
                            }
                            .product-item-actions{
                                .actions-primary{
                                    .tocart-form{
                                        .action.tocart{
                                            &::before{
                                                content: "\e92e";
                                                font-size: 1.6rem;
                                            }
                                        }
                                    }
                                }
                                .actions-secondary{
                                    top: 2.05rem;
                                    left: auto;
                                    right: -4rem;
                                    bottom: auto;
                                    display: block;
                                    transform: translateY(0);
                                    -webkit-transform: translateY(0);
                                    -moz-transform: translateY(0);
                                    -ms-transform: translateY(0);
                                    background-color: transparent;
                                    -webkit-box-shadow: none;
                                    -moz-box-shadow: none;
                                    -ms-box-shadow: none;
                                    box-shadow: none;
                                    padding: 0;
                                    font-size: 0;
                                    .transition();
                                    .action.towishlist{
                                        margin-bottom: 1rem;
                                        a{
                                            &::before{
                                                content: '\e92f';
                                            }
                                        }
                                        span{
                                            font-size: 0;
                                        }
                                    }
                                    a{
                                        width: 40px;
                                        height: 40px;
                                        .flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 100%;
                                        background: @color-white;
                                        box-shadow: 0 1px 2px rgba(0,0,0,.2);
                                        &.tocompare{
                                            display: none;
                                        }
                                        &::before{
                                            font-size: 1.5rem;
                                            line-height: 1;
                                            margin-right: 2px;
                                            top: 0;
                                        }
                                        &.link-quickview{
                                            &::before{
                                                content: "\e930";
                                                padding: 2px;
                                            }
                                        }
                                    }
                                }
                                .actions-primary{
                                    right: 2rem;
                                    transform: translateY(-30px);
                                    .action.tocart{
                                        &:hover{
                                            color: @color-white;
                                        }
                                        &:before{
                                            content: "\e92e";
                                            font-size: 1.6rem;
                                        }
                                    }
                                }
                            }
                            .product-item-name{
                                display: inline-flex;
                            }
                        }
                        .product-label.onsale{
                            color: @color-white;
                            background-color: @topbarbg;
                            left: 3.5rem;
                            right: auto;
                            .value{
                                font-size: 1.3rem;
                            }
                        }
                       .product-label.newlabel{
                            right: 3.5rem;
                            background-color: #4c3ab7;
                            left: auto;
                            span{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html{
        &:not(.nav-open){
            .header-container .full-width{
                position: relative;
                z-index: 3;
            }
            .page-header .header.panel{
                position: relative;
                z-index: 2;
            }
        }
    }
}