//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//broder
@border-color__base: #ededed;


// Heading
@heading__color__base: #111;
@heading__font-family__base: inherit;
@heading__font-weight__base: 600;
@heading__font-style__base: normal;
// Topbar
@topbarbg: #0d0d0d;
@topbarcolor: @color-white;

@header__background-color: transparent;
@header-border-color: @border-color__base;
@header_sticky_bg: #222;
@header_sticky_border: false;
@header-icons-color: @color-white;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 1px;

@theme__color__primary: #f3390a;
// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: 500;
@navigation-desktop__font-size: 1.5rem;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__active__color: @theme__color__primary;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
@navigation-desktop-level0-item__color: #fff;
//Level 0

@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 18;
@navigation-level0-item__font-weight: 500;
@navigation-level0-item__hover__color: @theme__color__primary;
@navigation-level0-item__active__color: @theme__color__primary;
@navigation-level0-item__color: #111;
//==============================
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;
@new_label_bg: #7dad60;
@new_label_color: @color-white;
//Module variables


//Title
@module_margin_bottom: 4rem;
@module_title-size: 4rem;
@module_title-text-transform: capitalize;
@module_title_text-align: center;

@margin_gobal_value: 10rem;
// Product
@product-name-link__color: #222;


// Button
/* footer */
@footer_font-size: 14px;
@footer__background-color: #111111;
@footercolor: #fff;

@footer-title-font-size: 1.6rem;
@footer-title-color: #fff;
@footer-title-font-weight: 400;
@footer-title-transform: capitalize;

@footer-border-color: #dad1f1;

@footer-bottom_bg: #2a233e;
@footer_bottom_color: #b7b7b7;

//Button variable
@button__color: @color-white;
@button__hover__color: @color-white;
@button__font-size: 14px;
@button__font-family: @heading__font-family__base;
@button__background: @theme__color__primary;
@button__padding: 12.5px 45px;
@button__border-radius: false;
@button__font-weight: @font-weight__bold;

@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6;
@checkout-button-color: @heading__color__base;

// Slider heading
@slider_h2_font-size-xxl: 120px;
@slider_h2_font-size-xl: 100px;
@slider_h2_font-size-l: 80px;
@slider_h2_font-size-s: 40px;
@slider_h2_font-size-xs: 32px;
@slider_h2_letter-spacing: false;
@slider_h2_font-weight: @heading__font-weight__base;
@slider_h2_text-transform: uppercase;
@slider_h2_margin: 0;
@slider_h2_line-height: false;

@slider_h3_font-size-xxl: 30px;
@slider_h3_font-size-xl: 30px;
@slider_h3_font-size-l: 30px;
@slider_h3_font-size-s: 25px;
@slider_h3_font-size-xs: 18px;
@slider_h3_letter-spacing: false;
@slider_h3_font-weight: @heading__font-weight__base;
@slider_h3_text-transform: uppercase;
@slider_h3_margin: 20px;
@slider_h3_line-height: false;


// Slider paragraph
@slider_p_font-size-xxl: 15px;
@slider_p_font-size-xl: 15px;
@slider_p_font-size-l: 14px;
@slider_p_font-size-s: 14px;
@slider_p_font-size-xs: 13px;
@slider_p_font-weight: @font-weight__regular;
@slider_p_letter-spacing: false;
@slider_p_text-transform: false;
@slider_p_margin: 10px;
@slider_p_line-height: 25px;


// Slider button
@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 14px;
@slider_button_padding: 14.5px 45px;
@slider_button_padding-s: 8.5px 25px;
@slider_button_bg: false;
@slider_button_letter-spacing: false;
@slider_button_line-height: false;
@slider_button_margin-top: 20px;



// Style page Sport
& when (@media-common =true) {
    .rokanthemes-onepagecheckout{
        .header-container {
            .sticky-header{
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
            &.sticky{
                .sticky-header{
                    padding: 0;
                }
            }
        }
    }
    .page-wrapper {
        .page-header {
            .header-container {
                .topbar {
                    padding: 6.5px 0px;

                    .header-top {
                        position: relative;

                        .col-left {
                            @media only screen and (max-width: @screen__xs) {
                                width: 100%;
                                justify-content: center;
                            }

                            p {
                                margin: 0;

                                a.store-locator {
                                    color: @topbarcolor;
                                    border-right: 1px solid #565656;
                                    padding-right: 3rem;

                                    @media only screen and (max-width: (@screen__xs - 1)) {
                                        padding-right: 2rem;
                                    }
                                }
                            }

                            .hotline {
                                margin-left: 3rem;
                                .flex();
                                align-items: center;

                                @media only screen and (max-width: (@screen__xs - 1)) {
                                    margin-left: 2rem;
                                    margin-right: 0;
                                }

                                .flex-layout {
                                    align-items: center;

                                    .icon {
                                        font-size: 1.4rem;
                                    }

                                    .content {
                                        a {
                                            color: @topbarcolor;
                                            font-size: 1.4rem;
                                        }
                                    }
                                }
                            }

                            .hiden-text {
                                display: none;
                            }
                        }

                        .col-action {
                            @media only screen and (max-width: @screen__xs) {
                                width: 100%;
                                padding: 12px 0;

                                .social-link {
                                    justify-content: center;
                                }
                            }

                            .social-link {
                                li {
                                    .icon {
                                        color: @topbarcolor;

                                        .text {
                                            font-size: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .header-content {
                    background-color: @heading__color__base;

                    .logo-container {
                        position: absolute;
                        top: -100%;
                        z-index: 999;

                        @media only screen and (min-width: @screen__xl) {
                            left: calc(~'(1410px - 265px)/ 2');
                            top: -50px;
                        }
                        .logo-site {
                            background: @theme__color__primary;
                            padding: 42px 66px;

                            @media only screen and (max-width: (@screen__l - 1)) {
                                padding: 20px 40px;
                            }
                        }

                        @media only screen and (max-width: (@screen__xl - 1)) {
                            position: relative;

                            .logo-site {
                                max-height: 70px;
                                .flex();
                                flex-wrap: nowrap;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .header.panel {
                        padding: 1.2rem 1.5rem;

                        @media only screen and (max-width: (@screen__xl - 1)) {
                            padding: 0 1.5rem;
                        }

                        @media only screen and (max-width: (@screen__xs - 1)) {
                            padding-bottom: 15px;
                        }
                    }

                    .navigation {
                        li.level0.parent {
                            >.level-top:after {
                                display: none;
                            }
                            &:hover{
                                .submenu{
                                    -webkit-transform: translateY(-4px);
                                    -moz-transform: translateY(-4px);
                                    -ms-transform: translateY(-4px);
                                    transform: translateY(-4px);
                                }
                            }
                        }
                      
                    }

                    .col-action {
                        .flex-layout {
                            align-items: center;
                        }

                        .links {
                            position: relative;
                            margin-right: 40px;

                            &::after {
                                position: absolute;
                                content: '';
                                top: 0;
                                bottom: 0;
                                right: -29px;
                                height: 12px;
                                margin: auto;
                                border-left: 1px solid;
                                opacity: .5;
                            }
                        }

                        .action-header {
                            .block-search {
                                position: static;
                                margin-right: 13px;

                                .dropdown {
                                    position: static;

                                    .top-search i {
                                        font-size: 2.2rem;
                                        line-height: 4rem;
                                        position: relative;
                                        cursor: pointer;
                                        color: @header-icons-color;
                                    }

                                    .form.minisearch {
                                        right: 0;
                                    }
                                }
                            }

                            li {
                                margin-right: 0;

                                .minicart-wrapper {
                                    margin-left: 3px;
                                }

                                a {
                                    &::before {
                                        font-size: 2.2rem;
                                    }

                                    .counter {
                                        min-width: 2rem;
                                        min-height: 2rem;
                                        right: 2px;
                                        top: 5px;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }

                &:not(.sticky) {
                    @media only screen and (max-width: (@screen__l - 1)) {
                        .sticky-header {
                            .primary-menu-container {
                                position: absolute;
                                right: 0;

                                .action {
                                    line-height: 1;
                                }
                            }

                            .col-right {
                                padding-right: 50px;
                            }

                            .logo-container {
                                z-index: 1;
                            }
                        }
                    }

                    @media only screen and (max-width: (@screen__xs - 1)) {
                        .sticky-header {
                            .primary-menu-container {
                                position: relative;
                                order: 2;
                            }

                            .col-right {
                                padding-right: 0;
                                order: 3;
                            }

                            .logo-container {
                                z-index: 1;
                                width: 100%;
                                margin: 0 0 20px 0;
                                justify-content: center;
                            }
                        }
                    }
                }

                &.sticky {
                    .sticky-header {
                        .header {
                            padding-top: 0;
                            padding-bottom: 0;

                            .for-full-width-menu {
                                .logo-container {
                                    left: auto;
                                    position: relative;
                                    top: 0;
                                    .logo-site {
                                        max-height: 70px;
                                        padding-top: 22px;
                                        padding-bottom: 22px;
                                        .flex();
                                        flex-wrap: nowrap;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }

                                @media only screen and (min-width: @screen__l) {
                                    .primary-menu-container {
                                        order: 2;
                                    }

                                    .col-right {
                                        order: 3;
                                    }

                                    .logo-container {
                                        order: 1;
                                    }
                                }

                                @media only screen and (max-width: (@screen__l - 1)) {
                                    .primary-menu-container {
                                        position: absolute;
                                        right: 0;
                                    }

                                    .col-right {
                                        padding-right: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cms-index-index {
        .page-wrapper {
            .page-header {
                .header-container:not(.sticky) {
                    .header-content {
                        @media only screen and (min-width: @screen__l) {
                            position: absolute;
                            width: 100%;
                            background: rgba(0, 0, 0, .3);
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .header-container{
        .primary-menu-container{
            flex: 0 0 40%;
            max-width: 40%;
        }
    }
}

& when (@media-common =true) {

    .product.attribute.overview,
    .product-item-description {
        ul {
            list-style: none;
            padding: 0;
        }

        table.woocommerce-product-attributes {
            tbody {
                tr {
                    th {
                        p {
                            margin: 0;
                        }
                    }

                    td {
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .banner-top {
        .wrapper-the-blue-sky-slider {
            margin-bottom: 3rem;

            .container-the-blue-sky-slider {
                .the-blue-sky-banner-text {
                    h2 {
                        font-family: "Flood Std";

                        &.inline-block {
                            display: inline-block;
                        }

                        &.margin-left {
                            margin-left: 40px;

                            @media only screen and (max-width: (@screen__l - 1)) {
                                margin-left: 25px;
                            }

                            @media only screen and (max-width: (@screen__s - 1)) {
                                margin-left: 15px;
                            }
                        }
                    }

                    p {
                        @media only screen and (max-width: @screen__xs) {
                            br {
                                display: none;
                            }

                            margin: 0;
                            line-height: 1.6;
                        }
                    }
                }
            }
        }
    }
}

& when (@media-common =true) {
    .header-container {

        // Social icon
        .social-link {
            padding-left: 0;
            align-items: center;
            flex: 1;
            li {
                display: inline-flex;
                margin-bottom: 0;

                &:not(:first-child) {
                    padding-left: 1.2rem;
                }

                &:not(:last-child) {
                    padding-right: 1.2rem;
                }
            }
        }
    }
}

// *--------------------- main homepage----------------------* //


// Banner Top
& when (@media-common =true) {
    .banner-top-sport {
        padding: 0 15px;
        line-height: 0;

        .flex-layout {
            flex-wrap: nowrap;

            .banner {
                position: relative;
                margin: 0 15px;
                overflow: hidden;

                img {
                    @transition: all .5s;
                    .lib-css(transition, @transition, @_prefix: 1);
                }

                &:hover {
                    img {
                        @transform: scale(1.1);
                        .lib-css(transform, @transform, @_prefix: 1);
                    }
                }

                .content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding-left: 50px;
                    text-transform: uppercase;
                    .flex();
                    flex-direction: column;
                    justify-content: center;
                    top: 0;

                    @media only screen and (max-width: (@screen__xs - 1)) {
                        padding-left: 30px;
                    }

                    .sub-title {
                        font-size: 1.5rem;
                        color: @theme__color__primary;
                        font-weight: 700;
                        letter-spacing: .1em;
                        line-height: 1.35;
                    }

                    .title {
                        font-size: 3rem;
                        color: @color-white;
                        line-height: 1.35;
                        margin-bottom: 0;
                        text-align: left;
                        font-weight: 700;

                        @media only screen and (max-width: (@screen__l - 1)) {
                            font-size: 2rem;
                        }
                    }

                    a {
                        font-size: 1.5rem;
                        line-height: 2rem;
                        letter-spacing: .1em;
                        background-color: transparent;
                        padding: 0 0 4px;
                        text-decoration: none;
                        margin-top: 32px;
                        font-weight: bold;
                        position: relative;
                        color: @color-white;

                        &:hover {
                            color: @theme__color__primary;
                            border-color: @theme__color__primary;

                            &::after {
                                background: @theme__color__primary;
                            }
                        }

                        &::after {
                            content: "";
                            background: @color-white;
                            height: 2px;
                            width: 95px;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: (@screen__m - 1)) {
            .flex-layout {
                display: block;

                .banner {
                    overflow: hidden;
                    height: 250px;
                    margin-bottom: 30px;

                    img {
                        max-width: inherit;
                        width: 100%;
                    }
                }
            }
        }

        @media only screen and (max-width: (@screen__xs - 1)) {
            .flex-layout {
                .banner {
                    height: auto;
                    margin: 0 0 15px 0;

                    .content {
                        a {
                            margin-top: 15px;
                        }

                        .sub-title {
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}

// Banner bottom

& when (@media-common =true) {
    .banner-bottom-sport {
        line-height: 0;

        .banner {
            width: calc(~"100% / 3");
            position: relative;
            overflow: hidden;

            &.banner-main {
                background-color: #111111;

                .title {
                    line-height: 56px !important;
                    margin-bottom: 40px;

                    @media only screen and (max-width: (@screen__l - 1)) {
                        line-height: 40px !important;
                    }
                }
            }

            img {
                @transition: all .5s;
                .lib-css(transition, @transition, @_prefix: 1);
            }

            &:hover {
                img {
                    @transform: scale(1.1);
                    .lib-css(transform, @transform, @_prefix: 1);
                }
            }

            .content {
                position: absolute;
                width: 100%;
                height: 100%;
                .flex();
                flex-direction: column;
                justify-content: center;
                color: @color-white;
                top: 0;
                text-align: center;
                text-transform: uppercase;

                .background-banner {
                    max-width: 180px;
                    padding: 11px 10px;
                    background-image: url(../images/Shape.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    margin: 0 auto 25px !important;
                    transition: background .4s;

                    &:hover {
                        background-color: @theme__color__primary;
                    }
                }

                .sub-title {
                    font-size: 2.4rem;
                    font-weight: 700;
                    color: @color-white;
                    letter-spacing: 2.4px;
                    margin-bottom: 9px;
                    line-height: 28px;
                }

                .title {
                    color: @color-white;
                    font-size: 4.2rem;
                    text-transform: uppercase;
                    letter-spacing: 4.2px;
                    line-height: 1;

                    @media only screen and (max-width: (@screen__l - 1)) {
                        font-size: 3.2rem;
                    }

                    @media only screen and (max-width: (@screen__xs - 1)) {
                        font-size: 2.6rem;
                    }

                    &.font-flood {
                        font-family: 'Flood Std';
                        font-size: 7.2rem;
                        letter-spacing: 0;

                        @media only screen and (max-width: (@screen__l - 1)) {
                            font-size: 5.2rem;
                        }
                    }
                }

                a {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 24px;
                    letter-spacing: 1.5px;
                    background-color: transparent;
                    border-style: solid;
                    border-width: 2px;
                    border-color: @color-white;
                    padding: 11px 33px;
                    color: @color-white;
                    max-width: 183px;
                    margin: 0 auto;

                    @media only screen and (max-width: (@screen__xs - 1)) {
                        padding: 10px 20px;
                    }

                    &:hover {
                        background-color: @theme__color__primary;
                        border-color: @theme__color__primary;
                    }
                }
            }
        }

        @media only screen and (max-width: (@screen__m - 1)) {
            .flex-layout {
                display: block;

                .banner {
                    width: 100%;
                    margin-bottom: 15px;
                    min-height: 250px;
                    max-height: 250px;

                    img {
                        max-width: inherit;
                        width: 100%;
                    }

                    &.banner-main {
                        .title {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

// Newsletter
& when (@media-common =true) {
    body .block-newsletter-form {
        height: 100%;
        background-attachment: inherit;
        margin: 0;
        padding: 0;
        position: relative;

        .container {
            width: 100% !important;
            padding: 50px;
            position: absolute;
            bottom: 0;
        }

        .rokan-title {
            text-align: left;
            color: @color-white;
            margin-bottom: 3rem;

            .module-title {
                padding-bottom: 0 !important;
                margin-bottom: 0.7rem;
                color: @color-white;
                font-size: 4.2rem;
                line-height: 52px;
                font-weight: 700;
                letter-spacing: .1em;
                margin-bottom: 12px;
                text-decoration: none;

                @media only screen and (max-width: (@screen__m - 1)) {
                    font-size: 3rem;
                }

                @media only screen and (max-width: (@screen__xs - 1)) {
                    font-size: 2rem;
                }
            }

            .short-des {
                font-size: 2rem;
                line-height: 32px;
                margin-bottom: 21px;

                @media only screen and (max-width: (@screen__xs - 1)) {
                    font-size: 1.6rem;
                }
            }

            &:after {
                display: none !important;
            }
        }
    }

    .block.newsletter {
        max-width: 40rem;

        .field {
            .input-focus {
                position: relative;
                flex: 1 1 auto;
                width: 1%;
                font-weight: inherit;
                color: inherit;
                box-shadow: none;
                border-radius: 0;
                margin: 0;

                input {
                    padding: 13px 22px;
                }
            }

            .actions {
                .subscribe {
                    @media only screen and (max-width: @screen__xs) {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

// Blog

& when (@media-common =true) {
    .block-blog {
        .rokan-title {
            .module-title {
                text-align: left;
                line-height: 1;
                font-size: 42px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 4.2px;
                text-decoration: underline;
            }
        }

        .content-flex {
            max-width: 59.57446809%;
            flex: 59.57446809%;

            .section {
                margin-bottom: 0;
            }
        }

        .image-flex {
            max-width: 40.42553191%;
            flex: 40.42553191%;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: (@screen__m - 1)) {
            .content-flex {
                max-width: 100%;
                flex: 100%;
                padding: 0 15px;
            }

            .image-flex {
                max-width: 100%;
                flex: 100%;
                min-height: 300px;

                .container {
                    padding: 0 30px;
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }
        }

        .post-list-wrapper {
            .blog-list-post {
                .item-post-full {
                    flex-wrap: nowrap;
                    margin-bottom: 20px !important;
                    max-width: 700px;

                    .blog-post-thumb {
                        width: 50%;
                        flex: 0 0 50%;
                    }

                    .blog-post-info {
                        flex: 1 1 auto;
                        width: 1%;
                        padding: 0 0 0 30px;
                        border: none;

                        @media only screen and (max-width: (@screen__xs - 1)) {
                            padding: 15px 0 0 0;
                        }

                        .time-conment {
                            color: @color-white;
                            display: inline-block;
                            vertical-align: top;
                            min-width: 70px;
                            background-color: #0d0d0d;
                            font-size: 15px;
                            line-height: 20px;
                            text-align: center;
                            text-decoration: none;
                            padding: 10px 5px;
                            position: relative;
                            font-family: @heading__font-family__base;

                            .month {
                                display: block;
                                font-size: 2.4rem;
                                line-height: 30px;
                                font-weight: 700;
                                text-transform: uppercase;
                            }

                            &:hover {
                                color: @theme__color__primary;
                            }

                            &::before {
                                position: absolute;
                                content: '';
                                top: 3px;
                                bottom: 3px;
                                left: 3px;
                                right: 3px;
                                border: 1px solid;
                                color: @theme__color__primary;
                            }
                        }

                        .post-readmore {
                            font-size: 13px;
                            line-height: 20px;
                            background-color: transparent;
                            padding: 0;
                            border-bottom: 2px solid @theme__color__primary;
                            color: #404040;
                            letter-spacing: .1em;
                            border-radius: 3px;
                            margin-top: 12px;

                            &:hover {
                                color: @theme__color__primary;
                            }
                        }

                        .post-title {
                            font-size: 24px;
                            line-height: 30px;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-top: 16px;
                        }

                        .desc {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 25px;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            margin: 0;
                            margin-top: 15px;

                            @media only screen and (max-width: (@screen__xs - 1)) {
                                margin-top: 0;
                            }
                        }

                        .post-category-name {
                            position: relative;
                            margin: 0;
                            left: 0;
                            margin-bottom: 10px;
                        }
                    }

                    @media only screen and (max-width: (@screen__xs - 1)) {
                        display: block;

                        .blog-post-thumb {
                            width: 100%;
                        }

                        .blog-post-info {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* Hover action */

& when (@media-common =true) {

    //Product grid
    .product-item-name,
    .product.name a {
        .lib-font-size(15);
    }

    // Remove padding in product owl slider
    .products-grid {
        .product-items {
            .owl-stage-outer {
                margin: 0;

                .product-item {
                    .product-item-info {
                        padding: 0;
                    }
                }
            }
        }
    }

    .cms-index-index {
        .products-grid {

            .product-items,
            *[class*="product-items"][data-margin="0"] {
                .product-item {
                    .product-item-info {
                        padding: 0 4rem;
                        @media only screen and (max-width: (@screen__l - 1)){
                            padding: 0 1.5rem;
                        }
                        .product-item-details {
                            margin-bottom: 3rem;

                            @media only screen and (max-width:(@screen__l - 1)) {
                                margin-bottom: 0;
                                padding-bottom: 20px;
                            }

                            .flex-layout {
                                justify-content: space-between;
                            }
                            .price-box {
                                border: none !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .products-grid {

        .product-items,
        *[class*="product-items"][data-margin="0"] {
            margin-top: 0;
            margin-bottom: 0;
            margin: 0 -1.5rem;
            width: calc(~'100% + 3rem');
           &.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
            &:not(.owl-carousel) {
                border-left: 0;
            }

            .product-item {
                border: none;
                margin: 0 0 30px 0;

                &:last-child {
                    margin: 0;
                }

                .product-item-photo {
                    line-height: 1;
                }

                .product-item-info {
                    padding: 0 1.5rem;

                    @media only screen and (max-width: @screen__xs) {
                        padding: 0 15px;
                    }

                    &:before {
                        display: none;
                    }

                    .count-down.deal-timer {
                        opacity: 1;
                        visibility: visible;
                        @transition: all 0.3s ease;
                        .lib-css(transition, @transition, @_prefix: 1);

                        @media only screen and (max-width: (@screen__xs - 1)) {
                            max-height: 70px;
                            padding-top: 0;
                            padding-left: 0;
                        }
                    }

                    .product-item-details {
                        padding-top: 1rem;

                        &:after,
                        &:before {
                            content: '';
                            display: table;
                            clear: both;
                        }

                        .price-box {
                            position: relative !important;
                            flex-direction: row !important;
                            border-top: 1px solid #e6e6e6;
                            * {
                                font-weight: @heading__font-weight__base;
                                .lib-font-size(16);
                            }

                            .special-price {
                                margin-right: 10px;
                            }

                            .old-price {
                                color: #c2c2c2;

                                .price {
                                    color: #c2c2c2;
                                }
                            }
                        }

                        .product-item-actions {
                            position: absolute;
                            right: 0;
                            left: 0;
                            bottom: calc(~'100% + 3rem');
                            text-align: center;
                            z-index: 1;
                            .flex();
                            flex-wrap: nowrap;
                            align-items: center;
                            justify-content: center;
                        }

                        @media only screen and (min-width: @screen__xs) {

                            .product-item-name,
                            .product-reviews-summary {
                                max-width: 100%;
                                padding-right: 1rem;
                            }

                            .price-box {
                                position: absolute;
                                top: 1rem;
                                right: 0;
                                flex-direction: column;
                            }
                        }
                    }

                    .actions-primary,
                    .actions-secondary,
                    .actions-secondary .action,
                    .field.choice.related {
                        position: static;
                    }

                    .actions-primary,
                    .field.choice.related,
                    .actions-secondary .action {
                        font-size: 0;
                        width: 4rem;
                        height: 4rem;
                        background: @color-white;
                        @box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
                        ;
                        .lib-css(box-shadow, @box-shadow, @_prefix: 1);
                        .border_radius(50%);
                        display: inline-flex;
                        .flex-center();
                        margin: 0 5px;

                        &:before {
                            color: @heading__color__base;
                        }

                        &:hover {
                            background: @theme__color__primary;

                            &:before {
                                color: @color-white;
                            }
                        }
                    }

                    .actions-primary,
                    .field.choice.related {

                        .action.tocart,
                        label {
                            color: @heading__color__base;

                            &:before {
                                content: "\e92e";
                                font-size: 1.6rem;
                            }

                            &:hover {
                                &:before {
                                    color: @color-white;
                                }
                            }
                        }
                    }

                    .actions-secondary {
                        box-shadow: none;
                        transform: none;
                        padding: 0;
                        z-index: 2;
                        display: inline-flex;
                        background: transparent;

                        .action {
                            flex: 1;

                            &.link-quickview {
                                &:before {
                                    content: "\e930";
                                    font-size: 1.4rem;
                                }
                            }

                            &.towishlist {
                                &:before {
                                    content: '\e92f';
                                    font-size: 1.4rem;
                                }

                                span {
                                    display: none;
                                }
                            }

                            &:before {
                                margin: 0;
                                top: 0;
                            }
                        }

                        &:before,
                        &:after {
                            display: none !important;
                        }
                    }
                }

                &:hover {
                    .product-item-info {
                        &:before {
                            display: none;
                        }

                        .product-thumb {
                            .count-down.deal-timer {
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }

                    .actions-primary,
                    .tocompare {
                        @animation: zoomIn 300ms ease-in-out;
                        .lib-css(animation, @animation, @_prefix: 1);
                    }

                    .field.choice.related {
                        @animation: zoomIn 500ms ease-in-out;
                        .lib-css(animation, @animation, @_prefix: 1);
                    }

                    .actions-secondary {
                        .action {
                            &.towishlist {
                                @animation: zoomIn 400ms ease-in-out;
                                .lib-css(animation, @animation, @_prefix: 1);
                            }

                            &.link-quickview {
                                @animation: zoomIn 500ms ease-in-out;
                                .lib-css(animation, @animation, @_prefix: 1);
                            }
                        }
                    }
                }
            }
        }

        &.products-related {

            .product-items,
            *[class*="product-items"][data-margin="0"] {
                .product-item {
                    &:hover {
                        .product-item-info {
                            .product-item-details {
                                .price-box {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //Product list
    .products.wrapper.list {
        .product-items {
            .product-item {
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

// Countdown

& when (@media-common =true) {
    .rokan-price-count-down {
        margin-bottom: 0;

        .rokan-title {
            .module-title {
                text-decoration: underline;
                letter-spacing: 4.2px;
            }
        }

        .products-grid {
            margin: 0 15px;

            @media only screen and (max-width: (@screen__m - 1)) {
                margin: 0 30px;
            }

            .product-items {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                border-top: 1px solid #e6e6e6;
                border-left: 1px solid #e6e6e6;

                li:nth-child(5) {
                    grid-column: ~'2 / 4';
                    grid-row: ~'1 / 3';
                    position: relative;

                    .product-item {
                        position: static;

                        .product-item-info {
                            position: static;

                            .product-label.onsale {
                                width: 60px;
                                height: 60px;
                                border-radius: 100%;
                                .flex();
                                justify-content: center;
                                align-items: center;
                            }

                            .product-item-details {
                                position: absolute;
                                width: 95%;
                                bottom: 0px;

                                @media only screen and (max-width: (@screen__s - 1)) {
                                    position: relative;
                                }
                            }
                        }

                        .product-thumb {
                            position: static;
                            .flex();
                            justify-content: center;

                            .deal-timer {
                                bottom: 15%;

                                @media only screen and (max-width: (@screen__xs - 1)) {
                                    bottom: 0;
                                }

                                .time_circles {
                                    .timer-list {
                                        margin: 0;
                                        flex-wrap: nowrap;

                                        .countdown-section {
                                            background-color: transparent;
                                            box-shadow: none;

                                            &:not(:last-child) {
                                                .countdown-amount::after {
                                                    font-family: @heading__font-family__base;
                                                    font-size: 30px;
                                                    font-weight: 700;
                                                    top: -1px;
                                                    right: -32px;
                                                    padding: 0;
                                                    position: absolute;
                                                    content: ":";

                                                    @media only screen and (max-width: (@screen__s - 1)) {
                                                        right: -15px;
                                                    }
                                                }
                                            }

                                            .countdown-period {
                                                font-size: 1.5rem;
                                                margin-top: 8px;
                                                line-height: 20px;
                                                text-transform: capitalize;

                                                @media only screen and (max-width: (@screen__s - 1)) {
                                                    font-size: 1.2rem;
                                                    margin-top: 0;
                                                }
                                            }

                                            .countdown-amount {
                                                font-size: 36px;
                                                line-height: 40px;
                                                margin: 0 25px;
                                                font-family: @heading__font-family__base;
                                                position: relative;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .count-down {
                        padding: 3px 36px 4px;
                        box-shadow: 0 3px 15px rgba(0, 0, 0, .15);
                        z-index: 9999;
                        background: @color-white;
                        max-width: 450px;
                        margin: 0 auto;

                        .time_circles {
                            >* {
                                font-size: 3.6rem;
                                line-height: 40px;
                                margin: 0 28px;
                            }
                        }
                    }
                }

                li {
                    border-bottom: 1px solid #e6e6e6;
                    border-right: 1px solid #e6e6e6;

                    .product-item-info {
                        .product-label.onsale {
                            z-index: 2;
                        }
                    }
                }

                @media only screen and (max-width: @screen__s) {
                    grid-template-columns: 50% 50%;

                    li:nth-child(5) {
                        grid-column: ~'1 / 3';
                        grid-row: ~'3 / 4';

                        .product-item {
                            .product-thumb {
                                position: relative;

                                .deal-timer {
                                    .time_circles {
                                        .timer-list {
                                            .countdown-section {
                                                padding: 0;

                                                .countdown-amount {
                                                    font-size: 2rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .count-down {
                            padding: 5px 15px;

                            .time_circles {
                                >* {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer style

& when (@media-common =true) {
    .footer-container {
        .footer-top {
            padding-bottom: @margin_gobal_value;

            .footer-static_link {
                text-align: center;

                .menu-footer {
                    .flex();
                    justify-content: center;
                    padding-top: 40px;

                    .item {
                        padding: 0 55px;
                        border-right: 2px solid @color-white;
                        line-height: 1;
                        margin-bottom: 20px;

                        &:last-child {
                            border: none;
                        }

                        a {
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: bold;
                            font-family: @heading__font-family__base;
                        }
                    }
                }

                .social-link {
                    justify-content: center;
                    padding: 5px 0 25px 0;

                    li {
                        width: 50px;
                        height: 50px;
                        background: @footercolor;
                        padding: 0 !important;
                        border-radius: 100%;
                        margin-right: 15px;

                        a {
                            width: 100%;

                            span {
                                color: @footer__background-color  !important;
                                width: 100%;
                                height: 100%;
                                .flex();
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        &:hover {
                            background-color: @theme__color__primary;

                            a {
                                span {
                                    color: @color-white  !important;
                                }
                            }
                        }
                    }
                }

                .copyright {
                    font-size: 15px;
                }
            }
        }
    }
}