// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: 600; 
@heading__line-height__base: 1.2;
@heading__color__base: #0d0d0d;

@headerpadding: 15px; // Make header height bigger than menu height
@sticky_padding: 10px;
// Color 
@theme__color__primary: #4f6aed; 
@link__hover__color: #4f6aed;
// Topbar
@topbarcolor: @color-white;

// Header
@header__background-color: @color-white;
@header-border-color: @border-color__base;

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @heading__color__base;

// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 2px;

// Navigation
@menufont: @heading__font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__semibold;
@navigation-desktop__font-size: 1.4rem;


//Level 0
@navigation-desktop-level0-item__color: @heading__color__base;
@navigation-level0-item__font-family: @navigation-desktop__font-weight;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 13;
@navigation-level0-item__font-weight: @heading__font-weight__base;

// Level 1
@level1_color: @heading__color__base;

/* footer */
@footer-title-color: @theme__color__primary;
@footer-title-font-size: 1.6rem;
@footer-title-font-weight: @font-weight__regular;
@footer-title-transform: uppercase;
@footer__background-color: #141724;


@footercolor: @color-white;
@footer-border-color: #2c2f3a;

@footer-bottom_bg: #0e111d;
@footer_bottom_color: @footercolor;


//Module variables
//Title
@module_margin_bottom: 4rem;
@module_title-size: 4rem;
@module_title-text-transform: capitalize;
@module_title_text-align: center;
@short_des_font_size: 1.6rem;


@margin_gobal_value: 10rem;
// Product
@price_color: #222;
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: @link__hover__color;
@new_label_color: @color-white;

// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;
//Button variable
@button__border-radius: 3px; 
@button__color: @color-white;
@button__padding: 12.5px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;

//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: 3px;

@timeline-loading-item_bg: #ccc;


// Slider heading
@slider_h2_font-size-xxl: 58px;
@slider_h2_font-size-xl: 58px;
@slider_h2_font-size-l: 45px;
@slider_h2_font-size-s: 40px;
@slider_h2_font-size-xs: 32px;
@slider_h2_font-weight: @heading__font-weight__base;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.2;



@slider_p_font-size-xxl: 18px;
@slider_p_font-size-xl: 17px;
@slider_p_font-size-l: 16px;
@slider_p_font-size-s: 15px;
@slider_p_font-size-xs: 14px;
@slider_p_margin: 12px;
@slider_p_line-height: 1.1;

@slider_button_margin-top: 36px;
@slider_button_bg: @color-white;

// Category tab, product tab
//  Variables
//  _____________________________________________

@products-tab-text-align: center;

// Sale new label
@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: #ef4646;
@new_label_color: @color-white;


//Testimonial
@testimo-slider_padding: @margin_gobal_value 0;
@testimo-slider_mobile_padding: 6rem 0;

@testi-padding: 4rem;
@testimonial-text-align: left;

@testimonial-name-color: @theme__color__primary;
@testimonial-name-size: 2rem;
@testimonial-name-font-weight: 600;

@testimonial_des-color: #404040;
@testimonial_des-size: 2rem;
@testimonial_des-fammily: false;
@testimonial_des-font-weight: false;
@testimonial_des-margin: false;

@testimonial-image-margin-bottom: false;
@testimonial-image-width: 7rem;
@testimonial-image-border-radius: 50%;
//  _____________________________________________
.border_radius(@_border-radius_base: 3px){
    @_border-radius: @_border-radius_base;
    &{
        .lib-css(border-radius, @_border-radius);
    }
}

// Header, footer
& when (@media-common = true) {
	.container-setting-language-currency {
		display:flex;
		> div {
			padding:0;
			
		}
		.switcher {
			margin-right: 4rem;
			border:none;
			flex: 1 1 auto;
			&:last-child {
				margin:0;
			}
			.switcher-label {
				display: block;
				position: static;
				overflow: visible;
				margin: 0 0 2rem 0;
				height: auto;
				width: auto;
				font-size: 1.8rem;
				font-weight: 500; 
				font-family: @heading__font-family__base;
				color: @heading__color__base;

			}
			.switcher-options .switcher-trigger.action.toggle {
				padding-bottom: 0.5rem;
				border-bottom: 1px solid @border-color__base; 
			}
			.switcher-options.active .dropdown.switcher-dropdown {
				top: calc(~'100% - 1px'); 
			}
		}
	}	
	.page-header {
		.header-container {
			.topbar {
				.topbar-inner{
					.col-top-link{
						p{
							position: relative;
							top: -1px;
						}
						> *:not(:last-child) > *{
							border-color: #d0dd9b;
						}
					}
					.col-right{
						.hotline{
							background: @theme__color__primary;
							margin: -0.8rem 0;
							padding: 0 1.5rem;
							.flex();
							align-items: center;
							*{
								color: @color-white;
							}
							.icon{
								font-size: 2.6rem;
							}
							.flex-layout{
								align-items: center;
							}
							.content{
								.subtitle{
									display: none;
								}
								h5{
									font-family: @font-family__base;
									font-size: 2rem;
									font-weight: @font-weight__bold;
								}
							}
						}
					}
				}
			}
			.header-middle{
				.for-full-width-menu{
					.lib-css(padding-top, @headerpadding);
					.lib-css(padding-bottom, @headerpadding);
				}
				
			}
			.hotline{
				h5{
					font-family: @font-family__base;
					a{
						color: @header-icons-color;
					}
					font-weight: @font-weight__bold;
				}
			} 
			.header.links{
				li{
					color: @header-icons-color;
					&:not(:hover){
						a{
							color: @header-icons-color;
						}
					}
					&.authorization-link {
						a:before{
							color: @header-icons-color;
						}
					}
				}
			}
			.col-action{
				.minicart-wrapper .action.showcart,
				li{
					.counter.qty{
						.lib-css(color, @button__color);
					}
				}
				.hidden-sticky{
					margin-right: 1rem;
				}
				.minicart-wrapper{
					@media only screen and (min-width: @screen__m){
						margin-left: 3px;
					}
				}
			}
			.top-search-not-dropdown{
				margin-bottom: 2rem;
			}
			.sticky-header{
				@box-shadow: 0px 4px 4px 0px rgba(94, 115, 144, 0.1);
				.lib-css(box-shadow, @box-shadow, @_prefix: 1);
			}
			&.sticky{
				.hidden-sticky{
					display: none !important;
				}
			}
		}
		.setting-view {
			display: inline-flex;
			align-items: center;
			span {
				font-size: 2.6rem;
				@media only screen and (max-width: (@screen__s - 1)){
					font-size: 2.3rem;
				}
				line-height: 4rem;
				position: relative;	
				cursor: pointer;
				color: @heading__color__base;
			}
			&:after {
				content:"";
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				height: 100vh;
				background-color: @header-icons-color;
				z-index: 9999;
				visibility: hidden;
				opacity: 0;
				.transition();
			}
			&.open-setting {
				&:after {
					visibility: visible;
					opacity: 0.5;
				}
			}
		}
		.header-setting {
			position: fixed;
			top: 0;
			right: 0;
			left: auto;
			width: 47rem;
			height: 100vh;
			background-color: @color-white;
			max-width: 100%;
			.transition();
			z-index: 100000;
			display: flex;
			flex-direction: column;
			&:not(.box-setting){
				@transform: translateX(100%);
				.lib-css(transform, @transform, @_prefix: 1);
			}
			.settings-head {
				padding: 3rem 6rem;
				@media only screen and (max-width: (@screen__s - 1)){
					padding: 2rem;
				}
				margin-bottom: 3rem;
				.settings-close {
					display: inline-block;
					vertical-align: top;
					font-size: 2rem;
					line-height: 3rem;
					color: @heading__color__base;
					cursor: pointer;
					&:hover {
						color: @theme__color__primary;
					}
				}
			}
			.settings-inner {
				flex: 1 1 auto;
				height: 1%;
				padding: 0 6rem;
				@media only screen and (max-width: (@screen__s - 1)){
					padding: 0 2rem;
				}
				overflow-x: hidden;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.links {
					margin: 0 0 1.5rem 0;
					align-items: flex-end;
					li {
						font-size: 1.8rem;
						font-weight: 500; 
						font-family: @heading__font-family__base;
						a {
							&:before {
								font-size: 1.8rem;
							}
						}
					} 
				}
				.language-currency {
					margin-bottom: 1.5rem;
				}
				.title-setting {
					display: block;
					margin: 0 0 2rem 0;
					height: auto;
					width: auto;
					font-size: 1.8rem;
					font-weight: 500;
				}
				.contact-info-wrap {
					.contact-info {
						display:flex;
						font-size: 1.8rem;
						color: #555555;
						margin-bottom: 1.5rem;
						.icon {
							color: @theme__color__primary;
							margin-right: 1em;
							padding-top: 2px;
						}
						a {
							color: #555555;
							&:hover {
								color: @theme__color__primary; 
							}
						}
					}
				}
				.social-link {
					list-style-type: none; 
					font-size: 0;
					padding:0;
					li {
						margin-right: 2rem;
						&:last-child {
							margin: 0;
						}
						a {
							.icon {
								&:before {
									font-size: 2.5rem;
									color: #adadad;
								}	
								&:hover	{
									&:before {
										color: @theme__color__primary; 
									}
								}							
							}
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-container{
		.col-menu-on-left{
			flex: 2;
			justify-content: center;
			padding: 0 1.5rem;
		}
	}
	.navigation .level0 > .level-top{
		letter-spacing: 1px;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.page-header {
		.header-container {
			.action-sticky{
				.minicart-wrapper{
					margin-left: 0;
				}
				.action-header{
					> li{
						margin: 0 0.5rem;
						> a,
						.minicart-wrapper > a{
							&:before{
								.lib-font-size(26);
								color: @navigation-desktop-level0-item__color;
							}
						}
					}
				}
				.minicart-wrapper .action.showcart,
				li {
					.counter.qty{
						min-width: 2rem;
					    min-height: 1rem;
					    height: 2rem;
					    line-height: 1;
					}
				}
			}
			&:not(.sticky){
				.header-middle{
					.logo-container{
						order: 2;
						flex: 0 0 100%;
					    margin: 0 -50% 0 -30px;
					    max-width: 100%;
					    justify-content: center;
					    text-align: center;
					}
					.col-menu{
						order: 1;
					}
					.col-action{
						order: 3;
						flex: 1;
    					justify-content: flex-end;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.page-header {
		.header-container {
			.topbar {
				.col-top-link{
					justify-content: center;
					> p{
						padding-bottom: 0;
					}
				}
			}
			&:not(.sticky){
				.header-middle{
					.for-full-width-menu{
						padding-bottom: 1rem;
					}
					.logo-container{
						flex: 0 0 100%;
						margin: 0 0 1rem;
						.logo-site{
							margin: auto;
						}
					}
					.col-menu{
						order: 2;
					}
					.col-action{
    					padding-right: 0;
					}
				}
			}
		}
	}
	.wrapper_sub_category_tabs.onlyparent ul li a .cate-name.cate-count{
		font-size: 2.4rem;
	}
}
// Footer
& when (@media-common = true) {
	.page-footer {
		margin-top: 9rem;
		.footer-top {
			.footer.content {
				padding-top: 6rem;
				padding-bottom: 4rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
			}
		}
		.footer-static_link {
			.footer-links {
				.footer-title,
				.rokan-title{
					margin-top: 0;
					letter-spacing: 3px;
				}
				p {
					> span {
						font-size: 2.4rem;
						display: block;
					}
				}
				&.not-collapse-mobile {
					text-align: center;
					img{
						margin-bottom: 2rem;
					}
					ul{
						margin-top: 0;
						margin-bottom: 3rem;
						p{
							margin-bottom: 0;
							
						}
						> li{
							&:first-child{
								p{
									font-weight: @font-weight__semibold;
								}
							}
							&:not(:first-child){
								p{
									line-height: 2;
								}
							}
						}
					}
					> p{
						margin-bottom: 0;
						img{
							margin-bottom: 0;
						}
					}
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			.footer.content {
				.copyright {
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				.social-link{
					justify-content: flex-end;
				}
			}
		}
		
	}
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 37.59%; 
					max-width: 37.59%; 
					padding: 0 5rem;
					position:relative;	
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: -2rem;
						bottom: 0;
						border-left: 1px solid @footer-border-color;
					}
					&:after {
						content: "";
						position: absolute;
						right: 0;
						top: -2rem;
						bottom: 0;
						border-right: 1px solid @footer-border-color;

					}
					
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				flex: 1;
				&:last-child{
					flex: 2;
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				flex: 1;
				order: 2;
				&:last-child{
					flex: 1;
				}
				&.not-collapse-mobile{
					order: 1;
					margin-bottom: 3rem;
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				&:not(..not-collapse-mobile){
					margin-bottom: 0 !important;
				}
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.page-footer{		
		.footer-bottom .footer.content {
			text-align: center;
			.social-link{
				justify-content: center !important;
				margin-top: 2rem;
			}
		}
	}	
}
// Change gobal style
& when (@media-common = true) {
	.product-item {
		.product-label{
			font-family: @font-family__base;
			font-weight: @font-weight__bold;
			border-radius: 0;
    		font-size: 13px;
    		padding: 5px 14px;
		}
	}
	.block-recent-posts{
		margin-bottom: 6rem;
	}
}

/* Hover action */
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
               display: none;
            }
			&:not(.owl-carousel){
				border-left: 0;
			}
			.product-item{
				margin: 0 0 55px 0;
				border: 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height: 1;
				}
				.product-item-info {
					border: 1px solid @border-color__base;
					&:before {
						display:none; 
					}
					.product-item-details {
						padding: 0;
						position: static;
						text-align: center;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.price-box{
							*{
								.lib-font-size(15);
							}	
						}
						.product-reviews-summary,
						.price-box{
							justify-content: center;
						}
						.product-item-actions {
							position: absolute;
							right: 2rem;
							top: 1.5rem;
							bottom: auto;
							text-align: center;
							z-index: 1;
						}
					}
					.actions-primary,
					.actions-secondary,
					.actions-secondary .action,
					.field.choice.related{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
					    width: 4rem;
					    height: 4rem;
					    background: @color-white;
						@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
						.lib-css(box-shadow, @box-shadow, @_prefix: 1);
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
						}
						&:hover {
							background: @theme__color__primary;
							&:before {
								color: @color-white; 
							}
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label {
							color: @heading__color__base;
							letter-spacing: 0;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									.icon_custom_font("\e930");
									font-size: 1.4rem;
								}
							}
							&.towishlist{
								&:before{
									.icon_custom_font('\e92f');
									font-size: 1.4rem;
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
					}		
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview,
							&.tocompare{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.tocompare{
								display: none;
							}
						}
					}
				}
			}	
		}
	}
	.products-related{
		*[class*="product-items"][data-margin="0"] {
			.product-item .product-item-info .product-item-details .product-item-actions{
				.flex();
				flex-direction: column-reverse;
			}
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
// Home page
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				h2{
					&.first{
						padding-left: 0 !important;
					}
				}
				p{
					&:nth-of-type(1){
						margin-top: 2.6rem;
					}
				}
			}
		}
	}
	.banner {
		.content{
			.col-content{
				.flex-layout{
					flex-wrap: nowrap;
					.images{
						flex: 0 0 20%;
						max-width: 90px;
						margin-right: 3rem;
					}
					.col-text{
						h4{
							margin-top: 0;
							margin-bottom: 1rem;
							font-size: 2.2rem;
						}
						p{
							font-size: 1.6rem;
						}
					}
				}
				&:not(:last-child){
					margin-bottom: 5.2rem;
				}
			}
		}
	}
	.face-mask{
		background-color: #f1f2f5;
		padding: @margin_gobal_value 0;
		.rokan-title{
			margin-bottom: 6.8rem;
		}
	}
	body .testimo-slider{
		.testimonial-content{
			.rokan-title{
				text-align: left;
				*{
					color: @color-white;
				}
			}
			.pt-testimonial{
				margin-bottom: 4rem;
			}
			.test-slider{
				margin: 0 1px;
				.content-tes{
					border-radius: 5px;
				}
				.des{
					font-style: italic;
					position: relative;
					line-height: 1.6;
					font-style: italic;
				    position: relative;
				    line-height: 1.6;
				    display: -webkit-box;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
				    overflow: hidden;
				    text-overflow: ellipsis;
					i{
						color: fade(@theme__color__primary, 20%);
						position: absolute;
						left: 0;
						top: -12px;
						.lib-font-size(40);
					}
				}
				.tes-img{
					margin-right: 2rem;
					.image{
						
						img{
							.lib-css(max-width, @testimonial-image-width);
							.lib-css(border-radius, @testimonial-image-border-radius);
							.lib-css(margin-bottom, @testimonial-image-margin-bottom);
							display: block;
						}
					}
				}
				.name{
					.name{
						.lib-css(font-size, @testimonial-name-size);
						.lib-css(letter-spacing, @testimonial-name-letter-spacing);
						.lib-css(text-transform, @testimonial-name-text-transform);
						.lib-css(font-weight, @testimonial-name-font-weight);
					}
					.job{
						color: @color-white;
						font-size: 1.6rem;
						display: block;
					}
				}
			}
		}
		.owl-carousel .owl-dots:not(.disabled){
			margin-top: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			button{
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				background: @color-white;
				&.active{
					background: @theme__color__primary;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.testimo-slider{
		.testimonial-content{
			max-width: 57rem;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.banner {
		.content{
			.col-content{
				.flex-layout{
					.face-mask-img{
						margin-bottom: 5rem;
					}
				}
			}
		}
	}
}
& when (@media-common = true) {
	.block-recent-posts {
		.post-list-wrapper {
			.blog-post-thumb{
				border-radius: 5px;
			}
			.blog-post-info{
				text-align: center;
				padding-top: 2rem;
				background: @color-white;
				margin: -4rem 4rem 0;
				border-radius: 5px;
				border: 0;
				.post-title{
					line-height: 1.5;
				}
				.flex-layout{
					justify-content: center;
				}
				.post-category-name{
					position: static;
					transform: none;
					text-transform: uppercase;
					font-size: 1.2rem;
					font-weight: @font-weight__semibold;
					letter-spacing: 1px;
					margin-bottom: 1.2rem;
				}
				.time-conment{
					font-style: italic;
				}
			}
		}
	}
}