@font-face {
    font-family: 'Caros';
    src: url('../fonts/CarosBold.eot');
    src: url('../fonts/CarosBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CarosBold.woff') format('woff'),
        url('../fonts/CarosBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Caros';
    src: url('../fonts/CarosMedium.eot');
    src: url('../fonts/CarosMedium.eot') format('embedded-opentype'),
         url('../fonts/CarosMedium.woff2') format('woff2'),
         url('../fonts/CarosMedium.woff') format('woff'),
         url('../fonts/CarosMedium.ttf') format('truetype'),
         url('../fonts/CarosMedium.svg#CarosMedium') format('svg');
	font-weight: 500;	 
}
