// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@text__color: #888;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: 600; 

@otherfont: 'Signika';
// Color 
@theme__color__primary: #f65f73;
// Topbar
@topbarbg: #ffce17;
@topbarcolor: @color-white;

// Header
@header__background-color: #ffce17;
@header-border-color: fade(@color-white, 20%);

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @color-white;
@headerpadding: 0;

// Top search
@_search-border-color: #ffd845;
@_search-border-width: 0;

// Navigation
@menufont: @font-family__base;
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.4rem;
@navigation-desktop-level0-item__active__color: @heading__color__base;
@navigation-desktop-level0-item__hover__color: @heading__color__base;
//Level 0
@navigation-desktop-level0-item__color: @color-white;
@navigation-level0-item__font-family: @font-family__base;
@navigation-level0-item__text-transform: uppercase;
@navigation-level0-item__font-size: 15;
@navigation-level0-item__font-weight: @font-weight__semibold;
@navigation-level0-item__hover__color: @heading__color__base;
@navigation-level0-item__active__color: @heading__color__base;

// Level 1
@level1_color: @heading__color__base;

/* footer */
@footer-title-color: @heading__color__base;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @font-weight__bold;
@footer-title-transform: uppercase;
@footer__background-color: false;
@footercolor: #666666;
@footer-border-color: #dadbdd;
@footer_bottom_color: @footercolor;
@social_link_bg: false;



//Module variables
//Title
@module_margin_bottom: 2.2rem;
@module_title-size: 3.6rem;
@module_title-text-transform: uppercase;
@module_title_text-align: center;

@margin_gobal_value: 9rem;
// Product
@price_color: #222;
@product-name-link__color: #222;
// Sale new label
@sale_label_bg: #f5aa23;
@sale_label_color: @color-white;

@new_label_bg: #f5aa23;
@new_label_color: @color-white;

// Button
@second_button_bg: @button__hover__background;
@second_button_color: @color-white;


@checkout-button-bg: @second_button_bg;
@checkout-button-color:  @color-white;
//Button variable
@button__border-radius: 30px; 
@button__color: @color-white;
@button__padding: 12.5px 40px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__hover__color: @color-white;
@button__hover__background: #fbae05;
//  Input in form 
//  ---------------------------------------------
@form-element-input__border-radius: 30px;
@form-element-input__height: 47px;
// Module Search


@timeline-loading-item_bg: #ccc;
// Slider heading
@slider_h2_font-size-xxl: 72px;
@slider_h2_font-size-xl: 62px;
@slider_h2_font-size-l: 52px;
@slider_h2_font-size-s: 42px;
@slider_h2_font-size-xs: 32px;
@slider_h2_letter-spacing: false;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.2;
@slider_h2_font-weight: @font-weight__bold;

@slider_h5_margin: 10px;


@slider_p_font-size-xxl: 18px;
@slider_p_font-size-xl: 17px;
@slider_p_font-size-l: 16px;
@slider_p_font-size-s: 15px;
@slider_p_font-size-xs: 14px;
@slider_p_margin: 0;

@slider_button_margin-top: 45px;


// Module Category thumb
//  Variables
//  _____________________________________________
@category-name-size: 24px;
@category-name-color: @heading__color__base;
@category-name-text-transform: uppercase;

@category-name-font-weight: @font-weight__bold;
@line-height_category_name: 1;

@category-count-font-style: false;
// Products count
@category-count-font-style: italic;
@category-count-display: block;
// Vertical thumb image
@img_category_thumb-radius: 50%;
@category_name-padding: 2rem;
@category_name_position: absolute;

@background-category-thumb: false;
@padding-category-thumb: false;
@category-bg-padding: false;

// Module Category tab
@category-tab-text-align: center;

// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: 9rem 0;

@banner_deal_number-font-family: @font-family__base;
@banner_deal_number-font-weight: @font-weight__bold;

@deal-title-margin: 2.3rem;

@title_supper_deal_margin: 0 0 7px;

@banner_deal_number-size: 3rem;
@banner_deal_number-size-mobile: 2.6rem;
@banner_deal_number-bg: @color-white;
@banner_deal_number-border-radius: 50%;

@sub_title_supper_deal-font-size: 3rem;
@sub_title_supper_deal-color: #fbae05;
@sub-title_supper_deal_font-weight: @font-weight__regular;
@sub-title_supper_deal_letter-spacing: false;
@sub-title_supper_deal_margin: 0 0 6px;
// Title
@title_supper_deal_size: 4.8rem;
@title_supper_deal_mobile_size: 3.6rem;
@sub-title_supper_deal_margin: 0;

@des_supper_deal_size: 3rem;
@des_supper_deal_font-weight: @font-weight__semibold;
@des_supper_deal_margin: -6px 0 0;
//  _____________________________________________

.icon_header(){
 .lib-font-size(20);
  line-height: 3rem;
  position: relative; 
};
& when (@media-common = true) {
    .modal-custom,
    .modal-popup,
    .modal-slide {
        .action-close {
            .lib-button-icon(
                @icon-remove,
                @_icon-font-color: @heading__color__base,
            );
        }
    }
}
// Header, footer
& when (@media-common = true) {
	.container-setting-language-currency{
		.switcher{
			border: 0;
			padding: 0 8px;
			*{
				&:not(:hover){
					color: @topbarcolor;
				}
			}
			.switcher-options {
				.switcher-trigger.action.toggle *{
					text-transform: uppercase;
				}
			}
		}
	}	
	.page-header{
		.header-container{
			.header.links{
				text-transform: uppercase;
				padding-right: 25px;
				li{
					font-weight: @font-weight__semibold;
					color: @header-icons-color;
					&.authorization-link{
						a{
							&:before{
								display: none;
							}
						}
						&:after{
							display: none;
						}
					}
					&:last-child{
						padding-left: 0;
						&:before{
							content: '/';
						}
					}
				}
			}
			.col-action{
				.action-header{
					li{
						&.wishlist{
							.counter.qty{
								display: none;
							}
							a{
								padding-right: 0;
								&:before{
									content: '\e950';
								}
							}
						}
						.minicart-wrapper {
							margin-left: 0;
							> a{
								&:before{
									content: '\e94f';
								}
							}
							.action.showcart{
								.counter.qty {
									min-width: 1.8rem;
									min-height: 1.8rem;
									font-size: 12px;
									font-weight: 600;
								}
							}
						}
						
					}
				}
			}
			.header-top{
				.block.block-search {
					.dropdown{
						.top-search{
							padding-left: 2rem;
							font-size: 1.8rem;
							color: @header-icons-color;
						}
						.text{
							display: none;
						}
					}
				}
				.header-inner{
					padding: 1.8rem 0;
					.col-right{
						justify-content: flex-end;
					}
				}
			}
			&:not(.sticky){
				.for-full-width-menu{
					justify-content: center;
				}
			}
		}
	}
	// Footer
	.page-footer {
		.rokan-title{
			.module-title{
				&:after{
					display: none !important;
				}
			}
		}
		.footer-top{
			> .footer.content{
			 	padding-top: 8.5rem;
			}
			.footer-static_link{
				.footer-links{
					img{
						margin-bottom: 0.5rem;
					}
					&:not(.contact){
						ul{
							li{
								margin-bottom: 1.2rem;
							}
						}
					}
				}
				.footer-title{
					margin-top: 0;
				}
			}
			.contact{
				ul{
					li{
						.flex();
						strong{
							font-weight: @font-weight__semibold;
							text-transform: uppercase;
							color: #535353;
							font-size: 14px;
							padding-right: 1.5rem;
							min-width: 8.1rem;
						}
					}
				}
			}
		}
		.footer.content{
			.square-social {
				p{
					margin-bottom: 0;
				}
				.social-link {
					margin-top: 2rem;
					a{
						border-radius: 50%;
					}
					a[href*="facebook"]{
						background: #365493;
					}
					a[href*="twitter"]{
						background: rgb(26, 145, 218);
					}
					a[href*="instagram"]{
						background: #0095f6;
					}
					a[href*="dribbble"]{
						background: #ea4c89;
					}
					li{
						&:not(:last-child){
							padding-right: 0.8rem;
						}
						&:not(:first-child){
							padding-left: 0.8rem;
						}
					}
				}
			}
		}
		.footer-bottom{
			margin-top: 6rem;
		}
		.block.newsletter {
			float: none !important;
			margin-bottom: 0;
			margin-top: 5rem;
			.input-focus{
				width: 65%;
			}
			input{
				.lib-css(border-radius, @form-element-input__border-radius 0 0 @form-element-input__border-radius);
				padding-left: 1.5rem;
				border-width: 2px;
				border-right: 0;
			}
			.field .control{
				justify-content: flex-start;
			}
			.action.subscribe{
				background: @color-white;
				border: 2px solid @border-color__base;
				    padding: 11px 21px 11px 17px;
				&:before{
					.icon_custom_font('\e942');
					.lib-css(color, @footer-title-color);
					vertical-align: middle;
				}
				span{
					font-size: 0;
				}
			}	
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
// Footer
	.page-footer {
		.footer-top{
			.footer-static_link{
				.footer-links{
					&.not-collapse-mobile{
						flex: 0 0 23%;
						max-width: 23%;
						&.contact{
							flex: 0 0 28%;
   							max-width: 28%;
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-header{
		.header-container{
			.header-top{
				.header-inner{
					border-bottom: 1px solid @header-border-color;
					.col-left,
					.col-right{
						flex: 1;
					}
				}
			}
		}
	}
	.cms-index-index{
		.page-header{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 22;
			background: transparent;
			.topbar,
			.navigation{
				background: transparent;
			}

		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.page-header{
		.header-container{
			.header-top{
				.header-inner{
					padding-top: 1rem !important;
					.col-top-link{
						flex: 0 0 100%;
						justify-content: center;
						padding-bottom: 1rem;
						margin-bottom: 1.8rem;
						border-bottom: 1px solid @header-border-color;
					}
				}
			}
			&:not(.sticky){
				.logo-container{
					flex: 0 0 100%;
				    margin-right: -50%;
				    margin-left: -2rem;
				    max-width: 100%;
				    text-align: center;
				    margin-bottom: 0;
				    .logo-site{
				    	margin: auto;
				    }
				    img{
				    	margin: auto;
				    }
				}
				.header-content{
					position: absolute;
					bottom: 1rem;
					left: 0;
				}
			}
			.block.block-search .dropdown .form.minisearch{
				right: 0;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.page-header{
		.header-container{
			.header-inner{
				> .flex-layout{
					justify-content: flex-end;
				}
			}
			&:not(.sticky){
				.logo-container{
					flex: 0 0 100%;
				    margin-right: 0;
				    margin-bottom: 1rem;
				}
			}
		}
	}
	.page-footer {
		.footer-bottom{	
			margin-top: 0;
		}
	}
	.page-header .header-container .header-top .header-inner .col-top-link{
		    flex-direction: column;
		.block.block-search{
			flex: 1;
		    width: 100%;
		    text-align: center;
		     .form.minisearch{
		     	left: 0;
		     }
		    .dropdown .top-search{
		    	padding-left: 0;
		    }
		}
	}
}
// Change gobal style
& when (@media-common = true) {
	.product-item {
		background: transparent;
		.product-label{
			font-family: @font-family__base;
			font-weight: @font-weight__bold;
			border-radius: 15px;
    		font-size: 13px;
    		padding: 5px 14px;
		}
	}
	body{
		#newsletter_pop_up {
			.newletter_popup_close{
				border-radius: 50%;
				border: 2px solid @color-white;
			    border-radius: 50%;
			    top: -30px;
			    right: -30px;
			    box-sizing: content-box;
			}
			.col-newsletter-popup .content-popup .control input{
				padding-left: 3rem;
			}
		}
	}
}

/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			.owl-stage-outer{
				margin: 0;
				.product-item{
					padding: 0;
				}
			}
		}
	}
	.products-grid{
		*[class*="product-items"][data-margin="0"]{
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
		}
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
				margin: 0 -1.5rem !important;
			}
			.product-item{
				border: none;
				margin: 0 0 58px 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height:1;
				}
				.product-item-info {
					padding: 0;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding-top: 1rem;
						text-align: center;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.product-reviews-summary{
							display: none;
						}
						.price-box{
							justify-content: center;
							*{
								.lib-font-size(15);
							}
							.old-price{
								color: #888888;
								.price{
									color: #888888;
								}
							}
						}
						.product-item-actions {
							position: absolute;
							right: 0;
							left: 0;
							bottom: calc(~'100% + 3rem');
							text-align: center;
							z-index: 1;
							.flex();
							align-items: center;
							justify-content: center;
						}
					}
					.actions-primary,
					.field.choice.related{
						.action.tocart,
						label  {
							color: @heading__color__base;
							&:before {
								content: "\e92e";
								font-size: 1.6rem;
							}
							&:hover {
								&:before {
									color: @color-white; 
								} 
							}
						}
					}					
				}
				.actions-primary,
				.actions-secondary{
					position: static;
				}
				.actions-primary,
				.actions-secondary .action{
					font-size: 0;
				    width: 4rem;
				    height: 4rem;
				    background: @color-white;
					@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.border_radius(50%);
					display: inline-flex;
					.flex-center();
					margin: 0 5px;
					&:before{
						color: @heading__color__base;
					}
					&:hover {
						background: @theme__color__primary;
						&:before {
							color: @color-white; 
						}
					}
				}
				.actions-secondary{
					box-shadow: none;
					transform: none;
					padding: 0;
					z-index: 2;
					display: inline-flex;
					background: transparent;
					.action{
						flex: 1;
						&.link-quickview{	
							&:before{
								.icon-font("\f06e");
								font-size: 1.4rem;
							}
						}
						&.towishlist{
							&:before{
								.icon-font("\f004");
								font-size: 1.4rem;
							}
							span{
								display:none;
							}
						}
						&:before{
							margin: 0;
							top: 0;
						}
					}
					&:before,
					&:after{
						display: none !important;
					}
				}
				&:hover{		
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary,
					.product-item .actions-secondary .action.tocompare{
						@animation: zoomIn 300ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.field.choice.related{
						@animation: zoomIn 500ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						.action{
							&.towishlist {
								@animation: zoomIn 400ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&.link-quickview{
								@animation: zoomIn 500ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
					
					
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
// Home page
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider{
		margin: 0;
		h2{
			.lib-css(font-family, @otherfont);
		}
	}
	div[class*="wrapper_sub_category_tabs"][style*="background"]{
		background-attachment: inherit;
		padding: 0 0 2rem;
		position: relative;
		z-index: 3;
		background-position: bottom;
		ul{
			li{
				padding-bottom: 12px;
				> a{
					@box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.1);
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
				}
			}
		}
	}
	
	.cms-index-index{
		.product-title{
			position: relative;
			.sub-title{
				.lib-css(text-align, @module_title_text-align);
				p{
					margin-bottom: 0;
					color: @heading__color__base;
					.lib-font-size(18);
					margin-bottom: 1.7rem;
				}
				img{
					position: absolute;
					left: 0;
					right: 0;
					top: -1.5rem;
					margin: auto;
					z-index: -1;
				}
			}
		}
		.rokan-title {
			.module-title{
				&:after{
					content: url(../images/bg-line-title.png);
					display: block;
					line-height: 1;
					position: relative;
					top: -5px;
				}
				margin-bottom: 0.9rem;
			}
			.short_description{
				color: #666;
			}
		}
		.page-footer{
			margin-top: 0;
		}
	}
	.wrapper_sub_category_tabs{
		&.onlyparent {
			.list-category-item {
				.category-item {
					a.vertical {
						perspective: 1px;
						figure + .thumb-infor{
							&:before{
								position: absolute;
							    content: '';
							    top: 0;
							    bottom: 0;
							    left: 0;
							    right: 0;
							    background-image: url(../images/background-thumb.png);
							    background-position: center center;
							    background-size: 100% 100%;
							    background-repeat: no-repeat;
								z-index: 1;
								opacity: 0;
								.transition();
								@transform: scale(0.8);
								.lib-css(transform, @transform, @_prefix: 1);
							}
							.cate-name.cate-count{
								position: relative;
								z-index: 2;
								opacity: 0;
								.transition();
								.count{
									margin-top: 1rem;
								}
							}
						}
						&:hover{
							figure + .thumb-infor{
								&:before{
									opacity: 1;
									@transform: scale(1);
									.lib-css(transform, @transform, @_prefix: 1);
								}
								.cate-name.cate-count{
									opacity: 1;
									color: @category-name-color;
								}
							}	
						}
					}

				}
			}
		}
	}
	.super-deal-banner-content {
		.super-deal-countdown {
			.time_circles {
				.text{
					text-transform: uppercase;
					color: #666;
				}
			}
		}
	}
	.mangoes-party{
		padding: 7.5rem 0 6rem;
		.section{
			margin-bottom: 0;
			.products{
				margin-top: 0;
			}
		}
		.banner{
			.content{
				h3{
					margin-bottom: 0.7rem;
				}
				img{
					padding-left: 15%;
					display: block;
					margin-bottom: 1.4rem;
				}
				h2{
					margin-bottom: 5px;
				}
				p{
					color: #555;
					margin-bottom: 3rem;
				}
			}
		}
		.wrapper_category_product_tabs .ui-tabs-nav{
			display: none;
		}
	}
	.other-font{
		.col-banner{
			&:hover{
				.banner-img{
					img{
						transform: none;
					}
				}
				.content{
					*{
						@animation: 0.6s ease-out 0s 1 normal forwards running zoomInBit;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					h2{
						&:not(:fisrt-child){
							animation-delay: 0.5s;
						}
						p{
							animation-delay: 1s;
							margin: 3rem 0;
						}
						a{
							animation-delay: 1.5s;
						}
					}
				}
			}
			&.center{
				.content{
					padding-left: 1.5rem;
					h2{
						.lib-css(font-family, @otherfont);
						text-transform: uppercase;
						font-weight: @font-weight__bold;
						line-height: 1.2;
					}
					p{
						color: #555;
						line-height: 1.9;
						margin: 1.4rem 0 3rem;
					}
					.btn{
						padding: 14px 30px;
						&.white{
							background: @color-white;
							color: @heading__color__base;
							border: 2px solid @border-color__base;
							margin-left: 1.5rem;
						}
					}		
				}			
			}
		}
	}
	.manufacture{
		 .col-banner{
			&.center{
				.content{
					h4{
						text-transform: uppercase;
						margin-top: 0.8rem;
						margin-bottom: 1rem;
						.lib-font-size(20);
					}
				}
			}
		}
	}
	.banner{
		.col-banner{
			width: 100%;
		}
	}
	.shipping-support{
		padding: 0 0 1rem;
		.flex-layout{
			flex-wrap: nowrap;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.wrapper-the-blue-sky-slider .container-the-blue-sky-slider .the-blue-sky-banner-text{
		left: 15%;
	}
	.wrapper_sub_category_tabs{
		margin-top: -23rem;
		.category-thumb-section{
			width: 95%;
			max-width: 1800px;
			margin: auto;
		}
	}
	.super-deal-banner-content {
		padding-left: 13.5%;
	}
	.cms-index-index{
		.rokan-title {
			.module-title{
				&:after{
					content: url(../images/bg-line-title.png);
					display: block;
					line-height: 1;
					position: relative;
					top: -5px;
				}
				margin-bottom: 0.9rem;
			}
			.short_description{
				max-width: 546px;
				margin: auto;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.wrapper_sub_category_tabs{
		margin-top: -15%;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.wrapper_category_product_tabs,
	.wrapper_product_tabs {
		.ui-tabs-nav {
			li {
				a{
					font-size: 16px;
				}
			}
		}
	}
	.page-footer {
		.footer-container{
			.footer-bottom{
				margin-top: 3rem;
			}
		}
	}
}
// Blog page
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block-recent-posts{
		.post-list-wrapper {
			.blog-list-post{
				.owl-item{
					overflow: hidden;
					padding-bottom: 1px;
				}
				.item-post-full{
					.flex();
					> div{
						flex: 0 0 50%;
					}
					.blog-post-thumb{
						max-width: 330px;
					}
					.blog-post-info{
						.flex();
						justify-content: center;
						flex-direction: column;
						border-top: 1px solid @border-color__base;
						border-left: 0;
						padding-left: 4rem;
						.desc{
							margin-top: 3.5rem;
							-webkit-line-clamp: 4;
						    -webkit-box-orient: vertical;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    display: -webkit-box;
						}
					}
				}
			}
		}
	}
}
& when (@media-common = true) {
	.block-recent-posts{
		.post-list-wrapper {
			.blog-list-post{
				.item-post-full{
					.blog-post-info{
						.post-category-name{
							padding-right: 1.2rem;
							margin-bottom: 0;
							&:before{
								content: '-';
								padding: 0 6px;
							}
						}
						.flex-layout{
							font-style: italic;
							align-items: center;
							flex-direction: row-reverse;
    						justify-content: flex-end;
						}
					}
				}
			}
		}
	}
	.post-category-name{
		label{
			display: inline-block;
			.lib-css(color, @greycolor);
		}
		.lib-font-size(13);
		font-style: italic;
		background: transparent;
		padding: 0;
		a{
			color: @heading__color__base;
		}
	}
	.post-list-wrapper {
		.blog-post-info {
			padding: 2.2rem 3rem 3rem;
			.post-title{
				font-size: 2.4rem;
				margin-bottom: 5px;
				font-family: @font-family__base;
				font-weight: @font-weight__bold;
				line-height: 1.3;
			}
			.post-category-name{
				transform: none;
				position: static;
			}
			.blog-list-post {
				.item-post-full {
					.post-title {
						a:not(:hover){
							color: #191919;
						}
					}
				}
			}
		}
		.post-info-bottom{
			a.btn{
				.lib-button-reset();
				background: transparent !important;
				text-transform: capitalize;
				border-bottom: 2px solid @theme__color__primary;
				border-radius: 0;
				&:not(:hover){
					color: @heading__color__base !important;
				}
				&:hover{
					color: @theme__color__primary;
					border-bottom: 2px solid @theme__color__primary;
				}
			}
		}
	}
	// Post view
	.blog-post-view {
		.post-holder{
			text-align: center;
			> *{
				&:not(.post-bottom){
					max-width: 1170px;
					margin-left: auto;
					margin-right: auto;
				}
				.content-max{
					max-width: 932px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		.blog-post-thumb{
			a{
				display: block;
				font-size: 0;
			}
		}
		.post-bottom{
			text-align: left;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block.block-search .dropdown .form.minisearch .search-form{
		min-width: 350px !important;
	}
}