<?php
    $imageUrl = '';
    if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getFooterLogo()){
    $imageUrl = $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getFooterLogo();
    }
    ?>
<div id="back-top" class=""><i class="fa fa-long-arrow-alt-up"></i></div>
<div class="footer-container">
    <div class="footer-top">
		 <?php echo $this->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Newsletter::subscribe.phtml')->toHtml(); ?>
        <div class="footer content">
            <div class="container-inner">
                <div class="footer-static_link flex-layout space-between">
                    <div class="footer-links">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_company_infor')->toHtml(); ?>
                    </div>
                    <div class="footer-links">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_quicklink')->toHtml(); ?>
                    </div>
                    <div class="footer-links">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_category')->toHtml(); ?>
                    </div>
                    <div class="footer-links">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_support')->toHtml(); ?>
                    </div>
                    <div class="footer-links not-collapse-mobile">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_qrcode_medicine')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer content">
            <div class="container-inner">
				<div class="hozital-menu">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-links-sport')->toHtml(); ?>
				</div>
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_payment_light')->toHtml(); ?>
                <?php echo $this->getChildHtml("copyright"); ?>
			
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom d-block d-md-none">
    <div class="link-on-bottom">
        <ul class="mobile-bottom-link flex-layout space-between list-unstyled">
            <li><a href="<?php echo $this->getUrl('');?>"><span class="icon main-icon-house"></span><?= $block->escapeHtml(__('Home')) ?></a></li>
            <li><a href="#" class="toggle-nav-footer"><span class="icon main-icon-menu-1"></span><?= $block->escapeHtml(__('Menu')) ?></a></li>
            <li><a href="<?php echo $this->getUrl('customer/account/');?>"><span class="icon main-icon-user"></span><?= $block->escapeHtml(__('Account')) ?></a></li>
            <li><a href="<?php echo $this->getUrl('checkout/cart/');?>"><span class="main-icon-cart"></span><?= $block->escapeHtml(__('Cart')) ?></a></li>
        </ul>
    </div>
</div>