<div class="header-container">
	<div class="topbar">
		<div class="header panel">
			<div class="topbar-inner flex-layout space-between center_vertical">
				<div class="col-left col-top-link flex-layout">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar-menu')->toHtml(); ?>
					<?php echo $this->getChildHtml("top.links"); ?>
				</div>
				<div class="col-right col-top-link flex-layout">
					<div class="language-currency">
						<div class="container-setting-language-currency">
							<?php echo $this->getChildHtml("store_language"); ?>  
							<?php echo $this->getChildHtml("currency"); ?>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header panel header-middle">
		<div class="sticky-header center-element">
			<div class="flex-layout for-full-width-menu space-between center_vertical no-wrap">
				<div class="logo-container">
					<div class="logo-site">
						<?php echo $this->getChildHtml('logo'); ?>
					</div>
				</div>
				<div class="primary-menu-container col-left">
					<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
				</div>
				<div class="col-action col-right">
					<div class="flex-layout">
						<ul class="flex-layout action-header center_vertical no-wrap-desktop">
							<li><?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?></li>
							<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
							<li class="minicart-li-content-show-hide">
								<?php echo $this->getChildHtml('minicart'); ?>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>