<?php
/**
 * Copyright © 2015 RokanThemes.com. All rights reserved.

 * @author RokanThemes Team <contact@rokanthemes.com>
 */
?>
<?php
/**
 * Blog sidebar archive template
 *
 * @var $block \Rokanthemes\Blog\Block\Sidebar\Archive
 */
?>

<?php
	$_months = $block->getMonths();
?>
<?php if (count($_months)) { ?>
<div class="sidebar-widget sidebar-post widget">
	<div class="widget-post-cat filter-options-item" data-bind="scope: 'blog-archive'"> 
		<div class="filter-options-title"> 
			<?php echo __('Archive') ?>
		</div>
		<div class="filter-options-content">
			<ul>
				<?php foreach ($_months as $time) { ?>
					<?php
						$title = $block->getMonth($time).' '.$block->getYear($time);
						$title = $block->escapeHtml($title, null, true);
					?>
					<li class="item">
						<a title="<?php echo __('Archive %s', $title) ?>" class="archive-item-link" href="<?php echo $block->getTimeUrl($time) ?>">
							<?php echo $title; ?>
						</a>
					</li>

				<?php } ?>
			</ul>
		</div>
	</div>
</div>
<?php } ?>