<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$title = $this->helper('Rokanthemes\Blog\Helper\Data')->getConfigData('mfblog/index_page/title');
$banner = $this->helper('Rokanthemes\Blog\Helper\Data')->getConfigData('mfblog/index_page/blog_bg_image');
$back_img = '';
if($banner != ''){
    $imageUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'rokanthemes/banner_blog_background/'.$banner;
	$back_img = ' style="background-image: url('.$imageUrl.');"';
}
?>
<div class="top-banner-blog-container"<?= $back_img ?>>
	<h2 class="top-banner-blog-title"> 
		<?= $title ?>
	</h2>
</div>