<?php
/**
 * Copyright © 2015 RokanThemes.com. All rights reserved.

 * @author RokanThemes Team <contact@rokanthemes.com>
 */
?>
<?php
/**
 * Blog sidebar categories template
 *
 * @var $block \Rokanthemes\Blog\Block\Sidebar\Categories
 */
?>

<?php $items = $this->getGroupedChilds(); ?>

<?php if (count($items)) { ?>
<div class="sidebar-widget sidebar-post">
	<div class="widget-post-cat filter-options-item" data-bind="scope: 'categories'"> 
		<div class="filter-options-title"> 
			<?php echo __('Categories') ?>
		</div>
		<div class="filter-options-content">
			<ul class="accordion"  id="accordion-2">
			<?php
				$level = 0;
				$first = true;
				foreach($items as $item) {
					$newLevel = $item->getLevel();

					if ($level == $newLevel && !$first) {
						echo '</li>';
					}

					if ($level < $newLevel) {
						echo '<ul>';
					}

					if ($level > $newLevel) {
						for ($i = $level; $i > $newLevel; $i--){
							echo '</ul></li>';
						}
					}

					?>
						<li class="item">
							<a href="<?php echo $item->getCategoryUrl() ?>">
								<?php echo $block->escapeHtml($item->getTitle()) ?>
							</a>
					<?php
					$level = $newLevel;
					$first = false;
				}
			?>
			</ul>
		</div>
	</div>
</div>
<?php } ?>