<div class="header-container">
	<div class="header-top">
		<div class="container">
			<div class="header-inner"> 
				<div class="flex-layout space-between center_vertical">
					<div class="col-menu-on-left flex-layout col-menu d-none d-xl-block">
						<div class="primary-menu-container">
							<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('horizontal-menu-organic3')->toHtml(); ?>
						</div>
					</div>
					<div class="logo-container">
						<div class="logo-site">
							<?php echo $this->getChildHtml('logo'); ?>
						</div>
					</div>
					<div class="col-right col-top-link flex-layout center_vertical hidden-sticky">
						<div class="language-currency">
							<div class="container-setting-language-currency">
								<?php echo $this->getChildHtml("store_language"); ?>  
								<?php echo $this->getChildHtml("currency"); ?>
							</div>		
						</div>
						<?php echo $this->getChildHtml("top.links"); ?>
					</div>		
				</div>
			</div>
		</div>
	</div>
	<div class="header-content center-element sticky-header">
		<div class="container">
			<div class="flex-layout for-full-width-menu space-between center_vertical">
				<div class="col-menu-on-left flex-layout col-menu icon-menu">
					<div class="primary-menu-container">
						<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
					</div>
				</div>
				<div class="col-action col-right flex-layout space-between center_vertical action-sticky">
					<div class="hidden-sticky">
						<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
					</div>
					<ul class="flex-layout action-header">
						<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
						<li class="minicart-li-content-show-hide">
							<?php echo $this->getChildHtml('minicart'); ?>
						</li>
					</ul>
				</div>				
			</div>
		</div>
	</div>
</div>