// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables
@page__background-color: #fff;
@margin_gobal_value: 7.5rem;
@background-banner: #faf1eb;
//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold;
@font-family-name__base: 'Open Sans'; 
// Color
@theme__color__primary: #cf9163;
@color__table__product: #b7b7b7;


// Header
@header__background-color: @color-white;
@header-border-color: #ebebeb;
@color__icon: #222222;

@header_sticky_bg: @header__background-color;

@navigation-desktop-level0-item__color: #333333;
// Top search
@_search-border-color: @theme__color__primary;
@_search-border-width: 2px;

// Navigation
@navigation-desktop__background: @header__background-color;

@navigation-desktop__font-weight: @font-weight__bold;
@navigation-desktop__font-size: 1.6rem;

//Level 0
@navigation-desktop-level0-item__color: #333333;

@navigation-level0-item__text-transform: capitalize;
@navigation-level0-item__font-size: 14;
@navigation-level0-item__font-weight: @font-weight__bold;

// Level 1
@level1_color: #222222;
@bg__newletter: #0d0d0d;
@active__color: #a1a1a1;
@link__hover__color: #a1a1a1;

@social_link_bg: #262626;
@date__month: #222222;
//Module variables
@module_margin_bottom: 3rem;
@module_title-size: 3rem;

// Product
@product-name-link__color: #222;

// Button
@second_button_bg: #fff;
@color_button_banner: #222222;
//Button variable
@button__border-radius: 0;
@button__color: @color-white;


// Footer
@footer-title-color: #cf9163;
@footer-title-font-size: 1.9rem;
@footer-title-font-weight: bold;
@footer-title-transform: capitalize;
@footer__background-color: #303030;
@footer-border-color: #4b4b4b;
@footer_bottom_color: @greycolor;
@footercolor: @greycolor;
//  Input in form
//  ---------------------------------------------

// Vertical thumb image

@category_name_position: relative;
// Supper deal module

.icon_header() {
    font-size: 2.6rem;
    line-height: 3rem;
    position: relative;
}


@second_button_bg: @theme__color__primary;
@second_button_color: @color-white;
@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;

@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;
@second_button_color: @color-white;

@slider_h2_font-size-xxl: 92px;
@slider_h2_font-size-xl: 76px;
@slider_h2_font-size-l: 70px;
@slider_h2_font-size-s: 60px;
@slider_h2_font-size-xs: 40px;
@slider_h2_text-transform: capitalize;
@slider_h2_font-weight: bold;
@slider_p_font-size-xxl: 16px;
@slider_button_font-size-xl: 14px;
@slider_button_bg: #e91c60;
@slider_p_letter-spacing: 4px;
@slider_p_margin: 0;
@slider_button_margin-top: 68px;


// dots banner
@nivo-controlNav-border-radius: 100%;
@nivo-controlNav-bg: #ffffff;
@nivo-controlNav-width: 8px;
@nivo-controlNav-height: 8px;
@nivo-controlNav-postion: right;

// Change gobal style
/* setting */
& when (@media-common = true) {
    body .show-product-mode-grid .product-item .product-item-info .product-item-details, body .products-grid .product-item .product-item-info .product-item-details, body .grid .product-item .product-item-info .product-item-details{
        position: static;
    }
    .ui-widget-content.mage-dropdown-dialog{
        position: static;
    }
    .products-grid .product-items.owl-carousel .owl-stage-outer{
        border-left: none;
    }
    .products-grid .product-items:not(.owl-carousel) {
        border: none;
    }
    .page-header{
        .header-container.sticky .primary-menu-container .custommenu ul{
            text-align: left;
        }
        .header-container {
            max-width: 1874px;
            margin: 0 auto;
           padding: 20px 30px!important;
           .flex-layout.space-between{
                position: relative;
                .col-action.col-right{
                    right: 15px;
                    position: absolute;
                    top: 15%;
                }
            }
            .logo-container{
                flex-direction: column;
                .logo-site{
                    .action.nav-toggle{
                        @media only screen and (max-width:( @screen__l - 1)){
                            display: block!important;
                            top: 0;
                            position: absolute;
                            left: 0;
                            line-height: 1;
                            &::before{
                                content: "\e946";
                                margin-top: 5px;
                                font-family: main-icon!important;
                                font-size: 23px;
                            }
                        }
                    }
                }
            }
            .setting-view {
                span {
                    font-size: 2.6rem;
                    @media only screen and (max-width: (@screen__s - 1)){
                        font-size: 2.3rem;
                    }
                    line-height: 4rem;
                    position: relative;	
                    cursor: pointer;
                    color: @heading__color__base;
                    &::before{
                        content: "\e929"!important;
                    }
                }
                &:after {
                    content:"";
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 100vh;
                    background-color: @topbarcolor;
                    z-index: 9999;
                    visibility: hidden;
                    opacity: 0;
                    .transition();
                }
                &.open-setting {
                    &:after {
                        visibility: visible;
                        opacity: 0.5;
                        background: rgba(0 , 0 , 0 , .35);
                    }
                }
            }
            .header-setting {
                position: fixed;
                top: 0;
                right: 0;
                left: auto;
                width: 47rem;
                height: 100vh;
                background-color: @color-white;
                max-width: 100%;
                .transition();
                z-index: 100000;
                display: flex;
                flex-direction: column;
                &:not(.box-setting){
                    -webkit-transform: translateX(100%);
                    -moz-transform: translateX(100%);
                    -ms-transform: translateX(100%);
                    -o-transform: translateX(100%);
                    transform: translateX(100%);
                }
                .settings-head {
                    padding: 4rem 6rem 3.5rem;
                    @media only screen and (max-width: (@screen__s - 1)){
                        padding: 2rem;
                    }
                    margin-bottom: 3rem;
                    .settings-close {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 2rem;
                        line-height: 3rem;
                        color: @heading__color__base;
                        cursor: pointer;
                        &:hover {
                            color: @theme__color__primary;
                        }
                    }
                }
                .settings-inner {
                    flex: 1 1 auto;
                    height: 1%;
                    padding: 0 6rem;
                    @media only screen and (max-width: (@screen__s - 1)){
                        padding: 0 2rem;
                    }
                    overflow-x: hidden;
                    display: flex;
                    flex-direction: column;
                    .settings-contact{
                        .title-setting{
                            font-family: 'Poppins', sans-serif;
                            font-size: 1.8rem
                        }
                        .contact-info-wrap {
                            .contact-info {
                                .flex();
                                flex-wrap: nowrap;
                                font-size: 1.8rem;
                                color: #555555;
                                margin-bottom: 1.5rem;
                                .icon {
                                    color: #ffd800;
                                    margin-right: 1em;
                                    padding-top: 2px;
                                }
                                a {
                                    color: #555555;
                                    &:hover {
                                        color: #ffd800; 
                                    }
                                }
                            }
                        }
                    }
                    .links {
                        li {
                            font-size: 1.8rem;
                            font-weight: @font-weight__semibold; 
                            a {
                                color: @color__icon;
                                &:before {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                    li {
                        .counter.qty{
                            top: 5px;
                        }
                    }
                    .minicart-wrapper {
                        margin-left: 0;
                        .action.showcart {
                            .counter.qty {
                                color: @color-white;
                            }
                            &::before{
                                font-size: 2.8rem;
                            }
                        }
                    }
                    .flex-layout{
                        position: relative;
                        .action-header{
                            align-items: center;
                            margin-bottom: 11rem;
                            position: static;
                            li{
                                margin: 0;
                                padding-right: 14px;
                                &.link.wishlist{
                                    margin: 0;
                                    padding-right: 10px;
                                    a{
                                        padding-right: 27px;
                                        .counter.qty{
                                            left: auto;
                                            right: 0;
                                            color: @color-white;
                                        }
                                    }
                                }
                                &.minicart-li-content-show-hide{
                                    a{
                                        padding-right: 27px;
                                        .counter.qty{
                                            left: auto;
                                            right: 0;
                                            top: 5px;
                                            font-size: 1.4rem;
                                            min-width: 2.5rem;
                                            min-height: 2.5rem;
                                        }
                                    }
                                }
                            }
                            .header.links{
                                li{
                                    padding-right: 0;
                                    line-height: 0.8;
                                    overflow: hidden;
                                    border: 2px solid transparent;
                                    background: transparent;
                                    padding-left: 0;
                                    border-radius: 100%;
                                    margin: 0;
                                    a{
                                        font-size: 0;
                                        padding: 0;
                                        &::before{
                                            content: "\e908";
                                            font-family: main-icon, sans-serif;
                                            font-size: 2.4rem;
                                            border: 2px solid;
                                            border-radius: 100%;
                                            display: inline-block;
                                            padding-top: 5px;
                                        }
                                    }
                                }
                            }
                            .block-search{
                                line-height: 1;
                                .main-icon-search{
                                    font-size: 2.5rem;
                                    &::before{
                                        color: @level1_color;
                                    }
                                }
                            }
                            .link.wishlist{
                                margin-right: 0.3rem;
                                a{
                                    &::before{
                                        font-size: 2.8rem;
                                    }
                                }
                            }
                            li.checkout{
                                font-size: 1.8rem;
                                color: #111111;
                                position: absolute;
                                right: 0;
                                @media only screen and (max-width: @screen__xxs){
                                    position: relative;
                                }
                                a{
                                    text-decoration: underline;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 500;
                                    color: @color__icon;
                                }
                            }
                        }
                    }
                }
            }
            .header{
                @media only screen and (max-width: (@screen__l - 1)){
                    .flex-layout.space-between{
                        justify-content: center!important;
                        position: relative;
                        .col-action.col-right{
                            right: 0;
                            position: absolute;
                            top: 0;
                        }
                    }
                }
            }
            &.sticky{
                .flex-layout.space-between{
                    padding: 2rem 1.5rem;
                    position: relative;
                    @media only screen and (max-width:( @screen__l - 1)){
                    .logo-container{
                        .logo-site{
                            .action.nav-toggle{
                                    &::before{
                                        margin-top: 8px;
                                    }
                                }
                            }
                        }
                    }
                    .col-action.col-right{
                        right: 15px;
                        position: absolute;
                        top: 30%;
                    }
                }
            }
        }
        .block.block-search .dropdown .form.minisearch{
            margin-top: 5px;
        }
    }
}

/* language-currency */
& when (@media-common = true) {
	.container-setting-language-currency {
        display:flex;
        margin-bottom: 11.5rem;
        flex-direction: row-reverse;
		> div {
			padding:0;
			
		}
		.switcher {
			margin-right: 4rem;
			border:none;
            flex: 1 1 auto;
            padding: 0;
			&:last-child {
				margin:0;
			}
			.switcher-label {
				display: block;
				position: static;
				overflow: visible;
				margin: 0 0 2rem 0;
				height: auto;
				width: auto;
				font-size: 1.8rem;
				font-weight: @font-weight__semibold; 
                font-family: 'Poppins', sans-serif;
			}
			.switcher-options .switcher-trigger.action.toggle {
				padding-bottom: 0.5rem;
				border-bottom: 1px solid @border-color__base; 
			}
			.switcher-options.active .dropdown.switcher-dropdown {
				top: calc(~'100% - 1px'); 
			}
		}
	}
}

// Header

& when (@media-common = true){
    @media only screen and (max-width: (@screen__l - 1)){
        .navigation {
            .parent {
                .level-top:after{
                    right: 10px;
                    top: 4px;
                    line-height: 1;
                }
            }
        }
    }
    .minicart-wrapper{
        position: static;
        .block-minicart{
            top: 30px;
            @media only screen and (max-width: @screen__xxs){
                top: 60px;
            }
        }
    }
    .cms-index-index{
        .primary-menu-container {
            .custommenu{
                >  ul{
                    .flex();
                    flex-direction: column;
                    position: absolute;
                    top: 40vh;
                    left: 7.2rem;
                    @media only screen and (max-width: (@screen__l - 1)){
                        display: block;
                        position: static;
                        line-height: 2.5;
                        li{
                            padding-left: 15px;
                        }
                    }
                    li{
                        margin: 0;
                        a{
                            padding: 0!important;
                        }
                        .level0.submenu{
                            left: 100%;
                            top: 0;
                            .subchildmenu {
                                line-height: 2;
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
        .page-header{
            position: absolute;
            top: 0;
            width: 100%;
            background-color: transparent;
            @media only screen and (max-width: (@screen__m - 1)) and (min-width: @screen__s){
                position: relative;
            }
        }

    }
    body:not(.cms-index-index){
        .sticky{
            .logo-container{
                .logo-site{
                    left: 0;
                }
            }
        }
        .page-header{
            .header-container{
                padding-bottom: 45px;
                position: relative;
            }
        }
        .logo-container{
            justify-content: center;
            flex: 1;
            .logo-site{
                left: 30px;
                position: absolute;
                @media only screen and (max-width: @screen__l){
                    position: static;
                }
            }
        }
        .icon-index{
            display: none;
        }
    }
    .header-container {
        .topbar {
            .topbar-inner {
                justify-content: center;
                padding: 10px;
                font-size: 1.3rem;
                text-transform: uppercase;
            }
        }
        .primary-menu-container {
            #close-menu{
                position: absolute;
                right: 0;
                left: auto;
                color: @color__icon;
            }
            ul {
                li {
                    .level0.submenu {
                        .subchildmenu {
                            .ui-menu-item {
                                .subchildmenu {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.sticky {
            .action-sticky{
                 .action-header{
                      > li{
                          margin: 0 2rem;
                    }
                }
            }
            .primary-menu-container{
                .custommenu{
                    ul{
                        text-align: center;
                    }
                }
            }
        }
    }
    .header-container .col-action .action-header > li .search-form a{
        padding-right: 0;
    }   
    .searchsuite-autocomplete .product .title{
        font-size: 1.4rem;
    }
}
 // Responsive min-width: 1199px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .block.block-search .dropdown .form.minisearch .search-form{
        min-width: 350px !important;
    }
}
// slider
& when (@media-common = true){
    .wrapper-the-blue-sky-slider{
        .container-the-blue-sky-slider{
            position: relative;
            .the-blue-sky-banner-text {
                @media only screen and (min-width: @screen__l){
                    &.left_center{
                        left: 16%;
                     }
                     &.right_center{
                         text-align: left;
                         left: 55%;
                     }
                }
                @media only screen and (max-width: @screen__l){
                     &.right_center{
                         text-align: left;
                     }
                }
                .btn{
                    border-radius: 3px;
                }
            }
            img{
                @media only screen and (max-width: (@screen__xs - 1)){
                    height: 100vh!important;
                }
            }
           
        }
    }
}

// Footer 

& when (@media-common = true){
    .page-wrapper{
        position: relative;
    }
    .cms-index-index{
        .footer-top, .footer-bottom, #back-top{
            display: none;
        }
        .page-footer{
            .social-link{
                position: absolute;
                display: block;
                bottom: 0;
                z-index: 3;
                right: 5rem;
                padding: 0;
                list-style: none;
                @media only screen and (max-width: (@screen__m - 1)) and (min-width: @screen__s){
                    .flex();
                    right: auto;
                    width: 100%;
                    justify-content: center;
                }
                li{
                    @media only screen and (max-width: (@screen__m - 1)) and (min-width: @screen__s){
                      padding: 0 20px;
                    }
                    a{
                        color: #494949;
                        span.text{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
& when (@media-common = true){
    .product.attribute.overview, .product-item-description{
        ul{
            list-style: none;
            padding: 0;
        }
        table.woocommerce-product-attributes{
            tbody{
                tr{
                    th{
                        p{
                            margin: 0;
                        }
                    }
                    td{
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    body{
        .products-grid {
            margin-bottom: 0;
            margin-left: -15px;
            margin-right: -15px;
            .product-items {
                margin-bottom: 0;
               &.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
                .product-item{
                    border: none;
                    margin-top: 0;
                    @media only screen and (max-width: (@screen__xs - 1)){
                        margin-bottom: 4rem;
                    }
                    &:hover{
                        .product-item-info{
                            &::before{
                                box-shadow: none;
                            }
                            .product-item-details{
                                .product-reviews-summary{
                                    visibility: hidden;
                                    @media only screen and (max-width: (@screen__xs - 1)){
                                        visibility: visible;
                                    }
                                }
                                .product-item-actions{
                                    .actions-secondary{
                                        right: 3.52rem!important;
                                        &::after{
                                            height: 0;
                                        }
                                    }
                                    .actions-primary{
                                        @transform: translateY(-55px);
                                        .lib-css(transform, @transform, @_prefix: 1);
                                        right: 2rem;
                                        @media only screen and (max-width: (@screen__l - 1)){
                                            @transform: translateY(-30px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                        @media only screen and (max-width: @screen__s){
                                            @transform: translateY(-40px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                        @media only screen and (max-width: (@screen__xs - 1)){
                                            @transform: translateY(-30px);
                                            .lib-css(transform, @transform, @_prefix: 1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-item-photo{
                        line-height: 0;
                    }
                    .product-item-info{
                        padding: 0.5rem 1.5rem 4.4rem;
                        @media only screen and (max-width: (@screen__l - 1)){
                            padding: 0.5rem 1.5rem 1rem;
                        }
                        &::before{
                            display: none;
                        }
                        .product-item-details{
                            margin-top: 1.5rem;
                            .product-reviews-summary{
                                display: inline-flex;
                                float: right;
                                height: 25px;
                                margin: 0;
                                @media only screen and (max-width: (@screen__xs - 1)){
                                    float: none;
                                    width: 100%;
                                }
                                .action.view{
                                    transition: all 0s;
                                    -webkit-transform: all 0s;
                                    -moz-transform: all 0s;
                                }
                            }
                            .product-item-actions{
                                .actions-primary{
                                    .tocart-form{
                                        .action.tocart{
                                            &::before{
                                                content: "\e92e";
                                                font-size: 1.6rem;
                                            }
                                        }
                                    }
                                }
                                .actions-secondary{
                                    top: 2.05rem;
                                    left: auto;
                                    right: -4rem;
                                    bottom: auto;
                                    display: block;
                                    transform: translateY(0);
                                    -webkit-transform: translateY(0);
                                    -moz-transform: translateY(0);
                                    -ms-transform: translateY(0);
                                    background-color: transparent;
                                    -webkit-box-shadow: none;
                                    -moz-box-shadow: none;
                                    -ms-box-shadow: none;
                                    box-shadow: none;
                                    padding: 0;
                                    font-size: 0;
                                    .transition();
                                    .action.towishlist{
                                        margin-bottom: 1rem;
                                        a{
                                            &::before{
                                                content: '\e92f';
                                            }
                                        }
                                        span{
                                            font-size: 0;
                                        }
                                    }
                                    a{
                                        width: 40px;
                                        height: 40px;
                                        .flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 100%;
                                        background: #fff;
                                        box-shadow: 0 1px 2px rgba(0,0,0,.2);
                                        &.tocompare{
                                            display: none;
                                        }
                                        &::before{
                                            margin-right: 0;
                                            font-size: 1.5rem;
                                            line-height: 1;
                                        }
                                        &.link-quickview{
                                            &::before{
                                                content: "\e930";
                                                padding: 2px;
                                            }
                                        }
                                    }
                                }
                                .actions-primary{
                                    right: 2rem;
                                    transform: translateY(-30px);
                                    .action.tocart{
                                        &:hover{
                                            color: @color-white;
                                        }
                                        &:before{
                                            content: "\e92e";
                                            font-size: 1.6rem;
                                        }
                                    }
                                }
                            }
                            .product-item-name{
                                display: inline-flex;
                            }
                        }
                        .product-label.onsale{
                            color: @color-white;
                            background-color: @theme__color__primary;
                            left: 3.5rem;
                            right: auto;
                            @transform: rotate(270deg);
                            .lib-css(transform, @transform, @_prefix: 1);
                            .value{
                                font-size: 1.3rem;
                            }
                        }
                       .product-label.newlabel{
                            right: 3.5rem;
                            background-color: #4c3ab7;
                            left: auto;
                            span{
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer

& when (@media-common = true){
    .cms-index-index{
        .page-footer{
            margin-top: -2px;
        }
        .section.full-width{
            margin: 0;
        }
    }
    .page-footer{
        .footer.content{
             .footer-static_link{
                 .not-collapse-mobile{
                    text-align: center;
                    .flex();
                    flex-direction: column;
                    align-items: center;
                    border-left: 1px solid;
                    border-right: 1px solid;
                    order: 3;
                    @media only screen and (max-width: (@screen__m - 1)){
                        order: 1;
                        border: none;
                        img{
                            margin-bottom: 0;
                        }
                    }
                    ul{
                        li{
                            p.size-22{
                                color: @footer-title-color;
                            }
                        }
                        &.social-link{
                            li{
                                background: #454545;
                                margin: 0 7.5px;
                                padding: 8px 15px!important;
                                max-width: 40px;
                                max-height: 40px;
                                .flex();
                                justify-content: center;
                                align-items: center;
                                &:hover{
                                    background-color: @footer-title-color;
                                    a{
                                        span{
                                            &:hover{
                                                color: @color-white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                 }
                 .footer-links{
                     &:nth-child(1){
                         order: 2;
                     }
                     &:nth-child(2){
                        order: 3;
                    }
                 }
                 .square-social{
                     order: 4;
                 }
             }
             .container-inner.border-top{
                 border-top: 1px solid ;
             }
        }
    }
}

// Footer destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
            padding-top: 1.3rem;
          
			.footer-links{
                flex: 0 0 calc(~"100% / 6");
                max-width: calc(~"100% / 6");
                .footer-title{
                    margin-top: 0;
                }
				&.not-collapse-mobile{
                    flex: 0 0 calc(~"100% / 3");
                    max-width: calc(~"100% / 3");
                    margin-top: -8px;
                }
                &.square-social{
                    padding-left: 5.2vw;
                    flex: 0 0 calc(~"100% / 3");
                    max-width: calc(~"100% / 3");
                    .rokan-title{
                        margin-bottom: 3.4rem;
                        margin-top: -2rem;
                    }
                }
                ul{
                    margin-top: 2.5rem;
                    &.social-link {
                        margin-top: 1.4rem;
                    }
                }
                img{
                    margin: 0;
                }
                p{
                    margin-bottom: 0.9rem;
                }
			}
        }
        .footer-bottom{
            margin-top: 5.5rem;
        }
	}	
}