<?php 
	use Magento\Framework\App\Action\Action;
	$category_load = $block->getCategory();
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'category_page_deal';
		$width = $block->getConfig('width');
		if(!$width){
			$width = 550;
		}
		$height = $block->getConfig('height');
		if(!$height){
			$height = 550;
		}
		$enabled_hover = $block->getConfig('enabled_hover');
		$image_type = $block->getConfig('image_type');
		$image_type_hover = $block->getConfig('image_type_hover');
?> 
<div class="section super-deal full-width">
	<div class="container">
		<div class="row">
		<div class="col-md-7 col-sm-6 col-12 deal-product">
			<div class="super-deal-countdown" data-date="<?php echo $block->getConfig('end_date');?>"></div>
			<div class="owl-carousel owl-theme" data-items="1" data-smalldesktop="1" data-tablet="1" data-mobile="1" data-dots="true" data-speed="250">
				<?php 
					$newItems =  $block->getProducts();
				?>
				<?php
				foreach($newItems as $_item) { 
					$resizedImageUrl = $block->resizeImage($_item, $image_type, $width, $height)->getUrl();
				?>
					<div class="item-load item-deal-product">
						<div class="product-thumb">
							<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link">
								<span class="image0 image-switch">
									<img class="product-image" src="<?= $resizedImageUrl ?>" width="<?= $width ?>" height="<?= $height ?>" alt="<?php echo $_item->getName();?>">
								</span>
								<?php if($enabled_hover){ 
									$resizedImageHoverUrl = $block->resizeImage($_item, $image_type_hover, $width, $height)->getUrl();
								?>
									<span class="image1 image_hover">
										<img class="product-image" src="<?= $resizedImageHoverUrl ?>" width="<?= $width ?>" height="<?= $height ?>" alt="<?php echo $_item->getName();?>">
									</span>
								<?php } ?>
							</a>
							<div class="info-price-deal">
								<?php echo __('Sale') ?>
								<?php echo $block->showLableSalePrice($_item); ?>
							</div>
						</div>
					</div>
				<?php } ?>
			</div>
		</div>
		<div class="col-md-5 col-sm-6 col-12">
			<div class="supper-deal-title">
				<?php if($this->getConfig('sub_title')){?><h5 class="sub-title-deal"><?php echo $block->getConfig('sub_title');?></h5><?php }?>
				<?php if($this->getConfig('title_deal')){?><h2 class="title-deal"><?php echo $block->getConfig('title_deal');?></h2><?php }?>
				<?php if($this->getConfig('description_deal')){?><p class="short-des"><?php echo $block->getConfig('description_deal');?></p><?php }?>
				<a href="<?php echo $category_load->getUrl();?>" class="view-all-deal btn" data-hover="<?php echo __('Shop now') ?>"><span><?php echo __('Shop now') ?></span></a>
			</div>
		</div>
	</div>
	</div>
</div>
<script>
    require([
        'jquery',
        'rokanthemes/timecircles'
    ], function ($) {
		$( document ).ready(function() {
			if($('.super-deal-countdown').length>0){
				$(".super-deal-countdown").TimeCircles({
					fg_width: 0.01,
					bg_width: 1.2,
					text_size: 0.07,
					circle_bg_color: "#ffffff",
					time: {
						Days: {
							show: true,
							text: "Days",
							color: "#f9bc02"
						},
						Hours: {
							show: true,
							text: "Hours",
							color: "#f9bc02"
						},
						Minutes: {
							show: true,
							text: "Mins",
							color: "#f9bc02"
						},
						Seconds: {
							show: true,
							text: "Secs",
							color: "#f9bc02"
						}
					}
				}); 
			}
		});
    });
</script>
<?php } ?>