<div class="header-container car-part">
	<div class="header panel">
		<div class="flex-layout space-between">
			<div class="logo-container flex-layout center_vertical">
				<div class="logo-site">
					<?php echo $this->getChildHtml('logo'); ?>
				</div>
			</div>
			<div class="header-content">
				<div class="header-top">
					<div class="topbar-inner flex-layout space-between center_vertical">
						<div class="col-left">
							<div class="top-search-not-dropdown">
								<?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?>
							</div>
						</div>
						<div class="col-right col-action flex-layout">
							<ul class="flex-layout center_vertical action-header">
								<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
								<li class="minicart-li-content-show-hide">
									<?php echo $this->getChildHtml('minicart'); ?>
								</li>
							</ul>
							<?php echo $this->getChildHtml("top.links"); ?>
						</div>
					</div>
				</div>
				<div class="header-middle sticky-header center-element">
					<div class="sticky-content">
						<div class="flex-layout space-between center_vertical no-wrap-desktop">
							<?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()){ ?>
								<div class="logo-sticky">
									<a href="<?php echo $block->getUrl('');?>" class="sticky-logo"
									title="<?php echo __('Logo');?>">
										<img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/>
									</a>
								</div>
							<?php } ?>
							<div class="primary-menu-container col-left col-menu">
								<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>	
							</div>
							<div class="col-action col-right hidden-sticky">
								<div class="language-currency">
									<div class="container-setting-language-currency">
										<?php echo $this->getChildHtml("store_language"); ?>  
										<?php echo $this->getChildHtml("currency"); ?>
									</div>		
								</div>
							</div>
							<div class="col-action col-right show-on-sticky action-sticky">
								<ul class="flex-layout action-header  no-wrap-desktop">
									<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
									<li class="minicart-li-content-show-hide">
										<?php echo $this->getChildHtml('minicart'); ?>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>