<?php
$helper = $this->helper('Rokanthemes\RokanBase\Helper\Data');
$enable = $helper->getConfigData('mfblog/general/enable_frontend');
if ($enable) {
	$_postCollection = $block->getPostCollection();
	$title = $helper->getConfigData('mfblog/general/title');
	$description = $helper->getConfigData('mfblog/general/description');
	$items = $helper->getConfigData('mfblog/general/items');
	$items_bigdesktop = $helper->getConfigData('mfblog/general/items_bigdesktop');
	$items_smalldesktop = $helper->getConfigData('mfblog/general/items_smalldesktop');
	$items_bigtablet = $helper->getConfigData('mfblog/general/items_bigtablet');
	$items_tablet = $helper->getConfigData('mfblog/general/items_tablet');
	$items_smalltablet = $helper->getConfigData('mfblog/general/items_smalltablet');
	$items_mobile = $helper->getConfigData('mfblog/general/items_mobile');
	$auto = $helper->getConfigData('mfblog/general/auto') ? 'true' : 'false';
	$autoplaytimeout = $helper->getConfigData('mfblog/general/autoplaytimeout');
	$autoplayhoverpause = $helper->getConfigData('mfblog/general/autoplayhoverpause') ? 'true' : 'false';
	$dots = $helper->getConfigData('mfblog/general/dots') ? 'true' : 'false';
	$rewind = $helper->getConfigData('mfblog/general/rewind') ? 'true' : 'false';
	$nav = $helper->getConfigData('mfblog/general/nav') ? 'true' : 'false';
	$navnext = $helper->getConfigData('mfblog/general/navnext');
	$navprev = $helper->getConfigData('mfblog/general/navprev');
	$stagepadding = $helper->getConfigData('mfblog/general/stagepadding');
	$touchdrag = $helper->getConfigData('mfblog/general/touchdrag') ? 'true' : 'false';
	$mousedrag = $helper->getConfigData('mfblog/general/mousedrag') ? 'true' : 'false';
	$center = $helper->getConfigData('mfblog/general/center') ? 'true' : 'false';
	$loop = $helper->getConfigData('mfblog/general/loop') ? 'true' : 'false';
	$margin = $helper->getConfigData('mfblog/general/margin');
	$speed = $helper->getConfigData('mfblog/general/speed');
	$rtl = $helper->getConfigData('mfblog/general/rtl') ? 'true' : 'false';
	$background = '';
	if ($this->getConfig('background_image')) {
		$folderName = \Rokanthemes\Themeoption\Model\Config\Blogsliderbackground::UPLOAD_DIR;
		$path = $folderName . '/' . $this->getConfig('background_image');
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$imageUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . $path;
		$background = "style='background-image: url(" . $imageUrl . ");'";
	}

?>
	<?php if ($_postCollection->count()) { ?>
		<div class="widget box-section block-recent-posts section" <?php echo $background ?>>
			<div class="rokan-title">
				<?php if ($title && $title != '') { ?>
					<h3 class="module-title"><span><?php echo __($title) ?></span></h3>
				<?php } ?>
				<?php if ($description && $description != '') { ?>
					<div class="rokan-description blog-description">
						<p><?php echo nl2br($description); ?></p>
					</div>
				<?php } ?>
			</div>
			<div class="post-list-wrapper">
				<div class="blog-list-post">
					<?php $i = 0 ?>
					<?php foreach ($_postCollection as $_post) { ?>
						<div class="item-post-full">
							<div class="blog-post-thumb">
								<a href="<?php echo $_post->getPostUrl() ?>">
									<img src="<?= $this->getMediaFolder() . $_post->getThumbnailimage() ?>" alt="<?php echo $block->escapeHtml($_post->getTitle()) ?>" />
								</a>
							</div>
							<div class="blog-post-info">
								<div class="flex-layout">
									<div class="time-conment"><span class="day"><?php echo date('j F', strtotime($_post->getPublishTime())); ?> ,</span><span class="year"><?php echo date('Y', strtotime($_post->getPublishTime())); ?></span></div>
								</div>
								<h3 class="post-title"><a href="<?php echo $_post->getPostUrl() ?>"><?php echo $block->escapeHtml($_post->getTitle()) ?></a></h3>
								<div class="post-info-bottom clearfix">
									<a class="post-readmore btn" href="<?php echo $_post->getPostUrl() ?>">
										<?php echo __('Read more') ?>
									</a>
								</div>
							</div>
						</div>
						<?php $i++ ?>
						<?php if ($i == 4) {
							break;
						} ?>
					<?php } ?>
				</div>
			</div>
		</div>
	<?php } ?>
<?php } ?>