// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font

//broder
@border-color__base: #eee;
@text__color: #7d8184;

// Heading
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold;  
@heading__color__base:  #0d0d0d;



@otherfont: 'comfortaa';
// Topbar
@topbarbg: #11b1b1; 
@topbarcolor: @color-white;

@header__background-color: #f8f8f8;


@header_sticky_bg: @theme__color__primary;
@header_sticky_border: 0;
@headerpadding: 0; // Make header height bigger than menu height
@sticky_padding: 0; 
// Top search
@_search-border-color: @theme__color__primary; 
@_search-border-width: 1px;

@theme__color__primary: #11b1b1;
// Navigation

@navigation-desktop__background: transparent;
@navigation-level0-item__text-transform: capitalize;
@navigation-desktop__font-weight: 600;
@navigation-desktop__font-size: 1.8rem;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__margin: 0;
@navigation-desktop-level0-item__hover__color: @color-white;
@navigation-desktop-level0-item__active__color: @color-white;
@navigation-desktop-level0-item__hover__background: #109090;
@navigation-desktop-level0-item__active__background:#109090;
@navigation-desktop-level0-item__line-height: 30px;
@navigation-desktop-level0-item__padding: 15px 30px;  

// Level 1 
@level1_font_weight: @font-weight__regular;
@level1_font_size: 1.6rem;
@level1_color: @heading__color__base; 
@submenu-desktop-item__hover__color: @theme__color__primary;
//==============================


// Supper deal
// 

@banner_padding: 10rem 0;
@deal_number_font-size: 4.2rem;
@deal_number_font-weight: @font-weight__semibold; 
@deal_number_color: @theme__color__primary;
@deal_number_width: false;
@banner_deal_number-border-radius: 5px;
@deal_number_bg: @color-white;
// Sub title
@sub_title_supper_deal-font-size: 1.4rem;
@sub_title_supper_deal-color: #404040;
@sub-title_supper_deal_letter-spacing: 0.2em;
@sub-title_supper_deal_font-weight:  @font-weight__bold;
@sub-title_supper_deal_font-family: @font-family__base;
@sub-title_supper_deal_margin: 0 0 2.5rem;
// Title

@title_supper_deal_color: @heading__color__base;
@title_supper_deal_size: 4.2rem;
@title_supper_deal_mobile_size: 2.8rem;
@title_supper_deal_font-weight: @font-weight__bold;
@title_supper_deal_letter-spacing: false;
@title_supper_deal_letter-family: @otherfont;
@title_supper_deal_margin: 0 0 3.5rem;

////

// Sale new label
@sale_label_bg: #fa593f;
@sale_label_color: @color-white; 

@new_label_bg: #11b1b1;
@new_label_color: @color-white	;

/* Rating */
@rating-icon__letter-spacing: -1px;
@rating-icon__color: #f2b711; 
@rating-icon__font-size: 1.4rem;
//Topbar
//Module variables


//Title
@module_margin_bottom: 4rem;
@module_title-size: 4.2rem;
@module_title-text-transform: capitalize;
@module_title_text-align: center;
@short_des_font_size: 1.6rem;

@margin_gobal_value: 9rem;

// Product
@product-name-link__color: #222;


// Button
/* footer */
@footer_font-size: 14px;
@footer__background-color: #191e1e;
@footercolor: #e6e6e6;

@footer-title-font-size: 1.8rem;
@footer-title-color: @theme__color__primary; 
@footer-title-font-weight: 700;
@footer-title-transform: capitalize;

@footer-border-color: rgba(255,255,255,0.1);

@footer-bottom_bg: #191e1e;
@footer_bottom_color: #b7b7b7;

//Button variable
@button__color: @color-white;
@button__hover__color: @color-white;
@button__font-size: 14px;
@button__font-family: @heading__font-family__base;
@button__background: @theme__color__primary;
@button__padding: 12.5px 28px;
@button__border-radius: 30px; 
@button__font-weight: @font-weight__bold;

@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @heading__color__base;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: @heading__color__base;


// Owl, slider dot
@nivo-controlNav-veritcal-postion: 50px;
@nivo-controlNav-postion: center; 
@nivo-controlNav-bg: #11b1b1;
@nivo-controlNav-width: @owl-dot-width;
@nivo-controlNav-height: @owl-dot-height;
@nivo-controlNav-border-radius: @owl-dot-border-radius;
// Slider heading
@nivo-directionNav-width: 50px;
@nivo-directionNav-height: 50px;
@nivo-directionNav-border-radius: 50%;
@nivo-directionNav-bg: @owl-nav-bg;

@slider_h2_font-size-xxl: 52px;
@slider_h2_font-size-xl: 41px;
@slider_h2_font-size-l: 30px;
@slider_h2_font-size-s: 26px;
@slider_h2_font-size-xs: 18px;
@slider_h2_letter-spacing: false;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1.1;
@slider_h2_font-weight: @heading__font-weight__base;


@slider_p_font-size-xxl: 20px;
@slider_p_font-size-xl: 18px;
@slider_p_font-size-l: 16px;
@slider_p_font-size-s: 14px;
@slider_p_font-size-xs: 13px;
@slider_p_text-transform: capitalize;
@slider_p_margin: 24px;
@slider_p_letter-spacing: false;
@slider_p_font-weight: 400;

// Slider button
@slider_button_font-size-xl: 14px;
@slider_button_font-size-l: 13px;
@slider_button_font-size-s: 12px;
@slider_button_font-size-xs: 12px;
@slider_button_margin-top: 30px;
@slider_button_padding: 13px 35px;
@slider_button_padding-s: 5px 20px;
@slider_button_letter-spacing: 0.1em;

// Control (dot)
@nivo-controlNav-veritcal-postion: 30px;
@nivo-controlNav-bg: fade(#e6e6e6, 100%);
@nivo-controlNav-width: 11px;
@nivo-controlNav-height: 11px;

//dot owl
@owl-dot-bg: #e6e6e6;
@owl-dot-width: 11px;
@owl-dot-height: 11px;
@owl-dot-border-radius: 50%;
//___________________________________________________
// Module category thumb
@padding-category-thumb: false;
@background-category-thumb: false;
@category_name-padding: 3rem;

// Cateory tab

@tabcolor: @text__color;
@tabactive: @color-white;
@tab-text-tranform: capitalize;
// Hozital variable
@category-tab-text-align: center;
@category-tab-name-size: 14px;

// Category thumb

// Category thumb
@background-category-thumb: false;
@category-name-size: 2.4rem;

// header-icon
@header-icons-color: @color-white;
.icon_header(){
	font-size: 2.1rem;
    line-height: 3rem;
    position: relative;	
};
// Owl style
& when (@media-common = true) {
	body{
		.wrapper-the-blue-sky-slider{

			.nivo-directionNav{
				button,
				a{
					&:before{
						.icon_custom_font('\e933');
						font-size: 30px;
						display: inline-flex;
						align-items: center;
						line-height: 1;
					}
					&:not(:hover){
						&:before{
							color: @color-white;
						}
					}
					&.nivo-prevNav{
						width: @owl-nav-bg-width;
						border-radius: 50%;
						&:not(:hover){
							&:before{
								color: @color-white;
							}
						}
						
						&:before{
							transform: none;
						}
						&:hover{
							&:after{
								background-color: @link__hover__color;
							}
						}
					}
					&.nivo-nextNav{
						width: @owl-nav-bg-width;
						border-radius: 50%;
						&:before{
							content: '\e934';
							transform: none;
						}
					}
					&:focus{
						box-shadow: none;
					}
				}
			}
			.container-the-blue-sky-slider {
				.the-blue-sky-banner-text{
					&.right_center {
					    left: 48%;
					    text-align: left; 
					    @media only screen and (max-width: (@screen__xs - 1)) {
							 left: 34%;
						} 
					}
					
					a.btn {
						@media only screen and (max-width: (@screen__l - 1)) {
							margin-top: 1.5vw;
						}
						font-weight: @font-weight__bold; 
						.lib-css(border-radius, @button__border-radius, @_prefix: 1);	 
						font-family: @font-family-name__base;
						background: @color-white;
						&:hover { 
							color: @color-white !important; 
							background: @theme__color__primary !important;
						}
					}
				}
			}

		}
	}	
}

// Change gobal style
& when (@media-common = true) {
	.product-item {
		.product-label{
			font-family: @font-family__base;
			font-weight: @font-weight__bold;
			.border_radius(3px);
    		font-size: 1.4rem;
    		text-transform: uppercase;
    		padding: 4px;
    		min-width: 5rem;
    		text-align: center;
    		top: 1.5rem;
			&.onsale{
				z-index: 2;
				left: 1.5rem;
				right: auto;
			}
			&.newlabel{
				right: 1.5rem;
				left: auto;
			}
		}
	}

	.product-info-main .product.attribute.overview{
		display: inline-flex;
		width: 100%;
	}
}

/* header */
& when (@media-common = true) {
	.header-container {
		.header-middle{
			padding: 2.9rem 0;
			@media only screen and (max-width: (@screen__l - 1)) {
				.for-full-width-menu{
					justify-content: center;
					.logo-container {
					    width: 100%;
					    justify-content: center;
					}
				}
			}
		}
		.header-bottom{
			background: @theme__color__primary;
			.header.panel {
				> .flex-layout{
					position: relative;
				}
				.nav-toggle:hover:before {
				    color: @color-white;
				}
			}
			
		}
		.topbar{
			.topbar-inner {
				ol, ul{
					li{
						margin-bottom: 0.5rem;
					}
					a{
						&:not(:hover){
							.lib-css(color, @footercolor);
						}
					}
					.icon{
						&:not(:hover){
							color: @color-white;
						}
						.lib-font-size(16);
						.text{
							display: none;
						}
					}
					&.social-link{
						padding-left: 0;
						align-items: center;
						flex: 1;
						li{
							display: inline-flex;
							margin-bottom: 0;
							&:not(:first-child){
								padding-left: 1.7rem;
							}
							&:not(:last-child){
								padding-right: 1.7rem;
							}
						}
					}
				}
				.col-right{
					flex: 1;
					justify-content: flex-end;
				}
				.container-setting-language-currency {

					.switcher{
						border-right: 1px solid rgba(255,255,255,0.3);
					}
				}
				.col-top-link {
					> :not(:last-child) > *{
						border: 0;
						padding: 0;
						margin-right: 0;
					}
				}
			}
		}
		.block.block-search {
			position: static;
			.dropdown{
				.top-search{
					color:  @header-icons-color;
					i{
						.lib-font-size(20);
						@media only screen and (max-width: (@screen__s - 1)) {
							.lib-font-size(24);
						}
					}
				}
				.form.minisearch {
					right: 0;
				}
				
			}
		}
		.col-action {
			.minicart-wrapper .action.showcart .counter.qty, 
			li .counter.qty{
				min-width: 1.7rem;
   				min-height: 1.7rem;
   				font-size: 1rem;
   				color: #333333;
   				line-height: 9px;
   				top: 0;
    			right: 4px;
    			font-weight: @font-weight__semibold;
    			background: #f2b711;
			}
			.action-header > li {
				margin: 0 1.3rem;
				&:last-child{
					margin-right: 0;
				}
				> a {
					&:hover{
						&:before{
							color: @color-white;
						}
					}
				}
			}
			.minicart-wrapper{
				margin-left: 0;
			}
			.minicart-wrapper .block-minicart{
				margin-top: 15px !important;
				@media only screen and (max-width: (@screen__l - 1)) {
					margin-top: 10px !important; 
				}
			}
			
		}
		.header.links {
			margin: 0 2rem;
			li{
				&:not(:last-child){
					margin-left: 0.5rem;
				}
				&.authorization-link{
					
					> a{
						&:before{
							display: none;
						}
					}
					&:after{
						content: '/';
						margin: 0px 6px 0 3px;
						color: @color-white;
					}
				}
				&:last-child{
					padding-left: 0;
				}
				a{
					color: @color-white;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.header-content{
			border-bottom: 1px solid @header-border-color;
		}
		&:not(.sticky){
			.header-top{
				.col-top-link,
				.col-action{
					flex: 1;
				}
				.col-action{
					> .flex-layout{
						justify-content: flex-end;
					}
				}
			}
			@media only screen and (min-width: @screen__s) {
				.block.block-search .dropdown .form.minisearch {
	    			margin-right: 10%;
				}
			}
			
		}
	}
	.navigation.custommenu li.level0 {
		@media only screen and (max-width: 1439px) {
			 > .level-top{
			 	padding: 15px !important;
			 }
			&:first-child{
				 > .level-top{
					padding: 15px !important;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.navigation.custommenu{
		> ul {
			word-spacing: -5px;
			li {
				word-spacing: 0;
			}
		}
		 li.level0 {
			&:first-child{
				 > .level-top{
					.lib-css(padding,@navigation-desktop-level0-item__padding);
				}
			}
			 > .submenu .subchildmenu.mega-columns {
			    column-gap: 3rem;
			    @column-count: 4;
				.lib-css(column-count, @column-count, @_prefix: 1);
				.level1 {
				    float: none;
				    display: inline-block;
				    width: 100%;
				    display: grid;
				    grid-template-rows: 1fr auto;
				    margin-bottom: 3rem;
				    break-inside: avoid;
				}
			} 
		}
		
	}
	.cms-index-index{
		.header-container {
			&:not(.sticky){
				.header-content{
					border-bottom: 1px solid @header-border-color;
					position: absolute;
				    left: 0;
				    right: 0;
				}
			}
		}
	}
	.header-container { 
		&:not(.sticky){
			.header-top{
				.logo-container{
					flex: 1;
				}
			}
		}
	}
	
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.header-container {
		.topbar .topbar-inner {
			justify-content: center !important;
			ul.social-link{
				display: none;
			}
			.col-right{
				justify-content: center !important;
    			align-items: center;
    			flex: unset !important;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	.block.block-search .dropdown .form.minisearch .search-form{
		min-width: 350px !important;
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.header-container {
		
		&.sticky{
			.sticky-header{
				.header-top{
					padding: 1rem 0 !important;
				}
				.logo-container{
					display: none;
				}
			}
		}
	}
}
@media only screen and (max-width: (@screen__l - 1)) {
 .header-container.sticky .sticky-header.center-element .logo-sticky{
	display: none;
	}
}


/* hot deals */
& when (@media-common = true) {

	.super-deal-banner {
		@media only screen and (min-width: @screen__l){
			background-position: bottom center;
    		background-repeat: no-repeat;
		}
		.title-deal{
			.highlight{
				color: @theme__color__primary;
			}
		}
		.super-deal-banner-content  {
			 align-items: flex-end;
			 .flex();
		     flex-direction: column;
		     .col-countdown  {
		     	@media only screen and (max-width: (@screen__l - 1)){
		     		width: 100%;
		     		max-width: none;
				}
				@media only screen and (min-width: (@screen__l)){
		     		max-width: 64rem;
				}

	     	    width: 50%;
    			
				.super-deal-countdown {
					margin-bottom: 5rem;
					
					.time_circles {
						> div {
							width: 9rem !important;
							height: 9rem;
							background: @color-white;
							.flex();
						    flex-direction: column;
	    					justify-content: center;
	    					.lib-css(border-radius, @banner_deal_number-border-radius); 
	    					&:not(:last-child){
							    margin-right: 3rem;
							    .number {
    		    					position: relative;
								    &:after {
									    position: absolute;
									    content: ':';
								        top: 20px;
									    right: -17px;
									    color: #404040;
									    font-size: 2.4rem;
									}
								}
							}
							@media only screen and (max-width: (@screen__m - 1)){
								width: 6rem !important;
								height: 6rem;
								&:not(:last-child){
								    margin-right: 1.5rem;
								    .number {
									    &:after {
									        top: 10px;
										    right: -10px;
										    font-size: 1.8rem;
										}
									}
								}		
							}
						} 
						.number {
							.lib-css(color, @deal_number_color); 
							.lib-css(font-weight, @deal_number_font-weight); 
							font-family: @font-family__base;
							@media only screen and (max-width: (@screen__m - 1)){
						    	font-size: 2.4rem;	
							}
						}
						.text { 
							text-transform: uppercase;
							color: @heading__color__base;
							@media only screen and (max-width: (@screen__m - 1)){
						    	font-size: 1.1rem;	
							}
						}
					  
					}
				}
				.button-view {
					margin: 0;
					a {
						font-size: 1.5rem;
					}
				}
		    }	
		}
		.supper-deal-title{
				.title-deal{
				line-height: 1.2;
			}
		}

	}
}
// Footer
/* footer */
& when (@media-common = true) {
	.page-footer {
		@media only screen and (max-width: (@screen__s - 1)){
			padding-top: 0;
			margin: 0;
		}
		i[aria-hidden="true"],
		em[aria-hidden="true"],
		span[aria-hidden="true"]{
			&:before{
				font-size: 1.6rem;
				color: @theme__color__primary;
			}
		}
		.footer-top {
			.footer.content {
				padding-top: 6rem;
				padding-bottom: 1rem;
				overflow:hidden;
				@media only screen and (max-width: (@screen__s - 1)){
					padding-top: 3rem;
					padding-bottom: 1rem;
				}
				ul{
					li{
						margin-bottom: 0.8rem;
					}
				}
			}
		}
		.footer-static_link {
			.footer-links {
				p {
					> span {
						font-size: 2.4rem;
						display: block;
					}
				}
				&.not-collapse-mobile {
					img{
						margin-bottom: 2rem;
					}
					ul{

						p{
							margin-bottom: 0;
							
						}
						> li{
							&:not(:first-child){
								p{
									line-height: 2;
								}
							}
						}
					}
					.social-link  {
						justify-content: center;
						margin-top: 2rem;
						li {
							&:not(:last-child) {
								padding-right: 0;
							}
							a {
								padding: 0 1rem;
								.icon{
									&:not(:hover){
										color: @heading__color__base;
									}
								}
							}
						}
					}
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			.container-inner {
				border-top: 1px solid @footer-border-color; 
			}
			.footer.content {
				.copyright {
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				.hozital-menu {
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align:left;
						margin-top: 0.5rem;
					}
				}
			}
		}
		
	}
	
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{	
		.footer-static_link{
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 22%; 
					max-width: 22%; 
					position:relative;
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				order: 2;
				&.not-collapse-mobile{
					order: 1;
					flex: 0 0 50%;
					max-width: 50%;
					margin-bottom: 3rem;
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				order: 2;
				margin-bottom: 0 !important;
				&.not-collapse-mobile{
					order: 1;
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 3rem;
					.footer-contents {
						display: none;
					}
				}
			}
		}
	}	
}
// Home page
& when (@media-common = true) {
	.shop-all-now {
		text-align: center;
		margin-top: -4.5rem;
		@media only screen and (max-width: (@screen__s)) {
			margin-top: -2.5rem;
		}
		a{
			@media only screen and (max-width: (@screen__s)) {
				margin-bottom: 5rem;
			}
			display: inline-block;
			font-size: 1.4rem;
			color: @heading__color__base;
			text-transform: uppercase;
			font-weight: @font-weight__bold;
			line-height: 24px;
    		letter-spacing: 2px;
    		margin-bottom: 9rem;
		    border-style: solid;
		    border-width: 0 0 2px;
		    border-color: @theme__color__primary;
		    &:hover{
		    	color: @theme__color__primary;
		    }
		}
	}
	.header-info{
		@media only screen and (max-width: (@screen__l - 1)) {
			margin-top: 2rem;
		}
		.info{
			margin-left: 7rem;
			@media only screen and (max-width: (@screen__l - 1)) {
				margin-left: 3rem;
			}

			.icon{
				font-size: 3.6rem;
				line-height: 1;
				color: @theme__color__primary;
				@media only screen and (max-width: (@screen__m - 1)) {
					font-size: 2.8rem;
				}

			}
			p{
				font-size: 1.3rem;
				margin-bottom: 1rem;
				line-height: 1;


			}
			h5{
				font-size: 1.8rem;
				font-weight: @font-weight__semibold;
				margin: 0;
				font-family: @font-family-name__base;
				@media only screen and (max-width: (@screen__m - 1)) {
					font-size: 1.6rem;
				}
				a{
					&:not(:hover){
						color: @heading__color__base; 
					}
				}
			}
			&:first-child{
				@media only screen and (max-width: (@screen__l - 1)) {
					margin: 0;
				}
			}
		}
	}
	.header-contact{
		background: @heading__color__base;
		margin-left: 3rem;
		a{
			font-size: 1.4rem;
			color: @color-white;
			text-transform: uppercase;
			font-weight: @font-weight__bold;
			padding: 1.5rem 3rem;
			line-height: 3rem;
			display: inline-block;
			@media only screen and (max-width: (@screen__l - 1)) {
				padding: 1rem 3rem;
			}
			&:hover{
				color: @theme__color__primary;
			}
		}
	}
	@media only screen and (max-width: (@screen__m - 1)){
		.size-30 {
		    font-size: 2.2rem;
		}
	}
	.banner{
		&.medical{
			.row{
				margin: 0 -5px;
				.col-cms{
					padding: 0 5px;
					.col-banner{
						margin-bottom: 1rem;
						&:last-child{
							margin: 0;
						}
					}
					@media only screen and (max-width: (@screen__s - 1)){
						&:nth-child(2){
					   		.col-banner{
					   			margin: 1rem 0; 
					   		}	
					   }
					}
					@media (min-width: @screen__s) and (max-width: (@screen__l - 1)){
					   &:nth-child(1){
					   		.col-banner{
					   			&:nth-child(1) {
						   			.content {
							   			min-height: 360px;
							   			display: flex;
								   		flex-direction: column;
							   		}
							   	}
							   	&:nth-child(2) {
						   			.content {
							   			min-height: 200px;
							   			display: flex;
								   		flex-direction: column;
							   		}
							   	}
					   		}	
					   }
					   &:nth-child(2){
					   		.col-banner{
					   			.content {
						   			min-height: 570px;
					   			    display: flex;
								    flex-direction: column;
						   		}
				   			}	
					   }
					    &:nth-child(3){
					   		.col-banner{
					   			&:nth-child(2) {
						   			.content {
							   			min-height: 360px;
							   			display: flex;
								   		 flex-direction: column;
								   		 justify-content: flex-end; 
							   		}
							   	}
							   	&:nth-child(1) {
						   			.content {
							   			min-height: 200px;
							   			display: flex;
								    	flex-direction: column;
							   		}
							   	}
					   		}	
					   }
					}	
				}
			}
		}
	 	.col-banner{
	 		&.center.left.top{
	 			.content {
	 				@media only screen and (min-width: @screen__l) {
					    padding: 4rem 1.5rem 1.5rem 4rem;
					    justify-content: flex-start;
					}
				    .button-wrap{
			 			a{
			 				padding: 5px 0;
			 				border-bottom: 2px solid @theme__color__primary;
			 			}
			 		}
				}
	 		}
	 		&.center.right.bottom{
	 			.content {
 					@media only screen and (min-width: @screen__l) {
					    padding: 1.5rem 4rem 4rem 1.5rem;
					    justify-content: flex-end;
					}
				    .button-wrap{
			 			a{
			 				padding: 5px 0;
			 				border-bottom: 2px solid @theme__color__primary;
			 			}
			 		}
				}
	 		}  

	 		p{
	 			&.semibold{
	 				font-weight: @font-weight__semibold;
	 				letter-spacing: 2px;
	 				text-transform: uppercase;
	 				margin-top: 0;
	 				margin-bottom: 2.5rem;
	 			}
	 		}
	 		h2{
	 			text-transform: capitalize;
	 			letter-spacing: 2px;
	 			font-weight: @font-weight__bold;
	 		}
	 		.content{
	 			h3{
		 			line-height: 1.4;
		 		}
		 		.button-wrap{

		 			a{
		 				font-weight: @font-weight__bold;
		 				padding: 1.1rem 2.2rem;
		 				border: none;
		 			}
		 		}
	 		}
	 	
	 		.button-wrapper{
	 			margin-top: 2rem !important;
	 			a{
	 				&:not(:hover){
	 					color: @text__color;
	 				}
	 			}
	 		}
	 	}
	}
	@media only screen and (max-width: (@screen__l - 1)){
		.banner .col-banner:not(.not-has-text) .banner-img {
		    right: 0; 
		    left: 0;
		}
	}
	.banner.medical-bottom{
		position: relative;
		overflow: hidden;
		.col-banner  {	
			@media only screen and (max-width: (@screen__l - 1)){
				&:not(.not-has-text) .banner-img { 
				    right: 0; 
				    left: 0;
				    border-radius: 10px;
				}
			}
			&.center.left{
	 			.content {
	 				padding: 4rem;
	 				@media only screen and (min-width: @screen__l) {
					    padding: 1.5rem 1.5rem 1.5rem 6rem;
					}
				}
			}
			.content {
				h2{
					font-size: 4.2rem;
					letter-spacing: 0;
				}
				p{
					margin:2rem 0 3.5rem 0;
				}
				.phone {
					align-items: center;
    				margin-bottom: 1.7rem;
					.img-phone{
						margin-right: 2rem;
					}
					h3{
						color: @theme__color__primary;
						font-family: @font-family__base;
						font-size: 3.2rem;
						margin: 0;
					}
				}
				.social-link{
					list-style: none;
				    padding: 0;
				    margin: 0;
				    margin-top: 1rem;
				    li{
				    	padding-right: 1.5rem;
				    	margin: 0;
				    	a{
				    		display: inline-block;
				    		font-size: 2rem;
				    		color: @heading__color__base;
				    		width: 5rem;
							height: 5rem;
							display: block;
							line-height: 5rem;
							border-radius: 50%;
							text-align: center;
							border: none;
							background: @color-white;
							&:hover{
								color: @color-white;
								background: @theme__color__primary;
							}
				    		.text{
				    			display: none;
				    		}
				    	}
				    }
				}
			}
		}
		
	}
	.wrapper_sub_category_tabs{
		.rokan-title .module-title{
			font-size: 5rem;
		}
		&.onlyparent {
			.list-category-item {
				.category-item {
					a.vertical{
						width: 23.1rem;
						height: 23.1rem;
						.flex();
						align-content: center;
						justify-content: center;
						margin: auto;
						border-radius: 50%;
						.cate-name.cate-count{
							font-style: @heading__font-style__base;
							font-weight: @font-weight__regular;
						}
						 figure + .thumb-infor{
						 	align-items: flex-end;
   							bottom: 2rem;
						 }
						&:hover{
							 figure{
							 	overflow: visible;
							 	img{
							 		transform: none;
							 	}
							 }
							.cate-name.cate-count{
								text-decoration: underline;

							}
						}
					}
				}
			}
		}
	}
	.container_horizontal_tab_postions{
		&.wrapper_category_product_tabs,
		&.wrapper_product_tabs{
			.products-grid{
				margin-top: 1.6rem;
			}
			text-align: center;
			.ui-tabs-nav{
				display: inline-flex;
				border: 1px solid #e6e6e6;
				.lib-css(border-radius, @button__border-radius, @_prefix: 1);
			    max-width: 100%;
			    white-space: nowrap;
			    overflow-y: hidden;
				margin-top: -1rem;
				li{
					display: inline-flex;
					margin: 0;
					padding: 0 !important;
					a{
						font-family: @otherfont;
						font-weight: @font-weight__bold;
						background-color: @color-white;
						padding: 9px 20px;
						font-size: 1.8rem;
						box-shadow: -1px 0 #e6e6e6 inset;
						&:not(:hover),
						&:not(.active){
							.lib-css(color, @tabcolor);

						}
					}
					&.ui-tabs-active,
					&:hover{
						a{
							background-color: @theme__color__primary;
							.lib-css(color, @tabactive);
						}
					}
					&:last-child{
						a{
							box-shadow: none;
						}
					}
				}
			}

		}
	}
	
	body .block-newsletter-form{
			.icon{
				display: none;
			}
		
	    .container{
	    	width: 100% !important;
	    	padding: 10%;
	    }
	    .rokan-title{
	    	@media only screen and (max-width: (@screen__l - 1)) {
				text-align: center;
			}
	    	text-align: left;
	    	color: @heading__color__base;
	    	margin-bottom: 3rem;
	    	.module-title{
	    		font-size: 4rem;
	    		font-weight: @font-weight__semibold;
	    		font-family: @font-family__base;
	    		padding-bottom: 0 !important;
	    		margin-bottom: 1rem;
	    		&:after{
	    			display: none !important;
	    		}
	    	}
	    	.short-des{
	    		font-size: 1.5rem;
	    		color: @text__color;
	    		margin-bottom: 5.2rem;
	    	}
	    }
	    .block.newsletter {
	    	background: @color-white;
	    	border-radius: 12px;
    		padding: 5rem 6rem 6rem 6rem;
    		@media only screen and (max-width: (@screen__s - 1)) {
				padding: 3rem 3rem 4rem 3rem; 
			}
	    	.field {
	    		.control{
	    			
	    			.input-focus{
	    				flex: 1;
	    				border-bottom: 1px solid rgba(0,0,0,0.2);
	    				@media only screen and (max-width: (@screen__xs - 1)) {
						    width: 100%;
    						flex: none;
						}
	    				input{
	    					border-radius: 0;
						    padding-left: 0;
						    background: 0 0;
						    border: 0

	    				}
	    				> *{
	    					width: 100%;
	    				}
	    			}
	    			.actions{
	    				.subscribe{
    						border-bottom-left-radius: 30px;
							border-top-left-radius: 30px;
						    margin-left: 3rem;
						    @media only screen and (max-width: (@screen__xs - 1)) {
							    margin: 2rem 0 0 0;
							}
	    				}
	    			}
	    		}
	    	}
	    }
	}
	.shipping-support{
		.row{
			margin: 0;
		}
		.col-content{
			padding: 2.5rem 1.5rem;
			border: 1px solid @border-color__base;
		}
	}
}

// Testimonial
@testimo-slider_padding: 9.5rem 0;
@testimo-slider_mobile_padding: 0;
@testi-bg: transparent;

@testimonial-image-border-radius: false;
@testimonial-image-margin-bottom: false;

@testimonial_des-color: @heading__color__base;
@testimonial_des-size: 18px;
@testimonial_des-fammily:  @font-family__base;


@testimonial-name-size: 2rem;
@testimonial-name-text-transform: capitalize;
///


// Testimonial
& when (@media-common = true) {
	.section-middle{
		position: relative;
		&:after {
			background: #dbedfb;
			content: ''; 
			position: absolute;
			top: 0;
			bottom: 0;
			right: -9999em;
			left: -9999em;
			z-index: -1;
			pointer-events: none;
		}
		.row {
			align-items: center;
		}
	}
	.testimo-slider{
		@media only screen and (max-width: (@screen__l - 1)) {
			padding-top: 4rem;
			text-align: center;
			margin: 0 !important;
		}
   	 	background-repeat: no-repeat;
   	 	margin: 0;
   	 	background-position: center;
    	background-size: cover; 
    	.owl-carousel .owl-dots:not(.disabled) {
    		text-align: left;
    		@media only screen and (max-width: (@screen__l - 1)) {
				text-align: center;
			}
    		margin-top: 1.5rem;
			button{
				width: 1rem;
				height: 1rem;
				border-radius: 50%;
				background-color: #b1bfcb;
				&.active{
					background: @heading__color__base;
				}
			}
    	}
    	.content-testimo{
    		@media only screen and (max-width: (@screen__s - 1)) {
				max-width: 100%;
    			margin-left: 0;
			}
    		.ma-title{
    			.des{
    				margin: 0;
    			}

	    		*{
	    			font-weight: @font-weight__semibold;
	    			font-family: @font-family__base;
	    			font-size: 4rem;
	    		} 
			}
    	}

		.pt-testimonial-container{
			overflow: hidden;
		}
		.group-rows-fixed-testimonial{
			.pt-testimonial{ 
				padding: 0 1px;
				.des{
					display: -webkit-box;
				  -webkit-line-clamp: 3;
				  -webkit-box-orient: vertical;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  margin-bottom: 2rem;
				  position: relative;  
				  font-size: 1.8rem;
				  font-style: italic;
				  line-height: 3rem; 
				  margin-top: 1rem;
				   
				}
				.content-tes{
					&:after {
						position: absolute;
						.icon-font('\f10e');
						font-weight: 900;
						line-height: 1;
						right: 13%;
						bottom: 1rem;
						font-size: 36px;
						color: @theme__color__primary;
						@media only screen and (max-width: (@screen__l - 1)) {
							display: none;
						}
					}
					.flex();
					align-items: center;
					.image img{
						max-width: 6rem;
						max-height: 6rem;
						margin: unset;
						border-radius: 100%;
					}
					.info{
						padding: 0 2rem;
						display: block;
						.name{
							text-transform: capitalize;
							font-weight: @font-weight__semibold;
							color: @heading__color__base;
							.lib-font-size(20);
						}
						.job{
							.lib-font-size(14);
							font-weight: 400;
							text-transform: capitalize;
							font-weight: @font-weight__semibold;
							color: @theme__color__primary;
						}
					}
				}
			}
		}
		.cms-block-beside-testimonial{
	
		}

	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.shipping-support{
		.col-content{
			&:not(:first-child){
				margin-left: -1px;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .banner {
		&.cosmectics-middle{
			.col-banner .banner-img{
				position: static;
					img{
						max-width: 100%;
						min-width: 1;
					}
				}
			&:after{
				bottom: -3rem;
			}
		}
	}
	.testimo-slider .pt-testimonial-container .owl-carousel{
		max-width: 100%;
		.content-tes .image img{
			max-width: 10rem;
		}
		.des-information{
			padding: 2rem;
			background-color: @color-white;
		}
	}
	.testimo-slider {
		.pt-testimonial-container .owl-carousel{


			.content-tes {
				flex-direction: column;
				.tes-img{
					margin-bottom: 2rem !important;
				}
				.des-information {
					.info i{
						font-size: 3rem;
					}
					.des{
					    display: -webkit-box;
					    -webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
				}	
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	section, .section, .product.info.detailed, .block.related, .block.upsell,
	.super-deal-banner{
		margin-bottom: 6rem !important;
	}
	.testimo-slider .pt-testimonial-container .owl-carousel{
		.content-tes {
			flex-direction: column;
			.tes-img{
				margin-bottom: 2rem !important; 
			}
			.des-information .info i{
				font-size: 3rem;
			}	
		}
	}

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body .section.block-recent-posts .post-list-wrapper .blog-list-post .item-post-full{
		flex-direction: column;
		.blog-post-thumb{
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(18);
		font-weight: @font-weight__semibold;
		@media only screen and (max-width: (@screen__s - 1)) {
			.lib-font-size(14);
		}
	}
	.product-reviews-summary .rating-summary .rating-result {
		width: 8rem;
	}
	.rokan-title .module-title, .block .title.rokan-title .module-title {
	   margin-bottom: 1rem;
	   @media only screen and (max-width: (@screen__l - 1)) {
			.lib-font-size(36);
		}
	}
	// Remove padding in product owl slider
	.products-grid{
		.product-items{
			&.owl-carousel{
				margin: 0;
				width: 100%;
				.product-item{
					padding: 0;
				}
				.owl-dots {
					&:not(.disabled){
						margin-top: 5rem;
						.owl-dot {
							&.active,
							&:hover{
								.lib-css(background-color, @theme__color__primary);
							}
							&:focus{
								box-shadow: none;
							}
						}
					}
				}
			}
		}
	}
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
				margin: 0 -1.5rem !important;
			}
			.product-item{
				border: none;
				margin: 0 0 3rem 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height: 1;
					overflow: hidden;
					.product-image-photo{
						.transition();
						border-radius: 2px;
					}
				}
				.product-item-info {
					position: relative;
					padding: 1.5rem;
					border: 1px solid @border-color__base;
					border-radius: 2px;
					@media only screen and (max-width: (@screen__xs - 1)) {
					   padding: 0.5rem;
					}
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						padding: 1rem 0;
						position: relative;
						.flex();
						flex-direction: column;
					    justify-content: flex-start;
					    align-items: center;
						&:after,
						&:before{
							content: '';
							display: table;
							clear: both;
						}
						.product-reviews-summary{
							order: 1;
						    position: relative;
						    z-index: 1;
						    background: @color-white;
						    padding: 0 2rem;
						    .reviews-actions{
						    	display: none;
						    }
						}
						.product-item-name{
							order: 2;
							text-align: center;
						}
						.price-box{
							order: 3;
							*{
								font-weight: @font-weight__semibold;
								.lib-font-size(18);
								color: @theme__color__primary;
								@media only screen and (max-width: (@screen__xs - 1)) {
								    .lib-font-size(16);
								}
							}
							.old-price .price {
								.lib-font-size(14);
								color: #999999;
								font-weight: @font-weight__regular;
							}	
						}
						.product-item-inner{
							position: absolute;
   							bottom: calc(~'100% + 1rem');
						    z-index: 222;
						    left: 0;
						    right: 0;
						    pointer-events: none;
						    .product-item-actions{
						    	.flex();
						    	flex-direction: column-reverse;
    							align-items: flex-end;
    							.actions-primary{
    								margin-top: 20%;
    								flex: 1;
    								width: 100%;
    								background: transparent;
    								 pointer-events: visible;
    							}
						    }
						}
					}
					.actions-primary{
						position: static;
						width: auto;
						height: auto;
						border-radius: 0;
						@transform: translateY(-3rem);
						.lib-css(transform, @transform, @_prefix: 1);

						.transition();
						form {
							width: 100%;
						}
						.action.tocart{
							.lib-button();
							border-radius:0;
							padding: 7.5px 20px;
							font-size: 1.4rem;
							text-transform: uppercase;
							width: 100%;
							&:not(:hover){
								background: @heading__color__base;
								color: @color-white;
							}
							&:before{
								display: none;
							}
						}
					}
					.field.choice.related{
						right: 1.5rem;
						bottom: 1rem;
						top: auto;
						left: auto;
						background: transparent;
						margin: 0;
						 pointer-events: visible;
						position: relative;
						margin-top: 1.2rem;
						box-shadow: none;
						.action.tocart,
						label {
							&:before {
								.icon-font("\f07a");
								font-weight: 600;
								font-size: 1.3rem;
								color: @heading__color__base; 
							}
							&:hover{
								background-color: transparent;
							}
						}
						&:hover {
							label {
								&:before {
									color: @color-white;	
								}
							}
						}
					}
				}
				.field.choice.related,
				.actions-secondary .action{
					font-size: 0;
				    width: 4rem;
				    height: 4rem;
				    background: @color-white;
					@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.border_radius(50%);
					display: inline-flex;
					.flex-center();
					margin: 0 5px;
					 pointer-events: visible;
					&:before{
						color: @heading__color__base;
						line-height: 4rem;
					}
					&:hover {
						background: @theme__color__primary;
						&:before {
							color: @color-white; 
						}
					}
					&.loading{
						&.towishlist{
							display: block;
							line-height: 40px;
							text-align: center;
						}
						&:before{
							line-height: 4rem;
						}
					}
				}
				
				.actions-secondary{
					position: static;
					box-shadow: none;
					transform: none;
					padding: 0;
					z-index: 2;
					display: inline-flex;
					background: transparent;
					flex-direction: column;
					.transition();
					margin-right: 0;
					.action{
						margin: 5px 0;
						&.link-quickview{	
							&:before{
								.icon-font("\f06e");
								font-size: 1.4rem;
							}
						}
						&.towishlist{
							&:before{
								.icon-font("\f004");
								font-size: 1.4rem;
							}
							span{
								display:none;
							}
						}
						&:before{
							margin: 0;
							top: 0;
						}
					}
					&:before,
					&:after{
						display: none !important;
					}
				}
				&:hover{		
					.product-item-photo{
						.product-image-wrapper{
							.product-image-photo{
								@transform: scale(1.1);
								.lib-css(transform, @transform, @_prefix: 1);
							}
						}
					}
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary{
						@transform: translateY(0);
						.lib-css(transform, @transform, @_prefix: 1);
					}
					.actions-secondary{
						margin-right: 1.5rem;
					}					
				}
			}
		}
		&.products-related{
			.product.actions.product-item-actions{
				bottom: calc(~'100% + 1rem');
			    left: 0;
			    right: 0;
			    pointer-events: none;
			    display: flex;
			    flex-direction: column;
			    min-height: 100%;
			    justify-content: flex-start;
			    align-items: flex-end;
			    position: absolute;
			    z-index: 2;
			}
		}
	}
	body{
		.block.related, 
		.block.upsell {
			.block-title {
				h3 {
					font-family: @otherfont;
					padding: 0.7rem 1.8rem;
				}
			}
			.products-grid {
				.product-item {
					.actions-secondary {
						.action.tocompare{
							display: inline-flex !important;
						}
					}
				}
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				.product-item-info .product-item-details .product-item-description {
				    display: inline-block;
				    width: 100%;
				}
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-products .products-grid .product-item{
		width: 33.33333333%;
	}
}
// Blog
& when (@media-common = true) {
	
	.section.block-recent-posts{
		.blog-description{
			p{
				font-size: 1.6rem;
			}
		}
		.post-list-wrapper {
			.blog-list-post .item-post-full{
				&:not(:last-child){
				}
				.blog-post-thumb{
					border-radius: 1.2rem 1.2rem 0 0;
					.post-category-name{
					position: absolute;
					top: 2rem;
					left: 2rem;
					border-radius: 3rem;
					background: @color-white;
					padding: 6px 2rem;
					.transition();
					a{
						font-size: 1.2rem;
						text-transform: uppercase;
						font-weight: @font-weight__semibold;
						color: @heading__color__base;
						display: inline-block;
					    letter-spacing: .1em;
					}
					 &:hover{
				    	background: @theme__color__primary;
				    	a {
				    		color: @color-white;
				    	}
				    }
				}
			}
				.blog-post-info{
					padding: 3.3rem 4rem;
    				overflow: hidden;
    				border-radius: 0 0 1.5rem 1.5rem;
					@media only screen and (max-width: (@screen__s - 1)) {
					    padding: 3rem ;
					}
					.flex-layout {
						margin-bottom: 2rem;
					}
					.time-conment{
						color: @text__color;
						font-size: 14px;
						font-style: italic;
						margin-bottom: 2rem;
						.fa-calendar-alt{
							display: none;
						}
					}
					.post-title{
						line-height: 1.3;
						font-size: 2.4rem;
						font-weight: @font-weight__bold;
						a{
							color: #111111;
						}
					}
					.desc{
						margin: 1.5rem 0;
					}
					.post-readmore{
						position: relative;
					    background: 0 0;
					    font-size: 1.4rem;
					    color: #404040;
					    padding: 0;
					    text-transform: uppercase;
					    font-weight: @font-weight__semibold;
					    padding: 0 1rem;
					    z-index: 1;
					    &:before{
					   		position: absolute;
						    content: '';
						    top: 50%;
						    bottom: 0;
						    left: 0;
						    right: 0;
						    .transition();
						    z-index: -1;
						    background: @theme__color__primary;
						    opacity: 0.3;
					    }
					    &:hover {
					    	color: @color-white;
					    	&:before{
				    	 	    top: -40%;
    							bottom: -40%;
    							opacity: 1;
					    	 	.transition();
					    	}
					    }
					}
				}
			}
		}
	}
}