//Font
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold; 
@heading__line-height__base: 1.2;
@heading__color__base: #333333;

@theme__color__primary: #ffd333; 
 @border-color__base: #e0e0e0;
// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: #333333;

@checkout-button-bg: #e6e6e6;  
@checkout-button-color: #888;
//Button variable
@button__border-radius: false; 
@button__color: #333;
@button__padding: 14px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width 
@button_mobile_padding: 14px 20px;
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;
@button__text_transform: capitalize;
 
@form-element-input__height: 48px;

// Topbar
@topbarbg: @theme__color__primary;
@topbarcolor: #333333;

// Header
@header__background-color: @color-white;
@header-border-color: false;

@header_sticky_bg: @header__background-color;
@header_sticky_border: false;
@header-icons-color: @heading__color__base;

@headerpadding: 15px; // Make header height bigger than menu height
@sticky_padding: 8px;
@module_title-size: 2.8rem;
/* footer */
@footer-title-color: @color-white;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @font-weight__bold;
@footer-title-transform: capitalize;
@footer__background-color: transparent;
@social_link_bg: #868686;

@footercolor: fade(@color-white, 80%);
@footer-border-color: #525252;

@footer-middle-bg: transparent;
@footer-bottom_bg: transparent;
@footer_bottom_color: fade(@color-white, 80%);

@category-name-size: 14px;
@category-name-color: #888888;
@category-name-font-family: @font-family-name__base;
@padding-category-thumb: 0;

// Newsletter pop up
@newsletter_title_size: 4.4rem;
@newsletter_title_mobile_size: 3.4rem;
@newsletter_title_transform: capitalize;

@newsletter_des_size: 1.4rem;
@newsletter_des_transform: capitalize;

// Gobal space (such as: bettween module in home page....)
@margin_gobal_value: 9.5rem;
.margin_gobal_value(){
    .lib-css(margin-bottom, @margin_gobal_value); 
    //Margin bottom for section
}

// Menu
//Level 0

@menufont: inherit;
@navigation-desktop__background: transparent;
@navigation-desktop__font-size: 1.6rem; // Destop navigation font size

@navigation-desktop-level0-item__color: @heading__color__base;
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
@navigation-desktop-level0-item__hover__text-decoration: false;
@navigation-level0-item__font-family: @menufont;
@navigation-level0-item__text-transform: capitalize;
@navigation-level0-item__font-size: 16;
@navigation-level0-item__font-weight: @navigation-desktop__font-weight;
@navigation-desktop-level0-item__padding: 0 15px;

@navigation-desktop__font-weight: @font-weight__bold;
@submenu-desktop-item__hover__color: @theme__color__primary;
// Level 1
@level1_color: @heading__color__base;
           
.icon_header(){
	font-size: 2.5rem;
    line-height: 3rem;
    position: relative;	
};

// Button
@second_button_bg: @color-white-smoke; // #f5f5f5
@second_button_color: @button__color;

@checkout-button-bg: #e6e6e6; 
@checkout-button-color: #888;
//Button variable
@button__border-radius: false; 
@button__font-size: 1.5rem;
@button__color: #333;
@button__padding: 14px 30px; // is set up to false when buttons don't depend on side paddings or have fixed width 
@button__hover__color: @button__color;
@_border-radius_base: @button__border-radius;

@form-element-input__height: 46px;
// revo rapper-the-blue-sky-slider
@slider_h3_text-transform: false;

@slider_h2_font-size-xxl: 80px; 
@slider_h2_font-size-xl: 65px;
@slider_h2_font-size-l: 46px;
@slider_h2_font-size-s: 40px;
@slider_h2_font-size-xs: 30px;
@slider_h2_letter-spacing: false;
@slider_h2_font-weight: @heading__font-weight__base;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0;
@slider_h2_line-height: 1; 

@slider_h4_text-transform: capitalize;
@slider_h4_font-size-xxl: 44px;
@slider_h4_font-size-xl: 36px;
@slider_h4_font-size-l: 24px;
@slider_h4_font-size-s: 22px;
@slider_h4_font-size-xs: 20px;
@slider_h4_margin: 0;
@slider_h4_font-weight: 300;

 
@slider_h5_text-transform: false;
@slider_h5_font-weight: @font-weight__regular;

// Slider paragraph
@slider_p_font-size-xxl: 16px;
@slider_p_font-size-xl: 15px;
@slider_p_font-size-l: 14px;
@slider_p_font-size-s: 14px;
@slider_p_font-size-xs: 13px;
@slider_p_font-weight: @font-weight__regular;
@slider_p_letter-spacing: false;
@slider_p_text-transform: false;
@slider_p_margin: 10px;
@slider_p_line-height: 1.5; 

@slider_button_font-size-xxl: 15px;
@slider_button_font-size-xl: 15px;
@slider_button_font-size-l: 14px;
@slider_button_font-size-s: 13px;
@slider_button_font-size-xs: 12px;  

@slider_button_margin-top: 20px;
@slider_button_padding: @button__padding;
@slider_button_padding-s: 6.5px 15px;

// Owl, slider dot
@nivo-controlNav-veritcal-postion: 50px;
@nivo-controlNav-postion: left;
@nivo-controlNav-bg: rgba(51,51,51,0.3);
@nivo-controlNav-width: @owl-dot-width;
@nivo-controlNav-height: @owl-dot-height;
@nivo-controlNav-border-radius: @owl-dot-border-radius;

@owl-dot-bg: #bec1c5;
@owl-dot-width: 7px;
@owl-dot-height: 7px;
@owl-dot-border-radius: 50%;
// Change gobal style
& when (@media-common = true) {
	body{
		.owl-carousel,
		.wrapper-the-blue-sky-slider{
			.owl-dots,
			.nivo-controlNav{
				.owl-dot,
				.nivo-control{
					margin: 0 7.5px;
					position: relative;
					&:after{
						content: '';
						border: 2px solid;
						border-color: transparent;
						position: absolute;
						top: -2px;
						left: -2px;
						bottom: -2px;
						right: -2px; 
						border-radius: 50%;
					}
					&.active{
						background: transparent !important;
						&:after{
							border-color: @heading__color__base;
						}
					}
				}
			}
		}
		.wrapper-the-blue-sky-slider{
			.nivo-controlNav{	
				 bottom: 30px;
			    text-align: center;	 
		    	@media only screen and (max-width: (@screen__m - 1)) {
		    		 bottom: 15px;
		    	}
				.nivo-control{			 
					&.active{
						&:after{
							border-color: @heading__color__base; 
						}
					}
				}
			}
		}
		.recommended {
			.wrapper_product_tabs {
				.rokan-title {
					display: none;
				}
			}
		}
	}
	.rokan-title{
		border-bottom: 2px solid @border-color__base;
		a{
			font-weight: @font-weight__bold;
			display: inline-block;
			line-height: 3.3rem; 
			&:not(:hover){
				color: @heading__color__base;
			}
			&:after{
				.icon-font("\f138");
			    font-weight: 900;
			    margin-left: 1rem;
			    vertical-align: middle;
			    color: @theme__color__primary;
			}
		}
	}

	body{
		#newsletter_pop_up {
			@media only screen and (max-width: (@screen__s - 1)) {
				max-height: 75vh;
				top: 50%!important;
				transform: translateY(-50%);
				position: fixed!important;
			   
			}

			
			&:after {
				content: '';
				position: absolute;
				left: -15px;
				right: -15px;
				bottom: -15px;
				top: -15px;
				border: 15px solid rgba(255,255,255,0.15);
				pointer-events: none;
			}
			.newletter_popup_close{
				background: transparent;
			    border-bottom: 2px solid #000;
			    top: 35px;
			    right: 35px;
			    box-sizing: content-box;
			    width: 2rem;
    			height: 2rem;
			    &:before{
			    	color: #000000!important;
			    	font-size: 3.2rem;
			    	font-weight: 600;
			    	overflow: visible;

			    }
			}
			.col-newsletter-popup .content-popup .control input{
				padding-left: 3rem;
			}
			.col-newsletter-popup .content-popup .form .control input{
				padding:0;
			}
		}
	}
	#newsletter_pop_up{
		.col-newsletter-popup{
			justify-content: flex-end;
			background-position: right center !important;
			@media only screen and (max-width: (@screen__m - 1)) {
	    		 justify-content: center;
	    	}
			.content-popup{
				width: 50%;
				text-align: left;
				padding: 0 5%;
				@media only screen and (max-width: (@screen__m - 1)) {
		    		 width: 75%;
		    		 padding: 4.5rem 0 0 0;
		    		 text-align: center;
		    	}
				h2{
					margin-bottom: 2rem;
					@media only screen and (max-width: (@screen__s - 1)) {
			    		margin-bottom: 1rem;
			    	}
				}
				p{
					color: @heading__color__base;
					margin-bottom: 4rem;
					@media only screen and (max-width: (@screen__s - 1)) {
			    		margin-bottom: 2rem;
			    	}
				}

				.form{
					position: relative;
					padding-top: 3rem;
					@media only screen and (max-width: (@screen__s - 1)) {
			    		padding-top: 1.5rem;
			    	}
					&:before{
						content: '';
						width: 10px;
					    height: 10px;
						border: 2px solid;
						position: absolute;
						top: -2px;
						left: 0;
						bottom: -2px;
						right: -2px; 
						border-radius: 50%;
						color: #000000;

					}
					&:after{
						content: '';
						position: absolute;
					    top: 2px;
					    bottom: 0;
					    left: 25px;
					    right: 0;
					    height: 1px; 
					    background: #000000;

					}
					.control input{
						margin-bottom: 25px;
						background: transparent;
					}
				}
				.subscribe-bottom{
					position: static;
					margin-top: 10px;
				}
				.actions button{
					width: 220px;
				}
			}
		}
	}

}
/* Hover action */

& when (@media-common = true) {
	//Product grid
	.product-item-name, 
	.product.name a{
		.lib-font-size(15);
	}
	// Label
	.product-item {
		.product-label{
			top: 0;
			font-weight: 500;
			.lib-font-size(12);
			&.onsale{
				right: 0;
			}
			&.newlabel{
				left: 0;
			}
		}
	}
	// Remove padding in product owl slider
	.cms-index-index{
		.products-grid{
			.product-items{
				&.owl-carousel{
					margin: 0;
					width: 100%;
					.product-item{
						padding: 0;
					}
				}
			}
		}
	}
	.products-grid{
		.product-items,
		*[class*="product-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel){
				border-left: 0;
				margin: 0 -1.5rem !important;
			}
			.product-item{
				border: none;
				margin: 0 0 58px 0;
				padding: 0 1.5rem;
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height: 1;
					overflow: hidden;
					.product-image-photo{
						.transition();
					}
				}
				.product-item-info {
					position: relative;
					padding: 0;
					&:before {
						display:none; 
					}
					.count-down.deal-timer{
						opacity: 1;
						visibility: visible;
						@transition: all 0.3s ease;
						.lib-css(transition, @transition, @_prefix: 1);
					}
					.product-item-details {
						.product-reviews-summary{
							.reviews-actions{
								.action.view{
									display: none;
								}
							}
						}
						.price-box{
							font-weight: @font-weight__bold;
							*{
								.lib-font-size(16);
							}
							.old-price{
								color: #c1c1c1;
								.price{
									color: #c1c1c1;
								}
							}
						}
						.product-item-inner{
							position: absolute;
   							bottom: calc(~'100% + 1rem');
						    z-index: 222;
						    left: 0;
						    right: 0;
						    pointer-events: none;
						    .product-item-actions{
						    	.flex();
						    	flex-direction: column-reverse;
    							align-items: flex-end;
    							.actions-primary{
    								margin-top: 20%;
    								flex: 1;
    								width: 100%;
    								background: transparent;
    								 pointer-events: visible;
    							}
						    }
						}
					}
					.actions-primary{
						position: static;
						width: auto;
						height: auto;
						border-radius: 0;
						@transform: translateY(0);
						.lib-css(transform, @transform, @_prefix: 1);

						.transition();
						.action.tocart{
							.lib-button();
							&:not(:hover){
								background: @heading__color__base;
								color: @color-white;
							}
							&:before{
								display: none;
							}
						}
					}
					.field.choice.related{
						right: 1.5rem;
						bottom: 1rem;
						top: auto;
						left: auto;
						background: transparent;
						margin: 0;
						 pointer-events: visible;
						position: relative;
						margin-top: 1.2rem;
						box-shadow: none;
						.action.tocart,
						label {
							&:before {
								.icon-font("\f07a");
								font-weight: 600;
								font-size: 1.3rem;
								color: @heading__color__base; 
							}
						}
					}
				}
				.field.choice.related,
				.actions-secondary .action{
					font-size: 0;
				    width: 4rem;
				    height: 4rem;
				    background: @color-white;
					@box-shadow: 0 1px 2px rgba(0,0,0,.2);;
					.lib-css(box-shadow, @box-shadow, @_prefix: 1);
					.border_radius(50%);
					display: inline-flex;
					.flex-center();
					margin: 0 5px;
					 pointer-events: visible;
					&:before{
						color: @heading__color__base;
						line-height: 4rem;
					}
					&:hover {
						background: @theme__color__primary;
						&:before {
							color: @color-white; 
						}
					}
					&.loading{
						&.towishlist{
							display: block;
							line-height: 40px;
							text-align: center;
						}
						&:before{
							line-height: 4rem;
						}
					}
				}
				
				.actions-secondary{
					position: static;
					box-shadow: none;
					transform: none;
					padding: 0;
					z-index: 2;
					display: inline-flex;
					background: transparent;
					flex-direction: column;
					.transition();
					margin-right: 0;
					.action{
						margin: 5px 0;
						&.link-quickview{	
							&:before{
								.icon-font("\f06e");
								font-size: 1.4rem;
							}
						}
						&.towishlist{
							&:before{
								.icon-font("\f004"); 
								font-size: 1.4rem;
							}
							span{
								display:none;
							}
						}
						&:before{
							margin: 0;
							top: 0;
						}
					}
					&:before,
					&:after{
						display: none !important;
					}
				}
				&:hover{		
					.product-item-photo{
						opacity: 0.2;
						.product-image-wrapper{
							.product-image-photo{
								@transform: scale(1.1);
								.lib-css(transform, @transform, @_prefix: 1);
							}
						}
					}
					.product-item-info{
						&:before{
							display: none;
						}
						.product-thumb{
							.count-down.deal-timer{
								opacity: 0;
								visibility: hidden;
							}
						}
					}		
					.actions-primary{
						@transform: translateY(-3rem);
						.lib-css(transform, @transform, @_prefix: 1);
					}
					.actions-secondary{
						margin-right: 1.5rem;
					}					
				}
			}
		}
		&.products-related{
			.product.actions.product-item-actions{
				bottom: calc(~'100% + 1rem');
			    left: 0;
			    right: 0;
			    pointer-events: none;
			    display: flex;
			    flex-direction: column;
			    min-height: 100%;
			    justify-content: flex-start;
			    align-items: flex-end;
			    position: absolute;
			    z-index: 2;
			}
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	.products-grid{
		.owl-carousel.owl-drag .owl-item{
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	section, .section, .product.info.detailed, .block.related, .block.upsell,.hot-deal-tab-slider{
		
		@media only screen and (max-width: (@screen__l - 1)){
			
			margin-bottom: 6rem;
		}
		
	}
	.block.related .block-title,
	.block.upsell .block-title, .block.crosssell .block-title{
		border-bottom: 0;
	}
	.margin_0{
		margin: 0!important;
	}

}
//Header
& when (@media-common = true) {
	.header-container.sticky .sticky-header {
		border-bottom: 1px solid @border-color__base;
	}
	.header-container{
		
		border-bottom: 1px solid @border-color__base; 
		// Topbar
		.topbar{
			padding: 0 3rem;
			.topbar-inner{
				 > div > * {
			 	    padding: 0.5rem 0px;
				 }
				.col-top-link {
					a{
						&:hover {
							color: @heading__color__base;
							&:before{
								color: @heading__color__base !important;
							}
						}
					}
				}
				.col-left,
				.col-right {
					flex: 1;
				}
				.col-left{
					ul{
						list-style: none;
						width: 100%;
						margin: 0 -1rem;
						li{
							margin-bottom: 0;
							padding: 0 1rem;
							.icon{
								margin: 0 5px 0 0;
								padding-right: 0;
								font-weight: @font-weight__semibold;
							}
							.icon,
							.fa,
							.far{
								font-size: 0;
								&:before{
									font-size: 1.4rem;
								}
							}
							a{
								display: inline-flex;
								align-items: center;
								&:not(:hover){
									.icon{
										&:before{
											color: @topbarcolor;
										}
									}
								}
							}
						}
					}
				}
				.col-right {
					justify-content: flex-end;
					@media only screen and (max-width: (@screen__s - 1)){ 
						.header.links {
							display: none;
						}
					}
				}
			}
		}
		.header-middle{
			padding-left: 3rem;
			padding-right: 3rem;
			@media only screen and (max-width: (@screen__l - 1)){ 
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}
		.block.block-search {
			position: static;
			.dropdown{
				.top-search{
					color:  @header-icons-color;
					margin-right: 0.6rem;
					i{
						.lib-font-size(23);
					}
				}
				.form.minisearch{
					right: 0;
				}
			}
		}
		// Language currency
			.container-setting-language-currency{
				.switcher{
					padding: 0 10px 0 1.2rem;
					border: none!important;
					.switcher-options .switcher-trigger.action.toggle:hover {
						 strong,&:after {
							color: @heading__color__base;
						}
					}
					.switcher-options.active .dropdown.switcher-dropdown {
						top: calc(~'100% + 0.9rem'); 
					}
				}
			}
			.header.links{
				padding-left: 1.2rem;
				align-items: center;
				li{
					border: none!important;
					&:first-child{
						border-right: 0 !important;
					}
					&:last-child{
						padding-left: 0.3rem !important;
					}
				}
			}
		.col-action {
			li,
			.minicart-wrapper .action.showcart{
				.counter.qty{
				    min-width: 2.2rem;
					min-height: 2.2rem;
					color: @topbarcolor;
					position: relative;
					top: -1px;
					margin-left: 4px;
				}
			}
			.action-header > li {
				margin: 0 1.1rem;
				> a,
				.minicart-wrapper > a{
					display: inline-flex;
					align-items: center;
					padding-right: 0;
				}
			}
			.minicart-wrapper{
				margin-left: 0;
			}
		}
		&:not(.sticky){
			.header-middle {
				.lib-css(padding-top, @headerpadding);
				.lib-css(padding-bottom, @headerpadding);
			}
		}
		&.sticky {
			.sticky-header > div {
				max-width: none;
				padding-left: 0;
				padding-right: 0;
			}
		}
		.sticky-header{
			.logo-container{
				.logo-site{
					max-width: 30rem;
				}
			}
		}
	}
	 
	.navigation span.cat-label.cat-label-label3{
		background: @theme__color__primary !important;
		color: @heading__color__base;
		&:before{
			border-right-color: @theme__color__primary !important;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .header-container{
		 .topbar .topbar-inner {
		 	.col-left,.col-center{
		 		display: none;
		 	}
		 	.col-right{
		 		justify-content: center;
		 		
		 	}
		}

		.sticky-header{
			.logo-container{
				flex: 1;
			}
			.primary-menu-container {
			    margin-right: 1.1rem;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body{
		.header-container{
			.sticky-header{
				.for-full-width-menu{
					flex-wrap: wrap;
					.logo-container{
						flex: 0 0 100%;
						max-width: 100%;
						text-align: center;
						.logo-site{
							margin: auto;
						}
					}
				}
				
			}
		}
	}
}
// Footer
& when (@media-common = true) {
	.page-footer{
		background-attachment: fixed;
		background-position: left center!important;
		@media only screen and (max-width: (@screen__l - 1)){
			
			margin-top: 6rem;
		}
		
		.footer-container{
			.footer-static_link{
				.block-newsletter-form{
					.rokan-title{
						margin-bottom: 1.5rem;
						border-bottom: 0;
						.short-des{
							margin-bottom: 1.4rem;
						}
					}
					.newsletter-form{
						float: none;
						.field .control{
							justify-content: flex-start;
							.input-focus{
								flex: 1;
							}
						}
						.action.subscribe{
							padding: 13px 30px;
						}
					}
				}
				.footer-links{
					&.not-collapse-mobile{
						flex: 0 0 40%;
    					max-width: 40%;
    					&.square-social{
    						.social-link{
    							li{
    								a{
    									&:not(:hover){
    										.icon{
    											color: @heading__color__base;
    										}
    									}
    								}
    								&:not(:first-child){
    									padding-left: 1rem;
    								}
    								&:not(:last-child){
    									padding-right: 1rem;
    								}
    							}
							}
    					}
					}
					.footer-contents{
						li{
							margin-bottom: 1.4rem;
							a{
								.lib-icon-font(
					               	@icon-next,
					                @_icon-font-size: 24px,
					                @_icon-font-line-height: 20px,
					                @_icon-font-text-hide: true,
					                @_icon-font-position: before
					            );
					            &:before{
					            	padding-right: 0;
    								margin-left: -0.9rem;
					            }
							}
						}
					}
					&.contact{
						flex: 0 0 22%;
						max-width: 22%;
						.footer-contents{
							.flex-layout{
								flex-wrap: nowrap;
								&:first-child {
									margin-top: 3.4rem;
								}							
								.icon{
									em, span, i{
										&:before{
											color: @theme__color__primary;
											font-size: 18px;
										    position: relative;
										    top: 3px;
										}
									}
								}
								p{
									margin-bottom: 1.5rem;
								}
							}
						}
					}
				}
			}
			.footer-top > .footer.content {
			    padding-top: 7rem;
			}
			.footer-bottom{
				margin-top: 4.3rem;
				.hozital-menu{
					p{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer{
		.footer-container{
			.footer-static_link{
				.block-newsletter-form{
					width: 90%;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	body .page-footer{
		.footer-container{
			.footer-static_link{
				.block-newsletter-form {
					.rokan-title{
						text-align: center;
						.module-title{
							text-align: center;
						}
					}
					.newsletter-form{
						margin-bottom: 1rem;
					}
				}
				.footer-links{
					&.not-collapse-mobile{
						flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 2rem;
						text-align: center;
						order: -1;
						.social-link{
							justify-content: center;
						}
					}

					&.contact{
						flex: 0 0 33%;
    					max-width: 33%;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .page-footer{
		.footer-container{
			.footer-static_link{
				.footer-links{
					&.contact{
						flex: 0 0 100%;
    					max-width: 100%;
					}
					
				}
			}
		}
	} 
}
// Slider 
& when (@media-common = true) {
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			.the-blue-sky-banner-text {
				&.right_center{
					left: 60%;
					text-align: left;
					@media only screen and (max-width: (@screen__m - 1)){
						left: 45%;
					}
					@media only screen and (max-width: (@screen__s - 1)){
						left: 0%;
					}
				}
				*{
					&.light{
						font-weight: @font-weight__light;
					}
					&.inline{
						vertical-align: middle;
						margin: 20px 0;
						@media only screen and (max-width: 1399px){
							.get-vw-xl(margin-top, 20px);
							.get-vw-xl(margin-bottom, 20px);
						}
						@media only screen and (max-width: (@screen__m - 1)){
							.get-vw-xl(margin-top, 10px);
							.get-vw-xl(margin-bottom, 10px);
						}
					}
					
				}
				h4 {
					&.inline{
						font-weight: @font-weight__bold;
						margin-left: 1.5rem;
					}
				}
				.btn{
					
				}
			}
		}
	}
}

// Blog
& when (@media-common = true) {
	.section{
		.post-list-wrapper {
			.blog-post-info{
				border: 0;
				padding: 2.1rem 0 0;
				.post-title{
					margin-bottom: 0.5rem;
				}
				.post-category-name{
					position: static;
					padding: 0;
					background-color: transparent;
					text-transform: uppercase;
					transform: none;
					margin: 0;
					font-size: 1.2rem;
					&:not(:hover){
						color: @text__color;
					}
				}
				.time-conment{
					font-size: 1.2rem;
					&:before{
					    content: '';
					    width: 6px;
					    height: 6px;
					    border: 3px solid;
					    border-radius: 50%;
					    opacity: .5;
					    margin: auto;
					    background: @text__color;
					    display: inline-flex;
					    vertical-align: middle;
					    margin: 0 15px;
					}
				}
			}
			.blog-list-post{
				.item-post-full{
					.blog-post-info{
						.desc{
							margin: 2rem 0 0 0;
						}
					}
				}
			}
		}
	}
}

// Brand
& when (@media-common = true) {
	.column.main{
		> div{
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.block-widget-rokanthemes-brand{
		margin: 0;
		.owl-carousel.owl-drag .owl-item{
			.transition();
			&:not(:hover){
				opacity: 0.6;
			}
		}
	}
}
// Banner
& when (@media-common = true) {
	
	.banner{ 
		&.box-layout{
			> .row{
			    max-width: 1890px;
				margin: auto;
			}
		}	
		&.tool-middle{
			.col-banner{
				@media only screen and (max-width: (@screen__l - 1)) {
					&:not(.not-has-text) .banner-img {
						left: 0;
						right: 0;		
					}
				}
				&.center.left {
					.content{
						padding: 0 0 0 6.5rem;
						@media only screen and (max-width: (@screen__l - 1)) {
							.get-vw-xl(padding-left, 65px);
							.get-vw-xl(padding-top, 100px);
							.get-vw-xl(padding-bottom, 100px);
						}
					}
				}
				.content{
					h4 {
						display: inline-block;
					    border-top: 2px solid #444444;
				        border-bottom: 2px solid #444444;
				        padding: 0.8rem 0;
				        margin-top: 0;
				        margin-bottom: 5rem;
				        @media only screen and (max-width: (@screen__l - 1)) {
							.get-vw-xl(margin-bottom, 50px);
						}
					}
					p{
						margin-bottom: 1.9rem;
						@media only screen and (max-width: (@screen__l - 1)) {
							.get-vw-xl(margin-bottom, 19px);
						}
					}
					.button-wrap{
						margin-top: 2.7rem;
						@media only screen and (max-width: (@screen__l - 1)) {
							.get-vw-xl(margin-top, 27px);
						}
						a{
							border: none;
							color: #222;
							font-size: 1.5rem;
							text-transform: capitalize;
							font-weight: @font-weight__bold;

							&:after{
								content: "\f138";
							    font-family: "Font Awesome 5 Free";
							    font-weight: 900;
							    margin-left: 1rem;
							    vertical-align: middle;
							}
							&:hover{
								color: @theme__color__primary;
							}
						}
					}
				
				}  
			}
		}
		&.tool-bottom{
			.col-banner{
				&.center.left {
					.content{
						p{
							color: @heading__color__base;
							margin: 5px 0;
						}
						h2{
							margin-bottom: 3rem;
						}
					}
				}
			}
		}
		.banner-content{
    		>.flex-layout{
    			
    		}
		}
		.rolated{
			font-size: 16px;
		    line-height: 26px;
		    font-weight: 900;
		    letter-spacing: 1.06em;
		    border-style: solid;
		    border-width: 2px;
		    padding: 12px calc(~'18px - 1.06em') 10px 18px;
		}
		.price-content{
			margin-bottom: 3.5rem;
			h2{
				margin-bottom: 0;
				font-weight: 300;
			}
			span{
				font-size: 6rem;
				color: @heading__color__base;
				margin-right: 2.5rem;
				font-weight: 300;
			}
			.number{
				font-size: 110px;
				@media only screen and (max-width: 1399px){
					font-size: 90px;
				}

			}
			.flex-layout{
				margin-right: 2.5rem;
			}
		}
	}
	
	.shipping-support{
		&.car-parts{
			.fa,
			.far,
			.icon{
				position: relative;
				top: 5px;
				&:before{
					.lib-font-size(41);
				}
			}
		}
		p{
			&.size-15{
				font-weight: @font-weight__bold !important;
				line-height: 1.5;
	    		margin-bottom: 1rem !important;
	    	}
		}
	}
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body .banner {
		.col-banner:not(.not-has-text) .banner-img img{
			right: 40%;

		}
		.rolated{
			letter-spacing: 5px;
		}
	}
}
// Supper deal
// 

@banner_padding: false;
@deal_product_name_size: 1.4rem;
@deal_number_bg: false;
@deal_number_font-size: 1.5rem;
@deal_number_font-weight: @font-weight__bold;
@deal_number_color: #222;
@deal_number_width: false;
@banner_deal_number-border-radius: false;
// Sub title
@sub_title_supper_deal-font-size: 1.5rem;
@sub_title_supper_deal-color: #222;
@sub-title_supper_deal_letter-spacing: false;
@sub-title_supper_deal_font-weight:  @font-weight__bold;
@sub-title_supper_deal_font-family: false;
@sub-title_supper_deal_margin: false;
// Title

@title_supper_deal_color: @heading__color__base;
@title_supper_deal_size: 2.8rem;
@title_supper_deal_mobile_size: 2.8rem;
@title_supper_deal_font-weight: @heading__font-weight__base;
@title_supper_deal_letter-spacing: false;
@title_supper_deal_letter-family: false;
@title_supper_deal_margin: false;
& when (@media-common = true) {
	.hot-deal-tab-slider {
		.info-price{
		    border: 0;
		    padding: 0;
		    margin: 0;
		    display: block;
		}
		.supper-deal-title{
			padding: 0;
			align-items: center;
			h3{
				margin-bottom: 0.5rem;
			}

			@media only screen and (max-width: @screen__xxs) { 
			    flex-direction: column;
    			align-items: flex-start;
			}
			.bg_deal{
				background: @theme__color__primary;
			    align-items: center;
			    padding: 8px 2.5rem;
			    margin: 0 2rem;
			    margin-bottom: 1.7rem;
			    @media only screen and (max-width: (@screen__xs - 1)) {
					margin-left: 0;
					margin-right: 0;
					width: 100%;
				}
			}
			.title-deal{
			
			}
			.sub-title-deal{
				margin: 0 !important;
				margin-right: 1.5rem;
				&:before{
					.icon-font("\f1da");
					font-weight: 900;
					font-size: 1.5rem;
					margin-right: 7px;
				}
			}
			.super-deal-countdown{
				margin: 0;
				.time_circles{
					margin: 0;
					.text{
						display: none;
					}
				}
			}
			p{
				margin-bottom: 0;
			    flex: 1;
    			text-align: right; 
    			 @media only screen and (max-width: (@screen__xs - 1)) {
					text-align: left; 
				}
			}
		}
		.super-deal-countdown {
			.time_circles > div{
				padding: 0;
				&:not(:last-child) {
				    margin-right: 0.5rem;
				    &:after {
					    content: ":";
					    display: inline-block;
					    margin-left: 0.5rem; 
					    color: @deal_number_color;
					}
				}
			}
		}
	}

}

// Product tab, Sub category tab
& when (@media-common = true) {
	// wrapper_category_product_tabs
	.wrapper_category_product_tabs{
		&.container_horizontal_tab_postions{
			position: relative;
			.ui-tabs-nav{
				white-space: nowrap;
   				overflow-y: hidden;

			}
			@media only screen and (min-width: @screen__l) {
				.rokan-title{
					position: absolute;
					left: 0;
					top: 0;
					width: 45%;
					.module-title{
						white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					}
				}
				.ui-tabs-nav{
					text-align: right;
					padding-left: 45%;
					li{
						margin-bottom: 0.8rem;
					}
				}
			}
			.rokan-title{
				border-bottom: 0;
			}
			.ui-tabs-nav{
				padding-bottom: 1rem;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					border-bottom: 2px solid @border-color__base;
				}
				li{
					padding: 0 !important;
					a{
						padding: 0 1rem;
						.lib-font-size(15);
						font-family: @heading__font-family__base;
						text-transform: uppercase;
						position: relative;
						&:not(:hover){
							.lib-css(color, @greycolor);
						}
						&:after{
							position: absolute;
							left: 0;
							right: 0;
							bottom: -1.8rem;
							content: '';
							border: 2px solid transparent;
							z-index: 1;
							@media only screen and (max-width: (@screen__l - 1)) {
								bottom: -2.2rem;
							}
						}
					}
					&.ui-tabs-active,
					&:hover{
						a{
							color: @theme__color__primary;
							&:after{
								border-color: @theme__color__primary;
							}
						}
					}
				}
			}
		}
		&.container_vertical_tab_postions{
			.ui-tabs-nav {
				li {
					a{
						padding-bottom: 2.83rem;
						padding-top: 2.83rem;
					}
				}
			}
		}
	}
	.col-category{
		padding: 0 1.5rem;
		.wrapper_sub_category_tabs{
			background-attachment: inherit !important;
			padding: 0 !important;
			.rokan-title{
				display: none;
			}
		}
		&:not(.onlyparent) {
			.category-thumb-section {
				.widget-tabs {
					padding: 4rem 3rem;
					> ul{
						grid-template-columns: 1fr;
						margin-bottom: 0;
						> li{
							&:before{
								color: @color-white;
							}
							> a{
								.lib-font-size(3rem);
								margin-bottom: 3rem;
								&:not(:hover){
									color: @color-white !important;
								}
							}
						}
						ul{
							grid-template-columns: 1fr 1fr;
							grid-column-gap: 3rem;
							display: grid;
						}
					}
				}
			}
		}
	}
	.col-product{
		padding: 0 1.5rem;
		.products{
			margin: 0;
		}
		.owl-carousel.owl-drag .owl-item{
			&:not(.active){
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	// Sub category tab

	.wrapper_sub_category_tabs{
		padding: 2rem 0; 
		margin: 0;
		@media only screen and (min-width: @screen__l) {
			padding-left: 7.5rem;
			padding-right: 7.5rem;
		}
		&:not(.onlyparent) {
			.category-thumb-section {
				.widget-tabs {
					> ul{
						ul{
							li{
								&:not(:hover){
									&:before{
										color: @color-white;
									}
									a{
										color: @color-white;
									}
								}
								
							}
						}
					}
				}
			}
		}
		&.onlyparent{
			.rokan-title{
				display: none;
			}
			.list-category-item{
				.category-item{
					a.horizontal {
						flex-direction: column;
						img{
							max-width: 100%;
							margin-bottom: 0.5rem;
							@media only screen and (max-width: (@screen__s - 1)) {
					    		width: auto;
					    	}
						}
						figure{
							width: 100%;
						}
					}
				}
			}
		}
	}
	.category-product{
		width: 100%;
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.category-product{
		.flex();
		flex-wrap: nowrap !important;
		.col-category{
			flex: 0 0 40%;
			max-width: 57rem;
			
			.wrapper_sub_category_tabs{
				height: 100%;
				.flex();
				align-items: center;
			}
		}
		.col-product{
			flex: 1;
		}
		.section{
			margin-bottom: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.category-product{
		overflow: hidden;
		.col-category{
			width: 100%;
		}
	}
}

