<div class="header-container">
	<div class="topbar d-none d-md-block">
		<div class="header panel">
			<div class="flex-layout space-between header-top">
				<div class="col-left col-top-link flex-layout">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('topbar-menu')->toHtml(); ?>
					<div class="hotline"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hotline')->toHtml(); ?></div>
				</div>
				<div class="col-action col-right">
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social_icon')->toHtml(); ?>
				</div>
			</div>
		</div>
	</div>
	<div class="header-content sticky-header">
		<div class="header panel">
			<div class="flex-layout space-between for-full-width-menu center_vertical">
				<div class="primary-menu-container col-left">
					<?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>
				</div>
				<div class="logo-container">
					<div class="logo-site">
						<?php echo $this->getChildHtml('logo'); ?>
					</div>
				</div>
				<div class="col-action col-right">
					<div class="flex-layout">
						<div class="hidden-sticky d-md-block d-none">
							<?php echo $this->getChildHtml("top.links"); ?>
						</div>
						<ul class="flex-layout action-header center_vertical">
							<li><?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?></li>
							<?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml(); ?>
							<li class="minicart-li-content-show-hide">
								<?php echo $this->getChildHtml('minicart'); ?>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>