@font-face {
    font-family: 'Flood Std';
    src: url('../fonts/FloodStd.woff2;base64') format('woff2'),
        url('../fonts/FloodStd.woff;charset=utf-8;base64') format('woff'),
        url('../fonts/FloodStd.ttf') format('truetype'),
        url('../fonts/FloodStd.svg#FloodStd') format('svg');
    font-weight: normal;
   font-style: normal;
    font-display: swap;
}
