// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@page__background-color: #fff;
@breadcrumbs_background_color: #f5f5f5;

//Font
@heading__font-family__base: Rajdhani;
@heading__font-weight__base: @font-weight__bold; 

@page-title-size: 3.6rem;


@theme__color__primary: #fbb71c; 

// Navigation
// _______________________________

// Variable on destop
@navigation-desktop__background: #0d0d0d;
@navigation-desktop__font-weight: @font-weight__semibold;
@navigation-desktop__font-size: 2rem;

// _______________________________
// Level 0
@navigation-desktop-level0-item__color: @color-white;


// Mobile

// _______________________________
// Level 0
@navigation-level0-item__font-size: 16;
@navigation-level0-item__font-weight: @font-weight__semibold;
@navigation-level0-item__border: 1px solid @border-color__base; // Border in mobile menu

// Level 1
@level1_color: #222222;

// _______________________________

// Topbar
@topbarbg: #eeeeee;
@topbarcolor: #222;

// Header
@header_sticky_bg: @navigation-desktop__background;
@header_sticky_border: false;
@headerpadding: 0;
@sticky_padding: 10px;

// Top search
@_search-border-color: #e1e1e1;
@_search-border-width: 1px;

////Module variables
@module_margin_bottom: 3rem;
@module_title-size: 3rem;



// Product
@product-name-link__color: #222;

// Button
@second_button_bg: #fff;
/* footer */
@footer-title-color: @greycolor;
@footer-title-font-size: 1.8rem;
@footer-title-font-weight: @heading__font-weight__base;

@footer__background-color: #0d0d0d;
@footercolor: @color-white;
@footer-border-color: #2f2f2f;
@footer_bottom_color: @greycolor;

@social_link_bg: #262626;


@tabcolor: #222;
@tabactive: @tabcolor;

//Button variable
@button__border-radius: false; 

// Slider variable
@slider_h2_line-height: 1.05;
@slider_h5_font-weight: @font-weight__semibold;
@slider_h5_letter-spacing: 4px;

@slider_button_line-height: 1;
@slider_button_padding: 18px 36px;
@slider_button_padding-s: 10px 25px;

@nivo-directionNav-width: 50px;
@nivo-directionNav-height: 50px;
@nivo-directionNav-border-radius: 50%;

@nivo-directionNav-bg: #dadada;

// Owl dot, nav
@owl-nav-bg: #dadada;
@owl-nav-bg-width: 50px;
@owl-nav-height: 50px;
@owl-nav-border-radius: 50%;
@owl-nav-color: @color-white;

@nivo-directionNav-height: 50px;
@nivo-directionNav-border-radius: 50%;
// Control (dot)
@owl-dot-bg: #dadbe6;

// One page check out
@step-title-size: 2rem;
@step-title-transform: uppercase;

@newsletter_title_transform: uppercase;
// Change gobal style
& when (@media-common = true) {
	// new sale label
	body .products-grid .owl-carousel .owl-stage-outer{
		margin-top: -5px !important;
		padding-top: 5px !important;
	}
	.product-item {
		.product-label{
			&.onsale{
				right: auto;
				left: 3rem;
				top: 3rem;
			}
		}
	}
	.page-title-wrapper{
		text-transform: uppercase;
	}	
	.checkout-cart-index{ 
		.block.crosssell {
			.rokan-title.block-title{
				margin-bottom: 0;
			}
			.products{
				margin-top: 0;
			}
		}
	}
	// Module title
	.rokan-title{
		.module-title{
			text-transform: uppercase;
			&:after,
			&:before{
				content: '//';
				color: @theme__color__primary;
			}
			&:after{
				padding-left: 1.2rem;
			}
			&:before{
				padding-right: 1.2rem;
			}
		}
	}
	.rokanthemes-onepagecheckout #opc-sidebar .opc-block-summary .table-totals {
		.lib-font-size(17);
		.mark{
			text-transform: uppercase;
			.value{
				text-transform: capitalize;
			}
		}
	}
	.block.related .rokan-title.block-title, 
	.block.upsell .rokan-title.block-title{
		margin-bottom: 0;
	}
}
// Owl style
& when (@media-common = true) {
	body{
		.owl-carousel,
		.wrapper-the-blue-sky-slider{
			.owl-nav,
			.nivo-directionNav{
				button,
				a{
					&:before{
						.icon_custom_font('\e933');
						font-size: 30px;
						display: inline-flex;
						align-items: center;
						line-height: 1;
					}
					&:not(:hover){
						&:before{
							color: @color-white;
						}
					}
					&.owl-prev,
					&.nivo-prevNav{
						&:not(:hover){
							&:before{
								color: @color-white;
							}
						}
						
						&:before{
							transform: none;
						}
						&:hover{
							&:after{
								background-color: @link__hover__color;
							}
						}
					}
					&.owl-next,
					&.nivo-nextNav{
						&:before{
							content: '\e934';
							transform: none;
						}
					}
					&:focus{
						box-shadow: none;
					}
				}
			}
			.owl-dots,
			.nivo-controlNav{
				.owl-dot,
				.nivo-control{
					&.active{
						background: @theme__color__primary;
					}
				}
			}
			.owl-item {
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;
			    -moz-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    transition: all .3s ease;
				&:not(.active){
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}	
	.product-items .product-item,
	.products.list.items .product-item {
		.action.link-quickview.loading:before{
			top: 4px !important;
		}
		.product-item-actions .actions-secondary > .action .tocompare.loading{
			top: 2px;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	body .products-grid .owl-carousel .owl-stage-outer{
		padding: 0 10px 6rem;
    	margin: 0 -1rem -6rem;
    	overflow: hidden;
	}
}
// Header
& when (@media-common = true) {
	body.rokanthemes-onepagecheckout .header-container .sticky-header{
		padding-top: 0;
    	padding-bottom: 0;
	}
	body .block.block-search .form.minisearch.cat-search .search-form {
		.field.search:before{
			left: 0;
			margin-left: 0;
		}
	}
}

& when (@media-common = true) {
	.topbar{
		.topbar-inner{
			.col-top-link{
				> *{
					&:not(:last-child){
						> *{
							border-color: #ddd;
						}
					}
				}
			}
		}
	}
	// language currency
	.container-setting-language-currency{
		.switcher{
			padding: 0 10px;
			border-right: 1px solid #ddd;
		}
	}
	.page-header{
		.header-content{
			background: @navigation-desktop__background;
		}
		.minicart-wrapper{
			.item-wishlist{
				display: none;
			}
		}
		.header-container{
			.header-middle{
				padding: 2.6rem 0;
				z-index: 2;
				.top-search-not-dropdown{
					flex: 1;
					max-width: 636px;
					margin: 0 4%;
				}
			}
			.hotline{
				.flex-layout{
					align-items: center;
				}
				.icon{
					display: none;
				}
				.content{
					.flex();
					align-items: center;
					p{
						margin-right: 5px;
					}
					h5{
						a{
							&:not(:hover){
								color: @navigation-desktop-level0-item__color;
							}
						}
					}
				}
			}
			// Sticky header
			&.sticky{
				.header-content{
					.col-right{
						&:not(.action-sticky){
							display: none;
						}
					}
				}
				.rokan-vertical-menu{
					display: none;
				}
			}
		}
	}
	.verticalmenu.navigation {
		.list-category-dropdown {
			li.level0 {
				> .submenu {
					.menu-right-block{
                        position: absolute;
                        padding: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: auto;
                        max-width: 45%;
                        p{
                            margin: 0;
                        }           
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-header{
		.header-middle{
			position: relative;
		}
		.header-container{
			.header-middle{
				.col-action{
					> ul{
						> li{
							> a,
							.minicart-wrapper > a{
								font-size: @font-size__base;
								.flex();
								flex-direction: column;
								padding-left: 4.5rem;
								position: relative;
								&:before{
									position: absolute;
									top: 0;
									left: 0;
									line-height: 1;
								}
								.wishlist-label,
								.text{
									display: block;
									line-height: 1.3;
									.lib-reset-width();
									&:not(:hover){
										color: @greycolor;
									}
								}
								.counter.qty{
									position: static;
									background-color: transparent;
								}
								.item-wishlist,
								.counter.qty{
									font-size: @font-size__base;
									.lib-reset-width();
									font-weight: @heading__font-weight__base;
									margin: 0;
									min-width: 1px;
									&:not(:hover){
										color: @heading__color__base;
									}
								}
							}
							&.minicart-li-content-show-hide{
								line-height: 1;
								.item-wishlist{
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.page-header {
		.header-container{
			position: relative;
			.nav-toggle{
				color: @navigation-desktop-level0-item__color;
			    &:before{
			    	 color: @navigation-desktop-level0-item__color;
			    }
			    &:not(.sticky-toggle){
			    	display: none;
			    }
			}
			.header-middle{
				position: static;
			}
			.header-content{
				.col-right{
					&:not(.action-sticky){
						display: none;
					}
				}
			}
			&:not(.sticky){
				.minicart-wrapper{
					margin-left: 0;
				}	
				.sticky-header{
					.col-menu-on-left{
						flex: 1;
						justify-content: space-between;
					}
				}
			}			
		}
		.block.block-search .form.minisearch.cat-search .search-form .field.search:before{
			display: none;
		}
	}
	.vertical-open{
		.page-header {
			.header-container{
				.header-content{
					position: relative;
					z-index: 25;
				}
			}
		}
	}
	.block.block-search .form.minisearch.cat-search .search-form .field.search{
		position: static !important;
		.control{
			position: static;
			border-left: 1px solid @border-color__base;
		}
	}
	html{
		&:not(.nav-open){
			.header-container{
				&:not(.sticky){
					.header-middle{
						z-index: 16;
					}
					.header-content{
						z-index: 1;
						position: relative;
					}
				}
			}
		}
		&.vertical-open{
			.header-container:not(.sticky){
				.header-content{
					z-index: 26;
				}
			}
		}
	}
}
// On screen m > 767px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-header {
		.header-container{
			.nav-toggle{
				right: 15px;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.page-header {
		.header-container{
			.topbar{
				.flex-layout{
					justify-content: center;
				}
			}
			.header-middle{
				.flex-layout {
					.logo-container{
						order: 1;
						z-index: 24;
					}
					.top-search-not-dropdown{
						order: 3;
						margin: 2rem 0 0;
						flex: 100%;
						max-width: 100%;
						.field-by-cat-search{
							max-width: 45%;
						}
					}
					.col-action {
						order: 2;
					}
				}
			}
			.rokan-vertical-menu{
				margin-left: -1.5rem;
			}
			&.sticky{
				.rokan-vertical-menu{
					opacity: 0;
					visibility: hidden;
				}
			}
			
		}
	}
}
// Footer
& when (@media-common = true) {
	.page-footer {
		.footer-static_link {
			.footer-title{
				letter-spacing: 2px;
			}
			.footer-links {
				&.not-collapse-mobile{
					ul{
						margin-top: 0;
					}
					p{
					margin-bottom: 0;
					padding-left: 30px;
    				position: relative;
						i, em, .fa{
							position: absolute;
						    left: 0;
						    top: 8px;
						}
					}
				}
			}
		}
		.footer.content ul.social-link{
			margin: 0;
			li{
				&:not(:last-child){
					padding-right: 0;
				}
			}
		}
	}
}
// Vertical menu
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.verticalmenu{
		.level0 {
			&.submenu{
				&:hover{
					.menu-bottom-block{
						animation-name: eanimation-moving-down,animation-moving-up;
					    animation-duration: .3s,1.5s;
					    animation-delay: 0s,.3s;
					    animation-timing-function: ease-out,ease-in-out;
					    animation-iteration-count: 1,infinite;
					    animation-fill-mode: forwards;
					    animation-direction: normal,alternate;
					}
				}
			}
		}
		.menu-bottom-block{
			margin: 0;
			position: absolute;
			bottom: 0; 
			right: 5%;
			z-index: -1;
		}
	}
	.header-container{
		&:not(.sticky){
			.primary-menu-container{
				margin-left: 5rem;
			}
		}
	}
}	
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.primary-menu-container{
		&:not(.sticky){
			.primary-menu-container{
				margin-left: 2.5rem;
			}
		}
	}
}
// End vertical menu


// Home page
& when (@media-common = true) {
	//Slider
	.wrapper-the-blue-sky-slider {
		.content-the-blue-sky-slider {
			.the-blue-sky-banner-text{
				text-transform: uppercase;
				h4{
					font-weight: @font-weight__semibold;
					letter-spacing: 4px;
				}
			}
		}		
	}
	//Banner
	.banner{
		.col-banner.center {
			.content{
				padding: 4rem 0;
				.rokan-title{
					.lib-css(margin-bottom, (@module_margin_bottom - 0.7rem));
				}
			}
		}
		&.carparts{
			.col-banner{
				.banner-img{
					&:before,
					&:after{
						background-color: @theme__color__primary;
						position: absolute;
					    content: '';
					    right: 0;
					    height: 63%;
					    .transition();
					    z-index: 1;
					    width: 0;
					    height: 0;
					    @transform: rotate(-45deg);
					    .lib-css(transform, @transform, @_prefix: 1);
					}
					&:before{	
						top: -115px;
					    left: -115px;
					}
					&:after{
					    bottom: -115px;
					    right: -115px;
					    @transform: rotate(45deg);
					    .lib-css(transform, @transform, @_prefix: 1);
					}
				}
				&:hover{
					.banner-img{
						&:before,
						&:after{
							width: 230px;
							height: 230px;
						}
					}
				}
				&.middle{
					.banner-img{
						&:before{	
							top: -200px;
						    left: -200px;
						}
						&:after{
						    bottom: -200px;
						    right: -200px;
						    @transform: rotate(45deg);
						    .lib-css(transform, @transform, @_prefix: 1);
						}
					}
					&:hover{
						.banner-img{
							&:before,
							&:after{
								width: 400px;
								height: 400px;
							}
						}
					}
				}
			}
		}
		&.cartpart-bg{
			background-color: @footer__background-color;
			.flex-layout{
				margin: 0 -1.5rem;
				@media only screen and (max-width: (@screen__s - 1)){
					flex-direction: column-reverse;
				    align-items: center;
				    > *{
				    	width: 100%;
				    }
				}
				> div{
					padding: 0 1.5rem;
				}
				.col-banner{
					flex: 1;
					overflow: visible;
					.flex();
					.content{
						position: static;
						padding: 3rem 0;
					}
				}
				.banner-img{
					margin-right: calc(~'50% - 54vw');
					img{
						max-width: unset;
					}
					@media only screen and (max-width: @screen__xl) {
						max-width: 60%;
					}
				}
				.banner-content{
					.flex();
					flex-wrap: nowrap;
					@media only screen and (min-width: @screen__l) {
						max-width: 50rem;
					}
					&:not(:last-of-type){
						margin-bottom: 2rem;
					}
					*[aria-hidden="true"]{
						font-size: 0;
						padding-right: 1.2rem;
						&:before{
							font-size: 3.6rem;
						}
					}
					.icon-box{
						color: @theme__color__primary;
						padding-right: 3rem;
						@media only screen and (max-width: @screen__xs) {
							padding-right: 1.5rem;
						}
					}
					h3{
						color: @color-white;
						margin-bottom: 0;
					}
					p{
						color: @greycolor;
						.lib-font-size(15);
						margin: 0.7rem 0;
						line-height: 1.666;
					}
					&:last-of-type{
						p{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	// Newsletter
    .block-newsletter-form{
    	padding: 3rem;
    	background-color: @theme__color__primary;
    	.newsletter-form{
    		.flex();
    		justify-content: space-between;
    		align-items: center;
    		> div{
    			flex: 1;
    			width: 100%;
    		}
    		.rokan-title{
    			margin-bottom: 0;
    			&:before{
    				.icon_custom_font("\e937");  
    				.lib-font-size(57);
    				line-height: 1;
    			}
    			@media only screen and (min-width: @screen__xs) {
	    			padding-left: 8.5rem;
	    			&:before{
	    				position: absolute;
	    				top: 0;
	    				left: 0;      
	    			}
	    		}
    			.module-title{
    				text-transform: capitalize;
    				margin-bottom: 0.5rem;
    				&:before,
    				&:after{
    					display: none;
    				}
    			}
    			.rokan-description{
    				color: @heading__color__base;
    			}
    		}
    		@media only screen and (max-width: (@screen__m - 1)) {
    			flex-direction: column;
    			.rokan-title{
    				margin-bottom: 3rem;
    			}
		    	.field {
		    		.control{
		    			max-width: 100%;
		    		}
		    	}
    		}
    	}
    }
    .block.newsletter {
    	.field {
    		.control{
    			.input-focus{
    				flex: 1;
    			}
    			.actions{
    				button{
    					background: @heading__color__base;
    					color: @color-white;
    				}
    			}
    			@media only screen and (max-width: (@screen__xs - 1)) {
	    			flex-direction: column;
	    			.actions{
	    				margin-top: 2rem;
	    				margin-bottom: 1rem;
	    			}
	    		}
			}
		}
	}
	// Group product
	.group-product{
		.rokan-title{
			margin-bottom: 2rem;
		}
		.products{
			margin: 0;
		}
		.wrapper_category_product_tabs.container_horizontal_tab_postions .ui-tabs-nav{
			margin-bottom: 2rem;
		}
		// .product-items{
		// 	margin: 0;
		// 	padding: 0 0;
		// }
		// @media only screen and (max-width: (@screen__l - 1)){
		// 	.section{
		// 		.lib-css(margin-top, @margin_gobal_value - 2.5rem);
		// 	}
		// }
	}
	// wrapper_category_product_tabs
	.wrapper_category_product_tabs{
		&.container_horizontal_tab_postions{
			position: relative;
			.ui-tabs-nav{
				white-space: nowrap;
   				overflow-y: hidden;
			}
			@media only screen and (min-width: @screen__l) {
				.rokan-title{
					position: absolute;
					left: 0;
					top: 0;
					width: 45%;
					.module-title{
						white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					}
				}
				.ui-tabs-nav{
					text-align: right;
					padding-left: 45%;
					li{
						margin-bottom: 0.8rem;
					}
				}
			}
			.ui-tabs-nav{
				li{
					padding: 0 !important;
					a{
						padding: 0 1rem;
						.lib-font-size(15);
						font-family: @heading__font-family__base;
						font-weight: @font-weight__semibold;
						&:not(:hover){
							.lib-css(color, @greycolor);
						}
					}
					&.ui-tabs-active{
						a{
							background: @theme__color__primary;
							color: @heading__color__base;
						}
					}
				}
			}
		}
		&.container_vertical_tab_postions{
			.ui-tabs-nav {
				li {
					a{
						padding-bottom: 2.83rem;
						padding-top: 2.83rem;
					}
				}
			}
		}
	}
	.wrapper_product_tabs{
		 .ui-tabs-nav li a{
		 	color: @color-white;
		 }
	}
	// Category tab
	.wrapper_sub_category_tabs{
		.rokan-title{
			text-align: center;
			margin-bottom: 4rem;
		}
		.owl-carousel {
			.owl-nav {
				button{
					top: calc(~'50% - 30px');
					&.owl-prev{
						left: -10%;
					}
					&.owl-next{
						right: -10%;
					}
					&.owl-prev,
					&.owl-next{
						&:not(:hover){
							background: #434447;
						}
					}
				}
			}
			.owl-dots{
				.owl-dot{
						background: #535355;
					&.active{
						background: @color-white;
					}
				}
			}
		}
	}
	.full-width{
		.wrapper_sub_category_tabs{
			.category-thumb-section{
		        padding-left: @layout-indent__width;
		        padding-right: @layout-indent__width;
			}
		}
	}
	// Brand slider
	.block-widget-rokanthemes-brand{
		.brand-item{
			.lib-css(border, @border-width__base solid @border-color__base);
			border-left: 0;
			padding: 1.5rem;
		}
		.first-active-item{
			.brand-item{
				.lib-css(border-left, @border-width__base solid @border-color__base);
			}
		}
		.owl-stage{
			.item-row-slider-brand{
				.brand-item{
					&:not(:last-child){
						border-bottom: 0;
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
	.wrapper_sub_category_tabs.onlyparent .list-category-item .category-item a.horizontal img{
		max-width: 95px;
	}
	// Footer
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.full-width{
		.wrapper_sub_category_tabs{
			.category-thumb-section{
				box-sizing: border-box;
		        margin-left: auto;
		        margin-right: auto;
		        max-width: @layout__max-width;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.full-width{
		.wrapper_sub_category_tabs{
			.category-thumb-section{
				width: 95%;
			}
		}
	}
}
// On screen m < 991px

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body .super-deal{
		.supper-deal-title{
			.super-deal-countdown{
				margin-bottom: 10%;
			}
		}
		.time_circles{
			padding: 0 20px;
		}
	}
}
// End home page
// Blog page
& when (@media-common = true) {
	.post-title{
		font-family: @font-family__base;
		font-weight: @font-weight__semibold;
		line-height: 1.5;
	}
	.blog-post-thumb {
		.time-conment{
			background: @theme__color__primary;
		    bottom: 0;
		    top: auto;
		    font-weight: @heading__font-weight__base;
		    font-size: 13px;
		    padding: 0.5rem 3rem;
		    letter-spacing: 1px;
			span{
				position: relative;
				z-index: 1;	
			}
		}
	}
	.post-category-name{
		label{
			display: inline-block;
			.lib-css(color, @greycolor);
		}
		.lib-font-size(13);
		font-style: italic;
		background: transparent;
		padding: 0;
		a{
			color: @heading__color__base;
		}
	}
	.post-list-wrapper {
		.blog-post-info {
			padding: 2.2rem 3rem 1rem;
			
			.post-category-name{
				transform: none;
				position: static;
			}
		}
		.post-info-bottom{
			display: none;
		}
	}
	// Post view
	.blog-post-view {
		.post-holder{
			text-align: center;
			> *{
				&:not(.post-bottom){
					max-width: 1170px;
					margin-left: auto;
					margin-right: auto;
				}
				.content-max{
					max-width: 932px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		.blog-post-thumb{
			a{
				display: block;
				font-size: 0;
			}
		}
		.post-bottom{
			text-align: left;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .page-footer {
		.footer.content {
			.footer-links{
				&.square-social{
					.footer-title{
						&:after{
							display: none;
						}
					}
					ul.social-link{
						display: block;
					}
				}
			}
			
		}
	}
}