
// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//Define variables 
@page__background-color: #f1f2f6;

// Breadcrumbs
@breadcrumbs_background_color: @page__background-color;
@breadcrumbs__font-size: 1.8rem;
@breadcrumbs-link__color: #000000;
@breadcrumbs-link__visited__color: @breadcrumbs-link__color;
@breadcrumbs-current__color: #b7b7b7;
@breadcrumbs-current__font-weight: @font-weight__semibold;
//Font
@heading__font-family__base:  Rajdhani;
@heading__font-weight__base: @font-weight__bold; 

@page-title-size: 3.6rem;

@theme__color__primary: #fbb71c;
@navigation-level0-item__color: #0d0d0d; 
//==============================
//
@pager__background: @color-white;

@topbarcolor: @color-white;
// Product
@product-name-link__color: #222;
@toolbar-bg: #0c1555;
@toolbar-clor: #fff;
@pages-bg: #fff;
// Button
@second_button_bg: @color-white; // #f5f5f5
@second_button_color: @button__color;


@checkout-button-bg: @border-color__base;
@checkout-button-color:  @button__color;
/* footer */
@footer__background-color: #080b22;
@footercolor: @greycolor;
@footer-border-color: #2b2d40;
@tabcolor: @color-white;

@vertical_tab_bg: @theme__color__primary;
//Button variable
@button__border-radius: false; 

// Slider variable
@slider_h2_line-height: 1.05;
@slider_h5_font-weight: @font-weight__semibold;
@slider_h5_letter-spacing: 4px;

@slider_button_line-height: 1;
@slider_button_padding: 18px 60px;
@slider_button_padding-s: 10px 30px;
// Slider positon
@slider_left_spacing_value: 6%;

// Module Supperdeal
//  Variables
//  _____________________________________________
@banner_padding: 1.5rem 0;

@banner_deal_number-color: @theme__color__primary;

@sub_title_supper_deal-font-size: 1.4rem;
@sub-title_supper_deal_letter-spacing: 3px;
@sub-title_supper_deal_margin: 0 0 2.8rem;

@title_supper_deal_size: 4.8rem;
@title_supper_deal_margin: 0 0 3rem;


// Tesimonial
@testi-bg: false;
@testi-padding: false;
@testimonial-text-align: center;
@testimonial_des-color: @heading__color__base;
@testimonial_des-size: 3rem;
@testimonial_des-fammily: @heading__font-family__base;
@testimonial_des-font-weight: 500;

@testimonial-image-width: 7rem;
@testimonial-name-letter-spacing: 3px;
@testimonial-name-text-transform: uppercase;

// One page check out
@step-title-size: 2rem;
@step-title-transform: uppercase;

@newsletter_title_transform: uppercase;


// Skew button
.sken_button(){
	background: transparent;
	position: relative;
    &:before{
		position: absolute;
	    content: '';
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: -1;
	    .transition();
	    .lib-css(background, @button__background);
	    -webkit-transform: skew(-30deg);
	    -moz-transform: skew(-30deg);
	    -ms-transform: skew(-30deg);
	    -o-transform: skew(-30deg);
	    transform: skew(-30deg);
    }
    &:hover{
    	&:before{
	    	-webkit-transform: skew(0);
	    	-moz-transform: skew(0);
			-ms-transform: skew(0);
			-o-transform: skew(0);
			transform: skew(0);
    	}
    }
}
.skew-title(){
	&:after{
		position: absolute;
		content: '';
	    top: 0;
	    bottom: 0;
	    left: 70%;
	    right: 0;
	    background-color: inherit;
	    -webkit-transform-origin: bottom;
	    -moz-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	    -o-transform-origin: bottom;
	    transform-origin: bottom;
	    -webkit-transform: skew(-35deg);
	    -moz-transform: skew(-35deg);
	    -ms-transform: skew(-35deg);
	    -o-transform: skew(-35deg);
	    transform: skew(-35deg);
	}
}
// Mini cart
& when (@media-common = true) {
	.minicart-wrapper{
		.block-content{
			.actions{
				button,
				.btn{
					letter-spacing: 1px;
				}
			}
		}
	}
}

// Owl style
& when (@media-common = true) {
	body{
		.owl-carousel,
		.nivoSlider{
			.owl-item {
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;
			    -moz-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    transition: all .3s ease;
				&:not(.active){
					opacity: 0;
					visibility: hidden;
				}
			}
			.owl-nav,
			.nivo-directionNav{
				button,
				a{
					&.owl-prev,
					&.nivo-prevNav,
					&.owl-next,
					&.nivo-nextNav{
						background-color: transparent;
						&:after{
							position: absolute;
						    content: '';
						    top: 0;
						    bottom: 0;
						    left: 0;
						    right: 0;
						    -webkit-transform: rotate(45deg);
						    -moz-transform: rotate(45deg);
						    -ms-transform: rotate(45deg);
						    -o-transform: rotate(45deg);
						    transform: rotate(45deg);
						    z-index: -1;
						    background-color: @border-color__base;
						}
						&:hover{
							background-color: transparent;
							&:after{
								background-color: @link__hover__color;
							}
						}
					}
					&:focus{
						box-shadow: none;
					}
				}
			}
		}
	}
}

// Change gobal style
& when (@media-common = true) {
	// breadcrumbs
	.breadcrumbs{
		text-transform: uppercase;
		letter-spacing: 3px;
		font-family: @heading__font-family__base;
		.lib-font-size(18);
		font-weight: @font-weight__semibold;
		.items{
			padding-top: 2.1rem;
			padding-bottom: 2.1rem;
		}
		strong{
			.lib-css(color, @breadcrumbs-current__color);
		}
	}
	// Page tile
	.page-title-wrapper{
		text-transform: uppercase;
	}	
	.catalog-category-view{
		.breadcrumbs{
			margin-bottom: 3rem;
		}
		.products-list{
			.product-list {
				.product-item {
					.product-label.onsale{
						right: auto;
					    left: 5rem;
					    top: 2rem;
					    @transform: translateX(100%);
					    .lib-css(transform, @transform, @_prefix: 1);
					}
				}
			}
		}
	}
	.products.wrapper.list{
		.products.list.items.product-items{
			&:not(.owl-carousel){
				.product-item .product-label.onsale{
					right: auto;
					left: 2rem;
				}
			}
		}
	}
	#purchase-fake-order.purchase-order .product-purchase .purchase-info .title{
		text-transform: uppercase;
	}
	// new sale label
	.product-item {
		.product-label{
			padding: 3px 6px;
			span{
				position: relative;
				z-index: 1;
			}
			&:after{
				position: absolute;
				content: '';
			    top: 0;
			    bottom: 0;
			    left: -9px;
			    right: -1px;
			    background-color: inherit;
			    -webkit-transform-origin: bottom;
			    -moz-transform-origin: bottom;
			    -ms-transform-origin: bottom;
			    -o-transform-origin: bottom;
			    transform-origin: bottom;
			    -webkit-transform: skew(-25deg);
			    -moz-transform: skew(-25deg);
			    -ms-transform: skew(-25deg);
			    -o-transform: skew(-25deg);
			    transform: skew(-25deg);
			}
		}
	}
	// Block related, upsell
	.block{
		&.related,
		&.upsell,
		&.crosssell{
			position: relative;
			.block-title{
				border-left: 0;
				@related_upsell_bg: @topbarbg;
				.lib-css(background-color, @related_upsell_bg);
				margin-bottom: 0 !important;
				h3{
					
					text-transform: uppercase;
					position: relative;
					.skew-title();
					background-color: @theme__color__primary;
					strong{
						position: relative;
						z-index: 1;		
					    font-family: inherit;
						font-weight: inherit;
					}
				}
			}
		}
		&.related,
		&.upsell{
			.block-actions{
				position: absolute;
				right: 1.6rem;
				top: 1.8rem;
				color: @color-white;	
				z-index: 1;		
				button{
					color: @color-white;
					border-bottom: 1px solid @color-white;
				}
			}
			.products-grid {
				.product-item{
					border-top: 0;
					margin-top: 0;
					.actions-secondary {
						.action.tocompare{
							display: block;
							span{
								.lib-reset-width();
							}
						}
					}
				}
			}			
		}
	}
	// Footer
	.page-footer{
		.footer {
			.footer-static_link{
				.footer-title{
					letter-spacing: 2px;
				}
			}
		}
	}
	.rokanthemes-onepagecheckout #opc-sidebar .opc-block-summary .table-totals {
		.lib-font-size(17);
		.mark{
			text-transform: uppercase;
			.value{
				text-transform: capitalize;
			}
		}
	} 
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	// Fitler title
	.filter-options,
    .sidebar .block {
         .filter-options-title,
         .block-title:not(.filter-title) strong{
            font-weight: @heading__font-weight__base;
            padding: @indent__s @indent__s + 30px 0 0;
            font-size: 2rem;
            margin-bottom: @indent__s + 8px;
            font-family: @heading__font-family__base;
            .lib-css(text-transform, @navigation-level0-item__text-transform);
         }
        .filter-options-item,
        .block-title{
        	border: 0;
        	position: relative;
            &:after{
            	content: '';
            	display: inline-block;
            	border-bottom: 1px solid @border-color__base;
            	position: absolute;
			    top: 28px;
			    left: 0;
			    right: 0;
			    z-index: 0;
            }
            .filter-options-title,
         	strong{
         		display: inline-block;
         		position: relative;
         		z-index: 1;
         		background: @page__background-color;
         		padding-right: 2rem;
         	}
        }
        .filter-options-item{
        	padding-bottom: 0.5rem;
        }
        .block-title{
        	&:after{
        		top: 2.3rem;
        	}
        }
        .filter-options-item:first-child{
        	&:after{
        		top: 1.7rem;
        	}
        }
    }
    .cart-container .cart.table-wrapper .items tr td:first-child{
    	padding-left: 2rem;
    }
}
// Header
& when (@media-common = true) {
	header.page-header{
		box-shadow: none;
	}
	.topbar{
		.topbar-inner{
			.col-top-link{
				> *{
					&:not(:last-child){
						> *{
							border-right: 1px solid #565b81 !important;
						}
					}
				}
				.block-search{
					> .block-content{
						min-height: 15.75px;
					}
				}
				.container-setting-language-currency{
					.switcher:first-child{
						border-right: 1px solid #565b81 !important;
						margin-right: 3px;
					}
				}
			}
		}
	}
	.header-container{
		&.car-part{
			.header-content{
				flex: 1;
			}
			.block-search{
				position: static;
				.dropdown {
					.top-search{
						.text{
							display: none;
						}
					}
					.form.minisearch{
						left: 0;
						right: 0;
					}
				}
			}
			.logo-container{
				.flex();
			}
			.logo-container, 
			.logo-sticky{
				background-color: @theme__color__primary;
				z-index: 24;
				align-items: center;
				position: relative;
				&:before{
					position: absolute;
				    content: '';
				    top: 0;
				    bottom: 0;
				    right: 0;
				    width: 100vw;
				    background-color: inherit;
				    z-index: -1;
				}
				&:after,
				.logo-site:after,
				.sticky-logo:after{
					position: absolute;
				    content: '';
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    background-color: inherit;
				    -webkit-transform-origin: bottom;
				    -moz-transform-origin: bottom;
				    -ms-transform-origin: bottom;
				    -o-transform-origin: bottom;
				    transform-origin: bottom;
				    -webkit-transform: skew(-35deg);
				    -moz-transform: skew(-35deg);
				    -ms-transform: skew(-35deg);
				    -o-transform: skew(-35deg);
				    transform: skew(-35deg);
				    z-index: -1;
				}
				.logo-site,
				.sticky-logo{
					&:after{
						left: auto;
					    right: 18px;
					    width: 18px;
					    z-index: 0;
					    .lib-css(background-color, @topbarbg);
					}
				}
			}
			.header-middle{
				align-items: center;
				.lib-css(padding-top, @headerpadding);
				.lib-css(padding-bottom, @headerpadding);
			}
			.col-right{
				align-items: center;
			}
			.primary-menu-container{
				flex: 1;
				.navigation li.level0.parent:hover .submenu{
					z-index: 25;
				}
			}
			.col-menu-action{
				flex: 1;
			}
		}
		&.sticky{
			> .flex-layout{
				position: relative;
			}
			.logo-sticky{
				.flex();
				margin-top: -@headerpadding;
				margin-bottom: (-@headerpadding - 1px);
				margin-right: 5%;
				padding-right: 3%;
			}
			.hotline{
				display: none;
			}
		}
	}
}
// Header on screen > 1440px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
	.header-container{
		&.car-part{
			.logo-container{
				width: 275px;
			}	
			&:not(.sticky){
				.header-content{
					> div{
						padding-left: 120px;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container{
		&.car-part{
			&.sticky{
				.sticky-header{
					.flex-layout{
						.center_vertical{
							flex-direction: row-reverse;
    						justify-content: flex-start;
    						.primary-menu-container{
    							flex: unset;
    						}
						}
					}
				}
				.col-action{
					padding-right: 1rem;
					.minicart-wrapper{
						margin-left: 0;
					}
				}
			}
		}
		.topbar{
			.topbar-inner,
			.topbar-inner .col-right{
				justify-content: center;
			}
		}
	}
	html{
		&:not(.nav-open){
			.header-container.car-part {
				&:not(.sticky){
					.topbar{
						z-index: 16;
					}
					.header-middle{
						z-index: 15;
						position: relative;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	.header-container{
		&.car-part{				
			.logo-container{
				width: 200px;
				position: relative;
			}
			&:not(.sticky){
				.header-content{
					> div{
						padding-left: 90px;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	body .header-container{
		&.car-part{
			.topbar{
				z-index: 16;
				&:after{
					left: -1.5rem;
				}	
			}
			.for-full-width-menu{
				flex-direction: column;
			}
			.col-right{
				justify-content: center;
			}
			.col-action {
				.hotline{
					margin-right: 0.5rem;
					.icon{
						margin-right: 0;
					}
					.content{
						display: none;
					}
				}
			}
			.logo-container{
				width: auto;
				padding: 1.5rem;
				margin: 0 -1.5rem;
				position: static;
				&:after,
				&:before{
					display: none;
				}
				.logo-site{
					margin: auto;
					&:after{
						display: none;
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	body .page-header {
		.header-container{
			.hotline .icon{
				font-size: 2.6rem;
			}
			&.sticky{
				.header-middle{
					padding: 8px 0;
				}
				.logo-sticky{
					flex: 0 0 40%;
					margin-top: -8px;
    				margin-bottom: -9px;
					.sticky-logo{		
						&:after{
							width: 9px;
							right: 9px;
						}
					}
				}
			}
			.header-content .topbar .topbar-inner ul{
				flex: 00 100%;
			    align-items: center;
			    justify-content: center;
			}
			.topbar .topbar-inner .col-top-link{
				.language-currency{
					margin-right: 0;
				    border-right: 0 !important;
				    padding-right: 0;
				}
			}
		}
	}
}
//==================================================
// Footer
& when (@media-common = true) {
	.page-footer{
		.footer-contact{
			position: relative;
			background-color: @page__background-color;
			z-index: 1;

			&:after{
				content: '';
				position: absolute;
				top: 50%;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: @footer__background-color;
			}
			.container-inner,
			.contact-wrapper{
				&:before,
				&:after{
					display: block;
				    position: absolute;
				    content: '';
				    left: 0;
				    right: 0;
				    background-color: inherit;
				    z-index: 1;
				}
				&:before{
				    -webkit-transform: skew(-45deg);
				    -moz-transform: skew(-45deg);
				    -ms-transform: skew(-45deg);
				    -o-transform: skew(-45deg);
				    transform: skew(-45deg);			
				}
				&:after{
					-webkit-transform: skew(45deg);
				    -moz-transform: skew(45deg);
				    -ms-transform: skew(45deg);
				    -o-transform: skew(45deg);
				    transform: skew(45deg);	
				}				
			}
			.container-inner{
				position: relative;
				.lib-css(background-color, @mainsectionbg);
				&:before,
				&:after{
					top: 50%;
				    bottom: 0;	
					-webkit-transform-origin: bottom;
				    -moz-transform-origin: bottom;
				    -ms-transform-origin: bottom;
				    -o-transform-origin: bottom;
				    transform-origin: bottom;
				}
			}
			.contact-wrapper{
				position: relative;
				align-items: center;
				background-color: inherit;
				&:before,
				&:after{
					top: 0;
				    bottom: 50%;	
					-webkit-transform-origin: top;
				    -moz-transform-origin: top;
				    -ms-transform-origin: top;
				    -o-transform-origin: top;
				    transform-origin: top;
				}
				> *{
					z-index: 2;
					margin: 6px 0;
					align-items: center;
				}
				.col-right{
					margin-right: -10px;
					margin-left: -10px;
					> *{
						margin-bottom: 0;
						padding: 0 10px;
					}
				}
			}
			.icon{
				color: @theme__color__primary;
			}
			.contact{
				align-items: center;
				.icon{
					line-height: 1;
					&.fa-envelope{
						vertical-align: text-bottom;
					}
				}
				h2{
					margin-bottom: 0.6rem;
				}
			}
			.phone{
				font-weight: @font-weight__semibold;
			}

			.content{
				> *{
					margin: 0;
				}
			}
		}
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		//Car part
		.footer-contact{
			.contact-wrapper{
				padding: 24px 60px 24px 35px;
				.col-right{
					.ovic-contact {
						padding: 0 6rem 0 1.5rem;
					}
				}
				em,
				.fa,
				.far{
					&:before{
						color: @theme__color__primary;
					}
				}
			}
			.icon{
				&:before{
					font-size: 2.9rem;
				}
			}
			.contact{
				.icon{
					em,
					.fa,
					.far{
						&:before{
							font-size: 5.8rem;
						}
					}
				}
				h2{
					font-size: 3.6rem;
				}
				h4{
					letter-spacing: 3.5px;
				}
			}
			.phone{
				.lib-font-size(36);
				.icon{
					&:before{
						font-size: 2.6rem;
					}
				}
			}
		}
	}	
}
// Footer on destop small
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	// Header
	.header-container.car-part {
		.primary-menu-container{
			flex: 1;
		}
	}
	.page-footer {
		.footer-contact {
			.contact-wrapper{
				padding: 2.4rem 0;
			}
			.contact {
				.icon{
					font-size: 4rem;
				}
			}
			.phone{
				font-size: 2.6rem;
			}
		}

	}
}
// End footer
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	body .products-grid .owl-carousel .owl-stage-outer{
		padding: 0 10px 6rem;
    	margin: 0 -1rem -6rem;
    	overflow: hidden;
	}
}
// Home page
& when (@media-common = true) {
	//Slider
	.wrapper-the-blue-sky-slider {
		margin-bottom: 0;
		.the-blue-sky-banner-text{
			.btn{
				.sken_button();
				margin-left: 1.5rem;
			}
		}

		.nivoSlider{
			.nivo-directionNav{
				a{
					&.nivo-prevNav,
					&.nivo-nextNav{
						background-color: transparent;
						&:after{
							background: fade(@color-white, 10%);
						}
						&:not(:hover){
							&:before{
								color: @color-white;
							}
						}
					}
				}
			}
		}	
	}
	//Banner
	.banner {
		.col-banner.center {
			.content{
				.btn{
					.sken_button();
				}
			}
		}

	}
	.banner{		
		.skew-img{
			overflow: hidden;
		    -webkit-transform-origin: bottom;
		    -moz-transform-origin: bottom;
		    -ms-transform-origin: bottom;
		    -o-transform-origin: bottom;
		    transform-origin: bottom;
		    -webkit-transform: skew(-22deg);
		    -moz-transform: skew(-22deg);
		    -ms-transform: skew(-22deg);
		    -o-transform: skew(-22deg);
		    transform: skew(-22deg);
		    .lib-css(line-height, @remove-line-height);
		    margin-right: calc(~'50% - 54vw');
		    width: calc(~'10% + 50vw');
		    direction: ltr;
		    margin-top: -50px;
		    .img-skew{
		    	-webkit-transform-origin: bottom;
				-moz-transform-origin: bottom;
			    -ms-transform-origin: bottom;
			    -o-transform-origin: bottom;
			    transform-origin: bottom;
			    -webkit-transform: skew(22deg);
			    -moz-transform: skew(22deg);
			    -ms-transform: skew(22deg);
			    -o-transform: skew(22deg);
			    transform: skew(22deg);
			    img{
			    	width: auto;
			    	max-width: none;
			    	@media only screen and (max-width: (@screen__s - 1)){
			    		max-width: 100%;
			    	}
			    }
		    }
		}
		&.carparts{
			.col-banner{
				.banner-img{
					&:before,
					&:after{
						.lib-css(background-color, fade(@mainsectionbg, 60%));
						position: absolute;
					    content: '';
					    left: -65%;
					    right: 0;
					    height: 63%;
					    .transition();
					    z-index: 1;
					    width: 100%;
					}
					&:before{	
					    position: absolute;
					    bottom: calc(~'63% - 1px');
					    -webkit-transform-origin: top;
					    -moz-transform-origin: top;
					    -ms-transform-origin: top;
					    -o-transform-origin: top;
					    transform-origin: top;
					    -webkit-transform: skew(35deg);
					    -moz-transform: skew(35deg);
					    -ms-transform: skew(35deg);
					    -o-transform: skew(35deg);
					    transform: skew(35deg);
					}
					&:after{
					    bottom: 0;
					    -webkit-transform-origin: bottom;
					    -moz-transform-origin: bottom;
					    -ms-transform-origin: bottom;
					    -o-transform-origin: bottom;
					    transform-origin: bottom;
					    -webkit-transform: skew(-35deg);
					    -moz-transform: skew(-35deg);
					    -ms-transform: skew(-35deg);
					    -o-transform: skew(-35deg);
					    transform: skew(-35deg);
					}
				}
				&:hover{
					.banner-img{
						&:before,
						&:after{
							width: 110%;
						}
					}
				}
			}
		}
		&.cartpart-bg{
			background-color: @mainsectionbg;
			.flex-layout{
				@media only screen and (max-width: (@screen__s - 1)){
					flex-direction: column-reverse;
				    align-items: center;
				    width: 100%;
				    > *{
				    	width: 100%;
				    }
				}
				.col-banner{
					flex: 1;
					overflow: visible;
					.flex();
					.content{
						position: static;
						padding: 3rem 0;
					}
				}
				&:hover{
					.btn{
						&:before{
							-webkit-transform: skew(0);
					    	-moz-transform: skew(0);
							-ms-transform: skew(0);
							-o-transform: skew(0);
							transform: skew(0);
						}
					}
					.skew-img{
						img{
							-webkit-transform: translateX(-80px);
						    -moz-transform: translateX(-80px);
						    -ms-transform: translateX(-80px);
						    -o-transform: translateX(-80px);
						    transform: translateX(-80px);
						}
					}
				}
			}
		}
		&-skew-image{
			padding-top: 50px;
			.col-banner.center {
				.content > *{
					line-height: 1.25;
				}
			}
		}
	}
	// Tab title
	.wrapper_category_product_tabs.container_horizontal_tab_postions .rokan-title,
	.wrapper_product_tabs.container_horizontal_tab_postions .ui-tabs-nav li{
		text-align: left;
		line-height: 1;	 
		margin-bottom: 0;
		.module-title, a{
			.lib-font-size(24);
			text-transform: uppercase;
			display: inline-block;			
			margin-bottom: 0;
			padding: 17px 30px;
			position: relative;
			span{
				color: inherit;
				position: relative;
				z-index: 1;
			}
		}
		&.ui-state-active a{
			background-color: @theme__color__primary;
			color: @heading__color__base;
			.skew-title();
		}
		.module-title{
			background-color: @theme__color__primary;
			.skew-title();
		}
	}
	.wrapper_category_product_tabs,
	.wrapper_product_tabs{
		&.container_horizontal_tab_postions{
				.ui-tabs-nav{
				.lib-css(background-color, @topbarbg);
				.flex();
				align-items: center;
				position: relative;
				z-index: 2;
				overflow: hidden;
				margin-bottom: 0 !important;
			}
			.products{
				margin-top: 0;
			}
		}
	}
	.wrapper_category_product_tabs{
		&.container_horizontal_tab_postions{
			position: relative;
			.ui-tabs-nav{
				li{
					margin: 1rem 0;
					&.rokan-title{
						margin-top: 0;
						margin-bottom: 0;
						padding-right: 0;
						margin-right: 4%;
					}
					a{
						font-family: @heading__font-family__base;
						.lib-font-size(15);
					}
				}
			}
		}

	}
	.wrapper_product_tabs{
		.ui-tabs-nav{
			li{
				&.ui-state-active{
					margin-right: 3%;
					a{
						color: @heading__color__base !important;
					}
				}
				a{
					font-weight: 600;
					    font-family: Rajdhani, sans-serif;
				}
			}
		}
	}
	@media (min-width:769px) and (max-width: 991px) {
		.wrapper_product_tabs,
		.wrapper_category_product_tabs{
			.products.product-items{
				margin-bottom: 5.5rem;
				overflow: hidden;
			}
		}
	}
	// Newsletter
    .block-newsletter-form{
    	padding: 7rem 0 30vh;
    	margin-bottom: 0;
    	.rokan-title{
    		margin-bottom: 5.2rem;
			text-align: center;
    		.module-title{

    			margin-bottom: 1rem;
    			.lib-font-size(48);
    			color: @color-white;
    			text-transform: uppercase;
	    			span{
					color: @theme__color__primary;
				}
    		}
    	}
    }
    .block.newsletter {
    	padding: 0 1.5rem;
    	.field {
    		.control{
			    .input-focus{
			    	position: relative;
			    	flex: 1;
			    	&:before{
			    		position: absolute;
					    content: '';
					    top: 2px;
					    bottom: 2px;
					    left: 0;
					    right: 0;
					    background-color: @color-white;
					    border-color: transparent;
					    -webkit-transition: all .2s ease;
					    -moz-transition: all .2s ease;
					    -o-transition: all .2s ease;
					    transition: all .2s ease;
					    z-index: -1;
					    -webkit-transform: skew(-30deg);
					    -moz-transform: skew(-30deg);
					    -ms-transform: skew(-30deg);
					    -o-transform: skew(-30deg);
					    transform: skew(-30deg);
			    	}
			    	input{
			    		background-color: transparent;
			    		border: 0;
			    	}
				}
				&:hover{
					.input-focus, button{
						&:before{
							-webkit-transform: skew(0);
						    -moz-transform: skew(0);
						    -ms-transform: skew(0);
						    -o-transform: skew(0);
						    transform: skew(0);
						}
					}
				}
				button{
					.sken_button();
				}
			}
		}
	}
	.slider-on-top{
		.shipping-support{
		    &.car-parts{
		    	.col-content{
		    		@media only screen and (min-width: @screen__xs){
			    		&:not(:last-child){
			    			border-right: 1px solid @color-white;
			    			border-color: fade(@color-white, 15%);
			    		}
			    	}
		    	}
			    .content{
			    	p{
			    		color: @greycolor;
			    		&.size-18{
			    			color: @color-white;
			    		}
			    	}
			    }
			}
		}
	}
	// Supper deal count down
	.super-deal{
		position: relative;
		z-index: 1;
		background-color: @color-white;
		margin-top: -20vh;
		.supper-deal-title{
			padding-right: 1.5rem;
			padding-left: 1.5rem;
			.title-deal{
				span{
					color: @theme__color__primary;
				}
			}
		}
		.view-all-deal{
			&.btn{
				.sken_button();
				margin-left: 15px;
			}
		}
		.super-deal-countdown{
			margin-bottom: 5.2rem;
		}
		.time_circles{
			> div{
				color: @theme__color__primary;
				font-weight: @heading__font-weight__base;
				font-family: @heading__font-family__base;
				text-transform: uppercase;
				top: 0 !important;
    			left: 0 !important;
    			position: relative;
    			padding: 0 30px;
    			&.textDiv_Days{
    				padding-left: @layout-indent__width;
    			}
    			&:not(:last-child){
					&:after{
						content: ':';
						display: inline-block;
						.lib-font-size(24);
						color: #b7b7b7;
						position: absolute;
						top: 50%;
						right: 0;
						@transform: translateY(-50%);
						.lib-css(transform, @transform, @_prefix: 1);
					}    				
    			}
    			.number{
    				line-height: 1;
    				margin-bottom: 5px;
    			}
				.text{
					color: @heading__color__base;
				}
			}
		}
		.item-deal-product{
			a{
				font-size: 0;
			}
		}
		.owl-carousel .owl-dots{
			margin-top: 0;
			position: relative;
			top: -1.5rem;
		}
	}
	// Testimonial
	.testimo-slider{
		.pt-testimonial{
			&:before{
				content: url(../images/quote-image.png);
				display: block;
				margin-bottom: 2rem;
			}
		}
	}
	// Brand slider
	.block-widget-rokanthemes-brand{
		padding-top: 5rem;
		padding-bottom: 4.8rem;
		.lib-css(border-top, @border-width__base solid @border-color__base);
		margin-bottom: 0;
	}
	// Footer
	.cms-index-index{
		.page-footer{
			margin-top: 0;
		}
		.column.main{
			> div{
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
	.product-items .product-item .action.link-quickview.loading:before, 
	.products.list.items .product-item .action.link-quickview.loading:before{
		top: 4px !important;
	}
}
// On screen m < 991px

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body {
		.wrapper-the-blue-sky-slider {
			.container-the-blue-sky-slider {
				.the-blue-sky-banner-text{
					left: 0;
				}
			}
		}
		.super-deal{
			.supper-deal-title{
				.super-deal-countdown{
					margin-bottom: 10%;
				}
			}
			.time_circles{
				padding: 0 20px;
			}
		}
	}
}
// ===========================
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.slider-on-top{
		position: relative;
		.shipping-support{
			position: absolute;
		    bottom: 30px;
		    z-index: 3;
		    left: 0;
		    right: 0;
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.slider-on-top{
		.shipping-support{
			margin-top: 3rem;
			.lib-css(background-color, @topbarbg);
			padding: 2rem;
			.col-content{
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.slider-on-top{
		.shipping-support{
			.col-content{
				justify-content: flex-start;
				flex-wrap: nowrap;
			}
		}
		.wrapper-the-blue-sky-slider .nivo-directionNav a{
			&.nivo-nextNav{
				right: 6%;
			}
			&.nivo-prevNav{
				left: 3%;
			}
		}
	}
	.pt-testimonial .des{
		font-size: 2rem;
	}
}
// End home page

// Blog page
& when (@media-common = true) {
	.post-title{
		font-family: @font-family__base;
		font-weight: @font-weight__semibold;
		line-height: 1.5;
	}
	.blog-post-thumb {
		.time-conment{
			background: @theme__color__primary;
		    bottom: 0;
		    top: auto;
		    font-weight: @heading__font-weight__base;
		    font-size: 13px;
		    padding: 0.5rem 3rem;
		    letter-spacing: 1px;
		    color: @button__color;
		    &:after{
				position: absolute;
				content: '';
			    top: 0;
			    bottom: 0;
			    left: 70%;
			    right: -28px;
			    background-color: inherit;
			    -webkit-transform-origin: bottom;
			    -moz-transform-origin: bottom;
			    -ms-transform-origin: bottom;
			    -o-transform-origin: bottom;
			    transform-origin: bottom;
			    -webkit-transform: skew(35deg);
			    -moz-transform: skew(35deg);
			    -ms-transform: skew(35deg);
			    -o-transform: skew(35deg);
			    transform: skew(35deg);
			}
			span{
				position: relative;
				z-index: 1;	
			}
		}
	}
	.post-category-name{
		label{
			display: inline-block;
			.lib-css(color, @greycolor);
		}
		.lib-font-size(13);
		font-style: italic;
		background: transparent;
		padding: 0;
		a{
			color: @heading__color__base;
		}
	}
	.post-list-wrapper {
		.blog-post-info {
			padding: 2.2rem 3rem 1rem;
			
			.post-category-name{
				transform: none;
				position: static;
			}
		}
		.post-info-bottom{
			display: none;
		}
	}
	// Post view
	.blog-post-view {
		.post-holder{
			text-align: center;
			> *{
				&:not(.post-bottom){
					max-width: 1170px;
					margin-left: auto;
					margin-right: auto;
				}
				.content-max{
					max-width: 932px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		.blog-post-thumb{
			a{
				display: block;
				font-size: 0;
			}
		}
		.post-bottom{
			text-align: left;
		}
	}
}
// Store location
& when (@media-common = true) {
	#locator_filter .column_left {
		.block-content,
		.center #store_list .list{
			background-color: @color-white;
		}
	}
}
// My account page
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.login-container{
		.block{
			&.block-customer-login{
				&:before{
					background-color: @color-white;
				}
			}
		}
	}
}
// Compare page
& when (@media-common = true) {
	.product-comparison{
		background-color: @color-white;
	}
}
// Toolbar in mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	body .toolbar-products:not(:last-child) {
		select{
			background-color: #fff;
		}
		.sorter-action{
			color: @heading__color__base;
		}
	}
}
