// /**
//  * Copyright © Bluesky, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
// Background
//Font
@font-family-name__base: 'Catamaran'; 
//broder
@border-color__base: #ebebeb; 
@otherfont-family: 'caros';
// Heading
@heading__font-family__base: inherit;
@heading__font-weight__base: @font-weight__bold; 
@heading__color__base: #000000;
@headerpadding: 1.2rem; // Make header height bigger than menu height
@sticky_padding: 5px; 
// Topbar
// Top search
@_search-border-color: @theme__color__primary; 
@_search-border-width: 1px;
@topbarcolor: #000000;
// Other font

@theme__color__primary: #ffd800;
@navigation-level0-item__color: #000000;   
@navigation-desktop__font-size: 1.7rem; // Destop navigation font size
@navigation-desktop-level0-item__hover__color: #000000;    
@new_label_bg: @theme__color__primary;  
@new_label_color: @heading__color__base;

//Level 1
@level1_font_weight: @font-weight__bold;
@level1_font_size: 2rem;//1.6//capisize

// Desktop

@submenu-desktop__background: @color-white; // Sub menu background
@submenu-desktop__box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12); ; // Submenu shadow
@submenu-desktop__font-size: 15px; // Submenu font size
@submenu-desktop__font-weight: @font-weight__regular; // Sub menu font weight
@submenu-desktop__min-width: 230px; // Submenu min-width

@submenu-desktop-item__padding: 3px 15px; // Submenu Item padding
@submenu-desktop-item__color: #555555;// Submenu item color

//==============================
// Product
@product-name-link__color: #000000;
 
 // Newsletter pop up
@newsletter_title_size: 2.6rem;
@newsletter_title_mobile_size: 1.8rem;
@newsletter_title_transform: capitalize;

@newsletter_des_size: 1.6rem;
@newsletter_des_transform: capitalize;

@rating-icon__font-size: 1.5rem;
// Button
/* footer */
@footer__background-color: @color-white; 
@footercolor: #555555;
@footer_font-size: 1.6rem;
@footer-title-color: @heading__color__base; 
@footer-title-font-weight: @font-weight__bold;
@footer-title-font-size: 2.2rem;
@footer-title-transform: capitalize;
@footer-border-color: #ebebeb;

@footer-bottom_bg: @color-white; 
@footer_bottom_color: @color-white; 
//Button variable
@button__border-radius: 30px; 
@button__font-family: @otherfont-family; 

// Slider variable
@slider_h2_font-size-xxl: 70px;
@slider_h2_font-size-xl: 58px;
@slider_h2_font-size-l: 46px;
@slider_h2_font-size-s: 34px;
@slider_h2_font-size-xs: 22px;
@slider_h2_text-transform: capitalize;
@slider_h2_margin: 0; 

// Slider paragraph
@slider_p_font-size-xxl: 30px;
@slider_p_font-size-xl: 25px;
@slider_p_font-size-l: 20px;
@slider_p_font-size-s: 18px;
@slider_p_font-size-xs: 16px;
@slider_p_font-weight: @font-weight__regular;
@slider_p_letter-spacing: false;
@slider_p_text-transform: false;
@slider_p_margin: 30px;
@slider_p_line-height: false;
// Slider button
@slider_button_font-size-xl: 15px;
@slider_button_font-size-l: 14px;
@slider_button_font-size-s: 14px;
@slider_button_font-size-xs: 13px;
@slider_button_padding: 17.5px 35px;
@slider_button_padding-s: 5.5px 20px;
@slider_button_bg: @theme__color__primary;
@slider_button_letter-spacing: 0.05em;
@slider_button_margin-top: 25px;
// Control (dot)
@nivo-controlNav-postion: left;
@nivo-controlNav-bg: transparent;
@nivo-controlNav-width: 7px;
@nivo-controlNav-height: 7px;
@nivo-controlNav-border-radius: 50%;


/* end animation */
//Mini cart
.icon_header(){
	font-size: 2.6rem;
    line-height: 4rem;
    position: relative;	
};

/* language-currency */
& when (@media-common = true) {
	.container-setting-language-currency {
		margin-right: 1.5rem;
		display: flex;
		> div {
			padding: 0;
		}
		.switcher {
			&:last-child {
				margin: 0;
			}
			.switcher-options .switcher-trigger.action.toggle {
				box-shadow: 0 0 0 2px @border-color__base ;
    			border-radius: 3px;
    			padding: 11.5px 10px 9.5px 10px;
    			font-size: 1.4rem ;
    			&:after{
    				color: @heading__color__base;
    				font-weight: @font-weight__bold;
    			}
    			* {
					color: @heading__color__base;
						font-weight: @font-weight__bold;
						&:hover{
						color: @theme__color__primary;
					}
				}
			}
			.switcher-options.active .dropdown.switcher-dropdown { 
				top: calc(~'100% + 4px');
			    right: -2px;
			    left: auto;
			}
		}
	}
}
/* megamenu */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.header-container {	
		.navigation {
			background: transparent;
			.level0 {
				&.active > .level-top,&.has-active > .level-top ,& > .level-top:hover, & > .level-top.ui-state-focus{
					&:before {
						content: '';
						width: 2.6rem;
						height: 2.6rem;
						border-radius: 50%;
						background: @theme__color__primary;
					    position: absolute;
					    top: 50%;
					    @transform: translateY(-50%);
						.lib-css(transform, @transform, @_prefix: 1);
					    right: 7px;
					    z-index: -1; 
					}
				}
				&.parent{
				 	&.active > .level-top,&.has-active > .level-top ,& > .level-top:hover, & > .level-top.ui-state-focus{
				 	 	&:before {
					 	 	right: 18px; 
					 	}
				 	}
					.submenu{
	                    .mega-columns{
	                        //Level 1
	                        .level1{
	                            &.parent{
	                                > a{
	                                    text-transform: capitalize;
	                                }
	                            }
	                        }
	                    } 
	                }
				}
			}
		}
	}
}
/* style Brands */
& when (@media-common = true) {
	.block-widget-rokanthemes-brand{ 	
    	.brand-item{
			&:hover{
				img {
					@animation: bounceIn .5s ease;
					.lib-css(animation, @animation, @_prefix: 1);
				}
			}
    		padding: 3.4rem 0;
    		border: 1px solid @border-color__base;
    		border-left: 1px solid transparent;
    	}
    	.first-active-item {
    		.brand-item{
	    		border-left: 1px solid @border-color__base;
	    	}
    	}
	} 
}
/* header */
& when (@media-common = true) {
	.header-container {
		&:not(.sticky){
			.header-bottom {
				.lib-css(padding-top, @headerpadding);
				.lib-css(padding-bottom, @headerpadding);
				position: relative;
				@media only screen and (max-width: (@screen__xs - 1)) {
					.lib-css(padding-top, 15px);
					.lib-css(padding-bottom, 5px);
				}
			}
		}
		.logo-container{
			@media only screen and (max-width: (@screen__m - 1)) {
				width: 100%;
				justify-content: center;
				margin-bottom: 2rem;
			}
		}
		.header-middle{
			padding: 2.5rem 0;
			position: relative;
			z-index: 99;
			border-bottom: 1px solid @border-color__base;
			@media only screen and (max-width: (@screen__s - 1)) {
				padding: 1.5rem 0;
			}
			.col-right{
				@media only screen and (max-width: (@screen__s - 1)) {
					display: none;
				}
			}
			.top-search-not-dropdown {
			    flex: 1;
				margin: 0 4%;
				@media only screen and (max-width: (@screen__m - 1)) {
					margin-left: 0;  
				} 
				@media only screen and (max-width: (@screen__s - 1)) {
					margin: 0;  
				} 
				.block-search{
					@media only screen and (min-width: @screen__l){
						max-width: 410px;  
					}
					.dropdown {
						.form.minisearch{
							border: 2px solid @theme__color__primary; 
							.lib-css(border-radius, @button__border-radius, @_prefix: 1);
							.search-form {
								min-width: auto;
							}
							input{
								height: 42px;
								padding: 0 1.5rem;
							}
							.actions .action.search {
								top: 2px;
							    right: 10px;
							    bottom: 2px;
							    background: transparent;
							    &:before{
							    	color: @heading__color__base;
							    }
							    &:hover {
							    	&:before{
								    	color: @theme__color__primary;
								    }
							    }
							}
						} 
					}
				}
			}
		}
		.header-bottom {
			.col-action{
				.minicart-wrapper,.link {
					@media only screen and (min-width: @screen__m){
						margin:0;
					}
					.action.showcart,a {
						.flex();
						align-items: center;
						flex-direction: row-reverse;
						justify-content: center;
						.text {
						    overflow: visible;
						    position: static;
						    width: auto;
						    font-size: 1.7rem;
						    color: @heading__color__base;
						    font-weight: @font-weight__bold;
						    display: block;
						    margin: 0;
						    text-transform: uppercase;
						    margin-right: 15px;
						    height: auto;
						    margin-top: 8px;
						}
						.counter.qty{
							min-width: 1.6rem;
							min-height: 1.6rem;
							line-height: 1.6rem;
							top: 5px;
							right: 6px;
							height:auto;	
							font-size: 1.3rem;
							color: @color-white;  
							background: @heading__color__base;
							font-weight: @heading__font-weight__base;
							font-family: @otherfont-family;
							&.empty{
								display: block;
							}
						}
					}	
				}
			}
		}
		.header.links {
			background: @theme__color__primary;
			.lib-css(border-radius, @button__border-radius, @_prefix: 1);
    		padding: 12px 20px;
    		font-size: 1.6rem;
    		font-weight: 500;
    		font-family: @otherfont-family;
		    li {
		        &.authorization-link {
		            a {
		                &:before {
		                    display: none;
		                }   
		            }
		            &:after {
	                    content: '/';
	                }
		        }
		        a{
		        	color: @heading__color__base;	
		        	&:hover{
		        		text-decoration: underline;
		        	}
		        }
		    }
		}
	}
}
// Header on screen < 1200px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
	.header-container {
		> .header {
			> .flex-layout {
				.col-action{
					ul{
						li{
							margin: 0 1rem;
							&:last-child {
								margin-right: 0;   
							}
						}
					}
					
				}		
			}
		}
		.nav-toggle {
			line-height: 1;
			z-index:9;
			margin: 0;
			@transform: none;
			.lib-css(transform, @transform, @_prefix: 1);
			&:hover:before {
				color: @heading__color__base;
			}
		}
	}
}
/* newletter */
& when (@media-common = true) {
	.block-newsletter-form {
		direction: rtl;
		background-attachment: inherit !important;  
	    margin-bottom: 0 !important;
	    padding: 10rem 0;
	    @media only screen and (max-width: (@screen__l - 1)) {
	        padding: 6rem 0;
	    }
	     @media only screen and (max-width: (@screen__m - 1)) {
	        direction: ltr;
	    }
	    @media only screen and (max-width: (@screen__s - 1)) {
	        padding: 3rem 0;
	    }
	    background-attachment: inherit;
	    .newsletter-form {
	        .flex();
	        justify-content: space-between;
	        align-items: center;
	        color: @color-white;
	        margin-bottom: 0;
	        flex-direction: column;
	        max-width: 57.5rem;
	        direction: ltr;
	        >div {
	            flex: 1;
	            width: 100%;
	        }
	        .rokan-title {
	            margin-bottom: 4rem !important;
	            position: relative;
	            text-align: left;
	            .module-title {
	            	font-size: 2.7rem !important;
	                background: none;
	                margin-bottom: 1.5rem;
	            }
	            .short-des {
	                font-size: 1.6rem;
	                color: @footercolor;
	            }
	        }
	        @media only screen and (max-width: (@screen__m - 1)) {
	            .field {
	                .control {
	                    max-width: 100%;
	                }
	            }
	        }
	    }
	}
	.block.newsletter {
	    .field {
	        .control {
	            .input-focus {
	                flex: 1;
	                input {
	                	height: 5.5rem;
	                    border-radius: 5px 0 0 5px;
	                    padding-left: 2rem;
	                    border: none;
	                    font-size: 1.6rem;
	                }
	            }
	            .actions {
	                button {
	                    padding: 12.5px 30px;
	                    background: @theme__color__primary;
	                    height: 5.5rem;
	                    border-radius: 0 5px 5px 0;
	                    font-size: 1.5rem;
	                    font-family: @otherfont-family;
	                }
	            }
	        }
	    }
	}
	#newsletter_pop_up .col-newsletter-popup .content-popup .actions{
		margin-top: 2rem;
		button{
			border-radius: 4px;
		}
	}
	body{
		#newsletter_pop_up{
			@media only screen and (max-width: (@screen__s - 1)){
				top: 8% !important;
			}
			.col-newsletter-popup{
				background-repeat:no-repeat;
				background-size: contain;
				background-position: top center;
				align-items: flex-end;
				background-color: @color-white; 
				.content-popup{
					width: 100%;
    				text-align: center;
    				background: @color-white;
    				padding: 35px 9% 100px 9%;
					h2{
						margin-bottom: 3rem;	
					}
					p{
						color: #555555;
						margin-bottom: 2rem;
					}
					.form{
						.control input{
							background: transparent;
							border: 2px solid @border-color__base;
							border-radius: 4px;
							height: 5.5rem;
							text-align: center;
							font-size: 1.6rem; 
							color: #666666;
							
						}	
					}
					.subscribe-bottom{
						left: 3rem;
    					right: 3rem;
					} 
					.actions button{
						padding: 17.5px 55px;
					}
				}
			}
			.newletter_popup_close{
				background: transparent;
			    top: 10px;
			    right: 10px;
			    box-sizing: content-box;
			    width: 2rem;
    			height: 2rem;
			    &:before{
			    	color: rgb(0,0,0,0.5) !important; 
			    	font-size: 5.2rem;
			    	font-weight: @font-weight__regular;
			    	overflow: visible; 
			    }
			}
		}
	}
}
/* footer */
& when (@media-common = true) { 
	.page-footer {
		@media only screen and (max-width: (@screen__l - 1)){
			margin-top: 6rem;
		}
		@media only screen and (max-width: (@screen__s - 1)){
			margin-top: 3rem;
		}
		.footer-top {
			.footer.content {
				padding-top: 0;
				padding-bottom: 4rem;  
				overflow:hidden;
				@media only screen and (max-width: (@screen__m - 1)){
					padding-bottom: 3rem;
				}
				@media only screen and (max-width: (@screen__s - 1)){
					padding-bottom: 1rem;
				}
			}
		}
		.footer.content ul li {
			margin-bottom: 1rem;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				border-bottom: 1px solid transparent;
				&:hover {
					color: @heading__color__base;
					border-bottom: 1px solid @theme__color__primary;
				}
			}
		}
		.footer-static_link {
			.rokan-title {
				.module-title {
					font-size: 2.2rem;
					text-transform: capitalize;
					margin-top: 1rem;
					margin-bottom: 1.8rem; 
				}
				.rokan-description {
					margin-top: 3.4rem;
				}
			}
			.footer-title {
				font-size: 2.2rem;
				text-transform: capitalize;
				margin-top: 1rem;
				margin-bottom: 1.8rem; 
			}
			.footer-links,
			.section{
				ul{
					margin-top: 2.6rem;
				}
			}
			.footer-links {
				&.not-collapse-mobile{
					@media only screen and (max-width: (@screen__s - 1)){
						.footer-contents {
						    display: none;
						}
					}
					ul {
						li {
							&:not(:first-child) {
								p{
									line-height: 1.25;
								}
							}
							p{
								margin: 0;
								strong{
									color: @heading__color__base;
									font-size: 1.8rem;
								}
								&.service-hours{
									font-size: 1.4rem;
									color: #888888;
								}
							}	
						}
					}
				}
				p {
					font-size: 1.6rem;
				}
			}
		}
		.footer-bottom {
			line-height: 1;
			margin: 0;
			background: transparent;
			.container-inner {
				border-top: 1px solid @footer-border-color;
				padding: 1.2rem 0 ;
			}
			.footer-contents {
				margin: 0;
			}
			.footer-bottom-text {
				align-items: center;
				@media only screen and (max-width: (@screen__s - 1)){
				    justify-content: center;
				}
				.footer-bottom-inner {
					margin: 1rem 0;
					p{
						margin: 0;
					}
				}
			}
			.footer.content {
				.social-link { 
					li {
						margin:0;
						a {
							border: none;
							.icon{
								font-size: 2.1rem;
							}
							.icon:not(:hover) {
								color: #888888;
							}
						}
						&:not(:last-child) {
							padding-right: 1rem;
						}
						&:not(:first-child) {
							padding-left: 1rem;     
						}
					}
				}
				.copyright {
					font-size: 1.6rem;
					line-height: 2.5rem;
					color: @footercolor;
				}
				.hozital-menu {
					@media only screen and (max-width: (@screen__xs - 1)){
						text-align:left;
						margin-top: 0.5rem;
					}
					p {
						margin: 0;
					}
				}
			}
		}	
	}
}
// Footer on destop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			flex-wrap: nowrap;
			.footer-links{
				&.not-collapse-mobile{
					flex: 0 0 34%; 
					max-width: 34%; 
					position:relative;	
				}
			}
		}
	}	
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{		
		.footer-static_link{
			.footer-links{
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}	
}
/* banner static */
& when (@media-common = true) { 
	.digital-middle{
		@media only screen and (min-width: 1920px){ 
			padding: 0 5.8%;
		}
	}
	.banner{
		.banner-img img{
			@media only screen and (max-width: (@screen__s - 1)){
				width: 100%;
			}	
		}
		.col-banner {
			.content{
				.banner-content{
					padding-right: 4%;
					@media only screen and (max-width: (@screen__s - 1)){
						padding: 0 2rem;
					}
				}
				@media only screen and (max-width: (@screen__s - 1)){
					h2{
						font-size: 28px !important;
					}
				}
				.button-wrap a {
					background: @color-white;
					padding: 1.9rem 3.5rem;
					font-weight: 700;
					font-family: @otherfont-family;
	    			.lib-css(border-radius, @button__border-radius, @_prefix: 1);
	    			border: none;
	    			margin-top: 2.5rem;
	    			@media only screen and (max-width: (@screen__s - 1)){
						padding: 1rem 2rem; 
					} 
	    			&:hover{
	    				background: @heading__color__base;
	    				color: @color-white;
	    			}
	    		}
	    		p{
	    			margin-bottom: 1.5rem;
	    		}
			}
		}
	}
}
/* style title */
& when (@media-common = true) {
	.cms-index-index{ 
	    .page-main{
			.rokan-title {
				position: relative;
				margin-bottom: 5rem;
				.module-title {
					font-size: 3.6rem;
					text-transform: capitalize;
					@media only screen and (max-width: (@screen__l - 1)){
						font-size: 2.8rem;
					}
				}
				.short_description {
					font-size: 1.6rem; 
					color: #adadad;
				}
				@media only screen and (max-width: (@screen__l - 1)){
					margin-bottom: 3rem;
					.module-title {
						font-size: 3rem; 
					}
				}
			}
		}
	}
}
/* Hover action */ 

& when (@media-common = true) {
	.block.related, .block.upsell, .block.crosssell {
		.products-grid .product-items .product-item .product-item-info .product-item-details .product-item-actions {
			flex-direction: column;
		}
	}
	//Product grid
	@media only screen and (min-width: @screen__l){
		.page-products .products-grid .product-items .product-item {
			width: 33.33333333%;
		}
	}
	.product-item {
		overflow: hidden;
			.product-label {
			font-weight: 500 !important;
			font-size: 1.8rem;
			text-transform: capitalize;
			min-width: 7rem;
			height: 7rem;
			border-radius: 50%;
			text-align: center;
			padding: 3.7rem 0.8rem 0 0.8rem;
			font-family: @otherfont-family; 
			&.onsale {
				left: -0.8rem;
				top: -2.5rem;
				right: auto;
			}
			&.newlabel {
				right: -0.8rem;
				top: -2.5rem;
				left: auto;
			}
		}
	}
	body.page-products .products-grid,
	.products-grid{
		.product-items, 
		*[class*="rpoduct-items"][data-margin="0"]{
			margin-top: 0;
			margin-bottom: 0;
			margin: 0 -1.5rem !important;
			width: calc(~'100% + 3rem');
			&.owl-carousel .owl-stage-outer .first-active-item:before{
                   display: none;
                }
			&:not(.owl-carousel) {
				border: none;  
			}
			.product-item{
				border: none;
				padding: 0 1.5rem; 
				margin: 0 0 5rem 0;
				@media only screen and (max-width: (@screen__s - 1)){
					margin: 0 0 3rem 0;
				}
				&:last-child {
					margin: 0;
				}
				.product-item-photo {
					line-height:1;
					margin: 0;
				}
				.product-item-info {
					position:relative; 
					padding: 0;
					line-height:1; 
					overflow: hidden;
					@media only screen and (max-width: (@screen__xs - 1)){
					}
					&:before {
						display:none !important; 
					}
					.product-item-details {
						position: relative;
						padding-top: 2rem;
						.product-item-actions {
							position: absolute;
							bottom: 100%;
							right: 1.5rem;
							z-index:1;
							display: flex;
							flex-direction: column-reverse;
							margin-bottom: 1.5rem;
						}
						.price-box {
							margin: 1.6rem 0 0;
							flex-direction: row-reverse;
    						justify-content: flex-end;
    						font-family: @otherfont-family; 
							.price {
								font-size: 2.1rem;
							}
							.old-price {
								.price {
									font-size: 1.6rem;
									color: #777777;
									margin-right: 1.5rem;
								}
							}
						}
						.actions-primary,
						.field.choice.related{
							background: @theme__color__primary; 
							.action.tocart,
							label {
								color: @heading__color__base;
								letter-spacing: 0;
								&:before {
									font-size: 2.4rem;
									color: @heading__color__base;
									@media only screen and (max-width: (@screen__xs - 1)){
										font-size: 1.6rem; 
									}
								}
							
							}
						}
						.field.choice.related{
							&:hover{
								label {
									&:before {
										color: @heading__color__base;
									}
								}
							}
						}
					}
					.product.name a {
						line-height: 1.4;
						font-size: 2rem;
						display:block;
						font-weight: @font-weight__semibold;
						@media only screen and (max-width: (@screen__l - 1)){
							font-size: 1.6rem; 
						}
					}
					.product-reviews-summary {
						margin: 1.5rem 0 0;
						.rating-summary .rating-result{
							width: 8.75rem;
						}
						.reviews-actions{
							.action.view {
								display: none;
							}
						}
					}
					.actions-primary,
					.actions-secondary,
					.field.choice.related,
					.actions-secondary .action{
						position: static;
					}
					.actions-primary,
					.field.choice.related,
					.actions-secondary .action{
						font-size: 0;
						width: 4.6rem;
						height: 4.6rem;
						@media only screen and (max-width: (@screen__xs - 1)){
							width: 3rem;
							height: 3rem;
						}
						background: transparent;
						.border_radius(50%);
						display: flex;
						.flex-center();
						margin: 5px 0;
						&:before{
							color: @heading__color__base;
							overflow:visible;
						}
						&:hover {
							background: @theme__color__primary; 
						}
					}
					.actions-secondary{
						box-shadow: none;
						transform: none;
						padding: 0;
						z-index: 2;
						display: block;
						background: transparent;
						.action{
							flex: 1;
							&.link-quickview{	
								&:before{
									font-size: 2.4rem; 
									@media only screen and (max-width: (@screen__xs - 1)){
										font-size: 1.6rem;
									}
								}
							}
							&.towishlist{
								&:before{
									font-size: 2.4rem; 
									@media only screen and (max-width: (@screen__xs - 1)){
										font-size: 1.6rem;
									}
								}
								span{
									display:none;
								}
							}
							&.tocompare {
								&:before{
									font-size: 2.4rem; 
									@media only screen and (max-width: (@screen__xs - 1)){
										font-size: 1.6rem;
									}
									margin: 0; 
								}
								span{
									display:none;
								}
							}
							&:before{
								margin: 0;
								top: 0;
							}
						}
						&:before,
						&:after{
							display: none !important;
						}
					}
				}
				&:hover{				
					.actions-primary,
					.field.choice.related{
						@animation: zoomIn 400ms ease-in-out;
						.lib-css(animation, @animation, @_prefix: 1);
					}
					.actions-secondary{
						> *{
							&:nth-child(1) {
								@animation: zoomIn 600ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&:nth-child(2){
								@animation: zoomIn 800ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
							&:nth-child(3){
								@animation: zoomIn 1000ms ease-in-out;
								.lib-css(animation, @animation, @_prefix: 1);
							}
						}
					}
				}
			}
		}
	}
	.cms-index-index .products-grid .product-items.owl-carousel{
	    margin: 0 !important;
		width: 100%;
	    .product-item {
		    padding: 0;
		}
	}
	//Product list
	.products.wrapper.list{
		.product-items{
			.product-item{
				&:hover{
					box-shadow: none;
				}
			}
		}
	}
	body .owl-carousel .owl-nav button {
		&.owl-prev,&.owl-next {
			border-radius: 100%;
			background: @color-white;
			width: 4.6rem;
			height: 4.6rem;
			border: 2px solid @border-color__base;
			&:before {
				width: 4.2rem;
				height: 4.2rem;
			}
			&:hover {
				background: @theme__color__primary;
				border: 2px solid @theme__color__primary;
			}
		}
	}
	section, .section, .product.info.detailed, .block.related, .block.upsell {
		@media only screen and (max-width: (@screen__l - 1)){
			margin-bottom: 6rem;
		}	 
	}
	.margin_0 {
	    margin: 0;
	}
}
// Gobal space (such as: bettween module in home page....)
@margin_gobal_value: 8rem;
.margin_gobal_value(){
.lib-css(margin-bottom, @margin_gobal_value);
//Margin bottom for section
}
/* module products tab */
& when (@media-common = true) {
	.section.container_horizontal_tab_postions  {
		position: relative; 
		.rokan-title{
			@media only screen and (min-width: @screen__l){ 
				position: absolute;
				top: -5px;
				left: 0;
				width: 100%;
			}
		}
		.ui-tabs-nav {
			white-space: nowrap;
    		overflow-y: hidden;
	    	margin-bottom: 4.8rem;
			@media only screen and (min-width: @screen__l){ 
				margin-left: 30%;
			    text-align: right;
			    direction: rtl;
			}
			li {
				margin: 0;
				a {
					font-size: 2.1rem;
					color: @text__color;
					font-weight: 500;
					font-family: @otherfont-family;
					position: relative;
					white-space: nowrap;
					&:before {
						position: absolute;
						content: '';
						top: 0;
						right: -1rem;
						width: 34px;
						height: 34px;
						border-radius: 50%;
						background: @theme__color__primary;
						.transition();
						z-index: -1;
					}
				}
				&:not(.ui-tabs-active) a:before {
					@transform:scale(0);
					.lib-css(transform, @transform, @_prefix: 1);
				}
				&.ui-tabs-active {
					a {
						color: @heading__color__base;  
					}
				}
				&:not(:last-child) {
					padding-right: 2.2rem;
				}
				&:not(:first-child) {
					padding-left: 2.2rem;
				}
			}
		}
	}
}
@deal_product_name_size: 2rem;
@deal_number_bg: @color-white;
@deal_number_font-family: @otherfont-family;
@deal_number_font-size: 2.9rem;
@deal_number_font-weight: 500;
@deal_number_color: @otherfont-family;
@deal_number_width: 5.8rem;
/* hot deals */

// Supper deal
& when (@media-common = true){
	.super-deal {
		padding: 0;
		.supper-deal-title{
			padding: 0;
		}
	}
	.hot-deal-tab-slider {
		.super-deal-countdown {
			margin: 0;
			.time_circles {
				margin: 0;
				.number{
				    box-shadow: 0 0 0 2px @border-color__base ;
				    border-radius: 4px;
				    margin-bottom: 1rem;
				    margin-top: 1.4rem;
				    position: relative;
				    z-index: 1;
				    &:before{
				    	content: '';
				    	border-bottom: 1px solid @border-color__base;
				    	position: absolute;
				    	top: 50%;
				    	right: 0;
				    	left: 0;
				    	z-index: -1;
				    }
				    @media only screen and (max-width: (@screen__l - 1)) {
						width: 4rem;
						height: 4rem;
						font-size: 2rem;
					}
		    	}
		    	.text{
		    		font-size: 1.5rem;  
		    		font-family: @otherfont-family;
		    	}
		    	> div{
		    		padding: 0;
		    		&:not(:last-of-type){
		    			.number{
		    				
		    				&:after{
				    			
				    		}
			    		}
		    		}
		    	}
		    }
		}
		.products-grid {
			.product-items {
				.product-item{
					.product-item-info{
						border: 2px solid @theme__color__primary;
					    border-radius: 4px;
					    background-color: #f8f8f8; 
					    align-items: center;
					    @media only screen and (max-width: (@screen__xs - 1)) {
							flex-direction: column;
						}
					    .product-item-photo{
					    	@media only screen and (min-width: @screen__xs){ 
						    	-ms-flex: 0 0 45%;
							    flex: 0 0 45%;
							    max-width: 45%;
							}
							@media only screen and (min-width: 1920px){ 
								-ms-flex: 0 0 50%;
							    flex: 0 0 50%;
							    max-width: 50%;
							} 
					    }
					    .product-item-details{
					    	flex: 1;
					    	padding: 5.8rem 1.5rem; 
					    	width: 100%;
					    	@media only screen and (max-width: 1439px) {
								padding: 3.5rem 1.5rem; 
							}
					    	@media only screen and (max-width: (@screen__l - 1)) {
								padding: 1.5rem; 
							}
							.price-box > .price {
								font-size: 2.4rem;
							}
					    	.info-price{
								border: none;
								margin: 0 0 2.5rem;  
								padding:  0;
							}
							.product-item-actions{
								position: static;
								display: flex;
								flex-direction: row;
								margin-bottom: 1.5rem;
								.actions-primary {
								    opacity: 1;
    								visibility: visible;
								    animation: none;
							        transform: none;
							        width: auto;
								    border-radius: 30px;
								    height: auto;
								    .action.tocart{
								    	font-size: 1.3rem;
								    	text-transform: uppercase;
								    	font-weight: @font-weight__bold;
								    	padding: 12.5px 2rem; 
								    	font-family: @otherfont-family;
								    	&:before{
								    		display: none;
								    	}
								    }
								}
							}
					    }	
					}
				}
			}
		}
	}
}
/* css catethumb */
// Sub category tab
	@category-name-color: #555555;
	@category-name-font-weight: @font-weight__bold;
	@category-count-font-weight: 500;
& when (@media-common = true) {
	.wrapper_sub_category_tabs{
		&.onlyparent{
			.list-category-item{
				.category-item{
					a.horizontal {
						flex-direction: column;
						text-align: center;
						border: 2px solid @border-color__base;  
						border-radius: 3px;
						overflow: visible;
						padding: 3.2rem 1rem;
						img{
							max-width: 100%;
							margin-bottom: 1.5rem;
							@media only screen and (max-width: (@screen__s - 1)) {
					    		width: auto;
					    	}
						}
						figure{
							width: 100%;
							overflow: visible;
							img {
								@transform: translateY(15px);
								.lib-css(transform, @transform, @_prefix: 1); 
							}	
						}
						.thumb-infor {
							padding: 0;
						}
						.cate-name.cate-count{ 
							display: block;
							letter-spacing: -0.01em;
							line-height: 1.4;	
							.count {
								display: block;
								letter-spacing: 0;
								margin-top: 8px;
								opacity: 0;
								@transform: translateY(-15px);
								.lib-css(transform, @transform, @_prefix: 1); 
								.transition();
							}
							span:not(.count) {
								display: block;
								@transform: translateY(15px);
								.lib-css(transform, @transform, @_prefix: 1); 
								.transition();
							}
						}
						&:hover{
							color: @heading__color__base;
							background: @theme__color__primary;
							border-color: @theme__color__primary;
							figure{
								img {
									@transform: translateY(0px);
									.lib-css(transform, @transform, @_prefix: 1); 
								}	
							}
							.cate-name.cate-count{ 
								.count {
									opacity: 1;
									@transform: translateY(0px);
									.lib-css(transform, @transform, @_prefix: 1); 
								}
								span:not(.count) {
									@transform: translateY(0px);
									.lib-css(transform, @transform, @_prefix: 1); 
								}
							}
						}
					}
				}
			}
		}
	}
}
/* css Blog */
& when (@media-common = true) {
	//Blog gobal style
	.block-recent-posts {
		.post-list-wrapper{
			.owl-carousel .owl-stage-outer {
				padding: 0 1px;
				margin: 0 -1px;
			}
			.blog-list-post .item-post-full {
				position: relative;
				overflow: hidden;
				border: 1px solid @border-color__base;
				@media only screen and (min-width: @screen__xs){
					.flex();
					align-items: center;
					flex-direction: row-reverse;
					> div {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%; 
					}
				}
				&:not(:hover) .blog-post-info .post-readmore {
					@transform: translate(-60px,60px);
					.lib-css(transform, @transform, @_prefix: 1);
					opacity: 0;
				}
			}
			.blog-post-info{
				border: none;
				padding: 3rem;
				position: static;
				.post-title{
					font-weight: 500; 
					font-size: 2.6rem;
					@media only screen and (max-width: (@screen__l - 1)){
						font-size: 2rem;
					}
					margin-bottom: 2.5rem;
				}
				.post-category-name{
					position: static;
					padding:0;
					background: @color-white;
					transform: none;
					margin-bottom: 2.5rem;
					a {
						font-weight: @font-weight__regular; 
						text-transform:capitalize;
						color: #777777;
						position: relative;
						padding-bottom: 1.8rem;
						display: block;
						font-size: 1.6rem; 
						&:before {
							content: '';
							position: absolute;
							left: 0;
							bottom: 0;
							width: 4rem;
							height: 2px;
							display: block;
							background: @theme__color__primary;
						}
						&:hover {
							color: @theme__color__primary;
						}				
					}
				}
				.time-conment{
					font-size: 1.7rem;
					color: #555555;
				}
				.post-readmore {
					font-size: 0;
					line-height: 0;
					position: absolute;
					bottom: -65px;
					left: -65px;
					width: 140px;
					height: 140px;
					border-radius: 50%;
					font-size: 0;
					line-height: 0;
					letter-spacing: 0;
					&:hover {
						background: @theme__color__primary;
					}
					&.btn:not(:hover) {
						background: @theme__color__primary;
					}
					&:before,&:after {
						position: absolute;
						content: '';
						top: 0;
						bottom: 4.7rem;
						left: 5.7rem;
						right: 0;
						width: 3px;
						height: 3rem;
						margin: auto;
						background: @heading__color__base;
					}
					&:after {
						width: 3rem;
						height: 3px;
					}
				}
			}		
		}
	}
	
}
/* css testimonial */
& when (@media-common = true) {
	.featured-products{
		border-bottom: 1px solid @border-color__base;
		margin-bottom: 8rem;
		.shop-all-now{
			text-align: center; 
			margin-bottom: 8rem;
			a{
				position: relative;
			    background: 0 0;
			    font-size: 1.7rem;
			    color: @heading__color__base;
			    padding: 1.5rem 4rem;
			    font-family: @otherfont-family;
			    text-transform: uppercase;
			    font-weight: @font-weight__bold;
			    &:not(:hover)::before {
				    top: 2.3rem;
				    bottom: 1rem;
				}
			    &:before{
			    	position: absolute;
				    content: "";
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    -webkit-transition: all .3s ease;
				    -moz-transition: all .3s ease;
				    -ms-transition: all .3s ease;
				    -o-transition: all .3s ease;
				    z-index: -1;
				    background: #ffd800;
			    }
			}
		}
	}
	.cms-index-index{
		.page-main{
			.testimo-slider{
				.rokan-title{
					.module-title{
						text-align: center;
					}
			}	}
		}
	}
	.pt-testimonial-container {
		padding: 0 10%;
		.pt-testimonial {
			background: transparent; 
			text-align: center;
			.image {
				width: 9rem;
				height: 9rem;
				overflow: hidden;
				display:inline-block;
				border-radius: 50%;
				margin: auto;
				margin-bottom: 2rem;
				img {
					max-width: 100%;
				}
			}
			.content-tes {
				.des {
					font-size: 1.6rem;
					line-height: 3.2rem;
					color: @text__color;  
				}
				.info {
					position:relative;
					display:inline-block;
					padding: 1.5rem 0;
				    font-family: @otherfont-family; 
					&:before {					
						content: "";
						width: 7.2rem;
						height: 5rem;
						background: url(../images/testi.png) no-repeat;
						display: block;
						position: absolute;
						bottom: 3rem;
						left: 0;
						right: 0;
						margin: auto;
						z-index: -1; 
					}
					.name {
						font-size: 2rem;
						font-weight: @font-weight__bold;
						color: @heading__color__base;  
					}
					.job{
						font-size: 1.6rem;
						color: #555555;
						font-weight: @font-weight__regular;
						margin-top: -5px;
					}
				}
			}
		}
		.owl-carousel .owl-nav button {
			&.owl-prev,&.owl-next {
				background: none !important;
				border: none !important;
				transform: none !important; 
				&:before {
					font-family: 'main-icon',sans-serif;
					font-size: 4.6rem;
					transform: none !important; 
				}
				&:after {
					position: absolute!important;
					content: '';
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					border-radius: 50%;
					.transition();
					z-index: -1;
					background: @theme__color__primary;
				}				
				&:not(:hover){
					&:before {
						color: @text__color; 
					}
				}
				&:not(:hover):after {
					opacity: 0;
				}	
			}
			&.owl-prev {
				left: -6rem;
				&:before {
					 content: '\e947'!important;
					 margin-right: -2.2rem!important;
				}
			}
			&.owl-next {
				right: -6rem;
				&:before {
					content: '\e948'!important;
					margin-left: -2.2rem!important;
				}		
			}
		}
	}
}
/* slideshow */
& when (@media-common = true) { 
	.wrapper-the-blue-sky-slider {
		.nivo-directionNav a {
			border-radius:100%;
			&:before {
				color: @color-white;
				font-family: main-icon;
				transform: rotate(0deg) !important;
				-webkit-transform: rotate(0deg) !important;
				-o-transform: rotate(0deg) !important;
				-ms-transform: rotate(0deg) !important;
			}	
			&.nivo-prevNav {
				&:before {
				    content: '\e933'; 
				}
			}
			&.nivo-nextNav {
				&:before {
					content: '\e934';
				}
			}
			&:not(:hover){
				background: rgba(0,0,0,0.2);
			}
		}
		.nivo-controlNav {
			@media only screen and (max-width: (@screen__xs - 1)){
				bottom: 1.5rem;
			}
			&:not(.nivo-thumbs-enabled) .nivo-control {
				position: relative;
				margin: 0 7px;
				&:before {
					content: '';
					position: absolute;
					left: -3px;
					right: -3px;
					top: -3px;
					bottom: -3px;
					border: 2px solid #d7d7d7;
					pointer-events: none;
					border-radius: 50%;
				}
				&.active {
					&:before {
						left: -6px;
						right: -6px;
						top: -6px;
						bottom: -6px;
					}
				}
			}
		}
		.the-blue-sky-banner-text {
			a.btn {
				font-weight: @font-weight__bold; 
				.lib-css(border-radius, @button__border-radius, @_prefix: 1);	
				font-family: @otherfont-family;
				&:hover { 
					background: @heading__color__base; 
					color: @color-white !important;
				}
			}
		}
	}
}
// Checkout page, About us
& when (@media-common = true) {
	.connect{
		margin-bottom: 0 !important;
	}
}



