<?php 
	use Magento\Framework\App\Action\Action;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');

    $owl_item_default = $block->getConfig('owl_item_default');
    $owl_item_desktop = $block->getConfig('owl_item_desktop');
    $owl_item_small_desktop = $block->getConfig('owl_item_small_desktop');
    $owl_item_big_tablet = $block->getConfig('owl_item_big_tablet');
    $owl_item_tablet = $block->getConfig('owl_item_tablet');
    $owl_item_small_tablet = $block->getConfig('owl_item_small_tablet');
    $owl_item_mobile = $block->getConfig('owl_item_mobile');
    $rows = $block->getConfig('rows');
	
	$category_load = $block->getCategory();
	$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
	$showDescription = true;
	$width = $block->getConfig('width');
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'category_page_grid-supperdeal';
?>
<div class="section">
	<?php if($this->getConfig('title')){?>
			<div class="rokan-title hot-deal">
				<?php if($this->getConfig('title_deal')){?><h3 class="title-deal module-title"><?php echo $block->getConfig('title_deal');?></h3><?php }?>
				<?php if($this->getConfig('sub_title')){?><h5 class="sub-title-deal"><?php echo $block->getConfig('sub_title');?></h5><?php }?>
				<?php if($this->getConfig('description_deal')){?><p class="short-des"><?php echo $block->getConfig('description_deal');?></p><?php }?>
			</div>
		<?php }?>
	<div class="hot-deal-tab-slider hot-deal-tab-slider-customcss section-product">
		<div class="products wrapper grid products-grid ">
			<div class="products list items product-items owl-carousel owl-theme"
				data-rtl="false" data-items="<?= $owl_item_default ?>" data-bigdesktop="<?= $owl_item_desktop ?>" data-smalldesktop="<?= $owl_item_small_desktop ?>" data-bigtablet="<?= $owl_item_big_tablet ?>" 
				data-tablet="<?= $owl_item_tablet ?>" data-smalltablet="<?= $owl_item_small_tablet ?>" data-mobile="<?= $owl_item_mobile ?>"  
				data-margin="30" data-loop="false" data-center="false" 
				data-mousedrag="true" data-touchdrag="true" data-stagepadding="1" 
				data-nav="true" data-navnext="" data-navprev="" data-rewind="true" 
				data-dots="false" data-autoplay="false" data-speed="500">
			<?php 
				$newItems =  $block->getProducts();
				$i=0;
				foreach($newItems as $_item) { 
					$productImage = $block->getImage($_item, $image);
					if($i %$rows == 0){
						echo '<div class="item-load group-rows-fixed-supper-deal">';
					}
					$i ++;
				?>
					<div class="item product product-item">
						<div class="product-item-info">
							<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
								<?php $productImageThumb = $block->getImage($_item, 'category_page_grid-supperdeal');?>
								<span class="image0 image-switch">
									<?php echo $productImage->toHtml(); ?>
								</span>
								<span class="image1 image_hover">
									<?php echo $productImageThumb->toHtml(); ?>
								</span>
								<div class="product-item-inner">
									<div class="product actions product-item-actions">
										<div class="actions-primary">
											<?php if ($_item->isSaleable()) :?>
												<?php $postParams = $block->getAddToCartPostParams($_item); ?>
												<form data-role="tocart-form"
													  data-product-sku="<?= $block->escapeHtmlAttr($_item->getSku()) ?>"
													  action="<?= $block->escapeUrl($postParams['action']) ?>"
													  method="post">
													<input type="hidden"
														   name="product"
														   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
													<input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
														   value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
													<?= $block->getBlockHtml('formkey') ?>
													<button type="submit"
															title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
															class="action tocart primary">
														<span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
													</button>
												</form>
											<?php else :?>
												<?php if ($_item->isAvailable()) :?>
													<div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
												<?php else :?>
													<div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
									</div>
								</div>
							</a>
							<?php if ( $_item->getFinalPrice() < $_item->getPrice() ): ?>
								<span class="product-label onsale">
									<span class="value"><?= 100 - round(($_item->getFinalPrice() / $_item->getPrice() * 100)) ?>%</span>
								</span>
							<?php endif; ?>
							<div class="product details product-item-details">	
								<strong class="product name product-item-name">
									<a class="product-item-link"
									   href="<?= $block->escapeUrl($_item->getProductUrl()) ?>">
										<?php echo $_item->getName(); ?>
									</a>
								</strong>		
								<?= $block->getReviewsSummaryHtml($_item, $templateType) ?>							
									<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item)) ?>								
								<?php if ($showDescription) :?>
                                <div class="product description product-item-description">
                                    <?= /* @noEscape */ $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
                                </div>
								<?php endif; ?> 
								<div class="countdown_block">
									<div class="flex-layout center_vertical">
										<div class="count-down-des"><span><?= $block->escapeHtml(__('Hurry Up! ')) ?></span><span><?= $block->escapeHtml(__('Offers end in:')) ?></span></div>
										<div class="super-deal-countdown" data-date="<?php echo $block->getConfig('end_date');?>"></div>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				<?php if($i %$rows == 0) echo "</div>"; ?>
				<?php 
				}
				?>
				<?php if($i %$rows != 0) echo "</div>"; ?>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
require(["jquery", 'mage/mage','rokanthemes/timecircles', "rokanthemes/owl"], function($){
	'use strict';
	$( document ).ready(function() {
		if($('.super-deal-countdown').length>0){
			$(".super-deal-countdown").TimeCircles({
				fg_width: 0.01,
				bg_width: 1.2,
				text_size: 0.07,
				circle_bg_color: "#ffffff",
				time: {
					Days: {
						show: true,
						text: "Days",
						color: "#f9bc02"
					},
					Hours: {
						show: true,
						text: "Hours",
						color: "#f9bc02"
					},
					Minutes: {
						show: true,
						text: "Mins",
						color: "#f9bc02"
					},
					Seconds: {
						show: true,
						text: "Secs",
						color: "#f9bc02"
					}
				}
			}); 
		}
	});
});
</script>
<?php } ?>